[2021-03-24 15:28] orpiske opened #2168 "Uninstall is leaving items behind"
After a lot of help from @astefanutti debugging the issues #2160 and #2161 we identified the cause as being related to the code leaving behind items after uninstall.

Those issues were caused because an outdated CRD was left behind on the cluster even though I have been using both `kamel uninstall --all --global` and `kubectl delete namespace $(NAMESPACE)` to cleanup the environment.

In order to

[2021-03-24 15:30] orpiske commented on #2160
This is a red herring and is actually caused by items being left being left behind after uninstall. Therefore closing and referring to #2168 as the actual issue.

[2021-03-24 15:30] #2160 closed

[2021-03-24 15:31] orpiske commented on #2161
This is a red herring and is actually caused by items being left being left behind after uninstall. Therefore closing and referring to #2168 as the actual issue.

[2021-03-24 15:31] #2161 closed

[2021-03-24 17:11] nicolaferraro opened #2170 "Normalize camel and camel-quarkus dependencies"
Let's take a hello world integration. There are some commands that theoretically should do the same thing, but they don't:

- `kamel run hello.yaml -d camel:jackson`: adds `org.apache.camel:camel-jackson`
- `kamel run hello.yaml -d camel-quarkus:jackson`: **error** in the CLI, but works as next one if set manually in the integration
- `kamel run hello.yaml -d camel-quarkus-jackson`: adds `org.apac

[2021-03-24 17:25] astefanutti commented on #2170
Totally makes sense. Considering the runtime as an implementation detail, that should not resurface to the end-users as much as possible, `camel-quarkus` should ideally be dropped and only `camel:` be kept. We can keep it around for backward compatibility reason, but have it replaced all around. Also, maybe we can go a step further and shorten `camel-quarkus:aws2-sqs` with just `aws2-sqs`.

[2021-03-24 17:42] lburgazzoli commented on #2170
On the subject I've opened an [issue](https://github.com/apache/camel-quarkus/issues/2368) on camel-quarkus as we can certainly have some way to detect and support both `camel-quarkus-` vs `camel-` or even a shorter form, but for a safer approach would be to add such info in the catalog and do not rely on duck typing.

[2021-03-25 07:48] oscerd opened #2172 "Refactoring dump function"
Related to #1415

We need to refactoring the dumpNamespace function so it could be used in both places (kamel subcommand and e2e tests).

[2021-03-25 07:52] apupier commented on #1543
I hit very similar stacktrace than the initial one:

[code]

context:
- kamel 1.3.1
- in CodeReady Workspaces from Red Hat Developer sandbox

[2021-03-25 08:00] astefanutti opened #2173 "Default liveness probe initial delay is too short"
The liveness probe `initialDelaySeconds` is set to 5 seconds. In some "slow" environments, the operator pod may fail to start the liveness endpoint within that timeframe, so it ends in `CrashLoopBackOff` state.

[2021-03-25 08:29] astefanutti commented on #2165
That's a good idea.

My understanding is that the `traits.yaml` schema file contains the CLI properties, rather than the JSON properties, as it's used by tooling for modeline IIRC.

I don't think we have a proper JSON schema for traits, see #1614.

[2021-03-25 09:37] #1415 closed

[2021-03-25 10:35] lburgazzoli commented on #2165
A ok, I thought it was already there but it is not a big issue IMHO and we can introduce support later on.

[2021-03-25 10:38] astefanutti commented on #2165
I agree. That'll motivate me to work back on #1624 😅.

[2021-03-25 14:08] #2158 closed

[2021-03-25 16:58] apupier opened #2175 "Support additonal Maven repositories for `kamel local build`"
it seems that `kamel local build` is not supporting additional Maven repositories.
I tried:
- modifying local .m2/settings.xml
- modifying camel-k-maven-settings config map
- providing --maven.repository parameter on command-line

see https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Additional.20Maven.20repositories.20with.20kamel.20local.20build

it is preventing from using snapsho

[2021-03-26 11:59] lburgazzoli opened #2177 "Global vs local operator"
My understanding is that global and local scoped operators can co exists and the global operator won't try to handle any camel-k resource that is created in a namespace where a Lease resource (created by the local operator) exists.

This should be ok for most of the case but assuming a local operator is installed but not started, then the Lease is not created and the global operator may start taki

[2021-03-26 13:45] lburgazzoli opened #2178 "Resource selector"
In case of a "rolling upgrade" of camel-k, where you have multiple version of the camel-k operator running and you want to move integrations from one operator to the another by steps, it may be useful to have an option to configure what resources an operator is suppose to watch by providing a label selector.

i.e. by having a selector resource on the integration platform:

[code]

[2021-03-26 13:45] lburgazzoli commented on #2178
/cc @astefanutti @nicolaferraro

[2021-03-26 13:45] lburgazzoli commented on #2177
/cc @astefanutti @nicolaferraro

[2021-03-26 13:47] apupier opened #2179 "Provide option to have symbolic link for kamel local build --integration-directory <folder>"
having all artefacts copied in the destination folder is taking time and a lot of space. Locally, it can be useful to have just a link created to gain time and space. A link to the local .m2/repository artefacts for instance (maybe jitpack also have a cache?)

[2021-03-26 13:48] lburgazzoli commented on #355
I think we should evaluate using web-hook for upgrading, defaulting CRs in case of upgrades.
/cc @astefanutti @nicolaferraro

[2021-03-26 17:46] lburgazzoli opened #2181 "Service hours"
Some integrations may expect failures because the service they are connected to are not running H24 but they may be available only for some service times.

As today it is not possible with camel-k to configure when the service should be started or stopped but it would be nice to have such capability so the operator can automatically start and stop integrations when a service open/closes

[2021-03-29 08:42] heiko-braun commented on #2083
What about `--steps=[one,two, three, ...]` (ordered list)?

[2021-03-29 08:43] heiko-braun commented on #2083
Also, will we have `kamel rebind` at some point? Asking for a friend who wonders how updates to bindings are performed

[2021-03-29 08:53] nicolaferraro commented on #2083
So, the impl in #2183 does a redeploy by default in case of matching binding name (which is computed after the bound resources, or it can be passed as `--name` arg).
The CLI has a nice sintax for multiple steps that is like:

[code]

They are kept sorted. The problem is when `kamelet1` has a required parameter... how do we specify it?

[2021-03-29 13:54] #2144 closed

[2021-03-30 13:24] squakez commented on #2113
They seems to be also the values used from operatorHub.io procedure: https://operatorhub.io/install/camel-k.yaml

[2021-03-30 17:20] #2149 closed

[2021-03-30 18:22] maschmid opened #2184 "[regression] 1.3.2 regresses on "SinkBinding on KSVC results into ping-pong between operators #1936""
When deploying the splitter integration in the example/knative dir with latest Knative (verified on Serverless 1.13 and 1.14) and camel-k operator 1.3.2, splitter ksvc is repeatedly reconciled between two operators.

The same scenario works fine with camel-k operator  1.3.1, so it seems to be a regression in camel-k 1.3.2 vs 1.3.1.

See also https://github.com/apache/camel-k/issues/1936

possibly

[2021-03-31 08:52] squakez commented on #2113
The fix for this issue would be the following one: https://github.com/apache/camel-k/compare/master...squakez:fix/2113_olm_default

However I am not sure if we introduce any problem when dealing with Openshift operators and the like. @astefanutti, @nicolaferraro should I proceed or do you think this may trigger other problems?

[2021-03-31 09:45] maschmid commented on #2184
Do we have a CI image of the operator I can use, or do I have to build it locally myself first?

[2021-03-31 11:14] maschmid commented on #2184
@astefanutti  I still see the same issue with docker.io/maschmid/camel-k:1.4.0-SNAPSHOT  , which I built from current master

[code]

[2021-04-01 07:04] astefanutti commented on #2113
@squakez yes the current default values match the community catalog that comes in OpenShift 4. Changing these would break people using the upstream CLI version with OpenShift 4.

Another option would be to have _dynamic_ default values, as the `kamel install` command is capable of detecting the environment it's installing onto.

If we were to keep _static_ default values, then we would have to ass

[2021-04-01 09:24] astefanutti commented on #2184
@maschmid sorry for the delayed answer, as I was AFK. Thanks a lot for the testing!

I've tried to test it on my setup (Camel K `master` branch, Knative 0.20 with Kourier, OCP 4.6) and could not reproduce. I can have the `feed`, `splitter` and `printer` integrations from the `examples/knative` directory working :( I'll try to understand what's different in my setup...

In the meantime, could you p

[2021-04-01 10:21] lburgazzoli opened #2185 "Support for open policy agent"
We should explore if we can provide some [policies](https://www.openpolicyagent.org/docs/latest/kubernetes-introduction/) for camel-k, i.e prevent that resources created by the operator are altered.

[2021-04-01 10:21] lburgazzoli commented on #2185
/cc @astefanutti

[2021-04-01 13:29] maschmid commented on #2184
With OpenShift Serverless 1.13 (knative serving/eventing 0.19)

splitter ksvc: https://gist.github.com/maschmid/bcc929c842ca5c93ac650ff8f1ae3007

[2021-04-01 13:36] maschmid commented on #2184
all the deployments (there are lots of splitter deployments, as each revision has a new one...)    https://gist.github.com/maschmid/ae0da49fa58283e2317043679e15f316

[2021-04-01 13:41] astefanutti commented on #2184
Thanks. I'm interested by the managed fields, that show all the controllers cooperating on the resource.

In my tests, I only have the `camel-k-operator` and  (Knative) `controller`, but yours shows also the `webhook` as controller, that seems to have ownership for the `containers` field.

[2021-04-01 14:00] maschmid commented on #2184
One theory I have is this could be caused by a different sinkbinding configuration in Serverless... It uses SINK_BINDING_SELECTION_MODE=inclusion   , which requires resources bound by SinkBinding to have `bindings.knative.dev/include: "true"` label.. (in this case, the ksvc)

without the label, the eventing webhook will not modify the ksvc during creation, but it will try to replace it at runtime.

[2021-04-01 14:19] astefanutti commented on #2184
Yes, that sounds like an interesting theory. Here is what I have that is compatible with it:

[code]

[code]

That would also explain why upstream CI passes, as it seems the webhook is set to _exclusion_ mode by default.

Let me try to change the value on my setup...

[2021-04-01 14:44] maschmid commented on #2184
exclusion is default in upstream, OpenShift Serverless defaults to inclusion, because that causes potentially any Deployment on the cluster to go via eventing webhook, which could cause instability (when a SinkBinding binding to Deployment exists, even system Deployments would go through eventing webhook)

[2021-04-02 02:18] mjallday opened #2188 "Multiple ReplicaSet Race Condition"
We're trying to spin up a camel-k integration and there's some sort of race condition creating replicasets as it's starting. Here's how we're doing this.

[code]

which we're applying with this command `kubectl -n camel-k apply -f config.yaml`

when this happens I see the integration created successfully

[code]

and the deployment looks like this

[code]

and then there's a ton of replica sets cr

[2021-04-02 02:21] mjallday commented on #2188
this is camel-k:1.3.1

[2021-04-02 02:57] mjallday commented on #2188
The behavior goes away when we remove the configuration block which contains

[code]

for the integration object. it creates one replicaset for each configuration entry.

is there a better way to pass environment variables?

[2021-04-02 06:47] astefanutti commented on #2188
I suspect there is another controller that applies conflicting changes to the Deployment. That would explain the `deployment.kubernetes.io/revision: 42` label. For each Deployment revision, a new ReplicaSet is created, and the previous one is scaled down.

To identify the other controller that can possibly change the Deployment, could you please provide its definition, by providing the output of `

[2021-04-02 09:27] astefanutti commented on #2184
I've been able to reproduce by editing the eventing webhook and setting `SINK_BINDING_SELECTION_MODE=inclusion`.

I can now analyse the issue and research what's the best strategy.

[2021-04-02 12:26] oscerd opened #2189 "Kamel dump: make the command smarter"
In case a user specify more than a certain threshold for the number of log lines we should zip the dump output directly.

At the same time we should give the user the output format choice: tar o zip.

[2021-04-02 13:36] astefanutti commented on #2184
I'm realizing that adding the `bindings.knative.dev/include: "true"` label, to the source object referenced in the SinkBinding, may have been the solution all along.

The source objects are owned by Camel K, and we always want the eventing webhook to select them, irrespective of the Knative sink binding configuration (`Inclusion` or `Exclusion`).

I've tried that approach and it seems to be workin

[2021-04-02 14:44] astefanutti commented on #2184
Current proposed fix #2190.

@maschmid could you please review it, and maybe test it on your side.

Once it validated, I'll adapt it for the 1.3.x branch.

[2021-04-02 15:31] fshaikh-vgs commented on #2188
Here is the output YAML.  As mentioned by @mjallday, if we get rid of the env variables (first snippet below), then the system starts with just one replica set.  0 or 1 values in `configuration` lead to 1 replica set, 2 values in `configuration` lead to 2 replica sets, and it scales 1:1 up from there.

[code]

Here is the output of `kubectl get deployment processor-mj -o yaml` (sanitized)

[code]

[2021-04-02 16:10] astefanutti commented on #2188
@fshaikh-vgs thanks for the details.

If I understand your use case correctly, this is the expected behaviour of the Kubernetes Deployment controller. When the Integration is updated with an extra environment variable, the Camel K operator adds it to the Deployment. Then Kubernetes triggers a rollout deployment, that creates a new ReplicaSet. This is described in details in https://kubernetes.io/d

[2021-04-02 16:54] viacheslav-fomin-main commented on #2188
@astefanutti thanks for the quick response! but it is not updated with an extra environment variable, all the variables are provided at once in one file.. why can't camel K apply it once?

[2021-04-03 15:03] maschmid commented on #2184
Works for me, and the fix looks good to me, too. I agree the "bindings.knative.dev/include=true" should be safe to add with either setting.

[2021-04-05 07:46] squakez commented on #2113
I imagined that. I think the best experience would be to have dynamic values based on our capability to discover what kind of OLM is installed in the cluster. I will have a look and we can keep this open in the while.

[2021-04-05 17:27] weimeilin79 commented on #2184
I am facing the same issue. it there a workaround for it for now?

[2021-04-05 17:49] maschmid commented on #2184
@weimeilin79  If you install via an Operator (Serverless operator or Knative Operator), a possible workaround could be to switch KnativeEventing  sinkBindingSelectionMode to exclusion

[code]

[2021-04-05 18:11] weimeilin79 commented on #2184
Thanks @maschmid  :) it works like a charm!!

[2021-04-06 08:13] #2184 closed

[2021-04-06 08:23] astefanutti commented on #2184
@maschmid thanks a lot for the testing and reviewing. I've merged #2190, and I'm now preparing the back port into 1.3.x branch.

[2021-04-06 08:25] astefanutti commented on #2184
In case changing the Serverless / Knative configuration is not an option, another work-around is to add the label manually, e.g.:

[code]

[2021-04-06 08:41] astefanutti commented on #2113
Sounds good to me 👍🏼.

[2021-04-06 13:15] astefanutti commented on #2184
1.3.x backport PR: #2191.

[2021-04-07 09:54] #2173 closed

[2021-04-07 13:23] #1584 closed

[2021-04-08 09:11] astefanutti commented on #2188
Ah I misunderstood it. Thanks for the clarification, now I think I got this right.

So I think it's fixed with #2039, that introduces server-side apply to manage the Integration Deployment.

The underlying issue lies in the way we process environment variables as a `map[string]string`, and Go explicitly randomises keys order, so that ultimately leads to Deployment revisions, hence ReplicaSets, for

[2021-04-08 14:20] GerardoGR commented on #1860
This seem to be fixed now. I managed to have this working with this configuration:
[code]
I created the secret like described in [Configuring a DockerHub Registry#Alternative Methods](https://github.com/apache/camel-k/blob/master/docs/modules/ROOT/pages/installation/registry/dockerhub.adoc)

[2021-04-08 14:44] astefanutti commented on #1860
@GerardoGR thanks a lot for the feedback.

I think it may work differently between GitHub Packages Registry and GitHub Container Registry. While the later is likely to expose standard Docker API, it seems the former uses a repository scheme that may not be compatible.

[2021-04-09 04:54] lburgazzoli opened #2199 "Immutable secrets and configmaps"
We should explore if we can mark configmaps and secrets created by the operator as immutable:
- https://kubernetes.io/docs/concepts/configuration/configmap/#configmap-immutable
- https://kubernetes.io/docs/concepts/configuration/secret/#secret-immutable

[2021-04-09 08:19] astefanutti opened #2200 "Label Integration container as default container"
When the Integration Pods are composed of more than one containers, like with Service Mesh, it's useful to instruct commands like `logs` or `exec` to default to the `integration` container, where Camel routes run.

A new label, `kubectl.kubernetes.io/default-container`, has been introduced to meet that need, so it'd be useful to have it set to `integration` on the Integration Deployment, KnativeSe

[2021-04-09 13:53] abkieling commented on #2177
Is the Lease resource created in the namespace where the local operator is running? In case, it would not work for operators that manage camel-k resources in a separate namespace.

[2021-04-09 14:21] nicolaferraro opened #2201 "Support cross-namespace delivery"
In Knative 0.22 sink-binding across namespaces works and it seems also triggers (https://github.com/knative/eventing/issues/5139#issuecomment-806480744, although I wouldn't touch other namespaces other than my integration namespace).

We should add also a namespace field to the component.

[2021-04-12 09:30] #2188 closed

[2021-04-12 09:32] astefanutti commented on #2188
It should be fixed with #2039 and #2196. Thanks a lot for the report.

[2021-04-12 09:55] astefanutti commented on #2175
I've been able to run `kamel local build` with the Apache snapshots repository using the `--maven-repository` option, e.g.:

[code]

Mind that it's ` --maven-repository`, not ` --maven.repository`, and that the repository must be declared with `@snapshots`, as documented in https://camel.apache.org/camel-k/latest/configuration/maven.html#_maven_settings.

[2021-04-12 11:22] oscerd opened #2203 "Kamelet yaml will be stored with wrong order of fields"
If you create a simple kamelet like this.

[code]

With camel-k master.

After apply the file through kubectl, by running the following command:

[code]

The wrong order will lead to the following error while running a binding including the kamelet

[code]

All the kamelets of the kamelet-catalog are affected.

[2021-04-12 13:56] #2083 closed

[2021-04-12 14:01] apupier commented on #2175
still not working for me:

[code]

[2021-04-12 14:03] apupier commented on #2175
but we can notice that there is one less dependency which is not found
```'dependencies.dependency.version' for org.apache.camel.k:camel-k-runtime:jar is missing. @ line 44, column 17``` compared to what i reported initially

[2021-04-12 14:14] apupier commented on #2175
failing also when using a js file

[2021-04-12 14:25] apupier commented on #2175
another try and it worked...

[code]

[2021-04-12 14:40] viacheslav-fomin-main opened #2205 "Expose gRPC endpoint with Knative serving"
Hi!

I am trying to run a gRPC service using camel and expose a port so I can use it in other camel applications. Everything runs in camel k with Knative. But for some reason I can not create a service. Basically I tried all the possible combinations from traits documentation but nothing seems to work. Can you please help me here? Maybe I am missing something.

Here is the operator log which does

[2021-04-12 14:41] nicolaferraro commented on #2203
To simplify, it seems that using `parameters` with `to` does not work, so even the following fails:

[code]

[2021-04-12 14:47] oscerd commented on #2203
This seems to work

[code]

[2021-04-12 14:49] oscerd commented on #2203
No, just double checked. This one works with 1.3.2 but not with 1.4.0-SNAPSHOT

[2021-04-12 14:52] nicolaferraro commented on #2203
Opened this in Camel (cc: @lburgazzoli): https://issues.apache.org/jira/browse/CAMEL-16489

[2021-04-12 15:05] astefanutti opened #2206 "Migrate the PodDisruptionBudget trait to `policy/v1` API"
The PodDisruptionBudget API has been promoted to `policy/v1` in Kubernetes 1.21,  with no schema changes.

The PodDisruptionBudget trait currently uses the `policy/v1beta1` PodDisruptionBudget API, that's deprecated, and will no longer be served in 1.25+. Once we upgrade to Kubernetes API v1.21, the PodDisruptionBudget trait should be migrated to using `policy/v1`.

[2021-04-12 15:13] astefanutti commented on #2205
The _service_ trait is disabled in Knative enabled environment, and the _knative-service_ trait is enabled instead.

[2021-04-12 15:14] moehajj commented on #2205
Hi Team, I'm working alongside @viacheslav-fomin-main. I would like to provide some context for this issue to help you reproduce if needed.

## The Proto File
Our `.proto` file looks something like this (we package it in `com.sample.compute:compute-proto:1.0.0-SNAPSHOT`):
[code]

## The Java Route
Our `SampleGrpcCamelRoute.java` route looks like this:
[code]
We have verified this route works local

[2021-04-12 15:23] astefanutti commented on #2205
It seems Knative relies on the port name to determine the protocol: https://github.com/knative/serving/pull/2539.

Based on the code sample from https://knative.dev/docs/serving/samples/grpc-ping-go/, it seems the port name must be set to `h2c`.

Could you try to set the port name using the _container_ trait, e.g.:

[code]

Also, mind that the container port may need be accessed using the Knative

[2021-04-12 15:27] astefanutti commented on #2205
I've changed the name of this issue in an attempt to reflect the use case more closely. Feel free to amend it.

[2021-04-12 15:44] lburgazzoli commented on #2203
on it

[2021-04-12 15:48] viacheslav-fomin-main commented on #2205
@astefanutti it still does not work but I can not even see the knative service or just service trait applied in the camel k operator logs. Maybe something additional must be installed for it to work?

[2021-04-12 15:59] moehajj commented on #2205
I tried both:
[code]

and

[code]

with no success.

[2021-04-12 17:23] astefanutti commented on #2205
Could you please add `-t knative-service.enabled=true`, and provide the output of `kubectl get it sample-grpc-camel-route`?

[2021-04-12 17:34] moehajj commented on #2205
Command:
[code]

Output
[code]

[2021-04-12 17:36] astefanutti commented on #2205
Sorry I meant `kubectl get it sample-grpc-camel-route -o yaml`, to output the Integration definition.

[2021-04-12 17:40] moehajj commented on #2205
[code]

[2021-04-12 18:07] astefanutti commented on #2205
The deployment strategy for the Integration uses a standard Deployment, instead of a KnativeService resource. I assumed that explicitly enabling the _knative-service_ trait would force it, but it does not.

Could you please retry by adding the `-t deployer.kind=knative-service` option to the `kamel run` command? It should create a KnativeService resource that you can output with `kubectl get ksvc

[2021-04-12 18:25] moehajj commented on #2205
It doesn't produce a KnativeService when I add `-t deployer.kind=knative-service` OR `-t deployer.enabled=true -t deployer.kind=knative-service`.

Instead I get the following:
[code]

This is the generated integration:
[code]

And when I run using `--dev`, it gets stuck on:
`Condition "Ready" is "Unknown" for Integration sample-grpc-camel-route`

[2021-04-13 07:46] astefanutti commented on #2175
@apupier Did you get any other issues, or is it ok to close this?

[2021-04-13 07:49] apupier commented on #2175
still in progress (issue on VS Code side currently) but the specific issue that I reported is solved so I'm closing it. Thanks for the help!

[2021-04-13 07:49] #2175 closed

[2021-04-13 08:17] #2203 closed

[2021-04-13 10:02] #2170 closed

[2021-04-13 12:25] astefanutti opened #2209 "HTTP/2 transport configuration for Knative"
It is not obvious if explicit configuration of the KnativeService _userland_ container port is required, to support components that rely on the HTTP/2 transport protocol, like gRPC.

In the following example, it is documented the port name must be set to `h2c`: https://knative.dev/docs/serving/samples/grpc-ping-go/

On the other hand, the Knative runtime contract suggests auto-detection might be a

[2021-04-13 12:31] astefanutti opened #2210 "The `fromF` DSL should be parsed during HTTP endpoint discovery"

[2021-04-13 12:31] lburgazzoli commented on #2209
@astefanutti mind opening an issue on quarkus side if there is any kind of enhancement we need ? we also need to explore if and how we can use the grpc layer provided by quarkus

[2021-04-13 12:38] astefanutti commented on #2205
I've tried locally, and adding the `-t knative-service.enabled=true` managed to force the KnativeService creation on my side. So there is something else.

One issue your example raises is that the `fromF` DSL is supported for HTTP service detection. I've created #2210. In the meantime, could you please retry by changing `fromF` with `from` in your route and provide the output of `kubectl get ksvc`

[2021-04-13 12:59] astefanutti commented on #2209
@lburgazzoli yes I will once I've gathered my thoughts around this!

[2021-04-13 13:21] moehajj commented on #2205
Still no output with `kubectl get ksvc` when changing from `fromF` to `from`. The integration is also still hanging on `Condition "Ready" is "Unknown" for Integration sample-grpc-camel-route` when I run it using `--dev`.

Might this be an issue with knative not parsing the integration as intended?

[2021-04-13 13:29] astefanutti commented on #2205
I cannot find the reason why Camel K does not create the KnativeService resource for the Integration, while it is when I try locally. Mind that I've tested on `master` branch, but I don't see a reason why that would not work with v1.3.1.

I could suggest to try first removing Knative from the equation, with  `kamel run --profile kubernetes` or `kamel run --profile openshift`. That'll help testing

[2021-04-13 13:46] astefanutti opened #2212 "Duplicated ports are declared between the container and prometheus traits"
When running any Integration that exposes an HTTP endpoint, enabling the prometheus trait leads to the following error when creating the Deployment resource:

[code]

It surfaces as Server-side apply checks uniqueness of the merging keys.

[2021-04-13 13:59] #2210 closed

[2021-04-13 14:23] apupier opened #2213 "`kamel local build` doesn't support same dependency notation"
`kamel local build` doesn't support same dependency notation which implies that some Cael k integration files are nto working in both context. it also implies that tooling cannot generate dependencies for all files.

for instance, using modeline `// camel-k: dependency=camel-amqp` is not working for `kamel local build`

error raised:
[code]

it is also revealing a difference with `jitpack` which i

[2021-04-13 14:31] claudio4j opened #2214 "Missing camel-k-kamelet-reify version while building kamelet binding"
Installing the following kamelet binding (salesforce to log) throws a dependency build error
[code]
The error doesn't occur with a timer to log kamelet binding.

The dependency error shows on camel-k-operator log
[code]

[2021-04-13 14:31] claudio4j commented on #2214
I am working on this issues, it requires a fix in both camel-k-runtime and camel-k.

[2021-04-13 15:06] #2214 closed

[2021-04-13 15:38] moehajj commented on #2205
Hi @astefanutti, following your request to go from `fromF` to `from`, I also get the following error - it appeared when I removed the trait `deployer.kind`. However it still runs successfully when running my unit tests locally.

[code]

[2021-04-13 15:46] astefanutti commented on #2205
What configuration did you use for the printed logs? is it with the Knative profile disabled?

[2021-04-13 15:48] moehajj commented on #2205
No it's enabled, same configs as before:

[code]

[2021-04-13 15:56] astefanutti commented on #2205
Hum sorry I'm lost :) it seems we are progressing. The stack trace seems to indicate that the Integration deploys, but the gRPC component is not able to find the stub class. Could you provide the output of `kubectl get ksvc`?

[2021-04-13 16:16] moehajj commented on #2205
I believe this is a step backwards. The scope of the new issue is before trying to make it a service.

When using `fromF()`, my route integration was deploying and working fine and I could test it using port-forwarding. As per your request, when I switch to using `from()` I then get the above error about not finding the class stub.

[2021-04-13 17:05] astefanutti commented on #2205
Now I'm confused even more 🙃. I understood that this was not working initially.

I think it'd be easier that we put together an example, demonstrating the use of gRPC endpoint with Knative, so we can troubleshoot on a share basis, that will ultimately become an official example.

It could be created into https://github.com/apache/camel-k/tree/master/examples. That'd be awesome that you submit a PR

[2021-04-13 22:00] nicolaferraro commented on #2134
**Closed issues:**

- Multiple ReplicaSet Race Condition [\#2188](https://github.com/apache/camel-k/issues/2188)
- \[regression\] 1.3.2 regresses on "SinkBinding on KSVC results into ping-pong between operators \#1936" [\#2184](https://github.com/apache/camel-k/issues/2184)
- Default liveness probe initial delay is too short [\#2173](https://github.com/apache/camel-k/issues/2173)
- Review generate

[2021-04-14 08:05] barmyard opened #2218 "Scaling integrations removes Kamelet ConfigMaps"
I want to pause and start Integrations by scaling the replicas to 0 and 1. When scaling integrations using `kubectl scale`, Kamelet ConfigMaps are removed. This breaks the integration.

`timed-logger.yaml` Integration:
[code]

`logger` Kamelet:
[code]

Steps to reproduce:
1. `kamel run timed-logger.yaml`.

ConfigMaps
[code]
2.  `kubectl scale it timed-logger --replicas 0`

ConfigMaps:
[code]
(`tim

[2021-04-14 09:23] rzonta commented on #1984
@lancerdima you need to bind a instance of caffeine cache into Camel Registry
[code]

Then the result will be what you expect:
[code]

[2021-04-14 14:39] moehajj commented on #2205
@astefanutti this is a rough draft of what I'm trying to get to work as a service (using knative is a plus): https://github.com/apache/camel-k/pull/2220. If we are able to get it to deploy as a service  using camel-k without knative then that's good enough.

[2021-04-14 19:23] fshaikh-vgs commented on #2205
Hi @astefanutti .  Thank you for all your help so far.

As @moehajj said, we are trying to work without knative and even using `--profile=kubernetes` is not working.  After some analysis of camel-k code, we found [this](https://github.com/apache/camel-k/blob/5f8bd10de70a5e8e7b1179f1d8521e2263fd678e/pkg/trait/service.go#L94):

[code]

Having a restriction that a service must be HTTP is pretty restr

[2021-04-14 22:32] moehajj commented on #2205
Yes as @fshaikh-vgs shared, the following traits spin up a nodePort service.
[code]

The service has the following specs:
[code]
However I believe I cannot access my grpc service (which is running inside the pod at port 9000) because `targetPort` is set to `http` instead of 9000.

When I deploy a service manually instead of using camel-k, I am able to access the grpc service fine. I do this using

[2021-04-14 22:42] lburgazzoli commented on #2205
As far as I can remember, the rationale was that we can auto configure stuffs for the http protocol 'easily' but for other protocols it may be more complex so we decided to leave such task for the user (but I agree that we need some additional documentation on the subject).

Notes:
- There is an open issue to have a proper and dedicated trait for the http layer so it does not mess up with generic

[2021-04-15 07:15] squakez commented on #2218
I'm going to have a look at this

[2021-04-15 07:38] squakez opened #2221 "Kamel reset fails with KameletBinding"
I noticed that the `kamel reset` very often fails at the first attempt with the following output when there is some `KameletBinding` involved:
[code]
Apparently the integration is correctly deleted, altough it's reported as an error and the process did not follow up deleting the integration kit. With a second run, we have a cleaner reset though.

[2021-04-15 07:39] astefanutti commented on #2218
@squakez thanks. I suspect the ConfigMap may only be added to the initialisation phase, and when the integration, in running phase, gets updated, the GC trait assumes the ConfigMap is not needed and deletes it. If that assumption is correct, the ConfigMap should also be added to the integration resources in the running phase.

[2021-04-15 11:53] #1555 closed

[2021-04-15 11:53] #2212 closed

[2021-04-15 14:01] squakez opened #2223 "SourceSpec Type default to empty"
This is a follow up of [this PR comment](https://github.com/apache/camel-k/pull/2216#issuecomment-820437579). As reported in [camel-k-runtime](https://github.com/apache/camel-k-runtime/issues/658), we may experience some issue because the value of `SourceSpec` type is default to `empty` in several parts of Camel K. We assume that empty value to be a `source` type on the runtime.

Should we enforce

[2021-04-15 14:03] lburgazzoli commented on #2223
can we set the default value on runtime ?

[2021-04-15 14:10] squakez commented on #2223
I think we can. Does that mean that we assume that a default values is always a `source` type?

[2021-04-15 14:12] lburgazzoli commented on #2223
I'm fine with that

[2021-04-15 16:43] astefanutti commented on #1945
I think it's been fixed with #2190.

[2021-04-15 16:43] #1945 closed

[2021-04-15 16:48] astefanutti commented on #2178
It seems highly correlated to #1943, if not a duplicate.

[2021-04-15 16:50] lburgazzoli commented on #2178
yep,  I'm getting old ...

[2021-04-15 16:50] #2178 closed

[2021-04-16 10:06] #2168 closed

[2021-04-16 18:00] NickEm opened #2227 "No possibility to disable compression while executing `kamel run`"
Hi team,
We would like to generate our camel integrations using `kamel` utility but we see no way of disabling compression of the resources. No matter what you are running:
[code]
[code]
As output you always get:
[code]

Environment:
* camel-k-1.3.2
* Mac OS Big Sur

[2021-04-16 21:47] #2218 closed

[2021-04-19 05:11] lburgazzoli commented on #1943
One of the use case where is feature can be useful is to implement "rolling upgrade" of the camel-k operator where you have multiple running version of the camel-k operator and you want to move integrations from one operator to the another by steps.

The simplest approach is to change the label i.e. from `camel.apache.org/operator.id: "operator-1"` to `camel.apache.org/operator.id: "operator-2"` h

[2021-04-19 07:39] astefanutti commented on #1943
Right. As we are introducing a mechanism where multiple operators can concurrently manage the same resources, a _locking_ mechanism is necessary. More generally to the rolling upgrade use-case, that mechanism would make sure that only a single operator manages the same resource at a single point in time. That would prevent issues where the label selectors for multiple operators intersect.

Now on

[2021-04-19 07:40] heiko-braun commented on #1943
Is the `camel.apache.org/operator.id` used to describe an instance of an operator?

[2021-04-19 07:42] heiko-braun commented on #1943
+1 on the lease resource for managing locks.

[2021-04-19 07:44] squakez commented on #2227
I think in 1.3.2 there is a special flag for binary compression: `--compress-binary`. Please try with that one.

[2021-04-19 09:53] mcada opened #2228 "Document supported components"
We don't mention supported components in the camel-k documentation. If we support all camel-quarkus extensions, it should be mentioned somewhere in the camel-k docs together with a link.

[2021-04-19 13:05] apupier opened #2229 "Support Flow in Custom Resource Definition Schema"
There is a structural schema provided with Custom Resource Definitions. it allows various tooling to guide users by providing validation, completion and more.

The Flow part is currently not part of the CRD schema. it would be nice to include it.

nota: this work is related to this other [issue](https://github.com/apache/camel-k/issues/1614) which purpose is to enrich the CRD schema too but for Tr

[2021-04-19 21:10] bfitzpat opened #2230 "Update run-from-github page to correct github example path"
Found a glitch with the camel k docs up at the apache site on https://camel.apache.org/camel-k/latest/running/run-from-github.html

The path is listed as `github:apache/camel-k/examples/Sample.java` but should be `github:apache/camel-k/examples/languages/Sample.java` -- so it corresponds to https://raw.githubusercontent.com/apache/camel-k/master/examples/languages/Sample.java

Tested locally and t

[2021-04-19 21:13] bfitzpat commented on #2230
Created https://github.com/apache/camel-k/pull/2231

[2021-04-20 07:02] astefanutti commented on #2230
Fixed with #2231.

[2021-04-20 07:02] #2230 closed

[2021-04-20 09:10] NickEm commented on #2227
@squakez, but the issue is that I don't want it to be compressed at all, base64 is enough, but it still gets compressed.
I was trying to use a resource file and reference it from my application. And unfortunately, I'm just moving from one bug to another. Really, it's pretty frustrating. I experienced all the things:
https://github.com/apache/camel-k/issues/1750
https://github.com/apache/camel-k/is

[2021-04-20 09:58] squakez commented on #2227
Yes, that was an issue and it's been fixed via #1965. We are releasing version `1.4.0` shortly, and it will include such fix. As soon as it's released you can upgrade and have the problem solved.

[2021-04-20 10:35] NickEm commented on #2227
Glad to hear, thank you @squakez!

[2021-04-20 12:10] apupier commented on #1614
see also https://issues.redhat.com/browse/ENTESB-16272

[2021-04-20 12:11] apupier commented on #2213
see also https://issues.redhat.com/browse/ENTESB-16271

[2021-04-20 13:13] phantomjinx commented on #1979
@astefanutti

Getting back to looking at this, this week. I agree with your approach although I like the use of the Makefile for indicating to the user which kustomize directory they should run, eg `make app`, `make operator`, make setup`, `make install-platform`. This feels easier typing than `kustomize build config ... ...`. That's said avoiding options & env vars much preferred.

[2021-04-20 13:43] lburgazzoli opened #2232 "Traits to configure the container image and location fo the sources"
We should support traits to configure what container image an integration should use to run integrations as well as where as where sources are located.

As example, it would be nice to be able to define a `KameletBinding` like:

[code]

Where:
- the `KameletBinding` should be executed using the the container image defined by the `trait.camel.apache.org/integration.image` annotation (no build shoul

[2021-04-20 13:43] lburgazzoli commented on #2232
/cc @nicolaferraro

[2021-04-21 16:34] viacheslav-fomin-main commented on #580
Hello! Is there a way to use a custom logging appender and stuff? I have my own logback.xml file which I would like to use for camel k integration.

[2021-04-21 16:37] lburgazzoli commented on #580
No, the logging engine is now the one provided by quarkus, see https://quarkus.io/guides/logging

[2021-04-21 16:51] viacheslav-fomin-main commented on #580
<img width="621" alt="image" src="https://user-images.githubusercontent.com/18006133/115591357-af25ea80-a2da-11eb-9979-e87acf94b171.png">

The url says it supports SLF4J. How can I configure it? I want to add the xml configuration file.

[2021-04-22 06:54] nicolaferraro commented on #2009
Fixed in 1.4.0

[2021-04-22 06:54] #2009 closed

[2021-04-22 06:54] #2134 closed

[2021-04-22 07:52] lburgazzoli commented on #580
it supports SLF4J APIs but the configuration happens through properties as described int he logging guide (at least that is my understanding)

[2021-04-22 14:54] johnpoth opened #2236 "Create E2E test for Service Binding Operator"

[2021-04-23 07:38] orpiske commented on #2168
@astefanutti I am not sure if we should have closed this one. I was looking at my cluster and the uninstall is still leaving things behind:

[code]

[2021-04-23 12:07] lburgazzoli opened #2237 "Add a flag to enable/disable the installation of default kamelets"
When the operator is installed, a number of default kamelet are also provided.
It would be nice to have an option to turn on/of the automatic installation of default kamelets

[2021-04-23 15:37] viacheslav-fomin-main commented on #580
@lburgazzoli thanks for the clarification! I want to try https://github.com/quarkiverse/quarkus-logging-json and its custom log handler. I am not sure how to use CDI to inject JsonProvider.. Does not seem to work for me.. Can you please advise?

[2021-04-23 15:41] lburgazzoli commented on #580
In such case you need to bring the handler as part of a custom artifact as camel-k does not expose CDI facilities (at least for now). Be aware that you need to index the artifact using Jandex or add a beans.xml to get quarkus be able to find your handler.

[2021-04-26 13:26] astefanutti commented on #2168
@orpiske it may be that you have to add the `--olm=false` option, e.g. `kamel uninstall --all --global --olm=false`, otherwise it defaults to using OLM, which does not delete CRDs when uninstalling an operator.

[2021-04-26 13:28] orpiske commented on #2168
@astefanutti thanks! I will give it a try later this week :)

[2021-04-26 14:04] astefanutti commented on #1979
@phantomjinx I agree Makefile is a valuable source of truth for conventions on how to build / deploy the project. With my proposal, I was suggesting to avoid introducing another layer of configurability in the Makefile, and just have well documented kustomize files, that people can edit directly to configure the deployment. Then they can use the targets from the Makefile, or directly use the `kust

[2021-04-26 19:35] hguerrero opened #2238 "Camel K CLI asks for an OpenAPI v2 when also v3 is supported"
When running `Kamel run --help` the result text states that for the `--open-api` options it requires an Open API spec v2. If Camel supports v2 and v3 then the command should be updated to reflect this.

[2021-04-27 10:38] heiko-braun opened #2239 "`kamel` run fails for remote files on windows"
[code]

[2021-04-27 10:40] heiko-braun commented on #2239
The same behaviour for `github` prefixed URL

[code]

[2021-04-27 10:40] heiko-braun commented on #2239
@bouskaJ FYI

[2021-04-27 11:18] abogatov opened #2241 "Camel K and Amazon EKS (Elastic Kubernetes Service)"
I'm trying to deploy a simple camel-k configuration and make it work with Amazon EKS.
What I did:
1. created a new Kubernetes cluster based on Amazon EKS
![image](https://user-images.githubusercontent.com/70779398/116229764-90eb3f00-a75f-11eb-919b-e75998c9d6f8.png)

2. installed Camel-K using the command
`kamel install --registry docker.io --organization <user id>--registry-secret <pass>`
![image]

[2021-04-27 16:12] abogatov commented on #1699
Hi @w-j-d,
did you manage to solve it problem?

[2021-04-28 11:58] orpiske commented on #2168
Just wanted to provide a feedback that it did remove the items I mentioned after I used what you suggested. Thanks @astefanutti!

[2021-04-28 15:14] squakez commented on #2098
I am going to have a look at this.

[2021-04-29 13:12] #1941 closed

[2021-04-30 07:27] astefanutti opened #2249 "KnativeService URL is based on the Integration name rather than the consumer endpoint name"
Currently, when deploying an Integration with a Knative Service endpoint, the created service URL depends on the Integration name, rather than the endpoint name. For example, when running `kamel run -n test` with:

[code]

The Knative Service is accessible from `http://test.ns.domain`.

This causes confusion, as users may assume the service information is based on the endpoint information. The doc

[2021-04-30 07:36] squakez opened #2250 "Flaky scale integration test or scale intermittent issue"
[code]
I'm running this problem many times during the last period (last time [here](https://github.com/apache/camel-k/pull/2247/checks?check_run_id=2473588486)). It seems that sometimes this test fails for no reasons, so, either the test is a flaky one or there is indeed some problem in the scaling. Whichever the case I think we should fix it.

[2021-04-30 07:50] squakez commented on #2241
EKS should be working too. I have the feeling there must be some problem with the registry as for what I can understand, the `IntegrationKit` is faling to push to the registry.  I think you may have missed `--registry-auth-username` during your installation. You can try to run `kubectl get integrationplatform -o yaml` to verify all your registry setting is correct.

[2021-04-30 08:14] squakez commented on #2239
I think the problem is here: https://github.com/apache/camel-k/blob/6904f9593183765af83d86912cf5d7f38888f9a3/pkg/cmd/run.go#L683-L689. We only check the error if the file does not exist. If any other kind of errors arise, then we have a `nil` for the `info` and it's likely what's happening here for Windows. I can try to reproduce a similar situation on a `linux` or alternatively remove the dust of

[2021-04-30 08:25] abogatov commented on #2241
Hey @squakez,
Good to know that it should work on EKS!

I tried both variants with --registry-auth-username (+ --registry-auth-password) parameter and with --registry-secret. In the last one case, I created the secret before it.
![image](https://user-images.githubusercontent.com/70779398/116667920-6c80a400-a9a5-11eb-9e5f-16c443a70677.png)
I did it according to the documentation https://camel.apach

[2021-04-30 08:25] astefanutti commented on #2250
It seems the scaling works as expected as one of the pod is marked as deleted after the down-scaling:

[code]

But the pod is not actually deleted. Either it is just the timeout that's too short (60s), or there is an issue during the graceful shutdown of the Integration pod, as it seems in the :

[code]

[2021-04-30 08:28] astefanutti commented on #2250
It seems related to kubernetes/kubernetes#97288.

[2021-04-30 08:36] squakez commented on #2241
I the log I can see the following lines with the `phase` set to `Failed`:
[code]
A successful image push would be like:
[code]
or maybe is the same pulling that is failing, if, by any chance there is no connectivity from/to the registry or any failure with that component.

[2021-04-30 08:39] astefanutti commented on #2250
If the assumption is correct, the fix is provided with kubernetes/kubernetes#97980, that's been cherry-picked in 1.20.x with kubernetes/kubernetes#97998.

Let me try bumping Kubernetes version used in CI to `1.20.6` ...

[2021-04-30 08:56] orpiske commented on #580
I'm looking at this.

[2021-04-30 09:02] abogatov commented on #2241
Do you thing it is failed in the pulling base image moment?
Can you please tell me where the source code of this phase is started I mean where this log message (`Pulling base image...`) is generated?

[2021-04-30 10:09] squakez commented on #2241
We do that through another project, Spectrum: https://github.com/container-tools/spectrum/blob/master/pkg/builder/build.go#L28

[2021-04-30 10:35] abogatov commented on #2241
Thanks, @squakez.
In case of any error that occurred during the pull, we should observe the "could not pull base image image" message in the log, right?

[2021-04-30 13:10] squakez commented on #2241
Not necessarily, as I managed to replicate the same behavior by setting fake registries. I've also managed to make it work the registry procedure locally. My best guess is that there is some network issue when trying to reach out docker registry from the EKS nodes, assuming that the credentials are correct. You can try a very simple execution to confirm your EKS has no network limitation by runnin

[2021-04-30 13:39] abogatov commented on #2241
I've done. It looks fine
![image](https://user-images.githubusercontent.com/70779398/116702301-96e85680-a9d1-11eb-88f3-63d436cff1a8.png)

[2021-04-30 13:45] squakez commented on #2241
Thanks for checking. I'll keep having a look and revert when I found something, feel free to keep checking on your side too and report here if any news.

[2021-04-30 14:05] abogatov commented on #2241
thanks a lot!
sure, I'll try to connect to the camel pod directly and try to found some additional logs

[2021-05-03 07:14] lburgazzoli opened #2256 "re-deployment strategies"
As today integrations are re-deployed with a rolling deployment strategy but we need to make the re-deployment strategy configurable, i.e. we should be able to start the new pod/deployment only when the old one is completely shut down.

[2021-05-03 08:43] astefanutti commented on #2256
Right, we could also support the `Recreate` strategy, that may be more appropriate, depending on the Integration connectivity or logic.

[2021-05-03 09:33] orpiske commented on #2000
I am going to take care of this issue as part of the logging trait changes.

[2021-05-03 13:06] orpiske commented on #580
These PRs mentioned throughout this discussion have added the support for the logging trait. As discussed w/ @astefanutti, now that the documentation is in place, we can close this.

[2021-05-03 13:06] #580 closed

[2021-05-03 13:09] orpiske commented on #185
The features added with the new logging trait for 1.5 (and backported to 1.4) along w/ the `kamel dump` should alleviate this problem (if not resolving it altogether) ... . As such, I'm closing this one.

[2021-05-03 13:09] #185 closed

[2021-05-03 13:37] orpiske commented on #1783
I am looking at this.

[2021-05-03 15:52] orpiske commented on #1783
So, I got that working. The original link does not work, but the page is [archived on wayback machine](https://web.archive.org/web/20191009043828/http://development.wombatsecurity.com/development/2018/04/06/logging-maven-to-json/).

![build-log-with-json](https://user-images.githubusercontent.com/1851560/116899188-8a653780-ac37-11eb-8036-895febd2d233.png)

There are a few caveats, though:

1. We l

[2021-05-03 16:00] astefanutti commented on #1783
Great! I think these are acceptable, compared to having the operator log fully JSONified.

Just to be sure, what do you mean exactly by 4?

The first value is to have full JSON for the operator log. Then, the second requirement would be to enable correlation for the Build logs, that are interleaved into the operator reconcile loop. To meed that requirement, it'd be useful to add a build correlatio

[2021-05-04 07:39] orpiske commented on #1783
Thanks!

Basically, what I meant is that the JSON for the build log and the JSON for the operator logs are different.

[code]

The maven logs are slightly different and we'll have to adjust that to make them look the same (either by modifying the logback configuration or consuming them).

I see. It makes sense. If I understand it correctly, this is just the first part: just printing the maven logs

[2021-05-04 07:49] lburgazzoli commented on #1783
Cane we eventually make a pre-build container image with all the required bits already there ?

[2021-05-04 07:54] astefanutti commented on #1783
@orpiske

Whatever works best for you. Having the Maven logs JSONified is already an improvement, so it can be merged and have it followed by other contributions.

[2021-05-04 07:55] astefanutti commented on #1783
@lburgazzoli

My understanding is that the image here is the operator one. So it'll be updated to have all the bits.

[2021-05-04 08:15] orpiske commented on #1783
Deal, thanks. I'll clean it up and send the current implement today for review.

That's correct.

[2021-05-04 09:16] abogatov commented on #2241
Hi @squakez, I'm just wondering is it possible to pull the adoptopenjdk/openjdk11 image manually from the camel-k-operator pod using bash?

[2021-05-04 11:32] orpiske opened #2263 "Consolidate make targets used in Github actions"
Spin-off ticket based on @astefanutti's suggestion on PR #2262: "... I wonder whether we could call make images to avoid duplicating the build logic across workflows ..."

Basically, we can consolidate the make targets in the github actions and reduce some of the duplications.

[2021-05-04 13:59] astefanutti commented on #2263
Fixed with #2263. Thanks!

[2021-05-04 13:59] #2263 closed

[2021-05-05 05:07] lburgazzoli opened #2265 "kamelet-binding: improve conditions"
The `/status/conditions` block is very minimalist and does not report much information about the status of the underlying integration:

https://github.com/apache/camel-k/blob/aff450bfcccfa35ac0496336b1ea3801e4f8118f/pkg/controller/kameletbinding/monitor.go#L94-L118

We should probably have additional phases i.e. `Creating`, `Ready`, `Error`
And we should also report the reason why i.e. an integrat

[2021-05-05 06:39] #1657 closed

[2021-05-05 06:39] #2096 closed

[2021-05-05 07:40] squakez commented on #2241
Not sure if that alone would fix the problem. We should understand what exactly is failing during that operation in order to have a proper fix.

[2021-05-05 08:47] abogatov commented on #2241
I was just mentioning that if there is a way to pull image manually (not through kamel command) being inside the pod we could find out if there is a network problem (as example) of Amazon EKS environment or the actual problem related to the kamel.

[2021-05-05 08:54] squakez commented on #2241
We tested that with the `hello-world` Pod. As that worked, then, there must be something different than connectivity to the registry.

[2021-05-05 13:20] squakez commented on #2241
Hey @abogatov. I was trying to troubleshoot this problem and I've seen in the code that we store the error in the `Build` status without logging it. It would be nice if you can run:
[code]
In this example, I've simulated the error with a fake registry credentials. Let's look at your error, it may be finally tell us exactly what's going on.

[2021-05-05 13:25] orpiske opened #2268 "Normalize Maven build log"
Currently, the format of the Maven build log is different than the one used by the operator. While this does not prevent it from being parsed by log collection tools, it makes things harder. Ideally, the Maven build log should follow the same format as the operator log.

This is a followup from #1783.

[2021-05-05 13:41] abogatov commented on #2241
Hey @squakez,
here are the results
![image](https://user-images.githubusercontent.com/70779398/117150207-9b8d8000-adc0-11eb-8a2c-0e9d00582bea.png)

[kubectl_get_builds_kit-c24lsc6hs6s6vdvm9jf0.log](https://github.com/apache/camel-k/files/6427521/kubectl_get_builds_kit-c24lsc6hs6s6vdvm9jf0.log)

[2021-05-05 14:55] squakez commented on #2241
Try to specify `Spectrum` as build strategy instead of `Buildah`: `kamel install --build-publish-strategy=Spectrum ...` plus the registry configuration as usual.

[2021-05-05 15:52] lburgazzoli opened #2271 "kamelets: support for kamelet local beans"
[Route Template local beans ](https://issues.apache.org/jira/browse/CAMEL-16394) is approaching and we need to define how we can leverage such functionality in camel-k and in the kamelets definition.

The current layout for kamelets is:

[code]

I'd propose to replaces `flow` with `template` so it would looks like:

[code]

NOTE:
- we should keep `flow` for backward compatibility but to create tem

[2021-05-05 15:52] lburgazzoli commented on #2271
/cc @nicolaferraro

[2021-05-05 16:01] lburgazzoli commented on #2271
Relates to https://issues.apache.org/jira/browse/CAMEL-16584

[2021-05-05 16:05] davsclaus commented on #2271
Yeah then the `beans` part of the `template` can then use the new local bean `bind` in camel-core (Camel 3.10 - CAMEL-16584). Then that bean `myBean` is local and only available while the template is creating routes. And each route will have its own instance that bean created.

The route template DSL in camel-core-model, does not however have `beans`, but its a novel idea, we could consider adding

[2021-05-05 16:09] lburgazzoli commented on #2271
yep absolutely true, the goal is to have it also in the XML DSL at some point.

[2021-05-06 08:04] abogatov commented on #2241
I used this parameter as well.
I've re-installed camel-k (I've uninstalled it before re-install)
![image](https://user-images.githubusercontent.com/70779398/117245585-c240ca80-ae43-11eb-978f-da48a010857f.png)
and again run `kubectl get builds kit-c29nla863kg74t466aj0 -o yaml`
![image](https://user-images.githubusercontent.com/70779398/117246032-85290800-ae44-11eb-97bc-41a6c0500b0e.png)
so, the err

[2021-05-06 08:20] squakez commented on #2241
I'm glad we sorted that out!

Yeah, I'd say it is more natural fit, and it would overcome the rate limitation you have on Docker Hub. If you are successful, feel free to contribute with some documentation, I'll be happy to support you with that too.

The docker registry is used to store the base images used for the `Integration`s. The operator creates `IntegrationKit`s which are mainly composed by

[2021-05-06 08:28] #2241 closed

[2021-05-06 08:28] abogatov commented on #2241
Yes, this particular issue has been fixed, thanks again for the good effort!

[2021-05-06 08:41] heiko-braun commented on #2003
Would a `configmap` resource contain `build-properties` and `config-properties` itself?

[2021-05-06 09:10] lburgazzoli commented on #2265
I think I was quite confused when I opened this issue, let me close this

[2021-05-06 09:10] #2265 closed

[2021-05-07 09:15] squakez commented on #1137
I'm having a look at this.

[2021-05-07 09:33] squakez opened #2273 "[Doc] Add documentation for architecture"
We are missing both Runtime and Traits architecture documentation which are defined as TBD.

* https://camel.apache.org/camel-k/latest/architecture/runtime.html
* https://camel.apache.org/camel-k/latest/architecture/traits.html

[2021-05-07 15:36] #2239 closed

[2021-05-07 15:36] #2098 closed

[2021-05-10 07:58] apupier opened #2275 "provide an option to exit `kamel debug xxx` when debugger is attached"
When usign the `kamel debug xxx`, the process stay alive until the debugger is detached. To allow reuse with built-in fuinctionalities in VS Code (and increase the numbe rof possibilities for advanced VS Code users), it would be convenient to have a n ooption that will end the process when the debugger is attached. it will allow VS Code to automatically detect that ti is ready and attach a Java de

[2021-05-10 12:50] orpiske opened #2276 "Normalize Spectrum build logs"
Similar to #2268, but applies to the Spectrum part of the build.

[2021-05-10 15:57] #1137 closed

[2021-05-11 07:18] astefanutti opened #2278 "Docs validation CI workflow"
From time to time, changes to the Camel K documentation fails the Camel Website build.

It would be useful to validate the changes to the `docs` directory, and run a local build before the changes are merged, to avoid blocking the global Camel Website build and delaying changes made by other Camel projects.

[2021-05-11 12:55] squakez opened #2280 "[Docs] Broken links on autogenerated API"
As reported by @zregvart, there is some broken link in the autogenerated API. See [Camel website build](https://builds.apache.org/job/Camel/job/Camel.website/job/main/78/console):
[code]
Apparently it's some special char not converted properly by the autogen tool. I'm looking into it.

[2021-05-11 15:38] #2280 closed

[2021-05-11 17:03] phantomjinx commented on #1979
@astefanutti
Done the [PR](https://github.com/apache/camel-k/pull/2284). Might need some careful review and experimentation before final merging.

[2021-05-12 13:58] orpiske opened #2286 "Structured logs: remaining bits"
This is a follow up ticket from #2279 and it is related to the remaining bits on our code base and/or dependencies that don't provide support for structured logs.

Some parts of the code that currently don't have structured logs:

leader election code from k8s:

[code]

k8s warnings:
[code]

This list may include other items in the future.

[2021-05-12 14:01] orpiske commented on #2286
Quoting @astefanutti here for convenience:

[2021-05-12 14:02] orpiske commented on #2276
Done.

[2021-05-12 14:02] #2276 closed

[2021-05-13 08:02] squakez opened #2289 "Change autogen doc template to adoc"
Right now we are producing an `html` autogenerated documentation for Camel K CRDs. We should change the [templates](https://github.com/apache/camel-k/tree/main/script/gen_crd/template) in order to produce an `asciidoc` instead.

[2021-05-13 11:59] orpiske commented on #2268
Implemented, therefore closing.

[2021-05-13 11:59] #2268 closed

[2021-05-13 14:54] claudio4j opened #2291 "Integration not marked as Failed when Camel is unable to start"
Camel-K version: 1.4.0

When the integration is built successfully, but the camel application can't start because of some error, the integration isn't marked as {{Failed}} - operator keeps reconciling it.

[code]

The integration fails due to an error in camel:

[code]

In camel-k operator logs there is just a periodic reconciliation of the integration:

[code]

I used following integration, but i

[2021-05-13 15:10] claudio4j commented on #2291
I am working on this.

[2021-05-13 15:49] orpiske commented on #1468
I've took notes of running Camel K with Kind and with Kind + A Local Registry. I'll open a PR tomorrow with the details for this.

[2021-05-13 16:36] davsclaus commented on #2291
There is also the NPE in that camel component which would be good to get fixed also

[2021-05-13 16:44] oscerd commented on #2291
The npe is fixed in 3.10

Il gio 13 mag 2021, 18:36 Claus Ibsen ***@***.***> ha scritto:

[2021-05-14 08:51] squakez commented on #2003
I am working on this.

[2021-05-14 09:39] orpiske commented on #1468
I added notes about installing Camel K on Kind and they should be available on the website soon, therefore closing it.

**Disclaimer**: non-official documentation/steps below.

As an additional comment about the failure above. The problem `Get http://localhost:5000/v2/: dial tcp [::1]:5000: connect: connection refused` is _likely_ caused because there is a [problem in the script](https://www.orpis

[2021-05-14 09:39] #1468 closed

[2021-05-15 21:47] lburgazzoli opened #2296 "kamelet binding: make it possible to use normalized name"
As we have a normalized way do reference k8s resources, it should be possible to use it to reference a source/sink/step, i.e.:

[code]

[2021-05-17 08:57] astefanutti opened #2297 "Rebase architecture diagram on 1.4 release"
Update the diagram at https://camel.apache.org/camel-k/latest/architecture/architecture.html by:
- adding Kamelets
- removing deprecated Camel Knative sources

[2021-05-17 10:37] squakez opened #2299 "Log parsing errors"
I guess this is something related to the latest work done on logging. When I start a new integration, I see many logs like this:
[code]
The integration ends up running correctly though.

CC @orpiske

[2021-05-17 11:00] orpiske commented on #2299
Yes it is. Where do you see that @squakez ? Is it in a test?

[2021-05-17 12:01] orpiske commented on #213
The problem is that the `Makefile` is a symlink to `script/Makefile` (assuming that was the case at the time the ticket was opened).

So, the build command for Windows should be `make -f script/Makefile`. However, there are other portability issues which would require fix.

I have a patch that is able to partially build the project (only the `build-kamel` target). I don't intend to send this as co

[2021-05-17 12:20] squakez commented on #2299
You should be able to see it by resetting the `Kit`s and building a new simple `Integration` (which will trigger a build). It happens with the snapshot operator version from `main`.

[2021-05-17 13:07] astefanutti opened #2302 "Leverage KinD multi-nodes cluster setup for CI"
Currently, all e2e tests run on single-node clusters. To closer match real clusters with multiple nodes, it would be useful to leverage KinD multi-nodes setup. Also, a couple of e2e tests would specifically benefit from being executed on a multi-nodes cluster.

This requires to setup a local container image registry. With the great work by @orpiske, it should be possible to achieve this:
https://w

[2021-05-17 13:16] orpiske commented on #2299
I couldn't reproduce this problem on my local environment (with k3s or kind) with a clean install.

However, based on the messages you provided, I am suspicious of a few things.

This would be caused if the operator container is outdated on the cluster. Would it be possible to rebuild and republish the operator you are using along with the `--operator-image-pull-policy Always` flag?

[code]
One re

[2021-05-17 13:23] astefanutti commented on #2286
Fixed with #2286.

[2021-05-17 13:23] #2286 closed

[2021-05-17 13:36] johnpoth commented on #2302
[k3d](https://github.com/rancher/k3d) is also pretty handy if resource consumption is an issue. A registry can be created automatically `k3d cluster create my-cluster --registry-create`

[2021-05-17 15:15] squakez commented on #2299
I am running it locally (`kamel operator`) on a `minikube` against a fresh build from `main` branch. I have all the maven dependency installed locally.

[2021-05-17 15:42] orpiske commented on #2299
Thanks @squakez, I'll setup an environment with minikube and see if I can reproduce it.

[2021-05-17 16:46] nicolaferraro opened #2305 "Kamel delete should consider KameletBindings"
Otherwise, if it only cancels the integration, then it's recreated. I think it happens in the VS code tooling.

[2021-05-18 06:43] orpiske commented on #2299
I tried with Minikube but I couldn't reproduce the problem.

Could you, please, run `docker run -it apache/camel-k:1.5.0-SNAPSHOT ls /usr/share/maven/lib` and let me know what you have as the output?

[2021-05-18 07:19] orpiske opened #2306 "Integration container build errors are absent from the log messages"
In some cases if the builder fails (i.e.: if it fails to pull the base image), the information about this failure is absent from the logs. This makes debugging build errors much more complicated.

Log snippet on a build that failed because it could not pull the base image:
[code]

[2021-05-18 07:19] orpiske commented on #2306
I'll send a PR for this one.

[2021-05-18 08:04] squakez commented on #2299
The operator is running from the local machine, not inside kubernetes. However, I've pushed the snapshot image built from `main` into the docker container and run the command to see the outcome:
[code]

[2021-05-18 08:10] orpiske commented on #2299
Thanks. So, I guess that is the problem. I believe that, in this case, you are not using the modified maven we have in the operator container.

In order for Maven to output the logs in JSON format, it has to be modified so that its original logging framework is replaced w/ one that outputs in JSON format. There are some details about the [process in the original ticket](https://github.com/apache/c

[2021-05-18 10:57] squakez commented on #2299
I've had a look at the original issue, but I could not find what I need to change on my side in order to fix that problem. Can you please point me at that?

I also suggest to write some documentation and when capturing the error in the logs, remanding to the documentation in order to show how to fix the problem. Otherwise, any user may be fouled to think the operator is just broken.

[2021-05-18 11:14] astefanutti commented on #2299
If I understand it correctly, this affects Camel K developers that run the operator locally, rather than users that typically run the operator using the image that contains the required Maven bits.

I'd be inclined to avoid mandating developers to patch their local Maven installation, if introducing a mechanism that falls back to unstructured Maven logging is possible, and not too convoluted.

[2021-05-18 11:19] orpiske commented on #2299
That's correct. It only affect us (Camel K) developers running the operator outside the container.

I'm thinking if there's a clean way for us to switch between structured and non-structured logging, to avoid patching the maven installation. There might be ... I will take a look at this later in the day.

[2021-05-19 06:33] oscerd opened #2312 "Kamel Kamelets subcommand"
For listing, describing kamelets

[2021-05-19 06:33] oscerd commented on #2312
@tadayosi I know you were looking for something to help with. This is a good one.

[2021-05-19 06:36] tadayosi commented on #2312
Yes, let me look into it. Thanks!

[2021-05-19 06:37] tadayosi commented on #2305
Let me look into it.

[2021-05-19 07:26] #2250 closed

[2021-05-19 08:30] lburgazzoli commented on #2003
@squakez @nicolaferraro @astefanutti

wondering if we should create a `configuration` trait at this point so when we will implement https://github.com/apache/camel-k/issues/2165, we could also use the same mechanic to attach configuration properties to bindings, kamelets & what noy

[2021-05-19 10:50] astefanutti commented on #2003
Also, in that spirit of moving the configurability responsibility to the traits, it may be logical to:
* Move the `spec.repositories` field (Maven repositories) into the _builder_ trait
* Move the `spec.serviceAccountName` field into the _pod_ trait

[2021-05-19 20:31] Kyle-Cooley opened #2313 "Creating an IntegrationPlatform with the route Trait Crashes the Operator"
# Steps to Reproduce

1. Install camel k into a fresh environment (no existing IntegrationPlatforms, IntegrationKits, Integrations)
2. Create the following IntegrationPlatform with the route trait disabled:
[code]
3. Create the hello world Integration:
[code]
4. Observe the camel k operator repeatedly crash with similar output:
[code]

# Expected behavior

The user can successfully create an integ

[2021-05-20 08:06] squakez commented on #2003
Yes, that seems the best path to follow. As we must ensure compatibility, I may follow an approach where I will develop the feature minimizing the impact on the existing code, if I see it makes sense, and then encapsulating the logic into a separate trait.

[2021-05-20 08:07] squakez commented on #2003
Should we better create a separate issue in order to keep track of this?

[2021-05-21 10:00] johnpoth opened #2315 "Timeout when debugging the operator locally"
Operator exits with message `Failed to update lock: rate: Wait(n=1) would exceed context deadline` and stopping on a breakpoint for too long

[2021-05-22 15:48] liurui-1 opened #2317 ""cannot find symbol" issue in camel-k releases v1.4.0"
Our Camel integration code cannot run on new  camel-k releases v1.4.0.  There are a number of Java files in our camel integration app. So, we are using some Java files to share some public symbols for example constants and static methods. The Java Integrations are working very well on previous camel-k releases v1.3.x.  While with the new camel-k releases v1.4.0, it is failed because symbols from d

[2021-05-24 07:02] lburgazzoli commented on #2317
This support has been removed a while ago, see https://github.com/apache/camel-k-runtime/issues/480.

Each java file is compiled in its own compilation unit and loaded by a dedicated classloader so there's no visibility between them.

[2021-05-24 08:09] liurui-1 commented on #2317
@lburgazzoli The problem of this change is to reduce code reusability. For example in our Camel-k integration, we have 3-10 routes sharing same group of constants and static methods/functions. With this change, we have to copy all those definitions to each Java file. It makes the Java file much longer, difficult to read and more error-pone with inconsistency issues.

[2021-05-24 08:23] lburgazzoli commented on #2317
I understand but camel-k is not designed to be a generic build tool and when you start adding such inter-dependecies between classes, a lot of issues may happen i.e. camel-k does not have any clue about dependencies so you may end up with the same issue if the code is compiled in a different order. A CR is also not the best place where to store source code.

There is another [issue](https://github

[2021-05-24 08:35] squakez opened #2318 "[CLI] Format long subcommand descriptions"
As we're introducing long description for certain subcommands, we can see that the `help` format is a bit ugly when there is a breaking line:
[code]
I wonder if we should use some utility to get the terminal size (if it's a terminal, ie, https://pkg.go.dev/golang.org/x/term#GetSize), and adjust the description length and new lines based on that value. That would produce something like:
[code]

[2021-05-24 09:43] liurui-1 commented on #1821
Thanks @lburgazzoli to mention this issue.
I fully agree and suggest to support POJO again, maybe with some restrictions, especially when Camel v1.4.0 isolate all Java files. As I mentioned in https://github.com/apache/camel-k/issues/2317 , we badly need some features to reuse our code. We need to install our product into many customer environments, it is not a good solution to build those constan

[2021-05-24 09:45] liurui-1 commented on #2317
Thanks @lburgazzoli to mention https://github.com/apache/camel-k/issues/1821 .
I fully agree and suggest to support POJO again, maybe with some restrictions, especially when Camel v1.4.0 isolate all Java files. As I mentioned in previous posts, we badly need some features to reuse our code. We need to install our product into many customer environments, it is not a good solution to build those con

[2021-05-24 09:46] lburgazzoli commented on #2317
Can you give more info about why `it is not a good solution to build those constants and utility functions into Maven artifacts.` ?

[2021-05-24 09:46] oscerd commented on #1821
Well, it's not good to use multiple class of constants and utility functions in many customer enviroments. If you need to change anything, you'll need to change it everywhere.

[2021-05-24 09:57] liurui-1 commented on #2317
@lburgazzoli those are information just for our own app. Our own app is under development with new requests every day. It means  those constants and utility functions are changing frequently. I do not expect to post the utility into public maven because of security issues,  license issue, and frequent changing. It also adds more complexity to install and update a private Maven repo in customer's e

[2021-05-24 10:03] oscerd commented on #2317
If you are using this constants and utilities in multiple customer deployments, any change not centralized will cost updating the classes everywhere. I don't see so much differences into releasing a maven artifacts and update a version everywhere. It's more secure, more reliable and it will need to pass through a workflow. This won't happen with modification on classes.

[2021-05-24 10:24] liurui-1 commented on #2317
@oscerd
It requires a full process to upload the artifact to public Maven repo. I do not see any people upload their utility class into public Maven  just for private use in their own app. If you have 100s versions of such Maven artifacts then you may get into trouble. And we have unique version for the whole bunch of code including Camel integration including the utilities (the Camel code is more

[2021-05-24 10:27] oscerd commented on #2317
What you're saying is that you want to deploy snapshot code. We are discussing two different entities.

[2021-05-24 10:29] oscerd commented on #2317
A released artifact on private or public nexus needs to deal with a sequence of steps and verification. Using snapshot code is a different story.

[2021-05-24 10:29] liurui-1 commented on #1821
@oscerd As I mentioned in https://github.com/apache/camel-k/issues/2317 , I do not see any people upload their utility class into public Maven just for private use in their own app.  And we have the unique version for Camel code and the utility. Camel code is more important. I cannot imagine if you upgrade utility class with Maven but not upgrade the Camel code at the same time.

[2021-05-24 10:40] liurui-1 commented on #2317
@oscerd Yes the utility can be snapshot code.  I cannot imagine if you upgrade utility class with Maven but do not upgrade the Camel code at the same time. So we have to have many versions of the utility class to be compatible with the Camel code.

Note, Camel-k is for micro services instead of some product with long time well modeling. If you restrict us to use public Maven to post the utility cl

[2021-05-24 10:45] oscerd commented on #2317
There is jitpack support for snapshot code eventually.

[2021-05-24 10:49] oscerd commented on #2317
There is no restrictions. You can use multiple ways of depending of snapshot code. There are different approaches to this.

But in my opinion if they are dependencies of the main camel code they should be provided as a separated artifact/package/tag etc.

[2021-05-24 11:46] lburgazzoli commented on #2232
Thinking a little bit about this:

- We may not need to add an `integration.sources-mode` but we could probably add an option to set the location of the source on to the source definition, like:

[code]

- for what concern the container images, as we have a `pod` trait now so we may add an additional option there, like:

[code]

- for what concern the `kamelets` we may add an option to the related

[2021-05-24 15:30] squakez opened #2320 "[Trait] Configuration refactoring"
As [commented in #2003](https://github.com/apache/camel-k/issues/2003#issuecomment-843874243), we should introduce a new Configuration `trait` in order to properly encapsulate the logic of the [different configurations](https://github.com/apache/camel-k/blob/main/pkg/cmd/run.go#L545-L567) provided into an `Integration`. This new capability would simplify the configuration of traits as also express

[2021-05-24 15:30] squakez commented on #2320
I will work on this after #2003

[2021-05-24 15:33] squakez opened #2321 "[Trait] maven repo and service account encapsulation"
Also, in that spirit of moving / "encapsulating" the configurability responsibility to the traits, it may be logical to:
* Move the `.spec.repositories` field (Maven repositories) into the _builder_ trait
* Move the `.spec.serviceAccountName` field into the _pod_ trait

_Originally posted by @astefanutti in https://github.com/apache/camel-k/issues/2003#issuecomment-843983721_

[2021-05-25 06:29] oscerd commented on #2241
I think documentation about how to install on EKS would be useful on the website.

[2021-05-25 07:34] squakez commented on #2321
I think they are 2 different things. Whilst the whole maven configuration is something applicable at `IntegrationPlatform` level (basically influencing the `operator`), here the focus is on those fields that are configured on the `Integration`. I am not sure if, technically speaking, we can mix both aspects.

[2021-05-25 08:02] nicolaferraro commented on #2232
I was thinking we could embed the location in the classpath. I'd assume that without information about the sources, the operator is not in a position to compute the right classpath, so that should be provided as part of the container image. So we may only need to choose a (fixed) relative path for sources.

[2021-05-25 09:08] lburgazzoli commented on #2232
This is probably true for kamelets but sources it is a little bit more complex so I think, the location of the sources should always be provided. The operator should then ignore any inspection task and only create the "application.properties" where the sources are configured.

Not sure if it makes any sense :)

[2021-05-25 09:10] #2315 closed

[2021-05-25 14:03] doru1004 opened #2326 "Supporting Apache Camel 3.10"
I see that the latest release version for Camel-K supports Apache Camel 3.9. Any idea when the move to 3.10 will happen? Some of the components I am looking at gain some new exciting properties in 3.10. Would there be any roadblocks to upgrading to Apache Camel 3.10+?

[2021-05-25 14:38] johnpoth opened #2327 "maven-repository flag is not honored in the run command"
for example the following fails:

`./kamel run --name  extra-repo examples/languages/Sample.java --dependency mvn:jakarta.annotation:jakarta.annotation-api:1.3.5.redhat-00002 --maven-repository https://maven.repository.redhat.com/ga@id=redhat`

[2021-05-26 10:05] liurui-1 commented on #2317
@oscerd I am sorry for late response. Yes it is a solution but not very convincing to me. It is not convenient. We can also use our own maven repository. While this changes a lot of the programming practice to build all your Java code other than those Camel DSL into separate Maven artifacts. I still expect if you can enable supporting POJO again maybe with some limits.

[2021-05-26 11:20] lburgazzoli commented on #2082
Available here: https://github.com/fabric8io/kubernetes-client/tree/master/extensions/camel-k

[2021-05-26 11:22] lburgazzoli commented on #1943
@astefanutti we should also take into account the `IntegrationPlatform` CR i.e. if multiple operators are installed in the same namespace, it should be possible to have multiple instances of the `IntegrationPlatform` labeled according so only the relevant operator would use it (note: we may think about naming the maven settings config map after the selector label) .

[2021-05-26 12:44] #2313 closed

[2021-05-26 13:41] #2237 closed

[2021-05-26 14:17] nicolaferraro commented on #2080
From Camel 3.10 we can use `base64:{{theProperty}}` in Resource-type fields (property encoded in base64 as described above, no need for `x-camel-type`).

[2021-05-26 14:17] #2080 closed

[2021-05-26 14:18] nicolaferraro commented on #2080
Ref: https://github.com/apache/camel/pull/5569

[2021-05-26 16:31] zach-robinson opened #2330 "Property in cron trait to set `startingDeadlineSeconds`"
Proposal to add the ability to configure a cronjob's `startingDeadlineSeconds` field as a property of the `cron` trait.

[code]

Setting this prevents a situation in which the job will permanently fail to be rescheduled after 100 consecutive failures.

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-job-limitations

[2021-05-27 04:57] lburgazzoli opened #2331 "kamelets: add condition to report when an integration is stuck waiting for them"
I have an integration like:

[code]

The integration stuck in `Initialization` phase because the required kamelets are not found but it would be nice if such information would be reported among the conditions

[code]

[2021-05-27 06:42] davsclaus commented on #2326
Its on the way, there is a new release of camel-quarkus on the way, that brings Camel 3.10 support for Camel K

[2021-05-27 07:05] lburgazzoli opened #2333 "build: update to latest golangci-lint"
We are using v1.20.1 but the latest release is 1.40.1.
Running the latest released reveal a number of new issues, we should check if they make sense

[2021-05-27 07:07] lburgazzoli opened #2334 "build: use golangci/golangci-lint-action"
@oscerd Do you know if  golangci/golangci-lint-action is appreoved by ASF ?

[2021-05-27 07:18] oscerd commented on #2334
I think we can try to setup the action and if it's not working for permission related problem, ask to whitelist it to INFRA or otherwise import the action as submodule

[2021-05-27 07:26] lburgazzoli opened #2335 "build: install required binaries in a temporary subdirectory of the project"
If `controller-gen` or `kustomize` are not found, my understanding is that those binaries are downloaded and installed in $(GOBIN) which may lead to issues as it may override the version one has already downloaded:

[code]

I think any project specific binary should be downloaded and installed on a temporary location relative to the project root

[2021-05-27 07:26] lburgazzoli commented on #2335
@astefanutti what do you think ?

[2021-05-27 08:54] tadayosi commented on #2321
@squakez Alright. I see that maven settings are `IntegrationPlatform` level and thus should be kept in `kamel install` command parameters. Thanks for the clarification.

[2021-05-27 12:58] #2331 closed

[2021-05-27 13:01] #2165 closed

[2021-05-27 23:36] bzdgn opened #2341 "Json marshalling is needed for Rest route and uncommented code seems to be executed"
I've applied the camel [rest dsl example here](https://camel.apache.org/manual/latest/rest-dsl.html#_rest_dsl_with_java) for the Camel K, the simple integration file is as follows, which fails;

[code]

However, if I add ```marshal().json()``` line to the route, it works;

[code]

And even if I comment out the ```marshal().json()``` line, it continues to work;

[code]

Is there a problem with this

[2021-05-28 07:17] bzdgn commented on #2341
I'm attaching the terminal output and the operator logs here.

**Terminal output** that includes the output of the kamel ```--dev``` mode;

[Terminal Output](https://github.com/apache/camel-k/files/6558999/camel-k-terminal-on-dev-mode.txt)

**Camel K Operator logs** taken from the MiniKube;

[Camel K Operator logs](https://github.com/apache/camel-k/files/6559002/logs-from-camel-k-operator-in-camel

[2021-05-31 08:31] astefanutti commented on #2321
The `.spec.repositories` field from the IntegrationKit API should probably also be removed, as identified in #2328 by @johnpoth.

[2021-05-31 10:12] tadayosi opened #2343 "Camel K seems to fail with Knative 0.23"
Probably it's because for example `messaging.knative.dev/v1beta1` is dropped and now Knative supports only `messaging.knative.dev/v1`:
https://knative.dev/docs/reference/api/eventing/

All the examples that still use `messaging.knative.dev/v1beta1` `InMemoryChannel` are not deployable with Knative 0.23.

[2021-05-31 10:16] astefanutti commented on #2343
Yes, we have to do a round of upgrade to the latest Knative API versions, and drop the ones that have been deprecated / removed from recent Knative versions.

I've been holding it back because of #2195. We need to make sure Knative test suite runs on newest versions.

[2021-05-31 10:22] astefanutti commented on #2315
Out of curiosity, what IDE do you use?

I've been facing that issue as well with Goland, though my understanding is that rather an issue with it not running other Go routines while one is being stepped. In my case, I step into the reconcile loop routine, and the routine that refresh the Lease used for leader election is also blocked.

[2021-05-31 10:46] johnpoth commented on #2315
I use VSCode for Go.

From the logs, it seems the issue arrise when debugging for more than 15 seconds which is the default [LeaseDuration](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L180). I think this [issue](https://github.com/go-delve/delve/issues/777) describes the problem in the Go debugger. From the comment section, it seems like a difficult fix

[2021-05-31 10:54] astefanutti commented on #2315
Thanks, that looks like the issue. It's likely Goland uses Delve as well.

[2021-05-31 13:59] astefanutti commented on #2306
It should be fixed with #2269.

[2021-05-31 13:59] #2306 closed

[2021-06-01 13:38] #2305 closed

[2021-06-02 06:39] #2327 closed

[2021-06-02 07:13] astefanutti commented on #2335
@lburgazzoli my understanding is that overwriting only happens when `GOBIN` isn't in the `PATH`, which I would assume to be unusual. Otherwise, the existing version is used and not overwritten. That being said, I agree it'd be better to be completely environment independent, and install the binaries in temp dir local to the project.

[2021-06-02 09:06] mmajerni opened #2347 "Documentation points to old repo with quickstarts"
Documentation: https://camel.apache.org/camel-k/latest/tutorials/tutorials.html
points to quickstarts repo https://github.com/apache/camel-k-examples which is the old one. Docs need to be updated to the new quickstarts repo which is located here: https://github.com/apache/camel-k/tree/main/examples

[2021-06-02 12:56] #2236 closed

[2021-06-02 13:28] davsclaus opened #2349 "examples/RestDSL.java does not work"
Reported on chat forum and I could not get it to work either with minkube and camel-k 1.4.0 release
https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Rest-DSL/near/241114457

[2021-06-03 10:44] lburgazzoli commented on #2341
I tried to run the same example but it is working for me.
I suspect there is an issue with pulling the base image for the kit, can you try to delete all the kits ?

    kubectl delete integrationkits --all

[2021-06-03 11:10] #2312 closed

[2021-06-03 13:59] lburgazzoli commented on #2335
Ah yes, that should be how it works however I spotted the issue because my environment was non properly set up and `GOBIN` was non on the path for some unknown reasons so the first invocation leaded to my own `controller-gen` being replaced and being re-download at each make invocation.

[2021-06-03 14:22] astefanutti commented on #2299
I think it's been fixed with #2311.

[2021-06-03 14:22] #2299 closed

[2021-06-04 08:19] #2330 closed

[2021-06-04 10:59] nicolaferraro opened #2357 "Maven logs are no longer shown"
Maybe related to log refactoring (cc: @orpiske).

Simple reproducer:

[code]

When the integrationkit creation failed, usually there was a Maven error in the operator logs (or builder pods), but I cannot see any hint of that.

Relevant error in the logs:

[code]

Full logs:

[code]

[2021-06-04 11:01] orpiske commented on #2357
@nicolaferraro thanks for the heads up! I'll take a look at this one

[2021-06-04 11:46] orpiske commented on #2357
That's strange. I couldn't reproduce it locally with Kind:

[code]

It looks like as if the build has been cancelled before the messages could be read and parsed.

@astefanutti do you think it could be an edge case of #2269 ?

[2021-06-04 12:02] astefanutti commented on #2357
@nicolaferraro could you make sure you've applied the latest changes to the CRDs in your cluster? Also could you provide your IntegrationPlatform definition as well as the failing Build definition?

[2021-06-04 12:22] lburgazzoli opened #2358 "install: optional registry"
camel-k installation tries to determine a registry and may fail if it does not find one.
in some environment, camel-k is not supposed to perform any build so we should have an option to make the registry optional

[2021-06-04 12:40] nicolaferraro commented on #2357
It might be the CRDs.. after `uninstall --all` and reinstall it seems to work.

[2021-06-04 12:40] #2357 closed

[2021-06-04 12:43] astefanutti commented on #2357
Right, I suspect with the changes from #2269, that moves the timeout definition to a new field, the Build timeout happens to be 0, if the CRDs haven't been updated accordingly.

[2021-06-04 14:06] nicolaferraro opened #2361 "Can't set multiline properties in Kamelet bindings"
One example is: https://github.com/apache/camel-kamelets/pull/330/files#diff-c81f389241ecccbb03f18791698351f85f8f668f909a55b7291552aafd6b3a9bR23

Where I wanted to provide a cleaner way to provide a schema, like:

[code]

But apparently when the operator maps KameletBinding property values to the application.properties file it does not encode newline characters (and other special chars).

[2021-06-07 04:46] tadayosi opened #2363 "kamel subcommand for kamelet bindings?"
Similar to #2312, do we want a subcommand for kamelet bindings?  If we do, which one is better?
- `kamel kameletbinding <get|delete>`
- `kamel kamelet-binding <get|delete>`
- `kamel kamelet binding <get|delete>` (a subcommand under `kamel kamelet` subcommand)

[2021-06-07 04:48] tadayosi commented on #2363
Probably `kamel kameletbinding` is the first choice, which is similar to `kubectl get kameletbinding`.

[2021-06-07 05:44] tadayosi commented on #2349
I couldn't reproduce it with camel-k 1.5.0-SNAPSHOT & minikube v1.20.0. Looking at the chat log, it appears the RestDSL example problem has been solved for him, too. Maybe we can close it?

[2021-06-07 06:16] AlexShkunov commented on #1033
At this very moment, trying to figure out how to do SSL connection to AMQ broker.
[code]

[2021-06-07 07:06] astefanutti opened #2365 ""Kitless" Integration"
Following #2360, that introduces the ability to specify a container image for an Integration, an "empty" IntegrationKit is created in that case. However, the created IntegrationKit does not reflect the content of the container image, nor can be reused. It'd be better to avoid creating that synthetic/artificial IntegrationKit, for the sole purpose of accommodating with the existing code, that manda

[2021-06-07 07:24] #2349 closed

[2021-06-07 08:12] #2297 closed

[2021-06-07 09:54] astefanutti commented on #2000
@orpiske with your work on the _logging_ trait, I think we could "simply" remove the `--logging-level` option from the `run` command, and have it replaced with `-t logging.level`. WDYT?

[2021-06-07 10:25] orpiske commented on #2000
+1 for that. I can send a PR this week with the proposed code to remove it.

[2021-06-07 10:27] astefanutti commented on #2000
Great, thanks!

[2021-06-07 13:58] lburgazzoli opened #2370 "kamelet binding: use the Kamelet EIP for steps"
Assuming we have a Kamelet Binding, as today we compose the yaml definition as:

[code]

because actions may be complex, we should use something like:

[code]

[2021-06-07 14:04] astefanutti commented on #1943
Right, _scoping_ IntegrationPlatform should be supported in addition to _scoping_ Integration. actually, I think _scoping_ must be implemented for any kind of resources being watched / managed by the operator, like IntegrationKit, Build, ... Even for environments that do not leverage the builder, I think it makes sense to implement a generic _scoping_ mechanism.

[2021-06-07 14:14] astefanutti commented on #1943
Selectors support has been added to k8s informers into the latest version of controller-runtime: kubernetes-sigs/controller-runtime#1435.

[2021-06-07 16:14] astefanutti opened #2371 "Canary rollout upgrade"
This is a _shell_ issue, that gathers the technical gaps, identified to implement Camel K operator canary rollout upgrade:

- [x]  Support resources _scoping_, _locking_/_handover_: #1943
  - [x] Upgrade controller-runtime to version v0.9.0
  - [x] Use selectors support from controller-runtime: kubernetes-sigs/controller-runtime#1435
- [x] Improve multiple operators topology: #2177
- [x] Add suppo

[2021-06-07 17:15] phantomjinx commented on #2358
Current plan:

1. `kamel install` already contains a --registry switch so if this is set to `none` then the user can flag no registry
2. If o.Registry.Address == none then find the building trait in the catalog, copy, disable it then add it to the IntegrationPlatform
3. Try a `kamel run ...` (& write tests) to prove that a build cannot be attempted and the empty Registry{} never used

[2021-06-08 06:39] tadayosi commented on #2343
@astefanutti Is there anything we should consider for OpenShift 3 support when upgrading Knative like Ingress #2084?  Or can we simply jump into the latest version if the test suite passes?

[2021-06-08 06:45] astefanutti commented on #2343
@tadayosi we should not concern with OpenShift 3. As soon as the test suite passes with the latest version, it's good to go.

[2021-06-08 11:39] davsclaus opened #2374 "Java DSL - Add notes in documentation about its limitations"
a)
For example its limited to a single class / configure method, and any utility should be provided in 3rd party JARs.

b)
Also endpoint uris should be direclty in the endpoint strings, for the camel-k automatic dependency support, otherwise you must declare the dependencies yourself.

[2021-06-08 13:01] lburgazzoli opened #2375 "languages: support kamelet eip"

[2021-06-08 21:46] sdirbach opened #2379 "Cannot update integration using kamel run"
Hi,

when I try to update an Integration using `kamel run` I get this error:

[code]

I think this may be, because an empty status element is created for the Integration object (which may be observed using `-o yaml`)

Strange enough, but using the yaml output and piping it to the oc command works:

`kamel run SimpleRestDSL.java -oyaml|oc apply -f -`

Any idea where this may come from?

The Camel K

[2021-06-09 07:49] davsclaus opened #2380 "Scaling documentation - Add section about knative"
https://camel.apache.org/camel-k/latest/scaling/integration.html

This doc covers camel-k scaling, but it does not mention anything about knative

[2021-06-09 09:10] astefanutti commented on #2380
I meant to do this for so long that I forgot about it 😃. Let's do it!

[2021-06-09 10:09] #2361 closed

[2021-06-09 11:31] davsclaus commented on #1789
It would be good with a new page in the docs that focus on jitpack, and shows how you can have a camel-k java route use a few other .java files that are build via jitpack into a JAR that camel-k then includes as dependency.

Its a bit unclear how to do this today.

[2021-06-09 13:58] squakez opened #2384 "Cannot use camel-util dependency"
I am trying to run an integration with `-d camel:util` dependency and I am getting a built time error:
[code]

[2021-06-09 13:58] squakez commented on #2384
I'm already looking at it

[2021-06-09 14:42] squakez commented on #2384
Not a bug. This library is not meant to be used by the Integration.

[2021-06-09 14:42] #2384 closed

[2021-06-09 16:25] phantomjinx commented on #2358
Latest implementation carries through the `--registry none` and implements 3 changes:
- platform.Spec.Registry.Address = Disabled
- platform.Spec.BuildPublsihStrategy = Disabled
- platform.Spec.BuildStrategy = Disabled

This seemed logical since the registry is required for `BuildPublishStrategy` and since one of the active types of `BuildPublishStrategy` are required for `BuildStrategy`. If this

[2021-06-09 17:43] astefanutti commented on #2000
Fixed with #2377.

[2021-06-09 17:43] #2000 closed

[2021-06-10 04:31] tadayosi opened #2387 "Use Nexus repository mirror by default to speed up e2e testing"
Each e2e test by design runs in a dedicated namespace with a new Camel K operator installation, which means no kit caches are available and every integration run fires downloading jars from maven central repeatedly. Introducing Nexus mirror for e2e testing would earn some amount of computing time for CI and local e2e runs.

[2021-06-10 05:23] #2223 closed

[2021-06-10 06:31] tadayosi commented on #2387
Hmm it earns just _7mins_ for openshift-build on CI. But maybe still worth applying as it will also speed up local e2e testing as well and network friendly.

**before:**
![Screenshot from 2021-06-10 15-27-26](https://user-images.githubusercontent.com/156692/121475588-92678280-ca00-11eb-990b-c29a942c9ab7.png)

**after:**
![Screenshot from 2021-06-10 15-28-01](https://user-images.githubusercontent.c

[2021-06-10 06:36] #2380 closed

[2021-06-10 08:11] tadayosi opened #2391 "`kamel run --maven-repository` doesn't work when we have `@mirrorOf=*` at `kamel install`"
To reproduce (substitute `http://nexus.nexus/repository/maven-public/` with the repo manager you setup in your cluster):
[code]
and the integration fails to run due to:

{"level":"info","ts":1623312649.513057,"logger":"camel-k.maven.build","msg":"Building camel-k-integration 1.5.0-SNAPSHOT"}
{"level":"info","ts":1623312649.5132287,"logger":"camel-k.maven.build","msg":"-----------------------------

[2021-06-10 14:08] astefanutti commented on #2358
That is correct.

The use case it to run an Integration using a pre-built image. Obviously, this pre-built image has to comply with the Camel K runtime contract (that is not documented ;). As an easy way to write an e2e test for this, I think we could re-use any existing test, and add a subsequent test that would re-deploy the same Integration, by re-using the previously built image, and make sure

[2021-06-11 09:31] tadayosi commented on #2387
Done with #2392

[2021-06-11 09:31] #2387 closed

[2021-06-11 12:35] astefanutti opened #2394 "ImagePullSecrets are not configured when the Integration is running"
The PullSecret trait only applies when the Integration is deploying. It should also apply when the Integration is running, to maintain the configuration of the Deployment `ImagePullSecrets`.

[2021-06-11 12:36] astefanutti commented on #2394
/cc @claudio4j @bouskaJ

[2021-06-11 12:44] orpiske opened #2395 "Log warnings with kamelets"
When using Kamelets I have these on the logs. I think we need to investigate this:

[code]

[2021-06-11 12:57] orpiske opened #2396 "Kamelets: configuration does not seem to cascade to the integration"
I have a kamelet binding defined as below. It includes a section for configuring a property on the integration but it does not seem to cascade to the integration:

[code]

Alternatively I tried to use:

[code]

However, it also does not cascade.

[2021-06-11 12:58] orpiske commented on #2396
The expectation, here, would be the code to display the debug level messages ... but it does not seem to be the case.

[2021-06-11 13:11] nicolaferraro opened #2397 "Delete knative warning when Knative is not installed"
The operator prints periodically this info:

[code]

It looks like an error, while it's not. That log should be suppressed.

[2021-06-11 16:23] #2132 closed

[2021-06-13 20:04] ilan-pinto opened #2400 "02-serverless-api example fails in the camel-k-examples repo"
when triggering the deployed route, I get the below error
the amazonaws classes are not recognized

[1] 2021-06-10 12:00:15,150 INFO  [org.apa.cam.k.lis.SourcesConfigurer] (main) Loading routes from: SourceDefinition{name='MinioCustomizer', language='java', location='file:/etc/camel/sources/MinioCustomizer.java', }
[1] 2021-06-10 12:00:15,629 ERROR [org.apa.cam.qua.mai.CamelMainRuntime] (main) Fai

[2021-06-13 20:04] ilan-pinto commented on #2400
you can assign it to me. ill fix it

[2021-06-13 20:37] oscerd commented on #2400
A comment is enough. We usually give assignee permissions to contributors more active in the long term. In this case the comment is enough. Thanka

[2021-06-14 05:47] ilan-pinto commented on #2400
Can I still try to fix it?

On Sun, Jun 13, 2021, 11:37 PM Andrea Cosentino ***@***.***>
wrote:

[2021-06-14 05:53] oscerd commented on #2400
Yes, you can. I meant to say that currently we cannot assign the issue to you, because you're a new contributor, also you need to be in ASF organization before being able to assign issue to yourself or to be assigned. You can work on this for sure, thanks!

[2021-06-14 06:21] #2394 closed

[2021-06-14 10:10] sdirbach commented on #2379
Hi,

I did some debugging and found that the _Status.Phase_ field is set to _v1.IntegrationPhaseUpdating_ before actually updating the integration:
https://github.com/apache/camel-k/blob/release-1.4.x/pkg/cmd/run.go#L604

The status subresource of the CRD seems to be restricted to cluster admins and operators only. Shouldn't that also be allowed to users which have a namespaced admin role and/or a

[2021-06-14 10:16] johnpoth opened #2405 "kamel uninstall should uninstall everything by default"
It would be cool if `kamel uninstall` uninstalls everything by default. This would require having the `--all` flag default to true or removed.

It would also be nice if extra flags weren't needed  to achieve a complete uninstall e.g. `--olm=false`

[2021-06-14 10:33] astefanutti commented on #2379
Thanks a lot for the analysis. How exactly did you install Camel K, with the CLI or OLM?

With the CLI, that is with `kamel install`, the following roles are supposed to be aggregated to the `admin` role:

https://github.com/apache/camel-k/blob/df0216f28bb461e1b1aea77d8991ab0815690db5/config/rbac/user-cluster-role.yaml#L29

I would expect the _wildcard_ syntax to include the sub-resources, as it's

[2021-06-14 10:39] astefanutti commented on #2379
Could you provide the output of:

[code]

[2021-06-14 11:49] sdirbach commented on #2379
Camel K was installed throgh OLM

I attached two executions of the can-i command. The first [can-i-default.log](https://github.com/apache/camel-k/files/6648040/can-i-default.log) is the default installation. The second
[can-i-with-role.log](https://github.com/apache/camel-k/files/6648043/can-i-with-role.log)
 is after creating a custom role named foo [role-foo.yaml.txt](https://github.com/apache/c

[2021-06-14 12:02] astefanutti commented on #2379
Thanks. OLM is responsible for creating the aggregated roles for API resources it installs from CRDs:

https://github.com/operator-framework/olm-docs/blob/15cf01d3550e3ffc6861f9ade373081809276822/content/en/docs/Concepts/crds/operatorgroup.md#rbac

I haven't double checked it, but from the understanding that I have of the following section:

is that the generated aggregating roles do not grant per

[2021-06-14 12:37] sdirbach commented on #2379
Yes looks like OLM ignores the /status subresource while creating these roles.

Maybe status should only be updated by the operator and not by any tooling?

[2021-06-14 12:55] astefanutti commented on #2379
That's a very good question! From a theoretical standpoint, I agree the `status` sub-resource should only be updated by the operator. In your use case, the CLI sets the Integration in a specific phase, to make the operator aware it should not perform any operation on the Integration, in order to avoid conflicting changes.

I would rather propose to use patching with optimistic locking if needed, i

[2021-06-15 06:48] astefanutti opened #2408 "Migrate CronJob to `batch/v1`"
CronJob API has been promoted to v1 in Kubernetes v1.21, and `batch/v1beta1` is deprecated. The Cron trait should be migrated.

[code]

[2021-06-15 07:52] nicolaferraro commented on #2400
Fixed, thanks!

[2021-06-15 07:52] #2400 closed

[2021-06-15 11:17] lburgazzoli opened #2409 "kamelet binding: support for openapi ?"
placeholder, I'll add some more details later ...

[2021-06-16 12:04] #1533 closed

[2021-06-16 12:04] #1534 closed

[2021-06-16 12:04] #1831 closed

[2021-06-16 12:04] #2003 closed

[2021-06-16 14:43] #2379 closed

[2021-06-17 07:52] lburgazzoli opened #2414 "trait(jvm): option to add additional classpath elements"
Assuming one uses the PodTemplate mechanic or define a custom base image with some preloaded maven artifacts or resources, it would be nice to have an option to configure additional classpath elements, like:

[code]

[2021-06-17 07:53] lburgazzoli commented on #2414
@astefanutti @nicolaferraro make sense ?

[2021-06-17 08:01] squakez commented on #2414
I can work on this.

[2021-06-17 09:49] apupier commented on #2157
Kubernetes 1.22 is planned for the 4th August: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.22#tldr

[2021-06-17 13:16] squakez opened #2417 "(cmd/run) Support quotes in resource/config file option"
`kamel run --resource file:"some path" ` is failing as the regexp is considering the `"` as part of the path.

[2021-06-17 13:16] squakez commented on #2417
I am working on it

[2021-06-17 13:16] squakez commented on #2417
cc @apupier

[2021-06-17 13:33] catshout opened #2418 "Groovy script JSON paring runs into java.util.ServiceConfigurationError: org.apache.groovy.json.FastStringServiceFactory: org.apache.groovy.json.DefaultFastStringServiceFactory not a subtype"
We're using Camel-K 1.4.0 on a GCP k8s service.

The following route

[code]

started with

[code]

runs into an error

[code]

The same route runs properly with Camel 3.9.0 on Karaf 4.2.9.

[2021-06-17 14:58] lburgazzoli commented on #2418
@catshout can you provide the dependencies resolved by camel-k for this integration ? they should be listed in the integration kit associated to the integration

[2021-06-17 15:35] catshout commented on #2418
@lburgazzoli could you please give me a hint how to figure this out?

[2021-06-17 16:24] lburgazzoli commented on #2418
So every integration has a reference to an IntegrationKit (there should be a kit or integrationKit field in the integration status).

Then

  kubectl get integrationkit ${integrtion-kit-name} -o yaml

[2021-06-17 17:53] catshout commented on #2418
Voilà

[code]

[2021-06-18 05:42] lburgazzoli commented on #2418
@catshout the status should contains also an "artifacts" section, something like:

[code]

can you add that too ?

[2021-06-18 07:23] catshout commented on #2418
@lburgazzoli sorry, I missed these parts, have added the full output

[2021-06-18 07:42] lburgazzoli commented on #2418
ok, do you mind trying with groovy 3.0.5 ?

[code]

I got strange result when different versions of groovy where on the classpath.

BTW, I think the issue should have been solved in the latest releases as I'm not able to reproduce it with the latest camel-k-runtime (see as example, https://github.com/lburgazzoli/camel-k-runtime-example-xml).

But we'll add an integration test for this

[2021-06-18 09:22] catshout commented on #2418
@lburgazzoli I've tried with groovy 3.0.5, same result unfortunately. Is this possible to get a newer camel-k on our cluster to test this as well?

[2021-06-21 09:08] astefanutti commented on #2414
That makes sense. Thinking quickly about the custom image use case, I wonder if that could be useful if the image could also provide that kind of information. For example, the operator could configure some traits by querying the container registry API for labels. From the end users standpoint, that would serve the same purpose as modeline I guess...

[2021-06-21 09:14] lburgazzoli commented on #2414
could be an option, was also wondering if we could have something like the kamel cli config file but for the runtime to be be placed somewhere in the container image, like before starting up the runtime, we process i.e. `/etc/camel/config.yaml` and we act according.

[2021-06-21 09:17] astefanutti commented on #2414
Right, I thought about it too. The only thing I'm not sure, is that in that case, the operator may have to download all the image layers locally in order to resolve that manifest file. I think it'd be more elegant from an end-user perspective compared to labels, but we have to make sure to clean after ourselves, or maintain a cache.

[2021-06-21 10:21] squakez commented on #1838
The link referred in this issue was deleted after #2003. I can work on this issue in order to find the right place for documenting this feature.

[2021-06-21 13:11] #2417 closed

[2021-06-22 06:46] astefanutti commented on #2343
Fixed with #2424. Thanks!

[2021-06-22 06:46] #2343 closed

[2021-06-22 07:45] squakez commented on #2414
I've just checked it and we already can use a generic configuration (`options`) for this trait to accomplish the goal:
[code]
We may introduce an additional `classpath` option to simplify the generic one, though I think that simply documenting the `trait` would be enough.

@astefanutti @lburgazzoli wdyt?

[2021-06-22 07:49] astefanutti commented on #2414
@squakez I'm not sure if I remember it correctly, does the JVM accept multiple occurrences of `-cp` option? If yes, I agree it could used as a solution, as long as we guarantee _platform_ entries and _user_ entries are properly merged and deduplicated.

[2021-06-22 07:51] squakez commented on #1815
In latest version 1.5 we're introducing a different way to manage `secret` and `properties`. You may have a look at the examples here to see how we're setting `SSLContextParameter` with the new configuration: https://github.com/apache/camel-k/tree/main/examples/http

[2021-06-22 07:54] squakez commented on #2414
It does not complain, but the value taken is the last argument, so, it would not work. Also, I did not take in consideration the possible merge or de duplication, that won't be considered if using separate arguments. I'm going to fix this shortly then. Thanks.

[2021-06-22 07:57] astefanutti commented on #2414
Yes, that confirms what I remember from my past experiments.

[2021-06-22 08:26] nicolaferraro commented on #2414
Would it work if we require that the external image uses a (e.g. "CLASSPATH" or "CAMEL_K_CLASSPATH") env var and we pick it at container startup, inline in `cmd`, merging that with operator deps if needed? (We already have a custom command that prints the actual command)

[2021-06-22 09:05] tadayosi opened #2428 "Drop support for minishift?"
Today I tried minishift but it no longer woks for me (got the following error). Is there anyone who can/does still use minishift with Camel K?  Otherwise it's good time to drop documentation and installation method (script) for minishift.
[code]

[2021-06-22 09:09] squakez commented on #2428
Yeah, I agree. I think we should drop support and remove all the docs related. I've tried many times in the recent past and never succeeded.

[2021-06-22 09:15] davsclaus commented on #2428
Yes drop it

[2021-06-22 09:19] astefanutti commented on #2428
Relates to #1550. CI still relies on it, so it's surprising it doesn't work. We keep it as it's the only workflow that covers RBAC. However, any references from the documentation should be removed.

[2021-06-22 09:21] tadayosi commented on #2428
@astefanutti If I'm not mistaken, CI just uses an old version of `oc` and relies on `oc cluster up`, not `minishift`. Here I'm just talking about minishift. I think it's ok to keep OpenShift 3 support.

[2021-06-22 09:23] astefanutti commented on #2428
@tadayosi ah right, I inferred OpenShift 3 🙃. Sounds good.

[2021-06-22 09:26] #2347 closed

[2021-06-22 15:25] #2414 closed

[2021-06-23 05:20] tadayosi commented on #1550
Should we give this a try?
https://github.com/redhat-et/microshift

[2021-06-23 05:35] #2428 closed

[2021-06-23 07:48] #2271 closed

[2021-06-23 08:34] davsclaus opened #2432 "Publish camel-k 1.4 documentation to website"
We only have latest today, but 1.4 is much in use, so lets get a 1.4.x on the website.

[2021-06-23 09:17] #1502 closed

[2021-06-23 09:21] #1838 closed

[2021-06-23 10:27] astefanutti commented on #1550
Yes, it seems worth trying. It's not very clear what are the differences / limitations compared to vanilla OCP, but the documentation mentions testing as a possible use case:

[2021-06-23 13:05] astefanutti commented on #2432
Fixed with #2434.

[2021-06-23 13:05] #2432 closed

[2021-06-23 13:11] astefanutti opened #2435 "Versioned documentation"
To enable existing users, resp. early adopters, to have access to their version of the documentation, resp. the latest version, readily available, while promoting contributions to the documentation _best-so-far_, versioning should be setup to publish Camel K documentation, as for other Camel sub-projects.

[2021-06-23 14:29] lburgazzoli opened #2436 "kamelet biding annotation should be propagated to the integration"
I have a KameletBinding create with the following traits configured via annotations

[code]

The generated integration does not contain the same annotation, thus the traits are not applied:

[code]

[2021-06-23 16:59] jeffgbradley2 opened #2437 "No endpoint found for Smooks after explicitly adding dependency with kamel"
The following route contains a Smooks endpoint.

[code]

The Smooks component is located in the `smooks-camel-cartridge` maven artifact. We have used it with Camel in this manner and are hoping to use it with Camel K.

Following the Camel K docs,  that dependency, other required Smooks dependencies, and the `smooks-config.xml` resource file are added to the build with the following `kamel` command

[2021-06-24 07:35] davsclaus opened #2439 "Cron Trait - Should use max idle seconds to auto terminate instead of max messages"
See chat
https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Cron.20and.20duration.20max.20messages

pkg/trait/cron.go:              e.ApplicationProperties["camel.main.duration-max-messages"] = "1"

Should be

pkg/trait/cron.go:              e.ApplicationProperties["camel.main.duration-max-idle-seconds"] = "5"

[2021-06-24 08:32] astefanutti commented on #2435
So I've just checked, and it's all handled by making sure we apply the same change as in #2434 for each release we want to have documentation published:

<img width="253" alt="Screenshot 2021-06-24 at 10 27 52" src="https://user-images.githubusercontent.com/366207/123229971-1593d880-d4d7-11eb-840f-d58ae89a0eb5.png">

We have no excuses not to make great documentation 😄!

[2021-06-24 08:32] #2435 closed

[2021-06-24 09:37] nicolaferraro opened #2441 "Parameters in YAML DSL are not recognized"
And this makes traits such as cron and knative to not work as expected, because the operator skips them.

So, e.g. this works:

[code]

But this doesn't:

[code]

Even if they are equivalent at runtime level, they are not at operator side.

[2021-06-24 11:46] #2441 closed

[2021-06-24 12:31] #2291 closed

[2021-06-24 19:55] claudio4j opened #2444 "Trying to use bean method call #class:com.mongodb.client.MongoClients#create("mongodb://foo") throws ClassNotFoundException"
To create a custom mongodb connection using MongoClient in a kamelet throws a `ClassNotFoundException`

The MongoClient is created like:
[code]
Setting the bean in a kamelet
[code]

Also tried with `#type` in place of `#class`, but same error occurs.

Causes
[code]

[2021-06-24 20:38] lburgazzoli opened #2445 "If the pod is in CrashLoopBackOff, the phase is reported as Running"
I have the following scenarion:

[code]

so the POD is not ready for an internal error but the phase of the integration is still reported as `Running` and the kamelet binding as `Ready`:

[code]

I wonder if we can ave a better way to report that the pod is not running.
By looking at the integration resource only, one may mistakenly think the integration is running but it is not.

[2021-06-24 20:38] lburgazzoli commented on #2445
/cc @astefanutti @nicolaferraro

[2021-06-24 20:55] lburgazzoli commented on #2445
Additional info:

The _Integration_ has a condition where type=ready and status=false

[code]

But the parent _KameletBinding_, does not reflect such status:

[code]

[2021-06-24 21:27] lburgazzoli opened #2446 "propagate labels to deployments and pods"
I've configured a _KameletBinding_ to propagate some labels to generated resources, ad that work till the _Integration_:

[code]

Those labels are then not propagated down to the POD:

[code]

it would be nice to get such labels propagated to each direct or indirect generated resource

[2021-06-24 21:27] lburgazzoli commented on #2446
/cc @astefanutti @nicolaferraro

[2021-06-24 22:24] lburgazzoli commented on #2437
I think this happen because there's no extension for quarkus so the FastFactoryFinder cannot find it.

@ppalaga @jamesnetherton  I wonder if we should have the FastFactoryFinder to optionally fallback to the classic camel factory finder mechanic for this bring your own component use case.

[2021-06-25 05:16] davsclaus commented on #2444
Yeah unfortunately using factory methods is not supported yet when using `#class:` syntax

[2021-06-25 05:17] davsclaus commented on #2444
Created a ticket
https://issues.apache.org/jira/browse/CAMEL-16759

[2021-06-25 05:22] davsclaus commented on #2444
Instead you can use a script to create the bean

[code]

[2021-06-25 07:27] davsclaus commented on #2444
@lburgazzoli did we get rid of the duplicate code in camel-quarkus that setup local beans, eg I think in the past we had some code from camel-core copied over to camel-quarkus.

I am asking because I update the camel-core to add support for the #class with factory method in the `DefaultModel` class
https://github.com/apache/camel/commit/fa51da1029effa00b378293154a93d297c6c88af

The stacktrace in t

[2021-06-25 07:29] davsclaus commented on #2444
Camel 3.12 now supports the factory method (must be public static). You can include the return type class of the created bean (if you want) as that allows Camel to know its type for dependency injection, otherwise it becomes a Object type. You do this with the `bean-type` as shown:

[code]

[2021-06-25 07:30] lburgazzoli commented on #2444
As far as I remember yes we don't hvae the duplication anymore, but @jamesnetherton knows better

[2021-06-25 07:33] jamesnetherton commented on #2444
Yeah, there is no duplication anymore. I don't think that change made it into CQ 2.0.0-M2, so it'll be there from 2.0.0 onwards.

[2021-06-25 07:35] nicolaferraro commented on #2446
I think there's a trait to control that: `owner.target-labels`...
May we change the default to transfer them all?

[2021-06-25 08:10] lburgazzoli commented on #2446
This stops at the Integration level, pods and deployment does not have such labels propagated (unless I missed something)

[2021-06-25 12:58] claudio4j commented on #2445
Just yesterday [I pushed a change](https://github.com/apache/camel-k/pull/2292) to update integration status related to Deployment status, which in this case the kameletbinding and integration sets the Phase as Error.
[code]
Can you try with a recent camel-k-operator build ?

[2021-06-28 07:23] tadayosi commented on #1550
Let me work on it a bit. Another potential option worth evaluating is:
https://github.com/code-ready/snc

[2021-06-29 08:12] ppalaga commented on #2437
It seems to be a valid use case. Although, I wonder whether we shouldn't rather encourage end users to create proper Quarkus extensions for their custom components so that they can leverage all the advantages that it brings? In this particular case the extension would be quite trivial and to make it viable for end users, we'd "just" need to document it.

[2021-06-29 08:14] ppalaga commented on #2437
I have filed https://github.com/apache/camel-quarkus/issues/2855

[2021-06-29 09:16] apupier opened #2462 "Provide tag for Camel K examples repository"
The repository https://github.com/apache/camel-k-examples doesn't have tag. Having a tag will allow to known with which version the example is compatible with.

[2021-06-29 09:18] apupier opened #2463 "Update Camel K Serverless api examples to not use --property-file"
The example https://github.com/apache/camel-k-examples/blob/main/02-serverless-api/ is using property-file deprecated option in 2 files:

https://github.com/apache/camel-k-examples/blob/b50a18ccc8ee3fcf677e99ca33ef347fede86707/02-serverless-api/test/yaks-config.yaml#L14

https://github.com/apache/camel-k-examples/blob/main/02-serverless-api/readme.didact.md

[2021-06-29 09:18] apupier commented on #2463
https://github.com/apache/camel-k-examples/pull/32

[2021-06-29 09:18] squakez commented on #2462
I'd suggest instead to archive that as we are aiming to promote Kamelet catalog instead.

[2021-06-29 16:50] phantomjinx commented on #2358
PR -> https://github.com/apache/camel-k/pull/2464

[2021-06-29 21:37] claudio4j opened #2466 "Duplicated trait set as modeline and kamel run parameters causes error"
executing this command:

[code]

I got this message:

[code]

Metrics.java is taken from: https://github.com/apache/camel-k/blob/main/e2e/yaks/openshift/monitoring/Metrics.java .
It seems the "enabled" property is both inferred from the integration and got from command line, causing a sort of double specification error ("type '[]string'").

[2021-06-30 08:46] pilhuhn opened #2468 "Oddity in channel name"
I have this route definition https://gist.github.com/pilhuhn/97cf0bfaec2d3d5a78ccaa13ee31581f and when doing `kamel run` I get the following error:
I am pulling in the dependency via jitpack

`[1] 2021-06-30 07:06:24,289 ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.IllegalArgumentException: Unable to find a resource definition for channel/sink/re

[2021-06-30 12:36] singalvasudha opened #2469 "kamel run command creates 2 pods"
Everytime when I use the "kamel run" command it creates 2 pods. The first pod is terminated when 2nd pod is started. There is barely seconds difference between starting of 2nd pod and terminating of 1st pod. I also see 2 replicasets being created every time "kamel run" command is executed. 1st replicaset is scaled down when 2nd replicaset is created.

Please see output of below command:

kamel run

[2021-06-30 12:39] squakez commented on #2469
I think it's the rolling deployment strategy. The 1st pod is terminated when the 2nd pod (updated integration) is up and running.

[2021-06-30 12:41] singalvasudha commented on #2469
Rolling deployment happens on existing pods. The pods were not existing before. This command is being run for the first time.

[2021-06-30 12:44] squakez commented on #2469
Okey, then it looks strange. I'm having a look.

[2021-06-30 12:59] squakez commented on #2469
I've just tried locally with `minikube` and version `1.4`. Cannot reproduce the issue.
[code]
The second `Pod` take over when I make a change on the source file (as it is expected in the `--dev` option).

What version and what platform are you running? Do you have by any chance an editor or any other process open the integration file? The `--dev` is controlling any change happening on the file, an

[2021-06-30 13:04] nicolaferraro opened #2470 "Release 1.5.0"
Time has come.
I can try cutting a release on Friday morning (CEST).

[2021-06-30 13:04] oscerd commented on #2470
+1

[2021-06-30 13:04] nicolaferraro opened #2471 "Release 1.4.1"
There are many changes backported. I'm doing a patch release soon.

[2021-06-30 13:11] singalvasudha commented on #2469
This seems to be working fine on minikube. However I am running Apache Camel k client version 1.4.0 and deploying it on Kubernetes cluster (as per screenshots below):

![Camel k version](https://user-images.githubusercontent.com/30008298/123966138-be0fd400-d9d2-11eb-9bdb-51addea86558.JPG)

![Kubernetes version](https://user-images.githubusercontent.com/30008298/123966171-c536e200-d9d2-11eb-92f1-d2

[2021-06-30 13:24] squakez commented on #2469
Thanks for the info. Would you mind running the same integration but without `--dev` to confirm if it presents the same behavior? It would be helpful to the investigation. Also, can you confirm that you're running the CLI from a `Windows` OS (as I can see from some trace)?

[2021-06-30 13:45] singalvasudha commented on #2469
The issue still persists without using `--dev` option. I am using Git Bash tool `$ git --version` git version 2.31.1.windows.1 (Windows 10).

[2021-06-30 14:35] zhfeng opened #2472 "Revisit saga example"
It throws an Exception currently
[code]
and I think it should be related to [CAMEL-16756 Improve handling of Vert.x Buffer payloads in platform-http-vertx](https://issues.apache.org/jira/browse/CAMEL-16756) and it looks like be fixed in camel-3.12.

It needs to revisit the saga example when upgrade the camel to 3.12

[2021-06-30 14:46] jamesnetherton commented on #2472
It should be fixed when camel-k upgrades to Camel Quarkus 2.0.0, as I added a [workaround](https://github.com/apache/camel-quarkus/pull/2846) until Camel 3.11.1 / 3.12.0 is released.

[2021-06-30 15:13] nicolaferraro commented on #2471
## Changes

- Fix(build): Default to routine build strategy for local IntegrationPlatform ([#2243](https://github.com/apache/camel-k/pull/2243), [@astefanutti](https://github.com/astefanutti))
- Backport logging trait feature to fix GH issue #2000 ([#2260](https://github.com/apache/camel-k/pull/2260), [@orpiske](https://github.com/orpiske))
- Feat: Kamelet Binding error handler ([#2266](https://gi

[2021-07-01 01:57] tadayosi opened #2473 "Make sure Camel K runs on Microshift"
One of the possible migration paths after dropping OCP 3.11 on CI (#1550) is [Microshift](https://github.com/redhat-et/microshift). Let's kick the tires and make sure Camel K runs on Microshift.

[2021-07-01 06:19] #2437 closed

[2021-07-01 08:01] nicolaferraro commented on #2468
Hi @pilhuhn can you give more information about the environment?
Iirc, when a single sink is present, Camel K tries to use Knative sinkbinding. So you should be able to find it when running `kubectl get sinkbindings`.

Can you provide the output of `kamel dump` on the namespace, or specifically `kubectl get pod  -l camel.apache.org/integration -o yaml`. I'm wondering if the binding has been applie

[2021-07-01 08:19] pilhuhn commented on #2468
@nicolaferraro I'll assemble the information in a minute. What puzzles me is that the example in the gist fails, while the pasted one works, even if they both have the same `-to uri:` entry.

[2021-07-01 08:33] pilhuhn commented on #2468
[code]
Camel-K 1.4

[2021-07-01 08:37] pilhuhn commented on #2468
[code]

[2021-07-01 10:15] nicolaferraro opened #2474 "Debug seems not to work on knative pods"
The port-forward seems not to be opened correctly, maybe because of the double pod.

[2021-07-01 12:23] pilhuhn commented on #2468
( Talked with Nicola )  That is apparently an issue in the operator.

[2021-07-01 12:30] squakez opened #2475 "[cmd] kamel run github|http|... fails on windows machine"
Executing `kamel.exe run github:apache/camel-k/e2e/common/files/Java.java` on a windows machine will fail with following error:
[code]
This is caused by the fact that we don't distinguish a generic URI with a scheme and a file. On Linux os it does not report as an error as we assume a file not found, but on windows, the golang libraries will report an error as they expect a file path starting with

[2021-07-01 12:31] squakez commented on #2475
I am already working on the fix

[2021-07-01 15:16] #2468 closed

[2021-07-02 09:26] nicolaferraro commented on #2470
# Release Notes

- chore: Remove Camel Sources support from Knative trait [\#2460](https://github.com/apache/camel-k/pull/2460) ([astefanutti](https://github.com/astefanutti))
- chore: Update embedded camel-catalog-1.8.0-SNAPSHOT.yaml [\#2459](https://github.com/apache/camel-k/pull/2459) ([astefanutti](https://github.com/astefanutti))
- chore: Remove unsupported probe-path property from container

[2021-07-02 10:17] nicolaferraro commented on #2470
Release of the kamelet catalog and the runtime are done. Full Camel K release will be completed during the weekend.

[2021-07-02 10:18] #2475 closed

[2021-07-05 09:54] nicolaferraro opened #2479 "Kamel uninstall should delete kamelets"
They're left intact in the namespace

[2021-07-05 10:31] nicolaferraro opened #2480 "kamel bind -o yaml creates wrong data"
Some data such as `kind` and `apiVersion` are missing from the output.

[2021-07-05 10:33] #2471 closed

[2021-07-05 14:50] drano opened #2481 "V1.5.0 release without assets"
I can see release 1.5.0 in https://github.com/apache/camel-k/releases but no assets related to this version. Is it normal?

[2021-07-05 14:52] oscerd commented on #2481
It is still on vote

[2021-07-05 14:53] drano commented on #2481
Where could I see votes about a release ?

[2021-07-05 16:02] oscerd commented on #2481
On the dev or users mailing list
https://camel.apache.org/community/mailing-list/

[2021-07-06 11:36] johnpoth opened #2482 "ServiceBinding CR sometimes doesn't get created"
ServiceBinding CR sometimes doesn't get created and the integration is stuck in phase `Waiting for Bindings`:

[code]

[2021-07-06 16:08] arthurdm commented on #1821
hey everyone - I agree with a lot of points made here from both sides.  There should be a way to reuse POJOs that is lightweight and doesn't require a lot of process, to enable development teams that are pulling from a common source repo within an organization.

At the same time, having all of those POJOs duplicated inside different CRs definitely can quickly hit size limitations.  I guess the CR

[2021-07-06 16:19] lburgazzoli commented on #1821
For my understanding, so that I can evaluate better, how this would be different from shipping some POJOs as jar ?

[2021-07-06 17:20] arthurdm commented on #1821
For me the two differentiators are:
* all of the code, including the core Route, lives outside of the Integration CR - thus removing the danger of running over the CR limit
* packaging the code and common POJOs in a container would remove the need for setting up a maven artifact for the POJO code

[2021-07-06 17:23] lburgazzoli commented on #1821
Yes but as a developer you have to create such container images, so ok it is not a maven artifact but still is an archive that you have to push somewhere, correct ?

[2021-07-06 17:34] arthurdm commented on #1821
The pattern we're using is via git submodules.  We have the common POJOs in a GitHub repo and new projects just add a submodule link to that - so it's all just code-based dependencies, we don't actually have to archive and push it anywhere.

[2021-07-06 17:38] lburgazzoli commented on #1821
But this is different from what I understood from previous comments, and I'm confused.
Can you explain me how the workflow of getting such code to camel-k would be and how it relates to container images ?

[2021-07-06 21:32] chenrui333 opened #2484 "kamel 1.4.1 build failure"
[code]

relates to Homebrew/homebrew-core#80613

[2021-07-07 10:23] stepan111 opened #2485 "ImagePullBackOff when node failed"
Hello,

First of all thanks for great project !

I am running camel-k integration on GKE cluster with preemptible nodes.(nodes recreated daily)

Currently I have to delete and apply integration  each time k8s migrate pod to other node because of `ImagePullBackOff` error:
[code]
I've added next triats to integration:
[code]
But it don't take affect on deployment made for this integration.

[code]
O

[2021-07-07 13:08] nicolaferraro commented on #2485
So, technically the pull secret is stored on the namespace and it should be shared among all nodes, so if a node is deleted and the pod (here we are in the Kubernetes domain, the Camel K operator should not interfere with that behavior) recreated on another node, the same pull secret used by previous node should be used by the new one. So I assume you're currently not using them but want to..

The

[2021-07-07 17:39] lburgazzoli opened #2486 "kamelet binding: make it scalable ?"
an Integration can be scaled, should we bring it to the KameletBinding too ?

[2021-07-07 17:40] lburgazzoli commented on #2486
/cc @nicolaferraro @astefanutti

[2021-07-07 19:29] ricardozanini commented on #1665
Hi @nicolaferraro, while this compatibility issue is not fixed, how do we integrate with knative?

[2021-07-08 07:43] nicolaferraro commented on #2486
Sounds reasonable.

[2021-07-08 09:47] nicolaferraro opened #2487 "kamel reset should not fail for integration missing due to owning kameletbinding removed"
Happened quite some times with 1.5. There's a KameletBinding called `timer-source-to-mysql-sink`. It's deleted but then the CLI tries to remove the integration (it should not, it's automatically cleaned up).

[code]

The problem is that the command stops and the environment is not completely reset.

[2021-07-08 10:38] #2482 closed

[2021-07-09 06:10] stepan111 commented on #2485
Yes @nicolaferraro , I am using pull-secret trait for integration.  Actually I see 2 pods created when I apply integration.
And I found that there are 2 replica sets :
[code]
And rs that contain imagPullSecret is scaled to 0:
[code]
Seems that both replicaSets are revisions of  deployment gmail made by integration :
[code]
And second revision doesn't contain imagePull secrets(maybe it is patched n

[2021-07-09 07:24] #2466 closed

[2021-07-09 10:08] #2470 closed

[2021-07-09 10:08] nicolaferraro commented on #2481
Released!

[2021-07-09 10:08] #2481 closed

[2021-07-09 19:33] chenrui333 commented on #2484
Gonna try out kamel 1.5.0 build now

[2021-07-12 09:43] tadayosi opened #2490 "Documentation for `kamel local run`"
I'm interested to know how we can use `kamel local run` but other than the command help there is very little documentation available for the subcommand. Can someone knowledgeable to the subcommand write documentation for it?

I'm mainly interested in:
* the main purpose,
* the prerequisites/preconditions, and
* the scope (limitations)

of the subcommand.

I once just tried `kamel local run example

[2021-07-12 10:16] squakez commented on #2484
I guess it depends on the operating system and the level of permissions of the account which is executing the build. Basically the [test](https://github.com/apache/camel-k/blob/main/pkg/cmd/util_test.go#L37) is assuming that there is a permission denied on accessing the `/root/` directory. I guess we may even remove it if we're not able to reproduce the same behavior on any system, or find a way t

[2021-07-12 10:37] squakez opened #2492 "DeadLetterURI Dependency autodiscover"
Within the introduction on the `KameletBinding` ErrorHandler we may need to enhance the yaml inspector in order to parse and add automatically a dependency on URIs exposed via `.errorHandler.bean.properties.deadLetterUri`. See https://camel.apache.org/camel-k/latest/kamelets/kameletbindings-error-handler.html#kameletbindings-error-handler-bean

[2021-07-12 12:30] squakez opened #2493 "[CMD] `kamel bind` empty error handler"
I think the test spotted an hidden issue:
[code]
Probably the `bind` operation is setting a `null` error handler, when instead it should be omitted as empty.

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/2461#issuecomment-878239462_

[2021-07-12 12:30] squakez commented on #2493
I am having a look at it. cc @vsokolov00

[2021-07-12 12:32] squakez opened #2494 "[CMD] `kamel bind --error-handler` feature"
We should include some way to specify an `errorHandler` in a similar manner of what we're already doing with `--step`.

[2021-07-12 15:03] vsokolov00 opened #2495 "kamel cli output redirection doesn't work for some commands"
### Cobra function `cmd.SetOut()` does not redirect output for some commands.
for command output redirection this function is used https://github.com/apache/camel-k/blob/d9230bd1f92d2839adb37f819132a2ecd6b92ee4/e2e/support/test_support.go#L1331

redirection works fine for `kamel get` `kamel kit` but the output of commands `kamel describe` `kamel help` `kamel dump` `kamel version` is not being redi

[2021-07-12 16:56] phantomjinx commented on #2358
*New* PR -> https://github.com/apache/camel-k/pull/2497

[2021-07-12 23:04] 2020testuser opened #2498 "Install Error"
Hi,
Could anyone please help me? When I install camel-k in the Kubernetes command, I'm getting this msg. How can I resolve this error? Thanks advance!!

`
kamel install --cluster-setup --registry=https://docker.repo1.uhc.com/ --wait

`
Output:
`
OLM is not available in the cluster. Fallback to regular installation.
Camel K cluster setup completed successfully
`

[2021-07-13 04:13] tadayosi commented on #2498
Looks like you are successful. `OLM is not available in the cluster. Fallback to regular installation.` just says OLM is not available in your cluster. As a next step, run `kamel install` and you'll see the camel-k operator up and running.

[2021-07-13 06:57] pilhuhn opened #2499 "`Kamel local` chokes on traits"
`Kamel run` supports traits via modline or `-t` flag.
The local build/run fails with them.

Local option should not fail -- especially if the trait is needed for in-cluster execution and given via modline

[code]

Same for `kamel local run`

[2021-07-13 08:47] squakez opened #2500 "[Doc] Trait annotations"
We should include some bit of documentation to illustrate how to use the new feature developed in #2165

[2021-07-13 09:44] pilhuhn opened #2501 "CloudEvent header mapping is confusing"
I am using Camel-K with knative.

Standard CloudEvent-headers show up in the header map with a `CamelCloudEvent` prefix, which is pretty unexpected.
Retrieving them as "normal" ( e.g. `ce-source`) fails.
Custom CE-headers show up without that prefix though (e.g. `ce-rhrouting`) :

`Headers: {Accept-Encoding=gzip, CamelCloudEventID=d1bd2700-a251-4dca-bce7-4cbb395bc281, CamelCloudEventSource=notific

[2021-07-13 09:49] lburgazzoli commented on #2501
The reason is that - as far as I remember - depending on the cloud event spec version that is used, some headers have different names so at least those from the spec are mapped to `CamelCloudEvent*`, others are untouched.

We could add an option to also include the raw values

[2021-07-13 09:53] squakez opened #2502 "[Doc] Feedback channels missing in contributing page"
We need to improve the landing page about [contribution](https://camel.apache.org/camel-k/latest/contributing/developers.html) in order to have a section including chat, mailing lists and other means to reach out.

[2021-07-13 16:16] lburgazzoli opened #2503 "container trait : add a flag to configure the image pull policy"

[2021-07-13 16:17] lburgazzoli commented on #2503
/cc @nicolaferraro

[2021-07-14 03:43] tadayosi commented on #2499
It's related to #2490. At this moment it's not clear what we can expect from `kamel local run`.

My feeling with this issue, however, is that it doesn't make sense to support traits with local run, as traits are mainly for adapting _remote_ platform differences, not _local_.

[2021-07-14 05:49] pilhuhn commented on #2499
My issue is that I have the traits in the modline. Removing them from there means I will later forget to add them in remote mode.
If they make no sense locally, a warning could be printed, but `kamel local build` should not abort.

[2021-07-14 06:23] oscerd commented on #2490
@doru1004 could give explanations and write some better documentation.

[2021-07-14 08:19] lburgazzoli opened #2504 "Integration / KameletBinding: include information about the running pods/deployments"
When inspecting a POD, information about individual containers are reported, like:

[code]

We should optional report similar information in an Integration and KameletBinding.

[code]

A new trait may be introduced to control such behavior, like

[code]

[2021-07-14 08:19] lburgazzoli commented on #2504
/cc @nicolaferraro @astefanutti @phantomjinx

[2021-07-15 14:34] #2493 closed

[2021-07-16 10:51] #2479 closed

[2021-07-16 17:25] lburgazzoli opened #2512 "Issue when trying to configure env vars with annotations"
I have a KameletBinding with some traits configured using environment vars:

[code]

The generated integration fails with:

[code]

[2021-07-19 14:35] Kyle-Cooley opened #2513 "Liveness and Readiness Probes not Supported When Using HTTPS"
When using https to secure internal communications, it is not possible to enable health and readiness probes.

https://github.com/apache/camel-k/blob/main/pkg/trait/container.go#L267
[code]

Note that `defaultContainerPortName` is set to `http` and in this scenario it has been set to `https` (does the name matter?).

[2021-07-19 14:48] christophd opened #2514 "camel-k-client tar.gz changes the uid/gid of cwd"
Installing kamel from the tarball as root might change the uid/guid of the current directory where kamel is being installed. This is because "." is included in the tarball.

[code]

Excluding "." from the camel-k tarball will solve the issue so only the relevant files are extracted on the users directory.

[2021-07-20 17:12] orpiske opened #2518 "Investigate Camel K deployment on k3d"
Basically, we need to investigate deploying and running Camel K on k3d. I tried it this week and it did not work. There's a brief mention about it as well by @johnpoth on the issue #2302.

[2021-07-21 06:13] #2514 closed

[2021-07-21 09:32] johnpoth commented on #2518
hi @orpiske works fine for me :) For basic clusters I use

`k3d cluster create camel-k --registry-create`

what kind of errors are you getting ?

[2021-07-21 12:04] orpiske commented on #2518
So, it looks like Camel K is trying to use HTTPs to access the registry, but, apparently, k3d uses only HTTP.

[code]

@johnpoth I actually reported this after verifying an issue that was raised to me by another user ... So I am glad to know it is working for you.

What version of Camel K and K3d are you using?

[2021-07-21 14:10] hguerrero commented on #2518
@johnpoth can you validate that it works on Mac OSX? It looks like the registry is not available from within the pod. This makes me think that there is a missing configuration. However, there are not enough logs to determine what is not reachable.

[2021-07-21 14:53] johnpoth commented on #2518
hello !

Ah yes that's known issue in k3d, unfortunately it doesn't seem to be resolved yet. I used the workaround described in https://github.com/rancher/k3d/issues/522 ,

Once setup you want to install Camel-k like so:

`kamel install --registry="k3d-camel-k-registry:37060" --registry-insecure=true`

Obviously, registry name and port may differ ... Let me know if you have any questions!

HTH

[2021-07-22 09:04] squakez commented on #2463
I think it can be closed now. @apupier?

[2021-07-22 09:19] #2463 closed

[2021-07-22 13:35] apupier opened #2520 "Reduce time for first Integration start"
During first integration deployment a lot of bom dependencies are downloaded. See https://gist.github.com/apupier/6a9fed422bba9b5fde85164055df89a8 With a simple timer example it can take 20 minutes on a not so fast network.

Maybe the container might be can be prepoluated with common ones?

[2021-07-22 13:37] fvaleri commented on #1632
@astefanutti I've already seen the validating admission webhook used to enforce multi-tenancy on K8s/OCP clusters and to handle nodes draining without service disruption in case of replicated stateful applications. For that reason, I think it is the right path.

[2021-07-22 13:42] squakez commented on #2520
I think it could be interesting to have a simple timer-2-log integration used to imprint the operator container. We would reduce the very first startup time. In any case I can expect 20 minutes in a local developer environment, not on a public cloud :)

[2021-07-23 11:17] pcg76 opened #2523 "camel-k-integration override provided groupId name in Kafka component"
When using the Kafka component and provide a groupId, the Kafka component does not use the provided groupId. It default to using "camel-k-integration" as the groupId for Kafka instead.

[2021-07-23 11:19] oscerd commented on #2523
This is coming from https://github.com/apache/camel-quarkus/issues/2901
It's fixed in camel-quarkus, so it will be once we update the camel-k-runtime.

[2021-07-23 12:21] squakez opened #2524 "KameletBinding error handler nil map"
Using version `1.5` and `latest` the operator may panic when trying to use a KameletBinding error handler. This is the logged exception:
[code]

[2021-07-23 12:21] squakez commented on #2524
I am already working on it

[2021-07-23 12:24] squakez opened #2525 "Runtime issue: cannot use KameletBinding error handler"
It appears the feature is broken when using either `1.5` or `latest`:
[code]
I think it's some change of type within the `camel-k-runtime` latest upgrade. Not yet sure though, it will need more investigation.

[2021-07-25 18:57] fredcoq opened #2528 "kamelet binding : camel controller fail reconcile the kafka sink resource."
**What is observed:**

Strimzi Kafka cluster and Camel controller are installed and healthy.
KafkaTopic: my-topic is created an healthy.
The KameletBinding minio-resource is submitted to the cluster.

The minio-source-binding is created but stay in pending state.

- Kubernetes ressource satus
[code]

- camel-controler pod log:
```{"level":"error","ts":1627235132.8817902,"logger":"controller-runtim

[2021-07-26 16:49] nicolaferraro opened #2530 "Error in OpenShift image-pull delegation on IBM Cloud"
The operator fails to create the RoleBinding that binds the `system:image-puller` `ClusterRole` to the integration service account (pull-secret trait).

This happens when the operator is installed globally and no `IntegrationPlatform` is created in the user namespace.

The final result is that the pod can't start (image pull error).

Operator logs:
[code]

[2021-07-26 17:00] nicolaferraro commented on #2530
Workaround is to manually create the following rolebinding:

[code]

Replacing `#your-namespace#` with each project where you want to run integrations.

[2021-07-26 17:07] rgordill opened #2531 "insecure=true does not work with base image"
See following log, where insecure=true is set, and still the base image repo is throwing a CA exception.

[code]

[2021-07-28 07:28] astefanutti commented on #2022
It should be fixed with #2532.

[2021-07-28 07:28] #2022 closed

[2021-07-28 09:52] catshout opened #2533 "Camel-K - uninstall and namespace deletion w/ k8s let all Camel-K Integrations in this namespace alive"
I've installed Camel-K in a namespace "camel-k" in a GCP (Google Cloud Platform) k8s cluster. As next I deployed 1 simple integration
[hello.zip](https://github.com/apache/camel-k/files/6886878/hello.zip)
in this namespace.

I performed the following commands to uninstall and re-install Camel-K

[code]

I'd expect that the Camel-K operator will become available but former Integrations in this name

[2021-07-28 15:09] kyal2000 opened #2534 "Component: AtlasMap - NullPointerException"
We already discussed this one on Zulip:

Dennis Wiesemann: I want to use a AtlasMap mapping in my Route
My Route looks as follows:
[code]
Run command: `kamel run --dev -n demo-case AtlasTest.java --source pricesJsonXml.adm --compression`

I'm getting this error: `AtlasMap context cannot initialize without mapping definition, ignoring: Mapping URI=null`
With an NullPointerException

Does anyone kno

[2021-07-29 14:59] jeffgbradley2 opened #2537 "Multiple of the examples fail on Minikube"
After pulling down the 1.5.0 examples and kamel program from [here](https://github.com/apache/camel-k/releases/tag/v1.5.0), and opening the polyglot folder, and running the kamel command according to the readme, the deployment fails.

➜  polyglot ./kamel run --name polyglot routes.xml beans.groovy JavaRoute.java --dev
Integration "polyglot" created
Condition "IntegrationPlatformAvailable" is "True

[2021-07-30 07:55] #2530 closed

[2021-07-30 09:37] tadayosi commented on #2520
While it doesn't improve the very first run, using Maven repository mirror in a cluster is a way to make subsequent runs faster.
I introduced this technique for local e2e testing:
https://camel.apache.org/camel-k/latest/contributing/e2e.html#using-nexus

[2021-07-30 09:41] tadayosi commented on #2520
Perhaps we can make Maven mirroring as the default option and preload a common set of camel jars into the mirror during kamel installation.

[2021-07-30 09:44] tadayosi commented on #2498
Can we close this?

[2021-07-30 13:16] christophd opened #2538 "CLI parameter does not overwrite application.properties"
Some Camel-K integration uses a modeline to define a property file like this
[code]

Properties defined as CLI parameters on `kamel run` should be able to overwrite these properties

[code]

So `foo.bar` property in application.properties should be overwritten. This is not working as expected with Camel-K 1.5.0.

[2021-08-02 08:45] lburgazzoli opened #2539 "trsit logging.json: "false" does not have effect if the integration includes quarkus-logging-json"
I have an integration configured to use a pre-built container image and where I have configure the logging trait to disabled json logging:

[code]

As the container image contains quarkus-logging-json, the trait `logging.json: "false"` does not have effect since the related env variable [is set](https://github.com/apache/camel-k/blob/main/pkg/trait/logging.go#L88) only if the value is `true` .

We

[2021-08-02 08:46] lburgazzoli commented on #2539
/cc @orpiske

[2021-08-02 08:47] orpiske commented on #2539
Thanks Luca, I will take care of this one!

[2021-08-02 11:48] orpiske opened #2541 "Evaluate/Cleanup logging trait dependency"
This is based on a suggestion from @lburgazzoli for cleaning up the quarkus json logging dependency. Quoting his suggestion:

- [x] make the quarkus-logging-json dependency as a transitive dependency of Camel to avoid changing dependencies on the trait code
- [x] also reconsider the default behavior (i.e.: what to do if the flag is not provided). @astefanutti [raised the point](https://github.com/

[2021-08-02 12:13] waytoharish opened #2542 "Trying to run Sample.java in Kind cluster"
Hi, I have created a K8 kind cluster as per instruction and now i am trying to run the Sample.java but getting the error-

NAME                                       READY   STATUS    RESTARTS   AGE
camel-k-kit-c43tlvqi27fd2e9tngt0-builder   0/1     Error     0          7m29s
camel-k-operator-5474f887c9-tbqc9          1/1     Running   1          7m52s

kamel run ./Sample.java --dev
Integration "s

[2021-08-02 12:45] squakez commented on #2534
Thanks for reporting, I'm going to have a look soon.

[2021-08-03 07:13] tadayosi commented on #2473
At this moment, Microshift lacks the internal image registry:
- https://github.com/redhat-et/microshift/issues/138
- https://github.com/redhat-et/microshift/issues/144

Camel K assumes the image registry is always available at `image-registry.openshift-image-registry.svc:5000` whenever it's a OpenShift cluster, so it doens't work on Microshift.

The Microshift team is working on the optional compo

[2021-08-03 07:52] #2524 closed

[2021-08-03 08:02] astefanutti commented on #2473
One idea to explore it further as a possible alternative for #1550 in the meantime it's worked out by Microshift team would be to deploy the internal registry ourselves using https://hub.docker.com/_/registry.

[2021-08-03 09:49] tadayosi commented on #2473
@astefanutti Ah nice idea!  I was rather thinking to customise the code of Microshift to directly add support for cluster-image-registry-operator, but using the same local registry used in KinD and exposing it as `image-registry.openshift-image-registry.svc:5000` sounds easier. Let me explore the idea a bit more.

[2021-08-03 09:52] astefanutti commented on #2473
Exactly. Also the `image-registry.openshift-image-registry.svc:5000` URL is just a default that's set during installation, it can be changed in the IntegrationPlatform if that makes things easier.

[2021-08-04 17:29] jeffgbradley2 commented on #2537
Still trying to get simple examples to run and failing. Only single java files seem to work, although I _can_ add a property file. XML files, Groovy files, do not work. For example:

After following the instructions for installation on Minikube found [here](https://camel.apache.org/camel-k/latest/installation/minikube.html) and [here](https://camel.apache.org/camel-k/latest/installation/installati

[2021-08-04 17:48] jsnouffer opened #2549 "Remove "attributeRestrictions" from operator-role.yaml"
The field "attributeRestrictions" is no longer a valid field for Role and should be removed from  camel-k/helm/camel-k/templates/operator-role.yaml.

Upon deployment, this field is dropped from the live spec. For those using ArgoCD to deploy this chart and utilize auto-syncing, ArgoCD will constantly try to re-sync this object, to re-add the missing field to the live spec.

[2021-08-05 04:48] tadayosi commented on #2473
With the custom docker registry and using `Spectrum` build push strategy I could build a kit into the registry. However, the integration pod creation fails with `ErrImagePull` error.

[code]

The error:

It must be related to the cluster's CoreDNS, but I haven't found a way to fix it. From a pod inside the same cluster the hostname resolves successfully:
[code]

[2021-08-05 07:47] tadayosi commented on #2473
OK, changing the service name of the custom registry to `image-registry.openshift-image-registry.svc` an integration starts to deploy!  It appears some extra configuration is required for CoreDNS to recognise if you want to use a different registry. For now, using the default name should be fine.

Note also we need to add `image-registry.openshift-image-registry.svc` to the insecure registries in

[2021-08-05 09:02] astefanutti commented on #2473
Awesome! I'd be curious to see how it behaves in GitHub Actions hosted runners!

Also, out of curiosity, does the monitoring stack come out of the box (in the `openshift-monitoring` namespace)?

[2021-08-05 09:24] tadayosi commented on #2473
Yes, my goal is to adapt it as a GH action and run it in a CI workflow.

In reality, the out of the box configuration is quite austere like this:
[code]
By default it's far from fully functional OCP environment. That's another reason why we might need to wait for https://github.com/redhat-et/microshift/issues/144 to be done from Microshift side.

[2021-08-05 10:49] #2549 closed

[2021-08-05 12:24] johnpoth opened #2553 "Upgrade Service Binding Operator to latest version"
Requires https://github.com/redhat-developer/service-binding-operator/issues/927 to be implemented as https://github.com/redhat-developer/service-binding-operator/issues/897 was dropped

[2021-08-08 15:58] lburgazzoli opened #2555 "integration platform: add conditions"
The integration platformn now, only set the phase when ready but it would be nice to also create a related condition so one could do:

    kubectl wait integrationplatform/camel-k --for=condition=Ready --timeout=300s

[2021-08-09 06:18] Abirdcfly opened #2556 "controller: panic on nil annotation"
[code]

the controller panic log
[code]
I will add a bugfix later.

[2021-08-09 06:19] Abirdcfly commented on #2556
#2557

[2021-08-09 13:11] squakez opened #2558 "Kamelet: default KameletBindings configuration settings"
When we use a `Kamelet`, we may be in the situation to apply certain configuration to the `KameletBinding` in order to properly use it. For instance, when we use the [`predicate-filter-action`](https://github.com/apache/camel-kamelets/blob/main/predicate-filter-action.kamelet.yaml) we need to apply some build time configuration such as:
[code]
I am wondering if we should include some mechanism to

[2021-08-09 13:23] lburgazzoli commented on #2558
For this particular case I believe the problem should be addressed in camel-k runtime or camel-quarkus as kamelets are not more a camel-k only feature so introducing some runtime specific bits to a kamelet would probably be not the best option

[2021-08-10 01:35] #2556 closed

[2021-08-10 06:47] lburgazzoli opened #2560 "KAMEL_INSTALL_DEFAULT_KAMELETS behavior"
This commit https://github.com/apache/camel-k/commit/a84667ae86051ebfa757038ea8293ed6d0283962 introduce the KAMEL_INSTALL_DEFAULT_KAMELETS option but it looks like this is a build time option, is there any chance to add this flag to the install command

[2021-08-10 06:48] lburgazzoli commented on #2560
/cc @nicolaferraro

[2021-08-10 13:12] squakez opened #2563 "Enhance file permission unit test"
Yeah, I think the problem is caused by how the CI is building the application. The best approach is indeed to work on improving the test in order to make it OS agnostic by creating a file and setting some privilege to deny access. I created it some time ago and I did not consider the impact on other systems that can build the application.

I am opening a follow up issue to work on such improvement

[2021-08-10 15:20] squakez commented on #2534
I've run the following route with version 1.5:
[code]
I've provided the configuration file expected by the route via `--resource`:
[code]
It's working as expected. Can you please attach the whole log to troubleshoot better the problem? Also, in order to confirm that the configuration file is correctly uploaded into the expected location, you can check by listing it via:
[code]
where `atlas-map-f44

[2021-08-10 19:20] hguerrero opened #2565 "Kamel bind produces incomplete yaml files with -o yaml"
When running `kamel bind ... -o yaml` the result is missing the `apiVersion` and `kind` lines.

Example:

[code]

produces the following output:

[code]

[2021-08-10 19:43] hguerrero opened #2566 "kamel bind does not support --connect for ServiceBinding"
When running `kamel bind...` I want to add the service binding trait for my binding, but it is currently not supported.

Example:

[code]

Result:

[code]

[2021-08-10 21:27] 2020testuser opened #2567 "topicName"
Hi,
Could anyone please let me know why the 'topicName' is a required field in the below yaml?
https://github.com/apache/camel-kamelets/blob/main/salesforce-source.kamelet.yaml

Also, if 'topicName' is a required field, how and where would I create the topic?

Thanks in advance!

[2021-08-11 12:57] #2525 closed

[2021-08-11 14:52] squakez commented on #2538
I've analyzed it and it's not really a bug as the modeline just convert the configuration into a full `kamel run` command. The real problem is that we don't consider precedence of a single property over a file properties. I think that by including it we will also fix the problem described in this issue.

[2021-08-12 13:31] squakez opened #2569 "Modeline, build-property not checking if option also provided by the user"
We missed to include the `--build-property` in the list of options to check if the user has already provided the same in the CLI (providing both values).

[2021-08-16 16:58] claudio4j opened #2574 "Read certificates from secrets to setup TLS config for route trait"
Currently route trait parameters `tls-certificate`, `tls-key`, `tls-ca-certificate`, `tls-destination-ca-certificate` expects certificates to set as string parameters, but that is a difficult to set as command line parameters, example:
[code]

This is a proposal to read certificates from secrets to setup TLS configuration for route trait.

[2021-08-16 17:09] squakez commented on #2574
With this approach, the certificates may be provided with different means (ie, volumes mounted) as well.

[2021-08-16 19:04] jeffgbradley2 opened #2576 "Google storage component doesn't work"
I can't get the simple Google Storage route below to work in Camel K.

[code]

When run in Camel K using the command below, the deploy succeeds but an error is thrown since the google component isn't available.

[code]

If I add the dependency, the deploy fails.

[code]

Why isn't Camel K automatically pulling the google-storage dependency, and why is it failing when the dependency is explicitly a

[2021-08-17 08:32] #2569 closed

[2021-08-17 08:52] johnpoth commented on #2576
Hi @jeffgbradley2, I can't reproduce using the `master` branch. What version of `camel-k` are you using ? The latest release is [v1.5.0](https://github.com/apache/camel-k/releases/tag/v1.5.0), Thanks !

[2021-08-17 08:53] oscerd commented on #2576
It's main branch now.

Il mar 17 ago 2021, 10:52 John Poth ***@***.***> ha scritto:

[2021-08-17 12:34] jeffgbradley2 commented on #2576
We've tried with 1.4.0 and 1.5.0, same results.

[2021-08-18 08:21] squakez commented on #2576
I've also tested the same with `1.5.0` and it's working as expected. The only thing is that it requires a `--build-property quarkus.google.cloud.project-id=test` to startup.

The dependency should be detected automatically. In order to troubleshoot it you can execute `kamel describe integration route` and see if the dependency was indeed included. Also, you may have a look at the `camel-k-operator

[2021-08-18 08:28] squakez commented on #2537
I've tested against `1.5.0` and it works on my environment:
[code]

[2021-08-18 08:29] squakez commented on #2537
I think you may have some problem in during the `Build` phase. Can you report the result of the build and the log of the `camel-k-operator`?

[2021-08-18 08:30] squakez commented on #2513
Closed by #2527

[2021-08-18 08:30] #2513 closed

[2021-08-18 08:48] squakez commented on #2512
According the [trait documentation](https://camel.apache.org/camel-k/latest/traits/environment.html), the trait is in charge to inject certain env variable, not to create any new one. The actual way to have it working would be to specify via `.spec.integration`, such as:
[code]
Perhaps you're suggesting to enhance the trait to include the possibility to declare the `env` via annotation?

[2021-08-18 08:59] lburgazzoli commented on #2512
@squakez yes you are right, I got confused by the description of the trait as it says:

    environment.[key]=[value]

but then there's no reference to the key word in the table (it uses Properties) so I tough, that adding env vars would work.

BTW, I think it would be valuable to be able to set env vars using a trait instead of the configuration section. @nicolaferraro @astefanutti @squakez what

[2021-08-18 09:01] squakez commented on #2512
I agree, we can probably move the `--env` logic into the `environment` trait.

[2021-08-18 09:07] lburgazzoli opened #2579 "Should we move to go 1.16 / 1.17 ?"

[2021-08-18 09:17] astefanutti commented on #2579
Based on my experience, I think it's safer to transitively follow the Golang version that is used by the current k8s version Camel K depends on.

[2021-08-18 10:05] lburgazzoli commented on #2579
Seems to be 1.16 from 1.21 right ?

[2021-08-18 10:09] astefanutti commented on #2579
Right, however we still depend on k8s 1.20, as we are held back by Knative that still depends on it, and cannot upgrade to 1.21 due to breaking changes. The path of least resistance would be to wait until Knative upgrade to 1.21, then we can upgrade to it, and to Golang 1.16 along with it.

[2021-08-18 10:54] squakez commented on #2542
It looks similar to what we experienced in #2241. Would you mind to report the log of the `camel-k-operator` pod and also the result of the build (`k get build -o yaml`).

[2021-08-19 08:07] #2500 closed

[2021-08-19 15:00] #2503 closed

[2021-08-19 21:37] hguerrero opened #2585 "Add the option to inject the integration container as a side car to another deployment"
When deploying an application it would be good to have the integration running on the same pod using the sidecar pattern to avoid additional network trips. Currently, the camel k operator is deploying the result container on its own but would be good to have the possibility to have it running in the same pod as another deployment.

[2021-08-20 09:43] #2565 closed

[2021-08-20 09:52] astefanutti commented on #2585
There is the _pod_ trait that enables adding sidecar containers to the integration pod(s): https://camel.apache.org/camel-k/latest/traits/pod.html#_example.

It's not "injecting" the integration container into existing Deployment / pods, but I think that achieves the same result.

[2021-08-20 13:08] johnpoth commented on #2396
Wanted to do the same thing, as an alternative you can do:
[code]

thanks !

[2021-08-20 15:24] hguerrero commented on #2585
@astefanutti this is promising, is there more docs on how it should be configured?

[2021-08-20 17:22] astefanutti commented on #2585
@hguerrero it's rather an advanced feature, and the only documentation is available at https://camel.apache.org/camel-k/latest/traits/pod.html.

In essence, you can pass a `template.yaml` file with the `--pod-template` option, that contains your sidecar containers, e.g.:

[code]

And these will be automatically injected / merged into the integration pod(s).

[2021-08-21 18:07] chenrui333 commented on #2484
This [build patch](https://github.com/apache/camel-k/pull/2561) works for me, and I restart [the 1.5.0 release update PR](https://github.com/Homebrew/homebrew-core/pull/81904)

[2021-08-21 18:37] chenrui333 commented on #2484
Close the issue as my build is green now. Thanks for the help!

[2021-08-21 18:37] #2484 closed

[2021-08-23 08:18] tadayosi commented on #2585
While it's nothing to do with sider car, if the whole concern is just additional network trips, you may also use Affinity trait:
https://camel.apache.org/camel-k/latest/traits/affinity.html
so that you can make sure the deployment and the integration are assigned to the same node.

[2021-08-23 08:43] tadayosi commented on #2542
Have you set up a local registry for kind cluster?  It's an essential step unless you explicitly use a public image registry.
https://kind.sigs.k8s.io/docs/user/local-registry/

[2021-08-23 10:10] #2486 closed

[2021-08-23 12:56] #2502 closed

[2021-08-23 12:58] #2538 closed

[2021-08-23 13:09] squakez commented on #2396
Yeah, I think that the new way of doing it will be via trait configuration. Before creating the log trait, we used to have a property to control the behavior, now we rely on trait configuration instead.

[2021-08-23 13:11] orpiske commented on #2396
@squakez @johnpoth I guess we can probably consider this one outdated and then refer to the configuration via trait, since we have changed the way we are doing it. If you're OK with that, I'd say we can close this one.

[2021-08-23 13:19] orpiske commented on #2396
Closing the issue as agreed.

[2021-08-23 13:19] #2396 closed

[2021-08-23 13:36] squakez opened #2586 "Kamel `bind` step index unclear"
I was playing with `kamel bind` command and I realized that we use 0 index start when we play with `step` properties. Ie `kamel bind ... --step my-step -p step-0.my-key=value`. For usability I think we should improve this and let the user start with 1 index instead.

[2021-08-23 13:41] heiko-braun commented on #2586
+1

[2021-08-23 14:46] squakez commented on #240
I am not sure if this is still relevant to these days, as the feature was requested already long time ago. If it's still the case, maybe we can think to upload the dependency on the operator local m2 via `[install-file](https://maven.apache.org/guides/mini/guide-3rd-party-jars-local.html)` just the first time we use it. Maybe we can generate some SHA in order to guarantee uniqueness starting from

[2021-08-23 14:52] hguerrero commented on #2585
@tadayosi I was looking more on being able to deploy my API gateways with a Camel integration doing some heavyweight transformation running as a sidecar as it would be a single deployment to manage. That's why I was looking to dynamically inject the integration (when updated/modified) back to the gateway deployment.

[2021-08-23 15:01] astefanutti commented on #2585
I realise the _pod_ trait approach may not fit the use case where the Integration is not the "central unit", and you rather want to plug it into something more "central".

I haven't thought much about it, but I think it should be quite possible to add a new _sidecar_ deployment strategy, that would reference the controller resource to inject the integration container into.

[2021-08-23 15:08] squakez commented on #2566
Service binding can be enabled via its [service binding `trait`](https://camel.apache.org/camel-k/latest/traits/service-binding.html). I guess we should think a more generic way to configure traits instead of focusing just on this one.

[2021-08-23 15:37] mmacphail commented on #2085
I ran into a similar problem. I was expected camel-kafka to be resolved automatically when reading the doc.

[2021-08-23 15:50] squakez commented on #2085
I think the problem is caused by the dynamic nature of these URIs. As they are composed by a variable part, then we're not able to determine exactly which is the dependency to load (the variable will be likely known at runtime). I will check to see if there is room for improvement and for sure update the documentation to let the user know what to expect.

[2021-08-23 15:57] hguerrero commented on #2585
Correct @astefanutti in my case the gateway is the central deployment

This could allow to cluster several integrations in the same pod.

[2021-08-23 15:58] mmacphail commented on #2085
In the meantime, I managed to make it work.

If you use the schema registry, first don't forget to add confluent registry as a maven repository installing kamel:
[code]

Then run kafka using the `-d` flag like this:
[code]

[2021-08-23 16:05] mmacphail commented on #2085
Yes, see following file:

[code]

[2021-08-24 07:56] mmacphail opened #2589 "jitpack dependency is not resolved"
**Versions**
kubernetes: docker for dekstop 1.19
camelk client : `Camel K Client 1.5.0`

Given the following kamel installation:
[code]

And the following helloworld.groovy file:
[code]

Running the integration using jitpack dependency fails using this `kamel run` command:
[code]
This fails although `https://jitpack.io/#mmacphail/temp-schemas/1.0` exists.

The failure happens during the building k

[2021-08-24 10:07] nicolaferraro opened #2590 "Release 1.5.1"
I think end of this week is a good date to cut a minor release.

[2021-08-24 10:08] nicolaferraro opened #2591 "Release 1.6.0"
September 3rd is a good candidate as date.

[2021-08-24 10:19] kyal2000 commented on #2534
I tried this and still get an error but it's no more a NullPointerException

This is my hole log:
[code]

I even tried a new small "hello world mapping" to check if there is a problem with my mapping but i got the same error

[2021-08-24 10:37] kyal2000 commented on #2534
I just tested it with a JSON to JSON Mapping and this one works fine

So the error only appears with the JSON to XML Mapping

[2021-08-24 13:08] squakez commented on #2534
According to the stacktrace, it seems that the runtime is missing `xalan` dependencies. Can you try the same by forcing that dependency (via `-d` option with run command)? I wonder if those classes are removed by the Quarkus runtime because it is instantiated at runtime and therefore not available when needed. In such case, the workaround proposed in #2558 may be useful as well.

[2021-08-24 14:31] kyal2000 commented on #2534
With the `xalan` dependency it works thank you

[2021-08-24 14:31] #2534 closed

[2021-08-25 06:40] tadayosi opened #2593 "Upgrade to Jolokia 1.7.0"

[2021-08-25 13:41] johnpoth opened #2596 "Allow trait customization through kamel bind"

[2021-08-26 04:07] tadayosi opened #2598 "Provide a way to specify exclusions for a dependency"
Related #2594.
At this moment, there is no way to exclude some sub-dependencies from a dependency with Dependencies trait. There should be a case when you want to use some lib but it doesn't work well with the rest of the libs without excluding some dependents.

[2021-08-26 16:29] squakez opened #2600 "Enhance URI component discovery"
Ref #2085.

The component resolution of dynamic generated URIs is not always achievable. However there may be certain situations where we can improve the component resolution, for instance, when just using variables to compose a URI (ie, `from("kafka:" + topic)`).

[2021-08-27 12:10] art-pepper opened #2602 "Kamelet add support for tolerations"
Hi, I am using camel-k 1.5.0 and knative v0.24.0 and I created a kamelet that gets messages from rabbitmq and sends them to a knative service, I would like to configure everything on the kamelet level because it creates the integration which creates the deployment.
I am able to configure a nodeSelector but it is not possible to configure a toleration. Please add support in the kamelet for adding a

[2021-08-28 08:34] hadoken79 commented on #2589
I have similar issue

Azure Kubernetes version 1.19.11
Camel K Client 1.3.1

i run a simple test integration which references a jitpack dependency containing a processor and some test-classes

kubectl describe integration test
Integration:
[code]
on jitpack jar is available, also in a local mvn project route works in camel

In kamel-operator logs:
[code]
 kubectl describe configmap camel-k-maven-s

[2021-08-29 12:46] hadoken79 commented on #2589
Update:
I made a mistake
In my route i used a modeline dependency in the wrong format.
i used

i just had to use

Then there is no need to add the jitpack repo in maven-settings configmap or xml. It then just works out of the box.

[2021-08-29 15:55] mmacphail commented on #2589
Thanks to your example @hadoken79 I was able to pinpoint the issue.

External dependencies in jitpack don't work when a dash `-` is present in their name.
I used the [modeline](https://camel.apache.org/camel-k/latest/cli/modeline.html) `// camel-k: dependency=github:mmacphail/temps-chemas/1.0` which did not work, error messages indicated that the artifact that was downloaded from github was `com.g

[2021-08-29 15:59] mmacphail commented on #2589
So I can currently pinpoint two problems:
- Documentation should indicate that jitpack dependency *can* be defined using the `github` prefix instead of the `mvn` prefix and `jitpack` repository.
- There is a bug that cause `jitpack` url dependencies to duplicate the artifact name in the group id if the artifact name contains a dash.

[2021-08-29 16:08] mmacphail commented on #2600
Thank you for taking the time, @squakez

[2021-08-29 19:00] mmacphail opened #2605 "groupId is overriden by `camel-k-integration` using kafka consumer"
**Versions**
kubernetes: docker for dekstop 1.19
camelk client : `Camel K Client 1.5.0`

Given the following kamel installation:
[code]

And the following helloworld.groovy file:
[code]
When running helloworld, groupId is always overriden by the string `camel-k-integration` at runtime.

See logs:
[code]

I believe the provided groupId should be used.

[2021-08-30 03:51] tadayosi commented on #2589
Regarding documentation, contributions are always welcomed. Good points to enhance would be:
https://camel.apache.org/camel-k/latest/configuration/dependencies.html
https://camel.apache.org/camel-k/latest/cli/modeline.html

[2021-08-30 04:50] oscerd commented on #2605
This is caused by: https://github.com/apache/camel-quarkus/issues/2901

It should be fixed once we upgrade.

[2021-08-30 07:04] #2085 closed

[2021-08-30 07:06] #2492 closed

[2021-08-30 07:26] squakez commented on #2374
Point b was covered by #2599

[2021-08-30 07:56] squakez commented on #2446
The correct way to have it working with the actual `owner` trait is the following one:
[code]
[code]
Basically we need to specify in the `KameletBinding` which labels (and/or annotations) we want to have in the underlying `Pod`.

In the KameletBinding usage, I think it's a bit cumbersome as we need to re-declare a list of variables we already defined. In my opinion we should add a `owner.target-la

[2021-08-30 07:58] squakez commented on #2480
It was duplicated by #2565 and fixed by #2575

[2021-08-30 07:58] #2480 closed

[2021-08-30 08:02] lburgazzoli commented on #2446
This is what I did in my set-up but was based on an 1.4 version so it may have been solved, need to re-test.

copying all the labels/annotations by default is a little bit risky imho, may be nice to have some support for regexp

[2021-08-30 08:02] squakez commented on #2495
Yeah, unfortunately I've noticed this as well. A simple strategy is to look for `fmt.Print...` used along the `cmd` package and replace with the `cmd.OutOrStdout()` related usage.

[2021-08-30 08:06] squakez commented on #2326
Version `1.5` released recently is based on Camel `3.11`.

[2021-08-30 08:06] #2326 closed

[2021-08-30 08:13] squakez commented on #2446
Yes, I've tested with `1.5`, so probably it was a bug in `1.4`. Let me know if upgrading version fixes for you as well.

[2021-08-30 09:06] fredcoq commented on #2528
I tested also topics created with v1beta1 api : same behavior of camel-k operator which is not able to query kafka cluster resources. In fact since stimzi operator 0.23 even if it accept the creation of resources (topics and users) with v1beta1 api they are managed  as v1beta2.
Re-tested on a new strimzi cluster version 0.22 : it works as expected.
Latest version of kafka that are managed by strim

[2021-08-30 09:40] mmacphail opened #2606 "How to define custom container specs ?"
Hello,

I was wondering how to define custom container specs. I followed the doc and some issues, I'm not certain how it's done in version `1.5.0`.

I want to specify the kubernetes service account used to run the pod. I tried the following syntax:
[code]

But clearly my syntax is wrong.

[2021-08-30 10:09] squakez commented on #2139
I've checked this problem and it was caused by the usage of `wiretap` which should be instead `wire-tap` in yaml language. If you try
[code]
you should have it fixed. Please, reopen if you face any other problem.

[2021-08-30 10:09] #2139 closed

[2021-08-30 10:11] astefanutti commented on #2606
You can set the service account name directly on the `.spec.serviceAccountName` field of the Integration resource.

The _pod_ trait enables to customise the container specs by passing a template from file. However it is currently a subset of the `PodSpec` struct. We'll add the ability to set the service account name from there soon.

[2021-08-30 10:40] wingerx opened #2608 "How to set map properties in the kamelet parameters via the yaml definition?"
As we all known, DBZ components has additionalProperties to support what can’t be set directly on the camel configurations.Is this any way to write a map properties in yaml  instead of write additionalProperties.a = x, additionalProperties.b=c?

[2021-08-30 10:46] fredcoq commented on #2528
This recent commit I just discovered  should address it https://github.com/apache/camel-k/commit/ec840637294200f593ca3e8fcf9c9dae5ac20109

[2021-08-30 10:46] #2528 closed

[2021-08-30 10:51] mmacphail commented on #2606
Thank you, for now I use the following command `k edit integration helloworld` and add the service account here, which is working but a bit inconvenient.

[2021-08-30 10:51] #2606 closed

[2021-08-30 10:52] mmacphail commented on #2605
Thank you, waiting for fix.

[2021-08-30 10:52] #2605 closed

[2021-08-30 12:29] squakez commented on #2446
I managed to reproduce in 1.5 as well. Likely the problem is because of the syntax expected by the array values. It expects to be like `trait.camel.apache.org/owner.target-labels: "[\"my-key.1\", \"my-key.2\"]"`. I'm adding a note to have it correctly documented, in the while, please @lburgazzoli confirm if that fixes the problem.

[2021-08-30 13:20] squakez commented on #2227
This has been fixed. Here the [documentation for resource usage](https://camel.apache.org/camel-k/latest/configuration/runtime-resources.html). Please, log a new issue if something else is failing.

[2021-08-30 13:20] #2227 closed

[2021-08-30 14:41] squakez commented on #1915
I had a look at this and I think there may be an issue with the underlying Camel component. Having a quick look at the code, it seems the dataformat is creating a `Map` with the unmarshal operation. Then, the Vert.x components is trying to force the [conversion from a Map to a ByteBuffer](https://github.com/apache/camel/blob/main/components/camel-platform-http-vertx/src/main/java/org/apache/camel/

[2021-08-30 16:05] claudio4j commented on #1033
https://github.com/apache/camel-k/pull/2577 provides examples on how to run integration with different routes (no tls, edge, reencrypt, passthrough).

[2021-08-30 16:05] claudio4j commented on #1232
https://github.com/apache/camel-k/pull/2577 provides examples on how to run integration with different routes (no tls, edge, reencrypt, passthrough).

[2021-08-31 07:01] squakez commented on #2598
Maybe we can add a `exclusions` parameter in the trait which looks for the dependencies and remove them from the dependency list.

[2021-08-31 07:05] mmacphail commented on #2589
So I tried to debug this yesterday, without any success so far.
I believe the dash `-` in the dependency name is not the problem, because I was able to run my integration using a new version of the same dependency (version `1.2`)... And it works.
So we have one version, version `1.0`, where the dependency is incorrectly queried in the repository: `Could not find artifact com.github.mmacphail.temp-

[2021-08-31 07:13] lburgazzoli commented on #2598
We need to be really careful about exposing such advanced feature as we did it already in the past but it ended up being hard to maintain, the ux was very bad and breaking the build was quite easy so IMHO, better to solve the issue in our catalog (especially with libraries like jolokia where the user is not even aware of what we are doing)

An alternative option could be to have the user provide a

[2021-08-31 07:23] lburgazzoli commented on #2589
you can try to grab the generated pom and run it locally so you can troubleshoot it.
it may be a glitch in jitpack, like for some reason it processes the github repo as a multi module (the syntax as per the syntax com.github.mmacphail.temp-schemas:temp-schemas)

[2021-08-31 07:27] lburgazzoli commented on #2589
I've create a simple project like:

[code]

then when building it fails with:

[code]

[2021-08-31 07:30] mmacphail commented on #2589
Thank you for your investigation! This glitch is interresting.

[2021-08-31 07:30] #2589 closed

[2021-08-31 08:23] tadayosi commented on #2598
I agree with @lburgazzoli. The solution wouldn't have to be easy. At least if there is a way to resolve it for the users who encounter such an issue, that's fine. I like the idea of allowing the users to provide a custom bom as an advanced option.

[2021-08-31 12:03] lburgazzoli commented on #2446
@squakez yes, using "array" seems to work

[2021-08-31 13:24] squakez commented on #1915
Working to a resolution with https://issues.apache.org/jira/browse/CAMEL-16906

[2021-08-31 16:17] orpiske commented on #2523
I've just confirmed this one as fixed with the Camel K runtime 1.9. It will be fixed w/ Camel K 1.6.0 release.

[2021-08-31 23:30] pcg76 commented on #2523
Thank you for the confirmation 🙂

[2021-09-01 07:46] #2541 closed

[2021-09-01 11:47] apupier commented on #2157
some information to potentially help the migration https://github.com/redhat-openshift-ecosystem/community-operators-prod/discussions/138#discussioncomment-1245759

[2021-09-01 12:33] astefanutti commented on #2157
The migration is rather straightforward #2084. The challenge is to handle our e2e tests execution on OpenShift 3.

[2021-09-01 12:52] nicolaferraro commented on #2523
Fixed in 1.6.0

[2021-09-01 12:52] #2523 closed

[2021-09-02 04:56] tadayosi commented on #2593
rhuss/jolokia#473

[2021-09-02 05:12] tadayosi commented on #2531
@rgordill Probably yes it's fixed with #2124. Aren't you using camel-k 1.4.0?  If you are it should be fixed already.

[2021-09-02 05:23] tadayosi commented on #2473
Just returned from PTO and since then I've been still distracted by other tasks. But let me update with the current status on the tasks.

- I ran e2e tests on a local microshift instance, and not surprisingly there are many test failures including `cron_test.go`.
    - That should be because there are not API resources which are necessary to pass the tests in microshift out of the box.
- I'm now i

[2021-09-02 12:51] #2446 closed

[2021-09-02 14:41] nicolaferraro opened #2616 "Numeric values are not properly encoded in KameletBindings"
When a Kamelet parameter is of numeric type, its default value, or any value set by the user, is encoded in scientific notation (e.g. `"1e+06"`) in properties.

[2021-09-02 16:05] #2157 closed

[2021-09-02 16:26] #2616 closed

[2021-09-03 14:58] nicolaferraro commented on #2591
# Release Notes

## Camel Dependencies

- [Apache Camel K Runtime 1.9.0](https://github.com/apache/camel-k-runtime/blob/main/CHANGELOG.md)
- [Apache Camel Quarkus 2.2.0](https://github.com/apache/camel-quarkus/blob/main/CHANGELOG.md#220-2021-08-27)
- [Apache Camel 3.11.1](https://github.com/apache/camel/tree/camel-3.11.1)
- [Apache Camel Kamelets 0.4.0](https://github.com/apache/camel-kamelets/tre

[2021-09-06 10:47] rajibmitra commented on #2495
I would like to work on it. @squakez

[2021-09-06 10:50] squakez commented on #2495
Noted, you can go ahead and let me know if you need any help.

[2021-09-06 19:43] claudio4j opened #2619 "Investigate automatic TLS route configuration for http based components"
Investigate how to set required SSL properties when using routes with TLS setup
See https://github.com/apache/camel-k/pull/2577#discussion_r701710732 for context.

[2021-09-07 08:01] squakez commented on #2602
Some syntactic sugar for this is provided by annotations: https://camel.apache.org/camel-k/latest/kamelets/kamelets-user.html#_trait_via_annotations. Last resort is to specify in the `Integration` spec as you've finally done.

Closing the issue, feel free to open a new one if anything else unclear.

[2021-09-07 08:01] #2602 closed

[2021-09-07 08:12] astefanutti opened #2620 "Complete Integration PodSpec template"
With the Kamelets adoption, we see the users need to configure some aspects of the created integrations, as in #2602.

For things like service account name, node selector, tolerations, affinity, resources, etc., using the integration `PodSpec` template field seems like a natural choice, e.g.:

[code]

Currently, only a subset of the k8s `PodSpec` struct is exposed in the integration `template` fie

[2021-09-07 15:18] nicolaferraro commented on #2591
Released!

[2021-09-07 15:18] #2591 closed

[2021-09-07 20:06] mmacphail opened #2621 "Contribution missing in 1.6.0 release note"
Hi team,

I believe #2607 is missing in 1.6.0 release note.

Cheers!

[2021-09-08 04:06] DylanSale opened #2622 "Kamel 1.5.1 CLI generates broken zsh completions"
I did `brew install kamel` (on MacOS 11.5.2):

[code]

then when I type `kamel <TAB>` it outputs: `kamel Error:\ unknown\ command\ \"__complete\"\ for\ \"kamel\"`

Here is the debug log file:
[code]

This is my generated _kamel completion file:

[code]

[2021-09-08 07:44] nicolaferraro commented on #2621
Thanks, for some reason the automated release notes generator skipped that one. Updated.

[2021-09-08 07:44] #2621 closed

[2021-09-08 10:37] squakez opened #2623 "Bots to simplify project managment"
Hi folks,
I was having a look at the dependencies that we manage in the project and I saw we're quite out of sync with the most recent version upgrades for almost all dependencies:

![camel-k-deps](https://user-images.githubusercontent.com/23169723/132493469-93d4b1fe-5fdd-48a5-a571-a1387acc0f40.png)

Although it's not the perfect tool and may be not valid for certain dependencies that we want to s

[2021-09-08 10:47] oscerd commented on #2623
I think it makes sense to use dependabot in go projects. We need to be sure to avoid update on fundamental dependencies, as you said, so +1.

[2021-09-08 11:32] astefanutti commented on #2623
Most of the dependencies are transitively inherited from the Kubernetes version. Actually, the tree is mostly k8s / client-go > controller-runtime | Knative. As you've nailed it, we want to control these. Actually I don't think dependabot would be able to resolve the conflicts between Knative / controller-runtime, and our own schedule of k8s versions support. Not to mention k8s support by KinD for

[2021-09-08 11:36] astefanutti commented on #2623
For example, right now, we cannot upgrade to controller-runtime 0.9.0, because it depends on k8s 1.21, while the latest Knative version still depends on k8s 1.20. And client-go 1.21 introduces a breaking change. So we have to wait until Knative release a new version (the upgrade has been done in `main` branch recently).

From my experience, this situation happens quite often, almost at every k8s u

[2021-09-08 11:43] lburgazzoli commented on #2623
Not sure how feasible and how much value it will bring, but eventually those "problematic" deps can be excluded from dependabot checks

[2021-09-08 11:54] astefanutti commented on #2623
I fear it would be equivalent to excluding 80% of the project dependencies, which would defeat the purpose of it.

[2021-09-08 12:04] astefanutti commented on #2623
I'd also argue that dependency management is too critical for a project like Camel K, that evolves in a fast-moving ecosystem, to be delegated to tools as naive as dependabot. You also miss the opportunity to learn new APIs and concepts introduced in newer versions. In that fast-moving context, a _qualitative_ upgrade is seldom just a version bump. I'd rather keep Camel K at the cutting edge, gran

[2021-09-09 09:52] #991 closed

[2021-09-09 10:53] squakez commented on #2623
Thanks for the comments. I see the arguments and I guess we can keep the dependabot out of scope for the time being. However, I see no objections on the stale bot. If that is okey with the rest of people I'll proceed in the next days to enable it.

[2021-09-09 10:55] squakez commented on #1915
Fixed on Camel 3.11.3 and 3.12.0. We should be able to get this working when moving to those versions.

[2021-09-09 10:57] lburgazzoli opened #2625 "A better name for KameletBinding"
When the KameletBinding concept was introduced in camel-k, if was meant to bind two Kamelets and nothing more, but over time we have added more capabilities, like:

- support for processing steps to transform exchanges/messages
- support to address/source from different systems so the source/sink does not need be a kamelet anymore

So I think the term KameletBinding is not more appropriate and to

[2021-09-09 12:38] squakez opened #2626 "Container trait documentation messed up"
The usage of a `|` in the trait documentation has messed up the formatting.

[2021-09-09 16:43] #2574 closed

[2021-09-09 18:08] claudio4j commented on #1232
There is a [route documentation](https://github.com/apache/camel-k/blob/main/docs/modules/traits/pages/route.adoc) on how to use `kamel run` to setup TLS routes. Reopen if you feel appropriate.

[2021-09-09 18:09] claudio4j commented on #1232
@astefanutti can you close this issue ?

[2021-09-09 18:09] claudio4j commented on #1033
There is a [route documentation](https://github.com/apache/camel-k/blob/main/docs/modules/traits/pages/route.adoc) on how to use `kamel run` to setup TLS routes. @astefanutti can you close this issue
Reopen if you feel appropriate.

[2021-09-09 18:22] #1033 closed

[2021-09-09 18:25] astefanutti commented on #1232
@claudio4j I think that one applies to vanilla Kubernetes. I was actually wondering to what extent the work you did with Routes on OpenShift, applies to Ingresses and vanilla Kubernetes.

[2021-09-09 18:51] claudio4j commented on #1232
ok, never mind, it's ingress.

[2021-09-10 12:12] #2626 closed

[2021-09-14 08:37] #2623 closed

[2021-09-14 12:34] catshout opened #2633 "Camel-K Tracing Trait error"
I did install on a GKE
* Camel-K 1.6
* the Jaeger Operator following https://github.com/jaegertracing/jaeger-operator
The Jaeger operator starts well, the UI is reachable.

Afterwards I did execute

`kamel run --trait tracing.enabled=true --trait tracing.auto=true hello.groovy`

hello.groovy looks like

`from('timer:tick?period=3000')
.setBody().constant('Hello world from Camel K')
.to('log:info')

[2021-09-14 13:54] nicolaferraro commented on #2633
There might be some incompatibility errors. The operator should be able to find the "Jaeger" and configure it.

@catshout did you install Jaeger from master or used a specific version?

[2021-09-14 14:10] catshout commented on #2633
@nicolaferraro I did install Jaeger from master.

[2021-09-14 15:21] #2273 closed

[2021-09-15 14:43] lburgazzoli opened #2638 "kamelet binding: scaling to 0 and the to 1 not working when a container image is provided"
Given a KameletBinding where the container image is given:

[code]

then doing:

[code]

would lead the operator to fail with:

[code]

It seems like the integration kit is deleted when the integration is scaled.

[2021-09-15 14:43] lburgazzoli commented on #2638
/cc @nicolaferraro

[2021-09-15 16:11] nicolaferraro commented on #2638
May be some wrong GC management.

[2021-09-16 08:04] squakez commented on #2495
@rajibmitra any progress on this? I'd like to pick it up for 1.7.0 release.

[2021-09-16 10:26] nicolaferraro opened #2640 "Integration in error phase can't be scaled: why don't we just rebuild it?"
It seems silly to scale an integration if it does not work, but now the error condition includes also pod failures.

So if a container loses liveness because it receives too much traffic, then you can't scale the integration up.

The number of replicas is not synced back into the deployment/ksvc when the phase is "Error", and we know it: https://github.com/apache/camel-k/blob/135020e97ad917bbab3dc

[2021-09-16 10:47] astefanutti commented on #2640
It should be possible to scale the integration in error phase in the first place. What's the issue you face?

The replicas field is already a bit special for Deployment, as it does not change the PodSpec hash, and does not trigger a rollout when changed. We kind of do the same thing for Integration. I'd be inclined to think core k8s developers had good reasons to do so, and I would find a bit weir

[2021-09-16 10:54] astefanutti commented on #2640
Let me assign this to me. The Error phase is kind of messy and I'll fix that in the context of #2292.

[2021-09-16 12:21] #2638 closed

[2021-09-16 13:20] lburgazzoli opened #2641 "Use the new dynamic shell completion from cobra"
As today we support bash completion by providing some [bash functions](https://github.com/apache/camel-k/blob/cb464ed37d2e84eec6852f23d8c3aebd4fc74b60/pkg/cmd/completion_bash.go#L49) which we should migrate to the new [dynamic shell completion](https://github.com/spf13/cobra/blob/master/shell_completions.md#dynamic-completion-of-nouns) provided by recent version of cobra.

This may also solve the

[2021-09-16 13:47] rajibmitra commented on #2495
@squakez  sorry, based on my current load it will take at least a few days to start. if its urgent please pick it up. thank you!

[2021-09-16 13:53] squakez commented on #2495
No problem. We may need to start working on it in a few days. Thanks for your interest and feel free to pick up any other issue that you can contribute to.

[2021-09-16 22:34] claudio4j opened #2642 "Alow fixed custom labels in any pod"
There are situations it is desirable to set fixed custom labels on any running pod, but not using kamel run --label` option. In this case any invocation of `kamel run Integration.java` will materialize a custom set of labels in the running pod.

[2021-09-20 07:35] squakez commented on #550
We should be able to use `kamel install -o yaml` in order to get the output needed for an installation.

[2021-09-20 07:35] #550 closed

[2021-09-20 07:39] squakez commented on #2600
Relates to #527

[2021-09-20 08:17] squakez commented on #2320
I've analyzed this more deeply. It is possible to think a trait, probably `container` trait, to handle `--config` and `--resource`, moving the parsing logic directly in the trait (which is also in charge to mount the volumes, so it even simplify the "modularity").

However we have a big limitation when it comes to `file` usage. The file content must be stored within the same `Integration`, so that

[2021-09-20 08:33] astefanutti commented on #2320
Right. Alternatively, the `kamel run` CLI could be responsible for creating the ConfigMap corresponding to the `file:` config option. to avoid that two-stepped experience. Anyway, I agree we should avoid storing arbitrary files into the Integration resources.

[2021-09-20 08:41] squakez commented on #2320
Yeah, I thought the same, but we even complicate the process as we need to parse twice. The first time in the `cmd` in order to process the content, the second time in the `trait` as we need to locate the resource. Moreover, I am not sure if we would actually able to scale or recreate the Pod properly. Right now we leverage the presence of the content in the `Integration`, if we create an attached