[2020-01-23 07:54] #1093 closed

[2020-01-23 07:54] #1181 closed

[2020-01-23 09:20] #1221 closed

[2020-01-24 15:36] #1203 closed

[2020-01-24 15:48] lburgazzoli opened #1227 "Let dependencies be defined using file URLs"
As today we do allow to specify dependencies that are available through a maven repository but it should be possible to specify a local developer dependency, like:

    kamel run integration.java --dependency file:/path/to/my-dep.jar

Under the hood the dependency should be:
- uploaded to a s3 compatible object storage (i.e.  https://min.io) following the maven repo layout
- consumed by camel-k as

[2020-01-26 16:58] antback commented on #1190
I suffered same problem with same version of Docker Desktop and kubernetes in Windows 10. This is the error log trace:

`
{"level":"error","ts":1580057233.1165411,"logger":"camel-k.builder","msg":"","error":"Invalid JSON Patch","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tgithub.com/go-logr/zapr@v0.1.1/zapr.go:128\ngithub.com/apache/camel-k/pkg/util/log.Logger.Error\n\tgithub.com/ap

[2020-01-28 11:01] lburgazzoli opened #1229 "Remove the option to set the camel version"
So far camel-k support multiple camel versions and multiple camel-k runtime versions which make dependencies management quite complex, camel-k should only allow to set the required runtime version.

[2020-01-28 11:04] lburgazzoli commented on #1229
Requires https://github.com/apache/camel-k-runtime/issues/229

[2020-01-28 13:58] #1188 closed

[2020-01-28 16:25] nicolaferraro opened #1230 "Kamel version should not try to connect to a cluster"
That happens because the namespace lookup is done in the root action most probably.

[2020-01-28 20:29] cunningt opened #1231 "helm.sh entries in go.sum"
I'm getting the following errors trying to build

go: finding helm.sh/helm/v3 v3.0.0
go: helm.sh/helm/v3@v3.0.0: unknown revision helm.sh/helm/v3.0.0

and

go: finding helm.sh/helm/v3 v3.0.1
go: finding github.com/improbable-eng/thanos v0.3.2
go: finding github.com/imdario/mergo v0.3.6
go: helm.sh/helm/v3@v3.0.1: unknown revision helm.sh/helm/v3.0.1

It looks like these lines are the issue?   http

[2020-01-28 21:56] rndIndy opened #1232 "Camel-K Doesn't Create a Service or Ingress for an Integration"
I'm trying to use Camel-k with the CXF component to create a pass through proxy for a SOAP service running outside my K8S cluster and I am having trouble exposing the port to the outside world or to other pods in the cluster. I was able to generate a service and ingress following the RestWithUndertow example, but not with my integration. My code is in the picture below.

<img width="724" alt="Came

[2020-01-29 07:39] jamesnetherton commented on #1232
I suspect it's related to how you have configured your route and how camel-k tries to determine whether an integration requires an HTTP service. It extracts the `from` endpoint URI scheme and uses it to look up whether it is an HTTP related component. Because your `from` part is `fromEndpoint`, it can't do this.

Try configuring the endpoint like:

[code]

[2020-01-29 11:42] nicolaferraro opened #1233 "Dev mode doesn't start if the integration is already running"
Probably the wait function waits for a condition that already holds.

[2020-01-29 13:30] nicolaferraro opened #1234 "Add a "master" trait"
We can provide a trait for automatically configure the master component (or route policy?).

The trait should give the pod service account enough privileges to read/watch pods and read/write/watch configmaps, then configure some defaults.

It's likely that we don't need anything from runtime as the component can be automatically configured like [here](https://github.com/nicolaferraro/camel-leader-

[2020-01-29 13:32] nicolaferraro opened #1235 "Automatically redeploy on config change"
When the integration is bound to an external configmap/secret (not the ones created by the operator itself for the integration lifecycle to work), we can trigger a redeployment when that changes.

[2020-01-29 13:33] nicolaferraro commented on #1235
Users should be able to disable this behavior using a trait (also an existing one)

[2020-01-29 13:34] lburgazzoli commented on #1234
relates to https://github.com/apache/camel-k/issues/259

[2020-01-29 13:49] nicolaferraro opened #1236 "Autodetect camel-bean"
I though this was solved.

[code]

Result:

[code]

[2020-01-29 14:58] lburgazzoli commented on #334
We could use a layout similar to Karafs [KAR](https://karaf.apache.org/manual/latest/kar)

[2020-01-29 15:18] davesargrad commented on #1232
@jamesnetherton Good feedback. It strikes me that what you suggest is a good solution,  unless the integration is parameterized in a fashion that prevents the ingress URL from being specified in the URI. In this case, I'd think that the camel-k integration builder should still be able to create the service. I wonder if the camel-k team has plans to support adding the component the way that @rndInd

[2020-01-29 22:59] nicolaferraro commented on #259
Superseded by #1234

[2020-01-29 22:59] #259 closed

[2020-01-29 23:01] nicolaferraro opened #1237 "Check exact Knative version before enabling serving"
We currently check a set of Knative API versions in order to decide if we should enable the Knative profile on a per integration basis. We should check only if "serving.knative.dev/v1" is available (or the one we use when materializing the integration), to avoid enabling Knative on old unsupported clusters.

[2020-01-30 09:05] astefanutti commented on #1209
After a deeper analysis, it seems to confirm most of the time is taken by the image upload to the local registry, I've created GoogleContainerTools/kaniko#1013 to track progress on this.

[2020-01-30 13:47] astefanutti opened #1238 "Multi-architecture support"
At the moment, Camel K binaries and images are available for amd64 architecture only.

Following up on #1215, it would be useful to publish multi-architecture images, so that Camel K can be used on a wider range of architectures. Based on a recent PoC, I've identify the following tasks:

- Camel K:
    - [ ] Use a multi-architecture default Java base image
    - [ ] Build and publish multi-archite

[2020-01-30 14:37] rndIndy commented on #1232
@jamesnetherton Thank you for the suggestion, it worked! I replaced the "myEndpoint" with:

`"cxf://http://0.0.0.0:9000/ws?wsdlURL=http://ghana.corp.sensis.com:8080/ws/countries.wsdl&dataFormat=RAW"`

Camel-k auto generated a service and ingress when I used the following command:

`kamel run --name=test-cxf --trait ingress.host=cxf.malta.corp.sensis.com -d camel-cxf -d camel-http  -d camel-jetty -

[2020-01-30 20:03] hguerrero opened #1239 "Add a trait(?) to enable default REST DSL endpoint"
When writing a simple service there should be an option to have a default mapping to `http://localhost:8080/` GET service without the need to add the mapping and code in an integration code and just execute a `direct:` route.

[2020-01-31 00:58] hyginous29 opened #1240 "When using `camel-opentracing`, <Log statement in routes.xml is getting logged twice"
When using `camel-opentracing`, <Log statement in routes.xml is getting logged twice.

1st time using
`org.apache.camel.opentracing.OpenTracingTracer.onLog`

and 2nd time using
`org.apache.camel.util.CamelLogger.log(...)`

I am seeing this issue with latest  2.24.2 version.

[2020-01-31 01:00] hyginous29 commented on #1240
Ignore above, as opentracing log is considered different from log4j logs. thanks.

[2020-01-31 01:00] #1240 closed

[2020-01-31 12:08] nicolaferraro opened #1242 "Installation error: normal user can't delete consoleclidownloads"
I've created an user and created a namespace with it. Camel K is already installed at cluster level, the `consoleclidownloads` is present and current user can list it, but it tries to delete it (and can't do it).

[code]

[2020-01-31 17:32] #1230 closed

[2020-02-04 07:20] #1162 closed

[2020-02-04 08:16] #1102 closed

[2020-02-04 10:28] bruno63 commented on #853
Update: this issue seems to be solved with latest versions Minikube v1.6.2, kubectl 1.17.2, Camel K Client 1.0.0-RC1.

[2020-02-04 11:10] #1229 closed

[2020-02-04 14:14] #1242 closed

[2020-02-04 14:21] apupier opened #1249 "Dead link from readme to trait documentation"
https://github.com/apache/camel-k/blame/master/README.adoc#L361 pointing to https://camel.apache.org/camel-k/latest/traits.html leadign to a 404

[2020-02-04 14:21] apupier commented on #1249
correct link is https://camel.apache.org/camel-k/latest/traits/traits.html

[2020-02-04 14:21] apupier commented on #1249
will provide a PR

[2020-02-04 14:22] apupier commented on #1249
(but I don' thave rights to assign the issue to me)

[2020-02-05 08:17] #1194 closed

[2020-02-05 14:54] #38 closed

[2020-02-05 15:16] jamesnetherton commented on #1249
Fixed by #1250.

[2020-02-05 15:16] #1249 closed

[2020-02-06 09:26] nicolaferraro opened #1255 "Add e2e tests for global installation mode"
We should also make sure the operator is completely removed before ending the test, to avoid cascading issues in other tests.

[2020-02-06 10:04] nicolaferraro commented on #164
Done.

[2020-02-06 10:04] #164 closed

[2020-02-06 10:08] astefanutti opened #1256 "Buildah support"
Following performance issues reported when using Kaniko on Minikube (#1204, #1209) and Vanilla k8s, and after investigation reported in GoogleContainerTools/kaniko#1013, I've PoC'ed using Buildah to build container images.

I've successfully build an integration image using the _pod_ scheduling strategy and the `quay.io/buildah/stable` image. That PoC shows much better performance compared to that

[2020-02-06 10:26] nicolaferraro commented on #751
https://github.com/operator-framework/operator-sdk/issues/2508

[2020-02-06 13:01] kameshsampath commented on #1256
@astefanutti do you have steps to test that ? I am also thinking if we can add a maven cache pod as part of the install that could be used with the integrations ???

[2020-02-06 13:13] astefanutti commented on #1256
@kameshsampath it's still a PoC but I'm confident it'll be available in the next release. Then we'll work on #681 which should enable to provide a Maven cache as part of the install.

[2020-02-07 16:35] weimeilin79 opened #1257 "Multiple Knative endpoint in the same route will cause the pod continuously restart"
I tried a CBR pattern to call Knative serving services.
But I see very funny behaviour with the Camel K instance, it keeps terminating and restarting into an infinite loop.
[code]

Is that something that I should not do?

[2020-02-07 22:56] nicolaferraro commented on #1257
I'd be surprised if that didn't work. I guess you've checked that there aren't multiple operators contending the resource.

Do you see some error logs when the pods start?

We should add a CBR example to the e2e tests.

[2020-02-10 03:33] nak3 commented on #1172
Can we more narrow down what component/event takes long time? For example:
* Examine event logs during the deploy - `kubect get event -w`.
* Investigate controller logs - `kubectl -n knative-serving logs controller-xxx -c controller`. (like https://github.com/knative/serving/issues/5802 did.)

Also, it would be worth to look into some suspicious stuff like:

* CPU/memory usage on the host to verif

[2020-02-11 01:00] Namphibian commented on #1204
Running into very slow builds on my local machine using minikube.

1. hello.groovy example initially took over 5 minutes to get started.
2. Rest-with-undertow is taking a massive amount of time and I gave up after 10 minutes.

See my log below;

[code]

I am on a 100 Mbps fibre connection. I checked and downloads where not bad on other sites.

[2020-02-11 05:18] Namphibian commented on #1204
So I did some digging.

I had Istio installed in demo mode(learning Knative,Istio, Kamel and Quarkus atm) and this seems to have affected the build times.

Installing Istio with a minimal profile sped up the quite a bit.

Note that the KNative documentation uses Helm install for Istio which is being deprecated.

[code]

[2020-02-11 08:20] lburgazzoli commented on #1172
releated to #1172

[2020-02-11 08:22] lburgazzoli commented on #1172
@kameshsampath @nak3 I remember I had some issues in the past similar to this one and were related to the default requests that knative sets-up. Lowering them did fix the issue.

[2020-02-11 09:09] astefanutti commented on #1204
@Namphibian we are working on #1256 that should ideally improve the build time and open new possibilities, like possibly interacting directly with the Docker daemon on Minikube for faster development cycles.

[2020-02-11 09:21] nicolaferraro opened #1261 "Allow to inject data from externally crafted secrets"
Let's say a broker is installed inside the same namespace as my integration. The broker is secured and provides a secret with authentication data: username and password.

Can I inject those two fields in my integration?
Afaik, currently we can inject only secrets containing a "xxx.properties" file.

Is this the case?
@jamesnetherton , @lburgazzoli , @astefanutti

[2020-02-11 09:36] lburgazzoli commented on #1261
We now support only properties but it won't be to complex to load any kind of property however some additional properties may still be required, like to set those properties to a component:

    camel.component.jms.connection-factory.host = {{my-other-property}}

Mind opening an issue on camel-k-runtime ?

[2020-02-11 09:51] nicolaferraro commented on #1261
Yeah, we can still load automatically `.properties` files in the secrets, plus make the content of each entry of a secret available in a `secrets` namespace, so users can reference them by name, e.g.

[code]

Thinking big (for the far future), we can also provide an addon module where we add auto-configuration for connecting to known systems.. this require some effort to be maintained, but a user

[2020-02-11 09:53] nicolaferraro commented on #1261
Ref: https://github.com/apache/camel-k-runtime/issues/239

[2020-02-11 09:56] lburgazzoli commented on #1261
We can use properties functions like

    {{secret:$secret-name:property-name}}

so your example will become:

    camel.component.xxx.password = {{secret:broker:authToken}}

I did it in the past for Karaf and blueprints, need to resurrect that code :)

[2020-02-11 10:58] lburgazzoli opened #1263 "metrics: in quarkus mode, use microprofile metrics in place of the prometheus agent"
quarkus provides a metrics extension based on the MicroProfile/SmallRye that can be used to generate metrics for prometheus, so in quarkus mode, camel-k should opt to use it instead of the prometheus agent.

Some refs:
- https://quarkus.io/guides/microprofile-metrics
- https://github.com/apache/camel-quarkus/tree/master/extensions/microprofile-metrics

We need to be sure we do expose the same metr

[2020-02-11 10:58] lburgazzoli commented on #1263
/cc @astefanutti

[2020-02-11 11:03] lburgazzoli opened #1264 "Kiali dashboard for Camel K"
kiali has an option to [define dashboards](https://kiali.io/documentation/runtimes-monitoring/#_create_new_dashboards), we should provide one in camel-k repository and eventually auto install it if we detect kiali is available

[2020-02-11 11:03] lburgazzoli commented on #1264
/cc @astefanutti

[2020-02-11 15:48] nicolaferraro commented on #1206
I think I've isolated the issue.

This kservice is fast to start:

[code]

This one is slow:
[code]

The only difference is that (the fast) one uses an image from `docker.io`, while the other uses the Minikube internal registry `10.107.75.139`.
The serving controller tries to do something with that registry before starting the ksvc and remains stale.

My best guess is that the serving controller t

[2020-02-11 15:52] #1261 closed

[2020-02-11 15:56] markusthoemmes commented on #1206
Not necessarily familiar, but certainly sounds like something that could cause this. You can doublecheck if it works if you use the internal registry but skip it's ip for tag resolution in the config.

See https://github.com/knative/serving/blob/master/config/core/configmaps/deployment.yaml#L45

[2020-02-11 16:04] nicolaferraro commented on #1206
Yes, it is faster. Also if I provide the sha in the image id it starts immediately.

I remember someone telling me that registries referenced via ip addresses were considered insecure by default, but it seems not the case..

[2020-02-11 16:45] lburgazzoli opened #1266 "re-evaluate language parsing"
Integration sources introspection is done using a mix of technique:

1. inspecting nodes for mark-up languages
2. regexp for everything else

While 1. may be good enough, that is not certainly the case for 2. as we have a number of complains such as the fact that the parser does not properly handle commented out code. Using regexp make it also quite complex to keep-up with the evolution of Camel's

[2020-02-11 17:07] lburgazzoli opened #1267 "Expose operator related metrics"
It may be valuable to expose some functional metrics to Prometheus, like quantiles for build times

[2020-02-11 17:13] lburgazzoli commented on #889
It should certainly clean-up builder but kits need to be kept as they are needed to properly determine how and if new container images have to be built

[2020-02-11 22:31] nicolaferraro commented on #1222
We can avoid the patch to the configmap.

[2020-02-11 23:57] nicolaferraro opened #1270 "Upgrade to Knative 0.12"

[2020-02-12 08:52] #1222 closed

[2020-02-12 08:52] #1270 closed

[2020-02-12 09:48] #1223 closed

[2020-02-12 11:17] kameshsampath commented on #1206
@nicolaferraro  - great to find the cause, I tried to make sure the IP is not used for internal registry by https://github.com/kameshsampath/minikube-helpers/tree/master/registry, I am due to submit a patch to minikube with it.

[2020-02-13 05:59] dylanenabled commented on #1031
I think #614 implements this?

[2020-02-13 06:02] dylanenabled commented on #1031
I mean #1084 rather

[2020-02-13 14:50] nicolaferraro opened #1273 "Release 1.0.0-RC2"
Let's do a 1 week effort to finish the most important issues for RC2, then we do a release.

[2020-02-14 12:04] #1256 closed

[2020-02-14 13:53] nicolaferraro commented on #1172
Fixed by #1259 (which reference images directly via digest, so that Knative does not try to contact the registry to find it)

[2020-02-14 13:53] #1172 closed

[2020-02-14 14:32] astefanutti commented on #1209
It should be fixed with #1256.

[2020-02-14 14:32] #1209 closed

[2020-02-14 14:38] astefanutti commented on #1204
Buildah support has been merged in #1256, which now becomes the default builder on Minikube. It should improve the average build time. More optimisations will be delivered as part of #681, in order to achieve average build time below a minute.

[2020-02-16 10:14] #561 closed

[2020-02-16 10:14] #1037 closed

[2020-02-17 08:34] #1237 closed

[2020-02-17 08:36] #1200 closed

[2020-02-17 08:36] #1201 closed

[2020-02-19 13:29] zregvart opened #1280 "Error when trying create Integration"
In Syndesis we have an option to run integrations with Camel K. Testing this with 1.0.0-RC1 gives me this error in the operator logs:

[code]

[2020-02-19 13:32] lburgazzoli commented on #1280
Looks like it is using a mix of camel 3.1.0 and 3.0.0, the camel-k runtime does not yet support camel 3.1.0

[2020-02-19 13:35] zregvart commented on #1280
Yes, we're tracking `3.1.0-SNAPSHOT` of Camel at the moment.

[2020-02-19 13:53] zregvart commented on #951
Noting [a project](https://github.com/kubeflow/crd-validation) that might help with adding the validation.

[2020-02-19 17:39] tanmoyrsc opened #1282 "Kaniko in builder pod failed to push image to docker registry"
I am getting below error in builder pod, where Kaniko failed to push the images to local registry. please help to solve this issue.

camel-k installation command:
kamel install --registry-insecure true --registry 10.35.110.195:5000 --http-proxy-secret kamel-proxy --maven-settings=configmap:maven-settings/settings.xml --kaniko-build-cache=false -n service-integration

creating simple Hello world ja

[2020-02-19 22:37] bfitzpat opened #1283 "CLI log could use some kind of feedback when waiting for pod to spin up"
We're shifting over to using `kamel log [integration]` instead of `kubectl logs-f [podname]` for displaying logs in the VS Code extension and I've noticed that while waiting for the kit to build and the first integration pod to deploy, there is just... nothing. Without any kind of user feedback, some users may wonder if the integration will ever spin up.

It's great once it gets started and does e

[2020-02-20 08:55] cenitfish opened #1285 "Support of 3rd party camel components, data formats and type converters"
Hello everybody,

Camel K is a cool thing and I think the world was just waiting for it. I have been working with Camel for a long time and have written numerous components for my customers. My question is - are the 3rd party camel components, data formats, type converters also supported and if so how can I use it?

Register new Maven Repository:
`kamel install --maven-repository http://myserver:8

[2020-02-20 09:01] lburgazzoli commented on #1285
This should work out of the box as under the hoods your code is executed by a standard camel application: did you experience any issue ?

[2020-02-20 09:32] davsclaus commented on #1285
I think the reporter asked on Camel mailing list, and it was about camel k auto-discovering 3rd party components in the DSL and automatic could map it to maven coordinates. That wont work out of the box. And it would require for example to support installing custom catalog's or something with metadata that describe component scheme/name and its mvn coordinate etc.

[2020-02-20 09:33] cenitfish commented on #1285
Hi Luca,

currently I have the problem that if I pass my dependency with the -d option, an error occurs.

`kamel run -d mvn:mycompany:mycomponent:1.0 hello.groovy --dev`
integration "hello" created
integration "hello" in phase Initialization
integration "hello" in phase Building Kit
integration "hello" in phase Error
integration deployment failed

`kubectl logs camel-k-kit-bp750vabvegtmhqbb5dg-bui

[2020-02-20 09:43] lburgazzoli commented on #1285
@cenitfish can you post the log of the builder pod ? there should be an error there

[2020-02-20 09:47] cenitfish commented on #1285
@lburgazzoli
Here is the complete log from the builder pod:
`kubectl logs camel-k-kit-bp750vabvegtmhqbb5dg-builder`
Error from server (BadRequest): container "kaniko" in pod "camel-k-kit-bp750vabvegtmhqbb5dg-builder" is waiting to start: PodInitializing

[2020-02-20 09:53] cenitfish commented on #1285
@lburgazzoli
I think the problem is that my Maven artifact is not found even though I have already registered the Maven repository. Can I somehow test whether kamel can access the Maven repository?

[2020-02-20 10:02] lburgazzoli commented on #1285
Can you check that the repository is listed among those used by camel-k ? there is a config map named `camel-k-maven-settings` with a `settings.xml` key that contains maven' settings

[2020-02-20 11:05] cenitfish commented on #1285
@lburgazzoli
If I use the command `kubectl describe pod camel-k***` there is no information about the config map. I suspect that the karaf command could be used for this. I'm sorry, but how do I do that?

[2020-02-20 11:08] lburgazzoli commented on #1285
To list all the configmap in your namespace: `oc get cm`
To get the content of a config map: oc get cm ${name} -o yaml

[2020-02-20 11:38] cenitfish commented on #1285
@lburgazzoli
That's the problem. Unfortunately my maven repository is not listed there.

[2020-02-20 11:41] lburgazzoli commented on #1285
can you post the content of the integration platform ? I think when you did ·`kamel install` a platform was already there so the maven settings have not been updated

[2020-02-20 11:43] nicolaferraro commented on #1285
It's difficult to see the logs because now the maven build is done in an init container and kubectl only display it if you specify the name of the container explicitly.. it should be `builder` iirc, so `kubectl logs -c builder nameofthepod`.

Another reason to switch to an embedded build model for `1.0.0`, @astefanutti ?

I'd also try to fix the issue that cause the resources not to be replaced wh

[2020-02-20 11:51] nicolaferraro opened #1286 "Resources are not replaced on install"
We took this path because the standard user has rights to see some if some resources are present CRDs, but not to replace them, but currently we have a problem because no resource is overridden when doing a `kamel install`, including the operator or the configmap containing registry options and the platform.. we should change the way we deal with this..

[2020-02-20 11:51] lburgazzoli commented on #1285
We may want to have `kamel install` to fail in case it was already installed and maybe add a flag `--force` to force the reset of the platform

[2020-02-20 11:53] lburgazzoli commented on #1286
from https://github.com/apache/camel-k/issues/1285#issuecomment-588982339:

    We may want to have kamel install to fail in case it was already installed and
    maybe add a flag --force to force the reset of the platform

[2020-02-20 14:33] astefanutti commented on #1285
Right, that's a side effect of using init containers.

Yes, that won't rely on init containers.

[2020-02-20 23:05] nicolaferraro commented on #168
We should connect to [helm hub](https://github.com/helm/hub) after RC2 release.

[2020-02-20 23:07] nicolaferraro commented on #1206
Fixed by #1259

[2020-02-20 23:07] #1206 closed

[2020-02-21 08:09] lburgazzoli commented on #1285
@cenitfish did you get it working ?

[2020-02-21 08:25] #167 closed

[2020-02-21 09:18] cenitfish commented on #1285
@igarashitm I updated the config map "camel-k-maven-settings" and my repository is now included. Unfortunately I still get the error:
`
Error from server (BadRequest): container "kaniko" in pod "camel-k-kit-bp7nnhabveguqppri490-builder" is waiting to start: PodInitializing`

I have no idea what's wrong.

[2020-02-21 09:18] #1234 closed

[2020-02-21 09:24] nicolaferraro commented on #1204
Fixed by #1259

[2020-02-21 09:24] #1204 closed

[2020-02-21 10:36] cenitfish commented on #1285
After the Camel Reinstall (without updated config map) it now seems to work. I continue with my tests. I'll be in touch when I'm done.

[2020-02-21 11:49] #1255 closed

[2020-02-21 15:25] #1190 closed

[2020-02-21 23:20] cunningt opened #1293 "ClassNotFoundException from pom-catalog.xml"
Getting a ClassNotFoundException using the pom-catalog.xml.     Previously, there was a

                        <dependencies>
                            <dependency>
                                <groupId>org.apache.camel</groupId>
                                <artifactId>camel-catalog</artifactId>
                                <version>${camel.version}</version>

[2020-02-21 23:38] #1205 closed

[2020-02-21 23:38] #1257 closed

[2020-02-22 13:33] #1286 closed

[2020-02-24 06:02] lburgazzoli commented on #1293
@cunningt if you are using the latest bits from master yes, you'd need camel-k-runtime 1.1.x

[2020-02-24 13:52] #1195 closed

[2020-02-24 13:52] #1199 closed

[2020-02-24 13:52] #1233 closed

[2020-02-24 16:46] #1236 closed

[2020-02-24 18:16] nicolaferraro commented on #1273
## New Features

- Property files can now be linked to the integration without manually creating an external configmap ([#1244](https://github.com/apache/camel-k/pull/1244), [@nicolaferraro](https://github.com/nicolaferraro))
- Periodic integrations are automatically translated into Kubernetes CronJobs ([#1197](https://github.com/apache/camel-k/pull/1197), [@nicolaferraro](https://github.com/nicol

[2020-02-25 08:09] apupier opened #1296 "watch of *v1.ConfigMap ended with: too old resource version"
don't know the steps to reproduce. It was working yesterday, coming back to computer, I notice a long list of log (one line every ~15 minutes) in Camel K Operator pod log:
(showing only the first 3)
[code]

Deployment of integration is working. Not noticed any problems

[2020-02-25 11:01] lburgazzoli opened #1297 "Events are reported twice in dev mode"
Running an integration with `--dev` flag like:

    $ kamel run --dev examples/simple.groovy

Leads to event being reported twice if the build takes some time:

[code]

Looks like the event watch restarts after a timeout but the old watcher is still runnig.

[2020-02-25 11:08] davsclaus opened #1298 "kamel version should report version number in offline mode"
When you have no k8s/os cluster running, then you get an error.

But would still be good to know the kamel binary version.

❯ kamel version
Error: cannot get command client: could not locate a kubeconfig
Usage:
  kamel version [flags]

Flags:
  -h, --help   help for version

Global Flags:
      --config string      Path to the config file to use for CLI requests
  -n, --namespace string   Namespac

[2020-02-25 11:25] nicolaferraro commented on #1298
Does it happen also on RC2? I though this was fixed.. there's also a test

[2020-02-25 11:33] davsclaus commented on #1298
RC1

[2020-02-25 11:39] nicolaferraro commented on #1298
Should be fixed by d07c6ed2a6f555553ca8a936a9e8ae7640641d72

Please reopen if it's not the case ;)

[2020-02-25 11:39] #1298 closed

[2020-02-25 15:01] lburgazzoli opened #1299 "Reference to IntegrationKit metdata in Builder CR"
looks like the builder cr stores the metadata from the IntegrationKit in a spec field :

[code]

This seems to be used only by the s2i builder as it has not yet been re-factored as a task, once done, we should remove such reference

[2020-02-25 15:01] lburgazzoli commented on #1299
/cc @astefanutti

[2020-02-25 16:08] buuhsmead commented on #1039
Running camel-K with a telegram route and had the same issue.
Was able to resolve by a slightly different uri

`from("telegram:bots?authorizationToken={{telegram-token}}")`

[2020-02-25 16:16] davsclaus commented on #1039
See the migration guide for Camel as camel-telegram has changed syntax from 2.x to 3.0
https://camel.apache.org/manual/latest/camel-3-migration-guide.html#_telegram

[2020-02-25 23:20] sobkowiak opened #1300 "Unable to run the polyglot sample"
Trying to run the sample as described in README I'm getting an error

    kamel run --name=polyglot routes.xml JavaRoute.java beans.groovy
    Error: integration name is mandatory when using multiple sources

Tested with version `1.0.0-RC2`

[2020-02-26 09:25] apupier opened #1301 "[Enhancement]Improve log message when image not available in cache"
For Kit builder log, I have:

[code]

when investigating, the message `Error while retrieving image from cache: getting file info: stat /kaniko/cache/sha256:9ac5acb3aa8e7e179eb1fd28cda7dac22ef7deac24f00b50cee56265fa259141: no such file or directory ` leads to think that there is a a real error. Unless, I miss something, I think that it is only that the file is not available in the cache yet. I thi

[2020-02-26 09:34] astefanutti commented on #1301
In upcoming RC2, the builder defaults to using Buildah instead of Kaniko, so the messages won't appear. These statements are emitted by Kaniko, so there isn't much that can be done on Camel K side.

[2020-02-26 09:38] #1301 closed

[2020-02-26 09:54] orpiske opened #1302 "User cannot create resource in API group"
When running an integration on our OpenShift 4.2.9 I got an error stating that the user cannot create resource "servicemonitors" in the the API group "monitoring.coreos.com".

The message is:

```{"level":"error","ts":1582651063.927428,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"integration-controller","request":"camel-k-event-streaming-dev/open-aq-consumer","er

[2020-02-26 11:21] #1300 closed

[2020-02-26 13:22] heiko-braun commented on #1302
Is it similar to https://github.com/syndesisio/syndesis/pull/7976/files ?

Syndesis ran into this issue after an update to the operator-sdk

[2020-02-26 13:39] astefanutti commented on #1302
I suspect this is caused by the _prometheus_ trait. Having a quick look at the Camel K operator roles, it seems the permissions required for the trait to create the Prometheus resources are missing.

@orpiske could you precise the command you use to run the integration?

[2020-02-26 13:43] orpiske commented on #1302
@astefanutti I have this whenever I try to run an integration with `--trait prometheus.enabled=true` ... any integration.

I first noticed this on a demo I am working on. In that case, the full CLI was something like:

```kamel run OpenAQConsumer.java --trait prometheus.enabled=true --property kafka.bootstrap.address=my-kafka-host:9094 --dev```

[2020-02-26 13:45] astefanutti commented on #1302
@orpiske thanks. that confirms it's caused by the _prometheus_ trait.

As a work-around, you can amend the `camel-k-operator` role, e.g., `kubectl edit role camel-k-operator`, and add the missing permissions.

[2020-02-26 13:48] orpiske commented on #1302
Awesome. I will give it a try, thanks!

[2020-02-26 15:44] thof commented on #1273
@nicolaferraro could you upload binaries for this release?

[2020-02-26 20:15] sobkowiak opened #1304 "Unable to run saga sample"
I run the sample as described in the readme.  All components start successfully and the saga route starts sending the messages.

[code]

After some seconds following errors are reported.

[code]
Next the train, flight and payment pods  except the saga pod are terminated. It looks like the saga route could not reach the train and flight service and after some time the pods are terminated as they ar

[2020-02-26 20:33] sobkowiak commented on #1304
The integrations are run with following trait `container.service-port=8080`. Which port is confugured with this trait parameter? I can see in the port in the pod is set to 8080, but it is the default setting. When I look to the `train-f274l ` and `train-f274l -private` service I cannot see the port 8080 there but the port 80

[code]
and
[code]

[2020-02-27 11:03] nicolaferraro opened #1305 "Add superfast builds for dev clusters"
I've been hacking with image builds and created https://github.com/container-tools/spectrum which can be used to cut down build times on Minikube/dev clusters to few seconds:
- ~20 seconds for the first build
- ~5 seconds for subsequent ones

Time to download maven artifacts excluded, but it can run in "routine" mode, so the m2 is cached in the operator.

I'm adding it to Camel K.

[2020-02-27 11:04] oscerd commented on #1305
Impressive!

[2020-02-28 05:22] sobkowiak commented on #1273
@nicolaferraro When will be the binaries available for download?

[2020-02-28 07:28] #1305 closed

[2020-02-28 11:03] nicolaferraro commented on #1273
They should now be released, I'm doing some checks before the announcement.

[2020-02-28 11:19] bouskaJ opened #1308 "Misleading error message in knative trait: cannot find event default"
I get `error during trait customization: cannot find event default","errorVerbose":"cannot find event default` error when I run this integration
``
from('timer:tick')
  .setBody().constant("Hello 1")
  .to('knative:event/hello.1')
``
Without installed broker. (Without knative-eventing-injection=enabled label).
This error message is very misleading and should be changed.

Full log:
[code]
This erro

[2020-02-28 13:24] #1273 closed

[2020-02-28 13:50] nicolaferraro opened #1309 "Cannot patch event log errors"
I get many errors like this one. They don't hurt, but pollute the logs..

[code]

[2020-02-28 13:51] nicolaferraro opened #1310 "Support OpenAPI 3"
JSON and YAML format

[2020-02-28 17:07] lburgazzoli opened #1312 "Catalog generation does not take into account the runtime provider to determine the catalog name"
this lead to issues as a catalog for quarkus and main have the same name, thus only one wins

[2020-03-02 09:40] nicolaferraro opened #1314 "Errors in incremental build on OCP4"
Don't know if it's always happening, but running the saga example in order I get:

[code]

[2020-03-02 11:02] #1312 closed

[2020-03-02 13:33] nicolaferraro opened #1316 "Add some sugar to rest APIs"
What we can do:
- Automatically add camel-rest if running with --open-api flag (and possibly an implementation, see https://github.com/apache/camel-k-runtime/issues/248)
- Publish as Knative service if Knative is available (currently not recognized)
- Add e2e tests
- Bind it automatically to port 8080

[2020-03-02 16:14] lburgazzoli opened #1317 "Rename rest-dsl trait to openapi"

[2020-03-02 17:29] lburgazzoli commented on #1316
@nicolaferraro taking point 1 as part of adding support for capabilities

[2020-03-03 10:14] lburgazzoli commented on #1316
@nicolaferraro `Bind it automatically to port 8080` would require the migration to camel 3.1 as we need to set it through defaults

[2020-03-03 10:29] nicolaferraro opened #1320 "Add e2e test for the multiple files scenario"
It's fixed now, but it failed in RC2 (see #1300) and we must ensure it does not happen again.

[2020-03-03 10:31] nicolaferraro opened #1321 "Add a nodeport option to the service trait"
It's useful on minikube

[2020-03-03 14:04] lburgazzoli commented on #1310
Requires https://github.com/apache/camel-k-runtime/issues/232

[2020-03-03 23:54] nicolaferraro opened #1323 "Cannot append/override stored properties"
After running an integration with e.g.
[code]

Then it's no longer possible to use properties:
[code]

The same happens with dependencies.
In both cases, we should append properties/dependencies together.

We should also add some tests about this.

[2020-03-04 07:33] lburgazzoli commented on #1323
I don't think this is possible with the libraries we use for the CLI as cobra + viper define a hierarchy where to find values for the flags which as today is:

- CLI flag
- environment
- file

So if you set something from the CLI with a flag, that flag overrides every value you may have eventually set through file or env var.

[2020-03-04 08:28] lburgazzoli commented on #1323
btw, I was thinking to replace _cobra + viper_ with https://github.com/urfave/cli as it has a lot less dependencies and looks simpler, at that point we can try to implement the _append_ behaviour but I would do it post 1.0 and document that the current set-up is about to set default values

[2020-03-04 08:43] nicolaferraro commented on #1323
Agree, our current setting is a bit over-complicated.. and that CLI seems exactly what we need

[2020-03-04 16:13] nicolaferraro opened #1325 "Add a 3scale addon"
It would be nice to provide an addon that adds some annotations that allow an API manager like 3scale to discover the service created by camel k.

The addon can be disabled by default and, if enabled, it can add e.g. the following annotations to the service:
- "discovery.3scale.net/scheme" (required): "http" (customizable, but probably fixed)
- "discovery.3scale.net/port" (required): "80" (by defa

[2020-03-04 17:37] contactreji commented on #892
Closing this

[2020-03-04 17:37] contactreji commented on #892
You can close this. thanks

[2020-03-04 17:38] #892 closed

[2020-03-06 07:37] lburgazzoli opened #1327 "Switch to java 11 by default ?"

[2020-03-06 10:09] nicolaferraro commented on #1327
Correct me if I'm wrong.. We switched from fabric8 images to openjdk images by default. But those images come without settings for tuning CPU/memory allocation in containers?

Does Java 8 support "living well in a container"? Or we need Java 11 also for this reason?
@astefanutti is the expert here.

[2020-03-06 10:14] astefanutti commented on #1327
Container support has been back-ported in JDK 8u212. So we are ok with the current `adoptopenjdk` base image, w.r.t., JVM ergonomics. That being said, upgrading to 11 has probably some other benefits.

[2020-03-06 16:41] lburgazzoli commented on #1316
Depends on https://github.com/apache/camel-k-runtime/pull/251

[2020-03-09 10:05] lburgazzoli opened #1328 "Hide platform traits"
Some traits are platform traits and disabling them would make the platform unstable or not behaving as expected so, should we hide them and make them not configurable from the user ?

[2020-03-09 10:23] nicolaferraro commented on #1328
Yeah, but some of them have options. Maybe we can react by throwing an error when the user tries to disable them. The doc already states this in a warning.

[2020-03-09 10:24] lburgazzoli commented on #1328
we can remove the "enabled" flag or add a struct tag to instruct how to handle them

[2020-03-09 10:29] lburgazzoli opened #1329 "Adapt cron trait to latest camel-k-runtime"
See https://github.com/apache/camel-k-runtime/blob/ced4a97058519e89293e83e3267c800a91dff94f/camel-k-runtime-cron/src/test/java/org/apache/camel/k/cron/CronTest.java#L41-L42

[2020-03-09 10:36] lburgazzoli commented on #1329
Relates to https://github.com/apache/camel-k-runtime/issues/255

[2020-03-09 11:28] lburgazzoli commented on #1329
For true quarkus support we need https://github.com/quarkusio/quarkus/pull/7681

[2020-03-09 11:53] lburgazzoli opened #1331 "traits: support capabilities"
The catalog provides information about the capabilities a runtime supports and we can add information about the capabilities a trait requires.

By doing that we can:
- automatically filter out traits related to capabilities not supported by runtimes
- automatically add dependencies required by the capabilities

[2020-03-09 18:05] lburgazzoli commented on #563
@hguerrero I think you did it https://github.com/apache/camel-k/blob/master/examples/AMQPBindToRegistry.java

[2020-03-09 18:11] #563 closed

[2020-03-09 18:11] #528 closed

[2020-03-10 08:09] lburgazzoli opened #1332 "Configurable maven options"
When a maven build is triggered, it shows transfer when downloading artifacts, we should make it configurable i.e. by letting user to define global maven options

[code]

[2020-03-10 17:11] lburgazzoli opened #1333 "Error creating build container: no space left on device"
Sometime the e2e tests fails on CI because of

[code]

See https://github.com/apache/camel-k/pull/1330#issuecomment-597084533 as reference

[2020-03-10 17:11] #1310 closed

[2020-03-10 17:11] #1316 closed

[2020-03-10 17:11] #1317 closed

[2020-03-10 17:11] #1329 closed

[2020-03-12 08:00] oscerd opened #1336 "Add a compatibility matrix in documentation related to knative vs camel-k version"

[2020-03-12 10:56] lburgazzoli opened #1337 "Wrong knative dependency"
When knative is auto detected, the related component dependency is wrong:

[code]

[2020-03-12 14:38] lburgazzoli commented on #1337
Fixed by https://github.com/apache/camel-k/pull/1338

[2020-03-12 14:38] #1337 closed

[2020-03-12 15:43] hguerrero opened #1339 "Support for local development using containers"
Add capabilities to run a _limited_ version of the integration locally using the local container runtime (docker, podman) for local development.

[2020-03-12 15:48] lburgazzoli commented on #1339
Not sure if it is what you are looking for but you can actually run the runtime from maven, like: https://github.com/apache/camel-k-runtime/tree/master/examples

[2020-03-12 17:02] nicolaferraro opened #1340 "ConfigMap xxx-openapi-000 not found"
When restarting an openapi integration immediately after deleting it, I often get a `ConfigMap xxx-openapi-000 not found` error (where `xxx` is the name of the integration).

Example here: https://github.com/nicolaferraro/api-demo

This is probably because the previous integration deletion mechanism tries to delete the configmap and the new one creates it, making it in the wrong order... or maybe

[2020-03-12 17:14] nicolaferraro opened #1341 "Probes not bound to Knative services"
Running the example in:

With command:
[code]

The Ksvc is populated with the following probes:

[code]

No liveness probe.

It seems something attached by Knative, while my settings are lost.

Looking at the trait, the trait applies only to deployments, while it should look for containers in the collection.

[2020-03-12 18:39] hguerrero commented on #1339
Looks like in the correct direction, is there any docs I can take a look?

[2020-03-13 15:41] #1341 closed

[2020-03-15 21:43] lmorandini opened #1346 "'context' object not available in JavaScript integrations"
While the integrations generally work in Camel-K 1.0.0.-RC2 , the 'context' object is not available:
```const amq = context.getComponent('activemq');```
causes:
[code]

[2020-03-16 09:58] nicolaferraro opened #1347 "Standard rest services can be bound to 8080 by default"
This happens already for openapi services

[2020-03-16 11:48] nicolaferraro commented on #569
No longer in plans

[2020-03-16 11:48] #569 closed

[2020-03-16 11:49] nicolaferraro commented on #568
This has been implemented. Additionally, platforms are auto-created on OpenShift by the platform trait.

[2020-03-16 11:49] #568 closed

[2020-03-16 11:51] nicolaferraro commented on #641
Not in plans

[2020-03-16 11:51] #641 closed

[2020-03-16 13:07] lburgazzoli opened #1348 "Cannot find RestApiConsumerFactory"
Relatd to apache/camel-k-runtime#267

[2020-03-16 17:29] #1347 closed

[2020-03-16 17:33] nicolaferraro opened #1350 "Remove human-readable format from timer period computation in cron trait"
Human readable format is no longer supported in Camel 3.2.x.

See: https://github.com/apache/camel-k/blob/a8f8db916698a2f6578aea5143bbe2e4749857f6/pkg/trait/cron.go#L100

[2020-03-16 17:38] oscerd commented on #1350
If nobody want to work on this I'll have a look

[2020-03-17 05:09] weimeilin79 commented on #1320
Are we going to have it fix soon? or any temp fix?

[2020-03-17 08:42] #1309 closed

[2020-03-17 15:11] #1325 closed

[2020-03-17 16:56] #1350 closed

[2020-03-17 17:03] #1304 closed

[2020-03-18 09:29] nicolaferraro commented on #289
No longer a problem.

[2020-03-18 09:30] nicolaferraro commented on #289
I'm not sure about the digest.. Let me verify..

[2020-03-18 13:23] #1348 closed

[2020-03-18 15:50] nicolaferraro commented on #168
Charts published in helm hub

[2020-03-18 15:50] #168 closed

[2020-03-18 15:56] nicolaferraro opened #1356 "Kamel uninstall does not remove everything in OLM mode"
We currently remove the subscription and few other things, we can apply the standard method in addition to remove other stuff.

[2020-03-18 16:04] nicolaferraro commented on #289
Verified

[2020-03-18 16:04] #289 closed

[2020-03-18 16:18] TeslaCN opened #1357 "How can I modify registries in buildah container?"
using `camel-k:1.0.0-RC2`.

After Java code compiled. The pod `camel-k-kit-bpp3c3g3g14ct1jabkqg-builder` is running, and its logs:
[code]

kamel install args:
[code]

I found a file named `/etc/containers/registries.conf` in the builder pod:
[code]

How can I modify the registries?

[2020-03-19 08:04] TeslaCN commented on #1357
I modified the `/etc/containers/registries.conf` and commit to a new `buildah` image. An error occurred:
[code]

[2020-03-19 08:57] astefanutti commented on #1357
The registry configuration is stored in a secret, that's mounted into the builder pod, and referenced using the `REGISTRY_AUTH_FILE` environment variable. The `kamel install` registry options are used to automate the creation of a secret called `camel-k-registry-secret`, that's later used for the builds.

Could you checked the secret is there and mounted in the builder pod? It seems your private r

[2020-03-19 09:45] apupier opened #1358 "Provide description in JSON output for traits"
VS Code tooling is providing completion based on `kamel help trait --all -o json`.
It would be nice to provide description in the json output for trait and their properties to improve help to users.

[2020-03-19 09:56] TeslaCN commented on #1357
@astefanutti Thanks for your reply.

I deploy the Registry with:
[code]
I think this way does not require authentication.

[2020-03-19 10:34] nicolaferraro opened #1359 "Upgrade Knative CI to 0.13.x"
And use a corresponding version of Kourier

[2020-03-19 10:38] nicolaferraro commented on #1358
It requires a bit of work but this can be done. We can use a variant of the `cmd/util/doc-gen` to generate offline a yaml containing the trait descriptions in `/deploy` and then use it in the `kamel help trait` command to provide the missing descriptions.

[2020-03-19 11:10] #1340 closed

[2020-03-19 13:08] TeslaCN opened #1360 "unsupported secret type for registry authentication"
`camel-k:1.0.0-RC2`

I executed `kamel install` as the document [Configuring a DockerHub Registry](https://camel.apache.org/camel-k/latest/installation/registry/dockerhub.html) says, and I checked the secret `kubectl get secret camel-k-registry-secret -n camel-k -o yaml` is equals to `~/.docker/config.json`.

It doesn't work.
[code]

[2020-03-19 13:24] astefanutti commented on #1360
Thanks for the report. It seems the secret that's created by the `kamel install` command is not compatible with the `buildah` nor `kaniko` build strategy.

These expect a secret with a `.dockercfg` or `.dockerconfigjson` key. As a work-around, you can create the secret manually, instead of relying on the `kamel` CLI.

[2020-03-19 14:58] #1293 closed

[2020-03-19 15:09] nicolaferraro commented on #1314
It happened because the images were actually removed

[2020-03-19 15:09] #1314 closed

[2020-03-19 15:11] nicolaferraro opened #1361 "Add a simple API tutorial for the getting started experience"

[2020-03-19 16:40] #1333 closed

[2020-03-19 16:43] nicolaferraro opened #1362 "Refactor CI tests to reduce feedback time"
We can:
- Execute all tests with a fast configuration, such as Spectrum
- Execute only relevant tests on Kube/Buildah, Kube/Kaniko and OpenShift

[2020-03-20 00:46] TeslaCN commented on #1360
@astefanutti Thanks for you reply.
Sorry i didn't describe it clearly.

`kubectl get secret camel-k-registry-secret -n camel-k -o yaml` The data in `camel-k-registry-secret` is indeed in `.dockerconfigjson: a_base64_string` format. Decode the base64 string, the content is the same as the file `~/.docker/config.json`.

Please guide me me what should I do. Thanks!

[2020-03-20 08:39] nicolaferraro opened #1363 "Detect components from xxx.properties"
If I set:
[code]

The `camel-twitter` component should be added to the set of dependencies automatically.

Also because the new property-binding mechanism goes in error otherwise.

We should inspect direct properties and property-files.
We may extend the search also to linked secrets and configmaps.

[2020-03-20 08:42] astefanutti commented on #1360
I've improved registry configuration with Buildah in #1295. It's not in 1.0.0-RC2 version, but will be in the next release. In the meantime, you could try from the `master` branch, if that's an option for you.

[2020-03-20 09:07] TeslaCN commented on #1360
Thanks! I am looking forward to the next release.

[2020-03-20 09:07] #1360 closed

[2020-03-20 10:39] nicolaferraro opened #1364 "Knative API example becomes unstable"
Way to reproduce:
- Create a rest API integration
- Install Camel K in default mode with Knative installed
- Run the integration with `kamel run api.groovy` (it should activate Knative-service automatically)
- Wait for the pod to be running
- Run the integration again with `kamel run api.groovy --profile Knative` (same expected result as before, but now the digest is different)

At this point, pod

[2020-03-20 12:59] nicolaferraro opened #1365 "Nightly builds?"
What do you think about releasing unstable versions daily/periodically to let users try the latest and greatest versions?

@lburgazzoli , @astefanutti , @oscerd

[2020-03-20 13:00] oscerd commented on #1365
+1

[2020-03-20 13:01] lburgazzoli commented on #1365
+1

[2020-03-20 13:48] astefanutti commented on #1365
Yes, it'd be very useful. It relates to #393.

[2020-03-20 16:50] nicolaferraro opened #1367 "Add more build events"
Currently, when I watch events, I see a Build scheduled and nothing more.
No error events are generated when the build fails. It would be also good to see when the maven part starts and end.

[2020-03-22 16:05] #1357 closed

[2020-03-23 10:50] apupier opened #1368 "Avoid requirements of a kubeconfig when using `kamel init xxx` command"
currently, if there is no kubeconfig available, it is not possible to use kamel init command:

[code]

as currently no connection is required to a Camel K Runtime instance, it would be convenient to avoid this requirement.

[2020-03-23 13:42] edeandrea opened #1369 "Make kamel cli installable via Homebrew"
It would be a really nice addition to be able to install the `kamel` cli via Homebrew for Macos users.

[2020-03-24 06:42] svkcemk commented on #1359
@nicolaferraro want to help on this I'll have a look.

[2020-03-24 07:41] kisamoto opened #1370 "PublishStrategy missing from IntegrationPlatform build spec"
**Setup**

* GKE cluster - Kubernetes `1.15.8-gke.3`
* Kamel `1.0.0-RC2`
* GCR registry storage

**Problem**

With a fresh install of Kamel on the cluster, following the GCR instructions I was receiving the following error message when running any integration:

[code]

I knew I had the secret available with the correct name but it wasn't being picked up. Why?

**Solution**

* `builder.go:Apply()`

[2020-03-24 08:48] nicolaferraro commented on #1370
Hi @kisamoto, the option to choose the publish strategy has been added recently but it isn't available in RC2.

I don't know if Buildah can be used to push to GCR.io (@astefanutti ), but for sure Kaniko has specific options for it.

[2020-03-24 09:01] astefanutti commented on #1370
Buidah based builds do not yet specifically support GCR. You can use standard Docker registry authentication file formats with Buildah, but I'm not sure these work with GCR.

As a work-around, Kaniko based builds can be used as mentioned. Ideally, we should make Buildah builds capable of authenticating to GCR, or clearly indicate the limitation in the documentation.

[2020-03-25 11:33] #1365 closed

[2020-03-25 11:33] #1364 closed

[2020-03-26 07:46] TeslaCN opened #1375 "How can I run a whole project with many integration files in a comfortable way?"
I can run some integration with `kamel run file1 file2 file3` in a kit. But what if my integration project has hundreds of files, how can I run it in a comfortable way?

[2020-03-26 08:08] TeslaCN commented on #1370
@kisamoto Maybe we encountered the same problem. #1360

I think it has been fixed, but not released yet. #1259

https://github.com/apache/camel-k/blob/24ddce5afb41c70a0bf30e06f74c6f380f5fd851/pkg/trait/builder.go#L327-L338

[2020-03-26 08:30] lburgazzoli commented on #1375
Working with hundreds of files is not a goal for camel-k so you should probably package them in an artefact and consume it as a dependency.

[2020-03-26 08:48] kisamoto commented on #1370
@TeslaCN  ah yes I saw your bug report too :-) i'm not sure if it is exactly the same as my build should be using Kaniko (due to having the `kaniko-secret.json` file in the secret) but your report and the PR helped me track down the issue.

Looking forward to seeing if it's fixed in the next RC

[2020-03-26 12:11] bthj opened #1376 "MicroK8s' built-in registry declared for the Camel K installation, but not used - integration installations fail"
Installing Camel K to a local MicroK8s cluster with
[code]
successfully installs the camel-k-operator but the example integration installed with the `--example` flag fails to build, with those messages:
[code]

MicroK8s' built-in registry is referenced in the `kamel install` command with the flags `--registry-insecure true --registry localhost:32000` and that registry has proven to be up and runni

[2020-03-26 16:23] bthj commented on #1370
@kisamoto, how did you manually add `build.spec.publishStrategy` to the `integrationplatform` ?

[2020-03-26 20:50] bthj commented on #1370
Tried the [1.0.0-nightly.202003261646 Release](https://github.com/apache/camel-k/releases/tag/1.0.0-nightly.202003261646) and still get the "unsupported secret type for registry authentication" error, when [configuring a gcr.io registry](https://camel.apache.org/camel-k/latest/installation/registry/gcr.html).

[2020-03-26 21:07] nicolaferraro commented on #1370
Did you installed with `kamel install .... --build-publish-strategy=Kaniko` with the nightly release?

[2020-03-27 10:43] bthj commented on #1370
Didn't use that flag before with the nightly release.  Now when issuing `kamel uninstall` and using the nightly to install again with:
[code]
the log output from `camel-k-operator-...` is a rapid stream of entries like:
[code]
and if I install an example integration with `kamel run ...` it doesn't show up in the list of pods.

[2020-03-27 11:33] nicolaferraro commented on #1370
I've done a full test and I managed to push images on GCR.
Did you create the kaniko-secret using instructions from https://camel.apache.org/camel-k/latest/installation/registry/gcr.html ?

Apart from the --build-publish-strategy=Kaniko, those instructions seem to work.
Can you check the pods in the namespace named "*-kit-*"? there should be some failing in your case. It would be nice if you can p

[2020-03-27 17:11] #1356 closed

[2020-03-27 19:44] bthj commented on #1370
Yes, I did follow the [configuring a gcr.io registry](https://camel.apache.org/camel-k/latest/installation/registry/gcr.html) instructions, and I installed the `kaniko-secret` to my local MicroK8s cluster.

Several "-kit-" pods get created, one after another, each taking minutes to initialise, eventually terminating, with log output like:
[code]

The pod for the integration deployment has the even

[2020-03-28 13:31] #1375 closed

[2020-03-30 14:01] nicolaferraro opened #1379 "OpenShift CLI download links are not populated when installing from operator hub"
We need to make sure that not only the CLI publishes the links but also (and more importantly) the installation from operator hub.

[2020-03-30 15:56] #1379 closed

[2020-03-31 15:14] nicolaferraro opened #1382 "Cannot manage prometheus resources"
Some grants should be added to the helm/olm definitions.

[code]

[2020-03-31 16:40] nicolaferraro opened #1384 "Allow to define custom prometheus exporter"
The trait can have a `confimap' option.

[2020-03-31 18:03] #1382 closed

[2020-04-01 09:09] #1327 closed

[2020-04-02 02:14] lmorandini opened #1386 "Adding the http4 dependency causes the deployment of an integration to fail"
I have an OpenStack/Kubernetes/Istio/Knative cluster with Camel-K 1.0.0.-RC2 on it.

When the http4 module is loaded, as in: `../camel-k/kamel run  ../camel-k/examples/Sample.java  --name=sample --dependency camel-http4 --dev` the build fails with
[code]
...but when that module is not loaded, the `Sample.java` example works as expected (loading the `http` module is fine too).

[2020-04-02 05:43] lburgazzoli commented on #1386
The cmel-http4 component has been renamed to camel-http in camel 3.x, see https://camel.apache.org/manual/latest/camel-3-migration-guide.html#_renamed_components

[2020-04-02 17:30] nicolaferraro opened #1387 "Quarkus runner jar is never rebuilt on layered kits"
When building a new kit, the runner jar is not replaced and this causes issue.
E.g. When switching from an integration written in groovy (-t quarkus.enabled=true) to one written in Java, the groovy configuration is kept in the runner and we have a runtime problem.

[code]

[2020-04-03 12:45] nicolaferraro opened #1388 "Add some sugar for additional sources"
When I need to add a customizer (i.e. an additional source that adds a different behavior) to an integration I run something like:

[code]

The problem is that after I `--save` the arguments passed to the command, if I want to run the integration again, I still need to pass the customizer and the integration name:

[code]

This works instead:

[code]

But the purpose of `--save` is to let you writ

[2020-04-03 12:46] nicolaferraro commented on #1388
That also allow e.g. to create customizers for all integrations (e.g. an OpenTracingCustomizer) and reuse it automatically after saving it in the global config.

[2020-04-03 15:02] nicolaferraro commented on #1387
Reproducer:

[code]

[2020-04-03 15:56] #743 closed

[2020-04-03 15:56] #1387 closed

[2020-04-06 14:35] nicolaferraro opened #1393 "The camel-k:edit clusterrole is not always created"
It's created automatically on `kamel install --cluster-setup`, but not when the user installs Camel K via OLM/HELM.

We should enforce the creation of https://github.com/apache/camel-k/blob/master/deploy/user-cluster-role.yaml in the operator.

[2020-04-06 15:07] garyedwards commented on #1370
Hi I was having the same issue and https://github.com/apache/camel-k/issues/1370#issuecomment-604687032 solved it.

[2020-04-06 15:39] nicolaferraro opened #1394 "Cannot switch between cron and normal deployment in dev mode"
Have an integration that runs from timer:

[code]

I run it in dev mode:

[code]

After it runs, I change the code to run every minute:

[code]

The integration is turned into a cronjob correctly, but it fails when it runs:

[code]

The problem is that the `org.apache.camel.k:camel-k-runtime-cron` library is missing.

When running the integration normally (not from dev mode, directly as CronJob),

[2020-04-06 16:16] nicolaferraro opened #1395 "Events should be shown also when running the integration with --logs"
This is the output of `--dev` mode:

[code]

But that "Progress" info are not shown with `--logs`.

[2020-04-06 19:34] luszczynski commented on #1339
It would be very nice to run camel-k locally just using an OCI runtime.

[2020-04-07 07:02] davsclaus opened #1396 "Detect camel-microprofile-fault-tolerance for Circuit Breaker"
In Camel 3.3 we have support for MP fault tolerance.
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-14179

Camel K should be able to detect this as an impl. And we should ideally pick this impl if there is no explicit import on the other implementations.

[2020-04-08 06:35] #1394 closed

[2020-04-08 08:14] #1384 closed

[2020-04-08 08:14] #1393 closed

[2020-04-08 15:40] nicolaferraro opened #1401 "Camel Cron trait page is rendered incorrectly"
It says a valid cron is: `cron:tab?schedule=0/2++++?`, but it should be `cron:tab?schedule=0/2+*+*+*+?`.

Page here: https://camel.apache.org/camel-k/latest/traits/cron.html

[2020-04-10 14:03] nicolaferraro opened #1402 "Honor cluster PROXY settings"
In some environments (e.g. OpenShift with OLM), variables like
HTTP_PROXY, HTTPS_PROXY and NO_PROXY are passed to the operator.

The operator should make sure they are forwarded to the integration, if that does not clash with other custom options set on the platform.

The cluster may also pass a CA bundle that is used in case of HTTPS proxy. That can be received via configmap and should be injecte

[2020-04-11 12:01] akieling opened #1403 "Failed to read a GraphQL query from a ConfigMap"
GraphQL queries with the query specified in the URI work fine but queries stored in ConfigMaps don't seem to work. An exception is thrown when trying to read the query text.

Command:
[code]

hello.groovy
[code]

hello-config.yaml
[code]

Error:
[code]

[2020-04-12 10:55] nicolaferraro commented on #1403
Hi, the `--configmap` or `--secret` options are for passing a xxx.properties file for the standard camel configuration.

Probably what you need to use is the `--resource` flag, passing directly the file you want to use as resource.

[2020-04-12 10:58] nicolaferraro commented on #1403
I guess there's something wrong in the parser or we need some escaping. The `}}` in the query makes the parser to require a `{{`.

[2020-04-13 11:32] akieling commented on #1403
Yep, there seems to be an issue with the parser when the property values contain double curly braces. About my example, thanks for letting me know that I should be using the `--resource` flag to expose the GraphQL query file to the app. It's working fine the following way:

Command
[code]

hello.groovy
[code]

hello.graphql
[code]

Output
[code]

[2020-04-13 11:52] akieling commented on #1403
@nicolaferraro The issue seems to be in the Camel code, not in the Camel K code. Shall I close this issue?

[2020-04-14 07:26] lburgazzoli commented on #1403
@akieling yes please

[2020-04-14 07:27] lburgazzoli commented on #1386
@lmorandini can we close this one ?

[2020-04-14 08:43] lburgazzoli opened #1404 "re-organize e2e tests"
We do execute e2e tests against a number of platform with different container image publishers but for most of the tests, the way the image is published does not matter at all so I think we should re-organize the e2e to:

- define the tests beseline as vanilla k8s + knative with spectrum
- specific test for OpenShift
- specific test for OpenShift + knative (if possible)
- specific test for buildah

[2020-04-14 10:14] #1403 closed

[2020-04-14 22:32] lmorandini commented on #1386
Sure.

[2020-04-14 22:32] #1386 closed

[2020-04-15 08:48] astefanutti commented on #1404
I think that makes sense to improve tests execution time and resources optimisation. For the baseline tests, we may want to choose the builder that's the most supported, to cover most of its surface.

[2020-04-15 17:42] ipolyzos commented on #1369
I would be happy to take over this task.

I have created an initial tap for your feedback at [kamel-homebrew-tap](https://github.com/ipolyzos/kamel-homebrew-tap).

[2020-04-15 18:04] ipolyzos commented on #1369
Could you please advise on a PR should be structured? _(path etc)_

[2020-04-15 18:06] edeandrea commented on #1369
I can't seem to tap it

[code]

According to the [taps guide for repository naming conventions](https://docs.brew.sh/Taps#repository-naming-conventions-and-assumptions) the repository name should start with `homebrew`.

[2020-04-15 18:27] ipolyzos commented on #1369
The repo does not compy in the default naming _(user/homebrew-tap)_ thus why it fails. If you please try the format :

e.g

Please see below my log:

[code]

[2020-04-16 15:52] lburgazzoli opened #1406 "create trait to configure the http layer"
camel provides many way to expose and configure `http` services but in camel-k we should be opinionated and leverage the `platform-http` component configured through a trait so we can generate the right properties depending of the platform (quarkus vs main)

[2020-04-16 21:28] lburgazzoli opened #1407 "support for jitpack dependencies"
we should add a special support for [jitpack](https://jitpack.io/) dependencies like:

    kamel run --dependency jitpack:$owner/$repo/$version

where:

1. the `$owner` is prefixed with `com.github` if not provided
2. the `$version` is replaced with `master-SNAPSHOT` if not provided

The repository will automatically be added to the maven project by the build step if at least one dependency is of

[2020-04-16 21:43] oscerd commented on #1407
I'll try to work on it if it's ok for all

[2020-04-16 22:05] lburgazzoli commented on #1407
As jitpack by default [supports also other git hosts]( https://jitpack.io/docs/#other-git-hosts), we should probably take them into account when checking for the prefix

[2020-04-17 10:35] HamdiBouallegue opened #1408 "Error during unshare(CLONE_NEWUSER): Invalid argument"
**Description :**
I'm not able to execute camel integration on  kubernetes:
- I installed camel -k with helm chart
-I used kubernetes 1.17.3
-I have3 clusters  (master and two node-clusters)
-I installed camel -k on the master-cluster
**My integration file :**
file-transfer.java
---------------------------------------------------------------------------------------
import org.apache.camel.builder.

[2020-04-17 12:49] davsclaus opened #1409 "kamel run that can auto discover/guess what to include and run"
I wonder if we could make the kamel CLI somewhat smart for development purposes and allow to to try to auto discover/guess what you have to make it run.

Then it can output on the CLI what it have discovered and what the arguments on the CLI would be if typed manually.

Inspired by nicolas little demo, see screenshot

So it will look in the current folder the files and look inside to see what they

[2020-04-17 12:49] davsclaus commented on #1409
![Screenshot 2020-04-17 at 14 44 58](https://user-images.githubusercontent.com/477100/79570960-a5abe600-80ba-11ea-92b8-67715b08932c.png)

[2020-04-17 12:58] nicolaferraro commented on #1409
That would work for the API scenario, but there are cases where it will make bad assumptions. E.g. in https://github.com/openshift-integration/camel-k-example-event-streaming you have multiple Java files, but most of them are to be run independently.

I think that after Luca fixes https://github.com/apache/camel-k/pull/1400, we have a good format for the `kamel-config.yaml` file and we can sponsor

[2020-04-17 13:01] lburgazzoli commented on #1409
#1400 should be working now, please retest :)

[2020-04-17 13:07] nicolaferraro commented on #1409
You said that also yesterday ;)

[2020-04-17 13:12] johnpoth opened #1410 "Support `make install-crc`"
https://github.com/code-ready/crc

I can take a look at this if it's ok

[2020-04-17 14:12] nicolaferraro commented on #1410
That would be great. The only thing that was not solved up to last time I looked into CRC, is how to make a local container image available to CRC.

In the early days of minishift we did `eval $(minishift docker-env)`, then we built the image. But that approach did not work with CRC.

[2020-04-18 05:29] dhirajsb commented on #813
@astefanutti iirc you've looked at this issue, do you want to assign it to yourself and fill out details on what's going on in OpenShift for this?

[2020-04-19 10:03] PhilAndrew commented on #1376
Hi @bthj have you been able to get camel-k to run with MicroK8S? I had the same problem, but I would like the two to work together.

[2020-04-19 10:45] PhilAndrew opened #1412 "Not working Ubuntu 18 Minikube"
I installed Minikube on Ubuntu 18 and followed the instructions to install kamel, didn't work. I get the following, how can I fix this?

[code]

[2020-04-19 11:00] PhilAndrew commented on #1412
I got it running eventually and I don't know how.

[2020-04-19 11:00] #1412 closed

[2020-04-20 04:52] dhirajsb commented on #889
There seems to be an underlying assumption that the user will run the same integration again and hence the kit needs to be kept around.

Doesn't that lead to the following:
* Deleting an integration completely is a two step process, delete the integration then deleting the kit separately.
* If a user deletes an integration without knowing that kit has to be deleted separately, kits will start pili

[2020-04-20 06:19] lburgazzoli commented on #889
An integration kit is by design not tight to a specific integration but can be reused by any other integration that requires the same set of dependencies or it can be used as base image for a subsequent build to reduce the amount of data transferred from/to the registry, that's why kits are not deleted along with integrations.

[2020-04-20 08:28] astefanutti commented on #813
Multiple tests on the latest OCP 4.3.5 version gives much better build times, e.g.:

[code]

From the containers team:

The main places where we have impact on the speed of a build are when we pull and push layers, during COPY and ADD instructions in Dockerfiles, and when we generate layer diffs after processing instructions.
Between those two buildah versions, it looks like the changes that would

[2020-04-20 08:28] #813 closed

[2020-04-20 08:42] astefanutti commented on #889
One approach would be to implement a GC-like mechanism that would run periodically and remove the unreferenced kits, created since longer than a configurable period of time. Otherwise, we can add a `prune`-like operation to the Kamel CLI that would ease removing the kits.

[2020-04-20 08:47] lburgazzoli commented on #889
There's actually a quire old issue: https://github.com/apache/camel-k/issues/254

[2020-04-20 09:28] nicolaferraro opened #1414 "Support Knative channels v1beta1 versions"
We lookup inmemorychannels in v1alpha1, but if they are created in v1beta1 we fail.

A workaround exists (using the apiVersion and kind URI parameters explicitly), but much better upgrading to the beta version.

Ref: https://github.com/knative/eventing/issues/3014

[2020-04-20 09:29] nicolaferraro opened #1415 "Adding a dump command"
We have a dump function that we use in tests to investigate what happened in the CI. It would be nice to make it available to users encountering problems, so we can tell them to dump their namespace.

kamel dump
kamel dump --file file.dmp

Wdyt?

[2020-04-20 12:35] nicolaferraro opened #1416 "Spectrum publisher still slow"
Still slow to publish on minikube, even with the spectrum builder that shoud be really fast.

I think there's still some timeout happening under the hood.

[2020-04-20 12:37] nicolaferraro commented on #1416
This is especially true in case of chained images, maybe we set incorrectly the TLS/non-TLS flags

[2020-04-20 12:57] nicolaferraro opened #1417 "Add license headers to files generated with kamel init"
If I create a file with `kamel init Example.java`, it misses the Apache License headers.

I think we should add them.

[2020-04-20 16:38] nicolaferraro opened #1419 "CamelSources not working in nightly"
Get this error:

[code]

Apparently the dependencies for a simple timer to channel contain:
[code]

While in RC2 it was:
[code]

We can add an example of Camel Source from last released Knative in the CI to avoid such regressions.

[2020-04-21 08:22] #1362 closed

[2020-04-21 10:54] nicolaferraro commented on #1369
@ipolyzos would it work if you contribute that rb file to: https://github.com/Homebrew/homebrew-core/tree/master/Formula ?

I think that's the main repo for brew.

After that is merged we can update our [release process](https://github.com/apache/camel-k/blob/master/release.adoc) to update its version once a new one is released. That's the same thing we do for operator hub.

Can it work?

[2020-04-21 12:09] ipolyzos commented on #1369
Absolutely, I will contribute to the suggested repo.

[2020-04-21 13:21] HamdiBouallegue commented on #1408
I found the solution :
execute this command

[2020-04-21 13:21] #1408 closed

[2020-04-21 14:55] #1417 closed

[2020-04-21 17:28] #1388 closed

[2020-04-22 10:37] #1419 closed

[2020-04-22 13:38] toonalbers commented on #1339
Using the camel-k-runtime packages is a good option! A downside for me is that it lacks the automatic dependency resolution that the kamel binary provides through the builder: you now have to explicitly set the dependencies in the pom.xml. Extracting that functionality from the builder / kubernetes would be difficult I think.

[2020-04-22 15:58] ctron opened #1422 "@PropertyInject does not work in @BindToRegistry methods"
Having the following code:

[code]

And running that with:

[code]

Will give you:

[code]

I would expect properties to be available already when binding objects.

[2020-04-22 16:03] lburgazzoli commented on #1422
You probably need to use `@PropertyInject` as:

[code]

[2020-04-22 18:28] davsclaus commented on #1422
Ah yeah both examples should ideally work, the latter requires Camel 3.2. But for the 1st we need to ensure that camel-k creates an instance of the `MyBuilder` via Camel's `Injector` that will do the dependency injection, and thus discover the field with the @PropertyInject and so on.

[2020-04-22 18:41] lburgazzoli commented on #1422
I’m trying to look at if it is possible but as the class is compiled at runtime it may be tricky, however the route is subject to the bean post processor so I think it could be an ordering issue

[2020-04-22 19:00] davsclaus commented on #1422
Ah yeah @lburgazzoli its an ordering, bind to registry is taking precedence. But you could argue that field injections should come before?

Its all in this class

https://github.com/apache/camel/blob/master/core/camel-base/src/main/java/org/apache/camel/impl/engine/DefaultCamelBeanPostProcessor.java

I cant remember on top of my head why bind to registry was injected before fields et all.

[2020-04-22 19:05] lburgazzoli commented on #1422
definitely not an easy task unless we want to re-implement cdi/spring :)

so I think binding properties using the parameters is a slightly better option to reduce issue due to ordering

[2020-04-22 19:10] davsclaus commented on #1422
Yeah surely as that was how BindToRegistry was intended/designed to be liked a spring @Bean that creates an output that are stored in the registry. And as input you have the parameters of the method. So yeah I see your point and think its the correct approach.

[2020-04-23 07:53] davsclaus commented on #1422
Okay I am working on doing 2 passes where we first do primitive / simple types so we can do the String field injection first, before doing the bean

[2020-04-23 08:01] davsclaus commented on #1422
Created a ticket
https://issues.apache.org/jira/browse/CAMEL-14955

[2020-04-23 08:13] davsclaus commented on #1422
Okay fixed/improved this for Camel 3.3, which camel-k will pickup later.

[2020-04-23 08:13] #1422 closed

[2020-04-23 10:12] ctron opened #1423 "Switchting to quarkus fails to build because of missing versions"
Having a working example, which I can run with:

    kamel run --name "influxdb-bridge"  --secret influx-bridge -d camel-influxdb -d camel-base64 -d mvn:de.dentrassi.iot:cayenne-lpp:0.1.1 InfluxBridge.java

fails, when I switch to quarkus:

    kamel run --trait quarkus.enabled=true --trait quarkus.native=true --name "influxdb-bridge"  --secret influx-bridge -d camel-influxdb -d camel-base64 -d mv

[2020-04-23 10:43] lburgazzoli commented on #1423
not all the component are available from
camel-quarkus, the list of the supported components along with the camel-quarkus version from which they are supported is here: https://camel.apache.org/camel-quarkus/latest/list-of-camel-quarkus-extensions.html

[2020-04-23 10:46] ctron commented on #1423
I think there should be some explanation of this in the documentation, and definitely some kind of improvement when using `kamel`, because you don'get any proper feedback.

[2020-04-23 10:47] oscerd commented on #1423
We love contributions.

[2020-04-24 02:04] dtremblay opened #1424 "Allow overriding of buildah image with "kamel install" switches"
Add a new kamel install switch to allow overriding the buildah image, e.g. "--buildah-image"

This switch would work in a similar fashion to "-base-image" and "-operator-image".

Whenever a new "kamel run" command gets used, the overriden buildah image would get used.

[2020-04-24 06:01] dylanenabled opened #1425 "Kotlin Autocomplete in Intellij?"
Sorry if this is not the appropriate place to ask this, please direct me to somewhere better if not.

I'm looking to get autocomplete, go to source, etc working in intellij for Kotlin script camelk integrations.

I've manually set up intellij to find the camel libraries etc for now by adding them to the module as Provided libraries using the maven repo, and it works, but only if I create a RouteBu

[2020-04-24 06:11] lburgazzoli commented on #1425
If you add `camel-k-loader-kotlin` to the dependencies list, it should work

[2020-04-24 06:13] dylanenabled commented on #1425
I have added that with version 1.0.9, does it need to be a specific version?

[2020-04-24 06:26] dylanenabled commented on #1425
It works after updating the dependency to `org.apache.camel.k:camel-k-loader-kotlin:1.2.1`, thanks!

[2020-04-24 06:37] #1425 closed

[2020-04-24 06:40] dylanenabled commented on #1425
For what it is worth (for others who might be looking for this, or maybe you have a better way to set it up @lburgazzoli), my iml file looks like:

[code]

Note I'm on a slightly older version for camel-k that uses camel 3.0.0 currently, probably those need to be updated.

It might be worth adding something on how to set this up to the kotlin documentation.

[2020-04-24 07:25] dylanenabled opened #1426 "Kotlin documentation incorrect for kotlin DSL"
The kotlin documentation here https://camel.apache.org/camel-k/latest/languages/kotlin.html is incorrect for the kotlin dsl (registry and component configurations).

it says `context` when it should say `camel`
[code]

should be

[code]

[2020-04-24 07:26] dylanenabled commented on #1426
Actually I'm not sure how to get the registry example working, as that doesn't seem to be defined under `camel`, and it says it is private when I try to use it in the global scope.

[2020-04-24 07:28] lburgazzoli commented on #1426
That documentation need to be updated :)

The registry has been removed in favour of a "bean dsl":

[code]

[2020-04-24 07:32] lburgazzoli opened #1427 "Move languages documentation to camel-k-runtime"
The support for languages camel-k users can use to implement integrations is done in the [camel-k-runtime](https://github.com/apache/camel-k-runtime) repository and it would be nice to have the related documentation also hosted on that repo: @zregvart do you think it is possible ?

[2020-04-24 07:32] dylanenabled commented on #1426
Great, Thanks

[2020-04-24 10:59] zregvart commented on #1427
Not an issue, we build the documentation from several repositories already:

https://github.com/apache/camel-website/blob/a8a56f97db6e76679c3386e830d0fca842e4896c/antora-playbook.yml#L6-L56

You need to watch out for any links that are already pointing to this components/modules and make sure that they remain valid. Easiest way is not to change the component or module names.

[2020-04-24 14:48] djencks commented on #1427
Could one of you point out an example of the source code and a documentation page for what you are referring to?

[2020-04-24 15:52] nicolaferraro opened #1428 "Use /openapi.json as default location for OpenAPI data"
This applies to the 3scale trait, which currently uses `/api-doc` by default.

[2020-04-24 16:04] rajatdiptabiswas commented on #1428
Would you kindly let me know what exactly needs to be done so that I can try working on it?

[2020-04-25 23:48] michaelwjoyner opened #1429 "Vanilla Minishift install not working."
Syndesis is already installed fwiw.

I followed the step guide and the CRD is having problems. I am new to Minishift so I might have problems diagnosis obvious things.

mj@mj-desktop:~$ **kamel install --cluster-setup**
Error: cannot check CRD installation after 25 seconds

mj@mj-desktop:~$ **kamel install --skip-cluster-setup**
Error: no matches for kind "IntegrationPlatform" in version "camel.ap

[2020-04-27 05:21] lburgazzoli commented on #1427
The languages section is here: https://github.com/apache/camel-k/tree/master/docs/modules/ROOT/pages/languages
Target repo is https://github.com/apache/camel-k-runtime/ (which lacks any document structure)

[2020-04-27 05:33] djencks commented on #1427
Thanks, makes sense!
If you have any problems getting this to work let me know, I’m happy to help or provide hints or even PRs.

[2020-04-27 05:40] lburgazzoli commented on #1427
If you have any time and want to take it, go ahead.
I don't have time this week

[2020-04-27 08:45] nicolaferraro commented on #1401
Replacement of + with {plus} needs to be done in the code generator, otherwise it's replaced when we regenerate the doc.

[2020-04-27 08:46] oscerd commented on #1401
ok. Need to check code-generator then.

[2020-04-27 09:24] oscerd commented on #1401
Btw I see the page rendered correctly

[2020-04-27 12:35] #1401 closed

[2020-04-28 04:43] djencks commented on #1427
Done, see https://issues.apache.org/jira/browse/CAMEL-14975 <https://issues.apache.org/jira/browse/CAMEL-14975>

I have some suggestions for simplifying the camel-k docs, that I made in the issue.

Also it looks like the “traits” index page (traits.adoc) could perhaps be generated by my indexer extension rather than go code.  Does this seem interesting?

Thanks
David Jencks

[2020-04-29 07:37] TeslaCN opened #1436 "Does any company use Camel K in production environment?"

[2020-04-29 08:14] nicolaferraro commented on #1359
Upgraded to 0.14.x by https://github.com/apache/camel-k/pull/1435

[2020-04-29 08:14] #1359 closed

[2020-04-29 08:50] #1416 closed

[2020-04-29 10:20] nicolaferraro commented on #1436
In terms of community releases, we'll publish version 1.0.0 in the next weeks, so I don't expect someone being in production with the current pre-releases.

For going in production, you also usually want support. As far as I know, Red Hat is going to provide support for Camel K, so you may ask to them. I'm not aware of other companies providing it.

[2020-04-29 13:58] nicolaferraro commented on #1212
Duplicate of #1414

[2020-04-29 13:58] #1212 closed

[2020-04-29 14:08] nicolaferraro commented on #311
This is addressed in the tooling, e.g. https://marketplace.visualstudio.com/items?itemName=redhat.vscode-camelk

We'll open specific isues as they arise.

[2020-04-29 14:08] #311 closed

[2020-04-29 14:09] nicolaferraro commented on #600
All this ended up in [YAKS](https://github.com/citrusframework/yaks)

[2020-04-29 14:09] #600 closed

[2020-04-29 14:09] nicolaferraro commented on #338
Done

[2020-04-29 14:09] #338 closed

[2020-04-29 14:11] nicolaferraro commented on #1358
Fixed by https://github.com/apache/camel-k/pull/1430

[2020-04-29 14:11] #1358 closed

[2020-04-29 14:14] nicolaferraro commented on #1428
Hi @rajatdiptabiswas, I think it's sufficient to change the default value in the threescale addon trait from "/api-doc" to "/openapi.json". Can you do it?

[2020-04-29 17:04] rajatdiptabiswas commented on #1428
From what I understood, I believe I should change `ThreeScaleDescriptionPathDefaultValue = "/api-doc"` to `ThreeScaleDescriptionPathDefaultValue = "/openapi.json"` in line 67 of `/addons/threescale/3scale.go`

There are a few more mentions of `/api-doc` in `3scale_test.go`, `traits.yaml`, and `3scale.adoc`.  One more in line 44 of `3scale.go` as well.
Do I need to make any changes to those?

I am

[2020-04-30 09:58] #1414 closed

[2020-04-30 10:37] nicolaferraro commented on #1428
Yes, changing that variable plus the mention is ok.

traits.yaml, and 3scale.adoc can be manually changed or auto-updated running `make generate-doc`.

[2020-04-30 10:39] nicolaferraro commented on #1404
This is done, except that for common test we had to choose the builder that doesn't fail randomly in the CI environment.

[2020-04-30 10:39] #1404 closed

[2020-04-30 23:36] ipolyzos commented on #1429
@michaelwjoyner could you please elaborate more on the procedure you have followed in order to install _camel-k_ and which version of _kamel_ you are using?

Have you followed the [local cluster setup guide](https://camel.apache.org/camel-k/latest/installation/installation.html)?

I would assume might be a rights issue. If you could please check the user you are logged in as e.g

If you are not us

[2020-05-02 03:25] michaelwjoyner commented on #1429
Please close this issue, but thanks for replying. I was told by Nicola that
my version of openshift will not work.

On Thu, Apr 30, 2020 at 4:36 PM Ioannis Polyzos <notifications@github.com>
wrote:

--
--
Michael Joyner
Solutions Architect
SugarCRM

mobile: (206)-288-3937
email: michaelwjoyner@gmail.com
<https://facebook.com/michaelwjoyner>..

[2020-05-02 06:45] davsclaus commented on #1429
Ok closing

[2020-05-02 06:45] #1429 closed

[2020-05-02 14:21] #1428 closed

[2020-05-04 15:50] #1436 closed

[2020-05-04 15:51] nicolaferraro commented on #1297
This issue is no longer appearing

[2020-05-04 15:51] #1297 closed

[2020-05-05 00:24] michaelwjoyner opened #1442 "vanilla minikube - CronJobs are not being built from operator"
[code]

The above job is not building, it works fine for **period=5000** Please let me know if I can attach my log from the operator.

[code]

[2020-05-05 06:46] lburgazzoli commented on #1442
@michaelwjoyner yes, please add some logs from the operator to let us understand the error

[2020-05-05 08:13] dylanenabled opened #1443 "Can't install camel-k helm chart in more than one namespace"
The `camel-k:edit` cluster role already exists so the helm chart fails.

We have a staging and a production version of the operator installed in different namespaces (for testing new versions) which can't both be installed with the helm chart.

It would be nice if there was an option to rename the cluster role in the values.yaml (if it doesn't need to be camel-k:edit)

[2020-05-05 11:47] #1171 closed

[2020-05-05 12:48] michaelwjoyner commented on #1442
@lburgazzoli I am new to the project. Let me know if this is the one that you wanted.

**PLEASE NOTE: It will get lost and have multiple builder threads working to build after the first failure**

[INFO] Scanning for projects...
[INFO]
[INFO] ---------< org.apache.camel.k.integration:camel-k-integration >---------
[INFO] Building camel-k-integration 1.0.0-nightly.202004171040
[INFO] --------------

[2020-05-05 13:22] lburgazzoli commented on #1442
/cc @nicolaferraro

[2020-05-05 13:55] nicolaferraro opened #1445 "Take a look at service binding"
https://application-stacks.github.io/service-binding-specification/

It provides a clean way by which we can connect to services in the same cluster without the users having to provide credentials and all that stuff.

We can e.g.
[code]

(did I already write a similar issue in the past?)

And have your Camel K operator resolve the connection details for the database and inject them into the integr

[2020-05-05 14:42] lburgazzoli commented on #1407
Thinking a little bit about it, we could differentiate the git provider via a dedicated scheme so if using `jitpack` as scheme, then the artifact id should be fully qualified, i.e.

    jitpack:com.github.user/repo/version

but we can provide some alternative syntax like

    github:user/repo/version

which get translated to

    jitpack:com.github.user/repo/version

[2020-05-05 14:43] michaelwjoyner commented on #1445
Thats hot!

[2020-05-05 14:59] nicolaferraro opened #1446 "Issue when fixing erroneous resource"
Scenario:

[code]

This is not supposed to work.

I notice the problem, then run the right command:

[code]

But the new integration still contains the wrong dependency in the status.
Fixing it.

[2020-05-05 15:38] #1367 closed

[2020-05-05 21:07] ipolyzos commented on #1369
The [HomeBrew PR](https://github.com/Homebrew/homebrew-core/pull/53487) got accepted and is ina ready-to-merge state.

It is expected soon to be available.

[2020-05-05 21:42] ipolyzos commented on #1369
The formula is live.

Now users can install _kamel_ using _[Homebrew](https://brew.sh/)_ or _[Linuxbrew](https://docs.brew.sh/Homebrew-on-Linux)_ respectively.

_e.g_
` $ brew install kamel `

[2020-05-05 22:21] nicolaferraro commented on #1369
Thanks @ipolyzos!
Can you update the https://github.com/apache/camel-k/blob/master/release.adoc last section (Post Release) with information on what to update when we release a new version of Camel K?

[2020-05-05 22:27] #1395 closed

[2020-05-05 22:27] #1446 closed

[2020-05-06 05:39] michaelwjoyner commented on #1363
@nicolaferraro See me when you can, I think I might be able to do this one. I have some questions

[2020-05-06 05:44] michaelwjoyner commented on #1185
@nicolaferraro I can do this one, can you please help me get started so I can start doing the Doc items?

[2020-05-06 05:51] michaelwjoyner commented on #1137
@nicolaferraro Another one that you might want me to work on

[2020-05-06 09:41] nicolaferraro opened #1449 "Support setting parameters as modeline options"
This should be the "supported" way of setting options for running files.

On an integration file:

[code]

This way:
- information about how to run a file are self-contained in the file
- we don't forget about an external config file that overrides our settings
- the semantics is well defined: it's like those options are passed to the command line together with other options that you pass

It shou

[2020-05-06 09:42] nicolaferraro commented on #1363
Maybe we can close this in favor of https://github.com/apache/camel-k/issues/1449

[2020-05-06 09:56] lburgazzoli commented on #1449
@nicolaferraro once done, I would remove the `kamel/run/integrations/$name` support from the config file

[2020-05-06 12:15] abouchama opened #1450 "servicemonitor is not created for missing role on camel-k-operator"
We receive the following error when we enable the trait prometheus service monitor `--trait prometheus.service-monitor=true`:

`Cannot reconcile Integration sample: error executing post actions: error during replace resource: could not create or replace resource sample: servicemonitors.monitoring.coreos.com is forbidden: User "system:serviceaccount:fuse7:camel-k-operator" cannot create resource "s

[2020-05-06 12:18] abouchama commented on #1450
As workaround we have to apply the following

oc apply -f https://raw.githubusercontent.com/apache/camel-k/237ab293213ac2477f039e70afd28af412e4bcd1/deploy/operator-role-olm.yaml

in order to add the role `servicemonitors.monitoring.coreos.com` to `camel-k-operator`:

`servicemonitors.monitoring.coreos.com              []                 []                      [create delete deletecollection get l

[2020-05-06 12:21] abouchama opened #1451 "Customizing prometheus configuration fails with MountVolume issue"
When we enable the trait `--trait prometheus.configmap=prometheus-vol` fails with the following error:

`Unable to attach or mount volumes: unmounted volumes=[i-resource-000], unattached volumes=[i-resource-000 prometheus-vol default-token-jpfxv i-source-000]: timed out waiting for the condition`

# Reproducer:

[code]

[2020-05-06 13:37] michaelwjoyner opened #1452 "(vanilla minikube) RestDSL.java not working out of the box"
Code is out of the box:
![image](https://user-images.githubusercontent.com/17679881/81183019-7672f100-8f63-11ea-86da-b30d7d61706f.png)

Pod is in crash loop backoff

![image](https://user-images.githubusercontent.com/17679881/81182428-9f46b680-8f62-11ea-8794-15d376eab9e7.png)

Logs ............. there is more above this as well.
[code]

[2020-05-06 13:45] nicolaferraro commented on #1452
@michaelwjoyner can you try downloading latest nightly build?
Then:
[code]

Apache snapshots switched to Camel 3.2 and Camel K catalogs from previous nightly build are not in sync.

[2020-05-06 14:06] #1443 closed

[2020-05-06 14:17] michaelwjoyner commented on #1452
@nicolaferraro Would be useful if I test all the out of the box samples?

I will pull the nightly down and thank you for telling me what I need to do to reset everything.

[2020-05-06 15:03] nicolaferraro commented on #1451
@abouchama I think the problem here is that the root property in the prometheus configmap is called `rules`, while Camel K expects it to be called `content`.

Can you verify?

[2020-05-06 15:12] michaelwjoyner commented on #1452
@nicolaferraro I wasn't sure if I needed to do a --force but I ran this to blow out my CRD's and the operator.

[code]

[2020-05-06 17:33] abouchama commented on #1451
Strange, I have changed `rules` with `content` and even though the same error:

[code]

[2020-05-06 20:07] abouchama commented on #1451
Got it, we have to change the `filename` with `content`
e.g;
from
[code]

to

[code]

[2020-05-06 20:07] #1451 closed

[2020-05-06 21:53] michaelwjoyner commented on #1452
@nicolaferraro Please close. It was the nightly. Let me know your thoughts on testing all the examples.

[2020-05-06 22:54] nicolaferraro commented on #1452
Thanks

[2020-05-06 22:54] #1452 closed

[2020-05-07 07:19] #1450 closed

[2020-05-07 12:52] ipolyzos commented on #1369
Done, for the update please refer to the  [PR 1454](https://github.com/apache/camel-k/pull/1454).

If you could please review, it would be great.

[2020-05-07 13:19] nicolaferraro commented on #1369
Thanks!

[2020-05-07 13:19] #1369 closed

[2020-05-07 16:13] ipolyzos commented on #1369
Glad to help.

[2020-05-11 14:49] #1449 closed

[2020-05-13 08:48] nicolaferraro commented on #1361
Provided via https://github.com/apache/camel-k-examples/pull/3

[2020-05-13 08:48] #1361 closed

[2020-05-13 14:15] nicolaferraro opened #1456 "Auto-install knative broker by trigger annotation"
Present here: https://knative.dev/docs/eventing/channel-based-broker/

We can install the broker when a user refers to an endpoint like `knative:event/name`.

We couldn't do it previously because the annotation was expected to be set in the namespace, and that requires additional permissions. But the annotation on the trigger is ok.

[2020-05-14 09:20] oscerd commented on #1415
+1

[2020-05-14 09:37] heiko-braun commented on #1415
What will go into the dump file? What kind of information?

[2020-05-14 10:27] oscerd commented on #1426
https://github.com/apache/camel-k-runtime/pull/325

[2020-05-14 10:42] oscerd commented on #1427
This has been done.

[2020-05-14 10:42] #1427 closed

[2020-05-14 11:00] oscerd commented on #1426
Fixed

[2020-05-14 11:00] #1426 closed

[2020-05-19 17:33] weimeilin79 opened #1459 "Unable to start Prometheus when Knative enabled."
Try enable prometheus for a knative service, but had error..

[code]

[code]

[2020-05-26 11:35] rrayst opened #1462 "sanitized integration name on Windows contains whole path"
**Version**: 1.0.0-nightly.202005130003

**Problem**: On Windows, the whole file path passed to ``kamel run`` is used as the integration name.
[code]

On Linux, this is not the case.

**Workaround**: Using a / instead of a \ works around the issue.
[code]

**Possible solution**: Use ``filepath.Base(..)`` instead of ``path.Base(..)`` in https://github.com/apache/camel-k/blob/1.0.0-nightly.202005130

[2020-05-26 13:29] nicolaferraro commented on #1462
Yeah, we should try to fix it before next release.

[2020-05-26 13:30] #823 closed

[2020-05-26 13:32] nicolaferraro commented on #1114
This is documented in the runtime repo https://github.com/apache/camel-k-runtime/blob/master/docs/modules/languages/pages/yaml.adoc

[2020-05-26 13:32] #1114 closed

[2020-05-26 13:34] nicolaferraro opened #1463 "Refactor API module to include it in master"
Currently there's a "api" branch with a tiny go.mod that is used to import the Camel K API from external projects (Knative contrib).

We should create a submodule in the master branch, to avoid code duplication.

[2020-05-26 13:35] #1027 closed

[2020-05-26 16:14] ipolyzos opened #1465 "Kamel uninstall leftovers"
On a clean namespace i.e

	  $ kubectl get all,pvc,configmap,rolebindings,clusterrolebindings,secrets,sa,roles,clusterroles,crd -l 'app=camel-k'
	  No resources found in default namespace.

When I try to uninstall a new clean installation of Camel-k not all resources removed. The _crd_ and _clusterrole_ remain installed i.e

	  $ kamel install
	  Camel K installed in namespace default
	  $ kamel u

[2020-05-26 16:29] ipolyzos commented on #1465
Fix submitted. I can confirm now that on a clean namespace i.e

    $ kubectl get all,pvc,configmap,rolebindings,clusterrolebindings,secrets,sa,roles,clusterroles,crd -l 'app=camel-k'                                                                     git:(master|✚2
	No resources found in default namespace.

When I try to uninstall a clean installation of Camel-k the CRD and ClusterRole are also r

[2020-05-26 17:56] doru1004 opened #1468 "Installation on a kind cluster"
Hello,

I'm trying to use Camel K in conjunction with a kind cluster I'm running locally, are there any additional configuration steps that I need to do for this cluster type? When trying to run the example the builder is stuck initializing and the eventually times out.

Just to check, are there any pre-requisites that are not mentioned explicitly in the README that I need to satisfy before runnin

[2020-05-26 17:57] heiko-braun commented on #1468
Out of curiosity, what's a "kind cluster"?

[2020-05-26 17:58] heiko-braun commented on #1468
Ah, I see: https://kind.sigs.k8s.io/

[2020-05-26 18:16] ipolyzos commented on #711
@WillemJiang @davsclaus @nicolaferraro

Is this issue still valid?

[2020-05-26 18:28] davsclaus commented on #711
Yeah lets close this

[2020-05-26 18:28] #711 closed

[2020-05-27 01:22] contactreji opened #1469 "Converting ProcessorDefinition to DSL and interfacing with camel k"
I just posted a question on camel forum [here](https://camel.465427.n5.nabble.com/Converting-ProcessorDefinition-to-DSL-and-interfacing-with-camel-k-td5868664.html)

I felt it might be relevant to ask the same question with camel-k community.

[2020-05-27 04:59] davsclaus commented on #1469
The issue tracker is not primary for questions - the mainling list you posted on is for all Camel projects.

[2020-05-27 04:59] #1469 closed

[2020-05-27 05:01] davsclaus commented on #1459
@nicolaferraro I think this would be good to get done before GA

[2020-05-27 05:02] davsclaus commented on #1468
Oh yeah its a new kubernetes distribution. I have not personally tried with kind yet. Vanilla kubernetes or minikube works.

Did you try installing with the latest nighty build of camel-k or was it the old RC2 build?

[2020-05-27 05:05] davsclaus commented on #1442
Can you maybe try with latest nightly build of camel-k. I have recently played with such example and the timer was built as a cron-job for me.

[2020-05-27 05:13] #1423 closed

[2020-05-27 05:17] davsclaus commented on #1396
So it seems this should be in the inspector to detect this similar to what is done with hystrix. And also hystrix is deprecated now in Camel 3.4 onwards, so lets use this one as the default (works also better with quarkus) and is active maintained.

[2020-05-27 05:55] lburgazzoli commented on #1468
We do use kind in our integration tests, see:

    https://github.com/apache/camel-k/blob/master/.github/workflows/kubernetes.yml

[2020-05-27 08:07] nicolaferraro commented on #1459
This is for sure a cool feature, but we need to investigate if it's currently technically possible without changes in Knative, because afaik Knative itself publishes a prometheus endpoint and exposes metrics for their internal prometheus and for the pod autoscaler.

[2020-05-27 08:32] lburgazzoli opened #1470 "Support inline YAML DSL"
Routes can now be defined using the source block which is fine but we can also support in-lined YAML, something like:

[code]

[2020-05-27 08:32] lburgazzoli commented on #1470
/cc @nicolaferraro

[2020-05-27 08:37] nicolaferraro commented on #1465
See comment on https://github.com/apache/camel-k/pull/1466#issuecomment-634513928

Maybe we can document that for a complete uninstall you should pass some additional flags, but I wouldn't do it by default.

[2020-05-27 09:23] lburgazzoli opened #1471 "OLM: enable support for OperatorGroup"
/cc @nicolaferraro

[2020-05-27 13:28] michaelwjoyner commented on #1442
@davsclaus It's working. I had a bad build.

[2020-05-27 13:28] #1442 closed

[2020-05-27 16:46] #1346 closed

[2020-05-27 17:06] doru1004 commented on #1468
I created my kind cluster with a local registry.

Then I ran:

[code]

( If I don't run it with --registry then it prints "Error: cannot find automatically a registry where to push images" but the kamel operator pod continues to set up and reaches "Running" state. I'd expect it to fail completely and not even start but that's not the case).

After I do this I do:

[code]

The output of that last i

[2020-05-27 17:20] doru1004 commented on #1468
I am using the latest nightly build.

[2020-05-27 22:06] doru1004 commented on #1468
Started using kamel from RC2.

I managed to actually get the builder pod to Run (for a bit) before it errors:

[code]

[2020-05-28 08:58] #1045 closed

[2020-05-28 20:43] ipolyzos commented on #1465
@nicolaferraro  a provisional change in the docs issued with PR #1475, if you could please review it would be great

[2020-05-29 09:51] #1463 closed

[2020-05-29 09:52] #1470 closed

[2020-05-29 15:35] benbuzzelli opened #1476 "Kamel run fails to pull in camel-k-builder after installing with helm"
### Background

I am trying to run Apache Camel K in my Kubernetes environment. We have a registry set up with a secret name, username, and password. Our registry has a private and public address. I decided to use `helm` to install `camel-k` into my kubernetes namespace `camel-caravan`. I was successful in installing camel-k, however, my `helloworld.groovy` route fails in `phase Building Kit`. Bel

[2020-06-02 13:49] astefanutti opened #1480 "Create ConsoleYAMLSample for Integration and IntegrationPlatform CRDs on OpenShift"
The OpenShift Web console exposes the `ConsoleYAMLSample` CRD, that can be used to provide samples for CRDs, that are listed, when instantiating the corresponding CRD from the UI.

In the same spirit as #939, we could create `ConsoleYAMLSample` resources for the `Integration` and `IntegrationPlatform` CRD during installation.

[2020-06-03 08:52] #1459 closed

[2020-06-03 11:58] lburgazzoli commented on #35
Can we use https://github.com/apache/camel-k/projects/16 ?

[2020-06-03 12:13] lburgazzoli commented on #139
@nicolaferraro is this still an issue ?

[2020-06-03 12:15] lburgazzoli commented on #58
@nicolaferraro I guess we can close this one as we can use yaks for testing and we do have support for health checks

[2020-06-03 12:22] lburgazzoli commented on #639
@nicolaferraro can we close this one ?

[2020-06-03 12:22] lburgazzoli commented on #604
@nicolaferraro can we close this one ?

[2020-06-03 12:23] #58 closed

[2020-06-03 12:23] #639 closed

[2020-06-03 12:24] #604 closed

[2020-06-03 12:24] lburgazzoli commented on #754
we can use modelines now

[2020-06-03 12:24] #754 closed

[2020-06-03 12:25] lburgazzoli commented on #910
not needed anymore

[2020-06-03 12:25] #910 closed

[2020-06-03 12:27] #1039 closed

[2020-06-03 14:05] doru1004 commented on #1468
Any ideas what might be going wrong here?

[2020-06-03 15:10] nicolaferraro commented on #1476
I'm not seeing this error, maybe there are some old resources (sa, roles, rolebinding) that prevent the creation of the builder roles. Maybe you can try with an empty namespace @benbuzzelli .

Here's what I get on a fresh Minikube:

[code]

[2020-06-03 15:12] lburgazzoli commented on #1396
PR on camel-k-runtime https://github.com/apache/camel-k-runtime/pull/350

[2020-06-03 15:18] nicolaferraro commented on #1465
This has been implemented

[2020-06-03 15:18] #1465 closed

[2020-06-03 16:21] astefanutti commented on #1459
It should be fixed with #1478. I've tested it with Knative auto-scaling:

<img width="1277" alt="Screenshot 2020-06-03 at 18 08 17" src="https://user-images.githubusercontent.com/366207/83661463-77c92500-a5c6-11ea-8ba2-ed4d8f945cb7.png">

It shows discontinuities when the integration scales to zero. The metrics are reset per pods, which I think is acceptable.

[2020-06-03 22:12] nicolaferraro commented on #1471
Let's defer this a bit.
Apart from enabling support for multiple namespaces, there are multiple places where we use the `NAMESPACE` env variable as if it contains "" or a single namespace, while it should be parsed to check if it contains multiple namespaces.

I think it's not mandatory to have it in 1.0.0.

[2020-06-04 07:22] #1396 closed

[2020-06-04 07:23] #1462 closed

[2020-06-04 08:55] astefanutti opened #1487 "Upgrade CRDs to apiextensions.k8s.io/v1"
CRDs have be promoted to GA since Kubernetes 1.16:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md

Camel K CRDs currently use `apiextensions.k8s.io/v1beta1`, which will be removed in the future: https://github.com/kubernetes/kubernetes/issues/82022.

[2020-06-04 12:56] nicolaferraro opened #1489 "Add an opentracing trait"
To enable the new runtime capability: https://github.com/apache/camel-k-runtime/pull/353

[2020-06-05 06:24] #1407 closed

[2020-06-05 06:24] #1489 closed

[2020-06-05 07:40] lburgazzoli commented on #1285
@cenitfish can we close this issue ?

[2020-06-05 07:40] lburgazzoli commented on #1280
@zregvart can we close this one ?

[2020-06-05 07:43] cenitfish commented on #1285
yes. thx!

[2020-06-05 07:47] #1285 closed

[2020-06-05 07:57] astefanutti opened #1495 "Print the JVM command with its parameters in integration pod logs"
The JVM is auto-configured by Camel K, and it is useful to get the actual parameters that are used, e.g., for troubleshooting purpose.

While the command can be retrieved from the integration pod, it could be useful to have it printed in the logs as well.

[2020-06-05 08:00] lburgazzoli commented on #1189
@waytoharish is this still an issue ?

[2020-06-05 08:01] lburgazzoli commented on #1176
no we don't

[2020-06-05 08:01] #1176 closed

[2020-06-05 08:04] lburgazzoli commented on #1169
@kameshsampath is this still an issue ?

[2020-06-05 08:06] lburgazzoli commented on #1174
not an issue anymore

[2020-06-05 08:06] #1174 closed

[2020-06-05 08:13] nicolaferraro commented on #139
All providers (Kaniko, Buildah, Spectrum) support registries with authentication.

[2020-06-05 08:13] #139 closed

[2020-06-05 08:13] lburgazzoli commented on #911
can we close this one ?

[2020-06-05 08:36] lburgazzoli commented on #751
looks like there won't be any solution form the operator-sdk

[2020-06-05 08:40] nicolaferraro commented on #751
Solution reported from them is to use OLM to avoid overlapping configurations. So we do.

[2020-06-05 08:42] lburgazzoli commented on #1339
We do plan to provide a kamel subcommand to inspect sources and provide some info about what they requires but having a full camel-k experience is out of scope.

[2020-06-05 08:42] #1339 closed

[2020-06-05 08:47] lburgazzoli commented on #1302
@astefanutti @orpiske is this still an issue ?

[2020-06-05 08:51] astefanutti commented on #1302
I think it's been fixed with #1453.

[2020-06-05 08:51] #1302 closed

[2020-06-05 08:59] lburgazzoli commented on #1144
should be fixed now

[2020-06-05 08:59] #1144 closed

[2020-06-05 08:59] lburgazzoli commented on #1143
fixed now

[2020-06-05 08:59] #1143 closed

[2020-06-05 09:00] lburgazzoli commented on #933
@weimeilin79 is this still an issue ?

[2020-06-05 09:02] lburgazzoli commented on #1061
I think now we have a single point where the service is created an other traits can amend it so, can we close this on @nicolaferraro ?

[2020-06-05 09:04] lburgazzoli commented on #1097
@zhfeng @apache/camel-committers should we add a saga customizer in camel-k-runtime ? or will this issue be fixed on camel side ?

[2020-06-05 09:27] #1061 closed

[2020-06-05 09:38] davsclaus opened #1497 "CLI - Make kamel run handle github urls that are not raw"
For example if you browse code on github you may see this example

https://github.com/apache/camel-k/blob/master/examples/hello.xml

And then want to run it via

    kamel run https://github.com/apache/camel-k/blob/master/examples/hello.xml

But it requires the raw url

    kamel run https://raw.githubusercontent.com/apache/camel-k/master/examples/hello.xml

We could maybe make the kamel run comma

[2020-06-05 09:42] nicolaferraro opened #1498 "Release Camel K 1.0.0"
Trying to cut a release today after merging the pending PRs.

[2020-06-05 09:49] lburgazzoli commented on #1057
Relates to https://github.com/apache/camel-k/issues/1266

[2020-06-05 10:01] lburgazzoli commented on #1032
@astefanutti this should be possible now right ?

[2020-06-05 10:02] lburgazzoli commented on #924
@astefanutti can we close this one after all the changes we made to the builder ?

[2020-06-05 10:03] lburgazzoli commented on #923
@lubuxnl @asifdxtreme is this still an issue ?

[2020-06-05 10:04] lburgazzoli commented on #908
@mgencur is this still an issue ?

[2020-06-05 10:05] lburgazzoli commented on #674
@tshravan86 is this still an issue ?

[2020-06-05 10:05] zhfeng commented on #1097
@lburgazzoli I think it could be better to be fixed on the camel side if possible.

[2020-06-05 10:05] astefanutti commented on #1032
yes, it is possible, also with `kubectl scale`.

[2020-06-05 10:05] #1032 closed

[2020-06-05 10:07] astefanutti commented on #924
Yes, collocation requirements for the builds are automatically handled by the operator.

[2020-06-05 10:07] #924 closed

[2020-06-05 10:08] lburgazzoli commented on #1097
@zhfeng o can you open an issue on camel side and close this one ?

[2020-06-05 10:08] #629 closed

[2020-06-05 10:10] lburgazzoli commented on #527
Relates to #1266

[2020-06-05 10:10] lburgazzoli commented on #482
not a camel-k issue

[2020-06-05 10:10] #482 closed

[2020-06-05 10:11] lburgazzoli commented on #798
@apupier the documentation has been re-factored can you check if there is anything that is still missing and eventually amen this issue ?

[2020-06-05 10:12] zhfeng commented on #1097
yeah, I will

[2020-06-05 11:42] kameshsampath commented on #1169
No Luca, we can close this

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Luca Burgazzoli <notifications@github.com>
Sent: Friday, June 5, 2020 1:34:24 PM
To: apache/camel-k <camel-k@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/camel-k] Unable to run Knative integration (#1169)

@k

[2020-06-05 11:42] #1169 closed

[2020-06-05 12:50] lubuxnl commented on #923
@lburgazzoli I didn't try this anymore. Currently I am focusing on other technologies, so I probably won't retry in the near future. Sorry.

[2020-06-05 13:01] #1495 closed

[2020-06-05 13:04] lburgazzoli commented on #923
no worries, going to close this and you can reopen in the future when you'll get back to camel-k :)

[2020-06-05 13:04] #923 closed

[2020-06-05 14:03] #1368 closed

[2020-06-05 15:34] nicolaferraro opened #1502 "Fix github landing page"
There are a lot of outdated info that now are also present in a better format in the website.

We should link the website manual and just give a presentation in the landing github page.

[2020-06-05 15:42] nicolaferraro opened #1503 "Delegate installation to external tools"
Long term, the plan for Camel K installation should be:

- To install Camel K on Openshift: use **Operator Hub**
- To install Camel K on Kubernetes: use **Helm**

Remove everything else, like `kamel install`.

[2020-06-05 20:03] nicolaferraro commented on #1498
## New Features

- camel-k supports OpenAPI v2 and v3
  rest-dsl trait has been renamed to openapi ([#1330](https://github.com/apache/camel-k/pull/1330), [@lburgazzoli](https://github.com/lburgazzoli))
- Add spectrum super-fast builder for dev clusters ([#1306](https://github.com/apache/camel-k/pull/1306), [@nicolaferraro](https://github.com/nicolaferraro))
- feat: Support Buildah builds on OpenSh

[2020-06-05 20:13] weimeilin79 commented on #933
Don't see it now.

[2020-06-06 00:20] #1073 closed

[2020-06-06 00:20] #853 closed

[2020-06-06 00:20] #843 closed

[2020-06-06 00:20] #677 closed

[2020-06-06 00:20] #664 closed

[2020-06-06 06:49] #933 closed

[2020-06-07 21:09] aldettinger opened #1505 "kamel run simple.js --dev hangs after multiple kill/start"
How to reproduce:
kamel run simple.js --dev
wait for the example to start successfully
CTRL+C

Repeat the 3 steps above 3 times (perhaps more), then it occurs that the example stay stuck with log:
`Condition "Ready" is "True" for Integration simple`
No integration pods looks to be running

[2020-06-08 15:28] #1263 closed

[2020-06-08 15:55] mmistretta opened #1507 "Adding camel-jackson dependency creates issues with inner classes"
When adding the camel-jackson dependency, comments with imports, actual imports, etc inner classes are no longer found.

version: Camel K Client and Operator 1.0.0-RC2
Example: https://github.com/jeremyrdavis/quarkus-cafe-demo/commits/camel-k-addition
      - commit works: d95b5ea360ca1dabe333b2ce568fc87b18e8594d
      - commit does not work: 4ee524f4ccf2c9dce3005b80e7fa44b4d1546528

Process on Op

[2020-06-08 16:04] astefanutti opened #1508 "Support secured Prometheus / metrics integration endpoint"
Add support for:
* TLS
* Bearer token file / secret to authorise scraping targets
* On OpenShift: auto-configuration with OOTB platform monitoring pipeline

[2020-06-08 16:07] michaelwjoyner opened #1509 "addRoutes problem when running 01-Basic example from new camel-k-example docs"
I was working on the docs for 03-Saga didact and noticed some errors from Camel. I ran the 01-Basic example and the same errors were coming back.

Using minikube, namespace=basic, and most recent kamel binary.

[code]

[2020-06-08 17:29] astefanutti commented on #1509
This should be fixed with #1485. You need to re-install the Camel catalogs, e.g.:

[code]

[2020-06-08 17:46] michaelwjoyner commented on #1509
This fixed the problem above for those who run into the same problem.

kamel install --operator-image=camelk/camel-k:1.0.0 --maven-repository=https://repository.apache.org/content/repositories/orgapachecamel-1219 --olm=false

[2020-06-08 17:47] michaelwjoyner commented on #1509
@astefanutti - Thank you, Nicola helped me and it's working

[2020-06-08 17:47] #1509 closed

[2020-06-09 00:41] zhfeng commented on #1097
I raise [CAMEL-15164](https://issues.apache.org/jira/browse/CAMEL-15164) for services recognize automatically and since the Saga examples have been merged. So I close this issue now and if the CAMEL-15164 is resolved in the future camel releases, I would like to investigate to see how we can leverage it to improve this example.

[2020-06-09 00:41] #1097 closed

[2020-06-09 07:30] davsclaus commented on #580
Yeah lets get this into 1.1. For centralized logging (such as FluentD, ES and Kibana) then we may need to output in a format that it can import such as json.

[2020-06-09 07:31] astefanutti commented on #580
Yes, we need to have an option for structured logging.

[2020-06-09 14:47] apupier opened #1511 "kamel help trait --all -o json returns both yaml and json output"
tested with kamel 1.0.0

[2020-06-09 22:20] ipolyzos opened #1512 "Update the kamel homebrew formula to v1.0.0"
Following the release of v1.0.0 (#1498) the homebrew formula needs to be updated.

[2020-06-09 22:23] ipolyzos commented on #1512
A new PR  has created in the [homebrew-core](https://github.com/Homebrew/homebrew-core/) repository i.e [#56021](https://github.com/Homebrew/homebrew-core/pull/56021)

[2020-06-10 06:40] lburgazzoli commented on #1505
can you check if there is any unsatisfied condition in the deployment ?

[2020-06-10 06:47] lburgazzoli commented on #1507
This should not be an issue any-more in camel-k 1.0.0 ?

The issues was caused by a bug in the jOOR library which is used to compile the Java integration at runtime which is included in jOOR's 0.9.13 [1]. The camel-k-runtime version used by camel-k RC2 is
1.1.0 [2] which dos not includes the fix [3]

[1] https://github.com/jOOQ/jOOR/issues/99
[2] https://github.com/apache/camel-k/blob/1.0.0-RC2/sc

[2020-06-10 06:48] lburgazzoli commented on #580
I guess this is a good candidate when moving to quarkus as default runtime

[2020-06-10 06:53] lburgazzoli opened #1513 "Switch to Quarkus as default runtime for integrations"
Requires: https://github.com/apache/camel-k-runtime/issues/359

[2020-06-10 10:11] #1498 closed

[2020-06-10 10:11] aldettinger commented on #1505
`oc get deployment simple -o json` output below status:
[code]
But, the status looks to be the same whether the example runs fine or hung up.
pod and integration statuses also remain equivalent.

[2020-06-10 10:59] lburgazzoli commented on #1186
the builds time is from the OpenShift s2i build so I guess it would be nice to report the time on the kits themselves so you know how long it took for a kit to be build regardless of the build engine used

[2020-06-10 13:28] oscerd opened #1519 "Create a 1.0.x branch"
Actually we are already ahead of 1.0.0, maybe we can branch from the tag and leave the branch there for cherry-picking.

cc @lburgazzoli @nicolaferraro

[2020-06-11 08:01] #1497 closed

[2020-06-11 08:07] nicolaferraro opened #1522 "Modeline and file-based options on http/github endpoints"
This https://github.com/apache/camel-k/pull/1515 introduces new ways to run integrations from the cloud directly.

What about modeline options that can be declared in the remote file?

E.g. the file declares something like:

[code]

Currently file-based options are ignored on remote URLs. But can we do better? ("possibly" avoiding infinite recursion).

[2020-06-11 08:18] lburgazzoli commented on #1522
should they follow the same path? i.e.

    // camel-k: property-file=github:user/repo/application.properties

[2020-06-11 08:21] nicolaferraro commented on #1522
I'd better allow relative paths, so they work both when checking out the repo or running integrations remotely.

[2020-06-11 08:23] lburgazzoli commented on #1522
It is a little complex as you don't know what is the relative path, assuming that you can run an integration with multiple sources

[2020-06-11 08:40] lburgazzoli commented on #1522
mh, wonder if we should add a `working-dir` option like:

    kamel run --working-dir github:user/repo MyRoute.java --property-file=application.property

would be translated to:

    kamel run github:user/repo/MyRoute.java --property-file=github:user/repo/application.property

[2020-06-11 08:49] davsclaus opened #1523 "kamel run directory (self contained)"
It would also in the future be nice to be able to run by just specifying a directory, then the CLI figures out what files are in the directory and what kind they are

[code]

[code]

And it gets translated into that example above from Luca in #1522 (incl adding the -d for the JAR).

In fact this is "anti modeline", as you dont use the //came-k: comments but I love when end users can just keep all

[2020-06-11 08:58] nicolaferraro commented on #1523
I think this can be made compatible with modeline.
Thinking to a local directory, the CLI can look for all compatible files with a `// camel-k: language=x` (or another flag that marks it as runnable) and run each runnable file using existing modeline options.

It's common e.g. to write different .properties files that should be picked by some integrations, but not all. Modeline now also contain de

[2020-06-11 09:02] nicolaferraro commented on #1522
The current approach, also for local files, is to ignore the current CWD dir in the shell. All file-based modeline options are always relative to the file that contains them, so it will be for remote files.

So the `--working-dir github:user/repo` is implicit if you run `kamel run github:user/repo/MyRoute.java`.

[2020-06-11 09:04] davsclaus commented on #1523
Ah yeah the github is not as important (just cool for demos and new users to Camel K).

Good point about shared properties files etc or allowing to specify which properties file are to be used by which runnable file.

So you could have
[code]

Then in `MyRoute.java` and `Funky.groovy` you can use the modeline to specify which properties files and JARs to include.

And then you can run it as 2 inte

[2020-06-11 09:06] lburgazzoli commented on #1522
Yep but my point is that there's a different behaviour for the same option used inside a source and outside the source so property-file=application.properties may related to two different locations depending where the option is used, if that's acceptable I can work on it

[2020-06-11 09:12] nicolaferraro commented on #1522
Oh, yes. I think this difference is already there.

Take a file like `./path/It.java` and a property file `./application.properties`.

To run the file and link it to the properties, you should run:

[code]

Because CLI options are not related to the file but to the current location.

But if you want to link it using modeline, you should write this line in the file:

[code]

I don't see it as a big

[2020-06-11 09:16] lburgazzoli commented on #1522
I guess we can do both so:

1. if the working-dir is set, all the non absolute paths are relative to the working dir
2. if not set, the non absolute paths are relative to the context (to the file for modeline, to the current cwd for the CLI)

[2020-06-11 09:38] nicolaferraro opened #1524 "kamel install uses the wrong channel in OLM"
It's using `alpha`, meaning it will install 1.0.0-RC2: https://github.com/apache/camel-k/blob/ba2603da84ce40b61cdf7e1d05ca04ad19ec60c2/pkg/util/olm/operator.go#L43

We should fix it in a minor.

[2020-06-12 12:27] dylanenabled opened #1525 "Can't connect to prometheus endpoint in 1.0.0 (not running?)"
I'm running an integration with

[code]

Previously (on 1.0.0.RC2) this created a container with port 9779 open which I could then  `kubectl port-forward` to connect to and see the prometheus metrics, but now it gives

[code]

I'm not using prometheus operator (just the prometheus helm chart) so I disabled service monitor, that didn't matter previously though.

After looking through the container,

[2020-06-12 12:57] dylanenabled commented on #1525
It looks like the prometheus jmx java agent isn't running - the pod args look like:
[code]
It's added the dependency for jmx_prometheus_javaagent but it doesn't seem to actually start it with `-javaagent`

[2020-06-12 12:59] dylanenabled commented on #1525
The old operator (1.0.0.RC2) has this as the args for the same integration pod
[code]

[2020-06-12 13:14] dylanenabled commented on #1525
Looks like the jvm trait is just overwriting the container.Args

It's creating a new string array here, then appending things to that empty one
https://github.com/apache/camel-k/blob/1.0.0/pkg/trait/jvm.go#L116

And then I think it's overwriting the -javaagent flag the prometheus trait put into the container.Args when it sets it here:
https://github.com/apache/camel-k/blob/1.0.0/pkg/trait/jvm.go#L

[2020-06-12 13:21] dylanenabled commented on #1525
As a workaround for now, setting `--trait jvm.options=-javaagent:dependencies/io.prometheus.jmx.jmx_prometheus_javaagent-0.3.1.jar=9779:/etc/prometheus/prometheus-jmx-exporter.yaml` works.

E.G
[code]

works to reenable it

[2020-06-12 13:29] astefanutti commented on #1525
Thanks a lot for report and the detailed analysis. It's a regression introduced by 75df6c3e28196439dc0a6e7e20da8c9bab5543e5 😞. I'll work on fixing it ASAP.

[2020-06-12 13:53] dylanenabled commented on #1525
No worries, glad to help :)

[2020-06-13 21:22] ipolyzos commented on #1321
A very first PR opened for this. If you could please review.

[2020-06-14 11:03] ipolyzos commented on #1524
I have created a PR to set this to stable, pointing to the 1.0.0 (Current).

[2020-06-14 22:43] #1512 closed

[2020-06-14 22:43] ipolyzos commented on #1512
this task is a duplicate

[2020-06-15 09:36] jehanzebqayyum commented on #49
How would you add custom jar dependency? does file:...jar works?

[2020-06-15 10:00] #1525 closed

[2020-06-15 13:25] #1524 closed

[2020-06-15 13:41] astefanutti opened #1533 "Support adding quarkus.index-dependency entries to scan CDI beans"
By default, Quarkus does not discover CDI beans outside the main module, which is the generated Camel K integration project.

For users to enable scanning of CDI beans from the integration dependencies without mandating the dependencies to provide a Jandex index, it should be possible to add `quarkus.index-dependency` entries for specific dependencies, as documented in:

https://quarkus.io/guides/

[2020-06-15 14:00] oscerd commented on #1519
Branch created.

[2020-06-15 14:00] #1519 closed

[2020-06-15 14:18] oscerd commented on #1308
This string is not in codebase anymore.

[2020-06-15 15:52] astefanutti opened #1534 "Support custom application.properties for Quarkus builds"
Currently, an empty `application.properties` file is used for the Quarkus builds. It would be useful to enable users to provide a custom file, and/or the ability to override specific configuration properties used during the build.

For example, it can be useful to deactivate unused beans automatic removal, when using external bean archives, with the `quarkus.arc.remove-unused-beans` property.

Rel

[2020-06-15 16:14] nicolaferraro commented on #1308
I think it's still there: https://github.com/apache/camel-k/blob/9d9ad64e78ad5a366f27437cc04b629c82d616dd/pkg/trait/knative.go#L426

[2020-06-16 04:07] tadayosi commented on #1505
I seem to reproduce the issue, too. I use Camel K 1.1.0-SNAPSHOT and minikube v1.11.0.
[code]

[2020-06-16 04:16] tadayosi commented on #1505
What hangs actually is the `kamel run --dev` session that's supposed to keep output logs. The deployment still runs fine as you can see running logs from another terminal with `kamel log simple`.

[2020-06-16 14:02] xytis opened #1535 "No way to configure Ingress Trait with annotations"
In many kubernetes deployments, machinery is in place that reacts to Ingress object annotations.

What would be the prefered way to implement passing down these annotations to Ingress Trait object?

Extra: Would it be possible to configure TLS on Ingress Trait object?

[2020-06-16 16:04] nicolaferraro commented on #1535
There's currently an easy way to pass labels as:

[code]

The `--label` flag labels the integration, while the trait `owner.target-labels` allows to forward them to all sub resources (including the ingress).

Although there's no corresponding `--annotation` flag (we should add it), if you manually annotate the integration with your annotations, there's a trait option `owner.target-annotations` to

[2020-06-16 17:08] mmistretta commented on #1507
i used this commit: https://github.com/jeremyrdavis/quarkus-cafe-demo/commit/5e8c7c47f7082a68e2c30dd7adcea0cad4bce56e
and still get Caused by: java.lang.ClassNotFoundException: RestWithUndertow.GrubHubOrder

[2020-06-16 17:15] lburgazzoli opened #1536 "In dev mode, changes to modeline are not taken into account"
Assuming you add some dependencies using modeline, then if you amend them in dev mode, the integration does not reflect the new set of dependencies

[2020-06-16 20:22] lburgazzoli commented on #1507
@mmistretta I've finally been able to find the root cause, here the related issues:

- https://issues.apache.org/jira/browse/CAMEL-15199
- https://github.com/apache/camel-k-runtime/issues/364

[2020-06-17 06:53] xytis commented on #1535
In my experience, Ingress objects generally require at least one annotation: `kubernetes.io/ingress.class: <ingress-class-name>`. Depending on ingress provider, there could be more annotations, that configure the provider. (Examples: [Traefik](https://docs.traefik.io/v1.7/configuration/backends/kubernetes/#annotations), [Nginx](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configurat

[2020-06-17 07:58] apupier opened #1537 "Provide yaml schema of design definition"
providing a yaml schema for Camel K yaml file will allow:
- to leverage built-in yaml support in most IDEs
- to allow versioning?
- to allow migration of versions?

[2020-06-17 08:01] apupier opened #1538 "Publish yaml schema of design defintion on https://www.schemastore.org/json/"
it will allow to have validation/completion automatically in several IDEs (including VS Code)

requires to have the Yaml schema available of the design definition https://github.com/apache/camel-k/issues/1537

[2020-06-17 08:03] apupier commented on #1537
@nicolaferraro I have not found an existing issue for it. Lars mentioned that you planned to have a look to generate it.

[2020-06-17 08:32] nicolaferraro commented on #1537
@apupier there's an issue in runtime https://github.com/apache/camel-k-runtime/issues/358.
Can you provide more information there?

Let's keep this open also here. Since also the Integration CR is in the end a YAML file, we can provide also a composite YAML schema for the CR.

[2020-06-17 09:01] nicolaferraro commented on #1536
That's bad, considering that dev mode was one of the target use cases for using modeline.

[2020-06-17 09:42] nicolaferraro opened #1539 "Cannot expose knative endpoints in YAML"
Works with other languages.

We need to add an e2e test as well.

*example.yaml*
[code]

Results in error:
[code]

[2020-06-17 13:17] nicolaferraro commented on #1539
Let's keep this open until we merge changes in the `release-1.0.x` branch

[2020-06-17 19:04] doru1004 opened #1541 "Package not found"
When trying to run kamel (RC2) on a Java file containing came code I get:

[code]

Any ideas what's going wrong?

[2020-06-17 19:26] lburgazzoli commented on #1541
Can you post the full content of the java file ?

[2020-06-17 19:32] doru1004 commented on #1541
Thanks for the reply, sure:

[code]

[2020-06-17 19:47] doru1004 opened #1542 "application.properties missing when using latest kamel-1.0.0 release"
When using the latest kamel 1.0.0 release and trying to run the Kafka sample consumer example I get:

[code]

This error does not occur when using kamel RC2 and the sample consumer is deployed successfully.

[2020-06-17 20:26] jasoncarreira opened #1543 "Kamel 1.0 fails on install on mac"
I had a previous kamel CLI RC installed and just upgraded to 1.0. I installed initially with homebrew and have also uninstalled that way and installed from the mac binary on GitHub. Both give the same error:

kamel install
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x1441556]

goroutine 1 [running]:
k8s.io/a

[2020-06-18 06:19] lburgazzoli commented on #1541
camel-k does not require you to write your own main but you should focus on the integration logic, see as example https://github.com/apache/camel-k/tree/master/examples/kafka

[2020-06-18 06:21] lburgazzoli commented on #1542
Is this happening on a fresh install  ?

[2020-06-18 08:17] nicolaferraro commented on #1543
@jasoncarreira I suspect this can be related to the type of cluster you're targeting rather than your local OS. What cluster are you using?

[2020-06-18 08:18] nicolaferraro commented on #1543
Do you hit the same error with `kamel version` or `kamel init Example.java`?

[2020-06-18 13:41] jasoncarreira commented on #1543
kamel version returns the version successfully. Kamel init hello.groovy doesn't seem to do anything, but doesn't through errors.

[2020-06-18 13:42] jasoncarreira commented on #1543
I'm using AKS on Azure. The 0.3.4 release would install on AKS but I couldn't get it to run. The previous 1.0-RC I had wouldn't install on AKS but didn't throw errors.

[2020-06-18 13:51] doru1004 commented on #1542
I had the RC2 version installed, I uninstalled it then I installed version 1.0.0.

[2020-06-18 14:04] doru1004 commented on #1541
I was trying to write a client for the consumer example.

Even if I don't include a main, the error seems to occur because of the code I have in my configure method.

What's the rule for what to include and not to include in the code passed to kamel run?

[2020-06-18 14:08] lburgazzoli commented on #1541
You need to add a dependency on the camel-componentdsl as it is not included by default, something like:

    camel run -d camel-componentdsl KafkaProducer.java

[2020-06-18 14:47] doru1004 commented on #1541
I guess that should have been my question from the start, a way to actually add dependencies if they are not  included in the default setup! :) Thanks for giving an example of how to add some.

In case anyone else runs into this problem, I actually avoided the use of the component factory by adding the broker details in the client code similarly to how they are used by the consumer:

[code]

[2020-06-18 14:50] doru1004 commented on #1541
If I really want to, can I add runnable code though? Or do I have to restrict myself to route building?

[2020-06-18 15:11] lburgazzoli commented on #1541
it depends what you mean by runnable code as you can provide some processors or other bits but in general you should focus on routes and other code can be provided through dependencies

[2020-06-18 15:20] apupier commented on #798
working fine.

tested with:
- kamel 1.0.0
- minikube 1.8.2
- unset of all minikube config ( `minikube config view` is returning nothing)

[2020-06-18 15:20] #798 closed

[2020-06-18 15:28] doru1004 commented on #1541
What I had in mind was the usage of the routes, the code that performs a sendBody or requestBody. Can I include that in the code to kamel run?

Also if I have route which contains a reactive stream, such as:

[code]

can I expect that to run?

[2020-06-18 15:29] nicolaferraro opened #1545 "Add a kamel help cli command"
Similar to `kamel help trait`, it can provide yaml/json information on the options available via CLI, that are also equivalent to the modeline options that we can specify on files.

[2020-06-18 15:34] lburgazzoli commented on #1541
can you scketch an example of what you want to achieve ?

It is a route so as long as you have all the dependencies it should work, if not get back to us :)

[2020-06-18 16:09] doru1004 commented on #1541
I just checked the saga example on here and it looks like it's using the pattern you mention above. I can use that as a blueprint.

In regards to creating a CamelContext, adding the route builder to it and then invoking requestBody or sendBody using the routes in the builder, that's not possible?

[2020-06-18 16:16] lburgazzoli commented on #1541
camel-k creates a CamelContext for you and then it will load your routes so no, you can't create your own context and even if it could be possible to use requestBody/sendBody (by adding a listener that reacts to events), it is definitively not what we recommend and what we want to support.

[2020-06-18 16:33] doru1004 commented on #1541
Thanks a lot for the clarification. This is very helpful!

[2020-06-18 16:48] doru1004 commented on #1541
I put together a reactive streams example and it works great!! :)

[2020-06-18 17:53] doru1004 opened #1546 "Adding dependencies on external packages"
Let's say I have a GitHub repo with the third party Java code and I want to add is a dependency since kamel run is complaining that it can't find the package.

Without kamel, what I do is clone the repo then call mvn install and then add the dependency in the pom.xml in the usual way. How would I proceed in the kamel run case?

[2020-06-18 17:55] doru1004 commented on #1541
Thanks for all the help! Closing since my initial issue is resolved.

[2020-06-18 17:55] #1541 closed

[2020-06-18 18:17] lburgazzoli commented on #1546
you can use a special syntax that allow to leverage jitpack:

    kamel run -d github:$user/$repo

[2020-06-18 18:40] doru1004 commented on #1546
I see that this works only with version 1.0.0 and I'm using RC2. I have another issue opened of what happens when I use version 1.0.0: https://github.com/apache/camel-k/issues/1542

[2020-06-18 18:46] lburgazzoli commented on #1546
you can do the same without the special syntax, you should follow the instructions on the jitpack site so:
- add a maven repo
- use the jitpack syntax

[2020-06-18 18:52] doru1004 commented on #1546
As an example, let's assume that the repo I want to install is this one:

[code]

What would be the command you have in mind? I'm not sure I understand the steps you suggested.

[2020-06-18 19:47] doru1004 commented on #1542
In the source I see that this:  /etc/camel/conf/application.properties  is hardcoded. What's the underlying assumption? Who is supposed to create that file and is it going be created in that location in all cluster types?

[2020-06-18 20:27] doru1004 commented on #1542
I tried building from source. I cloned the latest master branch and ran
[code]

This build a `kamel` executable which I used to install kamel in my kind cluster.

The command succeeded.

I was also able to deploy the KafkaConsumer in the Kafka example.

It looks like the files missing error might be an error only in the release version and it is no longer a problem in the latest master.

[2020-06-18 20:27] #1542 closed

[2020-06-18 20:34] doru1004 commented on #1546
Looks like I have managed to get the latest version of Kamel to work (build from source with latest master). I might be able to actually use your initial suggestion:

[code]

The project Github repo path is similar to this: `https://github.com/apache/camel`

What is the precise `-d` parameter I need to construct for that? Is it this:

[code]

?

[2020-06-18 20:37] lburgazzoli commented on #1546
yes

[2020-06-18 20:45] doru1004 commented on #1546
I tried this:

[code]

And the builder errored:

[code]

[code]

Is there a way to get more information about the failure?

[2020-06-19 17:21] doru1004 commented on #1546
Any way to get more feedback as to what goes on during the building process?

[2020-06-19 17:35] doru1004 commented on #1546
Can you give me an example of a GitHub dependency that you have personally tried and it worked for you? I'm trying to pass dependencies via -d that are unrelated to my example and all I am getting is the error above in the builder.

[2020-06-22 08:43] tadayosi commented on #1505
@aldettinger @lburgazzoli If no one is working on it yet, I can look into it.

[2020-06-22 09:24] bouskaJ opened #1547 "Increase trait test coverage"
We have low/no test coverage for the following traits:
[code]
We should add `e2e` tests for increasing test coverage.

[2020-06-22 10:15] nicolaferraro opened #1548 "Use sinkbinding in operator"
Following https://github.com/apache/camel-k-runtime/pull/372 we should enable the following two scenarios in the operator:

**1) Auto-publish as source via sinkbinding**

When writing an integration like:

[code]

Instead of looking up directly `xxx`, we can create a sinkbinding on the subresource we create (deployment/cronjob/kservice), so that knative injects the correct references.

This allows

[2020-06-22 14:41] nicolaferraro opened #1549 "Auto-detect json in yaml syntax"
It's common to do in YAML syntax:

[code]

But the marshaller dependency is not recognized automatically and "camel-jackson" needs to be explicitly added (e.g. using `-d`). The language inspector can do it automatically.

[2020-06-22 16:26] astefanutti opened #1550 "Drop OpenShift 3 support"
Camel K CRDs currently uses `apiextensions.k8s.io/v1beta1`, which will be removed in a future release of Kubernetes (currently planned for 1.22): kubernetes/kubernetes#82022.

Work has been done in #1514 to migrate to `apiextensions.k8s.io/v1`. However, OpenShift 3.11 is based on Kubernetes 1.11 that does not serve `apiextensions.k8s.io/v1`. It implies it won't be possible to support both Kubernet

[2020-06-22 20:22] aldettinger commented on #1505
Hey @tadayosi , sure you can :+1:

[2020-06-23 06:07] rahgadda commented on #674
Hi Team,

I am also facing the same issue.
[code]
No Pod is created
![image](https://user-images.githubusercontent.com/13075415/85366809-b1e27280-b545-11ea-87a6-d24da86fd80e.png)

`kamel get` is displaying below
![image](https://user-images.githubusercontent.com/13075415/85366867-ce7eaa80-b545-11ea-9b38-4d38f7f44bbd.png)

Please suggest.

[2020-06-23 08:52] pjcubero commented on #1543
I'm trying reinstall Kamel-K over minishift, now I have the version 0.3.4, and I have the same error that from Jason Carreira... I don't know why...

[2020-06-23 08:54] pjcubero opened #1551 "Kamel run issue"
I need to inject two dependencies over one integration, and when begin the integration, is stucked at Building Context phase, and nothing more...

I need to inject camel-undertow, camel-hl7 and hapi.

Do you know why that?

[2020-06-23 09:49] lburgazzoli commented on #674
@rahgadda not very sure it is the same issue, mind opening a enw one with some more details ?

- type of kubernetes cluster
- kamel k version
- logs from operator

[2020-06-23 13:58] rahgadda opened #1552 "kamel install not working on vanilla k8 cluster"
Hi Team,

I am not able to install Camel-K on the vanilla k8 cluster.
Details are provided below.

**Environment Details**
-  K8 Cluster Details
![image](https://user-images.githubusercontent.com/13075415/85410768-1c66d300-b585-11ea-8000-03b6656e0486.png)
- Kamel K version
![image](https://user-images.githubusercontent.com/13075415/85410836-33a5c080-b585-11ea-9cad-1bf06671f22b.png)
- Logs from ope

[2020-06-23 14:00] rahgadda commented on #674
@lburgazzoli, raised (issue)[https://github.com/apache/camel-k/issues/1552]

[2020-06-24 11:04] nicolaferraro commented on #1552
@rahgadda I think what you intended to do with `kamel install --cluster-setup ...` was to install it globally, but the right command is `kamel install --global ...`. The `cluster-setup` flag installs only the CRDs and roles to access them in the cluster, but not the operator.

Can you try with that?

[2020-06-24 15:18] astefanutti opened #1555 "Migrate from ServiceMonitor to PodMonitor in Prometheus trait"
The Prometheus creates a `ServiceMonitor` resource, so that a Prometheus operator instance can discover the integration metrics endpoints. In newer versions of the Prometheus operator, the `PodMonitor` resource has been introduced that seems more appropriate, as it would prevent the creation of an ah-hoc service for the sole monitoring purpose.

RBAC resources and documentation will have to be upd

[2020-06-24 15:55] astefanutti opened #1556 "Add the camel category to Camel K CRDs"
So that users can run `kubectl get camel` as a shorthand for `kubectl get ip,ik,it,ikb`.

See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#categories.

[2020-06-24 16:41] astefanutti opened #1557 "Integration do not shutdown gracefully when `jvm.print-command` is set"
Following 75df6c3e28196439dc0a6e7e20da8c9bab5543e5, the `SIGTERM` signal is not forwarded to the JVM, which is started by the wrapping shell used to print the command. Hence the JVM and the Camel context do not shutdown gracefully.

cc @lburgazzoli

[2020-06-24 18:04] oscerd opened #1559 "Switch to Syndesis gh action for backporting"
It works better than what we're using.

[2020-06-24 19:45] doru1004 commented on #1546
I have managed to get my example to work so I'm closing this.

[2020-06-24 19:45] #1546 closed

[2020-06-25 05:23] heiko-braun commented on #1556
Shouldnt it be ‘get kamel’?

[2020-06-25 05:25] heiko-braun commented on #1555
Is a composite resource that contains servicemonitor, alerts, etc?

[2020-06-25 06:52] #1559 closed

[2020-06-25 07:02] astefanutti commented on #1556
It's for us to decide. It could also be both `camel` and `kamel` categories.

[2020-06-25 09:16] #1557 closed

[2020-06-25 09:32] lburgazzoli commented on #1539
@nicolaferraro has this been merged ?

[2020-06-25 09:42] lburgazzoli opened #1562 "Remove support for Main runtime for integrations"

[2020-06-25 11:36] nicolaferraro commented on #1539
Merged

[2020-06-25 11:36] #1539 closed

[2020-06-25 11:37] nicolaferraro opened #1565 "Release 1.0.1"
# Release Notes

## Bug Fixes

- fix(jvm): Integration do not shutdown gracefully when jvm.print-command is set ([#1558](https://github.com/apache/camel-k/pull/1558), [@astefanutti](https://github.com/astefanutti))
- Knative YAML integrations are now parsed correctly for metadata discovery ([#1540](https://github.com/apache/camel-k/pull/1540), [@lburgazzoli](https://github.com/lburgazzoli))
- Came

[2020-06-25 11:53] clojj commented on #1192
@haris-zynka
Hi, I also tried Camel-K 1.0.0 Release on azure.. with no success.
Could you provide details, as to how you managed to install 'kamel' with ACR registry ?
Thanks

[2020-06-25 11:55] clojj opened #1566 "Running in Azure AKS with ACR Registry"
As other issues mentioned, ther seems to be special issues with running kamel in Azure Kubernetes.
If it is possible, could Azur specific instructions (or open issues) please be provided ?

[2020-06-25 12:02] haris-zynka commented on #1192
I've used RC1. After that it stopped working. And I tried to revert it back to RC1 it still failed. However you need to put "./kamel install --registry YOUR_AZURE_REGISTRY_DOMAIN.com --registry-auth-username YOUR_USERNAME --registry-auth-password SECRET_PASSWORD". I don't think it works anymore but try [this post](https://dev.to/greenroommate/apache-camel-k-on-aks-quick-setup-1lm0). However I don'

[2020-06-25 12:39] lburgazzoli opened #1567 "Support for Kamelets"
Some time ago we have been discussing about introducing the concept of **Kamelet** which in essence is a way to describe a reusable route people can leverage to provide ready-to use functionalities. As example, it will be possible to use a Kamelet to create a [Knative Camel Sources](https://knative.dev/docs/eventing/samples/apache-camel-source/) but also to create a [Kafka Camel Connectors](https:

[2020-06-25 13:33] imasood90 opened #1568 "Builder not getting configured with private docker repo"
The kamel has been initialled with the private docker repository and with private maven repo. But with kamel run is executed the logs displayed the builder tries to get image from public docker repos rather than private one.

Following command is used :
 **kamel install --registry docker-regsrv.de.stihl-dns.net:8080 --registry-secret regcred --maven-settings=configmap:maven-settings/maven_settings

[2020-06-25 13:35] wanted419 commented on #994
@fdivita

How did you resolve the issue .

[2020-06-25 18:31] aldettinger commented on #1505
@tadayosi it seems I can't reproduce with Camel-K 1.0.1, maybe linked to #1558

[2020-06-26 04:06] tadayosi commented on #1505
@aldettinger Yes, thanks to #1558 now cleanup of terminating pods seems to get faster. I think that's the reason why the issue no longer happens as frequently as before (less concurrent reads/writes of the pipe to stdout). I still have a feeling that the root cause is some deadlock at the shared pipe to stdout in the `SelectorScraper`. But for now the issue becomes negligible so let's close it.

[2020-06-26 04:07] #1505 closed

[2020-06-26 07:42] omarsmak opened #1571 "Buildah produces "stderr: permission denied" when building an integration route with Dockerhub"
If we setup camel-k with docker registry enabled and default publish strategy `Buildah`, e.g:
[code]
Building a sample integration using the command `kamel run Sample.java  --dev `, will produce the following error in buildah container:
[code]
If I use `Spectrum` publish strategy, everything works fine.

Please note, I am using  **Azure Kubernetes Cloud (AKS)**

[2020-06-26 07:47] omarsmak opened #1572 "Kaniko produces " UNAUTHORIZED: authentication required" error when building an integration route with Dockerhub"
If we setup camel-k with docker registry enabled and publish strategy `Kaniko`, e.g:
[code]

Building a sample integration using the command `kamel run Sample.java  --dev `, will produce the following error in Kaniko container:
[code]
If I use `Spectrum` publish strategy, everything works fine.

Please note, I am using  **Azure Kubernetes Cloud (AKS)**

[2020-06-26 08:31] lburgazzoli opened #1573 "kamelets: architecture documentation"

[2020-06-26 08:34] lburgazzoli opened #1574 "kamelets: operator support"

[2020-06-26 08:35] lburgazzoli opened #1575 "kamelets: runtime support"
Depends on https://github.com/apache/camel-k-runtime/issues/375

[2020-06-26 09:20] lburgazzoli opened #1576 "kamelets: distribution model documentation"

[2020-06-26 11:04] lburgazzoli opened #1577 "Add support for AppCDS"
AppCDS [1] aims to to have a fast startup by having application classes to be placed in a shared archive.

It is true that we can't know the final set of classes that are needed but since we do compute the dependencies based on the requirement of the routes, we have a chance to use the same information to give some hint to the operator to generate an AppCDS archive.

[1] https://openjdk.java.net/j

[2020-06-26 17:57] doru1004 opened #1579 "Running YAML code"
I am trying to transform a Camel route with a simple processor into a yaml version of itself.

I have my processor in a different file MyProcessor.java.

I have tried writing something like this:

[code]

But that is a guess and when I do `kamel run` it doesn't actually work:

[code]

Are there any examples out there which invoke a processor as one of the steps?

[2020-06-26 18:02] lburgazzoli commented on #1579
A fix for this will be available in the next release of the camel-k-runtime, however storing arbitrary code in a CR is not the recommended approach and best is to leverage jitpack or publish your artifact to a maven repo

[2020-06-26 18:07] doru1004 commented on #1579
Just to make sure I understand, is there no yaml way in which I could specify a custom processor? The yaml code I wrote there my be wrong, in particular this part:

[code]

I understand the process step is supported and I'm wondering what can I actually pass to it if not a custom class.

[2020-06-26 18:12] doru1004 commented on #1579
In other words, what would be the correct syntax for passing a processor class to the process step.

[2020-06-26 18:14] lburgazzoli commented on #1579
The current implementation only accept a reference to a Processor stored in the registry so to reference a class you should use the bean dsl, however in the next release there should be support for that syntax too (the property it’s probably not be named class)

[2020-06-26 18:15] doru1004 commented on #1579
Got it. That's helpful to know!

[2020-06-26 18:17] doru1004 commented on #1579
What is the approximate timeline for the next release?

[2020-06-28 02:08] doru1004 commented on #1579
Do you have an example of how this can be done using YAML? What's unclear to me is how this method:

[code]

can be called from yaml (where bindBeans binds MyProcessor to the Camel registry).

[2020-06-28 09:28] davsclaus commented on #1579
You can add @BindToRegisty on the MyProcessor class

[2020-06-28 12:21] madmesi opened #1580 "Error during unshare(...): Operation not permitted"
Description :
my Sample.java camel-k integration on kubernetes failed:

I installed camel -k with command line:
``` kamel install --registry=myregistry.example.com --force```
[code]

[code]
I used to have this error in the (error state) pod:
Error:
[code]

after doing ```echo 2147483647 > /proc/sys/user/max_user_namespaces``` on all nodes error changed to:

Error:
[code]

Is there something that I

[2020-06-28 18:06] doru1004 commented on #1579
I did that and then added this to my route:

[code]

I got an error saying:

[code]

[2020-06-28 18:40] doru1004 commented on #1579
Note to the above comment: I am doing this in an all Camel example and I was able to get it to work by **not** using the `@BindToRegistry` annotation but by doing this:

[code]

[2020-06-28 19:21] doru1004 opened #1581 "Camel to Yaml transformation"
I have the following Camel code running with Camel K but I would like to transform this code into Yaml.

[code]

If you can point me to an example that I may have missed or ideally some documentation that outlines the rules for Camel to Yaml transformation, I would be happy to look over them.
In the absence of that I'm afraid I cannot infer how the yaml code might look like so I would require some

[2020-06-29 11:56] davsclaus commented on #1579
Yeah that would work as you use the Java API.

But ideally we should make it possible to auto register beans via that annotation (or if you use cdi annotation with quarkus enabled).

Also for what's it work, you can also register via properties

camel.beans.myProcessor=#class:com.foo.MyProcessor

[2020-06-29 13:39] doru1004 commented on #1579
So you mean doing something like this:

[code]

?

[2020-06-29 13:49] doru1004 commented on #1579
What's the YAML side code for using the reference?

[2020-06-29 13:52] lburgazzoli commented on #1579
I've been recommending to use something like:

[code]

does that work for you ?

[2020-06-29 13:57] lburgazzoli commented on #1579
You need to bind a processor to the context with what @davsclaus described and the using the `ref` property of the `process` step, something like:

[code]

The processor need to be bound to the context, i.e. by using an additional class, like:

[code]

btw, we have also a gitter room and a mailing list for general discussions, whereas here is to report issues.

[1] https://gitter.im/apache/camel-k

[2020-06-29 16:26] davsclaus opened #1583 "dependencies trait - Camel shorthand camel:dns vs camel-dns"
Spotted this in an example
https://github.com/apache/camel-k/blob/master/examples/dns.js#L20

I assume its a mistake with the colon, eg `camel:dns` should be `camel-dns` ?

[2020-06-29 16:32] lburgazzoli commented on #1583
yes, the original idea was to use an uri like syntax but it turned out to be an issue so camel-${id} is the right one

[2020-06-29 16:34] davsclaus commented on #1583
Ok so the example should be updated

[2020-06-29 16:46] #1583 closed

[2020-06-29 18:00] doru1004 commented on #1579
Thank you for the detailed explanation. I'm working on getting it work right now.

A small issue occurs when I try to run this command:

[code]

I get:

[code]

It seems to happen when I pass 2 inputs. Passing each one of those files individually does not result in that error.

[2020-06-29 18:06] davsclaus commented on #1579
Ah you can specify the name via `--name` parameter.

[2020-06-29 18:07] davsclaus commented on #1579
I guess maybe Kamel CLI should just compute the name from the 1st file

[2020-06-29 18:32] doru1004 commented on #1579
The `--name` fixed it :) Thanks.

[2020-06-29 19:12] doru1004 commented on #1579
I am extremely close to getting this to work.

A quick question: MyProcessor class uses other classes, defined in separate files. How do I tell kamel about those dependencies?

I tried passing the JAVA files to the to "kamel run" but that didn't work.

[2020-06-29 19:42] lburgazzoli commented on #1579
I’d suggest to use jitpack or similar solution for that

[2020-06-29 19:44] doru1004 commented on #1579
I see, for now I just put all the classes into the file containing MyConfigurer and that seems to have been fine although not an ideal solution.

[2020-06-29 19:55] doru1004 commented on #1579
Does MyProcessor require any annotation as `@Component` or something like that?

Now that I have no more compilation errors I get:

[code]

which looks like a Camel specific problem. I suspect my reference to MyProcessor isn't quite correct.

[code]

And my configuration class looks like this:

[code]

Am I missing some annotation on the MyProcessor class? (`@Configuration` or `@Component` ? )

[2020-06-29 21:29] doru1004 commented on #1579
It looks like at the time of binding the bean to the registry MyProcessor class is not found.

[2020-06-29 22:22] doru1004 commented on #1579
`MyProcessor` as a class is defined in the `MyConfigurer.java` file which I pass to kamel run.

[2020-06-30 06:35] lburgazzoli commented on #1579
@doru1004 I'm honestly lost about what you are doing.

So it seems you have both a `@BindToRegistry` and `--property camel.beans.myProcessor=#class:MyProcessor` and well, both are supposed to do the same thing. As already stated there is an issue in referencing a class by name if the class is provided as a CR (i.e. using `kamel run`) and this will be fixed in the next version but as camel-k is not

[2020-06-30 13:58] doru1004 commented on #1579
What I am trying to do is have a working application using Camel K. I have managed to do a Java only application. What I would now want to do is rewrite the Camel integration in Yaml.

Some initial features that I want to exercise are:
1. sending HTTP requests to some third-party service and getting a response
2. have a custom processor to process that response

I would like to do this from YAML t

[2020-06-30 14:05] lburgazzoli commented on #1579
That error is probably about a wrong YAML indentation, as per the YAML guide, each step is represented by YAML map that has a single entry where the field name is the EIP name.

[2020-06-30 14:16] lburgazzoli commented on #1579
Here an example of a working code:

[code]

[code]

tested on OpenShift with the following command:

    kamel run --dev --name example routes.yaml MyConfigurer.java

[2020-06-30 14:36] apupier opened #1584 "Improve description of "dependency" run and modeline option to include case of Camel components artifactId"
it is currently `An external library that should be included. E.g. for Maven dependencies "dependency=mvn:org.my:app:1.0"`

it can also be used for specifying Camel components, using artifact ids. For instance, in case a toD is used in the route and cannot be determined automatically.

[2020-06-30 15:51] doru1004 commented on #1579
Thank you so much!! Thanks a lot for the patience. I managed to get it to work!! :) After taking out the `--property` from the command line It looks like in the end it really was just an indentation issue in my YAML. This was really helpful though! I'm happy to close this now and I hope this issue helps other users of Camel K also.

[2020-06-30 15:51] #1579 closed

[2020-07-01 06:09] lburgazzoli commented on #1581
Haven't tested but should be something like:

[code]

[2020-07-01 09:35] rahgadda commented on #1552
@nicolaferraro,

Based on your suggestion in have used the below command.
I am unable to run any Kamel files. Below are the detail log details. Let me know if anything else is required.
I am running my server under HTTP and HTTPS proxy, let me know if anything else has to be done.

`kamel install --global --registry-insecure --registry 10.40.65.121:5000`

`kubectl get pods`
![image](https://user-i

[2020-07-01 10:20] VratislavHais opened #1585 "Bad help description for kamel init"
This is the exact help I am getting from command `kamel init --help`
[code]
specificaly `kamel init [flags]` should be changed to sth like `kamel init [flags] IntegrationFile.java`

[2020-07-01 20:45] doru1004 commented on #1581
Thanks a lot for the answer! This was very useful to understand how to transform Camel into Yaml! I now have a working example! :)

[2020-07-01 20:45] #1581 closed

[2020-07-03 10:08] nicolaferraro opened #1590 "Restore flow type as object?"
I've seen now this commit @astefanutti : https://github.com/apache/camel-k/commit/1b95c5a2b19c8566860fff0b2b736a0b8b8470a3

The flow type was "special" meaning that it allowed to create an integration like:

[code]

While, setting it as string the integration becomes "probably" like:

[code]

I don't think we have e2e tests (but we should add them). In terms of JSONSchema, it was an array of objec

[2020-07-03 10:38] astefanutti commented on #1590
Sorry, I failed to proactively warn you about this, but knew it would soon come back to haunt me :)

The previous `type Flow map[string]interface{}` was getting into the way of enabling CRD generation, and also leads to the question of schema validation.

I initially used `type Flow json.RawMessage` in 45bc5e9dd0b3386ed999d58ce58b555c8cc834bd, and I fail to remember why I ultimately decided to go

[2020-07-06 12:30] johnpoth commented on #1536
I can take a look at this if it's ok

[2020-07-06 15:01] #1590 closed

[2020-07-07 07:08] #1410 closed

[2020-07-07 09:42] astefanutti opened #1593 "The options parameter from the jvm trait should support value containing commas"
Currently, the `options` parameter from the _jvm_ trait takes a comma-separated list of JVM options. That prevents from setting options that contain commas.

[2020-07-07 12:53] astefanutti commented on #1508
A proposal has been submitted in #1594.

[2020-07-08 10:30] spenceclark commented on #1580
I'm getting the same problem also.

Where would I run "echo 2147483647 > /proc/sys/user/max_user_namespaces"? It sounds like this needs to be run on the nodes
but I'm using a managed kubernetes from DigitalOcean, so I don't have that kind of access to the underlying nodes.

But even doing that doesn't seem to fix the problem.

[2020-07-08 12:32] astefanutti commented on #1580
I suspect this is caused by Buildah running into a container runtime that's too much constrained.

Could you provide the output of:

    $ kubectl get integrationplatforms.camel.apache.org -o yaml

and:

    $ kubectl get nodes -o jsonpath="{.items[*].status.nodeInfo}"

Otherwise, what container runtime is used in you cluster.

Some context can be found in https://github.com/containers/buildah/iss

[2020-07-08 12:47] spenceclark commented on #1580
This first command return this:
[code]
  and the second one returns this:
[code]

[2020-07-08 13:18] astefanutti commented on #1580
Thanks, that confirms Buildah with the Docker container

From containers/buildah#1901, it seems a system call, that's forbidden by default with the Docker container runtime, is still necessary when the user has no `CAP_SYS_ADMIN` in the container.

The only option seems to change the Docker container runtime to use a different _seccomp_ profile, e.g. `docker run --security-opt seccomp=/usr/share/c

[2020-07-08 13:22] lburgazzoli commented on #1580
@astefanutti I think we should create a "troubleshooting" page with this kind of information

[2020-07-08 13:24] astefanutti opened #1595 "Create a troubleshooting documentation"

[2020-07-08 13:25] astefanutti commented on #1580
@lburgazzoli right, good idea. I've just created #1595 for it.

[2020-07-09 11:32] apupier opened #1599 "Fix generation of traits.yaml file"
typo like this one https://github.com/apache/camel-k/pull/1598 occured during generation

@astefanutti Can you provide more details please?
Where is the algorithm used for generation?
Where is the root text?

[2020-07-09 11:51] #1192 closed

[2020-07-09 12:06] astefanutti commented on #1599
Sure

The code path starts from `script/gen_doc.sh` all the way done to https://github.com/apache/camel-k/blob/ff29575de82a5dc05b4b68512b6da2348c8453d8/cmd/util/doc-gen/generators/traitmetadatagen.go#L127

The metadata are taken directly from the traits source code.

[2020-07-09 18:21] akieling opened #1601 "Add 'v' prefix to tag names"
Apparently go modules requires the 'v' prefix in tag names to correctly add them to `go.mod`. When the tag names don't include the 'v' prefix, go modules falls back to a pseudo-version.

[2020-07-09 19:13] miguelsorianod commented on #1601
Hi,

The reason this issue has been opened is due to in our project https://github.com/redhat-integration/rhi-operator (fork of integreatly-operator) we are making use of camel-k and while I was investigating an issue I found camel-k was being imported using a pseudo-version due to tags in the repository not using format v.X.Y.Z.

However, I'd not take this decision lightly. Before taking this dec

[2020-07-10 09:02] nicolaferraro commented on #1601
That for sure can be done, starting from next v1.1.0 release.

Another thing that we should do is re-pointing our 3 modules to use tag names instead of v0.0.0 before we do the tag, this way a project importing client or the full project doesn't need to go mod replacing.

[2020-07-10 09:03] #1565 closed

[2020-07-11 06:53] madmesi commented on #1580
Thanks Guys for responding. I'm a bit confused here. I tried to install camel-k following the [operatorhub](https://operatorhub.io/operator/camel-k/stable/camel-k-operator.v1.0.0) and [this](https://camel.apache.org/camel-k/latest/installation/installation.html). and I still don't know which one helps me to create the integration.

After your response I tried removing the "olm" namespace followed

[2020-07-12 16:47] lburgazzoli commented on #1538
PR merged on schemastore: https://github.com/SchemaStore/schemastore/pull/1138
don't know when it will be available on https://www.schemastore.org/json

[2020-07-12 16:48] lburgazzoli commented on #1537
https://github.com/apache/camel-k-runtime/issues/358 has been merged

[2020-07-13 00:30] #1189 closed

[2020-07-13 00:30] #1280 closed

[2020-07-13 00:30] #911 closed

[2020-07-13 00:30] #908 closed

[2020-07-13 10:40] lburgazzoli opened #1604 "Deprecate build kit at platform set-up time"
Upon start-up, the integration platform set-up, the operator may automatically [install](https://github.com/apache/camel-k/blob/master/pkg/controller/integrationplatform/create.go#L59-L81) some integration kits but it looks like this feature is not really useful and there's a risk that those pre-defined kits may get out of date as they are not based on the camel catalog.

Should we deprecated this

[2020-07-13 15:29] astefanutti commented on #1580
@madmesi the `cluster-setup` option only performs CRDs and cluster roles installation. So you may remove that option to have the operator set up.

[2020-07-14 08:59] #1601 closed

[2020-07-14 10:28] oscerd opened #1607 "Camel-K-example: The Kinesis source example fails because region is missing"
`2020-07-14 10:19:40.180 INFO  [main] AbstractCamelContext - Apache Camel 3.3.0 (CamelContext: camel-k) is shutdown in 0.009 seconds
Exception in thread "main" org.apache.camel.FailedToStartRouteException: Failed to start route route1 because of null
	at org.apache.camel.impl.engine.RouteService.warmUp(RouteService.java:125)
	at org.apache.camel.impl.engine.AbstractCamelContext.doWarmUpRoutes(Abst

[2020-07-14 10:29] oscerd opened #1608 "Camel-K-Examples: The Kinesis examples fails because of signature"
`	at java.util.TimerThread.run(Timer.java:506) [?:?]
2020-07-14 10:23:53.327 WARN  [Camel (camel-k) thread #1 - timer://java] TimerConsumer - Error processing exchange. Exchange[ID-aws-kinesis-producer-8f75d96d4-27jn6-1594722125524-0-35]. Caused by: [com.amazonaws.services.kinesis.model.AmazonKinesisException - The request signature we calculated does not match the signature you provided. Check yo

[2020-07-14 12:59] #1607 closed

[2020-07-14 13:06] #1608 closed

[2020-07-15 08:41] apupier commented on #1538
The schema is available on https://www.schemastore.org/json

![Screenshot from 2020-07-15 10-26-46](https://user-images.githubusercontent.com/1105127/87522311-beaa4000-c685-11ea-9655-01ceb58313a2.png)

You can use it in various IDE that are relying on it without specific configuration apart from installing the Yaml extension/plugin, for instance:

VS Code:
![Screenshot from 2020-07-15 09-18-24](ht

[2020-07-15 08:47] lburgazzoli commented on #1538
is the auto completion triggered also by the modeline or it is required to use the .camelk.yaml suffix for file names ?

[2020-07-15 09:02] apupier commented on #1538
the yaml schema specification is working only based on the file name patterns.

it would be possible to dynamically assign the schema based on the modeline but it would require to implement it in each IDE we want to support.

Allowing to specify the schema inside the data file would allow standalone files without relying on filename but it is not part of the specification priorities: https://githu

[2020-07-15 09:25] lburgazzoli commented on #1538
We had this discussion already and we added the modeline exactly for the reason to avoid having to add `.camelk.yaml|java|groovy|js|xml` and afaik, the camel-k support is already either triggered by the file name pattern or by the presence of `camel-k` in the modeline so imho, the support for the auto completion should work the same way and not requiring a different set-up.

In camel-k the name of

[2020-07-15 11:52] bouskaJ opened #1610 "Separate readiness and liveness probe"
We have a common configuration property for enablement liveness and readiness probes ({{container.probes-enabled}}). But those probes are used for different use-cases.
See probes documentation:
[code]
[code]
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

I can imagine an application that should not be restarted on an unhealthy status (only re

[2020-07-15 12:36] apupier commented on #1538
it is the case for Camel Language Server. The Json schema support is not provided by the Camel language Server.

The support of auto-completion relies on the Json schema specification and the Yaml Language Server. It is not related to the Camel language Server.
Referencing the schema from the file itself would the correct way to do it but currently the [Json Schema specification doesn't specify it

[2020-07-15 12:46] lburgazzoli commented on #1538
I know but the UX should be the consistent.

I never said that it should not follow that path but as we also have the modeline to help understanding that we are dealing with a camel-k dsl, then I don't see why we can't re-use it so the experience would be consistent.

But it won't solve the Java issue

[2020-07-15 13:25] apupier commented on #1538
There is no need of `.camelk.java`. There is no yaml schema for the Java part. I don't understand why there is an issue.

[2020-07-15 13:30] apupier commented on #1538
Reusing the current Camel K modeline means either developing specific code in each IDEs clients or to include specific Camel K code in Yaml language Server. None of that is a good solution on middle and long term.

[2020-07-15 13:32] apupier commented on #1538
i don't think that it is the most important to have consistent User Experience between the various languages in Camel K. it sounds more important to have consistent User Experience with the language itself.

[2020-07-15 14:10] nicolaferraro opened #1611 "Add related image in OLM descriptor"
We use the `adoptopenjdk/openjdk11:slim` image, so we should mention this in the OLM [CSV](https://github.com/apache/camel-k/blob/master/deploy/olm-catalog/camel-k-dev/1.1.0-snapshot/camel-k.v1.1.0-snapshot.clusterserviceversion.yaml).

[2020-07-15 15:14] #1593 closed

[2020-07-15 15:14] #395 closed

[2020-07-15 16:16] astefanutti opened #1614 "Traits configuration schema"
The traits configuration is stored in the `Integration`, `IntegrationKit` and `IntegrationPlatform` resources. While this makes trait configuration part of the Camel K public API, it is not defined in any schema, and is loosely validated.

Following #1600, the traits structs are used directly for serialisation. Instead of declaring `map[string]TraitSpec` fields in the API, we could make the traits

[2020-07-15 16:28] astefanutti opened #1616 "Hierarchical traits configuration CLI"
While the trait configuration could be structured and hierarchical, it is currently limited by the _flat_ CLI used for trait configuration. For example, if hierarchical CLI would be supported, it would be possible to execute:

    $ kamel run -t route.tls.termination=... -t route.tls.certificate=... -t route.tls.key=...

Instead of:

    $ kamel run -t route.tls-termination=... -t route.tls-certif

[2020-07-15 17:09] lburgazzoli opened #1617 "Set knative.reply = false in knative environment metadata"
As follow up of https://github.com/apache/camel-k-runtime/pull/396 it would be nice if the operator set a metadata entry `knative.reply = false` when the reply of a call to a knative source endpoint (endpoint, channel, event) is not relevant so we can avoid to construct a full reply.

[2020-07-16 07:23] nicolaferraro opened #1618 "Release Camel K 1.1.0"
Let's collect the good things we're doing to do a release early next week

[2020-07-16 14:05] nicolaferraro commented on #1129
This can be now done with:

[code]

The new topology view displays integrations even without app.

[2020-07-16 14:05] #1129 closed

[2020-07-16 18:01] astefanutti commented on #1556
Fixed with #1615.

[2020-07-16 18:01] #1556 closed

[2020-07-17 07:46] #1617 closed

[2020-07-17 07:46] #1308 closed

[2020-07-17 07:52] nicolaferraro commented on #1406
Better takling this when we have a single runtime (Quarkus)

[2020-07-17 08:42] nicolaferraro opened #1623 "Import release notes from Camel K Runtime on release"
We can also try to upgrade the release note generator, since our changes to make it work on general repos have been merged upstream.

[2020-07-17 09:43] #1599 closed

[2020-07-17 10:55] welshstew commented on #1107
This would be wonderful +1

[2020-07-17 12:10] apupier commented on #1538
created https://issues.redhat.com/browse/FUSETOOLS2-564 to track various possibilities to not force usage of file name pattern

[2020-07-17 14:59] nicolaferraro commented on #1585
Fixed by https://github.com/apache/camel-k/pull/1596

[2020-07-17 14:59] #1585 closed

[2020-07-20 14:44] #1595 closed

[2020-07-21 07:39] astefanutti commented on #1370
@kisamoto do you still face the issue with the latest release?

[2020-07-21 07:43] astefanutti commented on #1321
I think it's been fixed with #1526.

[2020-07-21 07:43] #1321 closed

[2020-07-21 07:56] astefanutti commented on #951
OpenAPI structural schema used for validation has been added by #1582.

For general purpose documentation, let's follow up in #1137.

[2020-07-21 07:56] #951 closed

[2020-07-21 07:58] astefanutti commented on #36
Relates to #1629.

[2020-07-21 08:01] astefanutti commented on #466
Let me close this and follow up in #431.

[2020-07-21 08:01] #466 closed

[2020-07-21 08:01] astefanutti commented on #431
Is it still an issue with the latest Camel K release?

[2020-07-21 08:10] astefanutti commented on #1562
To be followed up by #1513.

[2020-07-21 08:20] nicolaferraro commented on #1562
Let's do the 1.1.x release now, so we can start working on all this.

[2020-07-21 09:26] astefanutti commented on #1264
Updated URL for creating a custom dashboard: https://kiali.io/documentation/latest/runtimes-monitoring/#_create_new_dashboards.

A default dashboard for Quarkus is also available: https://kiali.io/documentation/latest/runtimes-monitoring/#_quarkus.

[2020-07-21 10:27] astefanutti opened #1630 "Grafana dashboards"
As monitoring based on Prometheus is auto-configured, it would be useful that Grafana dashboards are auto-configured to visualise monitoring data.

When using Quarkus and the _prometheus_ trait, The [MicroProfile Grafana](https://github.com/jamesfalkner/microprofile-grafana) project could be leveraged (jamesfalkner/microprofile-grafana#3).

Ideally, this would work both for the operator and integr

[2020-07-21 11:09] kameshsampath commented on #431
I don’t think so

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Antonin Stefanutti <notifications@github.com>
Sent: Tuesday, July 21, 2020 1:32:00 PM
To: apache/camel-k <camel-k@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [apache/camel-k] camel-k operator Error with minikube (#431)

Is it s

[2020-07-21 12:38] #431 closed

[2020-07-21 13:24] nicolaferraro commented on #1618
## New Features

- Upgraded Camel K Runtime to 1.4.1 (Camel 3.4.0, Camel-Quarkus 1.0.0-CR3, Quarkus 1.6.0.Final) ([#1620](https://github.com/apache/camel-k/pull/1620), [@nicolaferraro](https://github.com/nicolaferraro))
- When subscribing to a Knative channel or broker, replies are ignored unless explicitly enabled ([#1619](https://github.com/apache/camel-k/pull/1619), [@nicolaferraro](https://git

[2020-07-21 13:39] astefanutti opened #1632 "RBAC based configurability"
In some environments, where Camel K is delivered as a managed service, it would be useful to control the ability to configure the Camel K resources at the fields level based on RBAC, and restrict the configuration surface for users, to keep the risk of mis-configuration and the operation effort low. This would be particularly useful for build related fields, whose mis-configuration and combinatory

[2020-07-21 14:34] astefanutti opened #1633 "Discriminate user vs. platform errors"
When an error is reported, e.g., when the build fails, it should ideally be discriminated whether this is a user or a platform error. For example, if the user adds a dependency, but the build fails because the dependency is not found in the configured Maven repository, this can be labelled as a user error.

The error kind, should be added as a label in the context of #1267.

[2020-07-21 14:37] astefanutti commented on #1632
/cc @davidffrench @david-martin

[2020-07-21 14:37] astefanutti commented on #1267
/cc @davidffrench @david-martin

[2020-07-21 14:37] astefanutti commented on #1633
/cc @davidffrench @david-martin

[2020-07-22 15:36] david-martin commented on #1267
CR Metrics can also be useful.
The operator-sdk has some built in metrics that can be used.
https://github.com/operator-framework/operator-sdk/blob/e128b9e5d147ef43fbca46b8ddb5037a9b1e3cbd/proposals/metering-operator-metrics.md#L1

[2020-07-22 23:07] SeekingMeaning commented on #1618
Is 1.1.0 officially released? Just making sure before merging Homebrew/homebrew-core#58346

[2020-07-23 01:53] prapakaransp commented on #1610
@bouskaJ  Agreed. Both are different. It needs to be addressed separately for both liveness and readiness proof.

[2020-07-23 08:33] johnpoth opened #1635 "Add command completion for kamel"
I can take a look at this if it's ok

[2020-07-23 08:42] lburgazzoli commented on #1635
we already have support for bash completion, do you mean something else ?

[2020-07-23 08:42] nicolaferraro commented on #1618
@SeekingMeaning, vote is still ongoing. It will close tomorrow at 16:00 CET and then released if everything is ok (so far, it is).

[2020-07-23 08:51] johnpoth commented on #1635
Hi @lburgazzoli,

We are talking about the same thing:
`kamel get integrat` press tab should get `kamel get integrations` sort of thing
If this is already implemented, I'll look into why it's not working for me. Thanks !

[2020-07-23 08:54] lburgazzoli commented on #1635
To make it working you need to activate it as example:

    $ . <(kamel completion bash)

or save the result and load it with bash completion

[2020-07-23 09:26] johnpoth commented on #1635
thanks @lburgazzoli ! It's not working for me but I'll look into it and respond here or open a PR ASAP

[2020-07-23 12:59] nicolaferraro opened #1636 "No matches for kind "Subscription" in version "messaging.knative.dev/v1alpha1""
We should upgrade the eventing resources to v1beta1 at least.

E.g. Subscription is no longer present at version v1alpha1.

[2020-07-24 15:00] nicolaferraro commented on #1618
Camel K 1.1.0 is now released.

[2020-07-24 15:00] #1618 closed

[2020-07-27 10:44] davsclaus opened #1638 "kamel init - should not create source file with ASF license header"
When using

    kamel init Foo.java

Then the Foo.java file has ASF license header. As this is for end users then we should not have any license in the generated source code.

[2020-07-27 12:23] #1638 closed

[2020-07-27 12:25] #1536 closed

[2020-07-27 12:59] bfitzpat opened #1645 "When creating a new tag, make sure it's strictly numeric (i.e. 1.1.0 instead of v1.1.0)"
Discovered that the new tag of Camel K causes issues when the tooling tries to download it.

The new 1.1.0 version is tagged as "v1.1.0" whereas the rest of the versions are all 1.0.1, 1.0.0, etc. with no "v" - https://github.com/apache/camel-k/releases/tag/v1.1.0 vs. https://github.com/apache/camel-k/releases/tag/1.0.1

That extra "v" creates an issue in the url we construct to download the runti

[2020-07-28 08:12] kisamoto commented on #1370
Hi @astefanutti  - I'm afraid I am no longer actively working on this project so can't test for you unfortunately.

[2020-07-28 08:32] astefanutti commented on #1370
@kisamoto thanks for your feedback. I just wanted to double check with you. Let me close this as it should be fixed.

[2020-07-28 08:32] #1370 closed

[2020-07-28 09:28] johnpoth commented on #1635
@lburgazzoli after typing the command correctly, it works! Sorry for the noise, let's close this

[2020-07-28 09:28] #1635 closed

[2020-07-28 23:00] mgenereu commented on #1436
@TeslaCN , I think this is an interesting question because while Camel K works for development, there doesn't seem to be documentation for production environments using Terraform or other programatic environments.

[2020-07-29 19:32] aslom opened #1646 "Add oidc provider to Camel-K"
Problem:

[code]

Solution I think is similiar to https://github.com/apache/camel-k/issues/1138

Add

[code]

to  cmd/kamel/main.go

[2020-07-29 20:43] #1646 closed

[2020-07-30 07:23] squakez opened #1648 "Build error when using traits"
Hi team,
I am using `kamel` version `1.0.1` to run some integration. It seems that when I tries using `traits` (Jolokia, for instance), the operator build fails with this trace error:
[code]
This is coming from a simple integration as below:
[code]
It happens the same with Prometheus trait, which are the ones I am using.

[2020-07-30 10:37] ogomezdi commented on #814
Notice that also in the examples came-k folder there is an [example ](https://github.com/apache/camel-k/blob/master/examples/polyglot/JavaRoute.java) of using @BindToRegistry in conjunction of using multiple files for deploying one integration.
I want also to mention I wan't able to use "packages" for language "java" that will be helpful to have better organization of code supporting logical neede

[2020-07-30 11:10] lburgazzoli commented on #814
can you rephrase it ? I don't get what you are trying to describe

[2020-07-30 12:25] bfitzpat commented on #1645
Looks like this is a necessary change. I was not aware of apache/camel-k#1603 and apache/camel-k#1601. Will close and we are adapting the version checking to be better in the tooling

[2020-07-30 12:26] #1645 closed

[2020-07-31 00:32] #674 closed

[2020-07-31 10:08] pjcubero opened #1649 "Caffeine with Knative doesn't work"
I have two integrations, one with knative and other without. In the second one, if I add caffeine cache, it's working fine, but in the first one, if I add it, the integration is not deployed, and finish with error... Do you know if there is some issue if I want to use camel-caffeine with knative?

Thanks.

[2020-07-31 10:13] oscerd commented on #1649
To be able to understand and eventually reproduce, please add a reproducer on github so we can try.

[2020-07-31 10:30] pjcubero commented on #1649
Ok, this example is not working for me:

public class getTokenextends RouteBuilder {

  @BindToRegistry
  public static Cache<String, String> cache() {
    return Caffeine.newBuilder()
    .expireAfterWrite(10, TimeUnit.SECONDS)
    .maximumSize(100)
    .build();
  }

  @Override
  public void configure() throws Exception {

    from("knative:endpoint/get-token")
		.to("caffeine-cache://ejemplo?c

[2020-08-02 11:13] pjcubero commented on #1649
For example, If I run this integration:

import org.apache.camel.builder.RouteBuilder;

public class EjemploCache extends RouteBuilder {
	@Override
	public void configure() throws Exception {
		from("timer:tick")
			.setBody(constant("Hello"))
			.setHeader("CamelCaffeineAction", constant("PUT"))
			.setHeader("CamelCaffeineKey", constant("1"))
			.toF("caffeine-cache://%s", "test")
			.log("Resul

[2020-08-03 05:42] oscerd commented on #1649
I think you need to explicitly pass the caffeine dependency. Why did you close this?

[2020-08-03 09:10] pjcubero commented on #1649
I don't know why I closed this. I have this two examples, attached.

[examples.zip](https://github.com/apache/camel-k/files/5014954/examples.zip)

ConsumidorCambios.java is a integration with cache and knative, and when I try to deploy with my local minikube, it's not working fine. But, the second, EjemploCache.java, it's one integration with cache and timer, and it's deployed fine and works fine.

[2020-08-03 09:16] oscerd commented on #1649
Do you have knative running on minikube?

[2020-08-03 09:19] pjcubero commented on #1649
I installed minikube, and I executed this related with knative:

./kubectl apply --filename https://github.com/knative/serving/releases/download/v0.14.2/serving-crds.yaml
./kubectl apply --filename https://github.com/knative/serving/releases/download/v0.14.2/serving-core.yaml
./kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.14.2/eventing-crds.yaml
./kubectl apply

[2020-08-03 09:24] oscerd commented on #1649
Have a look at the camel-k example related to knative. I believe you're missing some bits.

https://github.com/apache/camel-k-examples

[2020-08-03 09:34] pjcubero commented on #1649
But the only thing that I have no installed is the kamel commands, the rest are ok. And if I execute this:

./kubectl get integrationplatform

Tells me that camel-k is ready

[2020-08-03 09:36] pjcubero commented on #1649
Other question, my laptop has 16 gb from RAM memory, it's one i5. Can be problem of memory?

[2020-08-03 09:46] oscerd commented on #1649
In your example I don't see a files like this for example:
https://github.com/apache/camel-k-examples/blob/master/07-aws-sqs-source-basic/aws-sqs-source.yaml
https://github.com/apache/camel-k-examples/blob/master/07-aws-sqs-source-basic/aws-sqs-channel.yaml
https://github.com/apache/camel-k-examples/blob/master/07-aws-sqs-source-basic/aws-sqs-consumer.groovy

If you don't add the channel and sourc

[2020-08-03 09:47] oscerd commented on #1649
Without logs or information we cannot answer questions about memory.

[2020-08-03 12:39] nicolaferraro commented on #1648
Perhaps latest changes in trait serialization/deserialization changed the way props should be set in the struct.

I guess that setting `enabled: true` instead of `enabled: "true"` is a workaround.

I don't know if we can/should improve mapping to overcome this issue (@astefanutti).

[2020-08-03 12:40] nicolaferraro commented on #1648
@squakez can you paste `kubectl get it -o yaml` to check if that's the issue?

[2020-08-03 13:01] squakez commented on #1648
Thanks @nicolaferraro, this is the output of the failing integration:
[code]

I've double checked the configuration and actually my `kamel` CLI installed version is `1.0.0` whilst the operator deployed image points to `1.1.0`, not sure if those are meant to be incompatible.

[2020-08-03 15:47] hguerrero opened #1650 "Add the option to deploy a CamelSource Integration from the CLI"
The Kamel CLI should be able to manage and deploy CamelSource knative sources.

[2020-08-04 09:40] lbroudoux opened #1651 "Regression on CLI 1.0.0 injecting routes file?"
Hi!

I am running the KNative tutorial from Red Hat Developers (https://redhat-developer-demos.github.io/knative-tutorial/knative-tutorial-camelk/camel-k-basics.html) and am deploying the `timed-greeter.yaml` sample. I am running an OpenShift 4.4 cluster with the **Red Hat Integration - Camel K** operator in version `1.0.0` installed from OLM.

I previously had installed the `1.0.0-RC2` release of

[2020-08-04 11:25] astefanutti commented on #1648
Right, the camel-k 1.1.0 operator is not compatible with the `kamel` 1.0.0 CLI. One option is to use `kamel` 1.1.0. Generally, using _on par_ CLI is a good safety measure. It may be possible to handle downward compatibility, though that would ideally be a case for introducing a new API version, which comes with extra costs.

[2020-08-04 12:51] squakez commented on #1648
Thanks @astefanutti , I am good with aligning CLI and operator. Maybe some warning in case of a CLI operating on a different operator version may be good to let the user know about that. I can create an issue requesting that.

[2020-08-04 12:55] astefanutti commented on #1648
@squakez thanks for the feedback. I agree with you a warning would be useful.

[2020-08-04 13:00] squakez opened #1652 "Add a warning when operating from a CLI with a different installed Operator version"
As experienced in #1648 there may be certain incompatibilities when a `kamel` CLI with a version is operating against an operator with another version. It would be nice to add a simple log warning the user about this incompatibility, either on CLI or on operator log.

[2020-08-04 13:27] nicolaferraro commented on #1652
We should also add some options to `kamel version` (e.g. `kamel version --operator`) to return also the operator version when asked.

Note that the operator may be installed also globally, in which case we can try some common namespaces to find it or we may not be able to determine its version.

[2020-08-04 13:31] nicolaferraro commented on #1651
I've tried with 1.1.0 and it runs just fine.
Note that `kamel install` always installs latest version of Camel K via OLM when running on OpenShift, so it currently installs 1.1.0. Can you check the `spec->image` field in the operator deployment?

If using a `kamel` CLI for version 1.0.x and operator at version 1.1.x you may encounter issues.

[2020-08-04 13:33] nicolaferraro commented on #1650
They are currently part of knative, that's the reason why they are not here. Also `kubectl` can deploy them just fine..

But we can consider it when we decide the long-term strategy for CamelSources.

[2020-08-04 14:56] hguerrero commented on #1650
how is that working? I was envisioning more take a camel k integration and conver that into a camelsource and deploy as it instead of as an integration

[2020-08-04 15:38] lbroudoux commented on #1651
Thanks for reply !
The operator image deployed is `registry.redhat.io/integration-tech-preview/camel-k-rhel8-operator:1.0-13`

[2020-08-05 07:47] pjcubero commented on #1649
Ok, I have seen my problem, I had in a different namespace knative and camel, and now it's working.

I have other question, if you can reply me... I want to create channels to communicate integrations itself, how can I create, because I create like Channel, and the status is unknown, must I to create like inMemoryChannel? Which is the right format?

Thanks

[2020-08-05 08:54] nicolaferraro commented on #1650
What you describe is (almost) the approach taken in the experimental PR #1637, where we take an integration and create a child sinkbinding, which is interpreted by Knative as a source.

The current approach instead is that a (knative) CamelSource is created via kubectl and it creates a child Integration that runs the code.

[2020-08-05 10:40] pjcubero commented on #1636
Which is the solution to solve this issue? I have one channel consumer, and I have this error, I can't deploy the integration properly...

[2020-08-05 10:45] nicolaferraro commented on #1636
This will be fixed in next patch release.

Until then, a simple workaround is this one. Instead of:

[code]

Use:

[code]

This will create a Knative service. Then you can create a subscription resource by hand to bind the channel to the service: https://knative.dev/docs/eventing/event-delivery/

[2020-08-05 11:05] pjcubero commented on #1636
But one question, I have in the producer this:

.to("knative:channel/creacionpac")

and in the consumer, I have this:

from("knative:channel/creacionpac")

I have to change both of them, or only the consumer?

Which is the workaround solution?

[2020-08-05 12:12] nicolaferraro commented on #1636
Only the consumer

[2020-08-05 12:30] pjcubero commented on #1636
But where must I to indicate the name of the channel, creacionpac?

apiVersion: messaging.knative.dev/v1
kind: Subscription
metadata:
  name: with-dead-letter-sink
spec:
  channel:
    apiVersion: messaging.knative.dev/v1
    kind: InMemoryChannel
    name: default
  delivery:
    deadLetterSink:
      ref:
        apiVersion: serving.knative.dev/v1
        kind: Service
        name: error-handle

[2020-08-05 12:34] nicolaferraro commented on #1636
Like:

[code]

[2020-08-05 14:54] pjcubero commented on #1636
Which is the relation with the from in the consumer?

from("knative:endpoint/default")

This default, what must be?

[2020-08-06 07:47] nicolaferraro commented on #1636
Just "default", you don't have to change it. That uri exposes a knative endpoint, the name is irrelevant so we conventionally set it to "default".

[2020-08-06 08:02] pjcubero commented on #1636
Ok, thanks a lot Nicola... I think I need to follow learning all of this technology... Thanks for your continuous support...

[2020-08-06 09:43] nicolaferraro commented on #1648
Got the same issue with client and operator from master:

Running:
[code]

Operator logs:
[code]

[2020-08-06 10:10] pjcubero commented on #1636
Other question, how can i invoke to an external url, because if i try to call to an external url in a knative integration, gives me one error, endpoint not found. I invoke the external url using recipientslist.

[2020-08-06 10:16] nicolaferraro commented on #1636
It shouldn't matter what kind of integration you're running, to call an external URL you should use the `http` component, like `.to("http://theurl/thepath")`.

Btw, you can ask questions in the Gitter channel, to avoid polluting issues.

[2020-08-06 10:17] nicolaferraro commented on #1648
My problem was that even `kubectl apply` couldn't manage to update the integrationkit CRD on an existing cluster, without returning any error (may there be some operator replacing the CRD?).

[2020-08-06 10:17] #1648 closed

[2020-08-07 07:46] pjcubero commented on #1636
Sorry, I know that this issue is not related with the last two questions that I have asked you. But I have asked in the Gitter channel, and I don't have reply. The question is:

I have one question, I have some integrations in camel-k and knative, and I want to know how can I propagate the body from the first knative service to the last one? Because I need to have available in all the integrations

[2020-08-07 12:21] #1548 closed

[2020-08-08 00:34] #1552 closed

[2020-08-10 13:33] nicolaferraro opened #1654 "Enable SinkBinding automatically"
In the following case, we should automatically enable sink-binding:

- When an integration has a single knative output sink
- When the integration object is not owned by a Knative resource (in this case, it's likely that the integration is owned by a source, so we should not create a second source -- sinkbinding is a source)

Both conditions must hold.

[2020-08-11 07:10] lburgazzoli opened #1656 "jib builder"
Evaluate to use jib [1] as a builder strategy and eventually leverage its plug-in extension mechanism [2]

[1] https://github.com/GoogleContainerTools/jib
[2] https://cloud.google.com/blog/products/application-development/using-jib-to-containerize-java-apps

[2020-08-11 09:09] lburgazzoli opened #1657 "Add support for podtemplatespec / container in the Integration CRD"
Sometime you need to add very specific configurations to the PODs created by camel-k so instead of trying to cover all the aspect through the cli and custom config, wonder if our source should have some options to configure the containers, like using podtemplatespec as for the deployment resource

[2020-08-11 10:09] nicolaferraro commented on #1657
That would simplify also https://github.com/apache/camel-k/issues/1122. And in general cover non-standard cases.

[2020-08-12 14:50] mathieu-souchet opened #1661 "Unable to install camel-k with Google Kubernetes Engine"
Hello,

I have some troubles with my setup `camel-k` + `GKE` :

I have followed instructions on page https://camel.apache.org/camel-k/latest/installation/gke.html

* create a new Service Account `camel-k-builder` with `Storage Admin` role in GKE
* create a `kaniko-secret.json` file from this Service Account (with a new Key ID)
* run `kubectl create secret generic kaniko-secret --from-file=kaniko-s

[2020-08-12 15:15] mathieu-souchet commented on #1661
Additionnal information : I have no integration available :

[code]

[2020-08-12 20:32] davsclaus opened #1662 "operator.adoc - ascii doc warning"
Building the website gives this warning

asciidoctor: WARNING: operator.adoc: line 37: invalid style for listing block: code

[2020-08-13 06:55] anandkane opened #1663 "IntegrationKit stuck in 'Build Submitted' phase due to validation error 'type in spec.tasks.image.volumes.secret is required' on GKE"
Hello

I followed the instruction to install Camel K on GKE given at https://camel.apache.org/camel-k/latest/installation/gke.html and https://camel.apache.org/camel-k/latest/installation/registry/gcr.html. After that I tried to run hello.groovy, but faced the problem outlined in https://github.com/apache/camel-k/issues/1370. I was able to get past the problem by setting flag --build-publish-strat

[2020-08-13 09:51] jeremie-H opened #1664 "camel-K installation failed with Helm on GKE"
Hello,

I try to install camel-K with helm on a gke environment. I've followed this current guide : https://hub.helm.sh/charts/camel-k/camel-k

First step :
[code]

then i 've tried
[code]
but i've got the following error :
[code]

kubernetes version :
[code]
i would be grateful if you could find a solution or a workaround :kissing: