[2021-09-20 08:54] astefanutti commented on #2320
You're right, but I think Camel K should not concern about it. This should be delegated to the underlying Kubernetes controller, like the Deployment controller, as much as possible. For example, if the user deletes the ConfigMap, the Deployment controller will handle it. For the use case of responding to changes, it's also a vast area with long standing issues like kubernetes/kubernetes#22368.

[2021-09-20 09:51] #2640 closed

[2021-09-20 10:36] squakez opened #2648 "Integration won't rollout with changes outside spec"
While an `Integration` associated to a `KameletBinding` is running, when we make changes related to the binding `.spec` of the resource, the `Integration` will rollout applying the changes.

However, if we make changes outside the `.spec`, for example, changing some configuration parameter (ie. `.metadata.annotations`), the operator won't detect any change and won't rollout the new `Integration`.

[2021-09-20 15:37] nicolaferraro commented on #2633
I think the reason why it does not get discovered is that the example from master creates the Jaeger instance in the "observability" namespace, while the tracing trait expects to find it in the current namesapce.

In these cases, you need to set the tracing endpoint manually, like:

[code]

Or whatever endpoint is your tracer listening to.

I think we should go into a state like "Waiting for Bindi

[2021-09-20 16:46] vsokolov00 commented on #2495
I'm working on it.

[2021-09-21 08:22] astefanutti commented on #2633
We could search in all namespaces in that case, or search for namespaces with specific labels if there is such a convention.

I agree it'd be better to act on missing requirements beforehand, rather than letting the runtime fail. We could introduce a `Pending` phase ("Waiting for Bindings" is going away with #2627), where all the pre-requisites would have to be satisfied before transitioning the I

[2021-09-21 13:25] catshout commented on #2633
In my mind a wait or pending doesn't fit into a Micro Service related approach. If something can't be fulfilled I'd prefer an Error state if the reason could be determined. Further it's up to an external deployment or something else to react and retry if the error root cause has been solved.

[2021-09-21 13:31] astefanutti commented on #2633
@catshout thanks for the feedback. That's my opinion too, and fits with the approach of continuously reconciling the integration state, possibly transitioning from the `running` to `error` phases and vice-versa, each time its context changes.

[2021-09-22 12:28] #2642 closed

[2021-09-23 07:06] #2579 closed

[2021-09-24 07:18] davsclaus opened #2659 "Remove maven wrapper and any leftover pom.xml"

[2021-09-24 07:19] davsclaus commented on #2659
Is there actually any java or maven left here? If not we can remove this instead

[2021-09-24 08:26] #2495 closed

[2021-09-24 08:30] squakez opened #2660 "Flaky TestKameletBindingScale test?"
I've noticed since a while that we may have some flaky E2E test. I'm trying to pass the checks for a PR and I am observing this behavior. Sometimes the test fails as:
[code]
Other times it fails as (ie, https://github.com/apache/camel-k/pull/2650/checks?check_run_id=3697376158)
[code]
I have the feeling something is not entirely working with the test itself. @nicolaferraro any idea?

[2021-09-24 09:20] nicolaferraro commented on #2660
It's not very clear what's happening from the logs. My best guess is that the only error present there is caused by a non-atomic operation in client-side apply, since that runs on a very old OpenShift.

I'll follow-up with @tadayosi on #2643 to create an OpenShift 4 action.

[2021-09-24 12:28] #2512 closed

[2021-09-27 14:31] #2553 closed

[2021-09-28 07:29] squakez commented on #2320
The previous commits were relating this issue, but not closing it.

[2021-09-28 08:42] apupier commented on #2659
there are java files: https://github.com/apache/camel-k/search?l=java

and it remains one pom.xml file https://github.com/apache/camel-k/blob/main/e2e/yaks/openshift/monitoring/app/pom.xml

but it does not seem at first sight that the Maven wrapper is used

[2021-09-28 08:49] apupier commented on #2623
The PRs are created with links to changelog and new commits

it is already a win for 20% of the dependencies and does not impact the 80 other percent.

I tend to think the exact opposite. Because it is a fast-moving ecosystem, we need to try to follow-up on latest versions and detect incompatibilities even faster than slow-paced projects.

[2021-09-28 08:55] apupier commented on #2623
vote for it: https://github.com/dependabot/dependabot-core/issues/1296 (even k8s case specifically mentioned https://github.com/dependabot/dependabot-core/issues/1296#issuecomment-902195531 )

[2021-09-28 08:57] astefanutti commented on #2623
This is exactly what we are doing. The issue statement forget to mention that very point! So it's an issue for a problem that does not really exists, and propose to apply a one-size fits all solution that is less efficient that the current process. For instance, the screenshot of the proposed upgrades is totally inapplicable, because the logic is so naive. On the other hand we did the upgrade with

[2021-09-28 09:15] apupier commented on #2623
I randomly picked some. These dependencies cannot be upgraded or they were missed? I find strange that all of them cannot be upgraded.
* [github.com/go-logr/logr v0.4.0 ](https://github.com/apache/camel-k/blob/2aea4c7ee65fd48c51a783c9de2ff4978b992306/go.mod#L16) new release available since 7 july
* [github.com/Masterminds/semver v1.5.0](https://github.com/apache/camel-k/blob/2aea4c7ee65fd48c51a783

[2021-09-28 09:22] astefanutti commented on #2623
Thanks, these are the 20% :D If it's possible to configure an _allow_ list for these dependencies, so that all the noise generated for the 80% is avoided, we'll be happy to access a PR.

[2021-09-28 09:22] squakez commented on #2623
Just a note about the screenshot. It was an example taken from VSCode to illustrate the issue :) . It has nothing to do with dependabot and the suggested changes may not be what the bot would pick up.

[2021-09-28 09:29] astefanutti commented on #2623
Right, I think the issue also fails to identify the problem at hand, which is reducing the latency there could be between the time an upgrade is possible and it's actually done. From that standpoint, I think the project has been doing well as with #2655 , granted it's for the 80% most important dependencies. And for these, I still fail to see how dependabot would help.

[2021-09-30 08:20] apupier opened #2663 "Provide automatic PR creation to update "peripheral" go dependencies"
follow-up on https://github.com/apache/camel-k/issues/2623

The main dependencies are upgraded manually regularly. They often require manual modifications and synchronization of updates between them. Not the "peripheral" ones.

Proposal: provide a Dependabot configuration which [`allows`](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically

[2021-10-04 07:01] #2663 closed

[2021-10-04 22:18] dimitraz commented on #2397
I'm happy to take a look at this if no one else already is!

[2021-10-05 04:50] tadayosi opened #2674 "Error: Object 'Kind' is missing in 'null'"
When I build `kamel` from latest main branch and try to install an operator I get:
[code]
Is this only me who face the issue with latest kamel cli?

[2021-10-05 07:14] tadayosi commented on #2674
Turns out kamel tries to find `/rbac/operator-cluster-role-console-binding-openshift.yaml` while the local resource path is `/rbac/openshift/operator-cluster-role-console-binding-openshift.yaml`. It happens only on OpenShift and the first time it creates the cluster role binding for Camel K.

Working on a fix.

[2021-10-05 09:14] astefanutti commented on #2397
@dimitraz great, feel free to go ahead. I think we use that opportunity to revisit the `IsEnabledInNamespace` method entirely, as I doubt the current implementation is relevant.

[2021-10-05 12:32] #2674 closed

[2021-10-06 07:56] astefanutti commented on #2358
It's been fixed with #2497.

[2021-10-06 07:56] #2358 closed

[2021-10-06 07:58] #1979 closed

[2021-10-08 16:10] bthj opened #2684 "Unable to access MongoDB"
When trying to access a MongoDB Atlas Free Tier Cluster with a Camel-K integration Java file like:
[code]
and deploy it with Camel K Client 1.6.0 to a camel-k-operator.v1.6.0 with the command: `kamel run MongoDBTest.java --dev` it results in the error:
[code]
- it seems to be trying to connect to `127.0.0.1:27017` - is there something I should add to have the integration communicate with the corre

[2021-10-08 17:29] bthj commented on #2684
I tried to use `.bean`, like so:
[code]
but that throws:
[code]
while I thought I was eliminating ambiguity by [using the type qualifier](https://camel.apache.org/manual/latest/bean-binding.html#BeanBinding-Usingtypequalifierstoselectamongoverloadedmethods) `String` to select among the overloaded methods.

[2021-10-08 18:32] bthj commented on #2684
I tried the sink kamelet and it's pod logs also show the same error, on not being able to connect to `127.0.0.1:27017`.

[2021-10-08 19:11] oscerd commented on #2684
With the kamelets, you'll get some complaints before the correct connection will be done

[code]

But after that you'll get the correct connection, this is something related to underlined quarkus extension

[code]

I set 172.17.0.3 on the kameletBinding.

It's just logging, but the feature works and I think it is the same for the component.

[2021-10-08 19:21] bthj commented on #2684
How does it work for you to run this integration?

[code]

- do you need further configuration, like in properties?

[2021-10-08 19:55] oscerd commented on #2684
My test was using this

https://github.com/apache/camel-performance-tests/tree/main/profiling/kafka-mongo

Which it is using Kamelets in the route definition.

Btw I'll try to test on minikube to check

[2021-10-08 20:03] bthj commented on #2684
I could provide in a private message the exact MongoDB Atlas connection string I'm using, which is to a Free Tier Cluster and contains nothing important.

[2021-10-11 14:04] joes opened #2685 "Building with buildah not working"
I have installed camel-k operator as follows on a microk8s cluster:

[code]

I then test the integration platform as follows with the `hello.groovy` example:

[code]

However, the build fails.

These are the logs from container `buildah` in pod `camel-k-kit-c5i39nueu3p4lqk7jg90-builder`:

[code]

Output of `kubectl get integrationplatform -o yaml -n camel-k-operator-system`:

[code]
Could it be th

[2021-10-11 14:18] k0pper commented on #2397
Getting this error when trying to deploy a KameletBinding onto a minikube cluster with the Camel K Operator running in the same namespace. The creation of the integrations fails and periodically prints out this message.

Any possible fixes for this one?

[2021-10-11 18:42] oscerd commented on #2684
Kamelets are working. They have been tested for 1.6 by the way I'll try to reproduce. On minikube at least i don't see this

[2021-10-12 06:53] oscerd commented on #2684
I tried again and cannot reproduce on the kamelets side.

[2021-10-12 09:17] nicolaferraro opened #2687 "Enable secondary integration platforms"
We've always considered the integration platform as a singleton resource in a namespace, indeed we set all additional platforms in phase "Duplicate", in order to just have one and easily look it up.

There are advanced cases, e.g. when you plan to do step-by-step upgrades (with optional rollback) of the integrations to newer versions of the operator, where you need to keep both operators running (

[2021-10-12 20:01] agwermann opened #2690 "Kamelet with MQTT Broker Mosquitto"
Hi,

I am doing some tests with camel-k, Knative and the MQTT broker Mosquito. According to the camel-k documentation, it is possible to create a mqtt-source that will subscribe to a MQTT topic and forward the messages as Cloud Events to the serverless broker. However, I am facing some issues to do that, and I am not able to identify the problem.

My testbed is composed by:
1. Knative cluster runn

[2021-10-13 21:00] haifzhan opened #2693 "Expose UDP port using traits and make it accessible outside of the pod"
I have started a Java integration which is listening on port `8843`. The integration works properly and it can receive syslog events in the container of the pod. I am trying to expose the port and makes it accessible outside of the pod, what is the right way to expose it?

I have tried added traits but don't have any luck, I have asked the question on [StackOverflow](https://stackoverflow.com/ques

[2021-10-14 21:37] haifzhan commented on #2512
Can someone add an example here? It really confuses about `environment.[key]=[value]`.

In my case, I have MYHOST and MYPORT in the environment variables and I tried
`--trait environment.vars=["MYHOST = 10.112.130.81", "MYPORT = 8080"]` but it failed, what is the right way to address the key and value pairs?

[2021-10-15 02:49] agwermann commented on #2690
@nicolaferraro, thanks for your quick response. The proposed solution did not work. Perhaps I am missing some step from my side? Please refer to the below steps.

Is there a way I can debug the event messages in kamel?

**Setup Knative and Serverless Broker:**
[code]

Configure Kamelets and MQTT Broker:
[code]

Configure Broker Source, Trigger and Event Subscriber: https://github.com/knative-sandb

[2021-10-15 03:13] agwermann commented on #2690
@nicolaferraro, I also tried to add the sink service instead of the Broker, but still the same issue.
[code]

[2021-10-15 11:24] nicolaferraro commented on #2690
This part does not seem to be right:

[code]

First, you need to pass the `--global` option if you want to install it clusterwide. Then you need to use an accessible registry to let camel k publish images, and I don't think you can use `localhost`, as it means different things depending on where it's used (the `v1` part is also non necessary). Check the installation guide for your specific cluster

[2021-10-16 14:26] clabautdidier opened #2697 "panic: runtime error: invalid memory address or nil pointer dereference when running a simple integration"
I'm trying camel-k 1.6.0 on our Openshift v1.8 development environment.

I want to experiment with kamelets and bindings.

What I'm trying to do is create a first flow from rest to a Kafka topic, and then a second flow from the topic to the log.

I created a kafka-sink kamelet for the first flow and a kafka-source kamelet for the second flow. The first flow I implemented using a simple Groovy scri

[2021-10-18 09:37] squakez commented on #2697
Hello, can you confirm the name of the source Kamelet you're using is `kafka-source-kamelet`? If you were willing to use the Kamelet provided by the Catalog, then it should be `kafka-source`. If that is new Kamelet you provided, would you mind posting the configuration of that Kamelet please? (ie, `k get kafka-source-kamelet -o yaml`)

[2021-10-18 10:14] squakez opened #2698 "Stale bot action failing"
It seems that the configuration used so far was broken since a while: https://github.com/apache/camel-k/actions/runs/1352566659

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/2630#issuecomment-945617373_

[2021-10-18 16:43] oscerd commented on #2697
I personally never faced something like that error before. Can you try with the original kamelet from the catalog?

[2021-10-19 14:38] k0pper opened #2702 "kamel install: cannot find k8s-certificates"
### Error
Installing camel-k on a minikube cluster worked completely fine. But on a real cluster (OnPrem) using the `kamel intsall` command gives me this error:

`Error: cannot get current namespace: invalid configuration: unable to read certificate-authority certs/k8s-stage/k8s-ca.crt for k8s-stage due to open certs/k8s-stage/k8s-ca.crt: no such file or directory`

### Failed solutions
I checked

[2021-10-20 07:22] #2702 closed, assigned to nobody

[2021-10-20 07:27] squakez commented on #2698
Still failing... https://github.com/apache/camel-k/actions/runs/1361441856 I'm having another look

[2021-10-20 10:31] #2698 closed, assigned to squakez

[2021-10-21 03:37] tadayosi commented on #2333
Let me take a look.

[2021-10-21 06:57] #2296 closed

[2021-10-21 16:12] #2687 closed

[2021-10-23 18:22] nicolaferraro opened #2713 "Release 1.6.1"
## Camel Dependencies

- [Apache Camel K Runtime 1.9.1](https://github.com/apache/camel-k-runtime/blob/main/CHANGELOG.md)
- [Apache Camel Quarkus 2.3.0](https://github.com/apache/camel-quarkus/blob/main/CHANGELOG.md#230-2021-10-01)
- [Apache Camel 3.11.2](https://github.com/apache/camel/tree/camel-3.11.2)
- [Apache Camel Kamelets 0.4.0](https://github.com/apache/camel-kamelets/tree/v0.4.0)

## Cha

[2021-10-27 20:49] #2713 closed, assigned to nobody

[2021-10-28 13:07] nicolaferraro opened #2724 "ErrorHandler for stopping a route when an error occurs"
I was trying to implement the "stop route" behavior when encountering an error in a KameletBinding and it looks I can use a `controlbus` to implement it.

Something like:

[code]

Even if the concept of `dead-letter-channel` is a bit stretched here, that should do the work.
The only problem is that error handlers in Camel do not use dynamic dispatch and so the `${routeId}` placeholder is not resol

[2021-10-29 23:42] haifzhan opened #2725 "Camel K SEDA Queue full Issue"
I am configuring seda component in my Camel K project and the java source is:
[code]
<img width="833" alt="Screen Shot 2021-10-29 at 5 37 15 PM" src="https://user-images.githubusercontent.com/1904812/139511962-9c09d397-819c-4657-9a27-8e4b17212a4a.png">
I print out a counter when a message has been processed and I can see the multiple threads are working

I have setup the queue size 50000, it was w

[2021-10-31 20:40] #2685 closed

[2021-11-01 09:31] #2660 closed

[2021-11-02 10:38] nicolaferraro commented on #2724
Ok, btw let's give the main route a name, since when using the Kamelet strategy we're basically switching to another route, so we need a way to stop the main one.

For the "lastError" field, @astefanutti I'm not sure it's the right place to put the reason why we stopped a route in case of exchange error, since as @davsclaus was saying, it contains lifecycle errors that were throws while trying to

[2021-11-03 15:02] lburgazzoli opened #2728 "Projecting routes status to a Kubernetes Resource"
As today the only information e have to understand what is the status of the routes running in a context, is to use the health  checks or by using tools like prometheus but it would be nice if we can have some better visibility by projecting the status of the routes  to a kubernetes resources.

An option would be:
- to add a sidecar that scrapes a management http endpoint
- to add a management imp

[2021-11-03 15:02] lburgazzoli commented on #2728
/cc @astefanutti @nicolaferraro

[2021-11-04 20:01] dweber019 commented on #1821
We just had the same issue regarding additional code. Almost cancelled camel-k for spring/quarkus with camel as the development flow was not a good experience and Maven/Jitpack was not an option (enterprise).
If then found more of a hack, by building a jar file, providing it as a resource and loading it with the classpath but at least my route files are not not 1000 lines of code ;)

I build a exa

[2021-11-05 06:02] davsclaus commented on #1821
Thanks for the example @dweber019 - maybe we can add it to camel-k under examples as it demonstrate when your POJOs also need to be build with lombok or other "enrichers" that camel-k will not be able to do, as it only takes in normal java source code.

[2021-11-05 06:09] lburgazzoli commented on #1821
can you provide more details about why maven was not an options and what other option were available ?
except of course putting the code in a CR :)

[2021-11-05 06:56] dweber019 commented on #1821
@lburgazzoli yes sure.
We had 4 options on the table:

- Using jar with resource and classpath
- Using Maven
- Using jitpick
- Using multiple RouteBuilder files

As said our goal is to build small to medium sized routes. Will doing this we found the development process quit tedious.

We first checked Maven but found that publishing even SNAPSHOTS every time we change the source code is not what we

[2021-11-05 06:59] dweber019 commented on #1821
@davsclaus I can do that ;)
I will open a PR where I copy my repository as is, into https://github.com/apache/camel-karaf-examples into a folder named examples/camel-examples-java-jar. Fine for you?

[2021-11-05 07:37] davsclaus commented on #1821
Oh I wonder if you can put all together into a new folder at
https://github.com/apache/camel-k/tree/main/examples

The folder can be name `pojo-jar` or something?

As the camel-examples is for regular (non Camel K).
And this repo is outdated (we should likely remove it): https://github.com/apache/camel-k-examples

So IMHO the best place is still at: https://github.com/apache/camel-k/tree/main/exam

[2021-11-05 16:00] #2724 closed

[2021-11-06 00:09] #2501 closed

[2021-11-06 00:09] #2472 closed

[2021-11-06 00:09] #2444 closed

[2021-11-06 00:09] #2469 closed

[2021-11-06 00:09] #2409 closed

[2021-11-06 00:09] #2391 closed

[2021-11-06 00:09] #2405 closed

[2021-11-06 00:09] #2363 closed

[2021-11-06 00:09] #2335 closed

[2021-11-06 00:09] #2302 closed

[2021-11-06 00:09] #2317 closed

[2021-11-06 00:09] #2278 closed

[2021-11-06 00:09] #2221 closed

[2021-11-07 00:10] #2153 closed

[2021-11-07 12:38] davsclaus commented on #2725
Read the camel seda documentation. Where you can block on queue full etc.
https://camel.apache.org/components/next/seda-component.html

[2021-11-07 12:44] davsclaus commented on #2725
Just mind that if you block then there is a 30 sec timeout, and that will cause a failure of the queue is still full.

So you likely have a situation where you send messages quicker into the seda queue, than you do taking them out.
You need to control the rate - its also bad to have 50000 pending messages in-memory waiting to process.

[2021-11-08 08:05] apupier commented on #2074
still relevant

[2021-11-08 08:06] apupier commented on #2075
still relevant

[2021-11-08 08:06] apupier commented on #2031
still relevant

[2021-11-08 09:04] lburgazzoli opened #2732 "use the OCI containers to distribute camel-k artifacts"
Open Container Initiative (OCI) has defined [specs](https://github.com/opencontainers/image-spec) to enable the creation of interoperable tools for building, transporting, and preparing a container image to run, however - in practice - registries have a little to do with container images and we can think about them as a content addressable storage.

In camel-k we have been struggling a lot about f

[2021-11-08 09:05] lburgazzoli commented on #2732
/cc @nicolaferraro @astefanutti

[2021-11-08 09:26] astefanutti commented on #2732
It seems like it would be the right level to abstract our needs for _packaging_ and _distributing_ artifacts.

From the performance standpoint, interaction with the container registry is now the major contributor to "TTFB" (Camel K equivalent) on average. And it does not scale well with the number of nodes. I'd be eager to research how it could use in combination with some initiatives / approaches

[2021-11-08 09:36] lburgazzoli commented on #2732
There is also this one that may be interesting https://cloud.google.com/blog/products/containers-kubernetes/introducing-container-image-streaming-in-gke

[2021-11-08 10:23] astefanutti commented on #2724
While currently the "last error" concept is only implemented for route lifecycle operations, my understanding is that it's generic and not limited to route lifecycle:

https://github.com/apache/camel/blob/1b374423fb9371075184d5ab2d9c3b15015b2334/core/camel-api/src/main/java/org/apache/camel/health/HealthCheck.java#L111

Intuitively, when the decision is taken to stop a route because an error durin

[2021-11-08 14:02] joes commented on #2687
@nicolaferraro

Does `kamel run` have any options wrt secondary platforms? Or does the operator support traits that will make an integration run in a secondary platform?

[2021-11-08 14:39] joes opened #2736 "Compact/flatten integrationkit (container image) hierarchy?"
After working on one integration with some custom kamelets I have this image/integrationkit hierarchy for the running integration (the box at the bottom represents the integration).

![digraph_gc1](https://user-images.githubusercontent.com/32820/140758870-ba6fa75e-a6c8-41a5-812c-f32baf0641d6.png)

Is it fair to say that I will have a lot of integrationkits representing each stage of development/ex

[2021-11-08 18:46] elainhelen opened #2737 "How to package integration to deploy it into a private k8s cluster without internet connection"
Newbie here
Is it possible to package Camel K integration as a self-sufficient container image?
If not, what is the package strategy for Camel K integration?

Given that the k8s cluster is private, what do we need to pre-package on the private k8s cluster for running the integration?
thank you

[2021-11-09 02:30] elainhelen commented on #2737
I got a bit ahead, but have more questions on `kamel local`
I used `kamel local build basic.java --image xxxx/basic-image`
which creates an image xxxx/basic-image on my local development machine.
Then move the image to the private k8s cluster and run `kamel local run --image xxxx/basic-image`
and it executed: `docker run --network=host -t xxxx/basic-image:latest` and started to output logs
[code]

[2021-11-09 03:25] tadayosi commented on #2560
Looks like a good enhancement to me. Let me work on it.

[2021-11-09 06:45] vikrampawar opened #2738 "02-serverless-api example fails in the camel-k-examples repo (same as #2400)"
I got the exact same issue as in #2400.

[code]

[2021-11-09 06:48] oscerd commented on #2738
This is the correct repository for examples: https://github.com/apache/camel-k-examples/tree/main/02-serverless-api/test

[2021-11-09 06:48] #2738 closed

[2021-11-09 06:48] oscerd commented on #2738
Eventually open the issue there.

[2021-11-09 06:50] vikrampawar commented on #2738
sure, thanks.

[2021-11-10 07:52] #1610 closed

[2021-11-10 10:36] squakez opened #2742 "[E2E] Reconciliation duration metric failure"
I've noticed this since a while, not sure if we're tracking somewhere else already. Basically there seems to be some error in all the PRs (ie, https://github.com/apache/camel-k/runs/4163440983?check_suite_focus=true) due to:
[code]
Having a look at the code, it seems it complains here: https://github.com/apache/camel-k/blob/main/e2e/common/operator_metrics_test.go#L256

Because it cannot match wit

[2021-11-10 10:46] squakez commented on #2736
Thanks for the feedback, I think it's a very valid input for us to think how to improve the overall process. As you mentioned, each layer can be seen as a further approximation to the final production stage. Indeed, the interim layers don't seem to add too much value.

I wonder if it makes sense to think about a `kamel kit compact` command which would take care to identify that chain of relationsh

[2021-11-10 11:09] squakez commented on #2737
Not sure if the `kamel local` is the best strategy to adopt. It involves too many low level details that are coming for free using an operator. I think it would be better if you have a connected environment where installing an operator and leverage the [`IntegrationKit`](https://camel.apache.org/camel-k/next/architecture/cr/integration-kit.html) as a way to package your self-contained resources. T

[2021-11-10 12:01] tadayosi commented on #2742
FYI Antonin’s insight on the exact issue.
https://github.com/apache/camel-k/pull/2714#issuecomment-951677998

[2021-11-10 12:23] nicolaferraro opened #2743 "Release 1.7.0"
## Camel Dependencies

- [Apache Camel K Runtime 1.10.0](https://github.com/apache/camel-k-runtime/blob/main/CHANGELOG.md)
- [Apache Camel Quarkus 2.4.0](https://github.com/apache/camel-quarkus/blob/main/CHANGELOG.md#240-2021-10-22)
- [Apache Camel 3.12.0](https://github.com/apache/camel/tree/camel-3.12.0)
- [Apache Camel Kamelets 0.5.0](https://github.com/apache/camel-kamelets/tree/v0.5.0)

## Ch

[2021-11-10 13:41] squakez commented on #2742
I missed that, thanks. So, it seems that we need to keep this open and try to fix it.

[2021-11-10 13:55] squakez opened #2744 "[E2E] Test error handler appears to be flaky"
Not sure if already tracked somewhere else. Happened in https://github.com/apache/camel-k/runs/4163448993?check_suite_focus=true.

For some reason the test is failing:
[code]
According to the test, the `Integration` should be running, but indeed it is stopped for some reason as we can see in the dump:
[code]
cc @nicolaferraro

[2021-11-11 00:09] #2533 closed

[2021-11-11 02:52] tadayosi commented on #2742
By the way, when we use Gomega's structural matches the diffs at test failure can be really lengthy and thus truncated by default. In the above case, the real mismatch is hidden in the truncated part.

If we are ok, probably we should add:
[code]
somewhere in `test_support.go` to disable the diff truncation.
https://onsi.github.io/gomega/#adjusting-output

[2021-11-11 08:41] #2113 closed

[2021-11-11 08:41] #1947 closed

[2021-11-12 00:10] #2151 closed

[2021-11-12 00:10] #2136 closed

[2021-11-12 10:18] astefanutti commented on #2742
@tadayosi I agree this would be useful 👍🏼.

[2021-11-13 00:09] #2498 closed

[2021-11-13 22:57] kolchanov opened #2746 "Cannot deploy XML integration with undertow"
Hello,
I'm trying to create simple undertow service with xml

<routes xmlns="http://camel.apache.org/schema/spring">
    <route>
        <from uri="undertow:http://localhost:8080/"/>
        <setBody>
            <constant>Hello from K!</constant>
         </setBody>
        <to uri="log:info"/>
    </route>
</routes>

1. kamel run rest.xml --dev
[1] 2021-11-13 22:54:24,185 ERROR [org.apa.cam.qua.

[2021-11-14 07:15] davsclaus commented on #2746
undertow is not supported, use platform-http instead

[2021-11-14 07:15] #2746 closed

[2021-11-14 08:48] kolchanov commented on #2746
I suppose it should mentioned in documentation.

[2021-11-14 08:56] davsclaus commented on #2746
You can use what camel-quarkus offers as extensions (camel k run on top of quarkus)
https://camel.apache.org/camel-quarkus/next/reference/index.html

[2021-11-15 10:35] BramDeCneudt opened #2747 "Adding mavens settings-security.xml to the spec.build.maven is not possible"
I'm trying to add our private nexus repository to the caml-k spec.build. I'm following the steps here: https://camel.apache.org/camel-k/latest/configuration/maven.html

Problem is that our nexus repository also requires a settings-security.xml (https://maven.apache.org/guides/mini/guide-encryption.html) which is not explained in the previous mentioned documentation page. I also tried to create a n

[2021-11-15 13:07] radekcz opened #2748 "Could not pull base image - Build kit failed (No matching credentials were found, falling back on anonymous)"
My first java route deployed over **kamel run** works very well by using:

Camel K Client 1.6.1
Minikube version: v1.24.0 (followed instructions 'minikube addons enable registry')
Win OS

But when I try to add some dependency to the route, e.g.:

`// camel-k: dependency=mvn:org.apache.commons:commons-lang3:3.12.0`

build (and downloading dependencies) is done without problem:

`{"level":"info","ts

[2021-11-15 14:42] squakez commented on #2748
I've just tried replicating the same configuration (apart the operating system - I run on Linux) and I cannot reproduce the error. Everything run smoothly. I wonder if it's some transient problem happened when the image was published. Would you mind to retry that from scratch? You can clean up with `kamel reset` command to clean the Integration and the related Kits. Please, let us know how it goes

[2021-11-15 17:05] #2743 closed

[2021-11-15 17:13] phantomjinx opened #2749 "Generated bundle created from `make bundle` contains separate service-account resource"
The creation of the operator metadata bundle is conducted using `make bundle`. The current version of the operator-sdk downloaded to meet this task is 1.5.0. This version allows for both a separate service-account resource and reference to the same service-account in the csv metadata file. Use of the generated bundle fails on openshift due to the OLM implementation being unable to handle the dupli

[2021-11-15 17:15] phantomjinx commented on #2749
Reference: https://github.com/operator-framework/operator-lifecycle-manager/issues/2193

[2021-11-16 10:53] squakez commented on #1915
Fixed jackson json in `1.7`. Tested with:
[code]

[2021-11-16 10:53] #1915 closed

[2021-11-16 11:21] squakez opened #2751 "Remove deprecated code"
We have a few deprecated things around the code we may fix in the next releases:

- [x] Remove older config flags (ie, `secret`, `configmap` and `property-file` flag)
- [x] Remove `DeprecatedConfigMap` in `master` addon trait
- [x] Remove `Timeout` in `MavenSpec`
- [x] Remove `Kit` from `IntegrationSpec`
- [x] Remove `Flow` from `KameletSpec`
- [x] Remove `NewFilteredSharedInformerFactory`

@astef

[2021-11-16 11:24] astefanutti commented on #2751
That looks good to me. There is also the _container_ trait configuration parameters related to health checks that are deprecated and that we may want to remove as well.

[2021-11-16 11:43] squakez commented on #2751
I think it was deprecated quite recently. I'd wait for at least one more major upgrade before removing that one.

[2021-11-16 11:44] astefanutti commented on #2751
Right, that sounds good. The others you've listed are older enough.

[2021-11-16 12:39] radekcz commented on #2748
@squakez Thanks a lot! Command `kamel reset` did help.

Before I had opened this issue, I tried to uninstall and install kamel again, but it didn't help. It was only after executing `reset` that integration works.

[2021-11-16 12:50] #2748 closed

[2021-11-16 18:45] elainhelen commented on #2737
@squakez really helpful suggestion.
I have revised the workflow
`kamel kit create kit_name -d denpency`
This created an image without tag
`docker_registry/camel-k-kit_name@sha256:3a0cb7ddb5917df8e9a0f16e7ebac746777bd02257c0078e6919db658375f229`
Is there a way to give a tag when creating the kit?

[2021-11-17 09:17] squakez commented on #2737
Hi @elainhelen, I don't think we have that option available now. The images created have a unique autogenerated ID instead. I understand that in your situation it may help in order to simplify versioning. I don't know the impact of including any additional property (ie, a tag) when we create the `IntegrationKit`, so, I suggest you to create a new issue describing the feature requested. Of course,

[2021-11-17 10:50] squakez opened #2752 "Add official documentation on Quarkus Native introduced in 1.7"
@astefanutti I guess you may have already worked on something. As we're about to publish the blog, I think soon we will have questions and basic doubts where we will benefit from an official documentation page. Thanks!

[2021-11-17 10:53] squakez opened #2753 "Add 1.7.x documentation tag"
I am not sure which is the process to have updated the `camel-website` after 1.7 release. I can still see only 1.6.x tag on the website. Maybe just creating the `1.7.x` branch in this repo?

cc @nicolaferraro

[2021-11-18 07:36] zhiminglim opened #2756 "How to remove Kamelets installation when installing IntegrationPlatform CRD?"
Hello,

I'm working with Camel K with Helm, and instead of doing the traditional `kamel run` I'm deploying it via a helm chart, hence I have to write the CRDs.

As I have to work with deploying the same integrations in multiple namespaces, I have to set up an IntegrationPlatform per namespace via a YAML file.

[code]

As I apply the above manifest into Kubernetes, the Camel K Operator also install

[2021-11-18 07:53] tadayosi commented on #2756
If you set `KAMEL_INSTALL_DEFAULT_KAMELETS=false` to the operator's env, Kamelets installation can be suppressed. If you are using Camel K 1.7.0 you can also do:
[code]

[2021-11-18 11:10] astefanutti commented on #2752
There is a bit of documentation in the [_quarkus_ trait page](https://camel.apache.org/camel-k/next/traits/quarkus.html), and an example about [automatic rollout deployment to native integration](https://camel.apache.org/camel-k/next/traits/quarkus.html#_automatic_rollout_deployment_to_native_integration). That being said, a dedicated page focusing on the native build details would definitely be a

[2021-11-18 11:34] squakez opened #2758 "Add official documentation on Kustomize introduced in 1.7"
Altough there is some documentation in the [1.7 release page](https://github.com/apache/camel-k/releases/tag/v1.7.0), I think we should add a dedicate page on the official documentation.

cc @phantomjinx

[2021-11-18 15:22] zhiminglim commented on #2756
Thank you for your reply!

I have patched the camel k operator deployment env with your solution, it is working now and suppressing the kamelets installation when i create an IntegrationPlatform in other namespaces. A question on this: if I'm using Camel K 1.6.0, is this the only way to go about setting that env variable?

Also, I noticed that a CamelCatalog CR is also created when I create the In

[2021-11-18 18:23] astefanutti commented on #2445
It should be fixed with #2682, available in 1.7.0.

[2021-11-18 18:23] #2445 closed

[2021-11-18 19:27] djencks opened #2759 "Document dependency on camel-quarkus (and camel)"
In the discussion around https://github.com/apache/camel-k/pull/2757 it turned out that camel-k uses in some way camel-quarkus. I believe this means that the camel-k and camel-quarkus versions are tied together in some way.

I suggest:

- adding a `camel-quarkus-version` attribute to the camel-k antora.yml component descriptor
- Adding a prominent sentence on the component landing page something l

[2021-11-19 00:46] elainhelen commented on #2737
@squakez I haven't done a lot on kamelet.
With kamelet in the picture, what is the shareable artifact we can build locally and then load into a production env?
Thanks

[2021-11-19 08:31] squakez commented on #2737
A `Kamelet` is essentially a descriptor that will be somehow translated at runtime. In the context of this deployment requirement, I don't think you will need it, once you have your `IntegrationKit` and `Integration` defined.

[2021-11-19 09:14] apupier opened #2760 "Trait catalog provided by kamel CLI contains a description mentioning "the end of this page""
with kamel 1.7.0

`kamel help trait --all -o json`

the last description is:

[code]

I think that the part `See the examples section at the end of this page to see the setup options. nolint: tagliatelle` should be removed

[2021-11-19 09:26] squakez commented on #2760
:spaghetti:

[2021-11-19 09:27] apupier opened #2761 "Default value of trait container.port-name is missing from catalog"
previously there was `http`. it is still mentioned as the default one in description but missing from the catalog json

[code]

can be retrieved using `kamel help trait container -o json`

tried using kamel 1.7.0

[2021-11-19 10:50] astefanutti commented on #2760
Yes, it seems the recent additions for the `golanci-lint` upgrade hacked our documentation generation process and sneaked in.

[2021-11-19 12:41] joes commented on #2736
One thing I forgot to mention is that the screenshot above shows the hierarchy right after I did a cleanup using a garbage collection script. Actually there will be even more integrationkits/images created in different branches that represent dead-ends in the development process in the container registry.

Here's a image hierarchy/graph screenshot showing how things may end up looking in your cont

[2021-11-19 13:51] astefanutti commented on #2736
@joes thanks a lot for raising this. Providing container image garbage collection / compaction is something we plan to provide.

[2021-11-19 21:57] djencks commented on #2759
According to https://github.com/apache/camel-k/pull/2757#issuecomment-973903736 there's also a relationship to camel-kamelets:
[code]

I think this indicates a policy problem that needs to be solved by releasing camel-kamelets: I emailed the dev list about this.  Then we can have versioned documentation for camel-kamelets and link to them.

[2021-11-19 22:15] oscerd commented on #2759
Camel-kamelets is part of the vote of Camel-k, like camel-k-runtime. There is no need to have a separated vote, it doesn't make sense and having 15 days of vote + release, just for aligning documentation versions, doesn't make sense too.

[2021-11-19 23:47] haifzhan opened #2762 "How can I find the log file location in the integration pod?"
I have asked a question on StackOverflow(https://stackoverflow.com/questions/70042082/where-is-the-logs-in-camel-k-integration-pod) about camel k logging and paste it here for getting help:

I have an integration pod running with kamel:

    kamel run MyRoute.java

I have log in the route

    from("...")
    .log("my log message")
I am able to check the log lines with command:

    kubectl logs m

[2021-11-22 00:10] #2129 closed

[2021-11-22 09:04] squakez commented on #2762
I've just answered to the the post in SO, I see also @nicolaferraro provided the same information.

[2021-11-22 09:04] #2762 closed

[2021-11-22 09:09] astefanutti commented on #2762
Generally, containers write to `stdout` or `stderr`. That is the case for integration Pods, that rely on the [Quarkus console log handler](https://quarkus.io/guides/logging#console-log-handler) by default.

Then it depends on the container runtime that's setup for your cluster. With CRI-O, the log files are written in the `/var/log/pods` directory of the host node by default. It's `/var/lib/docker

[2021-11-22 09:26] lburgazzoli opened #2763 "Implement gosec to inspect source code for security problems"
We should add [gosec](https://github.com/securego/gosec)  to inspect source code for security problems

[2021-11-22 09:27] lburgazzoli commented on #2763
/cc @astefanutti @squakez

[2021-11-22 09:35] lburgazzoli commented on #2763
We should probably also pay a little bit more attention to golangci-lint results

[2021-11-22 09:53] squakez opened #2764 "Jitpack still configured with `master` branch"
https://github.com/apache/camel-k/blob/main/pkg/util/jitpack/jitpack.go#L28

[2021-11-22 09:55] zhiminglim commented on #2737
@elainhelen if I may join in this thread, I have a question with regards to how you manage to perform `kamel local build xxx.java` as I'm too looking for a solution to a use case similar to yours.

I'm using Camel K Client 1.6.0, and when I did a `kamel local build --integration-directory test Basic.java`, it is returning an error without stack trace.

[code]

Is there anything in particular you h

[2021-11-22 10:00] lburgazzoli commented on #2763
Or maybe enable gosec linter in golangci-lint

[2021-11-22 10:56] squakez commented on #2737
The `local` is performed on your machine, so you must make sure that you have all the expected tools required by the build process, ie, maven, jdk, quarkus, ... it seems that your error happens when you try to [package the application](https://github.com/apache/camel-k/blob/main/pkg/builder/quarkus.go#L191), so, likely, you don't have all the required configuration needed to run.

[2021-11-22 11:54] k0pper opened #2765 "How to use a custom Kamelet Repository?"
I am trying to work with a custom kamelet repository, instead of https://github.com/apache/camel-kamelets.

Using the helm chart of Camel K: https://artifacthub.io/packages/helm/camel-k/camel-k, I am trying to set the Property in the IntegrationPlatform Resource of Camel K to modify the repositories property.

My questions are:
- What kind of repository does this field expect? Is a github-reposito

[2021-11-22 12:43] k0pper commented on #2765
``Update: The command `helm install --namespace camel-k --create-namespace --generate-name --set platform.build.registry.address=${REGISTRY_ADDRESS} --set platform.build.registry.insecure=true --set "platform.kamelet.repositories[0].uri=github.com/k0pper/custom-kamelets" camel-k/camel-k` worked and the repository is set inside the IntegrationPlatform.yaml inside the cluster, but when I view the Ka

[2021-11-22 13:58] k0pper commented on #2765
... When trying to deploy a KameletBinding:
[code]

I get the error that the URI for the kamelet repository was invalid:
[code]

[2021-11-22 14:31] astefanutti commented on #2585
Hi @hguerrero no update yet. While the general idea seems clear, I realise that this could help if you have a pointer to a use case that you would want use to reuse / focus on, so as to make sure we are in line with what you have in mind.

[2021-11-22 21:25] shuhua-wang opened #2768 "Is there any resources requirements for camel-k operator Deployment?"
I am deploying the camel-k operator using helm charts provided in this repo. However I didn't find any resources requirements for the Pod of camel-k operator in the values.yaml file. Such as:

    resources:
      limits:
        cpu:
        memory:
      requests:
        cpu:
        memory:

Is there any recommendation for those requirements when using camel-k operator?

[2021-11-23 00:10] #2558 closed

[2021-11-23 03:09] scodeman opened #2769 "Dry run kamel run"
Is it possible to perform a dry-run with kamel in order to retrieve the Kubernetes manifest that would be representative of an integration (written in other languages like Java DSL, etc...) ?

The need behind that is to be able to package an integration as one of the resources within independent helm chart.
The workflow foreseen:
1. **kamel local build xxxx.java** to generate and manage the taggin

[2021-11-23 03:10] scodeman commented on #2769
Somehow related to #2737

[2021-11-23 08:10] astefanutti commented on #2768
The main contributor to compute resources consumption is likely to be the Maven builds that are performed in the operator Pod (assuming you use the default build strategy). So the resource requirements should be defined accordingly. The following requirements are sensible defaults that should work in most cases:

[code]

Note that if you plan to perform native builds, then the memory requirements

[2021-11-23 08:18] davsclaus commented on #2768
@astefanutti that is good advice, I think its worth to add this in the documentation

There seems to be some advanced docs here about scheduling
https://camel.apache.org/camel-k/next/installation/scheduling.html

[2021-11-23 09:06] astefanutti commented on #2769
I don't think that is currently possible. If I understand your use case correctly,  we could have `kamel run --dry-run`, or `kamel run -o yaml` (akin to `kamel install` and `kubectl -o`), to output the generated Integration resource.

[2021-11-23 10:30] squakez commented on #2769
We already have the `-o yaml` option that will return the `Integration`:
[code]
Is it that what we're looking for?

[2021-11-23 10:37] astefanutti commented on #2769
Damn, I had the `kamel run` code open to double check and missed it :) Maybe I should buy better glasses :D

[2021-11-23 11:40] squakez opened #2772 "Let user configure configmaps/secrets for `kamel run --openapi` option"
Right now, we only allow user to specify a local file as input for the OpenAPI spec. We should let the user provide at least a configmap. We can extend the work already provided for #2003 to reuse part of the logic.

[2021-11-23 11:43] squakez opened #2773 "Get rid of `fmt.Print...()` methods"
In particular for `cmd` package, we should redirect the output to the proper output writer.

[2021-11-23 16:05] #2768 closed

[2021-11-24 01:28] scodeman commented on #2769
Yes, perfect that does it. Thank  you.

[2021-11-24 01:28] #2769 closed

[2021-11-24 01:37] scodeman opened #2776 "Error: unknown flag: --trait on local build"
As per #2769 I am trying to build a local integration image and use it in for my integration manifest.
I have the following IntegrationFile.java  simple java DSL example with modelines:
[code]
But it fails to local build ```kamel local build IntegrationFile.java``` with the following error reported
[code]

[2021-11-24 01:38] scodeman commented on #2776
Note that the dry-run (cf:#2769) ``` kamel run IntegrationFile.java -o yaml```  call works as expected providing me the following output
[code]
[code]

[2021-11-24 07:33] astefanutti commented on #2753
It should be fixed with #2757.

[2021-11-24 07:33] #2753 closed

[2021-11-24 11:48] lburgazzoli opened #2777 "user provided maven setting are overridden by the camel-k operator"
When the `IntegrationPlatform` reconcile loop kick is, any user provided maven setting get overridden, see https://github.com/apache/camel-k/blob/44618f24704caa12afb57ac7b07b43fcc7a9e7b2/pkg/controller/integrationplatform/monitor.go#L45-L58

This is problematic because if the user want to configure custom settings, like credential to access a particular maven repo, then the credential are lost eac

[2021-11-25 09:15] #2764 closed

[2021-11-25 17:25] oscerd opened #2788 "Align to the new folder structure on Camel-Kamelets"
https://github.com/apache/camel-k/blob/main/script/bundle_kamelets.sh#L47

This will need to point to kamelets folder after catalog release 0.6.0

This is a placeholder so we won't forget.

[2021-11-26 00:10] #2567 closed

[2021-11-26 14:14] templarfelix opened #2789 "how i use build-property on Integration crd"
hi guys i need convert this sample: https://github.com/apache/camel-k/tree/main/examples/databases for Integration Spec. and I don't field field for build-property

[2021-11-26 14:39] squakez commented on #2789
Hello,
it's part of the `builder` trait:
[code]
You may get the entire output of the Integration by executing a [dry-run](https://camel.apache.org/camel-k/next/running/running.html#no-cli-integration), ie:
[code]

[2021-11-26 14:45] templarfelix commented on #2789
thanks for help @squakez

[2021-11-26 14:54] #2789 closed

[2021-11-29 12:33] oscerd opened #2791 "Makefile: for the generate-doc target don't use show-progress for wget"
On old wget version show-progress won't work, it has been introduced on 1.16.2.

I think it would be better to simply use the verbose option and removing the -q one.

@astefanutti @squakez @nicolaferraro any thoughts?

[2021-11-29 13:12] #2761 closed

[2021-11-29 13:30] squakez commented on #2791
No problem. I introduced it just for the sake of debugging, we can remove.

[2021-11-30 06:41] oscerd commented on #2759
I think this is already solved.

[2021-11-30 06:43] oscerd commented on #2725
This was explained.

[2021-11-30 06:43] #2725 closed

[2021-11-30 06:59] #2791 closed

[2021-12-01 11:28] betonetotbo opened #2794 "Update documentation about monitoring metrics using Prometheus Operator 0.38.0"
Recently I was facing problems about monitoring metrics of my camel-k integrations.

Prometheus was not scraping metrics from new PODs. After a while, I found the source of the problem.

I was using Prometheus Operator 0.38.1, and this version (so as the version 0.38.0) has a bug, it doesn't updates Prometheus configuration when new PodMonitors come on, so Prometheus doesn't scrape metrics. The on

[2021-12-01 11:34] astefanutti commented on #2794
Thanks a lot for the heads-up, and sorry for all the hiccups. I think we can directly update to the latest version.

[2021-12-01 12:22] k0pper commented on #2765
/bump

The definition of a custom repository seems as an intended feature to be used. Can someone take a look?

[2021-12-01 12:41] #2794 closed

[2021-12-01 17:18] Nyquest opened #2799 "CXF Support"
Hi!
Will the _CXF_ be supported in new versions of Camel K?
Now i am getting error:
`org.apache.camel.FailedToCreateRouteException: Failed to create route cxf: cxf://http://...please check your classpath contains the needed Camel component jar`
I tried on versions _1.3_ and _1.6_ and there was this problem

[2021-12-01 17:28] lburgazzoli commented on #2185
When the camel-k operator is installed cluster wide, we can use OPA rules to limit what resources the operator can read/write (i.e. secrets)

[2021-12-01 17:32] oscerd commented on #2799
There is no quarkus extension for cxf. I don't think so.

[2021-12-01 17:38] lburgazzoli opened #2800 "Running camel-k in a constrained environment"
I've did a POC of camel-k running against [kcp](https://github.com/kcp-dev/kcp) and targeting a remote k8s cluster as target for deployments. When running the cluster controller I had to list a number of additional CRD to be synced as camel-k otherwise won't even start:

[code]

 It would be nice if camel-k would be able to automatically configure its behavior according to what resources the clust

[2021-12-01 17:38] lburgazzoli commented on #2800
/cc @astefanutti

[2021-12-01 17:42] astefanutti commented on #2800
An example of what has been done to avoid mandating Knative Service resource: https://github.com/apache/camel-k/commit/67d653da789b1590984817707ff973bf3f139b78.

I think it should be applicable as well to some of the resources you've listed.

[2021-12-01 17:49] Nyquest commented on #2799
Thank you for your quick reply!
Sorry, I'm not very familiar with Quarkus, but what do you think of this extension:
https://github.com/quarkiverse/quarkus-cxf.
Is it possible to someway use this solution together with Camel-K?

[2021-12-01 17:54] oscerd commented on #2799
Quarkus-cxf is an extension from quarkiverse and from the quarkus organization. I'm talking about the camel-quarkus extensions.

https://camel.apache.org/camel-quarkus/2.5.x/reference/components.html

At the moment there is no plan of having an extension for it and I don't think the quarkiverse extension will be taken into consideration.

[2021-12-01 17:56] lburgazzoli opened #2801 "Use build-tags to configure what feature are included in a camel-k build"
To make it easy to create custom build of camel-k (i.e. to remove some features) we should add appropriate build tags to the code.
As example, we could add specific build tags to strip out specific builders:

_kaniko.go_
[code]

_buildah.go_
[code]

[2021-12-01 18:01] #2799 closed

[2021-12-02 00:10] #2576 closed

[2021-12-02 00:10] #2537 closed

[2021-12-02 11:45] squakez commented on #2765
I think the problem is related the format of the external repository. It must be `github:owner/repo`, so, in your case:
[code]

[2021-12-02 11:51] squakez commented on #2765
@astefanutti @nicolaferraro @oscerd  I haven't found any documentation, but some bit on the code to understand how to use it. Are we supporting this feature? If supported, we can add some note to documentation. Also, I think we should simplify the way to configure a repository, ie, providing a `kamel kamelet add-repo` command or something similar. Wdyt?

[2021-12-02 11:53] oscerd commented on #2765
Not sure if this is supported or wanted at the moment. By the way, if so, we should add a much cleaner command and made it easier.

[2021-12-02 17:02] haifzhan opened #2808 "SEDA low performance issue"
Hi Camel-K team,

I have used SEDA in my route for processing high PPS(Packets per second) streaming.  Below is my code snippet, I use 5 consumers to consume events from in-memory queue. I tested PPS to 10,000 and my pod crashes 30 minutes later and complains the JVM heap space out of memory.

[code]

Is there any way to tune performance? What I am planning to try is replace in-memory queue with K

[2021-12-02 18:02] oscerd commented on #2808
What do you mean with Kafka for SEDA component? Camel provides the JVM trait, with it you could set a bigger heap and at least try to fine tuning the configuration.

[2021-12-02 20:31] haifzhan commented on #2808
@oscerd Thanks for your reply. SEDA uses in-memory queue by default, I am trying to replace the in memory queue with Kafaka, is it possible?

[2021-12-02 20:32] oscerd commented on #2808
Sure, it's possible.

[2021-12-02 20:34] haifzhan commented on #2808
I don't know how to do that. My understanding is the 2nd chunk's ` from("seda:next?concurrentConsumers=5")` would contains both kafka and seda. Is there any tutorial or where I can find some sample code? Thanks

[2021-12-02 22:10] oscerd commented on #2808
Do you want to substitute seda with Kafka on the consumer side or you want to do something else? It's not really clear.

[2021-12-02 22:11] 41lx opened #2810 "camel-k doesn't create a service"
Hi, after some playing around I have found out that camel-k doesn't create service on very simple use-case .. However I can create the service object manually but this suppose to be done out-of-box by the operator..
This is happening on company's k8s v1.18 cluster and I believe that it's related to some permissions but I'm unable to find any error, any relevant log or record. Any idea or tip what

[2021-12-02 22:19] haifzhan commented on #2808
I want to substitute SEDA with Kafka on the consumer side here's the pseudo code
[code]

[2021-12-03 05:44] oscerd commented on #2808
Well you can do something like

from(netty).to(kafka)

from(kafka).to(seda)

from(seda).process().log()

[2021-12-03 16:55] betonetotbo opened #2812 "Be able to configure PodMonitor via prometheus trait"
Currently the only thing is possible to configure at the prometheus trait is the labels, as we can see here: https://camel.apache.org/camel-k/1.7.x/traits/prometheus.html

Would be a nice feature , if we would be able to configure prometheus `PodMonitor` specs (https://github.com/prometheus-operator/prometheus-operator/blob/release-0.39/Documentation/api.md#podmetricsendpoint).

For example: set a

[2021-12-03 17:41] astefanutti commented on #2812
I wonder in that case whether creating a single bespoke `PodMonitor` matching all the integrations, would meet your need, e.g.:

[code]

And you could configuration the _prometheus_ trait globally on the IntegrationPlatform, e.g.:

[code]

[2021-12-03 17:48] betonetotbo commented on #2812
Yes, for that scenario.

But in the case if I need different intervals, this will not fit, or just about the simple case that I just not want to manually manage the PodMonitors.

[2021-12-07 00:10] #2542 closed

[2021-12-07 11:25] davsclaus opened #2815 "KameletBinding - Make error handler more simpler"
A binding is intended to be high level and fairly simple.
https://camel.apache.org/camel-k/1.7.x/kamelets/kameletbindings-error-handler.html

I wonder if we have not made the error handler a bit too complex with the `bean` and `ref`. What is the purpose of those. As they require the user to implement a custom error handler builder (which nobody really does in core camel).

I wonder if we can depre

[2021-12-07 11:26] davsclaus commented on #2815
@squakez any thoughts?

[2021-12-07 11:52] squakez commented on #2815
Yeah, I think the direct usage of them can be hidden to the final user, but cannot be removed (at least `ref`) as it's the foundation of the feature itself (see https://github.com/apache/camel-k/blob/2ef783640db6c2cb57661cf944fc67360e767dc0/pkg/trait/error_handler.go#L97). When I developed originally the feature, I exposed all the low level implementations to collect feedback on possible advanced

[2021-12-07 14:53] apupier opened #2816 "Remove usage of deprecated "flow" in Kamelet CRD in the documentation examples"
For the Kamelet CRD, the flow element is deprecated based on the description

https://github.com/apache/camel-k/blob/48422c08bc20295d09cb31694adc177726806d6b/helm/camel-k/crds/crd-kamelet.yaml#L217

[code]

But the documentation is using it at least here https://camel.apache.org/camel-k/1.7.x/kamelets/kamelets-dev.html#_creating_a_simple_kamelet

[2021-12-07 14:55] apupier opened #2817 "Use deprecated field of yaml schema specification instead of only modifying description"
There is a deprecated field in specification  http://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.3
it would be nice to use it instead of mentioning the deprecation only in description field like here https://github.com/apache/camel-k/blob/48422c08bc20295d09cb31694adc177726806d6b/helm/camel-k/crds/crd-kamelet.yaml#L217

it will allow various tooling to make it more visib

[2021-12-07 15:04] apupier opened #2818 "`out` attribute in Kamelet type CRD is in documentation example but not in yaml schema"
from https://camel.apache.org/camel-k/1.7.x/kamelets/kamelets-dev.html#_creating_a_simple_kamelet
[code]

in spec -> types, there is an `out` tag but there is no `out` tag defined in crd yaml schema

https://github.com/apache/camel-k/blob/48422c08bc20295d09cb31694adc177726806d6b/helm/camel-k/crds/crd-kamelet.yaml#L271-L426

[2021-12-07 15:10] apupier commented on #2818
is it normal? like we can have whatever attributes at this level?

[2021-12-07 15:20] astefanutti commented on #2818
It's "normal" because the `types` field has been modelled as a map, but it should probably be modelled as a comprehensive struct.

[2021-12-07 16:25] squakez commented on #2817
Yeah, it would be good to have. We are generating the CRDs with some tooling and I haven't found an immediate way to declare the value is deprecated, ie `Resources []ResourceSpec `json:"resources,omitempty,deprecated"``. Not sure if it exists some struct label that is taken in consideration when we generate the CRDs.

[2021-12-07 16:40] squakez commented on #2817
Maybe we're lucky if we bump the gen-tool version: https://github.com/kubernetes-sigs/controller-tools/pull/541

Going to have a look later.

[2021-12-07 16:48] astefanutti commented on #2817
While CRD structural schemas rely on OpenAPI v3 schemas, there are some limitations. The `deprecated` field cannot be set, as documented in:

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation

The `+kubebuilder:deprecatedversion` marker applies at the CRD level, not the field level.

[2021-12-07 18:13] toonalbers opened #2819 "Integration with To-D can't find Kamelet"
I have an integration that uses `to-d` to dynamically set parameters for a Kamelet (see [Zulip topic](https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/YAML.3A.20Kamelet.20parameters)).

This does not work:
[code]
But this does work:
[code]
See [this gist](https://gist.github.com/toonalbers/7ed14750f15ac80676cb1acc2ef1638c) for a minimal example and log output. I guess `to-d` does no

[2021-12-07 21:44] cwtrex opened #2820 "JVM trait option to add a trusted root cert on startup"
Some of the kamelets utilize SSL but offer no way to add a trusted cert in the properties (example: elasticsearch index sink).

Need a way to trust a private CA's root certificate for non-maven purposes.

[2021-12-08 07:05] davsclaus commented on #2819
Yes I think you need a newer Camel version, where its fixed

[2021-12-08 07:08] davsclaus commented on #2819
Try with `tod` as the yaml dsl have both - `tod` is the wrong one, but it was how it was generated.

And yeah smells like the camel k operator may not detect that custom uri, and therefore discover that this kamelet needs to be included.

[2021-12-08 09:52] toonalbers commented on #2819
Thanks, that is a good thing to check. Unfortunately the result is the same.

[2021-12-08 14:42] astefanutti commented on #2819
It should be fixed with #2822.

I've successfully run your example:

[code]

[2021-12-08 15:06] toonalbers commented on #2819
Great, thank you for the quick fix!

[2021-12-08 16:03] astefanutti commented on #2819
Thank you for the quality report 👍🏼.

[2021-12-08 17:40] lburgazzoli commented on #2585
I guess here the main use case it to have something that is similar to [dapr](https://dapr.io/) where as example, the right integration is injected depending on an environment, abstracting the business logic from the platform so, on azure you may inject an Azure specific wrapper for their pub/sub buts, whereas on GCP you may want to inject a goggle specific one.

I find the pattern very interestin

[2021-12-08 20:54] haifzhan opened #2824 "Best practice to manage multiple routes in Camel-K"
Hi Camel-K team,

I have a question about managing routes. As far as I know each camel-k route is written in a single file(java/groovy/...), what would be the best structure for a camel-k project?

[code]
For instance, here's the commands for the 3 routes:
1. ` kamel run RouteOne.java --pod-template pod_template.yaml --property-file routing.properties`
2. For route two I need to apply the service

[2021-12-09 00:05] doru1004 opened #2825 "Kafka component propagating headers is supported?"
Which version of Camel-K actually supports Kafka components that can propagate headers?

It seems that Camel added the propagate headers method here roughly 3 months ago according to GitHub:

https://github.com/apache/camel/blob/main/components/camel-kafka/src/main/java/org/apache/camel/component/kafka/consumer/support/KafkaRecordProcessor.java

It's not certain how to tell when this change will b

[2021-12-09 05:44] oscerd commented on #2825
It will be available when we'll switch to 3.13.0/3.14.0 of Camel, which should be in 1.8.0

[2021-12-09 05:44] #2825 closed

[2021-12-09 06:48] oscerd opened #2826 "Choose a single location for examples"
We had some discussion here: https://github.com/apache/camel-k/pull/2731

I think it's important to have a single location for examples, because it would be much easier to maintain and also we could be able to tag them without having the camel-k release enriched with examples.

My vote is to move all the examples in the https://github.com/apache/camel-k-examples repository

But I'd like to get mor

[2021-12-09 08:14] tadayosi opened #2827 "Outdated `ca-cert` path for Jolokia trait"
The default CA cert path `/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt` for Jolokia trait seems to be outdated. When I run an integration as follows, I get `No such CA cert` error and cannot enable Jolokia endpoint:
[code]

The correct path would be `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`:
https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#ac

[2021-12-09 08:42] tadayosi commented on #2827
Hmm, it looks like it's my mistake. For OpenShift there has been `/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt` and it's the correct path.

Closing.

[2021-12-09 08:42] #2827 closed

[2021-12-09 09:20] squakez commented on #2826
Yes, it was something I planned to do in the past, but went out of my radar (#2462). As mentioned in that discussion, I am good with moving everything in the dedicated repository. In that case, I suggest we apply the same branching strategy of the main project.

[2021-12-09 09:26] oscerd commented on #2826
Ok, I'm going to work on this.

[2021-12-09 09:26] squakez commented on #2824
I guess that in both case, you can play with `Integration` CRD and the related status.

[YAKS](https://github.com/citrusframework/yaks) seems to be a perfect fit.

[2021-12-09 09:28] squakez commented on #2820
Maybe you can declare the expected certificate as a path parameter in a Kamelet and then provide the certificate as a binary file via `kamel run --resource [file|secret|configmap]` option.

[2021-12-09 10:32] astefanutti commented on #2826
It sounds good to me. Having the examples promoted into their own repository will certainly make them more visible. Possibly, it'll even make things easier to setup automated testing and foster test coverage in this new repository.

[2021-12-09 11:22] squakez commented on #2742
Now that we don't truncate log, I can see the exact failure:
[code]
This is an excerpt from this failed build: https://github.com/apache/camel-k/runs/4446921484?check_suite_focus=true

Digging deeper:
[code]
It seems that the reconciliation count for Kamelet is used instead of the Integration. We're probably counting wrong in the log. I'm trying to fix this.

[2021-12-09 14:36] doru1004 commented on #2825
Sounds great thanks a lot! :)

[2021-12-09 21:40] haifzhan commented on #2824
Thanks for reply. What is Integration CRD? Would you mind share with me a link ? Thanks!

[2021-12-10 08:03] squakez commented on #2824
Sure!
An [Integration](https://camel.apache.org/camel-k/1.7.x/architecture/cr/integration.html
) is the specification of the route and all it needs to run on a K8S cluster. The CLI will turn a route into it automatically, and you can create one on your own and play with APIs directly. As an example you can make a [dry-run](https://camel.apache.org/camel-k/next/running/running.html#no-cli-integrati

[2021-12-10 14:43] phantomjinx commented on #2751
Looking at e2e tests, `property-file` also appears deprecated too.
[code]

[2021-12-13 10:50] k0pper opened #2830 "Log4j Security Issue"
What do you suggest regarding https://logging.apache.org/log4j/2.x/security.html?

Is the current release 1.7.0 of Camel K affected? How do I find out which Log4j version is used in the current release?

Alex

[2021-12-13 10:53] davsclaus commented on #2830
See
https://github.com/apache/camel-website/pull/714

[2021-12-13 10:53] #2830 closed

[2021-12-14 00:10] #2608 closed

[2021-12-15 00:10] #2598 closed

[2021-12-15 00:10] #2135 closed

[2021-12-15 00:10] #2116 closed

[2021-12-15 00:10] #2117 closed

[2021-12-15 00:10] #2081 closed

[2021-12-15 00:10] #2025 closed

[2021-12-15 00:12] #1543 closed

[2021-12-15 07:26] astefanutti commented on #2007
We've switched to `ubi-quarkus-mandrel:21.3.0.0-Final-java11`, which relies on UBI.

[2021-12-15 07:26] #2007 closed

[2021-12-15 08:12] apupier commented on #1922
this should never be stale. This is a very important feature for improving development flow

[2021-12-15 08:13] apupier commented on #1789
I think i tis still a useful enhancement

[2021-12-15 08:18] squakez commented on #1680
#2771 should be close this. With that work, the way to provide a configuration will be through `container` trait.

[2021-12-15 08:23] squakez commented on #1789
There is some mention in [dependencies documentation](https://camel.apache.org/camel-k/1.7.x/configuration/dependencies.html#dependencies-kind). I've also done an example recently about [jitpack usage](https://github.com/apache/camel-k/tree/main/examples/jitpack). Do you think is that enough or something is missing before closing this issue?

[2021-12-15 08:35] apupier commented on #1789
I think it is not enough. The dependencies documentation is mentioning a single syntax.

[2021-12-15 10:50] #2742 closed

[2021-12-15 11:05] johnpoth opened #2834 "Support local dependencies when running an integration"
Hi !

It would be cool to support local dependencies in dev environments when running an integration e.g:

`kamel run Route.java -d file://my-secret.jar`

While there are many options to do this (like through an [S3 bucket](https://github.com/apache/camel-k/pull/2383)), all options require a bit of work to setup initially but also when reiterating (to update the JAR in the S3 bucket for example).

[2021-12-15 11:19] astefanutti commented on #2834
@johnpoth yeah that'd be awesome. This relates to #2732.

I think you're ready to have a PR open so that we can iterate on this 😃!

[2021-12-15 11:21] johnpoth commented on #2834
@astefanutti ah yes it was mentioned in a few places I see :+1:

[2021-12-17 00:10] #2531 closed

[2021-12-17 00:11] #2473 closed

[2021-12-27 09:07] squakez commented on #2810
When you `describe` the integration, you should have some Event like:
[code]
The same can be recovered via `kamel describe`, ie:
[code]
Also, you can check the output of:
[code]
Finally, you can have a look at the operator log. If there is some permission error like you're suspecting, I think there will be some useful trace. After all, the `Service` trait is in charge to create a Service resource

[2021-12-28 10:19] #2815 closed

[2021-12-29 07:46] #2756 closed

[2021-12-30 00:11] #1961 closed

[2021-12-30 00:11] #1948 closed

[2021-12-30 00:11] #1898 closed

[2021-12-30 00:11] #1878 closed

[2021-12-30 00:11] #1869 closed

[2021-12-30 00:11] #1860 closed

[2021-12-30 00:11] #1815 closed

[2021-12-30 06:41] S96EA opened #2844 "How to specify the BaseImage when creating an integration?"
I want to use a different BaseImage(for example, a private image) instead of the default BaseImage.
I found that we can specify the platform when creating an integration ([link](https://github.com/apache/camel-k/blob/fc8aa4636ff3a95dee401d258b5e8ddf3c597020/pkg/apis/camel/v1/integration_types.go#L56)), And the platform is bound to a BaseImage ([link](https://github.com/apache/camel-k/blob/fc8aa463

[2021-12-31 00:11] #1766 closed

[2021-12-31 00:11] #1732 closed

[2021-12-31 00:11] #1699 closed

[2021-12-31 00:11] #1682 closed

[2021-12-31 00:11] #1663 closed

[2021-12-31 00:11] #1666 closed

[2021-12-31 00:11] #1661 closed

[2021-12-31 00:11] #1651 closed

[2021-12-31 00:11] #1650 closed

[2021-12-31 00:11] #1572 closed

[2021-12-31 00:11] #1566 closed

[2021-12-31 00:11] #1571 closed

[2021-12-31 00:11] #1551 closed

[2021-12-31 00:11] #1409 closed

[2022-01-01 00:11] #1331 closed

[2022-01-01 00:11] #1323 closed

[2022-01-01 00:11] #1283 closed

[2022-01-01 00:11] #1239 closed

[2022-01-01 00:11] #1282 closed

[2022-01-03 10:05] squakez commented on #2844
If the `IntegrationKit` was created before updating the `baseImage` for the platform, then, yes, the algorithm will choose the best matching kit in between the existing ones, whichever was the `baseImage` from which it derived from. If you need to update all the `Integration` and the related kits, the best thing you can do is to `kamel reset` which will clean all the namespace. Of course, this is

[2022-01-03 10:07] squakez commented on #2816
It's one of the task of https://github.com/apache/camel-k/issues/2751

[2022-01-04 06:58] S96EA commented on #2844
How about adding a label to the integrationKit, which is used in the IncrementalImageContext step to filter IntegrationKits that use a certain baseImage?

[2022-01-04 08:22] squakez commented on #2844
Could be an idea in the context of the work requested for #2736

[2022-01-04 20:02] haifzhan commented on #1806
@arijitmazumdar  Hi there, I am facing the same issue my replicas are not able to receive any traffic. Is trait `-t service.node-port=true` the only configuration required(I already have my service template and the port forwarding has been applied)?  Thanks!

[2022-01-04 20:37] haifzhan opened #2847 "Scaling integration pod and the replicas are not able to receive traffic via UDP port"
Hi Apache Camel team:

Situation:
1. I have an integration pod is listening on UDP 8444 and forward it to 30006, and it is configured in `my-integration-service.yaml`
2. I am trying to scale the integration followed the document [CAMEL K INTEGRATION SCALING
](https://camel.apache.org/camel-k/1.7.x/scaling/integration.html)

For instance I have 2 pods running after scale and only the first pod is c

[2022-01-05 05:55] oscerd opened #2848 "Release 1.8.0"
I think we should release 1.8.0

3.14.0 is out from a while, camel-k-runtime is already aligned to 3.14.0 and we released a new kamelets catalog 0.6.0

Do we have something pending?

[2022-01-05 14:49] squakez opened #2850 "Provide a command to add a repo for custom Kamelet catalog"
_Originally posted by @squakez in https://github.com/apache/camel-k/issues/2765#issuecomment-984556820_

We should create a command which simplify the creation of a custom Kamelets catalog such as: `kamel kamelet add-repo github:my-org/my-repo`.

The command may add a repository to the `IntegrationPlatform`.

[2022-01-05 21:02] haifzhan commented on #2847
Some updates:
I killed the pod which is capable of receiving events and observed that the replica start receiving events. Now it turns out the settings are working properly.

What am I supposed to modify to make the traffic policy r**ound robin**?

[2022-01-05 23:01] djencks opened #2852 "Update Antora usage"
/assets/images is obsolete: change to /images, and same for attachments.
Use attachment$ instead of {attachmentsdir}
move assets/diagrams out of Antora structure and clarify purpose.

[2022-01-06 16:44] phantomjinx commented on #2749
Fixed in #2755.
Closing.

[2022-01-06 16:44] #2749 closed

[2022-01-07 08:36] #2765 closed

[2022-01-07 08:36] #2760 closed

[2022-01-07 13:17] #1789 closed

[2022-01-07 13:47] #2320 closed

[2022-01-07 13:47] #2772 closed

[2022-01-10 17:07] oscerd commented on #2848
The baseline for the release should be:
- camel-k-runtime 1.11.0
- camel-kamelets-catalog 0.6.0 (or eventually 0.7.0)

I'd release camel-k-runtime and camel-k together in a single vote.

[2022-01-11 03:45] claudio4j opened #2864 "Make knative broker name configurable"
Make knative broker name configurable, follow on https://github.com/apache/camel-k-runtime/issues/535

[2022-01-11 08:30] squakez commented on #2864
Relates https://github.com/apache/camel-k-runtime/issues/764

[2022-01-11 16:28] juliuskrah opened #2867 "Using REST as consumer and producer appends PATH to producer URL"
Camel K: `1.7.0`
Dependencies: `camel-jackson`, `camel-netty-http`

I built an integration using `rest component` that serves as a consumer and also a producer:

primeValidator.groovy

[code]

application.properties

[code]

[code]

Expectation: Producer request should be sent to `https://example.prime.com/api/auth`

Actual behaviour: Producer request is sent to `https://example.prime.com/api/auth

[2022-01-12 08:14] #1107 closed

[2022-01-12 09:13] alagusundarams opened #2872 "Trait to override integration image name and version generated"
https://github.com/apache/camel-k/blob/main/pkg/trait/builder.go#L182 it would be a great if we are provided with an option  to override the version and the image name generated by the operator.
IntegrationKit.Name
IntegrationKit.ResourceVersion
As this will help the organizations to control the image name and version which is generated by operator.

[2022-01-12 10:56] astefanutti commented on #2848
#2858 should be merged soon so it would be great to have it included in 1.8.0 as well.

[2022-01-12 13:51] #1402 closed

[2022-01-12 13:51] #2777 closed

[2022-01-13 13:27] claudio4j commented on #2397
@astefanutti about your suggestion to revisit the `knative.IsEnabledInNamespace` function, it is my understanding this function is used in `pkg/controller/integration/platform_setup.go` to set the knative profile if knative is enabled in the ns, so in this context it looks to be doing correctly.
WDYT to remove the log from `knative.IsEnabledInNamespace` function and print it if the user explicitly

[2022-01-13 15:48] nicolaferraro opened #2875 "Directly reference secrets in KameletBinding"
I thought there was an issue for this, but apparently not.
When creating a KameletBinding you put all properties in plaintext, including secret ones.
There are ways to save data in secrets but they involve using a specific format of the underlying runtime (.properties file in the secret with Camel notation `camel.kamelet.<name>.<id>.<key>=<val>`), which is not ideal for a high level construct like

[2022-01-13 15:55] nicolaferraro opened #2876 "Create a KEDA condition"
Currently problems found in the KEDA system are not mapped back to the integration, we may want to add a condition to mirror that state.

We may use the same condition in case of errors when configuring the KEDA scaled object in the trait. In that case (if it's not a transient error), instead of returning the error the KEDA trait should update the condition and move the integration to an error pha

[2022-01-13 15:58] nicolaferraro opened #2877 "Allow to configure additional KEDA options in the KameletBinding"
The KameletBinding can use the trait notation to configure KEDA, like [here](https://github.com/nicolaferraro/camel-k-keda-demo/blob/8cbb97d057af2fa6b14211f121a3296f84f1cd36/kafka-to-log.yaml#L6-L8).

But when you configure a trigger explicitly in the traits, that configuration is currently not merged with the automatic configuration created from the Kamelet, instead it becomes another trigger. We

[2022-01-13 18:30] djencks commented on #2759
This is complete as part of the https://github.com/apache/camel-website/issues/701 work.

[2022-01-13 18:30] #2759 closed

[2022-01-14 07:35] tadayosi commented on #2776
Duplicate of #2499

[2022-01-16 00:12] #1232 closed

[2022-01-16 00:12] #1196 closed

[2022-01-16 00:12] #1128 closed

[2022-01-16 00:12] #1057 closed

[2022-01-16 00:12] #938 closed

[2022-01-17 00:12] #918 closed

[2022-01-17 00:12] #870 closed

[2022-01-17 00:12] #739 closed

[2022-01-17 04:00] djencks commented on #2852
The PRs seem to be OK, closing.

[2022-01-17 04:00] #2852 closed

[2022-01-17 09:41] davsclaus opened #2880 "Camel 3.15 - Data formats renamed"
See ticket
https://github.com/apache/camel-quarkus/issues/3460

This means that the algorithm in camel-k that detects camel components (in this case data formats) may need to be changed due to the renamed names.

[2022-01-17 09:43] davsclaus commented on #2880
The camel-k catalog needs to be updated / rebuild as it uses the old names - eg if you do a

git grep "jacksonxml"
git grep "mime-multipart"

[2022-01-17 10:10] astefanutti commented on #2880
Is the list from https://github.com/apache/camel/blob/main/docs/user-manual/modules/ROOT/pages/camel-3x-upgrade-guide-3_15.adoc#data-formats exhaustive, or these are examples?

I'm asking because there are a number of kebab-cased references in the current CamelCatalog resource based on Camel 3.12.0, like `json-jackson`, `protobuf-jackson`, `avro-jackson`, `json-johnzon`, `json-jsonb`, `mime-multip

[2022-01-17 14:26] #1332 closed

[2022-01-17 18:32] astefanutti commented on #2848
#2881 must be merged before cutting the release, as it fixes a regression impacting the Kamelets installation from the embedded catalog.

[2022-01-18 00:12] #630 closed

[2022-01-18 00:12] #617 closed

[2022-01-18 00:12] #605 closed

[2022-01-18 13:56] claudio4j opened #2883 "IntegrationPlatform camel-k hardcoded name causes wrong assumptions"
If user creates an `IntegrationPlatform` with a name different from `camel-k` and run any integration, the kamel output shows
`No IntegrationPlatform resource in <current ns> namespace`

kamel CLI [version.go](https://github.com/apache/camel-k/blob/main/pkg/cmd/version.go#L136) try to get the `IntegrationPlatform/camel-k`, but it should query the active/primary object in the current namespace.

[2022-01-18 15:27] astefanutti opened #2886 "Update readiness condition based on new Camel health check format"
The parsing of the health check results from the integration Pod(s) readiness endpoint(s) should be adapted once apache/camel#6779 is pulled.

[2022-01-19 06:20] oscerd commented on #2848
So, we have

camel-kamelets 0.7.0 staged and https://github.com/apache/camel-k/pull/2887
camel-k-runtime 1.11.0 staged

Let me know once we are ready.

[2022-01-19 08:39] #2788 closed

[2022-01-19 12:36] oscerd commented on #2848
Ok, I'm releasing 1.8.0 now.

[2022-01-19 17:24] oscerd commented on #2848
The release is on vote.

[2022-01-19 17:52] oscerd opened #2890 "Release note script: Check if the GITHUB_TOKEN var has been set before running the command"

[2022-01-19 17:53] oscerd opened #2891 "Makefile Release staging: Pass the remote repository name as argument with origin as default"

[2022-01-20 07:40] divyansh42 opened #2892 "camel-k-client binary is missing in the latest release assets"
From `v1.8.0` camel-k-client binary is not released in the assets.
We have [tools installer GitHub action](https://github.com/redhat-actions/openshift-tools-installer), which is dependent on release assets.

Please take a look at this as existing users of this action will be affected.

[2022-01-20 07:43] #2892 closed

[2022-01-20 07:46] apupier commented on #2275
still an important feature for Debugging experience

[2022-01-20 07:55] oscerd commented on #2892
Once the release vote will be completed, I'll add the assets and complete the release.

[2022-01-20 08:07] squakez opened #2893 "Stale bot is setting issue `stale` where marked as `never-stale`"
See #2289 or #2318, those issues were marked as `never-stale` but the bot ignores it.

[2022-01-20 08:18] oscerd commented on #2848
## Changes by Kind

### Feature

- Added support for KEDA autoscalers with automatic configuration when using Kamelets (#2838, @nicolaferraro)
- Feat(maven): Configurable Maven CLI options (#2879, @astefanutti)
- Feat: Faster operator startup (#2814, @astefanutti)
- Feat: Global HTTP proxy support (#2858, @astefanutti)
- Feat: Report runtime health checks into Integration readiness condition (#271

[2022-01-20 08:19] oscerd commented on #2892
I deleted the release to avoid confusion, once the vote will be completed I'll create it, sorry for the confusion @divyansh42

[2022-01-20 08:22] divyansh42 commented on #2892
Great, Thanks for the quick response!

[2022-01-20 10:19] #2893 closed

[2022-01-20 16:29] k0pper opened #2896 "Enabling prometheus causes KameletBindings to be stuck in status "Creating""
Hello,

I tried enabling Prometheus metrics with the Prometheus Trait and installing the helm prometheus release

`echo '{"spec": {"traits": {"prometheus": { "configuration": {"enabled": true } } }}}' > monitoring-patch.json`
`kubectl patch integrationplatform camel-k --patch "$(cat monitoring-patch.json)" --namespace camel-k --type='merge'`
`helm install prometheus prometheus-community/prometheus

[2022-01-20 16:57] astefanutti commented on #2896
You need to have the Prometheus operator installed in your cluster by default, specifically the `PodMonitor` CRD.

In case, you don't want the auto-configuration of the Prometheus operator, and only need the metrics exposed, you can disable it with the `pod-monitor` option of the _prometheus_ trait, e.g. when patching the IntegrationPlatform:

[code]

See https://camel.apache.org/camel-k/1.7.x/tra

[2022-01-21 03:25] scodeman commented on #2499
This issue should not be closed, as mentionned by @pilhuhn, the local build could print a warning but not abort

[2022-01-21 05:09] djencks opened #2898 "[Docs/Website] Generate API documentation as AsciiDoc rather than html"
Currently the API documentation (e.g. https://camel.apache.org/camel-k/next/apis/camel.html) has no styling, is hard to understand for this reason, and doesn't fit in with the rest of the Antora docs.

It turns out to be moderately easy to extend the generator to generate plain text compatible with AsciiDoc and to rewrite the templates to generate AsciiDoc, with much better results.

[2022-01-21 08:29] squakez commented on #2898
Same as #2289

[2022-01-21 08:38] squakez commented on #2289
Closed in favour of #2898

[2022-01-21 08:38] #2289 closed

[2022-01-21 12:07] himanshumps commented on #1030
I am interested in knowing how to do this as well

[2022-01-21 15:39] phantomjinx opened #2905 "Intermittent problem with integration remaining at phase "Building Kit""
During the upgrade e2e tests, the [cli_update.go](https://github.com/apache/camel-k/blob/main/e2e/upgrade/cli_upgrade_test.go#L108), is executed and intermittently fails with a [timeout](https://github.com/openshift-integration/camel-k-testing-ocp4/runs/4897338823?check_suite_focus=true#step:8:1143).

Looking at the dump, the integration is never allocated an integration-kit:
[code]
Looking at the

[2022-01-21 15:53] phantomjinx commented on #2905
The operator log seems to show a number of errors concerning finding the integration-kit which might be a lead .... https://gist.github.com/phantomjinx/3f53dbebe0d7c259ada01ca8bf53186c

[2022-01-24 10:04] squakez opened #2915 "`Kamel kit create` to use mount/camel traits"
The command still use `properties/configmap/secret` parameters https://github.com/apache/camel-k/blob/main/pkg/cmd/kit_create.go#L70-L72 and they could instead use the logic encapsulated in `camel` trait (for properties) and `mount` trait (for configmap/secret).

[2022-01-24 14:05] oscerd commented on #2848
Released

[2022-01-24 14:05] #2848 closed

[2022-01-24 14:07] oscerd opened #2931 "Release documentation: Review steps and make it a bit more complete for new release manager"

[2022-01-24 14:12] oscerd commented on #2172
Not stale

[2022-01-24 14:12] oscerd commented on #2189
Not stale

[2022-01-25 09:10] lburgazzoli commented on #1834
@christophd maybe you are interesting in this ?

[2022-01-25 09:28] christophd commented on #1834
@lburgazzoli sure!

but isn't this covered already by Kamelets?

[2022-01-25 09:29] lburgazzoli commented on #1834
could be :)
I wonder if there is anything missing like the creation of a SinkBinding

[2022-01-25 09:48] christophd commented on #1834
So in terms of an eventing source a KameletBinding defines a Kamelet as a binding source and a channel/broker as a sink within the binding. This approach has replaced the former `CamelSource` in knative eventing.

In terms of an eventing sink another KameletBinding is able to act as a Knative eventing sink by using a Knative channel/broker as a source and a Kamelet as a sink within the binding.

S

[2022-01-25 09:57] lburgazzoli commented on #1834
ok, so there's nothing that needs to be done right ?

[2022-01-25 10:04] christophd commented on #1834
we are not able to use a Knative Trigger directly in a KameletBinding in order to filter the events that are consumed by the sink. We need to have a channel that the KameletBinding uses to consume events. That's the only difference I see at the moment.

in general it is a different approach compared to that one used by Knative SinkBinding. if we are ok with that

[2022-01-25 10:12] lburgazzoli commented on #1834
talking aloud: wonder if we can add an additional option to the knative trait so that when it creates a sink, instead of using a channel we just publish a service with the relate k8s Service so that it would become addressable ?

[2022-01-25 10:42] christophd commented on #1834
sounds like a valuable option

[2022-01-25 11:05] astefanutti commented on #1834
IIUIC, this is already done, as a KnativeService is created that's addressable (when the integration exposes an HTTP endpoint).

I wonder whether that'd make sense the integration to be addressable so that it can be a Sink target?

Currently, sinking to an addressable resource from the integration is supported, and a SinkBinding resource is automatically created when there is something like `to(kn

[2022-01-25 11:26] astefanutti commented on #1834
I've just stumbled upon #1122, that is about making integrations addressable.

[2022-01-25 11:36] lburgazzoli commented on #1834
Yeah, I think we have all the building blocks, however I wonder if we need to add something more to make KameletBindings for sinks a little more declarative, as example my understanding is that as today, to create a sink with a binding we have to do something like that:

[code]

But this is limited to channels so I wonder if we can have a more declarative way of expressing the source, like

[code]

[2022-01-25 11:48] k0pper commented on #2896
Suggested fix works, thank you for now :)

[2022-01-25 11:48] #2896 closed

[2022-01-25 16:03] apupier opened #2943 "[regression] Cannot provide 2 resources with 1.8.0"
When the 2 resources have same content, the errors in Operator log are:
[code]

and
[code]
In this case, we can see a single Configmap created.

When teh content of the resources are diffeezent, we can see 2 configmaps created but there are these 2 errors:
[code]
and
[code]

[2022-01-25 16:03] apupier commented on #2943
cc @squakez

[2022-01-26 10:10] squakez commented on #2943
I had a look, and as I suspected it's a bug. As a mitigation, while we fix it, you may create an external configmap with 2 entries, and use it from your Integration, ie:
[code]
test.groovy
[code]

[2022-01-26 10:23] christophd commented on #1834
I like the idea to auto create the knative service resource `telegram-sink` as part of the KameletBinding. Feels more natural and makes the usage of the channel obsolete.

It would be good to also auto create the respective knative trigger for the service (with filter on events that should be consumed by the KameletBinding)

[2022-01-26 16:56] maschmid opened #2950 "camel-k-operator forbidden to get kafkachannels.messaging.knative.dev since 1.8.x"
With camelk 1.7, I can use the https://github.com/apache/camel-k/tree/main/examples/knative example with a KafkaChannel channels, instead of InMemoryChannel.

The same example fails on 1.8.x with KafkaChannels, due to

[code]

( compare https://github.com/apache/camel-k/blob/release-1.7.x/helm/camel-k/templates/operator-role.yaml#L219-L224  vs https://github.com/apache/camel-k/blob/main/helm/camel

[2022-01-26 18:08] astefanutti commented on #2950
Wildcard permissions have been removed with #2807, as unbounded RBAC is not considered a best practice.

A Knative Sink can be any resource that's Addressable, and the Camel K operator do a GET request to retrieve the address from the resource `status.address.url` field.

We can expand the list of default Addressable resources that the operator is granted read permission on, like `KafkaChannel`, b

[2022-01-27 12:56] #2189 closed

[2022-01-27 15:15] maschmid commented on #2950
Right, I agree it makes sense for the camel-k project to leave the responsibility to the administrator, as camel-k project itself cannot know what the system as a whole will be using.

This of course present a problem for an ecosystem of operators, which should somehow be integrated together and ideally work OOB (like the OpenShift operators), as the role of those operators is to make the administ

[2022-01-27 16:31] sschere commented on #1070
I've faced the same issue, and solved by creating an adicional service as LoadBalancer. Let's say your service deployed using kamel run is being called "rest-dsl", then below kubectl cli will create a new service called "rest-dsl-lb". Then you can keep kamel deploying into a NodePort type and the LoadBalancer will redirect to that. I hope that helps:

`kubectl expose service rest-dsl --name rest-d

[2022-01-27 17:46] astefanutti commented on #2950
Thanks a lot for your feedback.

Would you know if the `duck.knative.dev/addressable=true`, as in the example taken from the Knative documentation to extend Knative itself with the extra permissions, is a "standard" Knative label:

[code]

If that it's the case, it may be possible to create an aggregated role, like:

[code]

And have the Kubernetes control plane automatically update it with the ag

[2022-01-27 18:50] pierDipi commented on #2950
The aggregated `ClusterRole` is already created, it's called `addressable-resolver`.

This is the `ClusterRoleBinding` to bind a SA to the addressable-resolver `ClusterRole`
[code]

[2022-01-28 05:19] djencks commented on #2898
This is done on next/main: I'm planning to look into porting it to earlier versions.

[2022-01-28 10:28] astefanutti commented on #2950
@pierDipi Thanks!

I infer the `addressable-resolver` ClusterRole can be assumed to be "publicly" available for other controllers to reference it.

I've researched how to create the corresponding ClusterRoleBinding via OLM, but that does not seem supported, as subjects are not resolved for OLM bundle [additional manifests](https://docs.openshift.com/container-platform/4.7/operators/understanding/o

[2022-01-28 16:43] astefanutti commented on #2950
I've open a new PR #2958, that adds `bind` permission to the `addressable-resolver` ClusterRole resource, so it's either translated to a Role or a ClusterRole by OLM, while the actually binding is done by the Camel K operator itself, either local, or globally, depending on the deployment mode.

[2022-01-30 00:11] #2690 closed

[2022-01-31 09:24] phantomjinx opened #2965 "Modify e2e tests so that if failed the tests is repeated in a new namespace"
E2E tests can seem to fail randomly and it can be a game of chance trying to understand why the timeout occurred or why the image was not picked up. Therefore, to mitigate, we could try modifying the e2e test framework to allow for a test to be re-executed when it fails. If it fails a second time then it would point to a more serious issue that needs manual fixiing.

[2022-01-31 13:22] #2950 closed

[2022-01-31 13:53] k0pper opened #2966 "Configure Maven: Artifact Repository is not recognized"
I followed the instructions on https://camel.apache.org/camel-k/1.8.x/configuration/maven.html to configure Camel-K and which repository to use. My goal is that the Integrations download their dependencies from gitlab's package registry, and if not found it looks it up on Maven Central. How is this possible?

I created an this settings.xml:
https://gist.github.com/k0pper/3176c5750cb63e5b7160b26c88

[2022-01-31 14:03] astefanutti commented on #2966
Maven central is added by default to the "platform" Maven settings, so you have to disable it in your custom Maven settings, e.g.:

[code]

[2022-01-31 14:18] k0pper commented on #2966
I changed the settings.xml, and reapplied it as a configmap. It still doesn't work.

Can you provide a full working example of the settings.xml with your changes?

[2022-01-31 14:51] astefanutti commented on #2966
Could you try by adding your own repositories to the following settings:

[code]

[2022-01-31 17:04] k0pper commented on #2966
Thanks a lot. It works now. I updated the gist.

I had to explicitly enable the gitlab-maven repository, as you can read in the gist.

[2022-01-31 17:04] #2966 closed

[2022-02-01 00:12] #2341 closed

[2022-02-01 13:21] k0pper commented on #2765
Can you take a look at my repository https://github.com/k0pper/custom-kamelets and tell me why it's not finding the kamelet in my repository?

[code]

[2022-02-01 13:40] k0pper commented on #2765
I figured it out by myself.

For everyone also wanting to implement an own Kamelet-Catalog: it works, but you have to find a fitting service which can handle that.

My fix:

Change the integrationplatform resource yaml to
[code]
(e.g.  github:k0pper/custom-kamelets/kamelets)

After that, when you deploy a KameletBinding, it looks for all repositories that exist (the official kamelet catalog + your

[2022-02-03 14:04] himanshumps opened #2982 "Autoscaling not working"
Hi,

I have written a java rest API which I am deploying using camel K on openshift. It is not autoscaling to zero.

Command to run:
[code]

AccountRoute.java

[code]

Can I get some help on what might be causing this behavior. Is it due to kubernetes-client ?

[2022-02-03 14:37] astefanutti commented on #2982
Could you confirm Knative is deployed on your cluster and provide the output of `kamel dump`?

[2022-02-03 15:28] himanshumps commented on #2982
@astefanutti Attached is the dump from the namespace where it is deployed

[out.log](https://github.com/apache/camel-k/files/7995872/out.log)

[2022-02-03 15:29] himanshumps commented on #2982
knative serving and eventing is enabled across all namespaces,

[2022-02-03 17:22] astefanutti commented on #2982
The dump seems normal, could you please provide the output of `kubectl get ksvc account-route -o yaml`? Also it may be worth looking at the Knative autoscaler logs.

[2022-02-03 18:44] himanshumps commented on #2982
This is the dump of the ksvc.

[dump1.log](https://github.com/apache/camel-k/files/7997292/dump1.log)

How do I get the knative autoscaler logs .. I do not have access to knative-eventing and knative-serving namespaces.

[2022-02-04 04:41] himanshumps commented on #2982
When I changed this line from
`
.toF("kubernetes-job://%s?oauthToken=%s&operation=" + KubernetesOperations.CREATE_JOB_OPERATION, "<API Server URL>", oauthToken)
`
to
`
.toD("kubernetes-job://" + "<API Server URL>" + "?oauthToken=" + oauthToken + "&operation=" + KubernetesOperations.CREATE_JOB_OPERATION)
`

the autoscaling works as usual. I think it has to do with passive consumer endpoint.

Any su

[2022-02-04 05:49] #2560 closed

[2022-02-04 06:20] oscerd opened #2983 "Release 1.8.1"
Components versions:
- Camel 3.14.1
- Camel-K-runtime 1.12.0
- Camel-Kamelets 0.7.1

This is just a placeholder, please list all the pending issues we need to address before releasing

[2022-02-04 06:23] oscerd opened #2984 "Release: scripting Renaming files for operator works"
While releasing and specifically while doing the post release steps, we need to rename some of the files in bundles folder. This should be done by hand and also there is some work to be done on the file content. At least for the names we should add a script and make the life of the release manager easier.

[2022-02-04 06:57] milank78git opened #2985 "Helm multiple namespace install Camel-K"
Hi ,

Do I have a question?

Can be installed via Helm similarly as via kamel install --skip-operator-setup --namespace namespace-1

[2022-02-04 08:12] astefanutti commented on #2982
Thanks, it looks normal.

It's in the `knative-serving` namespace, so you would have to be granted permission to get the logs.

Hum, `toF` and `toD` are for producers, and I cannot think of any way this could interfere with Knative auto-scaling.

[2022-02-04 08:48] squakez commented on #2596
Draft work in https://github.com/squakez/camel-k/tree/feat/2596_bind_trait

[2022-02-04 10:18] squakez commented on #2983
#2943

[2022-02-04 10:42] squakez opened #2987 "Kamel install failure"
I am trying to install in my local `minikube` using `kamel` version `1.8.0`. The operator pod starts but suddenly breaks with following traces:
[code]
This is repeated as many times as we have Kamelets from default catalog, so, I have the feeling it relates to the change we did either in https://github.com/apache/camel-kamelets/pull/754 or https://github.com/apache/camel-kamelets/pull/755. Likely

[2022-02-04 10:46] squakez commented on #2987
Workaround while we fix the issue:
[code]
You can use any existing directory which has no kamelets defined in it

[2022-02-04 11:35] squakez commented on #2987
I think the problem was due to some old kamelet definition in my namespace. If I delete the kamelets, then the installation procedure won't show that problem.

[2022-02-04 11:35] #2987 closed

[2022-02-04 12:22] squakez opened #2988 "Errored status Kamelet cannot be reconciled to Ready status"
If we have any error in the Kamelet spec definition, ie
[code]
we are not able to fix, even changing the Kamelet spec. It seems that the reconciliation maintain the error condition.

[2022-02-05 00:09] #2684 closed

[2022-02-06 00:13] #2395 closed

[2022-02-06 00:13] #2334 closed

[2022-02-07 08:39] apupier commented on #2179
still relevant

[2022-02-07 21:05] ramgopireddy opened #2994 "RFE to allow dynamic creation of Persistent Volumes from storage classes"
We would like the option to dynamically create a persistent volume using the operator instead of having to create a Persistent Volume first and using it to mount on the integration. Is it possible to extend the Mount trait to allow provisioning of the PV from a storage class as well?

[2022-02-08 07:54] oscerd commented on #2983
Probably it makes much more sense to release camel-k-runtime 1.12.0, instead of 1.11.1. On main we have camel bumped to 3.14.1 and camel-quarkus on 2.7.0, which it is supporting the same camel version. So I'll go with it.

[2022-02-08 09:11] ruromero opened #2996 "Improve message error when IntegrationPlatform failure"
Using Camel-K operator 1.8.0

I want to create an integration using an openapi spec in a configmap. The configmap looks like this:
[code]

Then I create an integration like the following:
[code]

The operator fails to succeed with the following error:
[code]

I have used this approach successfully with kamel 1.8.0 but it no longer works.

[2022-02-08 09:11] ruromero commented on #2996
cc @squakez

[2022-02-08 11:42] #2988 closed

[2022-02-08 13:17] oscerd commented on #2983
https://repository.apache.org/content/repositories/orgapachecamel-1411/

Camel-k-runtime 1.12.0 is ready.

[2022-02-08 13:27] JPMoresmau commented on #2867
Calling `.removeHeaders("CamelHttpPath")` before the second rest call solved this issue for me

[2022-02-08 20:48] ruromero commented on #2996
The problem seems to be related to a wrongly configured IntegrationPlatform. In my case it was missing the settings.xml
But the error message was pointing me to a completely different place.

[2022-02-09 04:44] milank78git commented on #2985
Hi,

I already know the answer.
The modification can be done if you generate yaml via kamel install --skip-operator-setup --namespace namespace-1 -oyaml
You can then make a HelmChart out of this and use it to deploy to namespace

[2022-02-09 10:27] #2943 closed

[2022-02-10 08:20] starafdar-git opened #3001 "SEDA multiple threads not working"
Hi Team/All,

I am using SEDA with concurrentConsumer=100 but in logs i can see only on thread ,
I wanted understand why it is showing 1 thread only in logs ? Does that means threading is not working ?
Any help would be appreciated .

[2022-02-10 09:16] squakez opened #3002 "Builder/Camel trait configmap/secret beside properties"
The builder trait allow you to define plain text properties that will be provided at build time. This is also available via
[code]
It would be nice to provide the possibility to use configmap and secret as well in order to have something like:
[code]
The same may be applied to `camel` trait which exposes runtime `properties`

[2022-02-10 13:51] kyal2000 opened #3003 "Operator creates too many repositories"
Hello,
while developing some routes the operator creates very much Integration-kits and new repositories in the registry.

So my questions are:

When does the operator create a new kit/repository?
How can i avoid this circumstance and get more control over my repos?
Thanks in advance

[2022-02-10 14:43] R-Lam opened #3004 "kamel log tail option"
We're currently developing multiple integrations in dev environment so we need to watch logs very often, but the amount of logs retrieve from the container everytime we issue the command has started to annoy some of us.

Will be nice to have a `--tail` option just like kubectl/oc commands.

[2022-02-10 15:46] squakez opened #3005 "Kaniko settings refactoring"
We are declaring certain specific configuration required for **Kaniko** directly in the `IntegrationPlatformBuildSpec` [1] and [2]. We should not let this details slip in the general configuration. A possible alternative is to provide a `PublishStrategyOptions` parameter with an open array/map of parameters that can be required by the strategy used (and where to move the aforementioned Kaniko para

[2022-02-10 21:20] GeraldLoeffler opened #3006 "kamel client for macOS from release 1.8.0 is really 1.0.0-M4"
Downloading https://github.com/apache/camel-k/releases/download/v1.8.0/camel-k-client-1.8.0-mac-64bit.tar.gz and running `kamel version` returns `Camel K Client 1.0.0-M4`.

[2022-02-11 06:30] oscerd commented on #2983
If we are ready, I would start the release. There is by the way this new issue here: https://github.com/apache/camel-k/issues/3006 maybe we could have a look, just to verify if it's a problem in the release process or something else

[2022-02-11 06:37] davsclaus commented on #2983
Yeah the CLIs should be the correct versions in the release

[2022-02-11 06:38] oscerd commented on #2983
It's weird because it should be automated.

[2022-02-11 06:44] davsclaus commented on #3006
Are you sure, I just downloaded the mac client from Apache and its 1.8.0
https://www.apache.org/dyn/closer.lua/camel/camel-k/1.8.0/camel-k-client-1.8.0-mac-64bit.tar.gz

[code]

And its the downloads from ASF that we official support

[2022-02-11 06:45] oscerd commented on #3006
I don't have a mac available, but can you try with the github file in the release?

[2022-02-11 06:48] oscerd commented on #2983
It seems it is a false alarm at first sight. I'll release next week by the way. It's a bit long process, so better to start at beginning of the week. No rush.

[2022-02-11 06:50] davsclaus commented on #3006
Also the github downloads works for me - both the regular mac and the arm mac are all 1.8.0 versions

[2022-02-11 06:50] davsclaus commented on #2983
yeah its a false

[2022-02-11 06:52] davsclaus commented on #3001
You can ask for such help on the user mailing list or the zulip chat room - its a general Camel questions and not really Camel K specific.

https://camel.apache.org/community/support/

Also mind that 100 threads is very much - dont set it so high that is more threads than you have CPU cores. Also you need a lot of pending messages for more than 1 thread to be active.

[2022-02-11 06:52] #3001 closed

[2022-02-11 07:05] #3006 closed

[2022-02-11 08:03] astefanutti commented on #2983
I've downloaded the 1.8.0 binary from https://github.com/apache/camel-k/releases/download/v1.8.0/camel-k-client-1.8.0-mac-64bit.tar.gz and confirm it's the correct version:

[code]

It seems it's good to go 👍🏼.

[2022-02-11 10:42] squakez opened #3007 "Build artifact checksum not working"
In version `1.8.0` it seems we are having some problem calculating the artifact checksum:
[code]
We always have an empty value. This behavior may affect the incremental build, resulting every IntegrationKit built from base image (so, no incremental image available at the moment).

[2022-02-11 10:44] squakez commented on #2983
We shoud wait to have this #3007 fixed and backported. Hopefully I can have something by the end of the day.

[2022-02-11 12:20] squakez commented on #3003
By the way, you may have also been affected by #3007 which may have caused the incremental build not to work at all in the latest Camel K versions. That could be an additional reason to the high amount of containers you have experienced.

[2022-02-11 12:26] catshout commented on #3003
Thanks @squakez for the reply. Let me summarize my understanding ..

1. So an Integration Kit is 1:1 related to an Integration and is NOT re-usable for another Integration. Is my understanding right?
2. We will proceed with the workaround you suggested `kubectl integrationkit delete` to cleanup the space after the integration is running. Same with the deletion of the corresponding repository. Is t

[2022-02-11 12:40] squakez commented on #3003
No problem.

About point 1, that is not correct. The Kit should be reused as a base layer for Integrations that are similar (for instance, a similar set of dependencies). Let's say you develop this integration:
[code]
And then, another integration such as
[code]
We expect, the second integration to have an IntegrationKit built on top of the first IntegrationKit as there is only 1 dependency differ

[2022-02-11 14:29] catshout commented on #3003
@squakez I was wrong with point 3, the Integration Kit was the one for my test Integration.

Are there standards in which namespaces the Integration Kits are coming up?

What's about point 2? And here, when I'm going to delete the repository, will this be re-created?

Best
Gerald

[2022-02-11 15:12] squakez commented on #3003
The `IntegrationKit`s are created in the same namespace where the `Integration` is executed. About point 2, there could be side effects if you delete some other integration that is using such IntegrationKit. Make sure to delete only those Kits that have no Integration attached (ie, the interim ones that are coming from incremental tests you may have done on an Integration). The IntegrationKit won'

[2022-02-11 19:15] catshout commented on #3003
Hi @squakez I did just perform the following commands

`kamel uninstall --all --global
k delete ns camel-k
k delete ns integration
k create ns camel-k
k create ns integration
kcn integration
k create secret generic kaniko-secret --from-file=/home/cas-dev-gke/kaniko-secret.json -n camel-k
kamel install --build-publish-strategy=Kaniko --registry gcr.io --organization cas-dev-gke --registry-secret ka

[2022-02-13 12:33] himanshumps opened #3009 "Access channel in different namespace"
How do I access the channel in different namespace?

knative:channel/channel-name???

[2022-02-14 03:39] himanshumps commented on #3009
Even the knative endpoint is not working if I give the service url

[2022-02-14 06:47] oscerd commented on #2983
Lets wait for #3007

[2022-02-14 08:21] astefanutti commented on #3009
Cross-namespace references to Knative channels has been added in Knative 0.22 and has yet to be supported in Camel K: #2201.

[2022-02-14 09:12] himanshumps commented on #3009
But why the endpoint reference to different namespace channel(Inmemory chanel) with svc.cluster.local does not work. If it is a post over http, it should be supported

[2022-02-14 09:17] himanshumps commented on #3009
I tried creating a kamelet binding with uri option from source channel in one workspace to destination channel in another workspace with uri option as well but that also did not work.

[2022-02-14 09:33] tadayosi commented on #2776
Let me close this in favour of #2499

[2022-02-14 09:33] #2776 closed

[2022-02-14 10:00] lburgazzoli opened #3010 "If a KameletBinding is invalid, the related status is not updated to report an error"
Assuming a KameletBinding lacks sourece/sink, as example:

[code]

The operator will fail with something like:

[code]

But the error is not reported in the KameletBinding's status

[2022-02-14 10:44] squakez commented on #3003
All seems good. As you've installed the operator globally (`--global`), then certain resources (IntegrationKit) will be created in the operator namespace.

The kit will be used once again if that Integration Pod needs to be rescheduled or as an incremental layer for any further kit which has a similar set of dependencies.

A Builder is a configuration required by the build task to perform its oper

[2022-02-14 11:01] catshout commented on #3003
Tx @squakez for the replies. The overall picture becomes more and more clear now.

Could we influence the repository name and/or Integration Kit name when being created? This would help in terms of clarity which one is related to which configuration.

Is there a way to figure out all running integrations to a given Integration Kit?

So is there actually any kind of cleaning the operator is providi

[2022-02-14 13:05] catshout commented on #3003
@squakez One further remark from an architecture point of view.

If an Integration is being used by multiple Integrations, the Integration itself isn't self contained as it has dependencies to an Integration Kit. The relation between Integration Kit and Integration is 1:n, what I did understand now from your answers.

How does this fit into a micro service pattern? IMHO a micro service must be aut

[2022-02-15 08:35] squakez commented on #3003
Glad to help and clarify.

No, this is not possible. The name is autogenerated and it calculate hashes in order to simplify the comparison between kits.

Not automatically. You can get the Integration spec and figure it out the Kit used there.

Not yet, but it's definetely under the radar. See #2736

Contributions are welcome as usual!

[2022-02-15 08:42] squakez commented on #3003
Sharing a base layer is a tradeoff required to improve the speed for build/execution and to reduce the resource needed to store the images. I don't think it affect the autonomy of the microservice, given that the Kit is **immutable**. Also, when working with containers you always use some layer built in top of another. This is exactly the same concept.

[2022-02-15 08:49] squakez opened #3011 "Standard/Incremental build option"
The logic to configure either "standard" or "incremental" should be done in the _builder_ trait, where a configuration parameter could be added, and the corresponding build step added. It's a bit more subtle than that, because "incremental" image build step should be deactivated for Quarkus native build, from the _quarkus_ trait, that already manipulates the build steps, but that should be quite s

[2022-02-15 09:04] squakez opened #3012 "Upgrade deprecated linters"
Lint execution is producing these warnings:
[code]
We should fix them.

[2022-02-15 09:15] catshout commented on #3003
Tx @squakez that makes the concept behind more clear as well.

One of the main concepts behind Camel-K is to run the builds of an integration on the cluster, maintained by the Camel-K Operator. Nevertheless, is there a way when everything has been tested in test environment and an appropriate Integration Kit (built sometime before) is existing in the production cluster to perform the Integration i

[2022-02-15 11:38] catshout opened #3013 "kamel uninstall seems to remain some resources in the cluster"
We do have 2 namespaces

camel-k for the global Camel-K Operator
integration for integrations

The Camel-K Operator has been installed in global mode in the namespace camel-k.

I did perform the following commands on our k8s cluster to cleanup the Camel-K installation ..

[code]

After that I did run ..

[code]

I got a message so far ..

[code]

It seems that something remains even after the Oper

[2022-02-15 14:18] mmelko commented on #3005
I will look at this one.

[2022-02-15 14:19] #3007 closed

[2022-02-16 08:19] apupier commented on #2031
still relevant

[2022-02-16 08:19] apupier commented on #2075
still relevant

[2022-02-16 08:19] apupier commented on #2074
still relevant

[2022-02-16 09:50] phantomjinx opened #3017 "Migrate to recommended OLM channel naming best practices"
The OLM documentation has [recommendations](https://olm.operatorframework.io/docs/best-practices/channel-naming/) for naming of metadata bundle channels. Currently, camel-k uses a single version-named channel, eg. [stable-1.8.0](https://github.com/k8s-operatorhub/community-operators/blob/main/operators/camel-k/camel-k.package.yaml#L11). This requires users to change channel explicitly in order to

[2022-02-16 09:53] phantomjinx opened #3018 "Migrate the OLM metadata CSVs to bundle format"
The operator metadata published in the [community-operator](https://github.com/k8s-operatorhub/community-operators) catalog uses the older (and deprecated?) metadata format. Given the newer [bundle format](https://olm.operatorframework.io/docs/tasks/creating-operator-bundle/) has now been around some time and is preferred for new operators, it might be advantagous going forward to migrate this cat

[2022-02-16 13:17] crosscode-nl opened #3019 "cron.concurrency-policy does not work correctly"
When using cron.concurrency-policy with a long running route it does functionally not matter which value is chosen:

For example, when running:

[code]

with route:

[code]

It will create the cron job with concurrency policy: Allow , but the route will be restarted every minute anyway. Same goes for Forbid. CronJob contains Forbid as concurrency policy, so that works but the route still stops eve

[2022-02-17 06:20] oscerd commented on #2983
Is there something missing? I can start the release on Monday eventually.

[2022-02-17 08:29] squakez commented on #2983
Green flag from me

[2022-02-17 08:42] astefanutti commented on #2983
+1

[2022-02-17 08:48] oscerd commented on #2983
ok, perfect. I'll start the release process next week.

[2022-02-17 14:41] squakez commented on #3013
I've tried the scenario a few times and sometimes it works correctly, but sometimes it fails (for me it failed with a pending service-account resource). In theory, the removal procedure is taking care of all resources:
[code]
For the time being, you please use the `--force` option to overcome the problem.

[2022-02-17 15:42] squakez commented on #3019
I think you're missing to provide some scheduler, ie `-t cron.schedule="0/1 * * * *"`. In theory the `cron.auto` option (which default to true) should however have calculated that on the `timer` component. I think it can be some sort of bug, in the while you can specify the `schedule` option.

[2022-02-17 20:21] catshout opened #3021 "kamel local run/build practices for creating a YAML output"
We're running some kind of

`kamel run <file>.java -o yaml > <file>.yaml`

to create a yaml file for our CD pipeline based on FluxCD.

Does this also work locally w/o a cluster in place? e.g.

`kamel local run <file>.java -o yaml > <file>.yaml`

With the command I'm getting

`Error: unknown shorthand flag: 'o' in -o`

So is there any other possibility to create the yaml file without the k8s cluste

[2022-02-17 23:59] phantomjinx opened #3022 "OLM scorecard tests missing"
The following scorecard tests are missing from the [olm patch](https://github.com/apache/camel-k/blob/main/config/scorecard/patches/olm.config.yaml). These need to be incorporated to fully satisfy the OLM specification (and possible future gateway checks).
- olm-status-descriptors
- olm-crds-have-resources
- olm-spec-descriptors

Once these are included, they also need to pass. This will require t

[2022-02-18 00:01] phantomjinx commented on #3022
See documentation on markers -> https://sdk.operatorframework.io/docs/building-operators/golang/references/markers/

[2022-02-18 07:50] catshout opened #3023 "Camel-K Java native support - native run of a java route fails"
I've a fresh installed Camel-K 1.8.0 Operator. My sample route `hello.java` like

[code]

and tried to execute the following command

`kamel run -t quarkus.package-type=native hello.java`

With this I'm getting the error (excerpt from resource yaml

[code]

What am I missing here?

[2022-02-18 17:07] joes commented on #2736
This should be adressed in order to make Camel K truly ready for production use.

[2022-02-18 17:14] oscerd commented on #2736
Removed stale label

[2022-02-19 21:53] utkarsh-ship-it opened #3024 "logging.level.org.apache.camel=DEBUG does not affect integration logs."
I'm trying simple example with camel-k where I'm setting this property in log4j.properties  and also try passing as a --property. It's not working in either cases. Here is simple gradle build file for to check versions.

However, this is specifically with camel-k. When I run java file using kamel run Example.java

plugins {
    java
}

group = "org.example"
version = "1.0-SNAPSHOT"

repositories {

[2022-02-20 00:10] djencks commented on #2898
The upstream maintainer of the generator doesn't seem to be responding to my PR, so I think we're done with this for now.

[2022-02-20 00:10] #2898 closed

[2022-02-20 09:10] #3024 closed

[2022-02-21 03:41] tadayosi commented on #2490
Related: #2737

[2022-02-21 08:37] squakez commented on #2763
I think this was resolved by #2766

[2022-02-21 08:37] #2763 closed

[2022-02-21 08:42] squakez commented on #3021
Not through the `kamel local` unfortunately. Basically, the `local` subcommand is in charge to run the java application without knowing anything about Kubernetes. As the `Integration` is a CRD thought for Kubernetes, it makes sense to have a connected environment taking care of that as well.

[2022-02-21 08:52] squakez commented on #3023
I think we don't support Java because the joor dependency. @astefanutti can you confirm please?

[2022-02-21 08:56] astefanutti commented on #3023
Right, native compilation is currently supported for YAML and XML integrations, as well as Kamelets.

[2022-02-21 09:07] catshout commented on #3023
Thanks for your replies.

1. Will the Java native compilation supported in one of the next releases?
2. Can locally native compiled Java routes being used for Camel-K deployment?

Background of this the significant reduction of memory footprint and startup time of native compiled ressources. That's in my mind the real advantage for mass microservices.

[2022-02-21 09:11] catshout commented on #3021
Thanks for your reply @squakez.

Background of my question ist that we have an independent CD pipeline. For a YAML creation we need to create every time a Minikube on the build system and drop it afterwards. A lot of effort ..

So the independent (disconnected) YAML creation would be appreciated, if this is possible.

[2022-02-21 09:50] oscerd commented on #2983
Release is on vote.

[2022-02-21 13:41] johnpoth commented on #2736
I agree this is important +1. I often have to clean up my local image registry regularly.

That being said, it's hard/impossible for camel-k to know whether an integrationkit is going to be used or not in the future. We could try adding versions/tags to the integration that would help identify integrations in development so only the latest integrationkit needs to be saved.

[2022-02-21 16:27] k0pper opened #3027 "Expose Camel-related metrics (Prometheus)"
I installed Prometheus via a helm chart in my local minikube K8s cluster with camel k (1.8.0) installed:

[code]

after port-forwarding
[code]

I access the dashboard via localhost:8888. Also, the integrations that are running in my cluster also show up in the metrics. For instance, I can see the metric "kube_pod_start_time" for every pod that runs, including my integration pods.

However, camel-r

[2022-02-22 05:24] tadayosi opened #3028 "More user-friendly error messages for `kamel local` subcommands"
For example:
[code]
what it really needs here is to pass `--image` option.

[2022-02-22 08:09] tadayosi opened #3029 "Why do we println errors in `kamel local` instead of returning them?"
While closely examining the code of `kamel local` subcommands I found that they println errors instead of simply throwing them only in the `run` phase:
https://github.com/apache/camel-k/blob/main/pkg/cmd/local_build.go#L47
[code]
https://github.com/apache/camel-k/blob/main/pkg/cmd/local_run.go#L47
[code]
It causes inconsistency in how error messages are shown with the commands. Does anyone know wh

[2022-02-22 08:33] squakez commented on #3027
Hi there. I think you need to enable with `prometheus` trait. More info in general in the documentation: https://camel.apache.org/camel-k/1.8.x/observability/monitoring/integration.html

[2022-02-22 08:42] #2490 closed

[2022-02-22 08:59] k0pper commented on #3027
Hey,

it's already enabled, this is from my camel-k integrationplatform resource:

[code]

[2022-02-22 09:10] squakez commented on #3027
Okey, can you `kubectl get integration xyz -o yaml`?

[2022-02-22 09:18] k0pper commented on #3027
I have three integrations running. One KameletBinding, one file created from the Karavan Designer and one Java DSL Route.

[code]

[2022-02-22 09:46] k0pper commented on #3027
By the way, this is my installation command I use for installing Camel K 1.8.0

[code]

[2022-02-22 10:26] #2985 closed

[2022-02-22 10:30] squakez commented on #3027
Thanks, I can see all the required dependencies and configuration expected. Can you check the operator log to spot any suspicious error/warning? also, I've had a look at the documentation mentioning https://github.com/prometheus-operator/prometheus-operator/blob/v0.38.0/Documentation/troubleshooting.md#troubleshooting-servicemonitor-changes if it helps to sort it out.

[2022-02-22 10:56] k0pper commented on #3027
Dumb question, but where am I supposed to find the Prometheus Operator?

[code]

[2022-02-22 11:05] k0pper commented on #3027
Can you try setting up a fresh camel k onto minikube with prometheus by yourself and see if it works? I could use some steps to reproduce that

Otherwise, I am really running out of ideas. Documentation make it seem so easy to use Prometheus with Camel K but it isn't apparently.

[2022-02-22 11:26] k0pper commented on #3027
I also wondered why no custom CRD's are installed when deploying Prometheus with helm:

[code]

Is this an issue?

[2022-02-22 13:50] oscerd opened #3031 "Camel Pluggable Properties Source Feature: How to provide credentials for different cloud providers"
In Camel 3.16.0, we'll bring the ability of retrieving secrets directly from cloud providers secret manager/vault services (AWS Secrets Manager/GCP Secrets Manager/Azure Key Vault and Hashicorp Vault).

As reported by @astefanutti:

This issue is a placeholder, to discuss how to provide the credentials and what would be the best strategy.

[2022-02-23 09:19] k0pper commented on #3027
Thank you, not having the Prometheus Operator installed was the issue. For everyone dealing with the same problem, here are steps to install Prometheus with the Operator on minikube and being able to see camel k- and camel related metrics:

1. I installed all CRDs via the [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus) repository. I followed the instruction how to install

[2022-02-23 09:19] #3027 closed

[2022-02-23 09:50] davsclaus commented on #3027
Is the current camel-k documentation lacking some details in this matter? If so can we maybe create a ticket to remember to update the docs, and then you are surely welcome @k0pper to help with that.

Also if you think a blog post about monitoring camel-k with prometheus would be worth doing, then we welcome this and can have the blog cross posted on the Apache Camel front page

[2022-02-23 10:01] astefanutti commented on #3027
@k0pper thanks a lot for the detailed feedback. One detail:

That's the Camel K operator that creates the PodMonitor resources, not the Prometheus operator.

The existing documentation for the prerequisites on the Prometheus operator can be found at:

https://camel.apache.org/camel-k/1.8.x/observability/monitoring.html#prerequisites

As suggested by @davsclaus, it would be great to improve it if n

[2022-02-23 15:28] catshout opened #3033 "IntegrationKit creation based on YAML file fails"
I did create an IntegrationKit with the following command

[code]

The build was flagged as `ready` some time later and I could reference it for Integration creation. (Idea behind is to have a named set of IntegrationKits that can be re-used for Integrations of the same type.

At next I tried the same with kubectl and a YAML file `integrationkit.yaml`

[code]

[code]

The build finally fails with

[2022-02-24 00:14] #2744 closed

[2022-02-24 00:14] #1821 closed

[2022-02-24 11:26] #2499 closed

[2022-02-25 08:41] crosscode-nl commented on #3019
I don't think the bug is related to timer calculation. The bug is related to how the concurrency policy works. The Camel route seems to behave like it always is configured Replace. It is dissonant with what is configured in Kubernetes. It does not understand Forbid and Allow. The route will always be aborted and restarted.

[2022-02-25 11:40] Richardmbs12 commented on #1030
This is also applicable to the camel k helm chart values file attributes.
The service account in the helm chart can be enhanced as follows:

Current:

[code]

To Be:

[code]

This dynamic "annotations" config can be then beneficial for iam role annotations, or any other annotation valuableto be added to a service account, customizable via values file

[2022-02-25 15:29] Richardmbs12 commented on #1031
ECR support will be a big enabler. The problem with using .aws/credentials is that not everyone is able to use it. In my company we use SSO to assume roles, then token's expire after 8 hours. So even if I wanted to, I cannot use /root/.aws/credentials for kamel registrySecret

[2022-02-28 16:53] oscerd commented on #2983
Completed

[2022-02-28 16:54] #2983 closed

[2022-02-28 17:09] #2890 closed

[2022-02-28 17:36] #2891 closed

[2022-03-01 07:28] Mohid-A opened #3052 "Container Trait for Resource Allocation on Openshift"
Hello,

While trying to run a sample hello world program on openshift fails due to the resources allocation issues to the container. Openshift is setup to deny scheduling/creating any pods if deployed with no resource requests and limits are set. I have tried to run the integration using the following command but it doesn't work.

**VERSION**

red-hat-camel-k-operator.v1.6.3
Camel K Client 1.6.1

[2022-03-01 07:38] christophd opened #3053 "Add log-level setting on Camel K operator"
Give users the opportunity to control the Camel K operator log verbosity via log level settings.

The setting should be added as `kamel` CLI option on the `install` command (e.g. --log-level | -v) and on the operator deployment (e.g. log-level) so users can adjust the log level on an already installed operator.

The logger framework supports V levels from 0-10. The log level setting on the operato

[2022-03-01 07:48] tadayosi commented on #3029
Ah so we want to run the `deinit()` no matter how the `run()` goes?
[code]
Then why don't we use `defer` instead?  And furthermore, probably it's better to use `PostRunE` (and `PreRunE`) instead of doing everything in `RunE`.

[2022-03-01 08:08] tadayosi commented on #3029
Hmm, switching to `PreRunE` / `PostRunE` seems to be even necessary, as currently it appears that once you run `kamel local run --integration-directory xxxx/` and then kill the process with `ctrl-c` there are leftovers: `app/`, `lib/`, and `quarkus/`, so `deinit()` seems to be skipped.

[2022-03-01 08:23] oscerd commented on #3052
This is the upstream project. You need to ask to Red Hat support.

[2022-03-01 08:23] #3052 closed

[2022-03-01 10:10] catshout opened #3054 "Install Camel-K Operator based on Helm Chart with --global option"
We're integrating the installation of the Camel-K Operator into our CD pipeline based on Helm Charts.

Is there an option to configure the --global installation parameter within the Helm Chart?

Here https://github.com/apache/camel-k/tree/main/helm/camel-k I can't find this option.

Best
Gerald

[2022-03-01 14:32] squakez opened #3055 "Openshift integration tests failure"
I've noticed we're having some problems in the github actions tests. All the tests are warning with:

[code]

that means we're not using the client built from main for some reason.

[2022-03-01 14:33] #2751 closed

[2022-03-02 06:50] oscerd opened #3057 "Release 1.8.2"
We'll need to backport https://github.com/apache/camel-k/pull/3056

[2022-03-02 09:06] #2075 closed

[2022-03-02 09:06] catshout opened #3059 "kamel run with reference to an existing Integration Kit in another namespace"
I'm going to run an Integration with a reference to an existing Integration Kit.

[code]

When I'm using the `-o yaml > Hello.yaml` option I'm getting

[code]

The Integration should be deployed in the namespace `integration-dev`. The Integration Kit being referenced is located in the namespace `camel-k`.

I can change this in the YAML file like

[code]

and deploy afterwards with

[code]

The Int

[2022-03-02 09:14] apupier commented on #2074
some that would require url encoding like accent, or japanese/chinese characters.
The most important one to test is with space as it is the most common use case.

[2022-03-02 10:09] phantomjinx opened #3063 "Cannot upgrade from 1.8.x to 1.9.0-SNAPSHOT"
During upgrade tests, the 1.9.0-SNAPSHOT operator is installed in a 1.8.1 namespace but crashes on spin-up.
The log of the operator reveals the following:
[code]

Suggestion seems to be that the change in kamelet syntax is to blame (see #2987).

[2022-03-02 11:35] astefanutti commented on #3063
A migration path during the installation of the embedded catalog must be performed to address #2987.

[2022-03-02 16:41] oscerd commented on #3057
@astefanutti the main bottleneck is #3064 backport right?

[2022-03-02 16:42] astefanutti commented on #3057
@oscerd right. As it stands there are some tests failures that are suspicious.

[2022-03-02 18:11] phantomjinx commented on #3063
I upgraded 1.9.0-SNAPSHOT's build to 0.7.1 catalog release and that installed correctly.

[2022-03-03 00:16] #2107 closed

[2022-03-03 12:25] oscerd commented on #3057
Starting the release now.

[2022-03-03 13:29] oscerd commented on #3057
The release is on vote.

[2022-03-03 14:06] apupier commented on #2943
I tried with 1.8.1 but i still have the same errors

[2022-03-03 14:22] apupier opened #3077 "[regression] Cannot provide 2 resources with 1.8.0 and 1.8.1"
regression https://github.com/apache/camel-k/issues/2943 was marked as fixed in 1.8.1 but seems it wasn't.

I tried with 1.8.1 but I still have the same errors

double-checked the kamel installation:
[code]
[code]

example of error which seems really the same than in 1.8.0 (even the line numbers which might be strange):

[code]
the difference that I spotted with 1.8.0 is that 2 configmap are creat

[2022-03-03 21:16] phantomjinx commented on #3018
This is complete.

[2022-03-03 21:16] #3018 closed

[2022-03-03 21:32] phantomjinx commented on #2987
Note:
The error `fatal error: sync: unlock of unlocked mutex` concerns the use of sync.Once in the kamelet loading code. Documentation recommends that sync.Once should not be re-assigned within the function that is being executed. This error is the result.

See https://github.com/apache/camel-k/issues/3063 and related PRs for modification of code to ameliorate this problem.

[2022-03-04 08:48] squakez commented on #2943
Can you please share the Integration yaml configuration (ie, `kubectl get Integration xyz -o yaml`)?

[2022-03-04 11:07] squakez commented on #2107
Will be covered by #3031

[2022-03-04 18:03] phantomjinx commented on #3063
Fixed with https://github.com/apache/camel-k/pull/3078

[2022-03-07 03:21] #2074 closed

[2022-03-07 08:39] #2596 closed

[2022-03-07 12:42] oscerd opened #3085 "Post release steps: Operators manifests"
We need to find a way to automatize those steps.

We could for example create an ansible role to run, or a bash script, not sure.

[2022-03-07 13:48] apupier commented on #3077
[code]

[2022-03-07 13:48] apupier commented on #2943
provided in the new issue https://github.com/apache/camel-k/issues/3077#issuecomment-1060706525

[2022-03-07 14:27] squakez commented on #3077
Thanks @apupier. As far I can see the expected configuration is correct:
[code]
I will need to reproduce the scenario to understand what's going on. Keep tuned.

[2022-03-07 17:20] #3085 closed

[2022-03-08 00:14] #2737 closed

[2022-03-08 07:59] apupier commented on #2817
still an important feature even if upstream doesn't provide an out of the box solution currently

[2022-03-08 08:01] apupier commented on #2818
I think it is still a feature that can help users a lot. So putting comment to remove stale status

[2022-03-08 09:25] oscerd commented on #3057
Completed

[2022-03-08 09:25] #3057 closed

[2022-03-08 10:42] lburgazzoli opened #3090 "kamelet: allow to add additional attributes to in/out"
As today, a kamelet has the option to define the types it supports but that is limited to the following information:

[code]

Given that a kamelet may be more complex and the tooling using them may need more information it would be nice to have the option to add additional metadata, as example, in some case it may be useful to add an information about what is the Java class the output of a camel i

[2022-03-08 10:59] phantomjinx commented on #2758
Please assign this to me.

[2022-03-08 14:44] lburgazzoli opened #3091 "integration readiness condition is not reported to kamelet binding"
In the scenario below, an integration that is created out of a kamelet binding is not ready because of an issue when starting a pod

[code]

The integration has the following condition:

[code]

However the kamelet binding is reported as ready:

[code]

In such case the binding should be marked as failed ot at least it should have a condition reporting that is not ready.

[2022-03-08 14:54] catshout commented on #3023
Hi @squakez and @astefanutti, the topic of a native compiled resource came up today again. Are there any plans to enable this for Java based Camel-K Integrations? Thanks for a hint ..

[2022-03-08 17:30] brunoNetId opened #3093 "wrong XSD url generated with XML initialiser"
Running the command:

`kamel init sample.xml`

generates the following XML root node:

[code]

According to the Camel K team, the scheme generated should be HTTPS (instead of HTTP)

[2022-03-09 03:44] #3029 closed

[2022-03-09 08:33] squakez commented on #3059
No we have nothing like that. Maybe we could think to introduce a syntax such as `namespace/kit`.

[2022-03-09 09:09] catshout commented on #3059
Thanks @squakez. Could you than turn this into a feature request please?

[2022-03-09 09:10] squakez commented on #3059
Let's wait for others input. I have no strong opinion about the possibility to use cross namespace references, but others may have concerns about that.

[2022-03-09 09:20] astefanutti commented on #3059
Cross-namespace IntegrationKit references are already supported in the Integration type, so that seems like a reasonable request to surface it into the CLI.

[2022-03-09 13:26] catshout commented on #3059
Thanks a lot. The point is when the Operator has been installed with the `--global` option, let's say in namespace `camel-k` and we're going to create an integration in an other namespace, let's say `integration-dev`, the Integration Kit will be created in namespace `camel-k`.

[2022-03-09 13:29] astefanutti commented on #3059
Right, this primarily applies when the operator has been installed with the global option.

[2022-03-09 13:33] #3091 closed

[2022-03-09 17:05] catshout commented on #3023
Hi @squakez and @astefanutti . Could this also be turned into a feature request? Thanks in advance for your thoughts.

[2022-03-09 17:08] catshout commented on #3021
@squakez, @astefanutti, question here as well, might this become a feature request? Or is the connection to the Operator in fact necessary to do things especially for this part of the YAML creation?

[2022-03-09 17:09] catshout commented on #3054
Any comments. May be this can be turned into a feature request if this is not possible yet? Thanks @squakez and @astefanutti for comments/thoughts in advance.

[2022-03-09 17:12] catshout commented on #3059
Could this be turned into a feature request @squakez? Many thanks in advance.

[2022-03-10 08:01] apupier commented on #2462
the question is still open and relevant

[2022-03-10 09:46] squakez commented on #393
@oscerd I'm making some experiment. You're assigned to it. Do you mind if I got assigned instead?

[2022-03-10 09:48] oscerd commented on #393
Assigned to you!

[2022-03-10 13:28] rnetuka commented on #3093
PR (main): https://github.com/apache/camel-k/pull/3102
PR (release-1.8.x): https://github.com/apache/camel-k/pull/3101

[2022-03-10 13:51] phantomjinx commented on #3053
Going to work on this.

[2022-03-10 13:53] #393 closed

[2022-03-10 13:55] squakez commented on #3093
Thanks @rnetuka!! FYI, you can just create a PR on main and tag with the backport label to have it backported automatically.

[2022-03-10 13:56] oscerd commented on #3093
It won't work. It will only work if the branch has been pushed on this repository, if it's from a fork it won't.

[2022-03-10 14:16] squakez commented on #3093
Ah, okey, now I understand why it failed for me once! Thanks!

[2022-03-10 16:53] squakez opened #3106 "Nightly builds in test docker repo"
I'm recovering the nightly builds and I've noticed we're publishing them into some `testcamelk/camel-k` repository (see https://hub.docker.com/r/testcamelk/camel-k/tags). I wonder if we should instead use the official repo (apache/camel-k). I don't know if there is any policy limitation though from the foundation.

Then, another thing I noticed is that we are not using `latest` tag at all. I think

[2022-03-11 10:06] squakez opened #3107 "Nightly tag failure"
I'm trying to setup a nightly job to add a tag on our repo (which would trigger the nightly release process). [It is failing](https://github.com/apache/camel-k/actions/runs/1966158447) because of the following failure:
[code]
@oscerd or anybody else with admin privileges, do you know if we can include such an action in GH settings? or alternatively if there is any similar action we can use to tag

[2022-03-11 10:14] oscerd commented on #3107
I don't think it is possible to allow gh action with write access to an Apache repository. We can try to ask to ASF Infra.

[2022-03-11 10:16] #3005 closed

[2022-03-11 10:18] astefanutti commented on #3107
What's the strategy to maintain the nightly tags? While I see the value of having a single / updated nightly tag, I don't think polluting the repository with unbounded nightly tags would have neither value from the end users standpoint, nor the project developers.

[2022-03-11 10:22] squakez commented on #3107
Yeah, I was thinking that maybe we can just do that manually on demand, whenever we think it has some value? At the moment it is as simple as pushing a tag on the `main` branch.

[2022-03-11 10:26] astefanutti commented on #3107
I think the real need for users is to have a single "rolling" `latest` and/or `nightly` tags. Ideally this would be done in CI automatically.

[2022-03-14 12:41] ajbisht opened #3113 "cyrus-sasl-lib (CVE-2022-24407), CVE-2022-23806 and multiple go related vulnerabilities in Docker Image 1.7.0, 1.8.1, 1.8.2"
Hey in our project we are deploying Camelk in AKS and before deployment during image scan, camelk image is showing multiple vulnerabilities related to Go lab 1.16 version and also an important cyrus-sasl-lib (CVE-2022-24407.

We cannot deploy camelk unless we have these vulnerabilities fixed. Do we not scan docker images for Camelk before making them public or is there a way we can fix these vulne

[2022-03-14 13:11] oscerd commented on #3113
Is this a question or something else? No, we do not scan on each release.

[2022-03-14 13:13] ajbisht commented on #3113
Thank you @oscerd  for replying.

Actually need to know if in future releases will Kamel cli will be build with Go 1.17 or higher, as we are not able to use current
versions of Camelk in our setup due to these vulnerabilities .

[2022-03-14 13:14] oscerd commented on #3113
We have this PR not updated https://github.com/apache/camel-k/pull/2845

[2022-03-14 13:16] ajbisht commented on #3113
Oki Sure @oscerd  will track the PR .. thank you

[2022-03-14 13:22] oscerd commented on #3113
Since you're deploying to AKS, would you mind add documentation on how to do that? Here https://github.com/apache/camel-k/tree/main/docs/modules/ROOT/pages/installation/platform
Thank you. It would be useful.

[2022-03-14 13:25] ajbisht commented on #3113
Sure will add the document @oscerd

[2022-03-14 17:14] #3107 closed

[2022-03-15 08:53] squakez commented on #3106
Thanks @oscerd. I've managed to setup a single nightly release which is pushing to `testcamelk` repo. That configuration is taken from some organization secret (see https://github.com/apache/camel-k/blob/main/.github/workflows/release.yml#L52-L53). Can you please tell me if we have the equivalent for `camelk/camelk` staging as you were suggesting? replacing that should be enough to publish the nig

[2022-03-15 08:55] oscerd commented on #3106
I don't think we have something like that for camelk/camelk. We need @nicolaferraro for this purpose, because he set up the original account.

[2022-03-15 09:00] astefanutti commented on #3106
@oscerd Now that we have a single rolling tag, would that be acceptable to push it in `apache/camel-k`? That may not be obvious for users that `camelk/camelk` is legit, and requires the prudent ones to do their own research to assess whether it's fishy or not.

[2022-03-15 09:00] oscerd commented on #3106
Yes, it makes sense totally sense now.

[2022-03-15 10:01] squakez commented on #3106
Do we already have the secret configured for that account?

[2022-03-15 11:03] squakez opened #3120 "E2E failing in release-1.8.x"
Several fails are happening in `release-1.8.x` branch e2e testing:

https://github.com/apache/camel-k/runs/5542672234?check_suite_focus=true
https://github.com/apache/camel-k/runs/5542672426?check_suite_focus=true
https://github.com/apache/camel-k/runs/5542672190?check_suite_focus=true

[2022-03-15 14:36] squakez commented on #3106
@oscerd is it something already present in the setting of the project as it happens for `TEST_DOCKER_HUB_USERNAME`? Thanks.

[2022-03-15 14:37] oscerd commented on #3106
As far as I know no. The only case when we push on docker is when we release.. so it is done with personal accounts. We ask Infra to enable some accounts of the PMC.

[2022-03-15 14:46] catshout opened #3122 "java.lang.ClassNotFoundException: io.quarkus.bootstrap.runner.QuarkusEntryPoint after k8s node update"
Hi everybody.

Our k8s cluster has been updated yesterday to v1.22.6. After the update the Camel-K routes don't work anymore. We did create a sample route like

[code]

and did get the following error

[code]

Any ideas what might be the reason for and how to fix it?

[2022-03-16 08:19] squakez commented on #3106
Great, thanks. Let me know when we have any news so we I can do the needed changes. In the while we can use the testing docker hub. I've just checked and it replaces correctly the image.

[2022-03-16 12:33] squakez commented on #2659
We're still using it to generate the catalog, altough, it is also generated in Camel K runtime. I'm going to figure it out how to solve.

[2022-03-16 18:06] lucamaf opened #3124 "hello yaml example output"
I just tried the hello yaml example and I'm pretty sure we are not supposed to output this for every hello line in the container log:

`[39m[38;5;145m2022-03-16 18:03:54,035[39m[38;5;188m [39m[38;5;107mINFO [39m[38;5;188m [[39m[38;5;69minfo[39m[38;5;188m] ([39m[38;5;71mCamel (camel-1) thread #0 - timer://yaml[39m[38;5;188m) [39m[38;5;151mExchange[ExchangePattern: InOnly, BodyType

[2022-03-16 19:04] catshout commented on #3122
@squakez @astefanutti we did a lot of examination, with no success at all. Do you have an idea where we could search for the root cause of this behavior?

Camel Spring-Boot routes are running well in sam k8s Cluster as other Java programs. The nodes are still running on cgroup v1 level. What can we check further?

Many thanks for any hint in this case.

[2022-03-17 04:24] tadayosi commented on #3124
Have you tested it with the latest Camel K release?  I checked it with 1.9.0-SNAPSHOT and it seems to be fixed already.

[2022-03-17 08:27] squakez commented on #3124
@lucamaf is that the output coming from HTML `Pod` log panel? or is it coming from the CLI (ie, `kamel log xyz`)?

[2022-03-17 09:18] aboucham opened #3127 "Log a warn message once the component used has not a quarkus extension"
Log a warn message once the component used has not a quarkus extension.

For the moment, we see only the following lines in the operator log:

[code]

[2022-03-17 09:26] lucamaf commented on #3124
it is coming from the Pod log panel, the kamel log command output looks good

[2022-03-17 09:57] squakez commented on #3124
Then, it is likely some error in the way openshift show certain characters. I don't think we can do much about that :(

[2022-03-17 11:52] catshout commented on #3122
We did proof that Camel-K and the Integration are running on AWS cluster 1.21 but not on 1.22. So again .. any help to debug the issue would help.

[2022-03-17 11:59] oscerd commented on #3122
The only thing comes to my mind, is we updated the Kubernetes API to version 1.21.4 and it's in 1.8.2, so there wasn't any kind of work on 1.22.x

[2022-03-17 12:00] oscerd commented on #3122
https://github.com/apache/camel-k/pull/2655

[2022-03-17 12:08] catshout commented on #3122
@oscerd I did try Camel-K on GKE with Node version `v1.22.6-gke.300`, runs fine. Just with Camel-K 1.8.0, same as on our client's environment.

Any further hints where to find additional debug information? k8s logs may be?

[2022-03-17 16:24] valdar opened #3128 "Support operator hub bundle format in `make bundle`"
Would be nice to support operator hub bundle format (i.e.  https://github.com/k8s-operatorhub/community-operators/tree/main/operators/camel-k/1.8.2/manifests) with `make bundle` target.

[2022-03-20 00:15] #2812 closed

[2022-03-20 00:15] #2808 closed

[2022-03-20 08:59] atcol opened #3129 "Jsonata does not evaluate correctly"
With this Kotlin Route:

[code]

and this Jsonata spec (mounted as `transform.spec`):

[code]

I would expect this output (confirmed at [https://try.jsonata.org/BBnjH5TcA](https://try.jsonata.org/BBnjH5TcA)):

[code]

but instead I get:

[code]

i.e. only one field ("a") is produced in the result array.

I run this with:

[code]

My versions are:

Camel-k:
[code]

Camel-k Operator:
[code]

[2022-03-21 12:19] squakez commented on #3129
It looks to me some possible problem with the Camel Jsonata component. I think you can get better support trying to reproduce the problem in plain Camel and check with [Camel support](https://camel.apache.org/community/support/).

[2022-03-21 14:31] squakez opened #3130 "Nightly release fail to create an existing tag"
We're suffering this failure because we're trying to push a tag (`1.9.0-nightly`) that already exists. The process itself is fine, because we publish the image correctly (see https://hub.docker.com/r/testcamelk/camel-k/tags) but we should skip the git tag creation, if the tag already exists.

[2022-03-21 14:32] squakez commented on #3106
Hi @oscerd can I ask you if you have any update on this one? Thanks in advance.

[2022-03-21 14:33] oscerd commented on #3106
I didn't ask to Infra. I would probably first ask to @zregvart because he's the expert about Infra and credentials.

[2022-03-21 15:17] zregvart commented on #3106
There are some notes on this towards the bottom of [this document](https://infra.apache.org/github-actions-secrets.html).
The ASF policy [allows](https://www.apache.org/legal/release-policy.html#compiled-packages) distribution of compiled binaries, for end user convenience. For snapshot builds we need to carefully [steer end users away](https://www.apache.org/legal/release-policy.html#publication)

[2022-03-22 11:21] squakez commented on #3106
Thanks @zregvart . I see in the example it mentions the usage of certain secrets (`DOCKERHUB_USER` and token `DOCKERHUB_TOKEN`), but they must be provided in the configuration setting. As I understand from a previous comment from @oscerd, we don't have them set. The official release process is done with personal user accounts, so, if we want to proceed ahead we will need to ask those credentials.

[2022-03-23 08:20] atcol commented on #3129
I have raised this issue on the JSONata library's Github [here](https://github.com/IBM/JSONata4Java/issues/189).

[2022-03-23 08:20] #3129 closed

[2022-03-23 12:07] ricardo-oruspay opened #3132 "Invalid replica state for HPA"
Integration does not have initial state of replica required by HPA.

Simple deploy:

[code]

Integration OK:
[code]

HPA spec:
[code]

HPA can not find replicas field:
[code]

The workaround is force any scale:
[code]

Then HPA start working:
[code]

Version: Camel K 1.8.2

[2022-03-23 13:39] mmelko commented on #3002
I can look at this

[2022-03-25 08:51] squakez opened #3133 "Camel K operator scaling documentation"
Scaling the Camel K operator should be easily performed via:
[code]
However, we may provide some insightful documentation on the basics (ie, how the builds are performed, the resource reconciled, etc...)

[2022-03-26 11:54] KuthumiPepple commented on #2773
\assign

[2022-03-26 11:56] oscerd commented on #2773
Assignment is only for reporter or members of Apache organizatiob

[2022-03-26 12:05] KuthumiPepple commented on #2773
I am expected to make a contribution as part of the requirement for the
Outreachy internship with Apache. I think this is a good first issue I can
work on. How do I get this issue assigned to me.

On Sat, Mar 26, 2022 at 12:56 PM Andrea Cosentino ***@***.***>
wrote:

[2022-03-26 12:11] oscerd commented on #2773
A comment is enough

[2022-03-26 15:33] Gre8t commented on #2773
What is the proper output writer? And could this be assigned to me?

[2022-03-26 15:49] oscerd commented on #2773
Assigning issues is reserved to reporter and PMC members. A comment is enough but there is already another person commenting.

[2022-03-26 17:40] astefanutti commented on #2773
@KuthumiPepple to answer your question on the chat, the Cobra command output should be used, which can be retrieved with `cmd.OutOrStdout()`.

[2022-03-26 17:40] astefanutti commented on #2773
@Gre8t feel free to pick another issue labeled "good first issue".

[2022-03-26 20:15] Gre8t commented on #2773
Thanks @astefanutti, I guess you are my outreachy mentor. Nice to meet you.

[2022-03-26 21:52] cornelia247 commented on #3028
hello! please can this be assigned to me?

[2022-03-27 00:17] #2824 closed

[2022-03-27 17:02] astefanutti opened #3134 "`make build-resources` does not work on Windows"
The build on Windows fails because the `build-resources` target fails. The package name computed in the following location is not correct:

https://github.com/apache/camel-k/blob/8fcf47c258c00ae3671929ba018ba8aeee79772d/cmd/util/vfs-gen/main.go#L117

[2022-03-27 17:12] SubhasmitaSw commented on #3134
I was experiencing the same issue and looking for solutions; I'd want to address this because my primary development environment is on a Windows PC.
@astefanutti, could you kindly offer a brief description of the prospective solution you want, as well as any references?

[2022-03-27 17:18] astefanutti commented on #3134
@SubhasmitaSw I can see two possible work-around that I'd like to be confirmed:
* Copy the `script/Makefile` into the project root directory and try to run from there
* Overwrite the Makefile symlink at the project root directory with one created by `mklink`: https://docs.microsoft.com/fr-fr/windows-server/administration/windows-commands/mklink

Another option would be to run the commands from the

[2022-03-27 17:20] SubhasmitaSw commented on #3134
@astefanutti could you please assign this to me, I'd start working on it.

[2022-03-27 17:24] astefanutti commented on #3134
@SubhasmitaSw great, assigned :)

[2022-03-28 07:39] parul5sahoo commented on #3133
Hey @squakez, I would like to work on this issue. But I am a bit new to the community so would require some time and useful resources to draft the docs.

[2022-03-28 07:42] squakez commented on #3133
Thanks for your interest! In this case we only have the source code which can let use understand better how the scaling is performed. If you're looking for an entry level issue, I'd sugges to look at "[good first issue](https://github.com/apache/camel-k/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)" label instead.

[2022-03-28 07:44] parul5sahoo commented on #3127
Hey @aboucham, I would like to work on this issue, although I am a beginner, this seems like a fairly simpler solution to work around.

[2022-03-28 08:37] astefanutti commented on #3004
@parul5sahoo that's great! I've assigned it to you. It'd be a very useful enhancement 👍🏼.

[2022-03-28 09:00] squakez commented on #3127
Just assigned to you. Please, let us know if you need any help.

[2022-03-28 09:23] astefanutti opened #3137 "Use Kubernetes recommended labels"
We set a number of labels on the Camel K operator manifest itself, but also on the resources created by the operator.

We should aim at conforming to the Kubernetes recommended labels and deprecated the redundant ones:

https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2022-03-28 10:45] desirekaleba commented on #3137
Hi @astefanutti,

I am an Outreachy applicant expressing my interest in this project.

Would you please assign me this task?

[2022-03-28 10:46] astefanutti commented on #3137
@desirekaleba Great! assigned to you 👍🏼.

[2022-03-28 10:48] desirekaleba commented on #3137
Thanks, @astefanutti,

Would you provide more light on how to go about the issue, please?

[2022-03-28 10:57] Gre8t commented on #3012
Hello, how do I reproduce these warnings and could this be assigned to me.

[2022-03-28 11:01] squakez commented on #3012
You can run `make lint` to test locally.

[2022-03-28 11:01] Gre8t commented on #3137
hi @astefanutti can I and @desirekaleba work together on this. I am  Also an applicant.

[2022-03-28 11:04] oscerd opened #3138 "Prepare for releasing Camel-K with Camel 3.16.0"
First we'll need a new Camel Quarkus release I suppose.

But it's better to check, we moved some components from camel-k-runtime to Camel and we need to double check.

@astefanutti @lburgazzoli @squakez

[2022-03-28 11:06] squakez commented on #3138
Yes, likely we need camel->camel-quarkus->camel-k-runtime train released before applying the changes to camel-k.

[2022-03-28 14:20] astefanutti commented on #3137
@Gre8t that's better to have one applicant per issue so we can track contributions more easily. There are other issues labelled "good first issue" that you may want to work on. Thanks for your understanding.

[2022-03-28 16:21] Gre8t commented on #1155
Hi, I also looked through this and did not find any --config flag. Could you please elaborate more, so I can start documenting?

[2022-03-28 16:21] Gre8t commented on #1155
@astefanutti

[2022-03-28 16:45] astefanutti commented on #1155
@Gre8t I don't think this is about any `--config` flag.

This is about the Viper configuration, that can be stored locally and managed with:

https://github.com/apache/camel-k/blob/dab66604c12ba81cece7f58819753789517af3b6/pkg/cmd/root.go#L118

And in a couple of places like:

https://github.com/apache/camel-k/blob/dab66604c12ba81cece7f58819753789517af3b6/pkg/cmd/run.go#L365

[2022-03-28 16:48] phantomjinx commented on #3128
This has been done. All versions have been converted to bundle format.
Outstanding Items to be included in new releases:
1. Rename the CRDs and manifest to conform to what's generated by `make bundle` to make copying easier.
2. Add the tests directory containing OLM scorecard tests generated by `make bundle`.

[2022-03-28 17:48] Gre8t commented on #1155
is there a link to a sample of the configs. And what folder under docs should this documentation be in.

[2022-03-28 17:51] astefanutti commented on #1155
Unfortunately I don't think there is. You should be able to generate it by running commands, the location of the file being driven by:

https://github.com/apache/camel-k/blob/dab66604c12ba81cece7f58819753789517af3b6/pkg/cmd/root.go#L101-L110

[2022-03-28 18:00] astefanutti commented on #1155
I'd suggest to create an new file in https://github.com/apache/camel-k/tree/main/docs/modules/ROOT/pages/cli.

[2022-03-28 18:58] davsclaus commented on #1821
Have a prototype for camel-java-dsl to support POJOs
https://issues.apache.org/jira/browse/CAMEL-17784

This would in theory could work for camel-k also, if the .java files are mounted so the java routes loader can detect all of them in the same scan, and make them all compile together.

[2022-03-29 03:29] haanhvu commented on #2994
Hi @astefanutti @squakez, I would like to work on this issue. Could you assign it to me? I'm studying the codebase and may ask questions later.

[2022-03-29 07:25] squakez commented on #2994
Thanks for your interest.

[2022-03-29 08:12] haanhvu commented on #2994
@squakez @astefanutti as far as I can see, to fix this issue we need to edit camel-k/pkg/trait/mount.go and add a new test in camel-k/pkg/trait/mount_test.go

Is that right? Please help elaborate more.

[2022-03-29 09:23] squakez opened #3140 "Mount trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:35] squakez commented on #3140
Sure, probably it makes sense you start creating an example with the actual way of using `volume` in mount trait, so you can get some hands on the concepts you'll be working on.

[2022-03-29 09:38] squakez opened #3141 "Health trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:39] squakez opened #3142 "Knative trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:40] squakez opened #3143 "Logging trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:41] squakez opened #3144 "Prometheus trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:41] squakez opened #3145 "PDB trait usage example"

[2022-03-29 09:41] squakez opened #3146 "Route trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:41] squakez opened #3147 "Service Binding trait usage example"
Provide some example to show how to use the trait. See other examples in https://github.com/apache/camel-k/tree/main/examples/traits as a reference.

[2022-03-29 09:43] squakez opened #3148 "Tracing trait usage example"

[2022-03-29 09:44] squakez commented on #3140
You can base your examples on this one as well: https://github.com/apache/camel-k/tree/main/examples/volumes

[2022-03-29 09:57] phantomjinx opened #3149 "Improve the logging of quarkus build failures"
When an integration kit fails to be built, it is often the case that the only error message obtainable is in the status of the integration kit:
[code]

No other error messaging appears evident, either in the integration, the kit or the operator. Would be beneficial to try and capture the [output](https://github.com/apache/camel-k/blob/main/pkg/builder/quarkus.go#L193) of the quarkus operation and

[2022-03-29 10:53] pankaj892 commented on #3141
@squakez could give some description on what do we need to do solve this issue

[2022-03-29 10:58] squakez commented on #3141
Sure. I've added a description. Basically we need to think some example to show how to use the trait.

[2022-03-29 12:06] Gre8t commented on #3137
ok, I understand.

[2022-03-29 15:04] claudio4j opened #3151 "Update the DSL yaml doc about the extension section"
It mentions class `org.apache.camel.k.loader.yaml.parser.ProcessorStepParser` which doesn't exist in camel-k-runtime anymore.
https://camel.apache.org/camel-k/1.6.x/languages/yaml.html#_extending_the_dsl

yaml dsl [was moved to camel ](https://camel.apache.org/components/3.11.x/others/yaml-dsl.html)

[2022-03-29 19:11] SubhasmitaSw commented on #3148
To see better about camel-k integrations, taking up this issue will give a headstart. Kindly allocate this to me.

[2022-03-30 08:29] squakez commented on #3127
I think some possible way to fix it is to scan the log provided from the builder. However, I'm just noticing a more general scenario could be covered by #3149. @phantomjinx can you please confirm that with the work you're doing that you are covering also the error mentioned in this issue?

[2022-03-30 11:04] phantomjinx commented on #3127
@squakez
No. I don't believe it is. I think this refers to adding more logging messages whereas #3149 seeks to grab the quarkus logging if the command immediately [fails](https://github.com/apache/camel-k/blob/main/pkg/util/command.go#L41).

[2022-03-30 11:21] squakez commented on #3127
Thanks @phantomjinx. I was trying to think a simple approach to parse the log, capture the kind of error and bubble up into the Builder error conditions. However, for the sake of simplicity, I think we can start inspecting the content of the [maven log line here](https://github.com/apache/camel-k/blob/main/pkg/util/maven/maven_log.go#L67), and if it complains of a camel dependency missing a versio

[2022-03-30 12:06] jamesnetherton commented on #3127
Can't we verify the validity of any requested camel artifacts by attempting to look them up in the catalog, instead of parsing logs?

[2022-03-30 13:08] squakez commented on #3127
Yeah, it's a very good idea. Probably we can extend the functions in https://github.com/apache/camel-k/blob/main/pkg/util/camel/camel_dependencies.go to lookup into the catalog, otherwise returning an error. If we go through this path, I am not sure if it's still suitable as a "good first issue" for contributors as it requires a bit of knowledge of the project.

[2022-03-30 14:35] astefanutti commented on #1155
This issue is not about modeline, for which the documentation already exists. It's more about the local CLI configuration file that's generated by Viper.

[2022-03-30 14:48] Gre8t commented on #1155
Still haven't understood, but let me look through the code.

[2022-03-30 20:24] Gre8t commented on #1155
I think I can be able to fix this if I understand what a config file is. Is this an [example](https://github.com/weimeilin79/camel-k-example-event-streaming/blob/c7971a29552c6d418b71aad7ba4aab5b9930164d/kamel-config.yaml) of what a file based configuration looks like

[2022-03-30 20:29] Gre8t commented on #3147
could this be assigned to me

[2022-03-31 04:05] parul5sahoo commented on #3127
Incase the issue would need a bit of investing, I would like to collaborate on this issue with an experienced collaborator if that's possible..

[2022-03-31 08:02] squakez commented on #3127
Don't worry. Please, look for some other issue that you'd like to work on. I'm unassigning for now.

[2022-03-31 14:19] squakez commented on #2520
I am working on something related to the build, and we may think to find an easy way to bundle the known basic set of dependencies. We can use a similar approach on what we do with local `make images-dev`, where we copy development artifacts. As an example, we can see the following list of dependencies downloaded from a fresh 1.8.2 installation:

[1.8.2.log](https://github.com/apache/camel-k/files

[2022-03-31 15:20] imartinez-tws commented on #3021
Hi, we are also evaluating camel k and we were wondering if it is possible to externalise the build phase and image generation (e.g. running kamel local build) from an external CI/CD system and just be able to run from generated image. Maybe it is already possible but I haven't found any guideline that explain how to do this.

Thanks in advance.

[2022-03-31 15:44] parul5sahoo commented on #3004
@astefanutti can you share some resources that can help understand the codebase better?

[2022-03-31 15:50] squakez commented on #3004
You can have a look here: https://github.com/apache/camel-k/blob/main/pkg/cmd/log.go#L132 likely we should introduce a `--tail` option and keep waiting for the incoming log until an interrupt signal (CTRL-C) is sent.

[2022-03-31 16:05] catshout commented on #3021
Cool tx > Pasquale Congiusti ***@***.***> hat am 31.03.2022 17:44 geschrieben:

[2022-03-31 17:08] heiko-braun commented on #3021
We are doing out of band builds and run the images with operator. @lburgazzoli can provide more details

[2022-03-31 22:25] sanyud24 commented on #2850
@squakez Can I work on this issue?

[2022-04-01 07:32] squakez commented on #2850
Sure, thanks! Let me know if you need any help.

[2022-04-01 07:45] squakez commented on #495
Maybe we can provide some automation to recover the value we set in [CVS](https://github.com/apache/camel-k/blob/main/config/manifests/bases/camel-k.clusterserviceversion.yaml#L153) in the [compatibility matrix](https://github.com/apache/camel-k/blob/main/docs/modules/ROOT/pages/index.adoc#compatibility-matrix) in documentation.

@astefanutti is that value something we use to update manually? is t

[2022-04-01 07:53] squakez commented on #52
I think it is covered by https://camel.apache.org/camel-k/next/running/running.html#no-cli-integration

[2022-04-01 07:53] #52 closed

[2022-04-01 07:54] squakez commented on #35
We can provide a blog every year, such as: https://camel.apache.org/blog/2022/03/camel-k-roadmap-2022/ In this way we don't need to maintain a documentation page up to date.

[2022-04-01 07:54] #35 closed

[2022-04-01 09:24] #3137 closed

[2022-04-01 11:33] #2659 closed

[2022-04-02 07:23] Gre8t commented on #1155
hi, is this an example of what a file based configuration looks like
![Screenshot from 2022-04-02 08-22-43](https://user-images.githubusercontent.com/20660598/161371987-e24230b9-5437-4c4c-8581-dc4b6b3ff1ce.png)

[2022-04-02 12:43] Gre8t commented on #3145
Could this be assigned to me?

[2022-04-02 12:44] Gre8t commented on #3142
Hi, could this be assigned to me?

[2022-04-02 12:44] Gre8t commented on #3143
Hi, could this be assigned to me?

[2022-04-02 13:41] tejaswari7 commented on #3141
I would like to take this issue. Please assign it to me

[2022-04-02 17:13] Gre8t commented on #2915
Hi, could this be assigned to me?

[2022-04-02 17:58] Gre8t commented on #2915
I fixed this issue in pr #3160

[2022-04-02 18:18] AghaSaad04 commented on #495
Hi, I am interested in resolving this issue. Can anyone assign this to me.
Moreover, I believe this value will be updating with time. How are we gonna automate this? Will we be fetching it from somewhere and passing to docs? Kindly show some pointers so that I can fix this. Thanks

[2022-04-02 20:32] Gre8t commented on #3151
hhm, I don's seam to find where this class `ProcessorStepParser` is mentioned on the link provided. Can you please shed more light on this?

[2022-04-03 08:56] lburgazzoli opened #3161 "Error when running camel-k in global mode with label selection"
I've installed camel-k in global mode wit the following command:

[code]

Which generates a deployment with the following env vars:

[code]

At this point, if I create a kamelet like

[code]

The operator fails with:

[code]

[2022-04-03 08:56] lburgazzoli commented on #3161
/cc @astefanutti @squakez

[2022-04-03 09:42] lburgazzoli opened #3162 "operator: allow to configure the lock name"
As today, the operator has an hardcoded lock name for leader election

It would be nice to have an option to configure the lock name that an operator has to use in case of rolling upgrades where tho operators would run side by side in the same namespace.

[2022-04-03 09:42] lburgazzoli commented on #3162
/cc @astefanutti @squakez

[2022-04-03 12:58] lburgazzoli opened #3164 "simplify platforms handling/configuration"
We have not a concept of primary and secondary platform but it is not easy to understand all the implications and the configuration is not simple.

As follow up of https://github.com/apache/camel-k/issues/3162, I wonder if we should use the lock name form the operator as the name of the platform the operator is bound to.

[2022-04-03 13:49] lburgazzoli opened #3165 "kustomize: generate namespaced and descoped rbacs"
As today, a number of rbac can be found in the [repo](https://github.com/apache/camel-k/tree/main/config/rbac)  but when the operator should be installed in cluster mode, then all those rbca have to be translated from namespace to cluster (Role to ClusterRole, RoleBinding to ClòusterRoleBiding) which is of course possible but not very easy.

I wonder if we can generate them by default instead of h

[2022-04-04 04:46] lburgazzoli commented on #3164
Thinking a little bit more about the issue, can't we use `KAMEL_OPERATOR_ID`as a way to set both the lock id and the name of the platform the operator should use ?

[2022-04-04 07:24] #2773 closed

[2022-04-04 07:31] astefanutti commented on #1155
I think this example is specific to the `local run` and `local build` commands. That issue is more about the generic mechanism provided by Viper and configured here:

https://github.com/apache/camel-k/blob/dab66604c12ba81cece7f58819753789517af3b6/pkg/cmd/root.go#L101-L110

It is documented here: https://github.com/spf13/viper#reading-config-files

[2022-04-04 07:46] squakez commented on #3142
FYI, we do have already some basic example related to the Knative feature: https://github.com/apache/camel-k/tree/main/examples/knative I think we can use this issue to show some advanced usage and how to use the several parameters offered by the trait.

[2022-04-04 07:49] astefanutti commented on #495
The current `minKubeVersion` value from the CSV manifest is not up-to-date. If I remember correctly, it used to be a mandatory field for OperatorHub, but it doesn't seem to be required anymore, and was never updated. So I'd be inclined to removed it from the CSV, and have the supported Kubernetes versions documented in the compatibility matrix.

[2022-04-04 07:56] squakez commented on #495
@AghaSaad04 as pointed by @astefanutti , we can remove it from the manifest config file and for the moment include an entry to the documentation which we will have to update manually.

[2022-04-04 08:04] squakez commented on #2816
Fixed in c637a04e34bda4a524c06a4d3f845cda912874b5

[2022-04-04 08:04] #2816 closed

[2022-04-04 10:20] squakez opened #3167 "Local dependencies examples"
We should include some example related to the local dependencies feature.

_Originally posted by @squakez in https://github.com/apache/camel-k/pull/2835#pullrequestreview-928614436_

[2022-04-04 10:20] squakez commented on #3167
cc @johnpoth

[2022-04-04 10:47] johnpoth commented on #3167
Thanks @squakez ! I was about to create some follow up stories!

So I think the example could easily be constructed from one of the IT [test](https://github.com/apache/camel-k/blob/d6660dc7a2bda3b824b24ae5f80ccf15cc6e305e/e2e/registry/registry_maven_wagon_test.go#L123). Mentioning CLI [configuration](https://github.com/apache/camel-k/blob/26423a26f5244170912df372214d60e92602c4d5/docs/modules/ROOT/

[2022-04-04 15:18] haanhvu commented on #2747
@squakez I think I can fix this. Assign to me please

[2022-04-04 15:28] squakez commented on #3161
I think the problem is because when you install the `foo` operator on the `bar` namespace, it creates an IntegrationPlatform which is not assigned to that specific ID, therefore is not reconciled. As a workaround you can edit the `bar` IntegrationPlatform adding:
[code]
As soon as that is reconciled, the `foo` namespace Integration won't fail anymore.

[2022-04-05 09:22] squakez commented on #3165
cc @phantomjinx

[2022-04-05 09:56] #1802 closed

[2022-04-05 13:08] oscerd commented on #3138
First PR on camel-k-runtime: https://github.com/apache/camel-k-runtime/issues/805

Using the staging 2.8.0 camel-quarkus.

[2022-04-06 09:46] squakez opened #3175 "Split Operator binary from Kamel CLI binary"
Right now we use `kamel` binary as both the operator binary to be executed on the Pod and as the CLI we ship to final user. Although the size of the file is not yet too big (around 30 MB), I think we could benefit from having 2 separate binaries, the CLI to be shipped to the users and the operator to be bundled into the container image.

Reactions?

[2022-04-06 09:47] oscerd commented on #3175
Frankly, at this stage, I don't see a good reason for doing it.

[2022-04-06 09:50] squakez commented on #3175
Thanks @oscerd. Just to complete the quick description above, the idea would not to break the project in separate subprojects, but have the same release cycle and procedure. The only thing is that we will build 2 deliverables which serve different concerns.

[2022-04-06 10:34] johnpoth commented on #3167
Ideally the example should showcase both a JAR and some sort of a data [file](https://github.com/apache/camel-k/blob/d6660dc7a2bda3b824b24ae5f80ccf15cc6e305e/e2e/registry/registry_maven_wagon_test.go#L92) (maybe a CSV)

[2022-04-06 10:42] johnpoth opened #3176 "Image Registry"
When pushing artifacts to the Image Registry from the Kamel CLI it would be cool if we could retrieve the image push secret and CAs tied to the Image Registry that are stored in the *IntegrationPlatform* CR and pass them on to Spectrum.

Currently the user has to set this up [manually](https://github.com/apache/camel-k/blob/26423a26f5244170912df372214d60e92602c4d5/docs/modules/ROOT/pages/cli/cli.a

[2022-04-06 11:53] betonetotbo opened #3177 "Make CLI --output argument more clean"
Currently, when you run an integration and just want the yaml or json of it some "extra" lines are printed at the begining.

[code]

This 2 lines must to be "skipped" if you need to catch the output:

[code]

My suggestions:
- Create a `--quiet` to supress this "extra" lines to print online the yaml/json.
- Create a `--output-file <FILENAME>` to write the yaml/json to an specific file.

Another th

[2022-04-06 13:15] squakez commented on #3177
Another possibility is to redirect the informative output to `stderr` instead. There was a related issue here #3021

[2022-04-06 19:07] Gre8t commented on #1155
If I'm not mistaken, you're referring to the integration file when you say "file-based configuration".

[2022-04-07 01:54] tadayosi commented on #1155
@Gre8t @astefanutti

If I'm not mistaken, this issue is talking about this feature: #1108  That issue description should give you an idea of what the file based configuration can do with kamel cli.
So in essense, you can pass config parameters to the cli with a config file, just like you do with env vars or cli parameters.

[2022-04-07 08:38] oscerd commented on #2826
Do we still want to move everything in a different repository?

[2022-04-07 08:40] squakez opened #3180 "OLM basic installation integration test"
We are already covering the `upgrade` procedure when providing an OLM-based installation. We should leverage that test case and provide a more basic one to cover the simple installation only. It can be later extended with further coverage on other features related to the OLM installation.

[2022-04-07 08:42] squakez commented on #2826
+1 for me. We can link the example folder in the new location.

[2022-04-07 10:08] Deepthi562 commented on #3144
I'm interested in solving this...can I be assigned with this?

[2022-04-07 10:19] Deepthi562 commented on #505
can it be assigned to me?

[2022-04-08 08:47] Gre8t commented on #1155
Eureka!!! I think I figured it out. Let me confirm my thoughts first

[2022-04-08 08:58] Gre8t commented on #1155
My documentation is based on these flags in [install.go](https://github.com/apache/camel-k/blob/939bc58356994e401b484a17603dd7f85a8cd1e5/pkg/cmd/install.go#L549).

[2022-04-08 12:34] astefanutti opened #3182 "Add `.status.observedGeneration` to Camel K CRDs"
It's considered a best practice to add a `.status.observedGeneration` field to CRDs that define a status sub-resource, and that is updated with the latest `.metadata.generation` value at each reconciliation.

[2022-04-09 00:16] #1480 closed

[2022-04-09 04:47] tejaswari7 commented on #3182
I would like to work on this issue. Please assign it to me

[2022-04-09 06:06] SubhasmitaSw commented on #3134
@astefanutti this issue description should now be changed to address the major problem, isn't it?

[2022-04-09 14:59] Gre8t commented on #3012
close

[2022-04-10 16:19] SubhasmitaSw commented on #3182
Currently, I'm working on this @tejaswari7

[2022-04-11 07:17] astefanutti commented on #3134
@SubhasmitaSw I've updated the issue title and description. Let me know if that's correct.

[2022-04-11 07:22] astefanutti commented on #3182
@tejaswari7 I forgot to update the issue as @SubhasmitaSw started working on this few days ago. Feel free to pick another good first issue.

[2022-04-11 08:12] SubhasmitaSw commented on #3134
@astefanutti  Yes, It looks good now. One things, is this still to be considered a `good-first-issue`?

[2022-04-11 08:27] phantomjinx opened #3183 "Improve the reliability of e2e tests by installing operator globally as a pre-requisite."
Tests on the cluster can randomly fail due to a variety of issues that never get repeated (even in the same test suite), eg. the catalogsource is slow to spin up and the test timesout. Since the e2e tests are less about the installation of the operator and more about the types of resource exposed to it, it seems prudent to try and improve reliability (and even performance) by installing the operat

[2022-04-11 08:36] squakez commented on #3144
It is already solved. Thanks for you interesest. Feel free to look at any other issue though.

[2022-04-11 08:36] #3144 closed

[2022-04-11 10:15] astefanutti commented on #3134
@SubhasmitaSw I was inclined to be optimistic, but I infer from your comment that you suggest it may not qualify :) I trust your feedback and let's remove the label 👍🏼.

[2022-04-11 14:28] Gre8t commented on #1155
Hi, can this be assigned to me?

[2022-04-11 15:27] #3130 closed

[2022-04-12 00:16] #2810 closed

[2022-04-12 05:50] KuthumiPepple commented on #2318
I'd like to work on this

[2022-04-12 07:56] squakez commented on #2915
I can see @Gre8t was working on it

[2022-04-12 08:25] squakez opened #3190 "Update allowed release Github action"
Just noticed it is failing in https://github.com/apache/camel-k/actions/runs/2151852842

I had tried to replace the archived release action (`actions/create-release`) we used with a new supported one `ncipollo/release-action` which would also fix the problem of updating the nightly release. Unfortunately it seems we need to update the project settings to allow that one.

[2022-04-12 09:16] squakez opened #3191 "E2E errors in `1.8.x`"
The 1.8.x release branch is failing with following errors:
[code]

[2022-04-12 09:33] #3093 closed

[2022-04-12 09:36] #3055 closed

[2022-04-12 09:37] squakez opened #3192 "Cosmetic log error"
We should fix the following trace:
[code]
to remove the memory address printed before the warning.

[2022-04-12 09:38] squakez commented on #1028
I guess Camel sources are no longer supported as they were replaced by Kamelets.

[2022-04-12 09:41] squakez commented on #1691
Please retest with latest Camel K version, and reopen if it is still an error.

[2022-04-12 09:41] #1691 closed

[2022-04-12 09:42] #1706 closed

[2022-04-12 12:58] squakez opened #3195 "Kamel run -o incompatible with --dev"
Running
[code]
Will produce an error like
[code]
We probably need to include a check to warn the user the two options are not compatible.

[2022-04-12 13:10] #3192 closed

[2022-04-12 15:16] tejaswari7 commented on #3141
I'm trying to run the sample integration in dev mode but, it seems to be stuck there for a while now!!
and also it shows phase changed to error
![image](https://user-images.githubusercontent.com/55801723/162995252-89c75ab4-bb67-45a6-a696-a0bf5d8cb1e1.png)

@squakez any suggestions would be helpful

[2022-04-12 15:21] squakez commented on #3141
For some reason it did not build the Kit. Please try to reset your work (`kamel reset`) and they retry to see if that fixes. It would also be good to have a look at the operator log (`kubectl logs camel-k-operator-xyz`) and see the errors appearing there.

[2022-04-12 15:26] tejaswari7 commented on #3141
I forgot to mention that the build for Golang failed!!
![image (1)](https://user-images.githubusercontent.com/55801723/162997770-0a4ee4eb-5830-45a8-8f85-c29ccd67f28e.png)

could this be the possible reason for integration not running?

[2022-04-12 15:48] haanhvu commented on #3141
This is not correct Java syntax

[2022-04-13 07:48] squakez commented on #3141
The project build failure is a separate issue to this. About the different languages examples, please have a look at the following: https://github.com/apache/camel-k/tree/main/examples/languages

[2022-04-13 09:17] oscerd commented on #3190
We have two ways:
- Makes INFRA checks if this action could be added to the enable GH Actions
- Add the action inside the repository, like we have for backport action.

[2022-04-13 09:25] #3161 closed

[2022-04-13 09:30] squakez commented on #3190
I'd prefer to go with the first option, otherwise we have to maintain the action upgrades on our own. Please, let me know which is the procedure to put in contact with INFRA, so I can follow up with this.

[2022-04-13 12:25] catshout commented on #3122
Finally we did find the reason, that in our (managed) cluster environment the RBAC has been changed so that the Operator wasn't allowed to load dependencies further.

For an improvement here it would be hepful to see such information within the Operator logs.

[2022-04-13 17:30] tejaswari7 commented on #3141
Sure!!

[2022-04-14 03:42] tadayosi commented on #3122
@catshout What was changed in the RBAC?  Depending on the info, we might be able to find a way to improve the operator so that it can shows some helpful message in the log.

[2022-04-14 06:17] tadayosi opened #3203 "Camel K CLI panics when unknown command is passed"
With the latest snapshot:
[code]
For 1.8.2 it just shows:
[code]

[2022-04-14 09:09] arnouthoebreckx opened #3205 "Nil pointer dereference tracing trait"
Having issues with trying to run an Integration that uses the tracing trait with the following errors in the operator.

We're currently running the helm-operator, but I tried this with the 1.8.x operator-channel on Openshift with the same issue.

[code]

This is the following setup for the integration

[code]

And we have the following IntegrationPlatform applied
[code]

[2022-04-14 15:52] davsclaus opened #3206 "kamel init - Use camelCase for yaml created sample files"
The camel DSL for yaml is aligning to use camelCase ;)

The kamelet init command outputs code that uses dash case

These 2 files
https://github.com/apache/camel-k/blob/main/resources/templates/kamelet.tmpl
https://github.com/apache/camel-k/blob/main/resources/templates/yaml.tmpl

change the following from -> to
set-body -> setBody
set-header -> setHeader

[2022-04-14 17:00] SarveshLimaye commented on #3206
Hey @davsclaus can I work on this issue ?

[2022-04-14 18:53] davsclaus commented on #3206
@SarveshLimaye yes sure you are welcome to work on this

[2022-04-14 20:28] jlangy opened #3207 "Jitpack example deployment fails"
Hello,

I am trying to get [this example](https://github.com/apache/camel-k/tree/main/examples/jitpack) linked from the documentation for jitpack working in openshift. I am running the command `kamel run Jitpack.java --dev -d github:squakez/samplejp`. I get the following result:

[code]

I am pretty sure I'm doing something wrong with jitpack since changing the `Jitpack.java` file to exclude the d

[2022-04-15 04:43] tadayosi opened #3210 "[E2E] Split integration test suite for kubernetes and openshift CI workflows"
Now that GH Actions allows partial re-runs of workflows for only failed ones, it should be beneficial to split long-running workflows such as `kubernetes` and `openshift` into smaller jobs, so that only failed set of tests can be re-run.
https://github.blog/2022-03-16-save-time-partial-re-runs-github-actions/

Currently `kubernetes` and `openshift` workflows run this set of integration tests in on

[2022-04-15 04:52] #3203 closed

[2022-04-15 04:58] oscerd commented on #3190
You need to create an issue at https://issues.apache.org/jira/browse/INFRA asking for enabling the gh action if possible.

[2022-04-15 05:03] tadayosi commented on #3190
Just FYI, here is my INFRA ticket when I requested approval of container-tools/microshift-action:
https://issues.apache.org/jira/browse/INFRA-22382

[2022-04-15 05:13] tadayosi opened #3211 "Add e2e test for kamel run --dev in a warmed-up environment"
Once an integration is built and the kit is available, `kamel run --dev` should start up really fast, in the order of seconds. E2E test should cover this scenario.

[2022-04-15 09:22] senayuki opened #3212 "[SOLVED]Cant specify fastjson when marshal"
I trying to use fastjson instance of jackson, with camel-k 1.8.1, so I wrote this yaml
[code]

And I got this error in container
`java.lang.IllegalArgumentException: Unexpected type: class org.apache.camel.model.dataformat.JsonDataFormat`

I'm very confused. Why doesn't the "library" usage I found in the unit test of the source code work.
In addition, I think the yaml file of camel-k also puzzles

[2022-04-15 09:36] oscerd commented on #3212
It should be:

[code]

your indentation seems to be wrong

[2022-04-15 09:37] oscerd commented on #3212
It's a different way of writing routes through YAML, so there no automatic conversion, for the moment, from plain camel or Java DSL, to YAML.

[2022-04-15 09:38] oscerd commented on #3212
Also Jackson is a thing, Fastjson is another thing.

[2022-04-15 09:41] senayuki commented on #3212
Ow ow ow ow, I did make an indentation mistake. I was stupid! Thanks for your help!
The Jackson dependency is that I forgot to remove it when I was testing at the beginning, which is not a problem

[2022-04-15 10:02] senayuki commented on #3212
There is another question that puzzles me. I can define a custom serializer module for Jackson in normal Java( just like moduleClassNames, JavaTimeModule  below), but if I use yaml file, do I have any way to use my class without deploy my jar to maven? Just define a class in yaml, and use it, Is this impossible?
[code]
The class I want like this
[code]
What I want to do is let Jackson serialize Lo

[2022-04-15 10:32] #3212 closed

[2022-04-15 11:28] oscerd commented on #3212
My suggestion is to use jitpack while developing.

[2022-04-15 23:41] KuthumiPepple commented on #3195
I'd like to be assigned this issue

[2022-04-16 10:15] haanhvu commented on #1773
I'm working on this. Sending a PR soon.

[2022-04-16 13:24] parul5sahoo commented on #3004
@squakez so I was looking at the codebase, was pondering whether I need to create a new flag [like this](https://github.com/apache/camel-k/blob/cb9b886f964f398e14a02965896267f07190eec2/pkg/cmd/run.go#L116) and try to incorporate that in the usage of log command ?

[2022-04-17 04:08] haanhvu commented on #2818
I'm working on this. Sending a PR soon.

[2022-04-17 12:04] SaumyaSachdev commented on #2586
Hi, I'm an Outreachy applicant and I'd like to be assigned this issue

[2022-04-17 14:30] Komal7209 commented on #471
Is this issue being assigned to someone? @astefanutti , If not could you assign this to me

[2022-04-17 14:50] Komal7209 commented on #471
Hi @astefanutti  Could you give me link to some other document according to which I need to document all the things which are mentioned in above document or is there some template for the same?

[2022-04-17 17:15] haanhvu commented on #2994
From what I see here:
https://github.com/apache/camel-k/blob/main/pkg/trait/trait_types.go#L566-L592
The mount trait will mount the PVC, no matter if the PVC is statically or dynamically provisioned.

Is that right @squakez @astefanutti ?

[2022-04-18 07:34] squakez commented on #2586
Thanks for the interest. Please, reach out to me if you need any help.

[2022-04-18 07:56] squakez commented on #3205
Thanks for reporting. That trace appears on some `kamel` command execution or on the operator log?

[2022-04-18 08:14] squakez commented on #3206
We have many more places where to apply the replacement. I suggest we target a replacement in all the project.

[2022-04-18 08:17] squakez commented on #3207
Thanks for reporting. We should understand why this is failing. Would you mind having a look at the operator log trace? We also can get the reason why it failed looking at the Builder (`kubectl get builder -o yaml`).

[2022-04-18 08:22] desirekaleba commented on #3210
Hi @squakez,

Can I work on this?

[2022-04-18 08:25] squakez commented on #3211
We already have Dev mode tests: https://github.com/apache/camel-k/blob/main/e2e/common/cli/dev_mode_test.go - or were you thinking at something different?

[2022-04-18 09:02] squakez commented on #471
I think you can make some example similar to what is done in the example directory. As a structure, have a look for instance at this example: https://github.com/apache/camel-k/tree/main/examples/kamelets/error-handler - you can make a step by step sort of tutorial to show some basic usage.

[2022-04-18 09:03] squakez commented on #2994
Yes, that's my understanding too.

[2022-04-18 09:04] squakez commented on #2880
Ref #3213

[2022-04-18 09:14] squakez commented on #3210
Sure, thanks!

[2022-04-18 09:18] #3149 closed

[2022-04-18 09:23] squakez commented on #3190
Thanks folks! Tracked in https://issues.apache.org/jira/browse/INFRA-23154

[2022-04-18 09:26] haanhvu commented on #2994
@squakez if that's the case, then this issue already had a solution?

[2022-04-18 09:40] tadayosi commented on #3211
Yes, our QE thinks that we advertise the dev mode starts an integration really fast in the second run or later, i.e. in 1s, but there is no such e2e test that verifies the scenario.

I plan to add another test to `dev_mode_test.go` which runs an integration twice in dev mode and then verifies the second run starts in the order of seconds, say 10s.

[2022-04-18 10:42] squakez commented on #2994
I think the idea of the issue is to have the trait accepting the parameters to create the PVC on the fly. As an example, we can think the following `kamel run -t mount.storage-class=vpc-block -t mount.storage-request=30Gi -t mount.storage-mode=ReadWriteOnce ...` which is in charge to create the PVC on the cluster, and later, mount accordingly on the Integration.

[2022-04-18 18:45] KuthumiPepple commented on #2883
I would like to work on this. Can you assign it to me

[2022-04-19 04:51] tadayosi commented on #3211
Now I think it's a good candidate task for the internship program. If anyone has an interest to work on this, I'm willing to help you.

[2022-04-19 04:53] KuthumiPepple commented on #3167
I'd like to work on this

[2022-04-19 05:00] haanhvu commented on #3211
@tadayosi I'll do this!

[2022-04-19 05:02] #3138 closed

[2022-04-19 05:03] oscerd opened #3220 "Release 1.9.0"
We have already camel-k-runtime 1.13.0 and camel-kamelets 0.8.0 staged.

I'd like to release 1.9.0. Is there something that needs to be merged before?

@squakez @astefanutti

[2022-04-19 07:48] astefanutti commented on #3220
+1, thanks @oscerd!

[2022-04-19 07:56] astefanutti commented on #1155
Fixed by #3187.

[2022-04-19 07:56] #1155 closed

[2022-04-19 08:01] squakez commented on #3167
Just assigned, thanks!

[2022-04-19 08:07] squakez commented on #3220
I'd like to try to merge this before releasing #3198 . Let me see if I manage to solve the test failures within a couple of hours, otherwise we can release without that.

[2022-04-19 08:08] arnouthoebreckx commented on #3205
This is on the operator log.

[2022-04-19 08:13] christophd commented on #3220
I also have a tiny change in the making that I use to grab metrics on the build queue duration per integration during my performance testing. I will also try to get this done before noon if you do not mind.

[2022-04-19 09:57] squakez commented on #3220
There are hard failures in #3198 I will need more time to fix. We can proceed releasing 1.9 without this feature.

[2022-04-19 10:12] christophd commented on #3220
Same here. I need more time to make it a mature change. Please move on with the release without my changes

[2022-04-19 10:34] oscerd commented on #3220
We probably need to release runtime again

[2022-04-19 10:48] SaumyaSachdev commented on #2586
Hi @squakez, I tried reaching out to you on Zulip with a few questions. Could you please help with them?

[2022-04-19 11:18] squakez commented on #2586
Hello, I've already answered in the chat, though, it's easier for me following up here asynchronously. As a reference you can used the output produced by the following statement:
[code]
We must convert that index starting with 0 to start with 1 and having the very same output. Likely a unit test as the one available at https://github.com/apache/camel-k/blob/main/pkg/cmd/bind_test.go#L61 will help

[2022-04-19 15:41] SaumyaSachdev commented on #2586
![makeError](https://user-images.githubusercontent.com/15673508/164042107-289b0da3-b1d9-404a-b2fd-7af5fa2ef995.png)
I'm trying to test my changes locally by building the repository and replacing the binary in my /usr/bin, however, I get this error. I was successfully able to build this project earlier. Could you please help resolve this error? I'm not sure what is wrong here