[2020-08-13 11:03] anandkane commented on #1663
Updates:

The same example runs successfully on Minikube.

Kubernetes versions on Minikube
{
  "clientVersion": {
    "major": "1",
    "minor": "18",
    "gitVersion": "v1.18.6",
    "gitCommit": "dff82dc0de47299ab66c83c626e08b245ab19037",
    "gitTreeState": "clean",
    "buildDate": "2020-07-15T16:58:53Z",
    "goVersion": "go1.13.9",
    "compiler": "gc",
    "platform": "linux/amd64"
  },
  *

[2020-08-13 11:08] anandkane commented on #1663
Uopdate 2: When GKE is updated to use the 'latest' kubernetes version, the error changes to "camel-k-integration-kit-controller  Cannot reconcile Integration Kit kit-bsqgln23se6vbbiof2d0: cannot create build: Build.camel.apache.org "kit-bsqgln23se6vbbiof2d0" is invalid: type: Required value"

kubernetes version after update:

  "clientVersion": {
    "major": "1",
    "minor": "18",
    "gitVersio

[2020-08-13 12:33] lbroudoux commented on #1651
Hi @nicolaferraro, wondering if you had chance checking my comment.

My Camel-K operator version is the last one from Red Hat techpreview and it is aligned with the `kamel` version I'm running.

Anyway, I've tried using the `1.1.0` version of `kamel` CLI and still facing the same issue : `No routes in CAMEL_K_ROUTES environment variable` error...

I cannot figure out on what's going wrong... seems

[2020-08-13 15:13] #1662 closed

[2020-08-16 15:21] Emmanuel35 commented on #1661
Hi Mathieu,

Please use this command with
+ insecure connection to your registry
+ use Kaniko cache

[code]

This shoud works.

[2020-08-17 08:20] jeremie-H commented on #1661
Hi Emmanuel,
It's better indeed,
Before Mathieu and me, we've got only the `camel-k-operator` pod created and in error, now we've got :
[code]
And now logs in camel-kit are the following:
[code]

[2020-08-17 09:01] Emmanuel35 commented on #1661
Do you have a Service Account "camel-k-operator" like "camel-k-builder" ?
If not, could you add this ?

[2020-08-17 09:50] jeremie-H commented on #1661
I've tried with the addition of a service Account "camel-k-operator" with `Owner` permission without any success.
Just before, i was thinking that it would be better with the addition of ` --registry-insecure` but i was wrong, the `camel-k-kit-` is no longer created (it was created by a misconfiguration with a try with microK8S)
Since, i've tried again, with or without ` --registry-insecure`, ther

[2020-08-17 10:26] Emmanuel35 commented on #1661
Could you describe your user-cluster-admin-binding ?

[code]

Could you delete this and create this with camel-k-builder account service ?

[code]

Please, redo install with my complete command.

[2020-08-17 11:59] jeremie-H commented on #1661
I think camel-k-builder was already the user-cluster-admin-binding.

`kubectl describe clusterrolebinding user-cluster-admin-binding` return :
[code]

after executing :
[code]
and then redo the command with :
[code]

It's still in error.

Note : We're using a private cluster in GKE, with the authorized network setting on our endPoint network. but it's ok with all kubectl commands.

[2020-08-19 12:13] lburgazzoli commented on #1649
@pjcubero please open a new issue for the channel stuff (if it is still an issue)

[2020-08-19 12:13] #1649 closed

[2020-08-19 12:14] aslom opened #1665 "List of supported versions combinations for running Camel-K with Knative"
Is there online doc (link?) with that information?

In particular what versions of Knative are suported by  Camel K 1.0 GA? Knative Eventing APIs are changing fast? Supported 0.14+?

[2020-08-19 12:18] lburgazzoli commented on #1651
@lbroudoux can you post the content of the Integration object that is being created ?

[2020-08-19 12:20] aslom opened #1666 "Workaround for knative-source loader does not exists any more?"
What are current instructions in installing and running Camel-K in OpenSHift 4.4 /deploying_camel_k_integrations_on_openshift/getting-started-with-camel-k#installing-camel-k-operatorhub and I am getting `Caused by: java.lang.RuntimeException: Error creating instance of loader: knative-source`
` at org.apache.camel.k.support.RuntimeSupport.lambda$lookupLoaderFromResource$10(RuntimeSupport.java:202)

[2020-08-19 12:55] astefanutti opened #1667 "Add e2e monitoring tests for vanilla Kubernetes"
Some e2e tests that cover integration monitoring have been contributed with #1660. These tests are currently specific to OpenShift 4.

They must be enriched so that they also cover vanilla Kubernetes.

[2020-08-19 14:32] nicolaferraro opened #1668 "Integration is logged twice in dev mode"
Seems like recent changes in logging for dev mode have created an issue, since integration pods are logged twice (or more times, depending on how many times you change the source code).

[2020-08-19 16:27] aslom commented on #1665
Related to https://github.com/apache/camel-k/issues/1336

[2020-08-20 09:26] nicolaferraro commented on #1666
That's strange, are you using the 1.1.0 operator?

[2020-08-20 14:42] nicolaferraro opened #1670 "Upgrade base to Knative 0.16 and support 0.17"
We need to:

- [x] Import APIs from Knative 0.16
- [x] Use latest APIs versions that are compatible with Knative [0.15, 0.17]
- [x] Update test matrix to use 0.16 (or 0.16 + 0.17)

[2020-08-20 15:31] jamesnetherton commented on #1648
Is this fixed on master? I think I'm seeing a similar problem.

[code]

[code]

[2020-08-20 15:33] astefanutti commented on #1648
@jamesnetherton it should be :) Could you check the `kamel` CLI and the operator versions are aligned?

[2020-08-20 15:45] astefanutti commented on #1648
I'll let you argue with CI 😉. Joke aside, have you re-install the CRDs?

[2020-08-20 16:06] jamesnetherton commented on #1648
Yep, that was it. I had stale CRDs :+1:

[2020-08-24 07:51] lburgazzoli opened #1673 "shipwright.io builder"
Evaluate to use https://github.com/shipwright-io/build as a builder strategy

[2020-08-24 07:51] lburgazzoli commented on #1673
/cc @astefanutti

[2020-08-24 07:52] lburgazzoli commented on #1656
/cc @astefanutti

[2020-08-24 08:15] lbroudoux commented on #1651
Hi @lburgazzoli
Sorry for delay, here is below the created `Integration`:
[code]

It contains the `timed-greeter.yaml` route in specification flow.

There's still the following log lines in running Pod
[code]

and no route running.

[2020-08-24 08:41] lburgazzoli commented on #1651
so here the cli is working properly as the source is shown in the Integration CR, wonder if this is related to any side effect of the serialization/deserialization fo flows ? @astefanutti

[2020-08-24 09:08] lburgazzoli opened #1674 "document how to create knative camel sources using Java"

[2020-08-24 09:30] lbroudoux commented on #1651
When using `1.0.0-RC2` of the CLI, the flow is serialized as a String and not raw YAML within the `Integration` resource:
[code]

With this format, I correctly get the following lines in logs:
[code]

Maybe this just allow to keep the ordering of attributes and having `uri` defined just after `from`?

[2020-08-24 14:06] arthurdm commented on #1674
That would be great!   I also really like how `kamel run <java>` puts my source code into an Integration CR - are there plans on augmenting `kamel` to have similar capability, put wrapping in a CamelSource?  Perhaps `kamel run <java> --camelsource`?

[2020-08-24 14:11] lburgazzoli commented on #1674
We are actively working to make the experience of creating sources easier so in the future it will be possible nut we are still working on some of the low level bits (https://github.com/apache/camel-k/issues/1654, https://github.com/apache/camel-k/issues/1567)

[2020-08-27 15:41] nicolaferraro opened #1675 "Define default global Kamelets"
We should define a concept of global Kamelet, i.e. a general Kamelet that is not local to a specific namespace, but can be used from any namespace. By default (in the PR #1602), integrations can only use Kamelets contained in the same namespace.

Having global Kamelets can allow UI's built on Camel K to show "Sources" or "Sinks" available in the cluster that are ready for use.

When installing the

[2020-08-27 16:20] lburgazzoli opened #1676 "kamelets: source/sink binding"
To have a generic mechanics to use kamelet to materialize sources and sinks, we should introduce a new resource named `KameletBinding` like:

[code]

The operator should translate the binding into a real integration as example, for knative sources and sinks it could generate a source like:

[code]

[2020-08-27 16:28] JustinKuli opened #1677 "Example Integration in the ClusterServiceVersion stuck in Deploying phase"
The [OperatorHub.io page](https://operatorhub.io/operator/camel-k) provides this sample yaml for deploying an Integration:

[code]

When this is applied to my cluster, the Integration resource is created successfully, but is stuck in the "Deploying" phase.

I found this error in the operator logs:
[code]

[2020-08-27 16:34] JustinKuli commented on #1677
By comparing this YAML to a working Integration, I believe the problem is in the last line: `name: Example.java` needs to be indented to be part of the item in the `sources` list. Currently the YAML is re-formatted to this in the cluster:
[code]

But it should be more like this:
[code]

I found the source for this yaml inside https://github.com/apache/camel-k/blob/master/deploy/olm-catalog/camel-k

[2020-08-30 16:20] senthilkrajagopal commented on #1663
--build-publish-strategy Spectrum worked for me. Looking at the code, it appears like kaniko was removed after 1.0.0-RC1.

Use spectrum along with .dockerconfigjson. Follow the steps here.. https://medium.com/hackernoon/today-i-learned-pull-docker-image-from-gcr-google-container-registry-in-any-non-gcp-kubernetes-5f8298f28969

[2020-08-30 21:00] cpqworks commented on #1661
--build-publish-strategy Spectrum worked for me. Looking at the code, it appears like kaniko was removed after 1.0.0-RC1.

Use spectrum along with .dockerconfigjson. Follow the steps here.. https://medium.com/hackernoon/today-i-learned-pull-docker-image-from-gcr-google-container-registry-in-any-non-gcp-kubernetes-5f8298f28969

[2020-08-31 09:37] #1636 closed

[2020-08-31 10:08] nicolaferraro commented on #1611
We must use sha in the relatedImages part, which means we should use sha also in the base image

[2020-08-31 10:08] nicolaferraro commented on #1611
https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-generating-csvs.html

[2020-08-31 11:06] lburgazzoli opened #1680 "review configurations spec"
As today providing configurations is done by a list of key/value pairs but that may not be very handing for tooling and in general for comprehension:

[code]

Wonder if we should provide a better organization, something like:

[code]

which could give more freedom and would allow to use patterns commonly used in other kubernetes resources like referencing an entry in a secret or configmap

[2020-08-31 11:07] lburgazzoli commented on #1680
Relates to https://github.com/apache/camel-k/issues/1676

[2020-08-31 11:18] lburgazzoli opened #1681 "camel-k extensions through sidecars"
As we keep adding features to camel-k I wonder if we should start using sidecars to extends it so as example, implementations for the possible combination fo bindings proposed in https://github.com/apache/camel-k/issues/1676 can be implemented by a sidecar using as example the [go-plugin](https://github.com/hashicorp/go-plugin) project so we can have:

- a sidecar/plugin dealing with knative bindi

[2020-08-31 11:24] lburgazzoli opened #1682 "Support for Camel Kafka Connector"
With the introduction of [Kamelets](https://github.com/apache/camel-k/issues/1567) and [Kamelets Bindings](https://github.com/apache/camel-k/issues/1676) we have a generic way to create sources and sinks so we can think about supporting the materialization of Kafka Connect services based on [Apache Kafka Conenctor](https://github.com/apache/camel-kafka-connector)

[2020-08-31 14:03] nicolaferraro commented on #1676
Can we have something like this instead:

[code]

There are multiple reasons:
- The configuration I propose is compatible with the JSON schema exposed by the Kamelet definition (so it can be validated), while the array of configuration items is not
- We currently don't support per-property secret entries iirc, but only global secrets and it seems not easy to create them now, considering also that

[2020-08-31 14:06] lburgazzoli commented on #1676
We can but how do you define which secrets/configmaps the source need to mount ?

[2020-08-31 14:16] nicolaferraro commented on #1676
Using a `spec->integration` field (same trick as in Knative CamslSources), until we figure out a better way to handle them.

[2020-08-31 14:18] lburgazzoli commented on #1676
so I guess this should be named `properties` instead of configuration top avoid confusion ? in that case yes we can use plain key/value pairs

[2020-09-01 10:15] nicolaferraro commented on #1676
A better format:

[code]

They can be optionally used also in the `sink` part.

This removes the ambiguity about what endpoint the properties refer to.
Wdyt @lburgazzoli ?

[2020-09-01 10:17] lburgazzoli commented on #1676
LGTM, I think `source` and `sink` can be backed by the same struct at this point

[2020-09-01 10:22] lburgazzoli commented on #1676
btw, we can use the syntax:

    password: #property:my-property-stored-in-a-secret

for sensitive info

[2020-09-01 10:30] nicolaferraro commented on #1676
Right! That can be done manually by the user.

[2020-09-01 10:32] nicolaferraro commented on #1676
Yes, I'm calling it "Endpoint", as we do in Camel ;)

[2020-09-01 12:27] arthurdm commented on #1107
+1

[2020-09-03 12:30] #1668 closed

[2020-09-03 14:43] #1670 closed

[2020-09-03 20:49] ricardozanini commented on #1665
Glad that you bring this up. Current Camel-K version is not compatible with Knative Eventing v1 CRDs. When we try to deploy one of the knative examples, camel-k stuck on deployment phase:

[code]

[2020-09-04 12:48] nicolaferraro opened #1686 "Add support for Strimzi Topics in KameletBinding"
PR #1602 introduces KameletBinding, which is a mechanism to bind a Kamelet to a source/sink and works currently with explicit URIs and Knative endpoints.

It would be really cool if also other kind of enpoint could be decoded from Kubernetes object references, such as Strimzi Topics.

The following binding may be used to send data from twitter to a Kafka topic:

[code]

[2020-09-04 14:05] heiko-braun commented on #1686
What I don't yet see is where the integration logic (DSL) goes. This is just the binding, and I assume it will tacked on a Kamelt? Is there docs to learn about more about this comes together at the end?

[2020-09-04 14:22] nicolaferraro commented on #1686
Yes, the "twitter-stream" Kamelet will contain the code that allow getting the tweets (or any other data, from SaaS or enterprise services) into a generic sink. The sink here is strimzi, but the same Kamelet can also sink into a Knative channel by creating another binding.

I'm currently writing a "Kamelets" section for the Camel K documentation where I explain the mechanism.

[2020-09-07 13:17] JackJiaJJ opened #1687 "Failed to install Camel-K in IKS"
I launched a k8s env in **IBM Cloud (IKS)**, and I failed to install Camel-K, it prompted below error:

Error: cannot get command client: no Auth Provider found for name "oidc"

**Below are the commands I executed:**

 [root@bamfvt3master1 ~]# kubectl get nodes
NAME            STATUS   ROLES    AGE    VERSION
10.38.109.116   Ready    <none>   3d2h   v1.17.11+IKS
10.38.109.117   Ready    <none>   3

[2020-09-07 15:03] nicolaferraro commented on #1687
Seems similar to the issue happened with Azure https://github.com/apache/camel-k/issues/1138

[2020-09-07 16:02] nicolaferraro opened #1689 "Populate Knative event registry when using KameletBinding"
[Knative Event registry](https://knative.dev/docs/eventing/event-registry/) can be used to populate the event registry with what a Kamelet is producing (`out` type of the Kamelet).

Knative now supports inlining the schema in the EventType resource.

[2020-09-07 16:44] shanisma opened #1691 "Integration controller issue"
Hello,

I deployed kamel on kubernetes with this command:

`kamel install --cluster-setup `

`kamel install --registry-insecure --registry <registry url> --registry-auth-password <password> --registry-auth-username <username> --maven-repository http://repository.apache.org/content/groups/snapshots-group@id\=apache@snapshots@noreleases`

Operator is up and running
![pod](https://user-images.githubu

[2020-09-07 21:54] nicolaferraro commented on #1691
Hi, there are some inconsistencies in the command you've provided and probably in the resources that are installed in the cluster.

`kamel install --cluster-setup` does not install the operator, but only the "cluster-wide" resources, such as CRDs, roles and bindings. So the operator has been installed by other means and probably the version does not match the version of the CRDs installed on the c

[2020-09-08 06:21] JackJiaJJ commented on #1687
@nicolaferraro if there is any workaround ? thanks a lot !

[2020-09-08 07:33] nicolaferraro commented on #1687
Technically support for `oidc` should be there (https://github.com/apache/camel-k/blob/25a6a74aca4c8ad4adcc78cca8ebbfc626a20316/cmd/kamel/main.go#L33). We need to investigate.

[2020-09-08 07:36] nicolaferraro commented on #1687
It was added recently, we can backport the change to v1.1.1 which will be available next week.

[2020-09-08 08:06] JackJiaJJ commented on #1687
That's so great !  thanks a lot ! @nicolaferraro

[2020-09-08 09:20] nicolaferraro opened #1693 "Camel K installed globally by default"
We should move towards a vision where Camel K Integrations are resources that anyone can use in a cluster, just like Deployments.
A cluster admin installs Camel K in a cluster and anybody can use it.

This can be achieved by:

1) Changing the installation mode

- Helm: install the operator in the "camel-system" namespace by default
- OLM: use global installation by default and the "operatorframewo

[2020-09-08 09:32] lburgazzoli commented on #1693
I think we also need to have some segregation policies so admins can control who can see what

[2020-09-08 13:45] nicolaferraro commented on #1687
Fixed by https://github.com/apache/camel-k/pull/1694

[2020-09-08 13:45] #1687 closed

[2020-09-10 10:18] shanisma commented on #1691
Hello,

In order I did:

❯ k delete crd builds.camel.apache.org
❯ k delete crd camelcatalogs.camel.apache.org
❯ k delete crd integrationkits.camel.apache.org
❯ k delete crd integrationplatforms.camel.apache.org
❯ k delete crd integrations.camel.apache.org
❯ k delete ns kamel
❯ k create ns kamel

❯ kamel install --cluster-setup
❯ kamel install --registry-insecure --registry <registry url> --registr

[2020-09-10 11:06] davsclaus opened #1696 "Kamel init - Do not include license header"
The `kamel init Foo.java` command generates source code that has an ASF license header.

But since this is for end users and they may use other licenses or none at all, then we should generally not include a header out of the box. This also makes the code smaller and leaner and quicker to overview and understand.

This applies also to the other languages it can generate for like groovy, kotlin, xm

[2020-09-10 13:33] apupier commented on #1538
What's left on this issue? The original goal was to publish the schema and it is the case https://www.schemastore.org/json

[2020-09-10 13:34] lburgazzoli commented on #1538
I think it can be closed

[2020-09-10 14:32] nicolaferraro commented on #1691
Can you also provide some more info about your Kube platform?

[2020-09-10 15:08] astefanutti opened #1697 "Upgrade to Prometheus operator version 0.42.0+"
So that Camel K can leverage https://github.com/prometheus-operator/prometheus-operator/pull/3395 and only depend on the Prometheus operator API.

[2020-09-10 15:39] johnpoth commented on #1227
I can take a look at this if it's ok

[2020-09-10 22:14] vaikas opened #1698 "Update to k8s 0.18.8"
As part of the work going on in Knative and moving it to 0.18.8, I'm working on bringing eventing-contrib and as part of that work, looks like we need to bump the versions in this repo as well:

When I update the repo, I unsurprisingly get these kinds of errors:
[code]

So, before this gets updated we won't be able to move the knative.dev/eventing-contrib forward. @nicolaferraro thoughts? You can

[2020-09-11 08:56] w-j-d opened #1699 "can't run hello.java,maybe somethings wrong with registry"
Camel-k Install command-line:

./kamel install --registry docker.io --organization XXXXXXorg --registry-auth-username XXXXX --registry-auth-password XXXX -n camel-k --maven-settings=configmap:maven-settings/settings.xml --build-timeout 12h   --cluster-type kubernetes

./kamel init Hello.java
./kamel run Hello.java -n camel-k --dev

then:

[code]

[2020-09-11 08:57] w-j-d commented on #1699
pod logs:

[INFO] Downloaded from alimaven: http://maven.aliyun.com/nexus/content/groups/public/com/vdurmont/semver4j/3.1.0/semver4j-3.1.0.jar (27 kB at 6.3 kB/s)

[INFO] Downloaded from alimaven: http://maven.aliyun.com/nexus/content/groups/public/com/google/guava/guava/20.0/guava-20.0.jar (2.4 MB at 551 kB/s)

[INFO] Downloaded from alimaven: http://maven.aliyun.com/nexus/content/groups/public/o

[2020-09-11 10:12] nicolaferraro opened #1700 "Release 1.1.1"
Time to cut a release to fix the Knative compatibility issue.

## Bug Fixes
- Fixed issue that prevented listening from channels on Knative 0.17 ([#1636](https://github.com/apache/camel-k/issues/1636),  [@nicolaferraro](https://github.com/nicolaferraro))
- Fixed support for OIDC and IKS ([#1647](https://github.com/apache/camel-k/pull/1647), [@aslom](https://github.com/aslom))

[2020-09-11 10:23] w-j-d commented on #1700
nice

[2020-09-11 10:36] nicolaferraro commented on #1699
Can you try adding `--build-publish-strategy=Spectrum` to `kamel install`, it usually solves a lot of issues.

Then `kamel reset` and retry.
With "Spectrum", you'll find logs about what's happening directly in the operator pod.

[2020-09-11 10:42] w-j-d commented on #1699
thank you,I will try it!

[2020-09-11 10:54] w-j-d commented on #1699
spectrum - 2020/09/11 10:48:41 Composing layers...

spectrum - 2020/09/11 10:48:41 Pushing image docker.io/office602org/camel-k-kit-btdl9p3r4smi8mn5l4l0:2174943 (insecure=true)...

{"level":"info","ts":1599821329.5719368,"logger":"camel-k.builder","msg":"step failed with error: Head https://index.docker.io/v2/office602org/camel-k-kit-btdl9p3r4smi8mn5l4l0/blobs/sha256:6de1a9cecd4603db2034d7a4779017

[2020-09-11 10:56] w-j-d commented on #1699
docker.io after create user,have need to do something else?

[2020-09-11 10:59] nicolaferraro commented on #1699
I see docker hub is doing something strange: `stopped after 10 redirects`

Ideas @astefanutti , @lburgazzoli ?

[2020-09-11 11:03] w-j-d commented on #1699
./kamel install --registry docker.io --organization office602org --registry-auth-username office602 --registry-auth-password ****** -n camel-k --maven-settings=configmap:maven-settings/settings.xml --build-timeout 12h   --cluster-type kubernetes  --registry-insecure  true --force  --build-publish-strategy=Spectrum

[2020-09-11 11:04] nicolaferraro commented on #1699
Are you using your own user ID as `--organization` parameter? or also an organization for which you have write access should be ok. Nothing else should be needed.

Which kubernetes env are you using?

[2020-09-11 11:05] nicolaferraro commented on #1699
Probably you should not set `--registry-insecure true`, docker is secure. That's why you may get the redirects.

[2020-09-11 11:05] w-j-d commented on #1699
![image](https://user-images.githubusercontent.com/52056489/92918108-b726cd80-f461-11ea-8f68-41656ffb0cf4.png)

[2020-09-11 11:06] w-j-d commented on #1699
only kubenetes,not minikube

[2020-09-11 11:09] w-j-d commented on #1699
I use kubesphere,it is like minikube

[2020-09-11 11:10] w-j-d commented on #1699
https://kubesphere.io/

[2020-09-11 11:20] w-j-d commented on #1699
./kamel install --registry docker.io  --registry-auth-username office602 --registry-auth-password epri@1025 -n camel-k --maven-settings=configmap:maven-settings/settings.xml --build-timeout 12h   --cluster-type kubernetes    --build-publish-strategy=Spectrum

[2020-09-11 11:20] w-j-d commented on #1699
./kamel install --registry docker.io  --registry-auth-username office602 --registry-auth-password ***** -n camel-k --maven-settings=configmap:maven-settings/settings.xml --build-timeout 12h   --cluster-type kubernetes    --build-publish-strategy=Spectrum

[2020-09-11 11:22] w-j-d commented on #1699
spectrum - 2020/09/11 11:13:18 Pulling base image adoptopenjdk/openjdk11:slim (insecure=false)...

spectrum - 2020/09/11 11:13:18 No matching credentials were found, falling back on anonymous

spectrum - 2020/09/11 11:13:23 Composing layers...

spectrum - 2020/09/11 11:13:23 Pushing image docker.io/camel-k/camel-k-kit-btdln38c8068mibhvbjg:2182394 (insecure=false)...

{"level":"info","ts":159982281

[2020-09-11 12:24] w-j-d commented on #1699
{"level":"info","ts":1599826868.3883812,"logger":"camel-k","msg":"could not find any knative type in namespace camel-k, last error was: services.serving.knative.dev is forbidden: User \"system:serviceaccount:camel-k:camel-k-operator\" cannot list resource \"services\" in API group \"serving.knative.dev\" in the namespace \"camel-k\""}
{

[2020-09-11 12:25] nicolaferraro commented on #1699
I think you forgot the `--organization` option. By default Camel K uses the kube namespace as organization (works with local registries).

[2020-09-11 12:45] w-j-d commented on #1699
knative need installed?

[2020-09-12 08:29] nicolaferraro commented on #1699
No, it's just an info message. Knative is optional.

[2020-09-14 02:01] w-j-d commented on #1699
thks,it's ok,because I am from china can't direct to visit docker.io, I need modify /etc/hosts

[2020-09-14 08:08] nicolaferraro commented on #1698
For reference, CamelSources are being moved into their own repo under https://github.com/knative-sandbox/eventing-camel.
Adding this to backlog, since an upgrade is needed nonetheless.

[2020-09-14 11:12] #1575 closed

[2020-09-15 10:18] ogomezdi commented on #1700
Great news, is there any estimated date?

[2020-09-15 15:21] nicolaferraro commented on #1700
Released today.

[2020-09-15 15:21] #1700 closed

[2020-09-15 16:07] anerathil opened #1706 "Istio sidecar injection is enabled for builder pod"
Hey,

as soon as we enabled the istio sidecar injection, kaniko fails with

when we disable the sidecar injection, everything is working.
we saw that the kaniko container starts before the istio-proxy is ready.

[2020-09-17 07:20] nicolaferraro opened #1707 "Adding a way to override the default base image at runtime"
Today it's possible to do it at compile time, plus the user can set it on the integration platform. But in case of global installation, one may want to set a different base for all namespaces in the operator via an env var.
Even for namespaced installations that happen via OLM, one may set the base image in the CSV so that all users get a different result.

[2020-09-17 09:09] #1574 closed

[2020-09-17 09:09] #1611 closed

[2020-09-17 09:09] #1676 closed

[2020-09-17 09:13] nicolaferraro commented on #1567
Implemented!

[2020-09-17 09:13] #1567 closed

[2020-09-18 05:52] w-j-d opened #1708 "Does camel-k plan to provide Java SDK client Calls?"
If it can be called through the SDK mode, it is more convenient to integrate than the command line mode.

[2020-09-18 05:58] lburgazzoli commented on #1708
what do you mean ?

[2020-09-18 05:58] w-j-d commented on #1708
It will  be replace the ServiceMIx

[2020-09-18 06:00] lburgazzoli commented on #1708
btw, we have https://camel.zulipchat.com for general discussions

[2020-09-18 06:02] w-j-d commented on #1708
OK

[2020-09-19 05:12] #1513 closed

[2020-09-19 05:12] #1604 closed

[2020-09-19 13:59] marzelwidmer commented on #1664
Same issue with Kubernetes version : ``` k version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T21:51:49Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec20

[2020-09-21 08:48] nicolaferraro opened #1709 "Add Kamelet integration tests"
We should improve test coverage for Kamelets, especially in e2e tests

[2020-09-23 12:32] nicolaferraro opened #1710 "Generate CRD schema for Kamelet + KameletBinding"
Any idea why it's not generated? Maybe for the different api version? @astefanutti

[2020-09-23 13:02] astefanutti commented on #1710
It seems there are errors while generating the CRDs for the `jsonschema_types.go` file:

[code]

[2020-09-23 13:17] nicolaferraro commented on #1710
Oh, I though it was bound to the  `generate` command and doing nothing.. this is a better error.. thanks

[2020-09-23 13:27] astefanutti commented on #1710
Ah right, the `generate-crd` target should probably ultimately be run as part of the `generate` one. There is still a manually step to rename the CRD file names, and a few clean-up IIRC, that is why I did not added it yet.

[2020-09-23 13:32] MaciekLeks commented on #1636
@nicolaferraro Thanks for the update, but in case of Kafka channel it would not work correctly for v1beta1. `kamel run <integration>` creates subscription like this:
[code]
So the channel must be declared for v1alpha1, like so:

[code]

I've not checked out what about InMemoryChannel but I may assume it's the same.

[2020-09-23 15:03] #1709 closed

[2020-09-23 17:42] nicolaferraro commented on #1636
Hi @MaciekLeks, we're adding auto-discovery for KafkaChannel v1beta1 in next 1.2.0 release.
Running with 1.1.1, if you want to use v1beta1 in the subscription you need to write an URL like:

[code]

And it should do what you expect.
You won't need to specify kind & api in 1.2.0.

[2020-09-24 10:58] makandre opened #1712 "Ability to set labels on knative service (for things like "cluster-local")"
For `from("knative:type/name")` routes, we need ability to configure it so that the knative service that it creates would have certain labels. Particularly, need a way to apply `serving.knative.dev/visibility=cluster-local` label so my service would not be exposed publicly.

[2020-09-24 11:11] makandre commented on #1712
Workaround suggested by @nicolaferraro is to run with `--label serving.knative.dev/visibility=cluster-local -t owner.target-labels=serving.knative.dev/visibility`

[2020-09-24 15:05] MaciekLeks opened #1713 "Salesforce Integration as Knative Serverless Service fails"
I wrote some simple integration in CamelSource to emit a Platform Event, like so:
[code]
run as:
[code]

My salesforce.properties:
[code]
is saved in a secret:
[code]

It works!

Now I'm trying to make it Knative Serverless Service:
[code]
so I run it as follows:
```kamel run --secret=salesforce --dependency camel:salesforce --dependency camel:log --dependency camel:bean  03-camel-ticker.yaml --de

[2020-09-24 15:45] nicolaferraro commented on #1713
I think the relevant problem is here: ` MANIFEST_UNKNOWN: manifest unknown`
This is an issue that happened more in the past. There are some incompatibilities between the registry and the client...

I think that doing a `kamel reset` will trigger a new build from scratch, so you'd see the integration running again.

This is independent from what you write in the DSL.

P.s. to make a serverless serv

[2020-09-24 16:46] MaciekLeks commented on #1713
@nicolaferraro What can I say. You are the boss, that is, ```kamel reset``` did the job.

As far to serverless service you are right. I forgot to mention that it's not a serverless version of code.

[2020-09-24 16:46] #1713 closed

[2020-09-25 11:34] evanshortiss opened #1715 "Environment Variables from Secrets"
Hi, I'm working on a route where I use a JDBC connector to perform a DB INSERT. I'd like to inject the db connection details from an existing secret and load via `System.getenv("DB_PASS"')`.

To configure the datasource I have the following:

[code]

With this my `.to("jdbc:datasource")` line is working, but the username and password are plaintext. I could use `kamel --env` to inject this, but I d

[2020-09-25 11:39] lburgazzoli commented on #1715
if your put the credential in a secret, then you can use

    kamel run --secret your-secret

the value in the secret are made available to the integration thus you can do something like:

[code]

[2020-09-25 11:50] lburgazzoli commented on #1715
btw, note that you can configure the datasource using properties only, see https://camel.apache.org/components/latest/others/main.html#_specifying_custom_beans, in that case you can reference any other property using placeholder `{{ }}`, like:

[code]

[2020-09-25 12:46] shanisma commented on #1691
Hello I tested new  crd ... not working :( same issue.

Here kubernetes version : K8s Rev: v1.16.6

A RKE cluster...

[2020-09-25 14:28] evanshortiss commented on #1715
Thank you @lburgazzoli, those are both nice options!

My confusion is stemming from the fact that normally I can attach a secret to the environment like so:

[code]

Then in properties, for say a Quarkus application, I can do `db.usr=${HOST:DB_USER}`.  It seems like with kamel, the secret must contain a properties format file?

My reasoning for this question is I have my DB info in a pre-existing

[2020-09-25 14:39] lburgazzoli commented on #1715
So about the `valueFrom` we have some issue that could make it possible:

- https://github.com/apache/camel-k/issues/1680
- https://github.com/apache/camel-k/issues/1657

but they are not yet implemented so you either have to pack them as a properties file like entry or you can use some special resolvers, like:

[code]

**Note 1** you still need to tell kamel to mount such secrets by with the `--s

[2020-09-25 14:41] #1710 closed

[2020-09-25 15:15] evanshortiss commented on #1715
🤣 well good news, since it appears to be working! I used it with the `PropertyInject`

It would be very helpful to mention this on the [docs for configmap/secret](https://camel.apache.org/camel-k/latest/configuration/configmap-secret.html#_configuration_via_secret). If I can help by adding this example I'd be happy to do so 👍

Thank you for all your help @lburgazzoli!

[2020-09-25 15:16] lburgazzoli commented on #1715
yes please go ahead

[2020-09-28 07:14] lburgazzoli commented on #1445
New home: https://github.com/k8s-service-bindings/spec

[2020-09-28 07:23] johnpoth commented on #1445
I can take a look at this

[2020-09-28 08:00] christophd opened #1717 "Automatic changelog update should not be run on forks"
Github actions workflow for automatic changelog should not be running on forks. Leads to merge conflicts and a lot of merge commits on forks when doing a `git pull upstream master` before doing a `git pull origin master`.

Can add a condition on the github actions workflow job to run only on `refs/heads/master` and github.repository `apache/camel-k`

[2020-09-28 08:05] oscerd commented on #1717
Yeah, much better

[2020-09-28 15:53] #1715 closed

[2020-09-29 13:17] lburgazzoli commented on #1445
@johnpoth would be nice to have sort of proposal, like https://github.com/apache/camel-k/blob/master/proposals/monitoring-security.adoc so it can be turned into a documentation soon or later.

[2020-09-29 13:38] makandre opened #1720 "Thread blocked calling knative REST"
I'm doing a `.to("rest:...")` call, and because the target endpoint is a knative service, it takes some time for it to spin up. When that happens I get these thread blocked errors:

[code]

I'm using camel-k `1.1.0`

[2020-09-29 13:38] #1720 closed

[2020-09-29 14:07] johnpoth commented on #1445
Sounds good! I'll create one once I have more visibility on this. Creating a small MVP at the moment

[2020-09-29 14:38] orthoxerox opened #1721 "Document installation on air-gapped clusters"
Probably blocked by #1424

The documentation would benefit from enumerating installation options that are required to make Camel K work on a cluster that has no access to the internet and can only reach custom Maven and Docker repositories with certificates signed by an enterprise CA (or self-signed).

[2020-09-29 20:16] #1708 closed

[2020-10-02 06:46] #1717 closed

[2020-10-02 07:21] tegioz opened #1732 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **camel-k** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/camel-k), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators) repository.

[2020-10-02 14:48] lburgazzoli opened #1738 "Add a cli subcommand to inspect dependencies required by an Integration"
Something like:

    kamel inspect MyIntegration.java

That could ouput a json document listing the dependencies an integration requries

[2020-10-02 16:15] doru1004 commented on #1738
Sounds great! This would be a very useful feature to have.
Would this command be able to support an option that would print all transitive dependencies also? Something like:

[code]

[2020-10-05 10:01] lburgazzoli opened #1740 "Add suport for gists"
So one can run:

    kamel run gist:${gistid}
    kamel run https://gist.github.com/user/${gistid}

And the cli should inspect the gist and include all the sources/properties included with the given gist

[2020-10-05 14:54] astefanutti opened #1743 "Generate OLM Bundle"
OLM has introduced a new _bundle_ format, deprecating the previous _package manifests_.

Following up #1741, the Operator SDK CLI exposes a new `generate bundle` command that generates the OLM bundle for an operator project. The convention is to use the `kustomize` CLI to assemble the resources, instead of relying on a configuration file, as it used to be for generating package manifests.

[2020-10-06 10:59] #1697 closed

[2020-10-06 12:21] #1686 closed

[2020-10-06 12:44] lburgazzoli opened #1746 "support endpoint-dsl"
We should support the Endpoint DSL when parsing sources to determine dependencies.

As example, for a route like:

[code]

camel-k is unable to automatically add `camel-timer` among the dependencies.

[2020-10-06 12:46] nicolaferraro opened #1747 "Propagate Kamelet icon on binding"
We should make sure Kube based consoles can display a Kamelet binding with the right icon, so we may try to propagate the kamelet icon to the binding if available.

[2020-10-07 07:53] #1747 closed

[2020-10-07 08:43] nicolaferraro opened #1750 "Binary resources such as keystores are being corrupted"
Doing:

[code]

The sha256sum of the `trust.jsk` file in the container is different from the original one, which means something has corrupted it.

Workaround is:

[code]

Which is also a best practice for such data, but this problem may cause other issues.

Tested on: https://self-signed.badssl.com/

[2020-10-07 10:01] nicolaferraro commented on #1545
Implemented by https://github.com/apache/camel-k/pull/1430

[2020-10-07 10:01] #1545 closed

[2020-10-07 12:11] #1750 closed

[2020-10-08 12:38] nicolaferraro opened #1754 "Release 1.2.0"
Time to do a new release, given all the changes that we've put in this one.

[2020-10-08 13:13] nicolaferraro commented on #1696
Already fixed.

[2020-10-08 13:13] #1696 closed

[2020-10-13 07:48] #1740 closed

[2020-10-13 14:28] #1537 closed

[2020-10-14 07:10] astefanutti opened #1760 "Ability to configure PodDisruptionBudget for integrations"
To improve high-availability of integrations, the Camel K operator should provide the ability to create PodDisruptionBudget resources for integration pods:

https://kubernetes.io/docs/tasks/run-application/configure-pdb/

Open points:

- [ ] Where should the PodDisruptionBudget configuration be exposed? Should it be exposed by a dedicated trait, or grouped into a more general _scheduling_ or _pod_

[2020-10-14 07:18] mmelko commented on #1760
I will look at this.

[2020-10-14 08:26] nicolaferraro opened #1761 "Move released images to a hub without rate limits"
Quay.io, gcr.io, github packages.
We should change the image references and release scripts to use a different repo.

[2020-10-14 13:48] astefanutti commented on #1698
This has been fixed with #1753.

[2020-10-14 13:48] #1698 closed

[2020-10-14 14:52] lburgazzoli opened #1763 "When building quarkus, properties should be part of the generate application.properties uised to build the project"

[2020-10-14 15:18] astefanutti commented on #1763
It may relates to #1534.

[2020-10-15 12:08] christophd opened #1766 "Global operator mode on Minikube not working"
Integrations get stuck in phase `Waiting For Platform`

Camel-K version: 1.2.0-SNAPSHOT
Steps to reproduce:
- Create namespace `kube-operators`
- Install Camel-K in global mode `kamel install --global -n kube-operators`
- Switch to another namespace e.g. camel-k-demo
- Run Camel-K sample integration `kamel run helloworld.groovy`

Integration is created and has following events:
[code]

Operator lo

[2020-10-15 16:16] nicolasduminil opened #1770 "Camel K on GKE doesn't seem to work"
Hello,
I've installed by following this guide: https://camel.apache.org/camel-k/latest/installation/gke.html.
Then, I tried to run the basic, as follows:

    kamel run Basic.java --dev
    integration "basic" created
    Progress: integration "basic" in phase Initialization
    Integration basic in phase "Initialization"
    Progress: integration "basic" in phase Building Kit
    Condition "Integ

[2020-10-16 15:26] nicolasduminil commented on #1770
Anyone please ?

[2020-10-16 16:15] rampraveen83 commented on #1750
Tried with v 1.2, and jks files are still getting corrupted. Compared the file size and its different when bundled with camel
e.g kamel run kafka.java --resource keystore.jks --resource truststore.jks

Caused by: java.io.IOException: Invalid keystore format

[2020-10-19 08:46] arttuhuttunen opened #1771 "Use registry secrets for both pulling and pushing"
Same secret should be used in both pushing and pulling to/from registry, as discussed on Zulipchat [https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Pull.20from.20dockerhub.20fails/](https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Pull.20from.20dockerhub.20fails/) .

This is related to problem where after multiple integration builds, integrations can't be built witho

[2020-10-19 08:48] nicolaferraro commented on #1770
Did you follow specific instructions also for the registry?  https://camel.apache.org/camel-k/latest/installation/registry/gcr.html

[2020-10-19 08:52] nicolaferraro commented on #1750
This is strange, as binary resources are base64 encoded.

@rampraveen83 can you try with:

[code]

Compression is the mechanism that we tried to auto-enable on 1.2 to avoid corruption.
Also, can you double check the version with `kamel version`?

[2020-10-19 10:05] nicolasduminil commented on #1770
Yes, I did

    kubectl get integrationplatform
    NAME      PHASE
    camel-k   Ready

    kubectl get secret
    NAME                           TYPE                                  DATA   AGE
    camel-k-builder-token-cphxm    kubernetes.io/service-account-token   3      26m
    camel-k-operator-token-ccbdj   kubernetes.io/service-account-token   3      26m
    camel-k-operator-token-tvknm   k

[2020-10-19 10:36] nicolaferraro commented on #1770
Can you provide output of:

[code]

and:

[code]

[2020-10-19 12:34] nicolasduminil commented on #1770
Sure:

    nicolas@nicolas-XPS-15-9570:~/camel-k-examples/01-basic$ kubectl get integrationplatform -o yaml
    apiVersion: v1
    items:
    - apiVersion: camel.apache.org/v1
      kind: IntegrationPlatform
      metadata:
        creationTimestamp: "2020-10-15T16:29:26Z"
        generation: 1
        labels:
          app: camel-k
        name: camel-k
        namespace: camel-basic
        reso

[2020-10-19 12:52] nicolaferraro commented on #1770
Can you try adding the flag `--build-publish-strategy=Kaniko` to `kamel install ...`?

The kaniko secret is not expected to work with Buildah (which is now the default). We should update the doc to mention this (if it works).

[2020-10-19 13:23] nicolasduminil commented on #1770
I'm reinstalling again Camel K following the instructions here: https://camel.apache.org/camel-k/latest/installation/gke.html and here: https://camel.apache.org/camel-k/latest/installation/registry/gcr.html.

    nicolas@nicolas-XPS-15-9570:~$ kubectl get pod
    No resources found in default namespace.
    nicolas@nicolas-XPS-15-9570:~$ kubectl get deployment
    No resources found in default nam

[2020-10-19 13:32] nicolasduminil commented on #1770
Running with --build-publish-strategy=Kaniko as suggested:

    nicolas@nicolas-XPS-15-9570:~/camel-k-examples/01-basic$ kamel install --registry gcr.io --organization marko-luksa-book --registry-secret ../../kaniko-secret --force --build-publish-strategy=Kaniko
    Camel K installed in namespace camel-basic
    nicolas@nicolas-XPS-15-9570:~/camel-k-examples/01-basic$ kamel run Basic.java --dev

[2020-10-20 20:47] vassilvk commented on #1712
@makandre, as a workaround you can create a [KubeMod](https://github.com/kubemod/kubemod) `ModRule` to intercept the service as is being created by the operator and inject the necessary labels.

[2020-10-21 07:51] astefanutti opened #1773 "Default to using Micrometer for integration monitoring"
Quarkus recommends using Micrometer over MicroProfile Metrics starting Quarkus version 1.9:

https://quarkus.io/blog/micrometer-metrics/

The Prometheus trait should default to using Micrometer instead of MP metrics with Quarkus.

This requires the Camel Quarkus Micrometer extension to be available.

[2020-10-21 08:49] christophd opened #1774 "Kamelet binding to an explicit URI failing"
I use a KameletBinding to an explicit URI pointing to a service in my cluster. The KameletBinding creates an integration that fails with:

[code]

I have no Knative eventing/serving enabled on my cluster but the integration tries to use Knative as sink.

Here is the source generated by the binding:
[code]

Here is the KameletBinding that I am using
[code]

[2020-10-21 12:39] nicolaferraro commented on #1774
Strange, there's an e2e test about that: https://github.com/apache/camel-k/blob/master/e2e/yaks/common/kamelet-binding/timer-source-binding-display.yaml (needs to be completely changed using latest news on Yaks)

Do you have knative enabled on the cluster? That may be the issue.

[2020-10-21 15:58] nicolasduminil commented on #1770
On minikube it doesn't work neither:

    $ kubectl get integrationplatform
    NAME      PHASE
    camel-k

    $ kubectl get po -A
    NAMESPACE     NAME                               READY   STATUS    RESTARTS   AGE
    kube-system   coredns-f9fd979d6-gqbhb            1/1     Running   0          8m29s
    kube-system   etcd-minikube                      1/1     Running   0          8m28s
    k

[2020-10-22 13:36] nicolaferraro commented on #1774
I confirm this happens on non-knative clusters. Need a to fix.

[2020-10-22 15:37] doru1004 commented on #1738
The patch for outputting all the transitive dependencies is now available: https://github.com/apache/camel-k/pull/1777

[2020-10-22 15:45] nicolaferraro opened #1778 "KameletBinding to broker fails"
E.g.

[code]

Results in impossibility to create Knative SinkBinding.

[2020-10-23 07:29] lburgazzoli opened #1779 "KameletBiding : support for partitions for sources"
To improve performances, we should be able to partition a source.
We should have support for static partitioning and optionally a dynamic one.

**Static partitions**

we could add the relevant information in the form of properties to a KameletBinding, something like:

[code]

1. list of values used to logically partition the source
2. the property used by the underlying kamelet to get a reference

[2020-10-23 07:33] nicolaferraro commented on #1779
I think we can keep using the same model that we have now, like:

[code]

The information that tells the operator that "tables" is a partition key is present on the kamelet, e.g. with a `x-camel-partition-key`  flag in the descriptor.

The assignment of partition and rebalancing can be also done with a modified version of the master component instead of StatefulSets, to make it more dynamic.

Wdyt

[2020-10-23 07:39] heiko-braun commented on #1779
Using a specific `partition-*` property would allow us to distinguish between partionable and non-partionable sources.

This information might be useful to determine a rollover/redployments strategy for instance.

If the properties remain domain/kamelet specific, rather being generalised, identifying partionable sources might not easily be possible, would it?

[2020-10-23 08:06] lburgazzoli commented on #1779
@nicolaferraro I think we should have support `StatefulSet` and the `master` one as the `StatefulSet` is simple to reason about whereas the dynamic one may be a little bit tricky from an operation point of view.

@heiko-braun I think @nicolaferraro proposla to to add metadata to the kamelet is right as it would let any tool to act according (i.e. by leveraging meta services to get a possible list

[2020-10-23 12:12] #1774 closed

[2020-10-26 11:14] lburgazzoli opened #1783 "builder: use structured logging for maven output"
http://development.wombatsecurity.com/development/2018/04/06/logging-maven-to-json/

[2020-10-26 11:15] lburgazzoli commented on #1783
//cc @astefanutti

[2020-10-26 11:16] lburgazzoli opened #1784 "builder: explore mvnd"
https://github.com/mvndaemon/mvnd

[2020-10-26 11:16] lburgazzoli commented on #1784
/cc @astefanutti

[2020-10-26 11:21] astefanutti commented on #1783
It complements #580 for integration logging.

[2020-10-26 11:42] nicolaferraro opened #1785 "Changes to KameletBinding must be propagated to Integrations"
Users are expected to change only top-level objects

[2020-10-26 13:36] phantomjinx commented on #1283
Starting to poke around the binaryb go code so alright if I have a look at this?

[2020-10-26 14:06] mmelko commented on #1760
#1787 This is what I have so far. PDB is created for every integration and deleted with integration. I decided to go with new trait for the PDB but I can refactor if necessary.

I still need to create test for the trait and also I'm not sure if `IntegrationRunning` phase is the best here.

[2020-10-26 14:20] #1778 closed

[2020-10-26 16:45] nicolaferraro opened #1789 "Document Jitpack usage"
We should document which options are available and how they map to Jitpack.

Examples:

[code]

[2020-10-28 11:56] squakez opened #1791 "Kamelets resource autogenerated informers and listers"
I noticed that we are [missing codegen resources](https://github.com/apache/camel-k/tree/master/pkg/client/camel) for `Kamelet`s and `KameletBinding`s. Altough not directly needed by operator and CLI, it may be useful for external applications to have them available from the same code base.

[2020-10-28 14:05] #1785 closed

[2020-10-29 11:47] phantomjinx commented on #1283
Create PR https://github.com/apache/camel-k/pull/1793

[2020-10-29 14:33] kaczyns opened #1794 "Panic when attempting to convert from unstructured to Integration with traits"
Hello - I've got a `kind: Integration` that was generated from `kamel` and contains traits.  I'm using [manifestival](https://github.com/manifestival/manifestival) to load the yaml, and so it comes in as unstructured.  When I attempt to convert it to an Integration using the camel-k scheme, I get a kernel panic.  I've reduced the yaml to the minimum that produces the error, and the test case is be

[2020-10-29 16:10] astefanutti commented on #1794
I would need to dig to understand what causes that `reflect: NumField of non-struct type` error. It seems there is a non struct field, like an interface, somewhere that's being traversed.

Before that, would converting the YAML to JSON, and then unmarshall into the Integration struct be an option, instead of converting the unstructured object?

[2020-10-29 18:24] kaczyns commented on #1794
Yes I can convert the unstructured to JSON, and then use `json.Unmarshal()` to inflate the Integration object.  That is working OK.  I can also edit the unstructured object directly, to do what I need to do, which is actually going to end up being easier (less converting).

With these work-arounds I don't care so much about what happens with this issue - it's documented now in case someone else hi

[2020-10-29 18:38] astefanutti commented on #1794
Right, another option is to convert the YAML to JSON using an intermediate `map[string]interface{}{}`. I can research a bit into apimachinery bug tracker, but I'd be inclined to close the issue as schema conversion, where the error occurs, is not actually needed for your use case.

[2020-10-30 15:58] #1791 closed

[2020-10-30 16:22] astefanutti commented on #1794
Let me close this. Feel free to open a new issue if needed.

[2020-10-30 16:22] #1794 closed

[2020-10-31 12:52] arijitmazumdar opened #1798 "Scalability of integration components in a non knative environment"
Hi
We are testing camel-k capabilities on a minikube environment, we haven't installed knative.
We have observed when we create an integration, by default the replica is 1.
Curious to know can we create an integration component with multiple pods in the beginning ?
Also as we are in a non knative environment, how can we scale the number of pods. I have tried to change the number of replica in the

[2020-11-02 07:58] astefanutti commented on #1798
Hi, one option is to set the `.spec.replicas` field of the Integration resource.

Also the `kubectl scale` sub-command can be used to scale the Integration, e.g.:

    $ kubectl scale it my-integration --replicas N

[2020-11-02 08:29] astefanutti commented on #1580
Documentation has been provided with #1627. Let me close this. Feel free to re-open if needed.

[2020-11-02 08:29] #1580 closed

[2020-11-02 08:36] astefanutti commented on #1231
The go.sum file has changed and the `helm.sh/helm/v3` module versions have changed as a result. Let me close this. Feel free to re-open if that's still an issue.

[2020-11-02 08:36] #1231 closed

[2020-11-02 08:41] astefanutti commented on #1082
Now that Quarkus is the default runtime and will become the only runtime, would it make sense to close this?

[2020-11-02 08:42] davsclaus commented on #1082
yeah sure

[2020-11-02 08:42] #1082 closed

[2020-11-02 09:01] astefanutti commented on #36
I think the bulk of it is there: https://camel.apache.org/camel-k/latest/architecture/architecture.html.

Let me close this. We can create more specific issues for the missing pieces if needed.

[2020-11-02 09:01] #36 closed

[2020-11-02 09:48] nicolaferraro commented on #751
Maybe we can do better, adding a guard ourselves can help. Currently I need an empty cluster if I want to check that global mode works, but this can be avoided with some simple checks in the global operator.

[2020-11-02 11:00] nicolaferraro opened #1799 "Implementing a global build strategy"
I'm thinking to how we can improve global mode and I ended up with the following mechanism.

When using global mode, the platform where the global Operator is installed (`camel-system` will be the one) should be the default for all namespaces.

If a namespace has no platform (or it has a "empty" special platform, to deal with issues e.g. default kamelets are not installed in current namespace with

[2020-11-02 11:23] lburgazzoli commented on #1799
I guess we may need to review some of the options we have for kits, as example you can define properties, secrets and config maps and you don't want to share them across tenants I guess.

[2020-11-02 11:36] nicolaferraro commented on #1799
Right, restricting this to "platform" traits may be an option. I.e. using the existing strategy for edge cases.

[2020-11-02 11:36] astefanutti commented on #1799
Sounds good to me.

A couple of questions on top of my head:

* Do IntegrationKit (resp. ImageStream) really need to be _mirrored_ (resp. copied)? It may be possible to avoid copying the ImageStream by binding the `system:image-puller` role for the global namespace to the local namespace integration service account. Though integration pod defaults to using the `default` ServiceAccount, and it can

[2020-11-02 11:42] nicolaferraro commented on #1799
Cool, the `system:image-puller` strategy seems much better.

Yes, I'd like using `routine` to speed up, as often the external builder download times take a lot of time, especially in local clusters.
Afair, registries cannot be changed by some local user, so libraries should be safe. Except for the Jitpack case...

[2020-11-02 11:46] astefanutti commented on #1799
Right, I think it's also important to revisit the build scheduling that serialises builds, as it is likely to become a bottleneck in a multi-tenant setup.

[2020-11-02 11:53] nicolaferraro commented on #1799
Yeah, @lburgazzoli was proposing to experiment with mvnd #1784 , which afaik supports parallel builds. Also the part that pushes to the registry can be parallelized. By parallelizing, we may not do chained builds, but the overall time should be reduced.

[2020-11-02 11:54] nicolaferraro commented on #1799
And that's worth doing it in general, not only in the global scenario tbh.

[2020-11-02 12:55] lburgazzoli commented on #1799
We also discussed to have some ordering when executing builds: https://github.com/apache/camel-k/issues/592

[2020-11-02 13:25] astefanutti commented on #1799
Great, I think that use case is a good driver to move forward on the build ordering / parallelisation work. Granted it's worth doing it in the general case also, as noted by @nicolaferraro.

[2020-11-02 13:32] phantomjinx commented on #1743
- https://v1-0-x.sdk.operatorframework.io/docs/olm-integration/quickstart-bundle/
- https://v1-0-x.sdk.operatorframework.io/docs/olm-integration/quickstart-package-manifests/
- https://v1-0-x.sdk.operatorframework.io/docs/olm-integration/quickstart-bundle/

[2020-11-03 09:59] arijitmazumdar commented on #1798
Hi
How to pass .spec.replicas in the `kamel run` command?
The other option did work by using `kubectl scale integration`... Thanks for that.

[2020-11-03 10:07] astefanutti commented on #1798
There is currently no option to the `kamel run` subcommand to set the replicas count. That would make a good enhancement. Feel free to create an issue for that.

it is possible to edit the Integration resource with `kubectl edit` or `kubectl patch`, e.g.:

    $ kubectl patch it my-integration -p '{"spec":{"replicas":2}}'

[2020-11-03 17:08] #1798 closed

[2020-11-03 22:09] nicolaferraro opened #1802 "Use local registry config from cluster"
KEP in progress:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/generic/1755-communicating-a-local-registry

[2020-11-03 23:40] #751 closed

[2020-11-05 13:51] nicolaferraro opened #1803 "Remove main runtime from operator codebase"
We need to remove:
- references to main runtime
- specific tests for it
- catalog generation
- options that only work with main

[2020-11-05 13:51] nicolaferraro commented on #1803
Duplicate of #1562

[2020-11-05 13:51] #1803 closed

[2020-11-07 13:54] arijitmazumdar opened #1806 "scaling out camel-k integrations are not working correctly"
Hi
I have written a simple camel-k component which exposes a rest endpoint, which responds back.

[code]

I have deployed the component using `kamel run BasicRest.java --dev`
I have scaled the integration using `kubectl scale it basic-rest --replicas=2`
This created 2 instances
[code]
I have port-forwarded the service using `kubectl port-forward svc/basic-rest 8080:80`
But when I am doing a curl t

[2020-11-09 08:18] astefanutti commented on #1806
The `kubectl port-forward svc` command is just a convenient wrapper around pod port-forwarding and does not enable to balance traffic on the service endpoints. The Kubernetes API only enables port forwarding for pods. The `kubectl port-forward svc` command picks a pod from the Service endpoints once, and forwards traffic to that pod.

This is being discussed at the end of https://github.com/kubern

[2020-11-10 10:19] #1267 closed

[2020-11-11 12:51] nicolaferraro opened #1808 "Take into account consumer/producer dependencies"
See: https://github.com/apache/camel-k-runtime/pull/551

[2020-11-11 23:03] lsalotto-ingenia commented on #1376
Hi all, any updates on this? Did any of you got this workin?

[2020-11-12 12:18] bthj commented on #1376
Hi - haven't had an opportunity to look further into this.

[2020-11-12 13:34] #1760 closed

[2020-11-12 22:32] #1771 closed

[2020-11-16 07:33] astefanutti commented on #1806
Let me close this as it's been answered.

[2020-11-17 07:25] arijitmazumdar commented on #1806
Hi
Sorry for being late. I've tried with exposing the service as node-port, but I am still seeing the same behavior.
[code]

[2020-11-17 07:53] astefanutti commented on #1806
Could you please try with:

    $ kubectl get --raw "/api/v1/namespaces/<NAMESPACE>/services/basic-rest:http/proxy/hello/arijit

This reaches the service through the API server proxy.

[2020-11-17 10:46] #1549 closed

[2020-11-17 22:23] lance opened #1813 "Telegram Kamlet sets CloudEvent source attribute to Knative sink"
Using a simple Telegram Kamlet to receive CloudEvents in a Knative Service results in events that have the CloudEvent `source` attribute set to the Knative sink for the events.

For example, this Kamlet:

[code]

Produces this event:

[code]

Note that the source is pointing to the Knative event display instead of being a URI identifying the context in which the event occurred. https://github.com/

[2020-11-18 04:15] arijitmazumdar commented on #1806
I retested again. I am getting the right result. In the last step I probably missed to scale up the integration component to 2. Thanks a lot for patiently supporting me.
[code]

[2020-11-18 04:15] #1806 closed

[2020-11-18 05:10] arijitmazumdar opened #1814 "How to specify resource for integration components"
To run any pods in k8s we should be providing limiting and request resources (cpus and memory). How can we pass this in a camel-k component? I don't see this to be available with any of existing Traits ?
If not, then it should be a must have feature to implement in production.

[2020-11-18 06:15] lburgazzoli commented on #1814
I think the [container](https://camel.apache.org/camel-k/latest/traits/container.html) is what you are looking for

[2020-11-18 07:32] astefanutti commented on #1806
Great! Thanks for the feedback.

[2020-11-18 07:53] lburgazzoli commented on #1813
Thos are likely the default values the camel-knative component sets when no other info are given, I think we need:

1. the camel-k operator to set some more meaningful values
2. the component to fail when no values are provided instead of falling back to internal defaults

@nicolaferraro what do you think ?

[2020-11-18 11:40] #1814 closed

[2020-11-18 15:44] starafdar-git opened #1815 "Camel sslContextParameter not working"
Hi Team,
I am trying to use ssl certificate to make rest call , but seems its not working as expected however its working on spring boot with camel:

#Code snippet for updating ssl context parameter
CamelContext camelContext = getContext();
KeyStoreParameters ksp = new KeyStoreParameters();
ksp.setResource("/etc/camel/conf.d/_secrets/****/*****.p12");
ksp.setPassword("*****");

KeyManagersParamete

[2020-11-19 11:19] lburgazzoli commented on #1815
If you are using the latest version of camel-k (1.2.0), the default runtime has been switched to quarkus so best is to follow this guide: https://quarkus.io/guides/http-reference#ssl

[2020-11-19 11:25] lburgazzoli opened #1818 "Support for kamelet repository"
The current behaviour of the camel-k operator is to looks for kamelets from k8s but to support different use cases, we should think about introducing a concept of `kamelet repository`. As example we can support:

1. to search kamelet on the local filesystem (@doru1004 FYI)
2. to search kamelet from an online kamelet catalog (github)

[2020-11-19 11:25] lburgazzoli commented on #1818
/cc @nicolaferraro

[2020-11-19 11:43] heiko-braun commented on #1818
Maybe https://www.apicur.io/registry/ ?

[2020-11-19 12:55] oscerd commented on #1818
Not sure the apicurio registry is the right fit for this.

[2020-11-19 13:25] starafdar-git commented on #1815
@lburgazzoli
Thanks for your reply
 Created a config map for application.properties and added below content:
 quarkus.http.ssl.certificate.key-store-file="/etc/camel/conf.d/_secrets/****/***certificate.p12"
 quarkus.http.ssl.certificate.key-store-file-type="P12"
 quarkus.http.ssl.certificate.key-store-password="****"

then used below command to run but still same
 kamel run --configmap=configmap -

[2020-11-19 16:06] doru1004 commented on #1818
What would be the relationship between a local kamelet and its online version? Is the local kamelet a struct subset of the online kamelet ?

[2020-11-19 16:10] lburgazzoli commented on #1818
there should not be any difference, but if you are off-line or access to a cluster, then you may need a way to resolves kamelet if it is in use in your integration wit `kamel local run`

[2020-11-19 16:16] doru1004 commented on #1818
Sounds good and I agree that there shouldn't be any difference. I was hinting at Kubernetes as a dependency. Could a kamelet run locally without Kubernetes being required?

[2020-11-19 16:25] lburgazzoli commented on #1818
1. no, the format should be the same
2. a kamelet alone can't run so it need to be put in a context: a kamelet binding or plain integration as any other endpoint so it should not make any difference if youa re on or off k8s (of course if the kamelet itself required k8s then it wont' work but that's expected)

[2020-11-19 16:30] heiko-braun commented on #1818
@oscerd Why not? Isn't it just a place to put stuff? The examples I saw are basically just yaml or json documents.

[2020-11-19 17:07] oscerd commented on #1818
My main concern about the registry is related to the fact that we may need to provide a different strategy for the kamelets. I mean, in a schema registry, when you send a kafka record and you want to use a schema, you'll have to set a strategy to provide the id for that schema. Apicurio provides some strategies out of the box, but we may need to define our own strategy for the kamelets and I don't

[2020-11-19 19:53] zregvart commented on #1818
I guess the question would be: what is a _kamelet repository_ and what functionality is expected from it. Is it a dumb store of YAML/JSON files, similar to a Maven repository or a mounted volume. Or is it something with more functionality, similar to a CMIS repository.

[2020-11-20 06:22] lburgazzoli commented on #1818
I don't think it matters at the moment, the main goal is to introduce the concept on camel-k side, like defining an minimalistic API the operator can leverage to search and retrieve a kamelet. There will be multiple implementation depending on the back-end.

[2020-11-20 06:30] lburgazzoli commented on #1818
I think it would technically be possible and as you mentioned it would offer some nice things like version and validation, however I wonder if it would be semantically correct as a kamelet defines both the signature (with a json schema and the schema for in/out data) as well as the implementation of the API itself.

FWIW, I think we have or at least we thought about having an option to use the reg

[2020-11-20 13:48] phantomjinx opened #1820 "Refactor artifacts of deploy directory and continue alignment towards operator-sdk & kustomize"
Following on from #1743 ....

* Refactor and remove any duplication between the `deploy` and `config` directories;
* The `config` directory should now become the source of truth for the artifacts, where applicable, retargetting the kamel CLI accordingly;
* Make clear in README that the bundle directory should be generated on an as-needed basis rather than being checked-in (the CSV manifest resourc

[2020-11-20 17:55] weimeilin79 opened #1821 "Support for POJO, bring it back!"
Currently POJO is no longer taken in by Camel K. Instead of restricting and directly rejecting it, can we have a window open for this scenario, provide it as an optional feature.

Without the support for POJO meaning there is no easy DEV mode for Camel K, basically it’s the death of live coding. Instead of seeing the beauty of seeing code directly running on K8s, now the flow goes like this:

Deve

[2020-11-21 09:38] lburgazzoli commented on #1821
I am the one to be blamed for have introduced and then removed this feature.

When this feature was first introduced, Camel was in its 2.x ages and features like properties binding and configuration over properties was not powerful as it is today, so having a way to easily configure components or other aspect of Camel was really needed and that's why I added it but it was never been intended to le

[2020-11-21 09:45] lburgazzoli commented on #1821
In essence, Kamelets are just like any regular camel component that instead of just providing support to exchnage data with a 3th party system,  can be used to package complex routing logic and dependencies hiding the detail from the end user.

I don't see how it conflicts with other things.

[2020-11-21 14:56] weimeilin79 commented on #1821
Yes, I totally agree that we should not abuse it. But also we don’t want to completely wipe out the flexibility. In order for a better UX and more efficient engine, we need to take a closer look at their behaviour. Because sometimes I don’t code in a certain way, it’ll be good to take a look at some older issue and their problem repo to setup some rules?

Not blaming :) Just want to know why?

Wha

[2020-11-21 16:33] zregvart commented on #1821
I think the biggest drawback of Camel K being able to address moderate to high complexity cases is in it's over-reliance on having to fit the whole implementation of the solution in the CR. I think Camel K should consider supporting container images or archives instead. So instead of putting the code into a CR, I as a developer, should be able to push an image/archive with the code instead, have t

[2020-11-21 16:54] lburgazzoli commented on #1821
This is actually not accurate, we need the route as it is what drives the
materialization of various aspects of the integration but we actually
recommend providing additional logic through artifacts

On Sat, 21 Nov 2020 at 17:33, Zoran Regvart <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2020-11-21 22:00] zregvart commented on #1821
Yes, the wording doesn't pay it justice, but I don't think it's inaccurate. Let me rephrase this with an example: we moved to Linux containers that are self contained, i.e. all dependencies that are needed at runtime are present within one container image. This is something we did to achieve idempotency and immutability, which in turn gave us reliability and scalability. The model of having the Ca

[2020-11-23 15:01] nicolaferraro opened #1823 "Release 1.2.1"
There are some fixes in the Kamelet handling in the 1.2.x branch, it's worth doing a release

[2020-11-23 15:05] weimeilin79 commented on #1821
Yes, @zregvart I think we are both thinking about the same thing, it's the packaging to deployment experience, if everything are broken down to too many pieces, and the developer were left to do everything manually, it's not ideal.

[2020-11-23 15:46] nicolaferraro commented on #1823
# Release Notes

## Bug Fixes

- KameletBinding can be used to push/pull data from Knative broker ([#1780](https://github.com/apache/camel-k/pull/1780), [@nicolaferraro](https://github.com/nicolaferraro))
- Fixed Kamelet direct http binding in non-knative environments ([#1776](https://github.com/apache/camel-k/pull/1776), [@nicolaferraro](https://github.com/nicolaferraro))
- Fixed kamelet properti

[2020-11-23 22:03] kaczyns opened #1824 "Multiple knative revisions created when integration has multiple spec.configuration items"
If I have an integration that contains this:
[code]
note that there are two configmaps and two secrets.  When using the Knative profile, the Knative `Service` that is generated contains volume mounts and volumes for each configmap and secret.  When the camel-k operator reconciles this integration multiple times, the order that the volumes and volume mounts appear in the `Service` is different.  Kn

[2020-11-23 22:18] kaczyns opened #1826 "Multiple knative revisions created when integration references multiple Knative channels"
If I have an integration with multiple lines like this:
[code]
I can end up with a Knative service that has an environment variable that looks like this:
[code]
Each time the camel-k operator reconciles the integration, the `CAMEL_KNATIVE_CONFIGURATION` can be re-generated, with the `services` in a different order.  Knative will create a new `Revision` each time this happens, and each new `Revisio

[2020-11-24 07:38] #1824 closed

[2020-11-25 11:54] nicolaferraro commented on #1818
I'd start with a Github interface for the operator/CLI and also create a new Kamelet repository on the apache org that can be contributed by the community, like `apache/camel-kamelets`.

At the moment, it would contain only the yaml definitions, so that the runtime can look them up automatically. But the same repo can later host also other artifacts that are linked to each kamelet, like UIs config

[2020-11-25 16:13] davsclaus opened #1828 "Camel 3.7 - Add support for the new csimple language"
If the Camel routes uses `csimple` as language name, then Camel K should add `camel-csimple-joor` as dependency as that is the runtime compiler which would be needed. Its the same jOOR compiler as already used by Camel K to compile Java RouteBuilder.

[2020-11-26 15:03] mmelko commented on #1657
I can look at this.

[2020-11-27 08:56] #1823 closed

[2020-11-27 09:39] nicolaferraro commented on #1761
Rate limits do not apply to "apache". Ref: https://issues.apache.org/jira/browse/INFRA-21147

[2020-11-27 09:39] #1761 closed

[2020-11-27 13:41] lburgazzoli opened #1831 "Add a new configuration type to set build time properties"
It may be required to configure some build time properties as described in the issue: https://github.com/apache/camel-k-runtime/issues/564.

Since as today a catalog of build vs runtime properties does not exists, then we could add a new configuration type **build-property** and put all those properties in the application.properties generated to build the quarkus runner.

[2020-11-27 14:24] nicolaferraro commented on #1135
Outdated

[2020-11-27 14:24] #1135 closed

[2020-11-30 06:23] tadayosi commented on #1547
If no one has started it yet, I can work on it.

[2020-11-30 08:33] #1185 closed

[2020-11-30 16:00] lburgazzoli opened #1834 "Support Knative Sinks"
https://knative.dev/docs/eventing/sink/

[2020-12-01 21:23] #1813 closed

[2020-12-02 09:15] lburgazzoli opened #1837 "Unable to use Kamelet spec in a custom CRD"
I'm trying to use the `Kamelet` spec in a custom controller built using operator-sdk 1.2.x but it looks like the manifests cannot be built, to reproduce the issue:

1. install controller-gen v0.4.1
2. install a recent kustomize
3. operator-sdk init  --repo gihub.com/lburgazzoli/embedded-camel-k-cr
4. operator-sdk create api  --group=example --version=v1alpha1 --kind=MyType
5. add a Field of type `

[2020-12-02 09:16] nicolaferraro opened #1838 "Document secrets for using secrets (and config maps)"
There are some undocumented features that need to find some place in the doc, e.g. in: https://camel.apache.org/camel-k/latest/configuration/configmap-secret.html#_reference_a_secret_in_properties

E.g.

1. The `{{secret:<mysecret>/<myentry>}}` property function that can be used in routes or injection points directly (not only in property files
2. The equivalent `{{configmap:<mycm>/<myentry>}}` fo

[2020-12-02 09:20] astefanutti commented on #1837
It seems related to the `JSONSchemaProps` field in `KameletSpec`.

This used to work in controller-gen v0.4.0, and I suspect this is caused by https://github.com/kubernetes-sigs/controller-tools/commit/f8684f404f0f430181712b0f90721f90fb3637c6.

[2020-12-02 10:06] heiko-braun commented on #1838
The price for the best issue title in 2020 goes to @nicolaferraro !

[2020-12-02 16:39] nicolaferraro opened #1840 "Make Knative endpoints and kameletbinding work with broker without explicit event type"
Needs runtime 1.6.x (https://github.com/apache/camel-k-runtime/pull/568)

This should be legal (receiving all events from the broker without filters):

[code]

This should be legal as well (sending event without explicit event type) and the recipient should see the default event type:

[code]

Other cases:
- KameletBinding from Kamelet to Broker without explicit event type
- KameletBinding from Br

[2020-12-03 14:04] #1675 closed

[2020-12-03 16:49] nicolaferraro opened #1842 "Groovy example is broken"
File: examples/routes.groovy

Logs:

[code]

[2020-12-03 16:53] lburgazzoli commented on #1842
this should have been fixed in recent runtime

[2020-12-03 21:21] doru1004 opened #1843 "Lower priority of modeline options"
In the current implementation modeline options take precedence over the same user-provided options. It feels like this should be the other way around i.e. if a user mentions an option on the command line, that option should overwrite any modeline option with the same name.

Modeline options are currently inserted at the end of the original command line which means that they overwrite any identical

[2020-12-04 12:23] nicolaferraro commented on #1843
Yes, I think what you're suggesting is the right way to handle those params

[2020-12-04 13:52] #1654 closed

[2020-12-04 17:01] #1837 closed

[2020-12-07 14:50] astefanutti commented on #1831
Relates to #1534.

[2020-12-08 06:40] tadayosi opened #1848 "Integration with Prometheus trait doesn't deploy on Minikube"
Prometheus trait works fine on OpenShift, but on Minikube I cannot finish running the following on Minikube even with or without `prometheus.service-monitor`:
[code]
It keeps `Deploying` forever:
[code]
Note the pod still runs fine and the service `simple-prometheus` is also created behind the scenes, but the phase never changes to `Running`.

Versions info:
[code]

[2020-12-09 08:13] tadayosi commented on #1848
As it turns out, it's an issue not only on Minikube but also on k8s in general and even on OCP 3.11 where `ServiceMonitor` CRD is not provided. The root cause is that some bool properties on traits are really not effective and thus `prometheus.service-monitor=false` is neglected. Pls see my pull req above.

[2020-12-09 17:43] johnpoth commented on #1445
Do you have any graph visualization tools you recommend for the camel-k proposals/docs ?

[2020-12-09 18:37] astefanutti commented on #1445
I've used http://lucidchart.com for the diagrams in the _secured monitoring_ proposal. I recommend it, though you may have to request a corporate license. Other tools can be used, and you can even try tools like https://github.com/ivanceras/svgbob 😄.

[2020-12-10 09:15] #1848 closed

[2020-12-10 22:15] doru1004 commented on #1843
Opened a PR about this: https://github.com/apache/camel-k/pull/1857

[2020-12-11 08:07] tadayosi opened #1859 "Should 'kamel uninstall --all' also delete camel-k-registry-secret?"
Currently `kamel uninstall --all` doesn't delete `camel-k-registry-secret` if it was generated with `kamel install --registry ...`.

[code]
Maybe it should remove the registry and also provide an option `--skip-registry` for users who don't want it to be removed.

[2020-12-11 08:31] tadayosi opened #1860 "GitHub Packages registry cannot be used as expected"
It seems there is a problem with using GitHub Packages as the registry right now.
https://camel.apache.org/camel-k/latest/installation/registry/github.html

Executing `kamel run` to run an integration builds a kit and uploads it to the registry successfully, but it then always fails at pulling the image from the registry during the pod creation. The root cause appears that Camel-K specifies the im

[2020-12-11 10:15] nicolaferraro commented on #1859
Yes, sounds good, I think we add some labels to detect if it's generated by us, btw that name is usually used only by our CLI

[2020-12-14 08:46] tadayosi commented on #1859
@nicolaferraro Thanks. So maybe should we add a label `app=camel-k` for the generated secret and clean up them if they have the label under uninstalling?

[2020-12-15 14:09] marko999 commented on #1664
Similar problem, I have tried with kamel cli, same error

[2020-12-16 04:38] tadayosi commented on #1859
Fixed.

[2020-12-16 04:38] #1859 closed

[2020-12-17 09:08] nicolaferraro opened #1867 "Release 1.3.0"
We should align on Camel 3.7 and latest Quarkus and release early next week, after closing important issues in the backlog.

[2020-12-17 13:15] apupier commented on #1163
for reference:
- github action for Kind https://github.com/marketplace/actions/kind-kubernetes-in-docker-action
- github action for Kubernetes https://github.com/marketplace/actions/setup-minikube-kubernetes-cluster

nota both of them are working only on Linux (but sounds reasonable as a first iteration)

[2020-12-17 13:19] apupier commented on #1163
wondering if it should be an all-in-one action which is installing there container and then Camel K inside or if the container host should be a prerequisite

[2020-12-17 15:10] apupier commented on #1163
example to have Camel K configured on Minikube currently:

[code]

[2020-12-22 14:14] #1562 closed

[2020-12-22 14:27] nicolaferraro commented on #1842
Fixed with latest runtime

[2020-12-22 14:27] #1842 closed

[2020-12-22 17:40] nicolaferraro commented on #1867
## New Features

- Kamelets defined in the global operator namespace are also taken into account during lookup (global installation mode) ([#1836](https://github.com/apache/camel-k/pull/1836), [@nicolaferraro](https://github.com/nicolaferraro))
- Kamelets in github.com/apache/camel-kamelets (or user-defined Kamelet repositories) can be used out of the box in integrations and bindings ([#1830](http

[2020-12-23 09:04] amitsadaphule opened #1869 "'./kamel run xxx' and 'make test-integration' pod failures on Ubuntu 16.04 (with minikube)"
## SUMMARY

`./kamel install` brings up the camel-k-operator-xxx pod as expected.

[code]
But when I execute `./kamel run examples/Sample.java`:
[code]

Similar issue is seen with `make test-integration`. Most of the tests fail with a timeout because of being unable to bring up the pods:
[code]

### camel-k VERSION

Camel K Client 1.3.0-SNAPSHOT
commit: a4df39bb039f62b023b166970a1a67e1965cf9f3

##

[2020-12-23 09:17] tadayosi commented on #1869
It appears you have to run `make install-minikube` first. What happens if you do it?

[2020-12-23 10:45] amitsadaphule commented on #1869
Even with that, I see the same issue. It gets the **camel-k-operator-xx** pod up, but `./kamel run examples/Sample.java` fails to bring the **sample-xxx** pod up.

[2020-12-23 12:51] edeandrea opened #1870 "camel.component.* properties not being respected under Quarkus runtime"
I have a camel-k integration that is using the `camel-kafka` and `camel-infinispan` components. I had also been setting the trait  `quarkus.enabled=false`.

When I change the `quarkus.enabled` trait to `true`, the `camel.component.kafka.*` and `camel.component.infinispan.*` properties no longer work.

Here's the "before" example that was working: https://gist.github.com/edeandrea/906ba2c831e47d0a7

[2020-12-28 18:44] ikwattro opened #1871 "Cannot load Knative configuration from file or env variable"
Hi,

Camel K version :

[code]

I'm trying to bind a current knative broker along with an integration.

The following integration :

[code]

Fails with the following output :

[code]

The knative eventing config is basically from the knative getting started guide :

[code]

Informations about the camel k operator :

[code]

[2020-12-30 00:40] chenrui333 commented on #1543
running into the same issue with [kamel 1.3.0 build](https://github.com/Homebrew/homebrew-core/pull/67984)
[code]

build log in here, https://github.com/Homebrew/homebrew-core/runs/1623638028

[2020-12-30 00:42] chenrui333 commented on #1543
`kamel --version` and `kamel init Example.java` both work for me in my local.

[2020-12-31 12:02] ikwattro commented on #1871
Was resolved by the 1.3.0 release 👍

[2020-12-31 12:02] #1871 closed

[2020-12-31 13:40] apupier opened #1872 "[regression] panic: runtime error: invalid memory address or nil pointer dereference with version 1.3.0 when calling without or with - or -- arguments"
- downloaded https://github.com/apache/camel-k/releases/download/v1.3.0/camel-k-client-1.3.0-linux-64bit.tar.gz
- extract
- call ./kamel

[code]

[2020-12-31 13:51] apupier commented on #1872
it occurs also when using `--` version of commands:
[code]

although `kamel help` is working fine

[2020-12-31 14:51] apupier commented on #1872
last line in kamel code is:

https://github.com/apache/camel-k/blame/cdc01968a9aeedcb9fc8a9238e96f9acfbe04f02/pkg/cmd/modeline.go#L92

not able to make the project working locally (was never abel to make any go project working yet) but suspecting that the target has no Parent? so target.Parent().name() is throwing this error?

[2021-01-01 21:24] samuelhnrq commented on #1135
Wait what happened, still curious to know how is this going to be handled? Outdated why?

[2021-01-01 21:41] samuelhnrq commented on #564
How about an gradle plugin?

We then try to explain the global scope of groovy, file structure (TBD #1135), and whatnot to the build tool and let whatever first party build tool integration of the IDE do the rest of the magic?

Obvious cons:
- First and foremost, it's probably overkill to involve the elephant that is gradle here:
- it's not even going to build anything
- Confuse developers adding

[2021-01-05 08:36] #1872 closed

[2021-01-05 08:42] apupier opened #1875 "Provide non-regression tests for regression #1872"
a fix has been provided but there is no tests to prevent another regression on the same kind of issue https://github.com/apache/camel-k/pull/1873

[2021-01-05 08:49] squakez commented on #886
I can have a look at this if nobody else is working on it.

[2021-01-05 17:13] doru1004 opened #1877 "Local run fails with latest master"
The following error occurs:

[code]

[2021-01-05 17:22] doru1004 opened #1878 "Using -SNAPSHOT prevents rebuilding past commits"
I am currently trying to trace down an error and I am hitting an interesting problem.

I am trying to figure out which commit introduced the error but since past commits explicitly use the 1.6.0-SNAPSHOT (which doesn't exist anymore), this prevents me from actually rebuilding older versions of camel-k.

It would be good to avoid the direct use of versions which contain the SNAPSHOT tag in them. I'

[2021-01-05 17:44] doru1004 commented on #1877
The solution to this is that now that the main runtime has been eliminated there is no longer a need to pass the quarkus runtime on the command line as a dependency:

Removing:
[code]
from the `kamel local run` command line solved the issue.

[2021-01-05 17:45] #1877 closed

[2021-01-06 13:26] lancerdima opened #1881 "Corrupted binaries attached as resource"
Using #1750 as a reference.

### Problem
I am attaching binary resource (with `--resource`) to the integration and expecting it to appear in the container as a resource.
Original file size: 6733 bytes (binary, zip archive in its essence).
Executing command: `kamel run --dev --resource account.adm Integration.java`.
Result: reviewing pod, I see that the attached resource file size is 12255, thus co

[2021-01-06 15:35] lancerdima opened #1882 "Can't use Kamelets from Integration yaml resources"
Using code from documentation as a guiding point (https://camel.apache.org/camel-k/latest/architecture/sources.html).

I create integration as k8s yaml resources and run it directly by applying to k8s cluster, without the help of kamel CLI.
I want to use kamelets to enable reuse of my connectivity points.
Integration fails to start, due to error: `unable to find an EndpointUriFactory for scheme ka

[2021-01-07 09:12] squakez commented on #1882
Hi there, what camel k operator version are you using? Kamelets were introducing starting version 1.2, is your operator up to date?

[2021-01-07 09:32] squakez commented on #1158
I can have a look at this

[2021-01-07 09:40] apupier commented on #1875
Based on regression, interesting use case to test:
* `kamel` (without arguments, this is used to check that a binary is available by VS Code, also personally using it to accessing help)
* `kamel help`
* `kamel -h`
* `kamel --help`
* `kamel --unknownPropertyToCheckItDoesntExplode`

Based on fix provided, interesting use case to test:
* `kamel local run --help`

[2021-01-07 10:39] lancerdima commented on #1882
It's 1.3 (image: docker.io/apache/camel-k:1.3.0)

[2021-01-07 15:12] squakez opened #1884 "kamel install camel-version flag not used"
While working on #1158 I realized we are providing a flag `camel-version` that apparently is used nowhere. If that's no longer used we can remove from the flag list.

[2021-01-08 07:44] #1158 closed

[2021-01-08 07:56] tadayosi commented on #1547
Now covered all of the listed traits. Let's close it.

[2021-01-08 07:56] #1547 closed

[2021-01-08 09:13] squakez commented on #1882
I've run some test and it seems to be a possible bug in the yaml loader. The issue is appearing also when a yaml integration is run via `kamel`. As an example, given the `kamelet` mentioned above and the `test.yaml` file with content:
[code]
Running `kamel run test.yaml` would produce the same result.

[2021-01-08 10:34] nicolaferraro commented on #1878
Yeah, from time to time we need to switch to SNAPSHOT to refer to the runtime artifacts. I've added to the local run comands the `--maven-repository` option so that it's possible to reference `https://repository.apache.org/content/repositories/snapshots` even in `kamel local run`, and it contains the snapshot artifacts, compiled from the runtime master.

Unfortunately, we can't publish on maven ce

[2021-01-08 10:39] nicolaferraro commented on #1881
Thanks for reporting, this behavior is strange.

Sure, there's a way to work this issue around and use data from manually created secrets/configmaps.

You need to link the integration to the secret using:
[code]

If the secret has a property named `key`, then you can use the following property placeholder to reference it:

[code]

Full documentation: https://camel.apache.org/camel-k/latest/configu

[2021-01-11 06:56] oscerd opened #1890 "Removed changelog gh action"
ASF doesn't allow it anymore with the new security policy.

[2021-01-11 09:26] johnpoth commented on #1878
@nicolaferraro is there an easy way to run an integration using locally built SNAPSHOTs of camel-k-runtime ?

[2021-01-11 09:31] nicolaferraro commented on #1878
Local run uses local maven, so I guess it will pick your compiled version. It wouldn't work with the released version, but if you build a `kamel` with runtime-version set to x.x.x-SNAPSHOT in the Makefile (plus `make codegen` before `make`), then `kamel local run` will pick your local runtime.

[2021-01-11 09:44] #886 closed

[2021-01-11 09:45] #1157 closed

[2021-01-11 09:46] #1159 closed

[2021-01-11 10:05] squakez opened #1892 "Implement operator command's flags test"

[2021-01-11 10:07] johnpoth commented on #1878
Thanks @nicolaferraro! I was thinking of running it in Kubernetes but maybe running it locally will be enough, thanks!

[2021-01-11 11:51] #1882 closed

[2021-01-11 16:24] #1707 closed

[2021-01-11 16:48] nicolaferraro opened #1897 "Default catalog is ignored and the operator creates a duplicate"
With 1.3.0, doing:

[code]

Creates a default catalog:

[code]

But when an integration is run:

[code]

Then another catalog is created.

[code]

The `-quarkus` catalog is created because a mechanism exists that creates a catalog when one is not available for the platform runtime. We have only 1 runtime now, but anyway a new catalog is created and the default one ignored.

At a first glance, the

[2021-01-11 17:07] lburgazzoli commented on #1870
The issue is related to the auto wired capabilities of camel-main that by default, auto configure components so in this case if there is an instance of a cache manager or a kafka client, then such instance is bound to the related components and other options then may not have effect (depending on the component). When running on quarkus, the advantage is that the client/manager/etc may be optimized

[2021-01-11 17:09] edeandrea commented on #1870
Thank you @lburgazzoli for looking into it. I will try out your suggestion and report back.

[2021-01-11 17:30] edeandrea commented on #1870
@lburgazzoli another question here though - is there a particular reason that the `hotrod-client.properties` file is not picked up by camel-k?

In my sample (https://gist.github.com/edeandrea/770c84be9da204ff0b13f2340975904e) I would assume that the properties I have defined in the [`hotrod-client.properties`](https://gist.github.com/edeandrea/770c84be9da204ff0b13f2340975904e#file-camelk-client-ym

[2021-01-11 18:05] lburgazzoli commented on #1870
mind opening a new issue for that ? will have a look tomorrow

[2021-01-11 18:06] edeandrea commented on #1870
Will do

[2021-01-11 18:30] edeandrea opened #1898 "hotrod-client.properties not picked up"
The `hotrod-client.properties` file does not seem to be getting picked up when running under quarkus.

In my sample (https://gist.github.com/edeandrea/770c84be9da204ff0b13f2340975904e) I would assume that the properties I have defined in the [`hotrod-client.properties`](https://gist.github.com/edeandrea/770c84be9da204ff0b13f2340975904e#file-camelk-client-yml-L34-L45) and are [mounted into the `Int

[2021-01-11 18:30] edeandrea commented on #1870
Added #1898

[2021-01-11 20:11] edeandrea commented on #1870
FYI setting `camel.main.autowired-enabled=false` does not work. Furthermore the integration does not start:

[code]

[2021-01-11 21:11] lburgazzoli commented on #1870
ah ok, you are on camel-k 1.2 right ? that option is for 1.3. Will check the right tomorrow

[2021-01-11 21:13] edeandrea commented on #1870
Yes

[code]

[2021-01-12 06:25] lburgazzoli commented on #1898
the `hotrod-client.properties` is not automatically loaded by camel-k, you should configure quarkus/camel about where to find it, similar to what you do with `quarkus.infinispan-client.trust-store` but it does not look like there is such option in quarkus-infinispan.

For camel it should be something like:

   camel.component.infinispan.condifuration.configuration-uri = ${env:CAMEL_K_MOUNT_PATH_CO

[2021-01-12 06:43] lburgazzoli commented on #1870
on 1.2 the property should be `camel.main.autowire-component-properties = false`

[2021-01-12 06:48] lburgazzoli commented on #1897
@nicolaferraro do we need to bring the `camel.apache.org/runtime.provider` annotation back in camel-k-runtime ?

[2021-01-12 07:59] astefanutti commented on #1897
I think we can just remove the lookup by annotation and also get rid of `camel.apache.org/runtime.provider` altogether.

[2021-01-12 09:28] davsclaus commented on #1870
Yeah we can do that.

[2021-01-12 09:30] squakez commented on #1155
I was having a look at this. I am wondering if the issue is about the `--config` flag and where the documentation should go. @nicolaferraro do you mind clarifying that?

[2021-01-12 11:56] edeandrea commented on #1898
Thanks I'll give this a try. I assume you also have to do whats in #1870, otherwise camel-quarkus does not respect the `camel.component.*` properties.

[2021-01-12 11:58] edeandrea commented on #1898
Actually in my case the configmap is mounted as a file and is on the classpath.

Would that still not be picked up by camel-k?

[2021-01-12 14:15] #1156 closed

[2021-01-12 16:29] doru1004 commented on #1878
I guess my question is, is it needed to go through a phase where -SNAPSHOT is used?

Instead of using 1.6.0-SNAPSHOT, one could advance the SNAPSHOT tag of the other project to something like 1.6.1-SNAPSHOT thus leaving 1.6.0 to not have a SNAPSHOT tag. Then Camel-K will have no mention of SNAPSHOT in its source code. If we then need to use the latest 1.6.1-SNAPSHOT, we first move the SNAPSHOT to

[2021-01-12 16:38] doru1004 opened #1902 "Installing Camel-K operator on Docker for Desktop with Kubernetes cluster enabled"
Docker for Desktop allows the creation of a Kubernetes cluster.

I am trying to get `kamel run` to work in this setting but I'm hitting some blockers.

First step seems to be the need to create a registry using this command:

[code]

There are suggestions out there to use the actual `docker.io` registry but that is impractical because it requires the passing of the login credentials on the command

[2021-01-12 18:42] edeandrea commented on #1870
I can confirm that setting `camel.main.autowire-component-properties=false` in my configuration does indeed allow my integration to respect the `camel.component.*` properties. What it does do, however, is now ignore the quarkus-specific properties (i.e. `quarkus.infinispan-client.*`).

[2021-01-12 18:45] edeandrea commented on #1898
The problem here is that the Quarkus runtime expects `hotrod-client.properties` to be in `META-INF` (see https://github.com/quarkusio/quarkus/blob/master/extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java#L62). With camel-k, the build is performed by the operator so the user has no way to put `hotrod-client.properties` insid

[2021-01-12 18:46] lburgazzoli commented on #1870
That is expected as the `quarkus.infinispan-client.` namespace is owned by quarkus-infinispan

[2021-01-12 18:47] #1870 closed

[2021-01-13 09:10] squakez commented on #1652
I can work on this

[2021-01-13 10:35] #1892 closed

[2021-01-13 11:21] lancerdima opened #1904 "Integration Monitoring, documentation issue"
Referring to the Camel K integration monitoring documentation page (https://camel.apache.org/camel-k/latest/observability/integration.html)

### Scenario
1) Camel K is installed (either with Helm chart, or kamel CLI), but no monitoring was enabled
2) We need to enable monitoring for integrations
3) We use command as outlined in the documentation:
`$ kubectl patch ip camel-k --type=merge -p '{"spec

[2021-01-13 11:26] astefanutti commented on #1904
Thanks a lot for the report. Would you be able to create a PR with the proposed fixes?

[2021-01-13 15:39] #1897 closed

[2021-01-13 16:53] squakez opened #1906 "CLI command kamel help fail if not connected to any cluster"
When you are disconnected from a kubernetes cluster, `kamel help` will fail with following result:
[code]
I think we should instead provide the help screen as we do for `kamel version` command (that works also disconnected).

[2021-01-13 16:53] squakez commented on #1906
I can work on fixing this

[2021-01-14 10:50] #1906 closed

[2021-01-14 11:08] squakez opened #1910 "[CLI] Kamel run does not check source file exists"
I wonder if this is a desired behavior. When running any integration which is missing the source file (ie `kamel run xyz` where xyz file does not exists), the CLI does not check if the file exists, creating an empty integration. I wonder if this is a bug and we should verify that the file exists and returning an error instead.

[2021-01-14 11:08] squakez opened #1911 "[CLI] Kamel run does not check source file exists"
I wonder if this is a desired behavior. When running any integration which is missing the source file (ie `kamel run xyz` where xyz file does not exists), the CLI does not check if the file exists, creating an empty integration. I wonder if this is a bug and we should verify that the file exists and returning an error instead.

[2021-01-14 11:08] squakez commented on #1911
I can work on this if it's confirmed to be a bug.

[2021-01-14 11:12] squakez commented on #1910
Duplicate of #1911

[2021-01-14 11:12] #1910 closed

[2021-01-14 12:21] nicolaferraro commented on #1911
It may be a regression, it used to be the case

[2021-01-15 11:30] #1911 closed

[2021-01-15 13:22] rbaumgar opened #1915 "not able to use json: MethodNotFoundException"
try to use application/json payload on Rest POST. tried with Jackson and Gson Library.

Camel 3.5.1
Camel-K 1.2.0

kamel run routes.xml --dev  -d camel-jackson -d camel-gson
[code]

[code]

[2021-01-15 13:30] ogomezdi commented on #991
It'll great having this feature, resource consumption reduce significantly in native mode, not only in terms of execution time or  throughput, but also in memory consumption making the same infrastructure able to increase the number of microservices deployed, which is in my case one of the biggest problems.

[2021-01-17 03:27] chenrui333 commented on #1543
Any update on this issue?

[2021-01-18 14:28] edeandrea commented on #1898
@lburgazzoli I filed quarkusio/quarkus#14368

[2021-01-18 15:02] #1884 closed

[2021-01-19 09:58] apupier opened #1921 "kamel inspect is not providing dependencies specified in modeline"
call `kamel inspect MyRouteBuilderWithAdditionalDependencies.java` with the specified file having this content:
[code]

it returns:
`mvn:org.apache.camel.k/camel-k-loader-java`

the declared depdency in modeline is missing

[2021-01-19 12:29] #1487 closed

[2021-01-19 15:18] apupier opened #1922 "Restart debugger on automatic reload with development mode"
When the integration is deployed using the --dev mode and a debugger is attached (`kamel debug`), it would be convenient to recreate the debugger when the integration is automatically restarted.

currently:
- `kamel start Xx.java --dev`
- `kamel debug x-x`
- update Xx.java and save it. The debugger is closed.
- need to call again `kamel debug x-x`

[2021-01-19 16:09] apupier commented on #1867
the Camel website has not been updated yet: https://camel.apache.org/download/#camel-k

[2021-01-19 20:24] amitsadaphule opened #1923 "[ppc64le] bundle image generated using `bundle` and `bundle-build` targets incompatible with `opm`"
## SUMMARY

I was able to build the binary and image on ppc64le platform. Also, I was able to get `kamel install` and `kamel run` commands to work with `--olm=false` flag on ocp cluster (4.6.8). But in order to get this to work with OLM, I did the following steps in order to use the bundle image to create a custom catalog source for camel-k:

[code]

But that failed with the error "Invalid bundle"

[2021-01-20 02:49] doru1004 commented on #1921
Thanks for reporting this.

Solved by: https://github.com/apache/camel-k/pull/1924/files

[2021-01-20 08:59] astefanutti commented on #1923
Thanks a lot for the detailed report.

It seems there is an issue with the `replaces` field of the bundle:

https://github.com/apache/camel-k/blob/7bdb65300c380362c71b3bc624c4a0f57ce40e31/config/manifests/bases/camel-k.clusterserviceversion.yaml#L146

Could you please try by removing the field from the CSV?

[2021-01-20 09:46] amitsadaphule commented on #1923
Thanks @astefanutti ! That got rid of the opm error. Will check further installation now :)

[2021-01-20 09:48] squakez commented on #1184
What about if we mimick `kubectl` CLI? If you want to stick to a namespace you must runt `kubectl config set-context --current --namespace=default` this would change the kube config file. I think we don't have any `kamel` config file, but we could use env vars or if it makes sense creating a config file to serve the scope.

[2021-01-20 09:50] astefanutti commented on #1923
@amitsadaphule thanks a lot for the feedback. Let us know if you face any other issues.

[2021-01-20 15:36] squakez commented on #1882
While having a patch release, as a workaround, we can omit parameters and put them as query parameters such as:
[code]

[2021-01-20 15:39] amitsadaphule commented on #1923
@astefanutti I was able to get the catalogsource added to the local cluster for camel-k with the following yaml:

[code]

Logs:

[code]
Also, when I executed `kamel install` for this new package, logs show as if everything is installed as expected. I also see the subscription being added. But the operator does not come up. Logs below:

[code]
I'm not sure what's going wrong here. Am I missing some

[2021-01-20 16:53] astefanutti commented on #1923
Could you please provide the whole definition of the Subscription that is created by the `kamel install` command?

Also, as a work-around, you may be able to work through this from the OpenShift Web console instead of the Kamel CLI. You should be able to find your CatalogSource from the Operator Hub UI, and then create a Subscription there.

[2021-01-20 17:02] amitsadaphule commented on #1923
Here is the subscription definition:

[code]

Also, I had tried to manually create the subscription with the following yaml:

[code]

[code]

But that had the same behavior too. No operator pod was shown.

[2021-01-20 17:11] astefanutti commented on #1923
Could you please check the PackageManifest created for your CatalogSource, and make sure the Subscription matches the PackageManifest information? You can follow the documentation from: https://github.com/operator-framework/operator-registry#using-the-index-with-operator-lifecycle-manager.

[2021-01-20 20:00] #1652 closed

[2021-01-20 20:35] amitsadaphule commented on #1923
Thanks a lot @astefanutti ! The following command did the trick:
[code]

in combination with the catalog-source.yaml:

[code]
[code]

[2021-01-20 20:46] amitsadaphule commented on #1869
@astefanutti can you provide any pointers for this?

[2021-01-21 09:00] squakez commented on #1881
I am having a look at this.

[2021-01-21 09:15] nicolaferraro opened #1928 "Provide a way to use kamelet ID in binding"
People can use this syntax to create a specific Kamelet configuration:

[code]

Then they can set properties like `camel.kamelet.mykamelet.myid.xxx=yyy`, where `xxx` is the Kamelet ID (that internally translates into a route ID at runtime). Those properties can also be set in auto-loaded secrets (with special annotations).

But there's no way to use this mechanism in a KameletBinding. I'm thinking

[2021-01-21 11:47] nicolaferraro opened #1930 "Warnings on getting operator versions"
I see these messages in CI:

[code]

Something related to the operator version check? @astefanutti , @squakez

[2021-01-21 12:38] apupier commented on #1872
I think that this issue should have the Milestone 1.3.1 set. https://github.com/apache/camel-k/commit/2d0a6f3435e0e3dcac613c0f7cff96ec5b78860d

[2021-01-21 12:45] apupier commented on #1911
this issue has milestone 1.3.1 set but it is no tpart of 1.3.x branch https://github.com/apache/camel-k/blob/ed0456f0df60f4141be4742d42087d633e13dc26/pkg/cmd/run.go#L383 https://github.com/apache/camel-k/commits/release-1.3.x

Is it planned to backport it? (if it is a regression sounds a good idea) or the milestone needs to be updated?

[2021-01-21 13:33] squakez commented on #1930
Most likely yes. The way it works, every "online" command try to get the cluster operator version. It matches against the client, and if major.minor differs return the warning.

[2021-01-21 13:36] squakez commented on #1911
Yeah, I will take care of backporting to 1.3 too.

[2021-01-21 17:07] #1664 closed

[2021-01-22 09:02] astefanutti commented on #1869
@amitsadaphule for some reasons, the integration pod fails to pull the container image that has been built for that integration:

[code]

What cluster do you use, and how did you configure the container registry?

Also dumping the IntegrationPlatform may help, e.g., `kubectl get ip camel-k -o yaml`.

[2021-01-22 09:06] astefanutti commented on #1923
Great, thanks for the feedback.

It may be useful that we document these steps of deploying to OLM from source.

[2021-01-22 09:14] tadayosi opened #1935 "Adding component dependency doesn't seem to work"
Trying to run the following script `test.js` with the command `kamel run -d camel-undertow test.js` fails to build a kit.
[code]

The operator got the following error:
[code]

[2021-01-22 09:19] tadayosi commented on #1935
Ah is it just that Camel Quarkus doesn't support camel-undertow yet?

[2021-01-22 09:20] jamesnetherton commented on #1935
Correct, camel-quarkus does not provide an extension for `camel-undertow` (and likely never will). There's no need to specify the component. IIRC it will use the platform-http component by default and leverage the in-built Quarkus HTTP server.

[2021-01-22 09:23] tadayosi commented on #1935
Thanks. But then without `-d camel-undertow` I get the following error at runtime of the `test` it pod:
[code]

[2021-01-22 09:28] jamesnetherton commented on #1935
Right, but you don't need the Undertow consumer. You can drop the `component`, `host` & `port` parts from `restConfiguration` and fallback on platform-http like in:

https://github.com/apache/camel-k/blob/master/examples/routes-rest.js

[2021-01-22 09:43] tadayosi commented on #1935
@jamesnetherton Ah yes!  Thanks. It works now. Closing.

[2021-01-22 09:43] #1935 closed

[2021-01-22 10:08] amitsadaphule commented on #1923
Yes, I'll share the link once I publish the build script and documents.

[2021-01-22 10:13] squakez commented on #1930
I managed to replicate the issue locally. I am not sure how the `e2e` tests are working but the operator that is installed is failing:
[code]
Neither there is an integration platform installed in the temporary namespace. Is that the expected behavior of the test procedure? if that is the case we may include a skip warning flag in order to avoid cluttering those tests.

[2021-01-22 10:25] squakez commented on #1881
So, the problem seems that the `Resource`s and `Source`s are correctly base64 encoded in order to be able to include binary contents in `ConfigMap`s. The `Source`s are later base64 decoded by the runtime, whilst the `Resource`s are left encoded. Since `Resource`s are meant to be consumed by the application the way they originally are I am going to include the base64 decode before writing the files

[2021-01-22 10:26] astefanutti commented on #1930
A default IntegrationPlatform is created by the `kamel install` command. So the check is too early for that command, as the version status has not be reconciled yet :)

I think we can exclude the `install` command from the list of commands for which the check applies, as, while it is "online", it does not interact with the operator, since it has yet to be installed. Actually, as far as the check i

[2021-01-22 10:44] lburgazzoli commented on #1881
eventually the information about the content should be added to the resource struct so it gets decoded only if it is needed (i.e. the application logic is already aware of the base64 encoding thus, decoding it could be an issue)

[2021-01-22 12:22] nicolaferraro opened #1936 "SinkBinding on KSVC results into ping-pong between operators"
When deploying the `splitter` integration in the example/knative dir with latest Knative:

[code]

[2021-01-22 12:56] amitsadaphule commented on #1869
Thanks for the reply @astefanutti ! I'm using minikube and here's how I setup the registry:
1. Built `gcr.io/google_containers/kube-registry-proxy:0.4` image from source https://github.com/povilasv/kube-registry-proxy.git
2. Built `registry` binary from source https://github.com/docker/distribution-library-image.git
3. Built `registry.hub.docker.com/library/registry:2.7.1` image from source https:

[2021-01-22 13:24] #1928 closed

[2021-01-22 13:31] nicolaferraro opened #1939 "Flaky e2e test (cron-fallback)"
We need to fix this flaky e2e test:

[code]

It happens often, e.g. https://github.com/apache/camel-k/runs/1747588145?check_suite_focus=true, but disappears after running the CI multiple times.

[2021-01-22 13:46] astefanutti commented on #1869
Thanks, I'm surprised that the IntegrationPlatform has:

[code]

While the Integration pod tries to pull the image from `10.106.145.48/default/camel-k-kit-bvhfthd6er6mi7d78k6g...`.

My understanding is that the IP addresses should match. It seems `10.103.184.236` is the correct one as the operator has been able to push the image, and that `10.106.145.48` is not correct. Though it is supposed to be

[2021-01-22 14:07] astefanutti commented on #1939
Note that I've faced the issue by running the TestRunCronExample e2e test locally as well, so it does not seem environment specific.

[2021-01-22 14:13] astefanutti commented on #1939
That's a good question 😉.

I've looked at the dependencies and it seems the quartz dependencies are added correctly. It may be an issue with how Quarkus resolve classes...

[2021-01-22 14:27] nicolaferraro commented on #1939
This works:

[code]

So I guess the camel-quarkus:cron dependency is missing for some reason.

[2021-01-22 14:30] astefanutti commented on #1939
Hum that's what I did and thought too, but IIRC if failed randomly also. Have you tried to run it multiple times?

[2021-01-22 14:33] amitsadaphule commented on #1869
@astefanutti sorry about the mixed up logs. The one from `kubectl get ip camel-k -o yaml` that I posted above is from a different VM altogether. And the pod description there matches the IP:
[code]
I'll still try executing `kubectl delete ik,it --all` and re-creating the build.

[2021-01-22 14:44] amitsadaphule commented on #1869
Same issue even after deleting ik, it and re-executing `./kamel run examples/Sample.java`.
[code]
[code]
[code]

[2021-01-22 14:46] astefanutti commented on #1869
No worries, so now that we are sure the IP matches, we need to understand:

[code]

I'm surprised it uses HTTPS as the registry is configured as `insecure`. I'd have a look at the registry deployment and understand why the kubelet tries to pull the image using HTTPS.

[2021-01-22 14:47] amitsadaphule commented on #1869
Thanks @astefanutti for the support! I'll try to check from my side too.

[2021-01-22 14:49] lburgazzoli opened #1941 "kamelet-binding : suport for error handling"
We should support setting-up an error handler, like:

[code]

[2021-01-22 14:53] lburgazzoli commented on #1941
/cc @nicolaferraro

[2021-01-22 16:31] nicolaferraro commented on #1939
No, it seems to work.. at least locally..

[2021-01-22 17:05] astefanutti commented on #1939
OK, sounds good. It'd better be that. I did my tests quickly as I were bringing CI back on track so I may have overlooked things or forgotten others 😀.

[2021-01-22 17:11] nicolaferraro commented on #1939
Found it! Catalog contains both:

[code]

And

[code]

So depending on the status of some butterflies, the right component gets loaded.

I think `camel-quarkus-cron` is the right one, the other is part of the cron capability.
Opening issue in the runtime.

[2021-01-22 17:14] #1936 closed

[2021-01-22 17:15] astefanutti commented on #1939
The needle in the haystack 😄. That was too much cron dependencies for me :)

[2021-01-22 17:16] astefanutti commented on #1939
And you've just cut the project CI budget by half 👍🏼!

[2021-01-22 17:33] nicolaferraro commented on #1939
Yeah, that's why restarting CI 2-3 times was working XD

[2021-01-25 07:53] astefanutti commented on #1923
@amitsadaphule maybe this can help: https://minikube.sigs.k8s.io/docs/handbook/registry/#enabling-insecure-registries.

[2021-01-25 08:46] #1904 closed

[2021-01-25 08:53] astefanutti commented on #1743
Let's close this one and track further work in #1820.

[2021-01-25 08:53] #1743 closed

[2021-01-25 09:35] lburgazzoli opened #1943 "operator: option lo limiti CRs the operator should handle"
We should be able to restrict what CRs a camel-k operator should handle, as example, we can add a label like `camel.apache.org/operator.id` to each CR:

[code]

The `operator.id` should also be used to acquire the operator lock.

Note:
- We'd need to amend the kamel commands to eventually take into account such label
- We'd need to introduce a new command to move CR between operators

[2021-01-25 09:58] astefanutti commented on #1943
Ideally, these labels should be taken into account by the controller-runtime informer that watches for Integration resources, to filter sever-side, so that the corresponding operator does not filter client-side and cache the out-of-scope Integrations, so that the solution scales nicely.

[2021-01-25 10:38] astefanutti commented on #1943
It seems like it's not yet possible with controller-runtime: kubernetes-sigs/controller-runtime#244.

[2021-01-25 11:54] nicolaferraro opened #1945 "SinkBinding produces errored pods on 0.18+ / OpenShift Serverless 1.12"
Testing on OpenShift serverless.

When a pod that uses sink-binding is run, the webhook on deployments seems not to be applied immediately, so this results into two deployments, one of which does not contain the injected parameters and ends in an error state.

We should investigate why the Knative webhook does not change the deployment immediately and if we can put some countermeasures to avoid th

[2021-01-25 13:00] astefanutti commented on #1766
@christophd My understanding is that it is the expected behaviour. When install the operator globally, no default IntegrationPlatform is created, as there are expected to be created in the namespaces in which Camel K integrations should run.

[2021-01-25 13:13] astefanutti commented on #1869
@amitsadaphule maybe this can help: https://minikube.sigs.k8s.io/docs/handbook/registry/#enabling-insecure-registries.

[2021-01-25 13:22] amitsadaphule commented on #1869
Thanks  @astefanutti ! Got your comment from the other issue earlier :) Unfortunately, I've not been able to get that to work yet. Tried passing the flag to the minikube start command `minikube start --driver=none --insecure-registry "10.0.0.0/24"`, but that does not enable the registry pods which cases the `./kamel install` command to fail with error:
[code]
 So, I executed `minikube addons enabl

[2021-01-25 13:26] astefanutti commented on #1902
I suspect the `--registry localhost:5000` option isn't right. From a Kubernetes pod `localhost` is used for _internal_ container-to-container communication, between the pod's containers.

Taking as an example Minikube, a Service exposes the registry pod, and that Service ClusterIP is used to reach the registry from within the Camel K builder.

[2021-01-25 13:48] astefanutti commented on #1869
@amitsadaphule sorry I posted in the wrong issue 😄.

On Minikube, `kamel install` auto-configures the registry by looking up a Service annotated with `"kubernetes.io/minikube-addons": "registry"` in the `kube-system` namespace. This is what `minikube addons enable registry` is supposed to configure.

Let me know your findings.

[2021-01-25 14:40] squakez commented on #1881
The problem I see is that we mount a volume with file contents from `ConfigMap`s created from `Integration Resource`s. These are base64 encoded if they are binary or compressed. The problem we have with this approach is that we always require the application to take care of decoding prior using the binary content.

A possible workaround I found is to use directly binary `ConfigMap`s in order to le

[2021-01-25 14:46] squakez opened #1946 "Usage of binary data in ConfigMaps"
As a follow up of #1881 I am wondering if there is any reason why we are not using binary `ConfigMap`s. I was thinking to find some way and generate a binary `ConfigMap`s when we detect any resource that is binary (and default to text if not). That would simplify the usage of a binary resource directly from `Integration`s as we delegate kube cluster to mount a volume with the binary content.

[2021-01-25 14:48] amitsadaphule commented on #1869
So, as per your comment, I checked the service configuration.
[code]
And I see the same IP in the failing pod's description
[code]
And as per https://github.com/apache/camel-k/blob/master/pkg/install/operator.go#L310, for minikube, the installation is already configured to use insecure registry (still, tried `./kamel install --insecure-registry=true`). So, I'm not sure why the pull is tried on por

[2021-01-25 14:51] squakez opened #1947 "Expose operator information"
When we start an operator we see the following log traces:
[code]
I think it would be nice to expose publicly an endpoint with those information so that the CLI (or any other tool) can easily query the operator and return those configuration.

[2021-01-25 14:54] lburgazzoli commented on #1946
I think the main reason was that configmap were supposed to hold configurations whereas to add arbitrary binary data there were a `--resource` and maybe we should improve `--resource` to be able to support arbitrary configmap and secrets

[2021-01-25 14:54] astefanutti commented on #1869
Right, it doesn't seem like a Camel K issue to me. It's the Kubelet that is not configured to pull from the insecure registry. I would dig into https://minikube.sigs.k8s.io/docs/handbook/registry/#enabling-insecure-registries. I think that `minikube start --insecure-registry "10.0.0.0/24"` must be done at creation time, that is the first time the cluster get started, otherwise the option may be ig

[2021-01-25 14:58] lburgazzoli commented on #1947
Maybe such info should be stored somewhere in `IntegrationPlatform.Status` ?
Ideally everything should be possible through kubectl.

[2021-01-25 15:00] amitsadaphule commented on #1869
Right, tried stopping, deleting (+ rm -rf ~/.minikube ~/.kube) and re-creating with `minikube start --insecure-registry "10.0.0.0/24"`, with no luck. Something very strange is going on there. Thanks for the pointer! I'll debug in that direction. :)

[2021-01-25 15:29] astefanutti commented on #1947
It may be preferable to expose these into an unstructured map rather than typed fields as this may not be something that we want to consider as a stable public API.

[2021-01-25 16:00] #1930 closed

[2021-01-25 17:01] nicolaferraro commented on #1766
I'm sure I did some changes before Christmas holiday (1.3) but I'm not sure if I merged them...

Or probably I hit too many issues trying to automate all things. Specifically on Minikube the kamel CLI is able to detect the presence of the registry and its address, while the operator is not. So when installing globally, the CLI should create a kinda "template integration platform" in the global nam

[2021-01-25 17:09] astefanutti commented on #1766
Right, it worth thinking about it more, also in the context of #1799.

To keep complexity under control, maybe it's better to design a generic solution, not specific to Minikube.

I was just trying to clean the issue tracking a bit :)

[2021-01-25 17:37] lburgazzoli opened #1948 "Option to declare capabilities an integration requires"
As today capabilities are determined based on the source but if for any reason the operator is not able to detect them, we should provide an option to set the capabilities that need to be activate

[2021-01-26 08:37] nicolaferraro commented on #1766
Yeah, in the general case, I would like to setup things like registry and credentials once upon installation, then just use Camel K in any ns. But I guess this mechanism needs a big code cleanup in order to work.

[2021-01-26 08:42] astefanutti commented on #1766
Maybe we can move the creation of the IntegrationPlatform operator-side, instead of CLI-side, so that the operator can decide what to do when there isn't any found.

For registry auto-configuration, we can grant the operator whatever permission is required, from example to handle auto-configuration with Minikube registry addon, that would be :

ca_role.yaml:

[code]

ca_role_binding.yaml:

[code]

[2021-01-26 08:47] nicolaferraro commented on #1766
Yeah, that would solve the cases when auto-creation is possible, so we can remove the special cases for minikube and also support e.g. Kind oob. Currently only on OpenShift we're able to auto-create platforms via the platform trait.

But I think there are many cases, e.g. Kubernetes on GKE, Azure, AWS.. where there's need for user input and the CLI is the main way to inject those into an integrati

[2021-01-26 08:59] astefanutti commented on #1766
Exactly. That would move the logic into a single place, and solve that particular issue.

I'm not sure how the auto-configuration case and the user-provided case intersect. I would rather see the later leveraging the former, or just orthogonal.

[2021-01-26 17:05] lburgazzoli commented on #1666
@nicolaferraro  is this still an issue ?

[2021-01-27 13:22] lancerdima opened #1951 "Ability to have sources for integrations as ConfigMaps"
### Problem
Currently, sources for Integration CRDs are specified through _content_ property under sources tag
spec:
  sources:
    - name: fileName.java
       content: |
         ** source / bean definition **

### Suggestion
Add ability to provide sources (especially sources with custom beans) as ConfigMaps. That should promote some modularity and reuse of sources between integrations.

[2021-01-27 13:28] lburgazzoli commented on #1951
If you set `contentRef: nameOfTheConfigMap`, then the content is taken from the named config map

[2021-01-27 14:46] lancerdima commented on #1951
Thanks for the hint @lburgazzoli, I've figured out the setup that works.
For future reference, the yaml should look like this.
[code]
The corresponding config map is:

[code]

The only confusion I have is that `contentKey` seems does not have any effect, and I am required to use `content` property in configmap, instead of e.g. `MySourceFile.java`.
If that is expected, issue can be closed.

[2021-01-27 14:57] lburgazzoli commented on #1951
As per the [code]( https://github.com/apache/camel-k/blob/5f575430ed16317b5d03afe91d3c8d23b523d46b/pkg/util/kubernetes/resolver.go#L57-L95), the `contentKey` should have been taken into account.

@squakez minf having a look if you ahve any spare time ?

[2021-01-27 14:59] squakez commented on #1946
I've made some test in order to enhance `--resource`. It would leverage `ConfigMap` `BinaryData` when we detect the resource as binary and the user is not asking for base64 `--compression`. I'm thinking to add also the `content-type` to the resource, so we always know what type is expected.

[2021-01-27 15:02] squakez commented on #1951
Sure, I am already working on something similar.

[2021-01-28 13:35] amitsadaphule commented on #1923
I've published the build-script for ppc64le and the documentation related to validation on Openshift at https://github.com/ppc64le/build-scripts/tree/master/c/camel-k

[2021-01-28 14:54] vkasala opened #1955 "Group all traits test under one e2e directory"
I would like to move all trait related tests into one directory e.g. e2e/common/traits to give it more structure.

I would also like to have a suffix in the name e.g. addons_test.go -> addons_trait_test.go

Thanks

[2021-01-28 15:34] astefanutti commented on #1923
Thanks for the update. Do you think some of this documentation could be included into Camel K documentation? I'm thinking about the OLM deployment from source for example, that is not cover in the existing documentation AFAIK:

https://github.com/ppc64le/build-scripts/tree/master/c/camel-k#olm-installation-and-validation

[2021-01-28 15:37] #1951 closed

[2021-01-28 15:48] amitsadaphule commented on #1923
Sure @astefanutti ! I'll try and raise a PR in next week with that documentation.

[2021-01-28 15:49] astefanutti commented on #1923
Awesome, thanks @amitsadaphule!

[2021-01-29 16:59] astefanutti opened #1961 "AMQP connection factory injection example improvement"
From the following example, taken from https://github.com/keunlee/camel-k-starter-workbench:

[code]

It could be improved if:
* Lookup by type of the connection factory would work, without having to rely on lookup by name
* Remove the property injection and the connection factory method altogether, and simply pass `quarkus.qpid-jms.url` in the `application.properties` file, to leverage auto-confi

[2021-01-29 17:07] ppalaga commented on #1961
@astefanutti is correct that the ConnectionFactory typically does not need to be created manually like in the snippet above. Passing `quarkus.qpid-jms.url`, `quarkus.qpid-jms.username` and `quarkus.qpid-jms.password` either via application.properties or via env vars/secrets `QUARKUS_QPID_JMS_URL`, etc. is simpler. See  https://camel.apache.org/camel-quarkus/latest/reference/extensions/amqp.html#_a

[2021-01-29 17:12] lburgazzoli commented on #1961
@ppalaga please be aware that cdi does not work in camel-k

[2021-01-29 17:13] ppalaga commented on #1961
Oh

[2021-01-29 17:24] #1939 closed

[2021-01-30 18:49] bvahdat opened #1963 "A simple XML-DSL based integration with Spring doesn't work"
Following the steps to reproduce (using `camel-k 1.3.0`)

[code]

Then change the content of the generated `camel-spring.xml` as following:

[code]

Create a Java file named `MyBean.java` under the subfolder `./org/my/domain` with the content:

[code]

Now running:

[code]

I get the following error:

[code]

So it seems as if `MyBean` Java class gets interpreted as my Camel `RouteBuilder` to be u

[2021-01-31 08:01] davsclaus commented on #1963
spring xml with <beans> is NOT supported. For XML you can use Camel routes as the init command created for you.

[2021-01-31 09:36] bvahdat commented on #1963
Thanks @davsclaus.

I need to stick to a working DI container in Camel-K for my integration. As the Quarkus trait is enabled by default then I could make use of CDI as my Dependency-Injection-Container for my specific integration and use any of those Quarkus enabled Camel components for that purpose, correct?

Going through that [list](https://camel.apache.org/camel-quarkus/latest/reference/index.

[2021-01-31 11:12] davsclaus commented on #1963
Yes Quarkus is the only and default runtime container when using Camel K.

CXF is not yet a quarkus camel extension and therefore not naturally supported. But if you dont use native compilation you can likely add camel-cxf as dependency, and then setup CXF in java code. But CXF is a very old library and may struggle a bit on modern cloud. And CXF I assume you need WS and not REST as there is alrea

[2021-01-31 11:13] davsclaus commented on #1963
Also for any POJO or custom java classes you should package then into JARs and add as dependency. Camel K source is intended for Camel routes only.

[2021-01-31 11:49] bvahdat commented on #1963
Thanks @davsclaus, you clearly answered my questions 👍

[2021-01-31 11:49] #1963 closed

[2021-02-01 09:40] nicolaferraro opened #1966 "Release 1.3.1"
We have some important fixes to share with a new release.

[2021-02-01 10:25] nicolaferraro commented on #1966
## Bug Fixes

- Fixed compatibility bug with Knative 0.20 that prevented deploying services that also produce data ([#1937](https://github.com/apache/camel-k/pull/1937), [@nicolaferraro](https://github.com/nicolaferraro))
- fix(cli): check run sources exists ([#1913](https://github.com/apache/camel-k/pull/1913), [@squakez](https://github.com/squakez))
- fix: Do not filter Camel catalogs by runtime

[2021-02-01 12:13] oscerd opened #1969 "Add a Backport Github action"

[2021-02-01 12:26] #1969 closed

[2021-02-01 13:56] nicolaferraro opened #1976 "Make the Camel K operator more involved in the Knative SinkBinding flow"
Currently the operator just delegates SinkBinding to apply changes to the deployment/ksvc/cronjob child resources of an integration. This may result in unexpected errors in deployments/pods when the binding happens late or has an error (because of env vars missing).

It would be good if the operator could put the integration in a "waiting for binding" state (maybe the same used for service-binding

[2021-02-01 15:17] lburgazzoli commented on #1976
I think we have talked about this in the past already and maybe a new "waiting" state could be useful in general i.e. we may pause an integration than needs a not yet available secret

[2021-02-01 15:19] lburgazzoli commented on #1961
@astefanutti I think in the latest camel release lookup by type should work of the component option has the right annotations

[2021-02-01 15:20] nicolaferraro commented on #1976
Yeah, same waiting state and multiple conditions seems feasible.

I think SinkBinding can only work on PodSpecable currently.

[2021-02-01 16:09] phantomjinx opened #1979 "Provide kustomize installation configuration for install of camel-k"
(Split of from #1820)

Start to offer camel-k as an install with kustomize rather than needing to download the kamel cli, allowing install with standard tools;

    This will require consideration of different production setups, tailoring the config directory to support patches for different use-cases, eg. including addons, installing on different types of cluster;
    Need to gauge any comparable

[2021-02-01 16:10] phantomjinx commented on #1820
Due to large change required for initial part of this issue, am splitting off kustomize effort into separate issue #1979.

[2021-02-01 17:18] nicolaferraro opened #1980 "Add support for multiple data types and schemas in Kamelets"
Seeking for help on improving the Kamelet model before going full on the Kamelet catalog effort.

Currently the model expects that one declares the default input/output of a Kamelet in the `spec` -> `types` -> `in` / `out` field, like:

[code]

The same for Kamelets that consume an input, but the property is named `in`.

The meaning of those types is simply stated:
- A Kamelet produces output with

[2021-02-01 17:26] lburgazzoli commented on #1980
Maybe we can do something like this:

[code]

This should be a reference to a in/out schema, the operator can then create the properties to configure the data format via properties

[2021-02-02 07:08] heiko-braun commented on #1980
I like this idea and would add the possibility for:

- references to external schemas (I.e. in schema registry)
- Schemas attached to the message in transit (I.e in header)

[2021-02-02 07:10] oscerd opened #1981 "Make changelog action work again"

[2021-02-02 08:02] nicolaferraro commented on #1980
Yes, this would avoid having to write the implementation at runtime side, leaving also field to the user to implement custom transformations in the flow.

[2021-02-02 08:18] nicolaferraro commented on #1980
Yeah, these are concerns we need to address now as well. The `schema` prop is set to JSONSchema currently, but we need to address other kinds of schemas, including schemas located elsewhere.

I think it's a good time to deprecate `spec` -> `types` and provide something like `spec` -> `dataTypes` just to build a different tree and provide oob migration from old Kamelets.

For the "schema in header"

[2021-02-02 08:21] #1981 closed

[2021-02-02 08:28] astefanutti commented on #1961
Thanks @lburgazzoli, I'll try it asap.

[2021-02-02 08:46] nicolaferraro opened #1983 "Allow to scaffold a Kamelet via kamel init"
Like we have the possibility to `kamel init Routes.java`,
we may want to allow users to create a Kamelet via `kamel init example.kamelet.yaml`.

Extension `.kamelet.yaml` is the one we intend to use for kamelets.

This would create a simple kamelet that can be used as starting point to build complex ones.

[2021-02-02 08:54] astefanutti commented on #1980
Let me have the layman in me try summarising the discussion (at least for my brain to wrap this up 🤯):
- We integrate the DataFormat concept into the Kamelet model,
- The Kamelet writer can specify a set of DataFormats, and it's up to her/him to declare a property in the Kamelet schema, and use that property in the Kamelet Flow to do the IO conversion,
- The Camel K runtime provides (auto-)configu

[2021-02-02 09:02] lburgazzoli commented on #1980
Maybe we use "schemes" instead.

I think we can improve data formats in general, as example:

1. they can automatically compute the schema at runtime if not provided and store the result in an header
2. they can use a provided scheme to validate that the marshalled/unmarshalled data conforms with the given schema

We can then define a specific schema like:

[code]

[2021-02-02 09:03] lburgazzoli commented on #1980
looks correct :)

[2021-02-02 09:14] astefanutti commented on #1980
+1 then 😄!

[2021-02-02 09:24] lburgazzoli commented on #1980
Thinking a little bit more, wonder if this new schema/data-format thing is something we can define as a dedicated custom resource (which we can eventually embed in the kamelet) but could also be something we could use for the dynamic computation of schemes.

Eventually, schema registries can watch and duck type those resource to automatically load them.

[2021-02-02 09:33] lancerdima opened #1984 "Options to share state between routes"
What are the options to share state between multiple flows/routes in the context of single integration?

My need basically boils down to this scenario:
* capture a property to something like exchangeProperty, with set-property step
* be able to use the same property, like ${exchangeProperty.prop} with simple language in another unrelated route in the same integration

**Currently exchangeProprty i

[2021-02-02 09:38] squakez commented on #1980
Interesting ideas. I like the concept and I think we should understand if/how is possible to externalize such data formats. If the data formats are an external entity they could be reusable and keep the `Kamelet` design simpler. Finally, if you think about it, **a format is just a view of the data,** so it makes sense not to be part of the logic.

[2021-02-02 09:41] lburgazzoli commented on #1984
can you provide a more concrete example ?

[2021-02-02 09:46] lancerdima commented on #1984
This is the yaml config I have tried.

[2021-02-02 09:55] lburgazzoli commented on #1984
You could use camel-caffeine so you have a shared cache to store your bits

[2021-02-02 12:25] nicolaferraro opened #1986 "Cannot use special characters in KameletBindings"
Since KameletBinding translates to URI the parameters specified by the user, that mechanism fails in case of special characters (this seems to be a general Camel problem).

I'm working to make KameletBinding use application properties instead.

[2021-02-02 13:49] #1986 closed

[2021-02-02 14:01] #1867 closed

[2021-02-03 09:12] nicolaferraro opened #1992 "Can't directly access Strimzi Topics in KameletBindings"
There are some permission issues:

[code]

[2021-02-03 10:22] lancerdima commented on #1984
Maybe I am missing the whole point of camel-caffeine, but it fails to cache value between multiple executions of the same flow.
Consider the snippet below. The point of the snippet, is to display "cached" value from previous execution first, and then update the cache with the new one.
[code]

Output log indicate that value from previous execution is lost:
[code]

Not sure whether it is camel-caffe

[2021-02-03 10:27] lburgazzoli commented on #1984
Have you tried with "classic" camel ?

[2021-02-03 11:22] #1992 closed

[2021-02-03 11:30] lancerdima commented on #1984
Tried that now - same negative result and behavior.
I believe that problem with camel-caffeine might be in [CaffeineCacheEndpoint.java, L67](https://github.com/apache/camel/blob/9529408743d72a591fea90250ea6b796524ae890/components/camel-caffeine/src/main/java/org/apache/camel/component/caffeine/cache/CaffeineCacheEndpoint.java) - cache object is retrieved from Camel Context, but I can't find any pl

[2021-02-03 11:39] lburgazzoli commented on #1984
share state between routes is not something specifically related to camel-k, and about DSL, well, it depends on the one that you are using.

To create a bean in the registry:
- use properties https://camel.apache.org/components/latest/others/main.html#_specifying_custom_beans
- use [`beans`](https://github.com/apache/camel-k-runtime/blob/master/camel-k-loader-yaml/impl/src/test/resources/routes/Ro

[2021-02-03 12:12] #1881 closed

[2021-02-03 12:12] #1946 closed

[2021-02-03 12:20] davsclaus commented on #1980
Yeah good idea to have support for multiple data types, especially when its common on kafka land to have avro, json, types.

For kamelets it would also be good if we could generate documentation (ascii doc files) to use for the website / kamelet repository. And in that documentation we can then easily grab the data types and prominently show in the docs what types are supported.

[2021-02-03 12:46] davsclaus commented on #1980
Btw do we have any thoughts on schema-less kamelets? For example if you just use a kamelet to route data from one messaging system to another between queues. And dont really want/need to specify any schema, as the data is just "raw".

[2021-02-03 13:15] lburgazzoli commented on #1980
Yep schema is not always required and to be honest for Camel it may not even needed (except for some components like kafka) so it is mainly a tooling related information.

[2021-02-03 13:45] phantomjinx commented on #1979
Now looking at this. Could someone assign to me please?
Thx.

[2021-02-03 18:09] astefanutti opened #1998 "Mount resource ConfigMaps as subPaths instead of volumes"
Following up the discussion from https://github.com/apache/camel-k-runtime/issues/593, it may be worth to explore mounting resources ConfigMap using `SubPath`. As opposed to mounting them as volumes, it's possible to project keys into an existing directory, which could alleviate the need to generate unique directory paths for each resource, and ease the work for users to reference them.

The only

[2021-02-04 09:09] nicolaferraro commented on #1980
Let's do another iteration on this...

I'm thinking to your comments and I like the idea of having stuff also as CRs. I remember some brainstorming with @lburgazzoli about how dynamic schemas may work in this model. The idea was to let Kamelets define their schemas, if known in advance, but also let KameletBindings redefine them, if needed.

DataFormats are generic in Camel, but when talking about

[2021-02-04 09:36] lburgazzoli commented on #1980
I think we could also have a case where we want the data format to automatically compute the schema i.e. from a pojo, so basically a formats whiteout the `schema` section.

Yep, we don't need to publish each schema up-front but for pre-computed scheme (either because they are known at runtime or because they are computed before running the integration), we should store them as CR so other can even

[2021-02-04 09:41] lburgazzoli commented on #1980
I guess there may be some confusion from a user pov as you can define multiple in and multiple out schemes, how do we validate that ? Having an in/out formats separations would allow to define such semantic and validation, at CRD level

[2021-02-04 10:10] nicolaferraro commented on #1980
Yeah, the schema associated inline with the format was intended to be optional, present only if known in advance.

When we think about sources I think there's no confusion: user chooses a `format` during binding and that's it. In general, we should validate there's only one dataFormat per <scope, format> pair.

The problem arises when you think to sinks: a Telegram sink may accept an image, a vide

[2021-02-04 11:09] lancerdima commented on #1984
Leaving the snippets below with a solution to the shared state problem, as a contribution to the community.
Valid for Camel K 1.3 runtime.

YAML integration definition
[code]

Bean to capture state
[code]

[2021-02-04 11:09] #1984 closed

[2021-02-04 11:11] lburgazzoli commented on #1984
@lancerdima wonder if you can just set the type of the beans to `java.util.concurrent.ConcurrentHashMap` so you could avoid the need of the java code

[2021-02-04 14:31] nicolaferraro opened #2000 "Logging configuration does not affect integrations"
Setting `logging.level.org.apache.camel=DEBUG` does not affect integration logs.

So if users set flag `--logging-level org.apache.camel=DEBUG`, that is currently translated into the property above and does not work.

The correct mapping should be something like: `quarkus.log.category."org.apache.camel".level=DEBUG`

We should also change the doc to point to the Quarkus documentation for configuri

[2021-02-04 14:39] lburgazzoli commented on #2000
with the main runtime there were some code to translate the property to the log4j2 format, maybe we should do the same here ? or map directly to the quarkus ones ?

[2021-02-04 14:51] nicolaferraro commented on #2000
Allowing the `logging.level.` syntax and map them to quarkus would be better I think

[2021-02-04 15:17] #1966 closed

[2021-02-04 15:27] amitsadaphule commented on #1923
@astefanutti, I've raised https://github.com/apache/camel-k/pull/2001. Please review and let me know your feedback.

[2021-02-04 17:43] lburgazzoli opened #2003 "Revisit configuration options"
As today there is a little bit of confusion about the options to configure the runtime (you can blame me as I introduced them in the early days of camel-k) and I think it is now time to rethink them.

I'm thinking about something like:

[code]

This issue also relates to:
- https://github.com/apache/camel-k/issues/1831
- https://github.com/apache/camel-k/issues/1680

[2021-02-04 17:43] lburgazzoli commented on #2003
/cc @astefanutti @squakez

[2021-02-05 08:39] astefanutti commented on #1923
Thanks @amitsadaphule, I've just reviewed the PR. What do think about closing this issue?

[2021-02-05 08:49] lburgazzoli commented on #991
@astefanutti @jamesnetherton @ppalaga anyone interested in implementing this issue ?

[2021-02-05 08:53] #1923 closed

[2021-02-05 08:55] astefanutti commented on #991
@lburgazzoli happy to work on it, or help if @jamesnetherton @ppalaga you want to do it.

It seems building Quarkus applications in native mode on OpenShift has been smoothed: https://www.openshift.com/blog/introducing-the-quarkus-helm-chart.

[2021-02-05 09:51] ppalaga commented on #991
@astefanutti feel free to go ahead!

[2021-02-08 08:36] #1998 closed

[2021-02-08 08:40] #1983 closed

[2021-02-08 17:50] arthurdm opened #2007 "Switch to UBI minimal"
I would like to propose that the [core Dockerfile](https://github.com/apache/camel-k/blob/master/build/Dockerfile#L16) be modified to start `FROM adoptopenjdk/openjdk11:ubi-minimal` instead of the current `:slim` tag.  This would switch the base Operating System from Ubuntu to the Universal Base Image (UBI) - which in my opinion is a more robust and enterprise-ready Operating System.

[2021-02-09 10:14] tsedmik commented on #1550
Please, take a look at https://github.com/openshift/release/tree/master/ci-operator. This CI should provide you with OCP 4.x environment for testing in upstream.

[2021-02-09 11:38] nicolaferraro opened #2009 "Can't mount secrets with binary data"
Trying to get some binary data stored in a secret (without the `--resource` option), I'm failing:

[code]

It seems the runtime tries to load it as if it was quarkus config.
Is it just a runtime issue? @lburgazzoli , @squakez

Logs:

[code]

[2021-02-09 11:40] squakez commented on #2009
Yeah, it's the same as https://github.com/apache/camel-k-runtime/issues/593 - I am having a look at it.

[2021-02-09 12:49] johnpoth commented on #1445
Closed with #1952 , thanks !

[2021-02-09 12:49] #1445 closed

[2021-02-09 14:08] arthurdm commented on #1721
+1 to this item.  It would be very helpful to have this doc.  Is air gap possible today, just not documented?

[2021-02-09 14:47] johnpoth commented on #1227
To alleviate the constraint of a S3 compatible storage, I was thinking of storing the dependency in a configmap (or an image layer..), WDYT ?

[2021-02-10 08:47] astefanutti commented on #2007
It sounds like a sensible proposition.

The decision to use `adoptopenjdk/openjdk11:slim` was primarily taken based on the size criteria, as we moved away from a large image.

Here are the listing of few Java 11 image candidates (sizes are _uncompressed_):

[code]

I think `adoptopenjdk/openjdk11:ubi-minimal` size increase is acceptable, compared to `adoptopenjdk/openjdk11:slim`. Obviously, size i

[2021-02-10 11:19] mmelko opened #2018 "ServiceBinding kind not installed"
after `install-crc`  from the master branch cannot run operator locally due to:
[code]

[2021-02-10 13:33] #2018 closed

[2021-02-11 08:27] astefanutti commented on #1820
This's been fixed by #1978.

[2021-02-11 08:27] #1820 closed

[2021-02-11 09:34] davsclaus opened #2022 "kamel CLI binary for apple silicon / arm"
We need binary executable of the kamel CLI for the new apple M1 chips that is arm based.

[2021-02-11 09:35] davsclaus commented on #2022
https://blog.golang.org/ports

[2021-02-11 09:56] astefanutti commented on #2022
This relates to #1238.

[2021-02-11 09:57] astefanutti commented on #2007
For reference, the current base image comes from #1215.

[2021-02-11 10:04] lburgazzoli opened #2023 "Support for jfr"
We should investigate supporting jfr via [container-jfr](https://github.com/rh-jmc-team/container-jfr)

[2021-02-11 10:11] lburgazzoli opened #2024 "Persist trait status"
As today when traits are applied, they may perform some ato configuration magics that leaves no trace in the integration status or kubernetes events. It is of course possible to determine what happened by reverse engineering what resources the operator generates but it is not an easy task.

For troubleshooting and monitoring purpose we should have a way to track what traits have been applied and t

[2021-02-11 11:43] lburgazzoli opened #2025 "Monitor integration related events"
We should define an optional annotation on the Integration CR to let user set a sort of tracing id the operator should use for each integration related log, kubernetes/prometeus event. This would allow people to correlate externals actions, i.e. integration created through an UI, to what the camel-k operator has done. Such option should also be set on the runtime so the same id can also be used to

[2021-02-11 11:44] lburgazzoli commented on #2025
/cc @astefanutti @nicolaferraro

[2021-02-11 11:44] lburgazzoli commented on #2023
/cc @astefanutti @oscerd

[2021-02-11 15:08] astefanutti commented on #2003
I realise from https://github.com/apache/camel-k-runtime/pull/624, that any ConfigMap or Secret is (attempted to be) loaded as properties file.

I'd agree with @lburgazzoli comment from https://github.com/apache/camel-k-runtime/issues/593:

It seems only application properties files should be mounted into the `conf.d` directory, while other ConfigMaps and Secrets should be mounted on the side. IIU

[2021-02-11 15:15] lburgazzoli commented on #2003
Yep, I'd also add a new property function on camel-kruntime like `resource:name/key` to ease the process of loading resources.

[2021-02-12 07:53] chenxinma opened #2029 "spectrum publish x509: certificate signed by unknown authority"
Hi , I am trying to build a groovy integration using kamel tool.

`kamel install -n data \
	--cluster-type=Kubernetes \
	--build-publish-strategy=Spectrum \
	--maven-settings=configmap:camel-k-maven-config/settings.xml \
	--registry-insecure=true \
	--registry private.registry.inner \
	--registry-auth-server=private.registry.inner \
	--registry-auth-username=admin \
	--registry-auth-password=abc12

[2021-02-12 07:55] chenxinma commented on #2029
I had added the ca.
`echo -n | openssl s_client -showcerts -connect private.registry.inner:443 2>/dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' >> /usr/local/share/ca-certificates/registry.crt
update-ca-certificates`

[2021-02-12 16:05] chenxinma commented on #2029
solved with make a new image from camel-k:1.3.1 and add
`echo -n | openssl s_client -showcerts -connect private.registry.inner:443 2>/dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' >> /usr/local/share/ca-certificates/registry.crt
update-ca-certificates`
into the Dockfile.
set the --operator-image with the new image.

[2021-02-12 16:05] #2029 closed

[2021-02-12 19:29] apupier opened #2031 "In troubleshooting documentation section, provide information on which logs to look at"
In troubleshooting documentation section provide information on which log to look at

operator log/kit log, others?
using kubectl/VS Code?

[2021-02-14 04:36] chenrui333 commented on #1543
got resolved in [kamel 1.3.1](https://github.com/Homebrew/homebrew-core/pull/70404)

[2021-02-15 14:23] nicolaferraro opened #2035 "Illegal YAML may result in operator panic"
The offending YAML was something like:

[code]

Stack:

[code]

[2021-02-15 15:34] heiko-braun commented on #2035
a nice denial of service attack :)

[2021-02-15 17:21] doru1004 opened #2038 "Local build implementation"
Opened the issue to track the proposed changes from PR https://github.com/apache/camel-k/pull/1816 discussion:

- transform current inspect command to: `kamel local inspect`
- rename `kamel local create` to `kamel local build`
- enable `kamel local build` to construct a local directory hierarchy, at a custom location specified by the user, containing all the elements required by the integration.
-

[2021-02-16 08:23] #1677 closed

[2021-02-16 09:07] astefanutti commented on #1677
Thanks a lot for the report. It's been fixed with #2032.

[2021-02-16 10:51] nicolaferraro commented on #249
I guess we can close this, Kamelets implement this model

[2021-02-16 10:51] #249 closed

[2021-02-17 11:21] lburgazzoli opened #2043 "kamelet-binding: support for processing steps"
We should provide a way to manipulate exchanges generated by the source before they are processed by the sink, something like:

[code]

[2021-02-17 11:21] lburgazzoli commented on #2043
/cc @nicolaferraro

[2021-02-17 13:40] squakez opened #2047 "[Trait] Extend affinity trait to CronJobs and KnativeServices"
Follow up of https://github.com/apache/camel-k/pull/2040#discussion_r577551324

* Extend the affinity trait to all deployments supported
* Refactor the deployment visit strategy if possible

[2021-02-18 15:32] squakez opened #2051 "[cmd] Warning on launching operator"
We should skip the compatibility check when running operator, see:
[code]

[2021-02-18 15:53] squakez commented on #2047
I am going to work on this. I already made some similar work in 5dac0b836f921f19de0083ec1444caa66eef7b1b. I think we can refactor to have a unique place for all traits.

[2021-02-19 10:37] #2051 closed

[2021-02-19 12:44] astefanutti commented on #681
Closing in favor of #1799.

[2021-02-19 12:44] #681 closed

[2021-02-19 13:49] #2043 closed

[2021-02-23 18:46] lburgazzoli opened #2067 "bou.ke/monkey license"
https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/bouk.2Fmonkey

license states:
[code]

[2021-02-23 20:02] lburgazzoli commented on #2067
@astefanutti can you have a look ?

[2021-02-23 20:34] astefanutti commented on #2067
@lburgazzoli yes I’ll work on it.

[2021-02-26 17:29] akihikokuroda commented on #2067
Should this be fixed in v1.2.x in addition to the latest?  If so, I can make a PR for the release-1.2.x branch.  Thanks!

[2021-03-01 09:09] apupier opened #2074 "Provide automated tests for "kamel local build" command"
The new feature has been added via https://github.com/apache/camel-k/pull/2048 but it doesn't seem to have any tests for the `kamel local build` options.

use cases to test:
* basic Integration file and empty target directory
* basic integration file and previously filled target directory
* integration file with "mvn" specified dependency in modeline
* integration file with jitpack specified depen

[2021-03-01 09:10] apupier opened #2075 "Provide automated tests for "kamel local run --integration-directory <dir-name>" command"
The new feature has been added via #2048 but it doesn't seem to have any tests for the `kamel local run --integration-directory <dir-name>` options.

might be an extra step in the `kamel local build` tests https://github.com/apache/camel-k/issues/2074

[2021-03-01 09:27] jamesnetherton commented on #2075
Isn't that `make test-local`?

https://github.com/apache/camel-k/tree/master/e2e/local

[2021-03-01 09:30] apupier commented on #2075
I wasn't precise enough in the description. it is not this one. it is for the added use using the --integration-directory option

[2021-03-01 12:11] astefanutti opened #2077 "Upgrade to Service Binding operator to v0.5.0"
v0.5.0 has just been released. #2076 prepares the ground by upgrading to an intermediate version, but v0.5.0 introduces breaking changes in the ServiceBinding API that should be integrated. See:

https://github.com/redhat-developer/service-binding-operator/releases/tag/v0.5.0

[2021-03-01 12:11] astefanutti commented on #2077
/cc @johnpoth

[2021-03-01 12:33] johnpoth commented on #2077
That was fast! I can take a look

[2021-03-01 17:06] nicolaferraro opened #2080 "Kamelet file parameters"
Suppose that I want to create a Kamelet that uses [this component](https://camel.apache.org/components/latest/google-storage-component.html) under the hood.

The component accepts a parameter that is a path that points to some credentials provided as a JSON file by the cloud provider (all Google cloud components behave the same).

Obviously this does not map 1:1 with the current Kamelet model, but

[2021-03-01 17:35] #2067 closed

[2021-03-01 17:49] oscerd commented on #2080
The service account file for google cloud are basically json or p12. We could add a list of options and then create the service account key file on the fly to be used, but it would be a mess in terms of camel options, so for me encoding the kamelet binding parameters into secrets is the best solution.

[2021-03-01 17:58] lburgazzoli commented on #2080
To me, this relates to https://github.com/apache/camel-k/issues/2003.

Maybe we should define the type of such option as `resource` and in such case we can store it into a secret/configmap and mount it to a specific resource location (i.e. this would also be useful for ssl related stuffs)

[2021-03-02 07:48] davsclaus commented on #2080
Not sure if the component has recently been updated, but I can see that the `serviceAccountKey` option is both configurable on the component level and in the endpoint.

I like Luca's idea of marking the option as a _resource_ to indicate its something that is loaded as an external resource. And Camel typically support loading via classpath, file, http. We may think about turning off http as you ca

[2021-03-02 07:51] oscerd commented on #2080
Yes, Google storage has that features, the other google cloud components rely on an env variable pointing to service account file

[2021-03-02 07:54] davsclaus opened #2081 "Kamelet - Possible to pre configure component options"
I the Kamelet docs at
https://camel.apache.org/camel-k/latest/kamelets/kamelets.html

I cannot see a way how I can pre configure the Camel components that the Kamelet may be using.

In regular Camel K I can specify a properties file where I have

[code]

Likewise you can also configure data formats, and languages (more rare to do this) so we may want to make available to do this for those kind too

[2021-03-02 08:27] lburgazzoli commented on #2081
I think the main issue here is that, if in your route you instantiate the same kamelets/templates twice, the you have issues when configuring components as the same component is shared among the kamelets/templates  (that's the reason we have the kamelet-reifier component in camel-k).

A solution would be to have a route context where the kamelet can bind its own beans but that would complicate a l

[2021-03-02 08:28] nicolaferraro commented on #2080
Would something like this work (apparently [json-schema 7 compatible](https://json-schema.org/understanding-json-schema/reference/non_json_data.html)) ?

[code]

At the end of the day, the configuration of a Kamelet is a JSON object and need to be validated by the schema. The `x-camel-type` vendor extension tells us to use the `resource` type binding at runtime.

Still we need to define how the fi

[2021-03-02 08:41] lburgazzoli commented on #2080
do we need the contentEncoding & contentMediaType ? as it is a resource, we know that is should be either a binary config map or a secret so I guess the encoding can be implicit.

With #2003, then will be multiple options to load from a location:
- using an env var, like: `google-storage://myCamelBucket?serviceAccountKey={{env:CAMEL_K_RESOURCES:DIR}}/secretName/token`
- looking up from the classpa

[2021-03-02 08:53] astefanutti commented on #1503
Installation Camel K without OLM will be provided with #1979, relying on Kustomize.

[2021-03-02 08:53] astefanutti commented on #1979
This will enable #1503, and eventually the removal of `kamel install`.

[2021-03-02 08:54] astefanutti commented on #2038
I think it's been fixed with #2048.

[2021-03-02 08:54] #2038 closed

[2021-03-02 08:55] lburgazzoli opened #2082 "api: provide fabric8 bindings"
We should contribute a [fabric8 Kubernetes Client extension](https://github.com/fabric8io/kubernetes-client/tree/master/extensions/)

[2021-03-02 08:56] astefanutti commented on #1955
I think it's been fixed with #2059.

[2021-03-02 08:56] #1955 closed

[2021-03-02 08:57] astefanutti commented on #1902
I think it's been answered. Feel free to re-open if needed.

[2021-03-02 08:57] #1902 closed

[2021-03-02 09:04] nicolaferraro commented on #2080
I know it, but the "resource" is "x-camel" specific metadata, while the Kamelet is supposed to tell an user (or a configuration UI) how to build a valid configuration object, without mentioning configmaps or secrets, which are Kubernetes concepts.

The problem is that a Kamelet can be used multiple times in an integration, and so you might have multiple files with a location that is different on e

[2021-03-02 09:04] lburgazzoli commented on #2082
Since the APIs will be tight to the fabric8 kubernetes-client, the extension should be hosted in the kubernetes-client like the [knative](https://github.com/fabric8io/kubernetes-client/tree/master/extensions/knative) one.

@nicolaferraro @davsclaus @oscerd what do you think ?

[2021-03-02 09:05] astefanutti commented on #1738
I think it's been fixed with #1777 and #2048.

[2021-03-02 09:05] #1738 closed

[2021-03-02 09:09] astefanutti commented on #1693
I think we can close this and follow-up the discussion in #1799.

[2021-03-02 09:09] #1693 closed

[2021-03-02 09:14] astefanutti commented on #1674
I think this can be closed as the work as shifted in favour of Kamelets.

[2021-03-02 09:14] #1674 closed

[2021-03-02 09:14] davsclaus commented on #2081
Ah yeah that is correct. So we may consider making components private per template, by adding a unique prefix on the component name, and register it in the component registry.

But the idea of `RouteContext` where we can then bind it as a bean that also works for other clashes, where we do a registry lookup first.

[2021-03-02 09:29] lburgazzoli opened #2083 "cli: add a binding sub command"
We should have a kamel subcommand to create KameltBinding, something like:

[code]

Things to take into account:
- how to properly bind properties to a kamelet, when it is used multiple times

[2021-03-02 09:40] oscerd commented on #2082
+1

[2021-03-02 09:48] davsclaus commented on #2082
yeah sure that may allow users that come from fabric8 to find camel-k

[2021-03-02 10:25] lburgazzoli commented on #2080
I was thinking only about the runtime but yes the `contentEncoding` and `contentMediaType` are indeed required for users & UIs.

About the other issue, there are some JIRA to track work that could help:
- https://issues.apache.org/jira/browse/CAMEL-16221
- https://issues.apache.org/jira/browse/CAMEL-16285

[2021-03-02 13:46] #2047 closed

[2021-03-02 16:41] arthurdm opened #2085 "More information needed about dependency resolution"
This issue is about the [dependencies](https://camel.apache.org/camel-k/latest/configuration/dependencies.html) documentation page.  It feels like it does not provide the user with the scenarios where Camel K does **not** resolve dependencies and which dependencies I should add.

Take this simple integration as example:

[code]

It's a basic Kafka -> Rest mapping.  The first few times this integra

[2021-03-02 16:46] arthurdm commented on #2077
I am interested in learning more about the connection and usage between Camel K and Service Binding, as I work on the [Service Binding Spec](https://k8s-service-bindings.github.io/spec/).   Any details that could be shared?

[2021-03-03 12:28] bouskaJ opened #2088 "Add support for `@mirrorOf=xxx` for --maven-repository option"
I would like to use `kamel install -maven-repository=https://repository.apache.org/content/repositories/snapshots@mirrorOf=*` for setting mirrors in the Camel-K settings.xml

Currently, we support only the following attributes. https://github.com/apache/camel-k/blob/master/pkg/util/maven/maven_project.go#L183-L194

[2021-03-03 12:56] #1799 closed

[2021-03-03 15:48] nicolaferraro opened #2090 "Error when using an external kit"
Strange that it did not happen before merging the global builder. I think it's not related to the global builder per se, it's more likely a problem with using external kits.

The test is pretty easy:
- Empty namespace, newly installed operator
- Run a timer to log integration
- Get the image of the kit produced for it
- Create a kit marked with "external", with spec->image pointing to the previous

[2021-03-03 16:25] lburgazzoli commented on #2090
maybe related to the fast-jar thing we have introduced ? it looks like the classpath is messed up

[2021-03-03 16:36] nicolaferraro commented on #2090
Oh, right! I didn't notice that [this](https://github.com/apache/camel-k/pull/1931) got merged yesterday and we switched to runtime 1.7.0-SNAPSHOT.

In case of external kit, the individual entries of the classpath are not expected to be be present on the kit.

cc: @jamesnetherton

[2021-03-03 16:58] jamesnetherton commented on #2090
I can try to take a look tomorrow or Friday.

[2021-03-04 08:06] astefanutti commented on #2088
Fixed with #2089. Thanks!

[2021-03-04 08:06] #2088 closed

[2021-03-04 08:10] astefanutti commented on #2077
@arthurdm you can find some details in https://github.com/apache/camel-k/blob/master/proposals/service-binding/service-binding.adoc.

[2021-03-04 10:17] johnpoth commented on #2077
There is also a [meeting](https://github.com/redhat-developer/service-binding-operator#community-discussion-contribution-and-support)  where use cases can be discussed. Next one is today at 1:00 PM UTC I think

[2021-03-04 14:08] johnpoth commented on #2077
@arthurdm I think one relevant part of the specification that is relevant here is the use of [custom service projection](https://github.com/k8s-service-bindings/spec#custom-projection) where camel-k handles the mounting of the binding information (in the form of a `secret`) into the `Deployment`.  I am mentioning this as it's scheduled to be [removed](https://github.com/k8s-service-bindings/spec/p

[2021-03-04 16:18] arthurdm commented on #2077
Thanks for link @astefanutti / @johnpoth!

Yes - are you noted, we're about to remove the `CustomServiceProjection` from the spec.  In order to leverage the new `ClusterApplicationResourceMapping` artifact my recommendation would be to expose the needed elements (volumeMount, env, etc) in the `.spec` of `Integration` - so that we don't get into a reconciler loop between the Service Binding Operato

[2021-03-04 16:29] astefanutti opened #2096 "PodSpecable Integration"
In a growing number of use-cases, it is preferable, or expected, that the Integration resource be _PodSpecable_.

The main use cases are:
* Knative SinkBinding: #1976, #1122
* Service Binding: #2077

It is also useful in the general case, to enable the generic configuration of the Integration pods: #1657.

[2021-03-04 16:30] astefanutti commented on #2077
I've created #2096, as an umbrella issue to make Integration _PodSpecable_.

[2021-03-04 17:45] johnpoth commented on #2077
In the case of ServiceBinding, the integration [isn't needed](https://github.com/k8s-service-bindings/spec/commit/20daf4e312ca502a301cb552624680152d4fe319) to be PodSpecable

[2021-03-04 17:47] johnpoth commented on #2096
In the case of Service Binding, the specification has alleviated that [constraint](https://github.com/k8s-service-bindings/spec/commit/20daf4e312ca502a301cb552624680152d4fe319)

[2021-03-04 17:50] astefanutti commented on #2077
It seems that was the case an hour ago 😉.

[2021-03-04 17:53] astefanutti commented on #2096
Would that simplify or not to have Integration PodSpec-able w.r.t. Service Binding?

[2021-03-05 08:40] oscerd commented on #1890
We found a way to get it back

[2021-03-05 08:40] #1890 closed

[2021-03-05 08:54] #1921 closed

[2021-03-05 08:56] oscerd commented on #1415
I'll give it a try.

[2021-03-05 09:30] bouskaJ opened #2098 "Dependency autoloading is not working correctly with YAML format"
I have the following integration
[code]
and I am getting

[code]
from the integration log. The `camel-log` dependency is not loaded to the integration classpath.

if you write it in the classic `- from` form (source code follows), dependencies are picked, so I guess it's a problem with the `- route` format.
[code]

[2021-03-05 10:15] #2090 closed

[2021-03-05 14:29] astefanutti commented on #2077
Fixes with #2094.

[2021-03-05 14:29] #2077 closed

[2021-03-05 15:13] mmelko commented on #2096
I can look at this.

[2021-03-08 09:24] bouskaJ opened #2103 "revisit all these install options that are not symetrical between kamel install/kamel uninstall and OLM"
Some options on `kamel install` and `kamel uninstall` are not working with OLM, some options are working without any error. This is very confusing. Please revisit those options and add `warning` messages when the inappropriate option is used.

[2021-03-08 14:18] squakez opened #2105 "OLM installation fallback to normal installation without warning"
I am not sure if this is a regression or the intended behavior. Basically when I try to install the operator via OLM and OLM is not installed to the cluster, the procedure silently fallback to the normal installation. So, as a user I think I've installed via OLM, when I really have installed the bundled operator. I wonder if it's an error and if it's not I think we should at least warn the user ab

[2021-03-08 14:32] makandre opened #2106 "Runtime reload configmap/secret when they change"
Opening this request to capture discussion here: https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/watching.20mounted.20configmap.2Fsecret

**Use case:**  When values in a mounted configmap/secret is changed (e.g. a password to a service), would like a way to reload at runtime without needing to restart the integration (pod)

[2021-03-08 14:49] heiko-braun commented on #2106
Considering that Camel K rebuilds are fast, would it be safer to trigger a rebuild & redeploy of the integration, rather than reloading the runtime? From the outset (i.e. user changing creds) it would appear similar (the runtime uses the new credentials), but internally, we would move through regular kubernetes lifecycle steps (rebuild, redeploy, rollover, readiness checks). Reloading at runtime d

[2021-03-09 08:07] lburgazzoli opened #2107 "Support for HashiCorp Vault"
We should explore if we can provide an out of the box support for HashiCorp Vault

- https://www.hashicorp.com/products/vault
- https://www.hashicorp.com/blog/injecting-vault-secrets-into-kubernetes-pods-via-a-sidecar

[2021-03-09 09:44] lburgazzoli commented on #2083
Thinking a little bit more, we can also add options to define intermediate steps, like:

[code]

[2021-03-10 18:48] makandre opened #2109 "Consuming from more than 1 knative channel is broken"
With newer versions of knative (I was testing with `0.19.0`), if an integration consumes from multiple knative channels it doesn't work.

It is because the `knativehistory` header was removed in https://github.com/knative/eventing/issues/4295

zulipchat thread: https://camel.zulipchat.com/#narrow/stream/257299-camel-k/topic/Cannot.20consume.20from.20.3E.201.20knative.20channels

[2021-03-11 09:14] lburgazzoli commented on #2096
@astefanutti @nicolaferraro wonder if when making making an integration podspecable (but I think also other resources like the kamelet binding can benefit from it), then if I define an image with name "integration" (or whatever we decide to use to identify the integration container), that should be considered as an equivalent of a kit so in that case, no build should be performed

[2021-03-11 09:28] astefanutti commented on #2096
@lburgazzoli that sounds logical. There is no need for creating a build whose resulting image is overwritten by the Integration PodSpec.

That can lead to inconsistencies, e.g. with the Dependencies field. Though Pod-Specability is a mechanism that brings high-level of configurability, hence must be used responsibly.

An idea, if we try to map the logic of merging rather than replacing, to contain

[2021-03-11 09:31] nicolaferraro commented on #2096
Yeah, sounds interesting, but I guess the image at the moment misses the relevant metadata (e.g. list of dependencies included) to let us perform merging. Although containers have labels as well...

[2021-03-11 09:36] astefanutti commented on #2096
Right, probably better to keep it simple!

[2021-03-11 09:47] lburgazzoli commented on #2096
We can add validations so i.e. if you put a container image and dependencies, then we fail

[2021-03-11 15:29] squakez opened #2113 "OLM installation may fail with default values"
Installing the default camel-k operator via `kamel install` may not work on minikube or other k8s distribution where OLM is installed outside openshift (ie https://olm.operatorframework.io/docs/getting-started/#install-released-olm). It produces the following error:
[code]
To workaround it you can override the default `catalogsource` with the expected default by OLM installation `kamel install --o

[2021-03-11 19:02] arthurdm opened #2116 "Add sample using Flink"
Looking around the web I could not find anywhere a sample that used Flink directly from a Camel K integration, e.g. using the `to(flink:..)` component.

In the Flink Component page there's [partial example](https://camel.apache.org/components/3.7.x/flink-component.html#_camel_flink_producer_call) but it doesn't show how to implement the referenced DataSet and dataSetCallback properties.

[2021-03-11 19:06] oscerd commented on #2116
If you are not looking at this, I'll have a look

[2021-03-11 21:04] arthurdm commented on #2116
Thanks @oscerd!   I think a very useful sample would show how to create a `DataSet` that took into consideration the incoming payload.  Here's the snippet I was trying to get to work [1].  I couldn't get my `DataSet` to be registered.  Keep getting this error [2].

**[1]**
[code]

**[2]**
[code]

[2021-03-12 02:24] arthurdm opened #2117 "Kamelet using Java DSL"
The [Kamelet page](https://camel.apache.org/camel-k/latest/kamelets/kamelets.html) outlines various examples with YAML DSL, but all of the integrations I have been writing as using the Java DSL.

The page says:

So is there a way to write a Kamelet that uses the Java DSL?

[2021-03-12 05:45] oscerd commented on #2116
I think the problem is you're trying to bind the myDataSet to the registry in the process step, but it must done before, like you do for the callback

[2021-03-12 09:11] nicolaferraro commented on #2117
The route template part (i.e. the part that can use the property placeholders) in each Kamelet is a YAML flow, but a Kamelet can also hand-off processing to routes written in any of the other supported languages. E.g.

[code]

[2021-03-12 09:56] squakez opened #2119 "[CLI] Ask user confirmation for fallback regular installation"
During the installation procedure we are warning a user that the fallback procedure is switching from `OLM` to regular operator (#2112). I wonder if we should instead ask the user if she/he want to proceed or stop the installation process (if the user want to install via OLM, he may need to install the framework before proceeding).

I think we can add wait for the user to provide a y/n input and p

[2021-03-12 13:51] arthurdm commented on #2116
ya - indeed if I move the registration as the first lines of `configure` things work, but then I don't have the `{body}` information available to populate the `DataSet`.  Is there another way to access the incoming data for the processing?

[2021-03-12 13:53] arthurdm commented on #2117
thanks @nicolaferraro!   Is there somewhere we could add this sample to?

[2021-03-12 15:17] lburgazzoli commented on #2116
I don't think this could ever work as the flink endpoint is resolved when the route is reified, which means that even if you change the dataSet instance in the registry, it won't be noticed by the endpoint.

I think the only solution would be to amend the flink component and i.e. accept the dataSet to be set on an header.

[2021-03-12 15:45] arthurdm commented on #2116
that's good to know @lburgazzoli - I was going a bit crazy trying to get that to work. 😅

Is there a way to programatically call the Flink component from a Camel K Integration as an alternative to `to(flink:..)`?   The Flink Component claims that  we can `use incoming message as input data for the task`.

[2021-03-12 15:49] lburgazzoli commented on #2116
I think the easier option would really be to improve the component

[2021-03-12 20:15] arthurdm commented on #2116
I was able to get further along by changing `to(flink:..)` to `toD(flink:..)`.    That seemed to have allowed my DataSet to be registered dynamically, but now getting `Caused by: java.lang.ClassNotFoundException: scala.Product$class`.   Is there a particular scala version / dependency I need to set for the flink component?

[2021-03-14 18:46] arthurdm commented on #1721
hi @nicolaferraro - do you know if this is already possible today, or are there changes required to achieve this?

[2021-03-15 09:18] orpiske opened #2122 "Allow pulling base images from insecure registries"
This is based on a discussion I had with @astefanutti about a scenario where you have an insecure private registry and tries to pull/push your images there.

It looks like only the [main registry can be defined as insecure](
https://github.com/apache/camel-k/blob/771cf16934a237c141055ae1c5cea6711a901040/pkg/builder/spectrum/publisher.go#L64-L68). However, because the code seems to source the secur

[2021-03-15 09:50] nicolaferraro commented on #2117
There's a new [developer's guide for Kamelets](https://camel.apache.org/camel-k/latest/kamelets/kamelets-dev.html), maybe we can it as appendix

[2021-03-15 09:51] squakez commented on #1941
I am having a look at it

[2021-03-15 09:58] nicolaferraro commented on #1721
It's technically possible to achieve this. The CA part is a bit more complex because it requires a custom operator image to inject the custom company certificates, everything else should be configurable upon installation

[2021-03-15 14:25] astefanutti commented on #2122
Fixed with #2124. Thanks @orpiske!

[2021-03-15 14:25] #2122 closed

[2021-03-15 14:33] orpiske opened #2127 "Push to insecure registry fails when using Kaniko build strategy"
This is similar to the issue I reported on #2122, but involves one more item.

In addition to the items reported on the aforementioned issue, the push also fails because Kaniko itself assumes https. A simple work-around for this is setting the flags `--skip-tls-verify` and `--skip-tls-verify-pull`. They force Kaniko to use the HTTP protocol when talking to the registry.

[code]

I have a fix in pl

[2021-03-15 14:39] arthurdm opened #2129 "Ability to pre-build integrations"
I would like to propose that `kamel run` is enhanced to be able to stop right before applying the k8s CRs that it generates - i.e. use the build kit to create the target image, push that image into the registry, create the k8s CRs (Deployment, Service, Route, etc), but don't apply them.

The main use case / requirement I am trying to solve is the performance of how quickly a Camel K Integration ca

[2021-03-15 17:54] astefanutti commented on #2127
Fixes with #2130. Thanks!

[2021-03-15 17:54] #2127 closed

[2021-03-15 21:38] viacheslav-fomin-main opened #2132 "Maven build extensions"
Hello!

I need to get dependencies from AWS s3 bucket serving as a maven repository. To do this I need to add this extension https://github.com/Yleisradio/aws-maven but I could not find a way how it is done in camel K. Is this currently possible? or is there another way to access AWS s3 maven repo?

Thank you in advance!

[2021-03-16 06:16] lburgazzoli opened #2133 "Explore integration with schema/api registries"
i.e.:
- https://github.com/cloudevents/spec/blob/master/schemaregistry/schemaregistry.md
- https://github.com/Apicurio/apicurio-registry

[2021-03-16 06:18] lburgazzoli commented on #2132
We don't have direct support for this but it would be very welcome (relates to https://github.com/apache/camel-k/issues/1227).

If the extension can be configured via maven' settings.xml, then you can follow the instruction there https://github.com/apache/camel-k#configure-maven-settings

[2021-03-16 06:24] heiko-braun commented on #2133
+1 For the data conversation capabilities we added to Kamelets recently this would be a very good enhancement.

[2021-03-16 06:50] viacheslav-fomin-main commented on #2132
Thanks! I think we will contribute this.

[2021-03-16 09:21] #2105 closed

[2021-03-16 09:34] nicolaferraro opened #2134 "Release 1.4.0"
Time to plan a new release. There are some pending important PR that need to be merged.
I'd put an indicative data for the release at mid of next week.

I'll also start cleaning up the backlog an move to 1.5 issues with lower priority.

Do we need to release 1.3.x as well? Currently there's no way e.g. in OLM to switch to 1.3.x once 1.4.x is out.

[2021-03-16 11:28] mmelko commented on #2096
Currently I've created a pod trait that will merge the `PodTemplateSpec` from the integration into deployment's one. I guess those validation should be done also from the pod trait right?  Do we know any other things that shouldn't be replaced/modified ?

[2021-03-16 11:48] pprosser-redhat opened #2135 "Camel K doesn't automatically create an endpoint to view the Openapi doc that it was built with."
I created an API with Camel K by defining an Openapi specification. Including the openapi doc with the open-api parameter means that I only need to write my integration by using a "from("direct:....") and Camel K takes care of the rest. Great stuff.

I expected the Integration to automatically expose an endpoint e.g. /api-doc that allows a developer to see the documentation for the API. Turns out

[2021-03-16 12:25] orpiske opened #2136 "Secret type not supported with buildah on K3S"
When using buildah along with k3s, it fails with the reason: _"error during trait customization: unsupported secret type for registry authentication"_. A full stack trace is provided below. The offending line is [here](https://github.com/apache/camel-k/blob/55f74d3e44ad059219ec3d1fb00fb85ab2e60cd1/pkg/trait/builder.go#L260).

Stack trace:
```{"level":"error","ts":1615895993.1570735,"logger":"contr

[2021-03-16 12:35] JeSuisAlrick commented on #2135
Excellent bug report.

[2021-03-16 13:12] orpiske opened #2137 "Buildah build strategy is not working with insecure registries"
This is related to both #2122 and #2136.

When using a mix of secure and insecure registries with buildah build strategy the build fails. The problem is that it should prioritize the check for the insecure flag prior to the secret mount. Because of that, it leads to the issue described in #2136 which ends up failing in another way.

[2021-03-16 13:39] BramMusters opened #2139 "Wiretap to Kamelet does not work in YAML"
I am observing errors while writing a YAML integration containing a wiretap to a Kamelet, here is a minimal example: This example should log "Hello from Camel K yaml" twice.
[code]
Where the logger Kamelet is just a simple sink Kamelet that logs:
[code]

After `kubectl apply -f ` and `kamel run`, I receive the following error:
`WARN  [org.apa.cam.pro.WireTapProcessor] (Camel (camel-1) thread #3 -

[2021-03-16 13:43] heiko-braun commented on #2139
//cc @nicolaferraro

[2021-03-16 13:44] heiko-braun commented on #2139
@barmyard Perfect, thanks for the detailed description :)

[2021-03-16 14:23] astefanutti commented on #2136
IIRC, when we added Buildah support, the supported file format were `.dockercfg` and `.dockerconfigjson`. That explains the error. We should check whether the `config.json` format is now supported, or possibly improve the error message.

[2021-03-16 17:02] orpiske opened #2140 "CGO and linking woes when building with newer Fedora versions"
When building on Fedora 33, trying to run the operator image on a k3s cluster running CentOS Stream, the operator fails with:

[code]

This seems to be fixed by disabling CGO for the build-kamel target on the Makefile.

I'll send a PR with a proposed fix for this.

[2021-03-17 07:48] astefanutti commented on #2137
Fixed with #2138.

[2021-03-17 07:48] #2137 closed

[2021-03-17 09:52] heiko-braun commented on #1941
Is there wat to distinguish types of errors that might trigger an error handler in the first place? Thinking about something like this:

- Failure: External behavior is incorrect
- Fault: Discrepancy in code that causes a failure.
- Error: Human mistake that caused fault

[2021-03-17 10:12] #1840 closed

[2021-03-17 10:12] #2109 closed

[2021-03-17 10:24] nicolaferraro commented on #2134
Let's postpone this a bit to base it on 3.9 and have 1.3.x in the meantime.

We should also work with OLM channels to allow users to switch between minors (that for us are majors).

[2021-03-17 10:25] nicolaferraro opened #2144 "Release 1.3.2"
Let's get the 1.3.2 patch release out this weekend.

[2021-03-17 20:29] arthurdm commented on #2116
hi @oscerd - just wondering if you're also hitting the same roadblock I hit above.  Is our only option to improve the core Flink component?

[2021-03-18 06:16] lburgazzoli opened #2146 "kamelet-binding: embedding camelets"
the kamelet binding allow to embed an integration, we should explore the option to embed kamelets

[2021-03-18 06:16] lburgazzoli commented on #2146
/cc @nicolaferraro

[2021-03-18 12:24] nicolaferraro commented on #2146
Mmh, does not seem right.. a KameletBinding is supposed not to contain Camel-related stuff, while a Kamelet is the place where camel-stuff should be hidden inside...

[2021-03-18 13:11] mmelko commented on #2096
wip PR: https://github.com/apache/camel-k/pull/1861 so far without any validations

[2021-03-18 13:22] squakez commented on #1941
Not sure about the underlying details of Camel, but we may think of giving the user the possibility to chose what to do based on the specific exception caught. Maybe the same [try-catch](https://camel.apache.org/manual/latest/try-catch-finally.html) could work out of the box if used in the `steps`. However I think it defeats the concept of hiding the complexity behind the scene as the user must kn

[2021-03-19 07:42] oscerd commented on #2116
I think it is worth to amend the component. I still didn't find time to look at the sample.

[2021-03-19 14:48] astefanutti commented on #2140
Fixed with #2141.

[2021-03-19 14:48] #2140 closed

[2021-03-19 15:11] astefanutti opened #2149 "Ability to provide Maven repository CA certificates"
The existing configuration for Maven builds should be augmented, so that users can provide CA certificates for their private Maven repositories.

The CA certificates could be provided in the form of binary secrets, that would be mounted into the builds, and passed to the Maven process.

Some details are documented in https://maven.apache.org/guides/mini/guide-repository-ssl.html.

This relates to

[2021-03-19 15:16] astefanutti commented on #1568
The base image used to build the Integration containers must point to the internal registry. Otherwise, it defaults to `adoptopenjdk/openjdk11:slim`, which explains why it searches it by relying on the content of `/etc/containers/registries.conf`.

This can be changed with the `--base-image` option of the `kamel install` command.

[2021-03-19 15:16] #1568 closed

[2021-03-19 15:18] #1299 closed

[2021-03-19 16:07] #2035 closed

[2021-03-19 18:02] nicolaferraro commented on #2144
## Bug Fixes

- Invalid YAML does not make the operator panic ([#2148](https://github.com/apache/camel-k/pull/2148), [@nicolaferraro](https://github.com/nicolaferraro))
- Fixed bug to allow KameletBinding to pull/push data from Strimzi Kafka topics ([#1993](https://github.com/apache/camel-k/pull/1993), [@nicolaferraro](https://github.com/nicolaferraro))
- KameletBinding can use special characters

[2021-03-22 06:24] lburgazzoli commented on #2146
right

[2021-03-22 06:24] #2146 closed

[2021-03-22 06:32] lburgazzoli opened #2151 "Wait for dependencies"
Top level resources such as Integration, IntegrationKit and KameletBinding should wait for the the resources they depends on. As example:

- an Integration should wait for any secret or config map it requires
- a KameletBinding should wait for all the required kamelt

The availability or the waiting status should be reflected by the related `status -> conditions` block.

[2021-03-22 06:33] lburgazzoli commented on #2151
/cc @nicolaferraro @astefanutti I remember we have discussed about this for the service binding operator integrations

[2021-03-22 09:26] johnpoth commented on #2151
There is one [action](https://github.com/apache/camel-k/blob/master/pkg/controller/integration/wait_for_bindings.go) for the service binding operator that does this : "The availability or the waiting status should be reflected by the related status -> conditions block.". It could be adapted by renaming the "IntegrationConditionServiceBindingsCollectionReady" to something more generic to be reused

[2021-03-22 11:28] vkasala opened #2153 "Extend config docs to reflect all possibilities coming from camel"
From user perspective, I think current documentation about the possibilities for configuring components isn't documented enough.

https://camel.apache.org/camel-k/latest/configuration/components.html

I assume Camel K uses Camel Quarkus - `camel-quarkus-main` with dependency on `camel-main` thus inheriting all the capabilities from Camel 3.

If this is true and all of this options are supported, w

[2021-03-22 11:28] vkasala commented on #2153
@astefanutti @nicolaferraro @lburgazzoli Could you please help me clarify this one?

[2021-03-22 15:25] lburgazzoli opened #2157 "`extensions/v1beta1` Ingress is deprecated"
Running operator against OpenShift 4.6 and noticed:

    W0322 15:58:35.370055   10528 warnings.go:67] extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress

[2021-03-22 17:21] astefanutti commented on #2157
A draft PR is open: #2084. It must be adapted, to pass on OpenShift 3, where the newer API is not present.

[2021-03-22 17:25] lburgazzoli commented on #2157
@astefanutti missed it

[2021-03-22 17:30] astefanutti commented on #2157
@lburgazzoli no worries, I'm actually glad somebody else cares 😉.

With the recent controller-runtime upgrade (#2087), the deprecation warning are logged, which is useful to anticipate compatibility issues: https://kubernetes.io/blog/2020/09/03/warnings/.

[2021-03-23 10:52] nicolaferraro opened #2158 "Normalize object references"
Also in the context of #2083, we should normalize the way we reference generic Kubernetes resources.

I cannot find a standard for that. I see in the service-binding trait we're using a convention like:

[code]

Which is not natural... A better way would be to use the Knative CLI convention using colon separators:

[code]

Which also can simplify to:

[code]

We can also allow both `:` and `/` as

[2021-03-23 10:56] nicolaferraro commented on #2158
cc: @johnpoth , @lburgazzoli, @astefanutti

[2021-03-23 11:02] lburgazzoli commented on #2158
+1

[2021-03-23 11:59] orpiske opened #2160 "Deployment on K3s failing with Spectrum build strategy"
Hello,

this is based on a discussion I had with @astefanutti. The deployment / build on K3s is currently broken on master. After running a bisect, I identified the problem with the following commit: https://github.com/apache/camel-k/commit/0a21ad0b188e979de902090c8303754b367dbb22

Unfortunately the log is not very helpful for this one and this is the only thing it prints (right after the successf

[2021-03-23 12:00] orpiske commented on #2160
@astefanutti @nicolaferraro I am assigning this one to myself, but I'll be a bit busy for the next couple of days ... so feel free to take it over from me if you want so.

[2021-03-23 12:34] orpiske opened #2161 "Deployment on K3s failing with Kaniko and Buildah build strategy"
I suspect it might be related to #2160

[kaniko-logs.txt](https://github.com/apache/camel-k/files/6189629/kaniko-logs.txt)

[2021-03-23 12:37] orpiske commented on #2161
Also happens w/ Buildah, presenting the same error.

[2021-03-23 13:25] astefanutti opened #2162 "Integrations are re-built on operator upgrade"
Integrations are automatically rebuilt as soon as an operator pod, running version of the operator different those of the Integrations, is elected leader and takes control over these resources.

In order to avoid potential errors, caused by an unsolicited upgrade of the Integration resources, their versions should be left unchecked, and only changed by an operation explicitly triggered by users, e

[2021-03-23 15:01] astefanutti commented on #2158
I like the `[[apigroup/]version:]kind:[namespace/]name` form, which is also compatible with the lower-cased type shorthands.

I would avoid the `apigroup:version` and `namespace:name` forms, which do not appear standard in the Kubernetes eco-system.

[2021-03-23 15:06] nicolaferraro commented on #2158
Yes, I think that if we want to make more than 1 field optional, we cannot treat "/" and ":" as interchangeable.. Hoping that there are no other ambiguities..

[2021-03-23 15:09] astefanutti commented on #2158
Right, I'd rather not make `/` and `:` interchangeable, both for avoiding possible ambiguities, and sticking to conventions.

[2021-03-23 15:17] phantomjinx commented on #1979
Current progress: https://github.com/apache/camel-k/compare/master...phantomjinx:kustomize

@astefanutti
Would you expect all of the registry and olm parameters to be included in the Makefile and kustomized??

[2021-03-23 15:21] nicolaferraro opened #2164 "Review generated CSV"
The CSV generated with `make bundle` contains some issues when compared with latest one published in https://github.com/operator-framework/community-operators/tree/master/community-operators/camel-k:
- Some roles are repeated (sometimes with different content, sometimes they are equals)
- Some annotations are no longer present (e.g. the ones that hide low-level resources in the console)
- Operator

[2021-03-23 15:32] johnpoth commented on #2158
Right I remember searching for a "standard" thinking this would be easy to find but came up empty handed ...

If we look at how the API server exposes the resource URLs, in  order it goes `apigroup` then `version` then `namespace` then `kind` then  `name`. Not sure how I feel about putting the `namespace` before `kind`...

I think I would prefer not having two different separators but it seems tha

[2021-03-23 16:09] astefanutti commented on #2164
Here is the CSV I produce locally with `make bundle`:

[code]
    apiVersion: camel.apache.org/v1
    kind: IntegrationPlatform
    metadata:
      name: camel-k
      labels:
        app: "camel-k"
[code]
    apiVersion: camel.apache.org/v1
    kind: Integration
    metadata:
      name: example
    spec:
      sources:
      - name: Example.java
        content: |
          import org.apache.cam

[2021-03-23 16:12] astefanutti commented on #2164
Note that the above is produced with the `operator-sdk` CLI version 1.3.0.

[2021-03-23 16:19] nicolaferraro commented on #2164
Ok, I may be on an older version.. let me check

[2021-03-23 16:33] lburgazzoli opened #2165 "Allow to configure traits using annotations"
Configuring traits may be a little bit complex for tooling in particular when configuring a `KameletBinding` where as example, to configure the service binding, one has to rescue the `integration` spec, like:

[code]

It would much more practical to have options to use annotations that re well known and we can use the json schema for the traits to let tools know what options are available for each

[2021-03-23 17:31] #2162 closed

[2021-03-23 18:12] heiko-braun commented on #2158
Some inspiration: https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html

[2021-03-24 08:14] astefanutti commented on #2158
Another case against `/` and `:` interchangeability, is that it increases complexity of equality comparison. We used to support it for dependency references, but that led to duplicated entries issues. Sooner or later, that increased complexity causes issues, as it's been forgotten to normalise before comparing or hashing. So I went ahead and removed it for dependencies (#1903).

Generally, `:` car

[2021-03-24 09:16] nicolaferraro commented on #2158
The problem is ambiguity with optional fields:

If the pattern is `[group[/version]/][namespace/]kind/name`, then in:

[code]

Is `app` the group or the namespace?

With: `[[apigroup/]version:]kind:[namespace/]name` you should not have that problem.

[2021-03-24 09:40] nicolaferraro commented on #2164
Ok, the annotations were missing only in the 1.3.x branch. That's not a problem since I think we're not going to do another release from there.

Tries on master with operator-sdk 1.3.0 and duplicates are no longer present.

Note that operator-sdk 1.3.0 works on master, but even 1.3.2 fails, but this is another issue..

[2021-03-24 09:40] #2164 closed

[2021-03-24 10:03] astefanutti opened #2167 "Use environment independent `operator-sdk` CLI version"
The `operator-sdk` CLI binary is used for the generation of the OLM bundle. Currently it is expected to be present in the PATH, which leads to results that are environment dependent. As the operator-sdk CLI often introduces breaking changes, this leads to regressions and wasted cycles.

Similarly to what we did for `controller-gen` and `kustomize` CLI, for which we use expected versions retrieved

[2021-03-24 10:04] astefanutti commented on #2164
I've open #2167 as a follow-up issue.

[2021-03-24 11:39] lburgazzoli commented on #934
@nicolaferraro I'm not sure if this is still relevant, feel free to close it if it does not make sense anymore

[2021-03-24 11:50] lburgazzoli commented on #1507
I think we can close this now that we have all the pieces released

[2021-03-24 11:50] #1507 closed

[2021-03-24 12:59] astefanutti commented on #2158
Right, that's possible the `namespaces` segment is there for that reason, so that it solves ambiguity between namespace-scoped and cluster-scoped resources. So that would lead to `[group[/version]/][namespaces/ns/]kind/name`.

A couple of examples to see how it compares to `[[apigroup/]version:]kind:[namespace/]name`:

[code]

[code]

[code]

[2021-03-24 13:47] astefanutti commented on #1979
Thanks @phantomjinx!

Here is my current line of thought:
* I'd rather avoid turning the `kamel install` options complexity into the Makefile
* I'd rather propose the option for users to run `kustomize build config| kubectl apply -f -` or `kubectl -k dir`, i.e., the Makefile is optional
* That means it is expected users modify the files directly, like editing the ports, commenting out patches, ...