[2022-04-20 04:56] oscerd commented on #3220
If we all agree to release, I'm going ahead between today and tomorrow.

[2022-04-20 08:12] haanhvu commented on #2994
@squakez should we have another trait for this? I mean, the mount trait should just do what it does: mount the volume. If we need to "create" the volume, should we have another trait for it, like the pvc trait?

[2022-04-20 09:24] haanhvu commented on #3211
@tadayosi hey I have 2 questions:
- We need to test on both the dev mode and the remote dev mode, or just the dev mode?
- What can I use to show the start-up time?

[2022-04-20 10:21] #3162 closed

[2022-04-20 12:29] squakez commented on #2994
@haanhvu we may reason about that for sure. In any case, the business logic would be pretty similar and you'd need to related the mount trait anyway. IMO, we should do a first development within the mount trait, and later figure it out if it makes sense to have a separate trait for that.

[2022-04-20 16:16] KuthumiPepple commented on #3195
Hi, just wanted to check if this PR is ok to be merged or if there are more things to be done.

[2022-04-20 16:24] squakez commented on #3195
Yeah, it's good to go. Let's give the previous failing test another chance and then we can get it merged, thanks!

[2022-04-20 16:32] oscerd commented on #3195
I'm going to release 1.9.0 tomorrow, so eventually I could merge this immediately before releasing.

[2022-04-20 21:34] #3195 closed

[2022-04-21 00:19] #2847 closed

[2022-04-21 07:00] lburgazzoli commented on #2436
@squakez is this still an issue ?

[2022-04-21 07:45] squakez commented on #2436
It seems it was fixed. Just tested against 1.8.2 and it forwards annotations.

[2022-04-21 07:56] squakez commented on #2370
Closed by #2375

[2022-04-21 07:56] #2370 closed

[2022-04-21 07:57] squakez commented on #2375
Closed by #2376

[2022-04-21 07:57] #2375 closed

[2022-04-21 11:06] imartinez-tws commented on #3021
Hi, I think the linked PR probably solves the generation of the YAML output with no dependencies to the cluster, but what about the integrationkit image?. Is there any way of producing the image without the cluster and then pass it as a reference whn using kamel run (e.g. kamel run -t container.image=<imagePath>)?

[2022-04-21 12:25] orthoxerox commented on #1721
any comment

[2022-04-21 12:25] orthoxerox commented on #1424
any comment

[2022-04-21 12:59] squakez commented on #3021
Hello. Yes, you can use `container` trait for that likely `-t container.image=my-kit` : https://camel.apache.org/camel-k/next/traits/container.html

[2022-04-21 13:04] squakez commented on #2232
I think the first part of the issue is captured by the `container.image` trait property. @lburgazzoli does the location for the source still make sense?

[2022-04-21 13:08] imartinez-tws commented on #3021
Thanks for the info.

Well, a CI/CD system usually takes care of image publishing after successful build so it can be referenced by k8s resources on deployment. The idea is keep the operator connected to the registry so it can get the image referenced by container.image, but that image being generated from CI/CD system.

One of the main advantages of using external CI/CD is that we could have cust

[2022-04-21 13:09] squakez commented on #2238
Fixed already.

[2022-04-21 13:09] #2238 closed

[2022-04-21 13:16] squakez commented on #1843
I think this was already fixed

[2022-04-21 13:16] #1843 closed

[2022-04-21 14:08] #2232 closed

[2022-04-21 14:33] squakez commented on #1721
I wonder if it would be enough to use `kamel install --registry ... --maven ... -o yaml > offline-installer.yaml`, export the output and apply on any other cluster via `kubect apply -f offline-installer.yaml`. We'd need to let `kamel install -o yaml` work in offline mode, but that is certainly feasible to do.

[2022-04-21 19:46] lucamaf commented on #2684
I'm experiencing a somehow similar issue.
here is my kamelet binding definition:

[code]

and here you can find the error log:
[mongo-to-events-85b899f669-689sp-integration.log](https://github.com/apache/camel-k/files/8534599/mongo-to-events-85b899f669-689sp-integration.log)

I'm on version 1.6.5 of camel-k on OpenShift

[2022-04-21 19:49] lucamaf opened #3228 "Unable to access MongoDB from kamelets binding [DOCS bug]"
as mentioned here
https://github.com/apache/camel-k/issues/2684#issuecomment-1105686941

[2022-04-21 19:58] oscerd commented on #3228
If the log are the original one you need to have a capped collection. The one you're consuming from it's not.

[2022-04-21 20:18] lucamaf commented on #3228
works! although I coulnd't find any mention about this restriction for the collection in the documentation

[2022-04-21 20:20] oscerd commented on #3228
I think it's in the main documentation of the component. But needs to be add in the kamelet description. Let me leave this open so I'll fix it. Thanks for reporting.

[2022-04-22 04:40] SubhasmitaSw commented on #3142
Hi, @Gre8t if you are not working on this, can I take this up?

[2022-04-22 05:29] Arshita-CHD commented on #3133
Hey @squakez, could you assign this issue to me, I would love to work on it.

[2022-04-22 06:30] Gre8t commented on #3142
Hi @SubhasmitaSw, I totally forgot about this. I am already done with the example. Let me make some changes and push it.

[2022-04-22 06:44] SubhasmitaSw commented on #3142
Great!

[2022-04-22 07:32] squakez commented on #2826
Great, thanks @oscerd ! I wonder if we should also remove the CamelSource examples.

[2022-04-22 07:42] squakez commented on #3133
Sure, although as commented previously, this issue may require some expertise or deep code digging in order to reverse engineer the behavior of the feature. Do you still want to give it a try @Arshita-CHD ?

[2022-04-22 08:35] oscerd commented on #2826
Where are them?

[2022-04-22 08:42] squakez commented on #2826
This one for instance: https://github.com/apache/camel-k-examples/tree/main/04-aws-kinesis-source-basic

[2022-04-22 08:43] oscerd commented on #2826
Yeah, I think we need to focus on kamelets and generic-examples.

[2022-04-22 09:41] squakez commented on #3207
I've tested it successfully. I wonder if you may have some problem accessing https://jitpack.io repository url, reason why it could be failing when you use the dependency. Having a look at the logs would help troubleshooting, thanks.

[2022-04-22 15:20] Arshita-CHD opened #3229 "Use yaml camelCase for all the project resources"
Following up the issue [#3206](https://github.com/apache/camel-k/issues/3206) there are still some files remaining which are not in camelCase.

[2022-04-22 21:05] mrmertozturk commented on #3077
I am still experiencing this issue in the latest stable release 1.8.2.

[code]

Phase is stuck at "Deploying".
[code]

When I describe the integration:
[code]

I thought the issue was present in version 1.8.0, claimed to be fixed in version 1.8.1, but actually did indeed carry onto 1.8.1. I thought it was fixed with the latest stable release. Is this not the case?

[2022-04-23 18:53] Richardmbs12 commented on #1031
Any news on this? This will be highly valuable and enable a lot of AWS EKS/ECR users to sue camelk

[2022-04-24 12:45] tadayosi commented on #1328
I'll take a look at this after finishing other tasks.

[2022-04-24 12:54] tadayosi commented on #3211
Hi @haanhvu,

You should add a test to this existing e2e test. Since it is e2e test, it should be always a remote test (i.e. a test with an remote cluster).
https://github.com/apache/camel-k/blob/main/e2e/common/cli/dev_mode_test.go

You can use Gomega's `Eventually` with timeout of 10s to test the start-up time. If the test can be really stable with a even shorter timeout such as 5s on CI, we can

[2022-04-25 04:07] murugenthirap-cv commented on #2241
@abogatov  @squakez Have anyone tried this with ECR. Is there any documentation/Issues? We are trying to get this working with ECR and Appreciate any information. If not I will raise a separate thread providing more information on the issue we are facing.

[2022-04-25 07:42] squakez commented on #3077
Thanks for reporting. Would you mind commenting what is the Integration which is failing or the command you use to run it? I'd like to understand what exactly is failing now. Thanks!

[2022-04-25 08:08] squakez commented on #2241
I cannot see any documentation related. Sure, feel free to open a new issue or contribute to the documentation with any insight you may find.

[2022-04-25 08:10] squakez commented on #1031
We have no documentation related to that platform unfortunately. Contributions are very welcome.

[2022-04-25 08:42] Gre8t commented on #2915
hi @squakez this issue is resolved in pr #3160

[2022-04-25 08:47] #2915 closed

[2022-04-25 08:47] mrmertozturk commented on #3077
Thanks for the response. Of course, let me give you some information on what I'm trying to do.

We have a bunch of camel-k routes whose main function is to sync data from our Salesforce account to Postgresql database. Probably not important but camel components we have in these routes are: setHeader, setBody, setProperty, log, filter, removeHeader, convertBody, validate, split, process, bean, atla

[2022-04-25 08:52] Gre8t commented on #3176
Yeah, this should be checked during `kamel install`. If no CR is present then we can use the flags to set this up.

[2022-04-25 08:54] Gre8t commented on #3205
@squakez could this be assigned to me? T for thanks!

[2022-04-25 08:54] squakez opened #3234 "Flaky E2E tests identified in 1.9.x"
We may have a look and collect here the tests that are mostly failing in our E2E suite:

- [ ] --- FAIL: TestKameletChange (269.36s)
- [ ] --- FAIL: TestKitKnativeFullBuild (619.67s)

[2022-04-25 08:56] squakez commented on #3234
@phantomjinx @tadayosi @oscerd @astefanutti please, use this issue to add any repeated failure you may experience (I mean, anything that use to happen ofter enough to be considered really flaky).

[2022-04-25 09:06] squakez commented on #3205
Sure, thanks a lot!

[2022-04-25 16:30] jlangy commented on #3207
Hey, sorry I was off for a bit. Taking a look at the operator pod logs I think this is the relevant part:

[code]

[2022-04-25 17:18] jlangy commented on #3207
Thanks for the help @squakez, that was the issue. Publishing version 1.0.0 with `kamel run Jitpack.java --dev -d github:squakez/samplejp:1.0.0-SNAPSHOT` worked great. Not sure if it is our configuration or just an openshift default to look at master by default.

[2022-04-25 17:19] #3207 closed

[2022-04-25 18:17] phantomjinx commented on #3234
Tests that kept failing in the OCP4 run of the test are 'labelled' with the `CAMEL_K_TEST_SKIP_PROBLEMATIC` env var so that test runs can skip (nightly OCP4 runs do this at the moment).

- [ ]  --- FAIL: TestMetrics ([reconciliation duration metric](https://github.com/apache/camel-k/blob/main/e2e/common/operator_metrics_test.go#L176))
- [ ] --- FAIL: [TestRunDevMode](https://github.com/apache/came

[2022-04-26 13:18] tadayosi opened #3236 "`make generate-doc` doesn't update CRD API doc when using Go 1.16.x"
When running `make generate-doc` target, it shows the following warnings `can only use path@version syntax with 'go get' and 'go install' in module-aware mode` and although it says the generation done it does not update the CRD API doc.
[code]

The problem is that `go run path@version` used in `./script/gen_crd/gen_crd_api.sh` is really not allowed.

Go version:
[code]

@djencks @squakez Is there

[2022-04-26 15:18] KuthumiPepple commented on #2397
I'd like to work on this

[2022-04-27 03:47] tadayosi commented on #3234
Right now I only remember this local e2e test, which hangs up without exiting and timeouts the entire test.

- [ ] --- FAIL: [TestLocalRunIntegrationDirectory](https://github.com/apache/camel-k/blob/main/e2e/local/local_run_test.go#L91)

[2022-04-27 05:49] oscerd opened #3237 "Operators: `make prepare-operators` should use the same folder structure of the Kubernetes output for the Openshift ecosystem"
Should go on 1.8.x too.

[2022-04-27 08:45] squakez commented on #3236
It's strange. I have it working as usual:
[code]
Indeed, I have version 1.7 of Go:
[code]
Could it be because of this?

[2022-04-27 10:08] tadayosi commented on #3236
@squakez Yes, you're right. When I switch to Go 1.17.x it runs fine too. I've been using 1.16.x since it's the lowest version we use for Camel K builds.

[2022-04-27 11:53] Arshita-CHD commented on #3133
I would love to give it a try

[2022-04-27 12:29] #3237 closed

[2022-04-27 13:34] squakez commented on #3236
We have a long standing PR open about that: https://github.com/apache/camel-k/pull/2845 as far I can see it implied the update of several kube dependencies. I am not sure if we want to proceed with those upgrades as well. @astefanutti wdyt?

[2022-04-27 15:11] squakez opened #3242 "Default `make` fallback to `test`"
It seems that we recently changed the behavior of the default `make` operation. According to the [documentation](https://camel.apache.org/camel-k/next/contributing/developers.html#building), we used to default the `make` to build the project.

Right now, the `make` is defaulting to `make test`. The `make build` is still building the project, but, it is skipping unit test. I think we better have al

[2022-04-27 15:12] squakez commented on #3242
@phantomjinx I think this was some change you performed recently. There was any specific reason for that? Thanks.

[2022-04-27 16:46] squakez commented on #3077
I managed to reproduce. I did not manage to see why it is failing though. I'll keep working on it, thanks for reporting.

[2022-04-27 17:04] mrmertozturk commented on #3077
Thanks for the update. I would love to be a part of the fix and help you in any way possible.

[2022-04-27 17:15] SubhasmitaSw commented on #1784
I'd like to take this up, please assign this to me.

[2022-04-28 02:50] tadayosi commented on #3236
The last release of K8s which is built on Go 1.16.x is 1.22.x, and its EOL is 2022-10-28.
https://kubernetes.io/releases/#release-v1-22
So at the latest we can safely upgrade to Go 1.17.x after the date. Of course, we can upgrade it earlier if we want.

[2022-04-28 07:24] squakez commented on #3077
Thanks for the interest. If you want, you can start having a look at the E2E test we have here https://github.com/apache/camel-k/blob/main/e2e/common/config/config_test.go#L212 . It looks like this is not enough to cover the failure. Maybe you can figure out a test which cover the situation mentioned in the previous comments so we have a clear target to fix. Feel free to ping me if you are willing

[2022-04-28 07:35] squakez opened #3243 "Preflight Test: Failure"
The builds are failing with
[code]
I guess we need to update some configuration.

[2022-04-28 07:35] squakez commented on #3243
cc @oscerd @phantomjinx

[2022-04-28 07:36] #2318 closed

[2022-04-28 07:38] squakez commented on #1784
@SubhasmitaSw you may have a look at the draft work in #2832

[2022-04-28 09:32] #3140 closed

[2022-04-28 11:43] phantomjinx commented on #3243
On it.

[2022-04-28 12:04] lburgazzoli commented on #2023
Also have a look at https://cryostat.io/

[2022-04-28 19:52] phantomjinx commented on #3243
Fixed by https://github.com/apache/camel-k/pull/3245.

[2022-04-28 19:53] phantomjinx commented on #3053
Fixed by https://github.com/apache/camel-k/pull/3245.

[2022-04-29 17:34] phantomjinx opened #3246 "Release 1.9.0 - Failure to install via OLM"
I came across this yesterday while using 1.9.1-SNAPSHOT but now found it also to be the case in the released 1.9.0.

Running `kamel install ....` from the CLI against OCP4, using OLM, the operator crashes while trying to create a subscription.
[code]

The error comes from a `Config` struct not being included in the parent Subscription [struct](https://github.com/apache/camel-k/blob/main/pkg/util/o

[2022-04-29 18:18] oscerd commented on #3246
We could release again. It shouldn't be a problem. I personally didn't reproduce this before releasing. Btw thanks for reporting and fixing. I'm going to release again beginning of next week probably on May 3.

[2022-05-02 07:53] KuthumiPepple commented on #2397
How do I reproduce this bug

[2022-05-02 14:37] claudio4j opened #3247 "Provide example for IBM MQ Server"
Provide an integration example, similar to the [amqp example](examples/amqp) but for IBM MQ Server.

[2022-05-02 14:48] claudio4j commented on #2397
@KuthumiPepple When you run the camel-k-operator in a namespace with no knative resources,it will print the mentioned output in the camel-k-operator pod log.

[2022-05-02 23:52] robertonav20 commented on #1238
Any updates for this task? Can I help with something?

[2022-05-03 07:41] squakez commented on #1238
@robertonav20 you may have a look at the tasks in the issue description if you're willing to have a look at the implementation. A draft PR with some PoC may be useful to experiment and reason about the pros and cons.

[2022-05-03 12:52] #3247 closed

[2022-05-04 04:50] oscerd commented on #3246
Let me know if we have all in place for 1.9.1 or if we want to wait.

[2022-05-04 12:38] robertonav20 commented on #1238
Hi @squakez,
I build and execute camel k operator and a camel quarkus application inside raspberry.
I used docker buildx and specify the target platform.

I must modify makefile and dockerfile for camel-k-operator and use the correct java base image for camel quarkus application.

I apologize but I haven't strong skill with go language, I try to do my best. Can you give me an advice?

[2022-05-04 13:35] apupier opened #3252 "kamel local build is writing on stderr with Maven dependency specified as modeline even if it is working"
When using this kind of command:
[code]
with this kind of file:
[code]

On stderr, there is this message:
[code]

The dependency is correctly available in the local folder

[2022-05-04 13:44] apupier commented on #3252
I guess it comes from https://camel.apache.org/blog/2022/04/camel-k-release-1-9/#warning-cli-output-to-stderr
it sounds like an "info" log is going to stderr now. how can we determine that there is a real error now?

[2022-05-04 14:27] apupier commented on #3252
it seems that we can rely on the exit code. My manual tests so far reveals correct exit code provided.

So I think it is both strange that some info/warnign is written on stderr and that the VS Code extension for Camel K was relying on the stderr to detect errors isntead of exit code;  i think that relying on exit code is a lot cleaner on VS Code Camel K side.
On Camel K side, I think it would be

[2022-05-04 15:29] rhtevan opened #3253 "Enable Service to be exposed as NodePort should be disabled by default"
The ```--trait service.node-port``` is set to **true** by default. Given that node port is rarely used in OpenShift or Kubernetes these days for http services, would it not make more sense to default this to ClusterIP? Customers are typically pretty sensitive about opening ports directly to the cluster.

[2022-05-04 16:29] agahchen commented on #3253
Thank you for raising this issue @rhtevan .  We were surprised to discover this through a separate QA process by our OpenShift cluster operations team recently as they scan for potential network vulnerabilities and unintended exposures.  Setting --trait service.node-port=false reverts the service type to ClusterIP.  It would be ideal to apply the 'deny-by-default' approach and create node port-bas

[2022-05-05 04:58] oscerd commented on #3246
Any feedback?

[2022-05-05 07:39] #3243 closed

[2022-05-05 07:53] squakez commented on #3252
Thanks for confirming that. The main problem is that the CLI is expecting to produce some output when we use `-o yaml`. In that case, if we slip any log trace, we mess up with the output, so, the natural solution would be either to remove the log trace, or to redirect to the `stderr`. Not sure if we can find any alternative. If this is no longer an issue, feel free to close.

[2022-05-05 07:55] apupier commented on #3252
What about redirecting to stderr only when using the `-o yaml`?

[2022-05-05 07:56] squakez commented on #3246
Hi @oscerd , I haven't looked at this, hopefully @phantomjinx did. In general I noticed we have some test failing as well in 1.9.x and I was planning to have a look as soon as possible. I will let you know once I find something on that side.

[2022-05-05 07:58] squakez commented on #3252
It could be a solution. Although I am not 100% sure it's a good practice to have the output sent to different stream based on some flag selection: it may confuse the user. Let's keep it open and gather some feedback from the folks out there.

[2022-05-05 08:00] oscerd commented on #3246
Ok, i just need green light to release 1.9.1. i'm planning to release a fixed kamelet catalog too. There is an issue with Kinesis source

[2022-05-05 08:40] squakez commented on #1238
I think you can start having a look at the [builder package](https://github.com/apache/camel-k/tree/main/pkg/builder) which is the one in charge to take care for building images and pushing to registry.

[2022-05-05 10:40] squakez opened #3255 "Yaml sources failure in 1.9.0"
I'm running locally some simple KameletBinding, ie `kamel bind timer:foo log:bar` and I am getting the following runtime error:
[code]

[2022-05-05 10:41] squakez commented on #3255
@oscerd I'm having a look at this, I think we need to have this solved before releasing 1.9.1. I have the feeling it is not working for yaml sources using `steps` for some reason.

[2022-05-05 10:58] squakez commented on #3255
The problem looks to be in how we're generating the source in the integration:
[code]
Must `steps` be a child of the `from`!?

[2022-05-05 11:07] davsclaus commented on #3255
Yes see
https://camel.apache.org/manual/camel-3x-upgrade-guide-3_15.html#_camel_yaml_dsl

[2022-05-05 11:09] squakez commented on #3255
Okey, thanks for confirming @davsclaus - I'll see what exactly needed to fix here then.

[2022-05-05 13:52] squakez commented on #3234
--- FAIL: TestKameletChange (269.36s) will be fixed by #3256

[2022-05-05 14:09] #3021 closed

[2022-05-06 07:45] squakez commented on #3106
I've provided some detail in the release notes to let people know the test account is the one we use. We can keep it as it is I guess.

[2022-05-06 07:45] #3106 closed

[2022-05-06 08:43] casdtodtenhoefer opened #3257 "Path-problem with local dependency (jar) on windows"
Hello,

we have problems using a local dependency, running "kamel run" on Windows (Camel K 1,9,0).

[code]

As you can see there is a problem with the windows-path. I think that the colon after the drive letter is interpreted as a delimiter.

Best Regards,
Danny

[2022-05-06 09:27] phantomjinx commented on #3246
Running my er branch with the fixes from #3245, the e2e tests runs again. However, am seeing the same error that @rhuss witnessed. If that has been fixed then looking better on my end.

https://github.com/openshift-integration/camel-k-testing-ocp4/runs/6289133295?check_suite_focus=true#step:8:1873

[2022-05-06 09:39] squakez commented on #3246
@phantomjinx those errors will be fixed by #3256

[2022-05-06 09:55] johnpoth commented on #3257
Thank you @casdtodtenhoefer for the detailed report! I created the issue in `spectrum` which is where I think the issue lies.

As a workaround you can upload the dependencies manually by using [spectrum](https://github.com/container-tools/spectrum) directly:

`spectrum build --base scratch --push-insecure -t localhost:5000/maven_de_org_legacy_legacy_1_0_0_legacy-1_0_0_jar:1.0.0 src/main/resources/

[2022-05-06 10:58] #3255 closed

[2022-05-06 10:58] squakez opened #3258 "1.9.x TestHealthTrait/Readiness_condition_with_stopped_route failure"
Right now, only this test is failing:
[code]

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/3256#issuecomment-1119494943_

[2022-05-06 11:17] phantomjinx commented on #3053
Please close.

[2022-05-07 08:43] kubovdm opened #3259 "update camel-k operator from 0.6.0"
After update operator to higher version from 0.6.0 every integrations was not build, on build resourse i see only
[code]

[2022-05-07 19:47] robertonav20 commented on #1238
Hi,
i've tried to import BuildKit library like suggest @astefanutti inside the task but there is a problem with dependency

go: finding module for package github.com/go-logr/logr/funcr
github.com/apache/camel-k/pkg/builder imports
        github.com/moby/buildkit/client imports
        go.opentelemetry.io/otel/sdk/trace tested by
        go.opentelemetry.io/otel/sdk/trace.test imports
        gith

[2022-05-08 00:17] #2905 closed

[2022-05-09 08:36] squakez commented on #3259
Hello. I am not sure to understand what do you mean by "update operator to higher version from 0.6.0" can you please clarify and show exactly what was changed in your configuration? Thanks.

[2022-05-09 08:47] squakez opened #3260 "Move from release nightly to Continuous Delivery"
We may think to move the actual nightly release job that build the latest bits of Camel K in an unsupported pre-release into a Continuous Delivery. Basically it means the very same procedure we already have in place, but, we move the trigger from a nightly cron to any merge we perform in `main`.

[2022-05-09 08:48] squakez commented on #3260
fyi @lburgazzoli

[2022-05-09 08:48] #3012 closed

[2022-05-09 08:50] #3220 closed

[2022-05-09 08:51] oscerd commented on #3255
Are we fine to release 1.9.1?

[2022-05-09 08:59] lburgazzoli commented on #3260
can this be done also for .x branches ? says 1.8.x, 1.9.x etc

[2022-05-09 09:06] kubovdm commented on #3259
Hello. I use offical helm chart version 0.6.0 in k8s, and developers ask me to update to higher version. When i do rollup and update camelcatalogue and integrationplatfrom crd and after that i see only one error when integraion try to build pod. I read logs of camel-k operator, and can`t find errors, only messages about retry attemption. Configuration helm chart i don't changed.

[2022-05-09 09:12] squakez commented on #3260
Yeah, I think we should put this in place for at least actual version - 2 releases branch.

[2022-05-09 09:14] squakez commented on #3255
@oscerd those failures are fixed. However we have a couple of problems still, ie, upgrade and an health metrics failure. If we are in a hurry, I guess we can do that and take care in parallel. If we can delay some more day, we may try to have them fixed before.

[2022-05-09 09:17] squakez opened #3261 "TestOLMAutomaticUpgrade test failing in 1.9.x"
--- FAIL: TestOLMAutomaticUpgrade (40.95s)

See https://github.com/apache/camel-k/runs/6321600977?check_suite_focus=true

[2022-05-09 09:18] squakez commented on #3259
Thanks for the clarification. I wonder if this relates to #3261

[2022-05-09 09:18] squakez commented on #3255
These are the failures: #3258 and #3261

[2022-05-09 09:19] squakez commented on #3261
Not very familiar with this. @oscerd @phantomjinx any thought?

[2022-05-09 09:23] oscerd commented on #3261
No, not really.

[2022-05-09 09:23] kubovdm commented on #3259
i see that error about last version of camel-k? i try to use different versions, and no one is not work for me.

[2022-05-09 10:15] squakez commented on #3261
Should be fixed by #3245 as soon as that is released. Let's keep it open until 1.9.1 is done.

[2022-05-09 10:26] phantomjinx commented on #3261
Reason for failure details in https://github.com/apache/camel-k/issues/3246

Test will continue to fail whilst `1.9.0` is the last released version since the test downloads the `last-release-version` in order to upgrade from that to the dev version it builds during the test. Once a new version is released with a fix then that will become the `last-released-version` and hopefully the test should no

[2022-05-10 06:44] christophd opened #3262 "Create proper Camel event source page on Knative website"
The Knative documentation uses a very old and obsolete description of the Camel event source. We should update this to reflect Kamelet catalog and a quickstart how to use KameletBindings as event sources in Knative.

Website content: [https://knative.dev/docs/eventing/sources/apache-camel-source/](https://knative.dev/docs/eventing/sources/apache-camel-source/)

[2022-05-11 07:51] tadayosi commented on #3252
To me that modeline message seems to be info, not warning or error, so it's natural to be output to stdout. When we specify `-o` with `kamel local` command, rather we should suppress any log output to stdout.

[2022-05-11 09:14] KuthumiPepple commented on #2397
@claudio4j So I built the operator with `make` and then followed this [guide](https://camel.apache.org/camel-k/next/contributing/local-development.html) for running the operator locally. However, when I run `kamel operator`, I do not see the error message in the logs. It seems I may be missing something or doing something wrongly.

[2022-05-11 12:03] claudio4j commented on #2397
You should just install camel-k-operator in the kubernetes cluster and watch the camel-k-operator log. The `kamel operator` is for development purposes to run the camel-k-operator locally.

[2022-05-12 13:25] catshout opened #3266 "Integration Kit image build runs into an endless loop when a lower level image can't be pulled from Registry"
Hi all.

We're still working with Camel-K 1.8.0. We did experience that an Integration Kit build runs into an endless loop when a lower level image can't be pulled from Registry. The build will be tried again and again.

We must delete the Operator, afterwards the Integration Kit build was running properly again.

I'd expect in such a case (lower level image not found), that the Operator does have

[2022-05-13 06:55] rhuss opened #3267 "Proposal: Clarify the description for the Operator in the OLM catalog"
The description of Camel-K operator in the OLM is a bit misleading:

![image](https://user-images.githubusercontent.com/99080/168227758-87ffed81-3fc6-4745-9cd5-66a6355fdd3c.png)

It is not clear, that an `IntegrationPlatform` gets installed lazily on first use by an `Integration` if none has been created manually (but sounds more like that it is immediately created when the operator is installed).

[2022-05-13 07:19] squakez commented on #3266
I'm marking this as a bug as we should detect the problem and notify somehow to the user instead of looping infinetely. Maybe a retry with exponential backoff for some time, afterwards the build should be set in error state. We may solve this in 1.9.x and maybe backport to 1.8.x, dependending on when someone will have the availability to contribute on it.

[2022-05-13 07:25] squakez commented on #3267
Thanks for reporting @rhuss . However I struggle to find the documentation page where this is reported. Do you mind posting the link? thanks.

[2022-05-13 07:26] #3242 closed

[2022-05-13 07:26] #3257 closed

[2022-05-13 07:29] #3206 closed

[2022-05-13 07:30] catshout commented on #3266
Tx @squakez.

We're working with named Integration Kit images and references in the Integrations to one (in such a case re-usable) Integration Kit.

Maybe it's also an approach to make the automated layering configurable. For a better control of the artefacts we'd like to have a created named Integration Kit self-contained, means not built up on any existing one. Finally we'd have up to max 20 Int

[2022-05-13 08:14] tadayosi commented on #3267
@squakez This is about the description in the CSV manifest:
https://github.com/apache/camel-k/blob/main/config/manifests/bases/camel-k.clusterserviceversion.yaml#L76

[2022-05-13 08:18] squakez commented on #3267
Okey, I was looking through website doc. Thanks @tadayosi

[2022-05-13 19:14] jonathan-k4 opened #3271 "Local Dependencies Registry Problem"
It appears the new support for local `file://` dependencies ignores the `organization` field of the registry settings when it tries to upload the jar file to the registry.

https://camel.apache.org/camel-k/1.8.x/installation/registry/registry.html

When the integration is saved to the registry it does this:

https://github.com/apache/camel-k/blob/a79f8329361ddee26f418bc2c80f8546614fc3c8/pkg/trait/

[2022-05-16 04:49] oscerd opened #3275 "Release 1.9.2"
We forgot to backport some fixes for 1.9.x, so we need a new release

[2022-05-16 12:11] phantomjinx commented on #3275
To be merged -> https://github.com/apache/camel-k/pull/3277

[2022-05-16 20:52] robertonav20 commented on #1238
Hi,
i have an update with this tasks, below the description for each point>
- Use a multi-architecture default Java base image

`FROM --platform=$BUILDPLATFORM ghcr.io/graalvm/graalvm-ce:ol8-java11-22.1.0 `

I thinked to use quarkus-mandrel-base-image for arm64 but isn't available for now (https://github.com/quarkusio/quarkus-images/commit/21e25a3c3ae3e3f4a4bd02b1e76f6051c31729c0)

- Build and pub

[2022-05-17 05:02] oscerd commented on #3275
#3277 has been merged. I'll start a new release today.

[2022-05-17 05:50] oscerd commented on #3275
Is there something more to add to release-1.9.x before releasing?

[2022-05-17 07:20] oscerd opened #3280 "Moving main to 1.10.0-SNAPSHOT"
To avoid confusion with release-1.9.x branch

[2022-05-17 07:20] oscerd commented on #3275
Starting the release process.

[2022-05-17 07:30] johnpoth commented on #3275
Hi @oscerd any chance we can get https://github.com/apache/camel-k/pull/3278 in ?

[2022-05-17 07:31] oscerd commented on #3275
Merged on main, please backport, I'm still doing the preliminary steps to release.

[2022-05-17 07:32] #3271 closed

[2022-05-17 09:41] #3063 closed

[2022-05-17 14:47] squakez opened #3283 "Never stale a bug issue"
We should add the filter to avoid having stale anything reported as bug.

[2022-05-17 16:15] johnpoth commented on #3271
Should be fixed in [1.9.2](https://hub.docker.com/layers/camel-k/camelk/camel-k/1.9.2/images/sha256-01113e6a19b03ce3000a36dfa42ae5e75f1e65046144837d6eb4973667042b54?context=explore) (under vote)

[2022-05-17 16:15] johnpoth commented on #3257
Should be fixed in [1.9.2](https://hub.docker.com/layers/camel-k/camelk/camel-k/1.9.2/images/sha256-01113e6a19b03ce3000a36dfa42ae5e75f1e65046144837d6eb4973667042b54?context=explore) (under vote)

[2022-05-18 04:51] oscerd commented on #3280
Yes, the release.adoc must be updated too.

[2022-05-18 09:30] casdtodtenhoefer commented on #3257
Hi @johnpoth,

thank you for your effort. Should the problem be fixed in the new 1.9.2 nightly build? In my test the problem still occurred.

Error: Error trying to upload file://../../../../../resources/legacy.jar to the Image Registry.: wrong dir format for C:\Users\Username\AppData\Local\Temp\camel-k892884173\maven_legacy.jar_md5:. (expected "local:remote")

Operator version: 1.9.2-nightly
Kame

[2022-05-18 09:58] johnpoth commented on #3257
Hi @casdtodtenhoefer! Sorry looks like I forgot to handle the checksum files; unfortunately I don't have a windows machine nearby to test this... I've added the [fix](https://github.com/johnpoth/camel-k/commit/a0e9aca4465ff4dbac5b460990f242b6922730a4) on my [branch](https://github.com/johnpoth/camel-k/tree/windows)

Would you be able to test the fix ? You should just need to clone the repo and bui

[2022-05-18 11:55] robertonav20 commented on #1238
It's a pleasure help the community.... For now I try to build an integration kit multi arch with buildah strategy.

It's possible just update buildah version to 1.23.3 because the latest version support arm64 arch... Stay tuned I will give some feedback soon

[2022-05-19 08:47] heiko-braun opened #3289 "Turn AWS region parameter into an enum?"
We see a number of errors when creating AWS kamelets because people provide a wrong value the region parameter.

It can be prevented if we would turn region into an enum type, rather a string.

[code]

[2022-05-19 14:05] barius opened #3290 "Cannot find RestProducerFactory in Registry or as a Component to use""
I'm trying to use Rest component like this file:

hello-rest.groovy
[code]

When I run the integration in either local mode or with run --dev, it fails with
[code]

The full log:
[error.txt](https://github.com/apache/camel-k/files/8729754/error.txt)

Not sure I'm using the syntax the correct way because I'm still learning Camel.
Also tried to add external dependencies like `kamel local run --depen

[2022-05-19 14:06] barius commented on #3290
Rest consumer works though :)

[2022-05-19 14:09] davsclaus commented on #3290
you can add camel-http as explicit dependency

Something along the line of in the CLI args

`--dep camel:http`

[2022-05-19 14:11] davsclaus commented on #3290
And there is also a `producerComponent` I think in rest-dsl as the consumer and producer can be different. I am not aware if camel-k can detect this part of the code when it scans for camel JARs to include

[2022-05-19 14:19] barius commented on #3290
@davsclaus thx :)

-d camel-http reports
[code]
Looks like the args parsing has changed but this is not a big problem.

but -d camel:camel-http hit me in the head with `failure while building project: exit status 1`

just randomly testing the dependencies and found that
--dependency camel-quarkus:camel-quarkus-http
kinda works (not throwing exceptions on launch at least) :)

[2022-05-19 14:21] davsclaus commented on #3290
Oh yeah I thought first it was

`-d camel:http`

notice that its using colon

[2022-05-19 14:24] barius commented on #3290
yeah -d camel:http works :)

[2022-05-19 14:29] davsclaus opened #3291 "Dependency doc is wrong about how to add camel components"
https://camel.apache.org/camel-k/1.9.x/configuration/dependencies.html

It says `-d camel-mina2` but the syntax for camel is to use a colon, eg `-d camel:mina2`.
Also mina2 is an old Camel 2.x component, that is removed in camel 3.

So lets use another, can be netty or http, etc.

[2022-05-19 14:29] davsclaus commented on #3290
Ticket to update docs: #3291

[2022-05-19 15:12] squakez commented on #3291
I think that was the original way we supported the components, see the `kamel run --help`:
[code]
I remind we were converting the `camel-xxx` to `camel:xxx` or viceversa, so I'm marking this as a bug as well.

[2022-05-20 17:05] robertonav20 commented on #1238
As i say previously i build and execute an integration kit in arm64 with buildah, below the modifies:
- Update buildah at 1.23.3 version
- Add the parameter platform
`
bud := []string{
        "buildah",
        "bud",
        "--storage-driver=vfs",
        "--platform",
        platforms.DefaultSpec().OS + "/" + platforms.DefaultSpec().Architecture + "/" + platforms.DefaultSpec().Variant,

[2022-05-21 00:18] #2984 closed

[2022-05-21 00:18] #2982 closed

[2022-05-22 00:18] #2172 closed

[2022-05-23 06:50] tadayosi commented on #3211
@haanhvu Are you still working on this?  Is there any help we can provide for you?  If you don't have time to work on it now, I can take it over.

[2022-05-23 08:58] squakez opened #3293 "`kamel rebuild` does not seem to work"
Just tested with the following scenario:

1. Use an operator version (ie, 1.8)
2. Run a sample Integration
3. Upgrade the operator version (ie, 1.9)
4. Run `kamel rebuild` --> nothing happens

[2022-05-23 09:02] squakez opened #3294 "Integration upgraded automatically after operator upgrade"
Just tested with the following scenario:

1. Use an operator version (ie, 1.8)
2. Run a sample Integration
3. Upgrade the operator version (ie, 1.9)

The Integration on point 2 is rebuilt automatically (is that correct behavior?) And, even if that would be correct, the resulting Integration has still the previous operator version parameters, ie:
[code]

[2022-05-23 09:02] squakez commented on #3294
@astefanutti do you remind if the automatic rebuild was an intentional behavior?

[2022-05-23 11:40] robertonav20 commented on #1238
@squakez sorry, I don't understand why should be parameterized?
The integration kit are builded inside kubernetes so with architecture of the node amd64, arm64 etc....  this thing can't be modified by the user.

Can you describe me?

[2022-05-23 11:52] squakez commented on #1238
Yeah, I am thinking on a generic situation where you have multiple nodes in your cluster, and the operator is running on any non-ARM architecture. Then you have a special node in ARM architecture where you are willing to run the Integrations. In such case, having that value as a parameter would help.

[2022-05-23 12:47] robertonav20 commented on #1238
Ok Great! Thanks!
Anyway you are limited by buildah architecture support, for others solutions it's necessary fix the dependency problem which i describe some comment ago

I will try to add the platform field as attribute of IntegrationPlatform struct, but i don't know these classes and model, can you suggest how to proceed?.

[2022-05-23 21:56] ammachado opened #3295 "Run without source code"
Is it possible to run integrations contained in a JAR file, without having to specify which source files will be used? Or pull a Maven dependency and run every route on it?

[2022-05-23 23:16] ammachado commented on #3295
I think a better implementation what I was talking about is in #334

[2022-05-24 05:23] haanhvu commented on #3211
yes please

[2022-05-24 06:28] f39516046 opened #3296 "Kamel run default service nodePort is invalid"
Here is the thing, my team use Kamel v1.8.2 , and we run a route by xxx.java . Then default kamel create a service for this route,but the nodePort is invalid .Detail to see the attchment.
![image](https://user-images.githubusercontent.com/3354213/169962906-324cc74a-5a06-4e12-bc1e-06707549dd80.png)

the targePort placed by the string "http" , so it can not perform normally.

And now we have to use

[2022-05-24 06:54] tadayosi commented on #3296
Hi,

`targetPort` can be string such as `http` when the pod has the port named `http`:
https://kubernetes.io/docs/concepts/services-networking/service/

So why is it considered invalid?  Could it be a problem with the console you are using?

[2022-05-24 07:45] utherp0 opened #3297 "Integration Platform issues when using the Operator"
This is an odd one; on OpenShift 4.10 when you install Camel-K/Integration it does not create by default an Integration Platform. When you create a default one and then create an Integration using 'kamel run' (in this case a simple Event reader - see https://github.com/utherp0/functest2/blob/main/camelk/EventReader.java) the integration fails. If you then delete the Integration Platform, and then

[2022-05-24 08:27] tadayosi opened #3298 "Our preference on defining multiple e2e tests"
Our e2e testing is growing and we already have many e2e tests. We also see the time of e2e test runs in CI growing along with features we add to the codebase.

So what is our preferable style to define multiple flavours of e2e tests on the same target function?  For example, we want to test the cli command `kamel run` in multiple scenarios such as running with different locations of sources, or wi

[2022-05-24 08:28] squakez commented on #1238
You can have a look at some refactoring we've done recently here https://github.com/apache/camel-k/pull/3032 - We've introduced a generic `PublishStrategyOptions` in the IntegrationPlatform that can be used for any strategy extra option (we're using for Kaniko there). I think we could leverage that and from that onward cascade the parameter up to the Buildah Task. Ideally we don't want a specific

[2022-05-24 08:32] tmihalac opened #3299 "Simple KameletBinding created with Errors"
In Camel-k 1.8.2/1.9.2 on Openshift when I try to create a simple KameletBinding it is created unsuccessfully and keeps respawning pods with errors, this looks some kind of a race condition (it is inconsistently happening - sometimes it happens all the time and sometimes it doesnt happen at all)
The Kamelet I am using as the source is a clone of the [Webhook Source Kamelet](https://camel.apache.or

[2022-05-24 08:33] squakez commented on #3295
There are several ways to use custom dependencies. Pre 1.9 you can use Jitpack dependencies (https://camel.apache.org/camel-k/1.9.x/configuration/dependencies.html#dependencies-kind-jitpack). In 1.9 release you can use directly the `-d` option passing your dependency, such as:
[code]
Have a look to the blog post for some more detail: https://camel.apache.org/blog/2022/04/camel-k-release-1-9/

[2022-05-24 08:37] tadayosi commented on #3298
Another drawback in the option 2 is that you cannot run a single test in the collection as you can in the option 1. In the option 1, you can run a single test by using `go test ... -run TestRun_XXX` option.

[2022-05-24 08:38] squakez commented on #3298
Hey @tadayosi I'm always using the 2nd approach. As you've pointed out correctly, installing the operator for every test is seldom necessary. I guess there may be special situations where we need to create a new installation, but I'd say we should prefer option 2 when we can. About the single local testing, it's true, it may be a bit bothering, but I use to comment the code I don't need to test as

[2022-05-24 08:42] squakez commented on #3299
In `1.8.2` community version we're aligned with Knative `1.1.0` version. Please, make sure to use that version of the community Knative operator and confirm if it's still an error.

[2022-05-24 08:46] utherp0 commented on #3297
So, I think the problem I am seeing is that if I create a default ip before I run the integration it fails; the default is just 'as is', taking all the defaults on the Ux for the ip.

Creating one with no ip present does create the ip:

uther@ilawson-mac camelk % oc project camelktest
Now using project "camelktest" on server "https://api.cluster-nq5hk.nq5hk.sandbox542.opentlc.com:6443".
uther@ilaw

[2022-05-24 08:58] christophd commented on #3297
would be good to see the error from the logs so I can have an idea what went wrong.

Are you using a global operator? where is that operator running (maybe in namespace camelktest)?

[2022-05-24 09:06] utherp0 commented on #3297
Yup - I'm installing operator namespace bound, i.e. the operator is running locally. Once the test has completed (the build is taking a while) I'll spin up another namespace and create the ip first which should cause the problem, and will get the logs

[2022-05-24 09:55] tmihalac commented on #3299
Do you mean this: https://knative.dev/v1.1-docs/install/operator/knative-with-operators/
Is it ok to install 1.1.2 ?

[2022-05-24 12:23] oscerd commented on #3289
It will be closed once we switch to catalog 0.9.0

[2022-05-24 12:24] oscerd opened #3300 "Helm Chart for camel-k 1.9.2 is invalid"
I'm going to release 0.10.3 to fix the problem

[2022-05-24 12:36] oscerd commented on #3300
Fixed on 1.9.x and main. The 1.9.2 camel-k mapped to 0.10.3 helm chart.

[2022-05-24 12:36] #3300 closed

[2022-05-24 12:55] squakez commented on #3299
If you can recover the operator for 1.1.0 would be better, though the patch release should not be a problem in terms of compatibility.

[2022-05-24 13:09] davsclaus commented on #3295
camel k is powered on top of camel-main, and it has a ton of options for route discovery. But it may be that the camel-k-operator is hardcoding some of these options so you can't tweak it

See the option `camel.main.routesInclude​Pattern`
https://camel.apache.org/components/3.17.x/others/main.html

Where you can configure it with `classpath:xxx` to do classpath scanning.

[2022-05-24 18:58] robertonav20 commented on #1238
Ok @squakez, i understand your advice but i dont know how to use PublishStrategyOptions.

Can you give me and example to fill that structure?

[2022-05-25 00:21] #2867 closed

[2022-05-25 04:50] #3283 closed

[2022-05-25 05:55] oscerd commented on #3299
I guess we need to update Knative anyway.

[2022-05-25 08:12] utherp0 commented on #3297
The Operator is deployed into the namespace rather than across the Cluster, by local I mean namespace bound
<img width="1842" alt="Screenshot 2022-05-25 at 09 12 20" src="https://user-images.githubusercontent.com/2233236/170214330-3ebdcb7c-e7a9-4e56-8ebc-99e9826a9762.png">

[2022-05-25 09:09] f39516046 commented on #3296
ok,i get it. but also i have no idea about why kamel run default generate a service use targetPort http,but the PODs ports is none, there is no port named http. We only use the Platform-Http-Vertx component, anything works well(kit build successfully,and pods run well). The default service truely can not works well due to the targetPort http, there is no POD named it.

[2022-05-25 09:21] squakez commented on #1238
Sure, you can have a look at #3032 where we used that for the "Kaniko" options. We may mimick that and include any "Buildah" option as well.

[2022-05-25 09:59] robertonav20 commented on #1238
Yes i have a look yesterday, below i describe the code:

Inside the package builder i add buildah.go file to manage buildah constants properties
[code]

Here you can find the mapping to buildah builder
[code]
Then map architecture attribute to buildah command.

I see a difference between https://github.com/apache/camel-k/pull/3032 and this task, that task introduce a command parameter for **instal

[2022-05-25 13:48] #3211 closed

[2022-05-26 04:09] tadayosi commented on #3296
What are the `status.conditions` of your integration resource?  If the app includes an http service then Camel K automatically exposes a containerPort with the name `http` on the deployment/pod. If Camel K thinks otherwise it won't expose a containerPort but update the integration status conditions like this:
[code]

[2022-05-26 09:42] squakez opened #3306 "Side services compatibility matrix"
We can have some automation to publish a documentation page with the most important technology we support, ie, Knative, ServiceBinding, Keda, ... and the related versions.
As an example, we can easily get ServiceBinding version from the go.mod: https://github.com/apache/camel-k/blob/fe997b9ac1297884840ffb42bb41302bb5040ee5/go.mod#L31

[2022-05-26 09:53] squakez commented on #1238
Any build configuration should be included into the IntegrationPlatform, not exposed in the `kamel run` command. I think you can extend the BuildahTask to include the new needed parameters
https://github.com/apache/camel-k/blob/fe997b9ac1297884840ffb42bb41302bb5040ee5/pkg/apis/camel/v1/build_types.go#L107
and passing them from IntegrationPlatform.PublishStrategyOptions as we're doing for Kaniko se

[2022-05-26 10:17] mwmahlberg commented on #1915
@squakez I think it would be helpful to show how to enable the `CamelJacksonEnableTypeConverter` in the YAML DSL. I know it would be for me ;)

[2022-05-26 13:15] squakez commented on #1915
Please, feel free to open a new issue with any new request.

[2022-05-26 14:46] wuzhen0808 opened #3307 "kamel local build:failure while building project: exit status 1"
The kamel local build command report a message without any detail.
Is there any way to see the detail log to show the progress of building flow?
Hard to step forward with just a exit code.
Following is the source code and command lines, thanks a lot.

S:~/study-kamel$ cat hello.java
// camel-k: language=java

import org.apache.camel.builder.RouteBuilder;

public class hello extends RouteBuilder {

[2022-05-26 16:01] squakez commented on #3307
is `@OverRide` a typo?

[2022-05-26 16:40] robertonav20 commented on #1238
Ok thanks, i understand your advice and i fix the code just like this.

[code]
In this way you can manage the platform of image if you want, just fill `PublishStrategyOptions` with the correct paramater from outside.

But, i don't understand how to works `PublishStrategyOptions`, for kaniko i found this code inside `install.go`

[code]

If i undertstand well, with install command you can pass `kan

[2022-05-27 04:51] tadayosi commented on #3307
Have a look at the doc:
https://camel.apache.org/camel-k/1.9.x/running/local.html

In short, `kamel local build` requires at least `--image` option to run. I agree the message is not user-friendly. There's an issue for it: #3028

[2022-05-27 05:33] squakez commented on #1238
Nice, that fits perfectly into the design. I think those parameters must be provided by the user editing the IntegrationPlatform (manually) ie `kubectl edit ip`. A nice addition would be to transform that `kaniko-build-cache` into something generic, so we can manage any PublishStrategyOptions option. I'm creating a follow up issue for that. For now, I guess that the manual editing of the Integrati

[2022-05-27 05:36] squakez opened #3308 "Add a `kamel install --publish-strategy-option`"
We don't have a direct way to fill the `platform.Spec.Build.PublishStrategyOptions`. It would be nice to include it in the `kamel install` as an option.

We should also transform the `kaniko-build-cache` option to fit into the new model.

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/1238#issuecomment-1139295649_

[2022-05-27 08:38] tadayosi commented on #2886
OK, now I'm investigating why `health_test.go` always fails on CI. Is this the reason why it always does?  If so, I'm taking care of it.

[2022-05-27 09:14] squakez commented on #2886
Very very probably :)

[2022-05-27 09:19] robertonav20 commented on #1238
Ok great! So you leave to the user edit the manifest of integration platform under Camel K CRD.

Can i submit a PR?

[2022-05-27 09:21] squakez commented on #1238
Sure, it's more than welcome.

[2022-05-27 09:51] robertonav20 commented on #1238
You can find here https://github.com/apache/camel-k/pull/3309 the pr

[2022-05-27 21:12] phantomjinx opened #3311 "Integrations, IntegrationKits, IntegrationPlatforms are not owned by Namespaces"
When running the e2e tests, I found that despite the namespaces being deleted after each test, the integrations, integrationKits and integrationPlatforms are not.  Leaving a cluster for some time leads to an accumulation of these resources and the performance of a global operator degrades since on starting up, it first has to reconcile all of these resources currently installed but not necessarily

[2022-05-30 01:14] #2886 closed

[2022-05-30 01:45] f39516046 commented on #3296
ok,thanks a lot

[2022-05-30 01:45] #3296 closed

[2022-05-30 03:06] tadayosi commented on #3311
Good finding!

Talking about whether to add ownership to them, I thought the kits are intentionally left even after the operator is uninstalled, since they work as build caches and may be reused with another operator installation.

As for namespaces, I think deleting them should delete all resources under them:
https://kubernetes.io/docs/tasks/administer-cluster/namespaces/#deleting-a-namespace
If

[2022-05-30 07:37] squakez opened #3315 "E2E repeated failure"
I've notices some repeated test failure because of:
[code]
Apparently, when we delete the resource *after* the tests are completed, we sometimes are not able to delete the IntegrationPlatform. We should figure out why and avoid the test to fail for such reason.

[2022-05-30 07:37] squakez commented on #3315
fyi @tadayosi

[2022-05-30 07:44] tadayosi commented on #3275
@oscerd Can we close this?

[2022-05-30 07:44] #3275 closed

[2022-05-30 07:47] tadayosi commented on #3234
- [x] --- FAIL: [TestHealthTrait](https://github.com/apache/camel-k/blob/main/e2e/common/traits/health_test.go#L40) -- fixed by #3310

[2022-05-30 08:35] tadayosi commented on #3315
Where do you find this?  I looked at the upgrade testing for `release-1.9.x` branch but it seems to be failing with the same error.
https://github.com/apache/camel-k/runs/6647282436?check_suite_focus=true
[code]

Note the last log line just comes from `test_support.go` where it tries to run the final clean up of the test, which I think just fails because the main part of the test has failed and th

[2022-05-30 08:45] squakez commented on #3315
It's in the latest merge of `main` branch (https://github.com/apache/camel-k/runs/6647187769?check_suite_focus=true). I've also seen it in other PR on main as well.

[2022-05-30 09:03] tadayosi commented on #3315
Ah I see. It looks like a false alarm as well, which is coming from the clean up script. For the current `main` branch, it seems the problem is in the CI script itself.
[code]
This error makes me feel that somewhere in the script there is code that tries to process the revision from `1.10.0` and fails to extract, which used to be `1.9.n` and thus worked. I'll see if I can fix it quickly.

[2022-05-30 14:24] phantomjinx commented on #3311
Seems not. Some of the namespaces were deleted some time ago but if others could check their clusters to confirm ...

Already added a cleanup-resources stage in the refactoring I'm doing but concerned that the global operator is being increasingly affected so becomes an issue of installation performance in user clusters rather than just confined to testing.

[2022-05-31 04:08] tadayosi commented on #3315
The root cause is that this Makefile variable has to be a single-line string but is actually multi lines:
[code]
This makes `make bundle` fail on CI.

[2022-05-31 05:35] tadayosi commented on #3311
I did a simple test that created a new project (namespace) and then installed an operator and ran a few integrations (`examples/languages/{Sample.java,simple.js,routes.yaml}`) in it. After they were up I deleted the project without cleaning up any Camel K resources and all the resources were wiped out with the deleted project. So we already have the behaviour we expect.

If the namespace deletion

[2022-05-31 06:33] tmihalac commented on #3299
Please reopen, it still happening with Camel-k 1.8.2/1.9.2 community version and with community Knative version 1.1.0.

[2022-05-31 07:02] astefanutti commented on #3311
+1, namespaced resources, such as integrations, are deleted by the GC controller when their namespace is deleted. The problem, as outlined by @tadayosi, is that some namespaces are still pending deletion, e.g.:

[code]

Finalizers set on resources within the namespace may be a possible cause.

[2022-05-31 10:32] rhuss commented on #3267
sorry, overlooked the question. But yes, it's in the CSV ...

[2022-06-01 00:21] #3009 closed

[2022-06-01 00:21] #3003 closed

[2022-06-01 02:09] #3315 closed

[2022-06-01 02:58] tadayosi opened #3321 "`make bundle` adds duplicate `replaces` to Camel K CSV"
Current Camel K CSV has duplicate `replaces` entries:
https://github.com/apache/camel-k/blob/main/config/manifests/bases/camel-k.clusterserviceversion.yaml

It's because of a bug in `make bundle` and `make pre-bundle` targets. When you run `make pre-bundle` it endlessly adds the `repaces` entry at the EOF, whereas operator-sdk insert the same entry in alphabetical order at `make bundle`.
[code]

[2022-06-01 02:59] tadayosi commented on #3321
Could you have a look at this? @phantomjinx

[2022-06-01 05:34] tadayosi commented on #3280
Let me close it as I assume it's already done. Reopen it if it's not correct.

[2022-06-01 05:34] #3280 closed

[2022-06-02 11:42] maschmid opened #3328 "CamelK 1.9.2 when installed via OLM "system:serviceaccount:openshift-operators:camel-k-operator" cannot get resource "channels" in API group "messaging.knative.dev""
On OpenShift, installing current Serverless Operator 1.22.1  and current Camel K Operator 1.9.2 via OLM.

Following the knative example https://github.com/apache/camel-k/tree/v1.9.2/examples/knative

fails

[code]

Steps to reproduce:
* On OpenShift, install Serverless Operator via OLM, create default KnativeServing and KnativeEventing in knative-serving, knative-eventing namespaces respectively
*

[2022-06-03 06:08] squakez opened #3332 "Missing Maven Server API description"
We should add some comment in https://github.com/apache/camel-k/blob/main/pkg/apis/camel/v1/maven_types.go#L96 and regenerate doc accordingly.

[2022-06-03 06:14] squakez commented on #3328
It seems a privilege problem. I think you should try to manually add the proper permission for the `camel-k-operator` service account. As the `channel` resource is in a namespace where the operator is not installed, I think there is not any possibility to include such permission by default during the installation (even more considering that you create the namespace _after_ installing the camel k o

[2022-06-03 08:22] maschmid commented on #3328
See also https://github.com/apache/camel-k/pull/2958

[2022-06-06 07:24] mydeveloperplanet opened #3335 "Camel route terminates when route takes longer than 5 minutes"
In our project we had long running routes (at least longer than 5 minutes). When using Camel-K we noticed the following behaviour:
* Create a route which takes longer than 5 minutes, e.g. set a delay in the route longer than 5 minutes
* Start the route via a Rest call
* The route will be terminated after 5 minutes

We also tried to put the message on a seda queue after the Rest call, but then the

[2022-06-06 08:05] squakez opened #3336 "How Camel K build container images"
I realized we don't have a clear documentation explaining that. Here as a recap:

- S2I - used in Openshift
- Spectrum - default on vanilla Kubernetes (https://github.com/container-tools/spectrum)
- Buildah - (https://buildah.io/)
- Kaniko - (https://github.com/GoogleContainerTools/kaniko)

We'll need to write some official doc about it.

[2022-06-06 08:09] lburgazzoli commented on #1656
I think it would be nice to consolidate on jib (except of s2i probably) and get rid of the other build strategies mentioned here: https://github.com/apache/camel-k/issues/3336

[2022-06-06 08:16] squakez commented on #3335
Thanks for reporting the issue. It looks quite strange indeed, we never experienced such a behavior. In order to see the exact problem in action, do you mind posting a reproducer? It would be enough to have the route and the way you're calling it. Also, please specify the camel k version, knative version and kubernetes cluster you're running. Thanks!

[2022-06-06 08:20] squakez commented on #1656
Would it make sense to target for a 2.0 version? It looks like we won't be able to maintain compatibility (at least, not that easily) if we switch to something new.

[2022-06-06 08:25] lburgazzoli commented on #1656
Yes for 2.x

[2022-06-06 09:08] christophd commented on #3335
A possible cause could be Knative serving shutting down the pod because of auto scale to zero due to inactivity on the REST endpoint.

Did you have Knative serving enabled in your scenario?

We could verify this disabling auto scale functionality to see if this is the problem

[2022-06-07 09:17] Delawen commented on #2864
Can someone please open this again? @squakez

[2022-06-07 12:30] phantomjinx commented on #3311
Closing as proven not required.

[2022-06-07 12:30] #3311 closed

[2022-06-07 12:36] astefanutti opened #3339 "Configure Maven builds based on CPU quota"
The CPU resources allocated to the operator can significantly impact the integration build time.

Following #2837, which makes the operator aware of the CPU quota set on the operator container, Maven should be configured according to it.

For instance, the number of threads used to download dependencies in parallel, which is a major contributor to the build time, should be defaulted based on the C

[2022-06-07 12:40] SubhasmitaSw commented on #3339
Please assign it to me @astefanutti

[2022-06-07 12:52] astefanutti opened #3340 "Configure parallel container image layers push based on CPU quota"
The CPU resources allocated to the operator can significantly impact the integration build time.

Following #2837, which makes the operator aware of the CPU quota set on the operator container, the underlying container image push implementation should be configured accordingly.

For instance, the new option introduced in google/go-containerregistry#803 should be surfaced in Spectrum<sup>[1]</sup>,

[2022-06-07 18:21] ammachado opened #3341 "How to deal with `SNAPSHOT` dependencies?"
I have the following scenario:

[code]

I would like to keep the route code inside the jar file, so I can test it locally using Camel Quarkus runtime instead of camel-k-runtime that is used on `kamel local run`.

When I first run the route in Camel-K, everything works as expected, during the integration kit build maven downloads the current snapshot of my dependency.

My question is how to deal wh

[2022-06-07 18:56] christophd opened #3342 "kamel uninstall --all does not remove Kamelets"
kamel CLI provides the uninstall option `--all`

As a user I would expect the command to remove all Camel K custom resources including all Kamelets that have been installed automatically with the operator.

Unfortunately the Kamelets are not removed. Only the Kamelet CRD is removed. We should make sure to remove all Camel K custom resources when doing an uninstall `--all`

[2022-06-08 00:18] #3022 closed

[2022-06-08 16:04] phantomjinx commented on #3321
https://github.com/apache/camel-k/pull/3343

[2022-06-09 00:18] #2996 closed

[2022-06-09 00:18] #2965 closed

[2022-06-10 00:36] ammachado opened #3347 "Configmap properties changes are not being detected in dev mode"
I'm using `kamel run --dev` to test my integration.  All my configurations are on a config map on the cluster.

My integration declares a config `modeline` using a configmap.

The first time I run `kamel run --dev Integration.java` the configuration is loaded from the configmap.  I can change the code and changes are reflected on the integration without any issue.

However, if I make any change on

[2022-06-10 07:40] squakez commented on #3054
@phantomjinx maybe you have some experience on this topic. Mind having a look at the question?

[2022-06-10 08:22] squakez commented on #3347
It's a known behavior. There is a feature request for it #1235

[2022-06-10 08:27] squakez commented on #3341
I think it depends on the refresh policy (see https://cwiki.apache.org/confluence/display/MAVENOLD/Repository+-+SNAPSHOT+Handling). I'd say that, if no changes in the maven configuration, we do follow the default policy. You can override it by changing the maven configuration in your IntegrationPlatform: https://camel.apache.org/camel-k/next/configuration/maven.html

[2022-06-10 08:30] squakez commented on #3342
I think this was discussed in the past. Kamelets are generic contents, not necessarily bound to the Camel K operator (ie, you can create a kamelet and let any other system use it). I'd suggest instead we include a parameter on `kamel uninstall` in order to simplify the cleanup if needed. Otherwise, as a fallback, you can always use `kubectl` and delete all unnecessary Kamelets.

[2022-06-10 08:46] christophd commented on #3342
IMO `--all` option is exactly that option where everything should be removed including Kamelets. The short description of `--all` option is "Do uninstall all Camel K resources".

Also all CRDs (including Kamelet and KameletBinding) are removed with `uninstall --all` at the moment and only the Kamelet custom resource instances are not removed. This does no make any sense to me because the user will

[2022-06-10 13:15] ammachado commented on #3341
I think that this behavior is not related to the refresh policy.

Since there's no change on the integration dependency list, it won't trigger the build of a new integration kit, which is when the dependencies are pulled.  Yet a `SNAPSHOT` dependency might have changed.

[2022-06-10 14:26] chorton-coastal opened #3348 "Kamel install error on Minikube"
After running `kamel install` I'm getting an error on the operator.
I'm using kamel  `1.9.2` and minikube `v1.25.2`.

[code]

[2022-06-11 00:19] #2622 closed

[2022-06-11 00:19] #2485 closed

[2022-06-11 00:19] #2474 closed

[2022-06-11 00:19] #2418 closed

[2022-06-11 00:19] #2179 closed

[2022-06-11 00:19] #1976 closed

[2022-06-11 00:19] #1808 closed

[2022-06-11 00:19] #1770 closed

[2022-06-11 00:19] #1689 closed

[2022-06-11 00:19] #1665 closed

[2022-06-11 00:19] #1623 closed

[2022-06-11 00:19] #1535 closed

[2022-06-11 00:19] #1523 closed

[2022-06-11 06:53] mydeveloperplanet commented on #3335
We were using Camel-K 1.7.0, KNative 1.1.0. Kubernetes cluster was K3S.
Knative serving was enabled as far as I can see.
I understand the need for a reproducer, but the developers departed from Camel-K and are not eager to spend more time into it, I am sorry. But they did say that it can be easily reproduced by setting a delay of > 10 minutes in the route.

[2022-06-11 14:29] bjethwan opened #3349 "Unable to get basic hello.groovy example working on local single node KIND cluster"
[code]

[code]

https://camel.apache.org/camel-k/1.9.x/running/running.html

`kamel run hello.groovy`

[code]

It's such a stupid thing that every time it fails to download the base image it again enters in the complete maven build cycle.

[2022-06-11 14:40] bjethwan commented on #3349
[code]

[2022-06-11 14:41] bjethwan commented on #3028
% kamel local build --image=docker.io/bjethwan/hello hello.groovy
failure while building project: exit status 1

[2022-06-11 14:58] bjethwan commented on #3349
Does it have to build the image every time I run "kamel run hello.groovy"?

[2022-06-11 15:49] barius commented on #1238
I'm able to build a arm64 camel-k-operator image by first creating a arm64 quarkus-mandel image, then base camel-k on this.
However, integration kits built in this arm64 operator is still amd64/x64.
I'm running Docker Desktop on an M1 Macbook, camel-k 1.9.1.

Looked into camel-k builds and saw the Spectrum builder. Don't know if it supports arm64.
Is there any way I can get a arm64 image? Maybe af

[2022-06-11 18:28] rajesh-kumar opened #3350 "Parametrize kaniko executor image to point to private registry"
HI Team,

Can some please help in knowing how can I override following hardcoded image URL "gcr.io/kaniko-project/executor" to point to my private registry where we have this image already uploaded?

I see that it is currently hardcoded in "**pkg/controller/build/build_pod.go**"

[code]

Will really appreciate quick guidance here. Thanks!

[2022-06-11 19:05] robertonav20 commented on #1238
Hi @barius to build integration kits arm64 it's necessary use buildah as build-strategy you can follow the pr open from this ticket

[2022-06-12 00:20] #1522 closed

[2022-06-12 00:20] #1471 closed

[2022-06-12 00:20] #1406 closed

[2022-06-12 00:20] #1376 closed

[2022-06-12 00:20] #1363 closed

[2022-06-12 00:20] #1296 closed

[2022-06-12 00:20] #1336 closed

[2022-06-12 00:48] barius commented on #1238
Okay I'll try it! Good work!

[2022-06-12 02:59] barius commented on #1238
Confirm that the PR works!
Now my integrations are arm64, yeah! Saw ~4x performance on my mac :)
I'll still using my local arm64 quarkus-mandrel image though, didn't find the manual command to build kamel operator to support arm architecture :(

[2022-06-12 09:44] robertonav20 commented on #1238
Ok great you can find the full guide here https://github.com/robertonav20/camel-k/blob/main/docs/modules/ROOT/pages/configuration/multi-architecture.adoc

[2022-06-13 03:01] tadayosi commented on #3349
You don't need `kamel local build` at all for just deploying an integration to a K8s cluster.

Looking at the log, it appears that there is something wrong with the registry settings. Make sure you followed the steps here with the correct credentials:
https://camel.apache.org/camel-k/1.9.x/installation/platform/kind.html

[2022-06-13 03:26] barius commented on #1238
Ah I see, great! However it uses Graal. Don't know what the difference between mandrel and graal so I'm waiting for the official release :) For now everything works for me and I don't have much time testing it out :P

[2022-06-13 15:33] squakez commented on #3341
Yeah, very good point. The fact you're reusing an Integration Kit won't trigger a rebuild. However I am not fully convinced we should change the behavior and rebuild also when a snapshot change. It may be a bit difficult to "calculate" when a snapshot change (I think we just use an hash from GAV now). The idea behind it is to have a very quick choice. If we start looking for other parameters we ma

[2022-06-13 16:07] squakez commented on #3348
It seems some error while getting information from your operating system. Are you using any virtual environment by any chance? You may try to force a GOMAXPROCS environment variable and setting 1 or 2 as a value.

[2022-06-13 16:10] squakez commented on #1665
Relates #3306

[2022-06-13 16:14] squakez commented on #3350
Yeah, it seems it is hardcoded. I'm marking this as a feature, feel free to have a look and contribute.

[2022-06-14 04:22] tadayosi commented on #3341
It may be possible that if we observe a snapshot in the set of dependencies we mark the kit as snapshot and force rebuild every time. On the other hand, I agree with Pasquale that it would do a bit too much. Right now, you know you are using a snapshot in them and you can manually run `kamel rebuild <your-app>` to force rebuild, and it'd be enough.

[2022-06-14 08:04] barius opened #3356 "kamel local run support --build-property ?"
This may be a feature request :P

During fast prototyping on JDBC mysql connection, I have to try different combinations of `--property` and `--build-property`.
The `--build-property quarkus.datasource.camel.db-kind=mysql` is for quarkus to detect mysql stuff and have to be used with `-d mvn:io.quarkus:quarkus-jdbc-mysql`.
Building a kit via `kamel run` on my local k8s costs around ~2min, and `kam

[2022-06-14 08:45] squakez commented on #3356
The `local` command just execute a jvm locally on your machine and it is meant to be used for quick testing and local troubleshooting. I don't think it can be on parity with the cluster `run` which is in charge to arrange the project, look for dependencies, capabilities, etc... , build and store an IntegrationKit (incremental). Think of that as a very thin layer on top of a normal Camel Quarkus ex

[2022-06-14 08:59] tadayosi commented on #3356
In many cases, building kits on a k8s cluster takes time because it downloads jars externally every time. Hosting a maven repo manager like Nexus might mitigate the building time. While there's no good documentation for the technique, you could look at this in the meantime:
https://camel.apache.org/camel-k/1.9.x/contributing/e2e.html#using-nexus

I believe you could do
[code]
then you could use th

[2022-06-14 09:33] barius commented on #3356
@squakez Thanks for the reply!

Yes, I totally agree with that. Took me a while to figure out the difference between `--build-property` and `--property` though :P
Anyway, `kamel run` is surely a better option in regards of log formatting, `--dev` mode with auto sync, .etc so I will stick with that :)

btw any ideas on the strangely slow performance on k8s? Got ~3x slower when connecting to mysql v

[2022-06-14 09:51] squakez commented on #3356
Probably it's because the different layers of virtualization. However, a fine tuned cluster should behave as any local machine. I guess you need to investigate how to improve network performances in your cluster.

[2022-06-14 10:46] barius commented on #3356
Sure, I'll work on that. Thanks!

[2022-06-14 23:21] ammachado commented on #3341
By the way, I'm testing here with `kamel rebuild` and I'm getting the following error:

I'm fiddling with cluster permissions here, it is an Openshift cluster.  My user has `cluster-reader` rights and I am admin of the namespace.

Running `oc auth can-i * integrations` I receive a `yes` answer and running `oc auth can-i * integrations/status` I also receive `yes` as the answer, so I figure I have

[2022-06-15 05:28] squakez commented on #3341
Yes, that's correct. In this case an Integration rebuild needs an IntegrationKit rebuild as well. In order to have a refresh of the dependency you will need to identify the IntegrationKit and delete it as well, to make it sure it won't be reused.

[2022-06-15 05:46] tadayosi commented on #3341
Currently, to really rebuild an integration with a new kit we need to do something like this:
[code]
maybe should we provide some flag to `kamel rebuild` that also forces removing a relevant kit?

[2022-06-15 08:25] yididiyag commented on #3077
Hello, this has been resolved from 1.9.x onward, check the [latest- v1.9.2](https://github.com/apache/camel-k/releases/tag/v1.9.2)

[2022-06-15 08:45] johnpoth commented on #3341
Agreed. Although it would be cool not to have to specify an extra flag to rebuild the integration when using `kamel rebuild` (i.e `kamel rebuild` should always rebuild the integration and not reuse an existing `integrationkit`).

Implementation wise, we could maybe add something to `Integration.Status` like `Integration.Status.ForceRebuild` that would be used when [checking](https://github.com/apa

[2022-06-15 08:53] mrmertozturk commented on #3077
@yididiyag That is incorrect. I've confirmed that the issue was _not_ fixed in v1.9.0

And according to the changelogs for v1.9.2 no change/fix has been made with regards to this issue.

[2022-06-15 09:03] phantomjinx opened #3359 "Upgrade can result in integration being rebuilt using the old integrationkit"
The e2e tests reveal that on occasion, eg. [here](https://github.com/openshift-integration/camel-k-testing-ocp4/runs/6886493035?check_suite_focus=true), an upgade of camel-k can result in an existing integration being rebuilt with the existing (not-upgraded) integrationkit.
[code]
The problem, of course, is this only happens in the test suite occasionally, so it is difficult to pin-down due to not

[2022-06-15 09:09] squakez commented on #3359
Interesting... we're talking about same stuff in #3341 I start thinking that the `rebuild` should build from scratch then...

[2022-06-15 09:17] oscerd commented on #3077
It's not fixed yet.

[2022-06-15 20:10] chorton-coastal commented on #3348
Adding the environment variable didn't help. I was able to get it working using the hyperv driver instead of docker.

[code]

[2022-06-16 05:32] tadayosi opened #3364 "Add E2E workflow using Windows runner for testing Camel K CLI client and local run"
We release a Windows version of Camel K CLI, but there is no test coverage targeting Windows environment yet. This causes some Windows only issues with the CLI and `kamel local` commands unnoticed until users try the CLI on Windows, such as #3363.

Since GitHub provides Windows runners for workflows, it should be desirable to have an E2E workflow on Windows that runs part of our E2E suite, especia

[2022-06-16 05:33] tadayosi commented on #3364
cc @phantomjinx

[2022-06-17 01:31] barius commented on #3356
Closing this issue because `kamel run` is a better option.

[2022-06-17 01:31] #3356 closed

[2022-06-17 04:19] tadayosi commented on #3364
Related issues: #213 #214 #3134

To reuse the existing e2e tests as-is, we are required to resolve those issues above first to make build work on Windows.

Another approach might be using the cross-compiled `kamel.exe` to run a separate e2e workflow with a dedicated set of Windows tests.

[2022-06-17 08:57] squakez commented on #3348
Yes, I've just hit the same problem. It seems a problem with the docker driver indeed. It is giving this error once I've run an update. Reopening in order to figure it out how to fix. Thanks for the workaround!

[2022-06-17 09:11] squakez commented on #3348
We're probably hitting https://github.com/uber-go/automaxprocs/issues/49

[2022-06-17 09:16] squakez commented on #3348
Some further workaround in https://github.com/elastic/cloud-on-k8s/issues/5325

[2022-06-20 07:14] squakez opened #3375 "`kamel promote` documentation"
Adding some documentation to explain the usage of `kamel promote`

[2022-06-20 12:50] #2747 closed

[2022-06-20 12:58] phantomjinx commented on #3364
Happy to take this on.

[2022-06-20 12:59] squakez commented on #1238
Partially available in #3309

[2022-06-20 17:19] christophd opened #3378 "Add support for extended Knative trigger filters"
Support extended Knative trigger filters in KameletBindings on source/sink level

https://knative.dev/docs/eventing/experimental-features/new-trigger-filters/

[2022-06-21 08:25] christophd opened #3381 "Update to Knative v1.5.0"
Use latest Knative v1.5.0 for eventing and serving

[2022-06-21 13:47] robertonav20 commented on #1238
Can we close this issue?

[2022-06-22 05:44] tadayosi opened #3384 "Use `go:embed` instead of vfsgen for embedded resources handling"
It makes sense to use a feature from standard library instead of relying on a 3rd party library. Use of `go:embed` may also save us from periodical regens of `resources.go` and unexpected issues due to its inconsistency.

The challenges for using `go:embed` I identified so far are:
- `go:embed` only allows embedding resources under its current dir. It's not possible to load resources in an arbitra

[2022-06-22 06:06] squakez commented on #1238
No, I think that although partially available with your development, this issue need some more work to be fully completed.

[2022-06-23 07:56] christophd opened #3387 "Update to golangci-lint 1.46.x"
We are using an old version of golangci-lint 1.43.x. Let's update to latest 1.46.x

Also fix issues reported by new linters being enabled by default such as
- [nonamedreturns](https://github.com/firefart/nonamedreturns)
- [containedctx](https://github.com/sivchari/containedctx)
- [maintidx](https://github.com/yagipy/maintidx) (cyclomatic complexity)
- ...

[2022-06-23 07:58] christophd commented on #3387
need to disable [exhaustruct](https://github.com/GaijinEntertainment/go-exhaustruct) linter as this is the successor of [exhaustivestruct](https://github.com/mbilski/exhaustivestruct) which is also disabled in Camel K

[2022-06-23 08:17] squakez commented on #3381
We must make sure that the dependencies used are not needing some conflicting kubernetes dependencies of the ones we support.

[2022-06-23 08:20] christophd commented on #3381
@squakez yes, Knative v1.5.0 uses `k8s.io/api` v0.23.5 Camel K uses v0.22.5

[2022-06-23 08:25] squakez commented on #3381
Thanks for checking. We need to keep them aligned then, waiting for us to use that version before bumping knative.

[2022-06-23 14:42] christophd opened #3389 "Propagate errors to KameletBinding status"
When there is an error in the operator during the reconciliation of a KameletBinding (e.g. a trait raises some error) the KameletBinding should reflect this error state in its status.

The actual behavior is that the KameletBinding is stuck in "Creating" phase and never recovers from that state.

To reproduce this behavior add a KameletBinding with an unknown Kamelet as a source or sink. The Kamel

[2022-06-23 14:49] christophd opened #3390 "RBAC missing permissions for channels and inmemorychannels in messaging.knative.dev"
The Camel K operator has lost the permission to get/list and manage channels/inmemorychannels in messaging.knative.dev group. This causes the knative trait to raise permission errors when binding a Kamelet to channels/inmemorychannels for instance.

To reproduce add a KameletBinding that makes use of a Knative channel.

[code]

This will result in errors in Camel K operator logs and the KameletBin

[2022-06-23 15:20] phantomjinx commented on #3390
Fixed in https://github.com/apache/camel-k/pull/3382

[2022-06-23 15:28] astefanutti commented on #3390
Possible duplicate of #3328.

[2022-06-23 15:34] christophd commented on #3390
I think the addressable changes do apply for Knative channels as a sink. I was using the channel as a source in the KameletBinding. Does that make a difference?

[2022-06-23 15:38] astefanutti commented on #3390
I think #2958 should apply whether a Knative Addressable to be resolved is used as a sink or source.

[2022-06-24 07:58] lburgazzoli opened #3393 "Migrate from batch/v1beta1 to batch/v1"
The batch/v1beta1 API version of CronJob will no longer be served in v1.25, we should migrate to batch/v1

[2022-06-24 09:19] squakez commented on #3393
Duplicated from #2408

[2022-06-25 11:31] barius commented on #1238
Although Buildah is perfectly fine with regards to building kit images, when Istio auto-injection is enabled, the camel-k builder always wait for the Istio container to complete (which will never happen), and triggers the default 5 min timeout (though Buildah finished in around 1~2 min and after the timeout the build still succeeds).

Don't know if this is the expected behavior, or if I should ope

[2022-06-26 00:22] #2817 closed

[2022-06-26 00:22] #2031 closed

[2022-06-26 20:24] sidharthramesh opened #3396 "kamel run --output yaml does not include resources"
## Steps to reproduce
I'm trying to get the output of an Integration in YAML to be applied later via GitOps using ArgoCD.
My Java file with modeline looks like this:
[code]

Running `kamel run Sink.java -o yaml` produces YAML:
[code]

The resources `composition.jslt` and `patient.jslt` are applied to the Kubernetes cluster as configmaps, and their reference is present here. But they are not includ

[2022-06-27 06:51] christophd opened #3397 "Allow multiple operators in a single namespace"
This is a follow-up on #3358

We should allow to install multiple operators in a single namespace for the sake of multi operator handling on a single cluster. At the moment we have static operator resource names (e.g. deployment name is `camel-k-operator`) so there can only be one single operator per namespace.

When dealing with multi tenancy on a cluster we should be able to run multiple (global

[2022-06-27 07:19] squakez commented on #1238
@barius please better open a new issue and which version is affected (I suppose the nightly build).

[2022-06-27 07:30] squakez commented on #3396
Resource field is deprecated since a while (https://github.com/apache/camel-k/commit/a73dce39ce2ceec9dc55492d518caac042812b67#diff-df704f21201b6d30fe851b7bee054f77855f8b5720e77d93e8462fffb9c71cb3) and will be soon removed. Instead you should use configmap or secret. As you can see in your code, the resource is converted into a configmap automatically for you and exported as:
[code]
However, for po

[2022-06-27 08:42] phantomjinx commented on #3128
This has been completed. Please close.
cc @squakez @christophd

[2022-06-27 09:39] christophd commented on #3390
@astefanutti I can see `{"level":"info","ts":1656322558.1037383,"logger":"cmd","msg":"Cannot bind the Knative Addressable resolver aggregated ClusterRole: skipping."}` in my operator logs. So that is why the addressable-resolver cluster role binding is not present on my cluster.

Need to find out what that exact problem is here

[2022-06-27 11:06] #3128 closed

[2022-06-27 14:55] christophd opened #3399 "Set log-level on Camel K operator not working"
The operator logging level should be settable with envvar `LOG_LEVEL="debug"` on the operator deployment.

Actually this does not have any effect on the log output. In particular I do not see logs other than default verbosity level `0`.

Platform: OCP 4.10
Camel K v1.9.2

[2022-06-28 00:22] #3113 closed

[2022-06-28 00:22] #589 closed

[2022-06-28 00:22] #564 closed

[2022-06-28 00:22] #558 closed

[2022-06-28 00:22] #481 closed

[2022-06-28 00:22] #512 closed

[2022-06-28 00:22] #361 closed

[2022-06-28 00:22] #354 closed

[2022-06-28 00:22] #345 closed

[2022-06-28 00:22] #327 closed

[2022-06-28 00:22] #334 closed

[2022-06-28 00:22] #299 closed

[2022-06-28 00:22] #214 closed

[2022-06-28 00:22] #213 closed

[2022-06-28 00:22] #78 closed

[2022-06-28 00:22] #37 closed

[2022-06-28 08:51] christophd commented on #3399
Turns out this is due to a missing backport to 1.9.x

[2022-06-30 01:28] barius opened #3408 "Buildah pods will wait for Istio container to finish then timeout"
When Istio auto-injection is enabled, the camel-k builder always wait for the Istio container to complete (which will never happen), and triggers the default 5 min timeout (though Buildah finished in around 1~2 min and after the timeout the build still succeeds).

Using #3309 built on a M1 Max Macbook, with self-built arm64 version of quarkus-mandrel (that does not seems the culprit?), Docker Desk

[2022-06-30 01:30] barius commented on #1238
@squakez yes pls take a look #3408

[2022-06-30 02:58] tadayosi commented on #3127
It's still a nice-to-have and shouldn't be stale.

[2022-06-30 03:44] tadayosi commented on #3236
Should be fixed once #2845. I go ahead and close this.

[2022-06-30 03:44] #3236 closed

[2022-07-01 00:21] #3124 closed

[2022-07-01 05:05] #2408 closed

[2022-07-01 05:05] #3393 closed

[2022-07-01 08:07] #3328 closed

[2022-07-01 08:07] #3390 closed

[2022-07-04 07:13] squakez commented on #2850
@sanyud24 are you still working on this feature?

[2022-07-04 07:14] squakez commented on #3143
Example already provided

[2022-07-04 07:14] #3143 closed

[2022-07-04 07:44] squakez opened #3412 "Failing integration does not report error condition"
Any failing integration, ie `kamel run -d mvn:com.example:nonexistent:1.0 Hello.java` will correctly set the error on IntegrationKit, but won't do on Integration, resulting the Integration in a `Building Kit` state even if it failed:

[code]

[2022-07-05 09:35] squakez opened #3413 "Example readme page 404 links"
https://github.com/apache/camel-k/blob/main/examples/README.md has some missing link due to ongoing example migration to https://github.com/apache/camel-k-examples. This page must be updated along the changes that are performed.

[2022-07-05 09:35] squakez commented on #3413
fyi @KuthumiPepple

[2022-07-05 23:14] benczekristof opened #3415 "Camel K integration Prometheus Trait label autocreation with Integration Platform not working"
Dear Maintainers,

I wanted to create a podMonitor resource with the right labels (so Prometheus will discover the integrations for metrics), but the autolabel creation for the PodMonitor didn't work. I have tried to add it in the following way: I have created an Integration Platform in the name space like this:

[code]
Then run the following command to create a kamel integration and automatically

[2022-07-06 05:00] tadayosi commented on #3415
Could you show us what's the `status` of the IntegrationPlatform?  i.e. `kubectl describe ip camel-k`?

[2022-07-06 05:16] benczekristof commented on #3415
Yes sure!

[code]

[2022-07-06 05:18] tadayosi commented on #3415
@benczekristof Ah ok, so `pod-monitor-labels` should be used only for cli parameters. For JSON or YAML, it should be `podMonitorLabels`. So your IntegrationPlatform should be like:
[code]
Could you try this and see how it goes?

[2022-07-06 05:41] tadayosi commented on #3175
Removing the stale label as it still seems to be worth exploring.

[2022-07-06 07:42] KuthumiPepple commented on #3413
Ok I'll do that. Thanks for pointing that out

[2022-07-06 07:58] squakez commented on #3175
@tadayosi , FYI, you can also add `status/never-stale` in order to avoid it become stale again in the future.

[2022-07-06 08:19] benczekristof commented on #3415
@tadayosi it worked! Thank you very much for your help! I guess I got confused by the documentation :)

[2022-07-06 08:19] #3415 closed

[2022-07-07 05:38] tadayosi commented on #3180
OLM test coverage is not enough, so let's mark this as never-stale.

[2022-07-07 05:45] tadayosi commented on #3349
@bjethwan If you've just uninstalled Camel K operator, the IntegrationKits used for the build is still there. So long as you keep the IntegrationKits Camel K won't recreate the container image with the hash. As you say, if you recreating the entire kind cluster the IntegrationKits are also gone and you'll need to rebuild the images.

[2022-07-07 07:42] squakez opened #3421 "Drop support for Openshift 3 and related E2E test"
I think we should seriously drop the support for OC3. We're going to have more and more situations like this in the future, limiting our capacity to innovate because we need to find a workaround to run on OC3.

_Originally posted by @squakez in https://github.com/apache/camel-k/pull/3419#pullrequestreview-1031127840_

[2022-07-07 07:47] squakez commented on #3421
We're recently having discussions on the opportunity to drop the flaky test we have for OC3. The reason why we're still having it is because it is easy enough to have a self contained Openshift cluster within Github Actions. However, the differences between the latest version of Openshift 4 (and probably more in general from Kubernetes model) is getting bigger and bigger with the time. The mainten

[2022-07-07 07:59] astefanutti commented on #3421
+1. For reference, duplicates #1550. What we would lose is immediate feedback for some RBAC and s2i coverage mainly. The pros would be obvious (more stable, faster, cheaper, e2e test runs) and probably now overweight the cons.

[2022-07-07 08:16] tadayosi commented on #3421
+1 too. Let's close the old #1550 and use this to track the issue. We'd lose the coverages Antonin listed + route test, but so long as we have some feedback channel for OCP4 testing we could catch up any regressions on those OCP features.

[2022-07-07 08:17] tadayosi commented on #1550
Superceded by #3421

[2022-07-07 08:17] #1550 closed

[2022-07-07 08:28] barius opened #3422 "Any ideas on disabling property expansion in kamel run?"
The use case is that I'm trying to log to different files in each pod on environment variable HOSTNAME. In application.properties :
[code]
Kamel does this expansion on `kamel run` and ${HOSTNAME} is resolved to my local machine rather than k8s pod name.

Since Quarkus also provides property expression/expansion, could there be any method or thoughts to differentiate the two? e.g. changing prefix a

[2022-07-07 08:38] squakez commented on #3422
Maybe you can leverage directly Camel properties features: https://camel.apache.org/components/3.17.x/properties-component.html#_using_system_and_environment_variables_in_locations

[2022-07-07 08:48] barius commented on #3422
@squakez If I use Camel properties, should I pass the properties via `kamel run -p`? Or `--trait camel.properties=`?

[2022-07-07 09:17] bjethwan commented on #3349
@tadayosi So if I take this solution to production, camel-k will not use the tested kit-* but recreate a new one?
Can't I export and import the integrationkit? Will that skip camel-k from rebuilding in production env?

[2022-07-07 09:43] squakez commented on #3422
You can both use a properties file or pass a list of properties. The `kamel run` will replace into trait for you. Ie:
[code]
and
[code]
will produce the same output.

[2022-07-07 09:45] tadayosi commented on #2229
To wrap up the discussions at the pull req #2831, there are three main problems with supporting Flow schema in CRDs:

1. **The sizes of CRDs will become bloated by introducing the Flow schema;** Right now the original Flow JSON schema [camelYamlDsl.json](https://github.com/apache/camel/blob/main/dsl/camel-yaml-dsl/camel-yaml-dsl/src/generated/resources/schema/camelYamlDsl.json) is about 220KB, but

[2022-07-07 10:02] squakez commented on #3349
I think the new `kamel promote` (https://github.com/apache/camel-k/pull/3325) may be your solution. You can already use installing nightly build or waiting for 1.10 release.

[2022-07-07 12:29] apupier commented on #2229
So the idea is to remove the route definition from the Camel K Custom Resource? it would mean to reference an external resource?

[2022-07-07 18:43] bjethwan opened #3424 "Why's there JDK inside the camel-k-kit-* images?"
Why's there JDK inside the camel-k-kit-* images?
And 384MB image for a simple route with basic log and timer components ?

This is using one of your samples
[code]

`dive bjethwan/camel-k-kit-cb2uqgpng1rc7386k9dg:6357`
<img width="1328" alt="image" src="https://user-images.githubusercontent.com/5045325/177846164-99a677f7-82f5-4de5-8bf6-460f7a68e600.png">

[2022-07-07 18:50] bjethwan opened #3425 "failed: could not pull base image image adoptopenjdk/openjdk11:slim: https://auth.docker.io/token dial tcp: i/o timeout"
How to get rid of this issue while working with Camel k in KIND cluster?

`failed: could not pull base image image adoptopenjdk/openjdk11:slim: Get \"https://auth.docker.io/token?scope=repository%3Aadoptopenjdk%2Fopenjdk11%3Apull&service=registry.docker.io\": dial tcp: i/o timeout`

I upgraded docker desktop on my MacBook and restarted multiple times. I have no proxy setting. This is my home wifi

[2022-07-08 05:31] tadayosi commented on #2229
@apupier No, the idea is to keep the current definition as-is. It means you can continue to define a yaml DSL Flow in an Integration, but the yaml is not validated by the structural schema from CRD. The yaml in Flow is treated as unstructured raw data as it is now.

[2022-07-08 08:05] astefanutti commented on #3424
Thanks for raising it. JDK is required by the JOOR compiler, that compiles the Java routes at start time. It should be possible to use a JRE-only base image when using the other supported languages, and reduce the integration image size significantly.

[2022-07-08 08:16] bjethwan commented on #3424
@astefanutti I think you have a perfect case for cloud native buildpacks, paketo maybe.

[2022-07-08 08:42] tadayosi commented on #1614
Done with #3235

[2022-07-08 08:42] #1614 closed

[2022-07-10 08:54] bjethwan opened #3428 "Prometheus monitoring doc doesn't help to get monitoring working"
Doc: https://camel.apache.org/camel-k/1.9.x/observability/monitoring.html

As per the doc, I installed prometheus-operator.
`$ kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/bundle.yaml`

Check the error below:
[code]

Next statement doesn't work
[code]

Error:
**`error: unable to recognize "STDIN": no matches for kind "Prometheus" in version "monit

[2022-07-10 09:11] bjethwan opened #3429 "Missing option to enable prometheus monitoring when installing Camel-K using Helm"
Documentation here talks about enabling camel-k operator monitoring using kamel cmd util BUT it's missing information about enabling the same using camel-k helm chart.
https://camel.apache.org/camel-k/1.9.x/observability/monitoring/operator.html

[2022-07-10 09:16] bjethwan commented on #3429
Is it possible to install camel-k using Helm but enable prometheus monitoring using "kamel" cli?

[2022-07-10 09:17] bjethwan commented on #3429
I guess the option is missing altogether in camel-k helm chart

helm show values camel-k/camel-k
[code]

[2022-07-10 18:25] bjethwan opened #3430 "ERROR: could not find any knative type in namespace default, last error was: the server could not find the requested resource"
Why is timer to aws-s3 kamelet based routing looking for knative?

I installed camel-k operator, and I see that "aws-s3-streaming-upload-sink" is ready.
[code]

When I created a kamelet binding, although the route/integration works fine and files are written in my S3 bucket but I get errors in camel-k operator
[code]

I got error in camel-k operator logs
[code]

I am not using knative as source or

[2022-07-11 04:32] tadayosi commented on #3183
I believe #3382 addressed the issue. Lets close it.

[2022-07-11 04:32] #3183 closed

[2022-07-11 04:46] tadayosi commented on #3428
@bjethwan The below error suggests you should do `kubectl create -f` instead of `kubectl apply -f`.

Could you try the following and see if it works?

[code]

If it works, we can just update our docs.

[2022-07-11 06:42] tadayosi opened #3431 "`make generate-doc` outputs non-deterministic `resources/traits.yaml`"
Even if there's no other code changes, when you run `make generate-doc` you'll see changes on `resources/traits.yaml`:
[code]
Ideally it should output the deterministic result so that any meaningful changes are easily traceable from the git history.

[2022-07-11 07:21] barius commented on #3422
yep, `-p` and `-t camel.properties` are interchangeable unless property expansion is involved, since the Go package `github.com/magiconair/properties` used in camel-k does some shallow parsing to `-p` properties.
Anyway this is no big issue and I can use some wrapper script to pass a property file as multiple `-t camel.properties` arguments :P

[2022-07-11 07:24] squakez commented on #3422
I was answering to:

the way to use multiple properties via trait is the one provided in the previous comment.

[2022-07-11 07:45] astefanutti commented on #3182
Fixed with #3218.

[2022-07-11 07:45] #3182 closed

[2022-07-11 08:15] christophd opened #3433 "Remove duplication of the default platform creation"
As a result of #3358 the default integration platform is automatically created during the operator startup phase. This makes the default platform generation in the platform trait obsolete.

We should remove the default platform generation in the trait in order to not cause confusion and reduce duplication

[2022-07-11 08:19] christophd opened #3434 "Use an aggregating ClusterRole to grant access to the IntegrationPlatform"
The IntegrationPlatform resource should be visible to other viewers in order to see operator ids that are already present on the cluster.

At the moment there is a special role and rolebinding created manually to allow viewer roles to see the platform. Instead we should consider to use an aggregating ClusterRole (`rbac.authorization.k8s.io/aggregate-to-view`) to grant access to the IntegrationPlat

[2022-07-11 11:59] apupier commented on #2229
When reading your summary, I understand that the Kubernetes CRDs is not designed to support the use case of Flow for Camel K. So what about not allowing it?

Given that the Camel runtime is not tied to the Camel K CRD version (point 3), it sounds a good practice to decouple it too. or to be able to specify the version at the flow level so that it can pick the right schema and runtime version? (but

[2022-07-11 15:29] #2177 closed

[2022-07-11 15:29] #3164 closed

[2022-07-12 07:52] #3431 closed

[2022-07-12 08:44] SubhasmitaSw commented on #3134
/lifecycle frozen

[2022-07-12 08:49] tadayosi commented on #3134
@SubhasmitaSw Do you mean `status/never-stale`?

[2022-07-12 09:04] SubhasmitaSw commented on #3134
@tadayosi yes

[2022-07-12 13:54] Mohid-A opened #3441 "CPU Spikes on Openshift with unusual operator behaviour"
Hi Community,

We are running into an issue when the camel-k operator restarts when we have more than four integrations running on OCP(version mentioned below). Upon restart, the operator keeps on reconciling the integrations continuously which causes CPU spikes on the master node, also resulting in the latency on the kube-api server. The logs for the issue is mentioned below,

**VERSION**

Camel-

[2022-07-12 14:04] heiko-braun commented on #3441
@christophd Have you encountered this before?

[2022-07-12 14:59] squakez commented on #3441
Thanks for reporting the problem. I managed to replicate the issue on a local environment as well. Strangely this happens whenever there are more than a few integrations running (I tried with 5). If you stop the operator pod, as soon as it restarts, it tries reconciling all the running integrations for a few seconds repeatedly. In my case it stops after less than a minute, but it is worth to inves

[2022-07-12 15:48] Mohid-A commented on #3441
For us, we noticed when the operator pod restarts the reconciling does not stop, the only fix is we had to delete the running integrations and bring the count to 4 to stop this operator behavior

[2022-07-12 19:19] michaeljmcd opened #3442 "Unable to run an integration on Minikube"
I created a Minikube cluster with the registry and olm addons and then follow the steps outlined below.

[code]

No events get added to the integration and no Camel pods are added to the namespace. Versions of the clients are listed below and this is all on MacOS 12.4.

[code]

The registry created by Minikube works, as I can push custom images to it as described https://minikube.sigs.k8s.io/docs/

[2022-07-13 03:53] tadayosi commented on #3442
Hi, there is one more important step left to run your integration. It is:
[code]

[2022-07-13 07:14] squakez commented on #3425
It seems the registry points to docker. In order to change that, you can edit the IntegrationPlatform or install it from scratch to point to your local registry. The operation is described in https://camel.apache.org/camel-k/1.9.x/contributing/local-development.html#local-minikube

[2022-07-13 07:52] tadayosi commented on #3412
Is this something like this that is relevant to the issue?
https://github.com/apache/camel-k/blob/main/pkg/controller/integration/monitor.go#L218

[2022-07-13 08:21] astefanutti commented on #3441
If I understand the issue correctly, it is two folds:

**1. All the Integration resources are reconciled upon the operator startup:**

This is the standard operator behavior, i.e., all the managed resources are reconciled once, so any changes to their state, that could have occurred while the operator was down, are taken into account, and the system can achieve eventual consistency.
That indeed ma

[2022-07-13 08:24] squakez commented on #3412
Thanks @tadayosi. I am not sure what is the expected behavior. I mean, I'm assuming that a failing IntegrationKit build will take care to turn the Integration which owns it as errored as well but I don't know where it used to happen. There were several refactoring in the past, so, likely we missed something. Also we need to introduce an E2E test to take care of this situation and avoid any future

[2022-07-13 10:38] squakez commented on #3359
I had a look at this. I did not manage to replicate the issue. Actually it happens that when we do a `kamel rebuild` after a Camel K operator upgrade, the Integration.Status is wiped and a new IntegrationKit build is triggered as well (as the new operator version dependencies are different from the old ones). Which is the method we're using in the E2E tests to ask for a rebuild after an upgrade is

[2022-07-13 10:43] squakez commented on #3341
The `kamel rebuild` should need no special permissions as it take care to clean `.integration.status`. If you can access the Integrations, then it would be enough. About this issue, I was having a deeper look at the `rebuild` and the original scope of this command was to rebuild an Integration after an operator upgrade. I've tested it and it seems it works as expected. The usage of SNAPSHOT depend

[2022-07-13 10:43] #3341 closed

[2022-07-13 10:44] squakez commented on #3321
Fixed by https://github.com/apache/camel-k/pull/3343

[2022-07-13 10:50] squakez opened #3445 "`kamel rebuild` default should not rebuild all Integrations"
I think it is a bit dangerous to leave `kamel rebuild` default behavior to take in account all Integrations. We should instead have a default that will ask for more parameter (ie, the Integration name or a `--all` flag which updates all Integrations).

[2022-07-13 10:52] phantomjinx commented on #3359
This is where the olm upgrade tests starts the upgrade -> https://github.com/apache/camel-k/blob/main/e2e/namespace/upgrade/olm_upgrade_test.go#L120

[2022-07-13 10:53] squakez commented on #3294
It does not happen upgrading from `1.9` to `1.10`(nightly). Probably it was fixed by other developments.

[2022-07-13 10:55] #3293 closed

[2022-07-13 10:57] squakez commented on #3396
Closing as answered. Feel free to reach out for more info.

[2022-07-13 10:57] #3396 closed

[2022-07-13 11:08] squakez commented on #3347
Just tested this successfully. I've created an Integration with a modeline configmap, and run it, having:
[code]
In parallel I've changed the content of the configmap, and, as expected, the Integration won't automatically pick those new values (no hot deploy on configmap changes). However, stopping and restarting the application, triggered the change as expected:
[code]

The `Pod` spec should be e

[2022-07-13 11:08] #3347 closed

[2022-07-13 11:39] michaeljmcd commented on #3442
My bad, that's a bit of a documentation fail. Yes, I ran `kamel run Example.java` before `describe integrations`. The describe command did return the object (which wouldn't have been the case if `run` had been omitted entirely) but never one that progressed to actually running.

[2022-07-13 12:12] tadayosi commented on #3442
@michaeljmcd Ah ok, then if you chose `kamel install --global` method, run the following command in your namespace before creating an integration:
[code]

[2022-07-13 12:53] astefanutti commented on #3412
@squakez as you pointed it out, the integration phase is set to error when the kit fails in: https://github.com/apache/camel-k/blob/37cba2f05ee3e59db3e2b8f18f88b887f15b9ac7/pkg/controller/integration/build_kit.go#L91

I suspect this works, but the integration phase gets overwritten later with: https://github.com/apache/camel-k/blob/c3b9c9be36e219b593bb395795be817171a0b431/pkg/controller/integratio

[2022-07-13 13:15] squakez commented on #3424
We always need a JDK/JRE based container as at the end of the day we run a Camel application, so a buildpack style approach would be limited. Probably we can simply detect if an application has some java source (in which case we use the JDK), otherwise we can use a JRE image.

[2022-07-13 14:21] michaeljmcd commented on #3442
So, starting fresh, I get CRD installation errors.

[code]

I'll try it again here in a bit.

[2022-07-13 15:53] michaeljmcd commented on #3442
OK, I think my previous error was an error installing OLM which I worked around by manually pulling the image first.

With the following sequence:

[code]

I get the following events:

[code]

[2022-07-14 02:00] #2213 closed

[2022-07-14 03:25] tadayosi commented on #3387
I'll take it if no one else is already working on it.

[2022-07-14 04:07] tadayosi commented on #3442
What are the events when you see the related `k describe ik` and `k describe ikb`?

[2022-07-14 08:14] christophd opened #3447 "Option `--maven-repository` on kamel run command has no effect"
Users are able to add a custom Maven repository URL on the `kamel run` command via `--maven-repository` option

Setting this option has no effect and the given Maven repository is not being added when building the IntegrationKit.

[2022-07-14 09:39] christophd opened #3449 "Raise error when dependency could not be resolved via CamelCatalog"
The Camel K operator tries to resolve dependencies for a given integration by having a look at the source code of the integration (e.g. by looking at the used Camel route URIs `from('componentA:foo').to('componentB:bar')`).

In this process the operator tries to resolve the dependency via the given CamelCatalog.

We should raise build errors when such a dependency is not resolvable with the given

[2022-07-14 10:07] squakez commented on #3449
Relates #3127

[2022-07-14 10:13] squakez commented on #3447
I've made a quick test and it works for me with kamel 1.9.2. We also have a test covering that feature: https://github.com/apache/camel-k/blob/main/e2e/global/common/build/maven_repository_test.go#L42

[2022-07-14 10:57] christophd commented on #3447
@squakez thanks for testing this. I'll double check on my side, too to confirm that this issue exists or not

[2022-07-14 11:24] #3387 closed

[2022-07-14 14:47] michaeljmcd commented on #3442
Events from `k describe ik`:

[code]

Events from `k describe ikb`:

[code]

[2022-07-15 00:23] #3147 closed

[2022-07-15 15:09] SubhasmitaSw opened #3453 "`make generate-crd` error"
Ref [gnu-sed failing](https://github.com/apache/camel-k/pull/3427#issuecomment-1182903367)

gnu-sed is failing, causing the post processing steps to abort returning an error like:

[code]

System: Mac OSX

Probable reason: BSD/macOS sed requires an actual newline character to follow `a\`, before the text to append

[2022-07-16 03:46] #3298 closed

[2022-07-17 00:20] #3146 closed

[2022-07-18 06:57] Hades-888 opened #3455 "Option ```--registry-insecure false``` takes no effect when using local dependencies ```-d file:///path/xxx.jar```"
Hi Community,

We are running into an issue when using local dependencies option ```-d file:///path/xxx.jar```  in ```--registry-insecure false``` mode on k8s, but it still logs ```(insecure=true)``` during pushing image and throws an error of unexpected status code 503 Service Unavailable. The same task works fine without using local dependencies.

**VERSION**

Camel K Client 1.9.2

**Command to

[2022-07-18 07:49] squakez commented on #3455
FYI @johnpoth

[2022-07-18 08:48] johnpoth commented on #3455
Hi @Hades-888, thanks for the feedback!

The insecure option should be taken from the platform CR (default name `camel-k`) Do you mind double checking the insecure option is correctly set by running something like:

`kubectl get integrationplatform camel-k -o=jsonpath='{.spec.build.registry.insecure}' -n xxx`

Thanks !

[2022-07-18 09:31] Hades-888 commented on #3455
@johnpoth ，thank you very much for your reply!

I had a query as you said，```--registry-insecure false``` seems to have no effect

<img width="638" alt="always-treu" src="https://user-images.githubusercontent.com/97818949/179483528-90c92f48-542a-4715-ad98-88f5c7a3aec5.png">

[2022-07-18 10:26] johnpoth commented on #3455
Hi @Hades-888 ,

It seems the command line parsing library [viper](https://github.com/spf13/viper) we use will set boolean flags to `true` if present regardless of the value passed... so `--boolean-flag-name false` will get set to true... may worth documenting if this works as intended.

In the meantime your can just omit `--registry-insecure false` when installing camel-k. It should be set to it'

[2022-07-18 10:56] squakez commented on #3455
I think that's the way we parse the boolean flags. Could you try `--registry-insecure=false`?

[2022-07-18 11:12] johnpoth commented on #3455
Ah yes it seems that way :+1:

[2022-07-18 11:18] Hades-888 commented on #3455
@squakez tried, it seems return null after set ```--registry-insecure=false```
<img width="551" alt="null" src="https://user-images.githubusercontent.com/97818949/179500387-caa4fe4a-168b-4396-b2a0-9a214a95951b.png">

[2022-07-18 20:14] MotaOcimar opened #3456 "`camel-k-operator` pod in `CrashLoopBackOff`"
I'm following the [documentation procedure](https://camel.apache.org/camel-k/1.9.x/installation/installation.html#procedure) and [enabling the registration add-on in minikube](https://camel.apache.org/camel-k/1.9.x/installation/platform/minikube.html).

So I'm running
[code]

to start the cluster and install Camel K into it.

But when I run `kubectl get pod` I get `CrashLoopBackOff` as the `camel-

[2022-07-19 00:23] #3145 closed

[2022-07-19 03:04] barius commented on #3422
yes, I have tried again and multiple -t camel.properties= is now OK.
Now I use a wrapper script to expand a properties file into several `-t camel.properties=` args and it's ok.
Shall we close this issue?

[2022-07-19 04:27] tadayosi commented on #3381
@christophd @squakez Knatvie v1.2.0 (the version we use now) is very old already. At least Knative v1.3.0 still uses K8s API v0.22.5, so we should upgrade to v1.3.0 before releasing Camel K 1.10.0.

[2022-07-19 07:07] #3422 closed

[2022-07-19 07:10] squakez commented on #3381
I'd even consider moving k8s api forward. However I don't know which is the impact there. @astefanutti may add his opinion about that. But yes, we can move a little step forward for Knative and evaluate in parallel what it does take to move forward k8s dependencies (maybe for 1.11?).

[2022-07-19 07:36] squakez commented on #3456
We must understand why it is failing. Can you run:
[code]
we may see the reason of the failure. If the pod manages to start and it is some application failure, it could be interesting looking at the crashed pod log via:
[code]
Please, report the output here and we'll try to help.

[2022-07-19 08:09] oscerd opened #3458 "Declaring multiple traits in KameletBinding fails badly"
If you try something like:

[code]

This will fail with:

`{"level":"error","ts":1658164253.419387,"logger":"controller.integration-controller","msg":"Reconciler error","reconciler group":"camel.apache.org","reconciler kind":"Integration","name":"test","namespace":"default","error":"error executing post actions: error during apply resource: default/test: failed to create typed patch object (defaul

[2022-07-19 09:18] squakez commented on #3458
Yeah, I think the problem is the declaration, as the format expected may be this one:

from https://camel.apache.org/camel-k/1.9.x/kamelets/kamelets-user.html#_trait_via_annotations

please, try that and let us know how it goes.

[2022-07-19 09:54] oscerd commented on #3458
If I go with

[code]

This will fail with

`error validating data: [ValidationError(KameletBinding.metadata.annotations.trait.camel.apache.org/builder.properties): invalid type for io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta_v2.annotations: got "array", expected "string", ValidationError(KameletBinding.metadata.annotations.trait.camel.apache.org/camel.properties): invalid type for io.k8s.apima

[2022-07-19 09:58] oscerd commented on #3458
Ok, it needs to be escaped. Let's see if it works or not.

[2022-07-19 10:00] oscerd commented on #3458
Same error
`{"level":"error","ts":1658224752.5068548,"logger":"controller.integration-controller","msg":"Reconciler error","reconciler group":"camel.apache.org","reconciler kind":"Integration","name":"daje-101","namespace":"default","error":"error executing post actions: error during apply resource: default/daje-101: failed to create typed patch object (default/daje-101; apps/v1, Kind=Deployment):

[2022-07-19 10:02] squakez commented on #3458
Marking it as a bug, it may be an issue in the camel trait as I see it tries to mount several times the same volume.

[2022-07-19 10:11] milank78git opened #3459 "Camel-K initContainer"
Please help me.
I need to add an initContainer during the build that pull password from external systems.
Example I have service with ldap setting where ldap password pull from another system

[2022-07-19 10:22] oscerd commented on #3458
It's not really critical at this time, but supporting vault for loading properties, means being able to essentially inject either camel properties or env variables and adding the camel component JAR for the vaults used.. I think this should be possible in all the way we are offering and for the moment it seems to be working only through Kamel run.

[2022-07-19 13:11] MotaOcimar commented on #3456
`kubectl get events` gave me the following:

[code]

Running `kubectl logs [podname] -p` I get

[code]

Formatting the stacktrace we get:

[code]

[2022-07-19 14:26] squakez commented on #3456
Thanks. You've hit #3348. Please, follow that issue where some workaround is described. The main root cause will eventually get fixed on some dependency upgrade.

[2022-07-19 18:09] MotaOcimar commented on #3456
Thanks!
Using the hyperv driver instead of docker worked for me.
Closing this issue in favor of #3348

[2022-07-19 18:09] #3456 closed

[2022-07-20 04:55] tadayosi commented on #3459
If I'm not mistaken, it's not possible right now. It sounds like a good enhancement candidate for the container trait though:
https://camel.apache.org/camel-k/next/traits/container.html

[2022-07-20 08:19] tadayosi commented on #3413
Already fixed.

[2022-07-20 08:19] #3413 closed

[2022-07-20 10:12] milank78git commented on #3459
Great. And in terms of time ?

[2022-07-20 11:09] tadayosi opened #3465 "`install-it` workflow is failing silently"
We've seen the `install-it` workflow running green on pull reqs, but I noticed that it's actually been false negative.
Focus the `Execute Tests` step and search the keyword `fail:` on the following workflow run:
https://github.com/apache/camel-k/runs/7419972424?check_suite_focus=true
Even though it passed green, actually it has 8 silent failures in it.

![install-it-failures](https://user-images.g

[2022-07-20 11:10] tadayosi commented on #3465
@phantomjinx Could you have a look?

[2022-07-21 05:02] tadayosi commented on #3258
Should be fixed already.

[2022-07-21 05:02] #3258 closed

[2022-07-21 05:04] tadayosi commented on #3191
Now we have `main` and `1.9.x` branches green (except `openshift`) we can close this.

[2022-07-21 05:04] #3191 closed

[2022-07-21 05:53] tadayosi commented on #3205
@Gre8t Since it's been inactive for long time, let me take it over.

[2022-07-21 05:55] tadayosi commented on #3246
Should be fixed already.

[2022-07-21 05:55] #3246 closed

[2022-07-21 06:05] tadayosi commented on #3291
@davsclaus @squakez I recently fixed the discrepancy issue between `kamel run -d` and `kamel local run -d` #2213, and now both commands support both `camel-amqp` and `camel:amqp` notations. And as Pasquale said internally `camel-xxx` is converted to `camel:xxx` on an Integration's status.

So, the question is which notation do we prefer as the standard notation for dependencies in the docs?  `came

[2022-07-21 06:18] tadayosi commented on #3120
Since it's become stable in release-1.9.x and main let's close this.

[2022-07-21 06:18] #3120 closed

[2022-07-21 07:05] christophd commented on #2883
This one has been solved with #3358

[2022-07-21 07:07] squakez commented on #3004
@parul5sahoo are you still working on this? If not, I will remove the assignment, so that anybody else interested can work on it.

[2022-07-21 07:11] squakez commented on #3291
I like it more `camel:xxx` as we also have `mvn:yyy` approach. I think we need to harmonize the way we reference camel components/dependencies and use always the same way. However, if we decide to drop `camel-xxx` approach, we'll need a period of deprecation.

[2022-07-21 07:17] tadayosi commented on #3459
No plan yet. Contribution is always welcome.

[2022-07-21 07:21] #2883 closed

[2022-07-21 08:51] parul5sahoo commented on #3004
Hey @squakez, I haven't got a chance to look at it.  Won't be able to work on it currently.

[2022-07-21 09:02] squakez commented on #3004
No problem, thanks for letting me know.

[2022-07-21 10:44] squakez opened #3472 "`kamel operator` does not work locally"
The [local camel k operator debugging procedure](https://camel.apache.org/camel-k/next/contributing/local-development.html) is not working any longer. The operator starts correctly but it is not able to run any Integration. I've tried setting `KAMEL_OPERATOR_ID` env variable but no luck.

I think it relates the changes introduced in https://github.com/apache/camel-k/pull/3358.

[2022-07-21 10:44] squakez commented on #3472
@christophd do you mind having a look? is there any quick workaround?

[2022-07-21 10:59] christophd commented on #3472
yes I have a look. What happens if you run the integration? is it being reconciled by the operator? also do you have a WATCH_NAMESPACE env set for the local operator? do you have any other global operator running on that environment?

[2022-07-21 11:07] squakez commented on #3472
I've set the WATCH_NAMESPACE. The integration complains that an IntegrationPlatform is not found (even if I had to create on that namespace to override the registry setting).

[2022-07-21 13:09] mathianasj commented on #3297
i am seeing this issue as well

[2022-07-21 13:19] christophd commented on #3297
could you please do a `kubectl get integrationplatform camel-k -o yaml` for both the manual created ip and the automatically created ip. This will print the custom resource and we can see any difference that makes the one succeed while the other fails

[2022-07-21 13:38] squakez opened #3473 "`kamel uninstall` should also delete leases"
I've uninstalled everything but I can still see leases around that won't let me install again an operator due to `installation not allowed because operator with id 'camel-k-missing-deps' already exists, use the --force option to skip this check`

[2022-07-21 13:38] squakez commented on #3473
fyi @christophd

[2022-07-21 14:00] squakez opened #3474 "`make images` is not building the binary"
For some reason, the `make images` is not building the project, only testing it. That means that running it will take the binary previously built. We must include the build as part of the procedure.

[2022-07-21 14:30] mmajerni opened #3475 "Integration cannot be run from github with different branch"
Running integration from GitHub should work as:
`kamel run github:$user/$repo/$path?branch=$branch`
Command:
`kamel run github:apache/camel-k/e2e/common/files/Java.java?branch=release-1.8.x`
is not working and it returns an error:
`Error: cannot read sources: cannot process file github:apache/camel-k/e2e/common/files/Java.java?branch=release-1.8.x: unsupported file type github:apache/camel-k/e2e/c

[2022-07-21 19:30] michaeljmcd commented on #3442
Continuing the experiment, if I run the registry:

[code]

A successful image push:

[code]

And a failed pod initialization:

[code]

The error appears to be that the insecure registry setting is being respected by the push but not the pull.

[2022-07-21 23:10] mathianasj commented on #3297
I figured out the problem I missed in the documentation that if installed on openshift I did not create an IP once I removed it everything started working.

[2022-07-22 06:00] tadayosi opened #3476 "[E2E] Add tests for enabling traits at IntegrationPlatform"
As a follow-up to #3205, there's no test coverage that verifies Integration runs when traits are enabled at IntegrationPlatform like this:
[code]
Unlike when enabled at Integration, these tests can make sure the traits don't crash during kit building as when they are enabled at IntegrationPlatform they are also forced to be enabled during kit building while an integration is still absent.

[2022-07-22 06:21] tadayosi commented on #3475
@mmajerni Running on a GH branch should rather be like this:
[code]
See the e2e tests for more details:
https://github.com/apache/camel-k/blob/release-1.9.x/e2e/common/cli/run_test.go#L43

Is there anywhere that tells `?branch=release-1.8.x` should work?

[2022-07-22 06:26] tadayosi commented on #3475
OK, I tried that but doesn't work as well:
[code]
Definitely there's something wrong with it.

[2022-07-22 06:36] tadayosi commented on #3475
Looks like that test is silently failing, that's why we haven't noticed it. Related #3465

[2022-07-22 07:05] christophd commented on #3447
ok I can confirm that `--maven-repository` option is working for the run command.

my issue was related to the initial CamelCatalog build that is done by the operator when running a first integration. the run command option is not passed to this initial build so it was failing because of the missing maven repository, too.

the initial build needs the repository set during kamel install as a `--mav

[2022-07-22 07:14] #3447 closed

[2022-07-22 08:07] mmajerni commented on #3475
Hi @tadayosi, I updated that test: https://github.com/apache/camel-k/pull/3438/files#diff-d618db0cd5368f9f7428e20a95fd07e6b62a1abd375a331ca74914dc10103821L43
Before, the main branch was used so it worked. I added the branch but it is not working as you mentioned.

Docs describe that if you want to specify a branch you need to specify the branch as a query parameter:
https://camel.apache.org/camel-

[2022-07-24 10:50] lburgazzoli opened #3479 "camel-k ignores changes to traits configured using annotations"
Assuming that you have a binding like the one below were annotations are used to configure traits:

[code]

In this specific case as example, the container image that must be used to run the Integration is set set using the  `trait.camel.apache.org/container.image: acme/bad:1` annotation.
If you update the resource and you change only the container image, then the reconcile loop is not triggered b

[2022-07-24 13:10] MeranaTona opened #3481 "Camel version mismatch"
Hi all,

the most recent Camel K 1.8.x release [https://github.com/apache/camel-k/releases/tag/v1.8.2](url) references Camel 3.14.1. Meanwhile, new patches were released for Camel 3.14 https://github.com/apache/camel/releases/tag/camel-3.14.4. Which should add to a more stable experience.

Is it possible to use the most recent patch version of Camel 3.14 together with Camel K 1.18.2?

Greetings

[2022-07-25 02:32] tadayosi commented on #3291
Then we can choose `camel:xxx` as the standard, preferred notation and use them throughout the docs and examples. I'll mark `camel-xxx` as deprecated whereever appropriate and remove the usages from the docs.

[2022-07-25 02:35] tadayosi commented on #3176
Let's mark this as never-stale.

[2022-07-25 05:13] davsclaus commented on #3291
I think 90% of end users would type `camel-xxx` as its the name of the JAR file, using `camel:xxx` can be hard on the eye to notice that using a colon instead of dash.

I would support both notations, but harmonize the docs as suggested here in the PR

[2022-07-25 17:38] sybernatus opened #3483 "Kamel install error on Kind"
I have an error installing camel-k on a local kind cluster.

I just follow the [official documentation](https://camel.apache.org/camel-k/1.9.x/installation/platform/kind.html).

[code]

The operator installs the pod on the cluster but its failed to start with the follwing error

[code]

I have the same error on Minikube as well.
Seems to be the same issue as https://github.com/apache/camel-k/issue

[2022-07-25 17:59] sybernatus commented on #3483
My kind version was 0.11.1, upgraded it to 0.14.0 it seems to work.

Closing the issue :smile_cat:

[2022-07-25 17:59] #3483 closed

[2022-07-26 02:27] #3291 closed

[2022-07-26 08:05] squakez commented on #3479
Duplicate of #2648

[2022-07-26 08:08] squakez commented on #3481
We're about to release 1.10. I am not sure we will dedicate attention to 1.8, unless some important critical issue arises.

[2022-07-26 08:10] tadayosi commented on #3479
Btw, while I'm not sure if it's directly related to the issue, I find another bug with kameletbindings with traits, where the traits defined on a kameletbinding is always wiped out. It's being fixed with this pull req: https://github.com/apache/camel-k/pull/3478

Specifically, this is what I try to fix there: https://github.com/apache/camel-k/pull/3478/commits/127460a288e415b3d8e60d4a758b6d6726ed1

[2022-07-26 08:19] squakez commented on #3412
I've gone deep in this and found the responsible is this check here: https://github.com/apache/camel-k/blob/132dcebd1af7457f2952e14435e887061f45d720/pkg/controller/integration/kits.go#L117-L121 Basically we never found a match when the integrationkit has failed, resulting in the issue described. Unfortunately the method is used in other places, so I will need to find a way to solve it.

[2022-07-26 08:22] tadayosi commented on #3481
Maybe we could release camel-k-runtime more frequently, at least with the camel-quarkus versions based on the Camel LTS versions. Then users could choose Camel versions with `-t camel.runtime-version=`.

[2022-07-26 12:55] #3412 closed

[2022-07-26 14:11] squakez commented on #3458
It seems the problem is happening when there is both a `camel.properties` trait enabled and a Kamelet property configured. Probably we're trying to mount twice the same `user.properties` instead of merging them into one unique (or 2 property file with different name).

[2022-07-26 14:12] #3474 closed

[2022-07-27 01:25] #3465 closed

[2022-07-27 01:25] #3475 closed

[2022-07-27 01:38] tadayosi commented on #3442
Hi,

Sorry, my bad. When you installed operator with `kamel install --global` you shouldn't need to run the following. My previous instruction was wrong.
[code]
What happens if you do the same steps above but without `kamel install --skip-operator-setup`?  Does it go back to the original issue?

[2022-07-27 02:09] tadayosi commented on #3234
With recent efforts including #3478 E2E has become more stable now. We can check again if those listed above are still flaky or improved already.

[2022-07-27 07:12] squakez opened #3492 "Release nightly fails"
[code]
Probably after #3488

[2022-07-27 07:13] squakez commented on #3133
Issue no longer needed after recent multi operator refactoring.

[2022-07-27 07:13] #3133 closed

[2022-07-27 09:29] tadayosi commented on #3307
Since it's already well documented, let's close it. Error messages can be polished at #3028.

[2022-07-27 09:29] #3307 closed

[2022-07-27 09:31] tadayosi commented on #3028
See https://github.com/apache/camel-k/issues/3307 for capturing an use case to be improved.

[2022-07-27 09:33] tadayosi commented on #3028
@cornelia247 Do you still plan to work on this?  Since it's been inactive for long time, if you don't plan to work on any longer I'll clear the assignment.

[2022-07-27 12:57] ruromero opened #3494 "Trait owner.target-annotations is not propagated to K8S Services"
When using the Owner Trait to propagate annotations to the owned resources, such annotations are not propagated to the Kubernetes Services.

[code]

The deployment shows the annotation but the service doesn't.

Is this the expected behaviour?

[2022-07-27 12:57] ruromero commented on #3494
fyi @squakez

[2022-07-27 13:32] squakez commented on #3494
It seems the `Service` is annotated correctly. I've just tested with an example as:
[code]

[2022-07-27 15:34] ruromero commented on #3494
@squakez it seems I didn't define the integration resource properly. Yes it is working, sorry for the false alarm :sweat_smile:

[2022-07-27 15:36] ruromero commented on #3494
Here is an example of the CRD definition, for reference

[code]

[2022-07-28 10:43] MeranaTona commented on #3481
Hi all,

thanks for your replies.

I think critical issues are relative, because they depend on the use case. E.g. if you want use a feature that should work but is actually bugged, in production environments you will often not be able to to upgrade the version. Thus, your use case is in danger or completely dead.

A total of 45 bug reports have been solved in the meanwhile: https://camel.apache.o

[2022-07-28 14:44] anerathil commented on #3408
Hey, you could disable the injection of the Istio sidecar:

- by trait: https://camel.apache.org/camel-k/1.9.x/traits/istio.html
- exclude pods with the matching builder label in Istio configuration (neverInjectSelector afaik)

If you want to keep the injection I think you can I think you can also configure Istio to enforce waiting for the sidecar eg. by using [holdApplicationUntilProxyStarts](htt

[2022-07-29 03:14] tadayosi commented on #1070
Right now Service trait only has `NodePort` bool flag but we should introduce a new property `Type` that accepts `ClusterIP`, `NodePort`, and `LoadBalancer` and deprecate the `NodePort` bool flag.

[2022-07-29 05:26] Richardmbs12 commented on #1031
Had to move to normal camel 🙁

[2022-07-29 09:11] zhiminglim commented on #3054
I believe a couple of changes has to be made to configure the --global installation parameter within the Helm Chart, including updating the env variables in the deployment spec, as well as deploying ClusterRole and ClusterRoleBinding instead of the default Role and RoleBinding.

Do comment if there are additional points to note.

I may make a PR for submission as my team wants to deploy camel k vi

[2022-07-30 00:17] #3122 closed

[2022-07-30 00:17] #516 closed

[2022-08-01 00:32] barius commented on #3408
Ok I'll give this a try, ty @anerathil  :)

[2022-08-01 10:38] lburgazzoli opened #3501 "Generic resource support in Pipe"
### Context
I did some experiments with [Crossplane](https://crossplane.io)  which allows to orchestrate resources across cloud providers by creating custom resources, as example wit the following CRs:

[code]

[code]

Will result in an SQS queue and S3 bucket being created on AWS and the nice thing is that the status sub resource of those resources, reports information about the resource, as exam

[2022-08-01 10:38] lburgazzoli commented on #3501
@christophd @astefanutti @squakez @oscerd @valdar what do younthink ?

[2022-08-01 11:23] oscerd commented on #3501
It looks promising.

[2022-08-01 11:46] johnpoth commented on #3501
Probably a silly question but isn't this what the [Service Binding Operator](https://github.com/redhat-developer/service-binding-operator) was suppose to do ? Or is this just a better way of achieving binding ? Thanks!

[2022-08-01 19:27] jcordes73 opened #3503 "Passing namespace info for CXF Endpoint in Camel-K YAML DSL"
I'm trying to create an integration with a CXF Endpoint using Payload mode and the Camel-K YAML DSL and therefore need to provide namespaced service- and portname. In the Camel 2 Spring DSL this was possible because it was namespaceaware. How can this be achieved?

Right now I'm getting the following error when running the example attached (using the jbang camel extension):

camel run test.yaml --

[2022-08-02 07:06] davsclaus commented on #3503
What namespace do you want to use for `s` ?

[2022-08-02 07:08] davsclaus commented on #3503
You can try with putting the namespace directly, such as
[code]

[2022-08-02 07:14] davsclaus commented on #3503
Okay can start it up a bit more, now I have a http vs https error on cxf-jetty

[code]

[2022-08-02 07:20] davsclaus commented on #3503
This one works
[code]

And then
[code]

[2022-08-02 07:51] davsclaus commented on #3503
In the next release 3.18.1/3.19 we detect the cxf endpoint class automatic, so you then do not need to add `camel:cxf-soap` as dependency. However you need to add the CXF transports (jetty vs servlet).

[2022-08-02 07:53] davsclaus commented on #3503
I created a ticket about the CXF transport
https://issues.apache.org/jira/browse/CAMEL-18334

[2022-08-03 12:25] #3503 closed

[2022-08-04 07:40] #2256 closed

[2022-08-05 13:21] #3479 closed

[2022-08-07 00:23] #3142 closed

[2022-08-07 13:01] #3028 closed

[2022-08-08 06:49] squakez opened #3519 "Move tracing from opentracing to opentelemetry"
As Opentracing is marked as deprecated in Camel Quarkus: https://camel.apache.org/camel-quarkus/next/reference/extensions/opentracing.html

[2022-08-08 06:59] squakez commented on #3492
Fixed by #3508

[2022-08-08 06:59] #3492 closed

[2022-08-08 07:21] squakez commented on #3481
It's a valid point. I am not sure if we've already discussed how to support Camel LTS in the past. @oscerd any input on some past discussion by any chance? I had a look at the support provided by Camel Quarkus and I wonder if we should simply align to their release cadence when anything is released on an LTS based release. Thoughts are welcome.

[2022-08-08 07:30] squakez commented on #3054
@zhiminglim it would be great. Contributions are always welcome!

[2022-08-08 09:48] #3458 closed

[2022-08-08 14:17] squakez commented on #3266
I tried to reproduce this issue but did not manage to have it failing. If I deleted an intermediate image layer, the spectrum tool is able to rebuild it as far as I could see. Tested both 1.8 and 1.9. Can you please provide a step by step reproducer?

[2022-08-09 02:59] claudio4j opened #3522 "In a specific scenario a new integration pod is created every ~0.5 seconds"
Running the following integration in openshift 4.10 with openshift serverless 1.23, on a new namespace, many pods are quickly created and after just a few seconds the worker node is exhausted and it changes to a NotReady state, with hundreds of pods in either Running, Terminated, Pending state.
[code]

[2022-08-09 07:59] squakez commented on #3389
I had a look at this and I don't think it's a bug but the way it is designed the system so far (we may understand if it makes sense to change it though). Right now, if an `Integration` is in error state, then, the related `KameletBinding` is moved in error as well (tested with nightly build).

The scenario illustrated is more generic because we never set an `Integration` in error when the traits a

[2022-08-09 08:09] squakez commented on #3010
This is similar to #3389 . The problem is that we don't set an upper limit for retries in the reconciliation loop (we probably do it only for the `Build` CR), so, this is left pending until the fix is applied. I wonder if we should immediately at least report the error condition or stop reconciliation when these kind of situations happen.

[2022-08-09 08:36] squakez commented on #2648
Fixed via #3480

[2022-08-09 08:36] #2648 closed

[2022-08-09 08:38] squakez commented on #3522
Could it be related to #1826? the behavior looks suspiciously similar...

[2022-08-09 09:32] astefanutti commented on #3389
We should review how the re-queue of reconciliation events is handled by controller-runtime.

For errors, in general, we should configure the work-queue to use a rate-limited queue with an exponential failure rate limiter, cap the maximum number of retries, and eventually report the error in the custom resource status and forget the element from the queue. For functional errors, that we know won't

[2022-08-09 09:33] squakez commented on #3019
I think the problem with that route is the default value of `cron.active-deadline-seconds` property which is set to 60 seconds. That value will shutdown the route even if the workload is not complete. In order to prevent that, you need to set it to higher value. I've tested and it worked successfully in Camel K > 1.9 versions.

[2022-08-09 09:33] #3019 closed

[2022-08-09 09:57] squakez commented on #3013
Tested this again and it seems the problem is a missing removal of the operator. Ideally we should have a `kamel uninstall --global --all -n camel-k` before deleting the namespace. It seems that certain clusterrole otherwise are kept in the cluster. Always perform the `uninstall` in the same namespace where it was installed and don't rely on deleting the namespace as a way of removing the operator

[2022-08-09 09:57] #3013 closed

[2022-08-10 10:30] squakez commented on #3132
I had a look at this and the most immediate solution I can think is to have a default for `.spec.replicas` set to 1 when creating an Integration. However, I prefer keeping an empty value as this is interpreted and translated into `.status.replicas` correctly. I think the problem is more on the HPA side which should either evaluate a missing replica value as 1 or better look at the `.status.replica

[2022-08-10 13:18] christophd opened #3532 "Add route policy to wait for K_SINK injection"
This is related to #3522 where the integration pod fails right after the start because K_SINK has not been injected by Knative sink binding controller before the Camel route starts. So the Pod results in error state recovering once the K_SINK env var has been injected.

We should avoid the failure state by adding a route policy and a dedicated health check when the integration needs a K_SINK so in

[2022-08-10 13:53] squakez commented on #3399
Closed by #3401

[2022-08-10 13:53] #3399 closed

[2022-08-11 06:57] squakez opened #3536 "`golangci-lint` version `1.47.2` reports more errors"
`golangci-lint` used in github actions is now `1.47.2` version and it is reporting several issues.

[code]

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/3533#issuecomment-1211616408_

[2022-08-11 08:10] squakez commented on #3472
I managed to see that the problem is that the local operator does not understand the `camel.apache.org/operator.id: camel-k` annotation. If I remove it from both IntegrationPlatform and Integration they are reconciled correctly. We must understand how to make the local running operator to reconcile based on the annotation, as, for development purposes, having the local operator is really a must.

[2022-08-11 08:20] squakez commented on #3472
I had another try with clean environment, and, if we set the `KAMEL_OPERATOR_ID` with the name of the operator, then, the resources are reconciled. I'll update the documentation accordingly.

[2022-08-11 08:20] christophd commented on #3472
@squakez yes, I have started some investigation but got distracted by other stuff.

I also wanted to ask: In your scenario do you have another traditional operator running on the cluster? or is it only the local operator?

[2022-08-11 12:47] squakez opened #3542 "TestOperatorIDFiltering/Operators_can_handoff_scoped_integrations test failing"
Since some time the following test is no longer working.
[code]
I think it can be related to some upgraded dependency.

_Originally posted by @squakez in https://github.com/apache/camel-k/issues/3535#issuecomment-1211941523_

[2022-08-11 12:48] squakez commented on #3542
@christophd mind having a look?

[2022-08-11 12:48] #3472 closed

[2022-08-12 16:20] essobedo opened #3543 "Cannot deploy an integration using configmap/secret key filtering"
If we try to run the integration corresponding to the example proposed [in this article](https://camel.apache.org/camel-k/next/configuration/runtime-config.html#runtime-config-keys), we end up with an error of following type:

[code]

[2022-08-12 16:33] essobedo commented on #3543
The corresponding PR https://github.com/apache/camel-k/pull/3544

[2022-08-16 22:44] logabstract opened #3550 "load camel-cxf in camel-k integration"
Hello, I'm trying to use cxf in an integration but fails to run with a dependency error in the operator, I'm using explicit dependency in the timer example to demonstrate the error

[code]

The operator shows:

{"level":"error","ts":1660678825.4334397,"logger":"camel-k.maven.build","msg":"[ERROR] Some problems were encountered while processing the POMs:\n[ERROR] 'dependencies.dependency.version' f

[2022-08-18 03:41] tadayosi commented on #1630
It's still relevant. Let's reopen it.

[2022-08-18 08:36] ChrWeissDe opened #3551 "Staging of Camel-K Integration across multiple cluster"
We have the requirements in multiple projects to stage Camel-K Integraton along with their created docker image across multiple Kubernetes clusters.

Reason is that the cutsomers have got dedicated cluster for dev, test, pre-prod and prod. Further they want to avoid the rebuild of the Integrations (incl. the creation of a new docker image) on the different stages. Reason are here regulatory or own

[2022-08-18 08:37] tadayosi commented on #3536
@squakez Where do you see this?  I don't see such errors in the validate CI and also with `make lint` locally.
`exhaustruct` and `nosnakecase` should be explicitly disabled in `.golangci.yml`. Other lints such as `containedctx` and `maintidx` must have been explicitly nolinted per code. I wonder why they don't take effect.

[2022-08-18 17:00] essobedo commented on #3473
I could not reproduce but I faced an issue with the platform Kamelets that should be fixed by https://github.com/apache/camel-k/pull/3553

[2022-08-19 05:06] tadayosi commented on #3550
Yes, Camel K uses Camel Quarkus as the runtime but Camel Quarkus doesn't yet support camel-cxf. You'd need to wait for the next release.
https://github.com/apache/camel-quarkus/issues/764

[2022-08-19 05:55] tadayosi commented on #3453
I think the solution is answered, so let's close it.

[2022-08-19 05:55] #3453 closed

[2022-08-19 09:55] essobedo commented on #3445
The corresponding PR https://github.com/apache/camel-k/pull/3556

[2022-08-19 13:07] #3522 closed

[2022-08-19 15:21] logabstract commented on #3550
Ok, thanks @tadayosi I'm closing the issue

[2022-08-19 15:21] #3550 closed

[2022-08-19 16:46] essobedo commented on #3350
The corresponding PR https://github.com/apache/camel-k/pull/3558

[2022-08-22 03:20] tadayosi commented on #1092
It seems to be still relevant.

[2022-08-22 05:07] tadayosi commented on #3481
It makes sense to me that we follow the Camel Quarkus LTS release cadence and keep supporting its LTS versions as well as latest for Camel K runtime, so that users can choose which Camel LTS version to use by switching a Camel K runtime version.

Then, ideally we should run our entire E2E test suite against the supported matrix of Camel K runtime versions.

[2022-08-22 06:17] orthoxerox commented on #1721
any comment

[2022-08-22 06:44] oscerd opened #3560 "1.10.0 Release"
We need to release a new version based on Camel 3.18.0 LTS.

What are the issues you want to add as mandatory in 1.10.0? Please add the issues here, so we can track and start a release soon.

[2022-08-22 06:54] tadayosi commented on #3560
There are a few open issues that are supposed to be in 1.10.0:
https://github.com/apache/camel-k/milestone/35

I think these three issues are just waiting for a new Camel K runtime release before getting merged:
https://github.com/apache/camel-k/pull/3376
https://github.com/apache/camel-k/pull/3373
https://github.com/apache/camel-k/pull/3317
cc: @christophd @claudio4j @squakez

[2022-08-22 07:17] oscerd commented on #3560
I could start a release for camel-k-runtime and camel-kamelets

[2022-08-22 07:17] oscerd commented on #3560
So we can point to staging repository.

[2022-08-22 07:19] squakez commented on #3536
I've updated the golangci-lint to version 1.47.2 and that log in the description is the result of `make lint` execution. Can you try running the same command with that version upgraded?

[2022-08-22 07:33] tadayosi commented on #3536
Yes I ran it with golangci-lint v1.47.2. Now I upgraded it to v1.47.3 and it still passes fine. The `main` branch also passes fine with v1.47.3 now:
https://github.com/apache/camel-k/actions/runs/2901683821

[2022-08-22 07:46] tadayosi commented on #3560
Probably we should include this to 1.10.0 as well: #3552
cc: @astefanutti

[2022-08-22 07:51] squakez commented on #3536
Are you on golang version 1.17 as well? or maybe it's a matter of operating system!?

[2022-08-22 07:56] tadayosi commented on #3449
Can we assume that every available component is really provided in the Camel catalog?  For instance, `camel-quarkus-management` is not listed in the Camel catalog 1.13.0. I'm concerned that if we throw errors and reject building it if a dependency is not listed in the catalog we might end up rejecting some projects that are in fact valid in terms of dependencies.

[2022-08-22 08:10] tadayosi commented on #3536
Yes, I'm using Go version 1.17.10. I use Linux (Fedora 36) and CI is Ubuntu 20.04 so perhaps it's an issue specific to macOS?

[2022-08-22 08:33] squakez commented on #3536
I'm not on a Mac either :)

[2022-08-22 08:34] squakez commented on #3449
I think it should not be related to dependencies but as mentioned in #3127 to capabilities/components.

[2022-08-22 08:46] tadayosi commented on #3536
Hmm, what's the exact command you've run?  Just `make lint`?

[2022-08-22 09:54] squakez commented on #3536
Yes, that one.

[2022-08-22 10:14] oscerd commented on #3560
https://github.com/apache/camel-k/pull/3561

For alignment

[2022-08-22 10:52] #3381 closed

[2022-08-23 03:28] #3543 closed

[2022-08-23 03:31] tadayosi opened #3563 "Add E2E test for deploying an integration using configmap/secret key filtering"
Follow-up on #3543 #3544.

Could you please add test runs with key filtering scenarios after the following ones for both configmap and secret? https://github.com/apache/camel-k/blob/main/e2e/global/common/config/config_test.go#L84
https://github.com/apache/camel-k/blob/main/e2e/global/common/config/config_test.go#L143

[2022-08-23 08:04] #3228 closed

[2022-08-24 04:46] oscerd commented on #3560
I'm releasing again camel-k-runtime as staging repository because of https://github.com/apache/camel-k-runtime/commit/857ec9add818bc3f03b133fe71a441429c605520

[2022-08-24 12:24] oscerd commented on #3560
What's the general situation for releasing?

[2022-08-24 12:27] christophd commented on #3560
https://github.com/apache/camel-k/pull/3376 is ready to be merged IMO

[2022-08-24 12:35] oscerd commented on #3560
#3376 Merged.

[2022-08-24 12:45] oscerd commented on #3560
I think it is failing also because the staging repository is not updated on that branch.

[2022-08-24 13:23] squakez commented on #3560
#3317 has several tests failing. I'm having a look to understand why this is happening.

[2022-08-24 13:38] squakez commented on #3560
I noticed they are all the same errors happening on the `main` branch. In particular I can see:
[code]
I think we either merge everything and solve on `main` or we solve on `main`, then rebase every pending PR and see each result. I'd go with the second approach which look safer.

[2022-08-24 13:40] squakez commented on #3560
Relates https://github.com/quarkusio/quarkus/issues/27085

[2022-08-24 14:06] claudio4j commented on #3560
#3373 fails are timeouts.

[2022-08-25 00:22] #3252 closed

[2022-08-25 04:20] tadayosi commented on #3560
I've pushed remaining ones to 1.11.0 milestone. Now it's only #3373 that we are waiting to be merged.
https://github.com/apache/camel-k/milestone/35

[2022-08-25 04:30] tadayosi commented on #3441
I mistakenly put it to 1.11.0. Moving it back to 1.10.0 as it can be closed once we release 1.10.0.

[2022-08-25 06:47] oscerd commented on #3560
I re-released camel-k-runtime and updated the staging repo in main branch. We just need to wait for #3373

[2022-08-25 06:57] tadayosi commented on #3449
@christophd @squakez BTW, I noticed that if we implement this strict guard on components using catalog, users won't be able to use custom components or renaming of existing components unless we provide a way for the users to extend the catalog. Do we support such use cases right now?

[2022-08-25 07:12] squakez commented on #3449
I am not sure we do allow any extension, as everything should be present in Camel Quarkus as well. @astefanutti do you recall if we had any extension mechanism in place?

[2022-08-25 08:14] squakez opened #3572 "Run E2E test before nightly releases"
With nightly releases we're providing a good feedback channel to understand the status of our development in a CI fashion. We should run a set of E2E tests as a preliminary action so we're making sure we're not releasing anything broken (even if nightly releases are unsupported).

[2022-08-25 08:25] squakez commented on #3572
With this new feature, we're also preventing to release a broken nightly which would override a working nightly (as they are replaced every time).

[2022-08-25 08:42] tadayosi commented on #3572
Note that some E2E tests are still flaky, especially those with native build. Sometimes we would miss a nightly build just because there's a flaky test, but if it's acceptable then it's good to go.

[2022-08-25 08:43] squakez commented on #3572
A good reason to make them stable! ;)

[2022-08-25 09:36] squakez commented on #3560
Listing here the tests I can see are still failing:
- [ ] All test local
- [ ] --- FAIL: TestKitKnativeFullBuild (613.55s)
- [ ] --- FAIL: TestOperatorUpgrade (286.91s)
- [ ] [test-kamelet-cc3hvcg61tss6ro81ao0-98r28 test-1] INFO	|  Kamelets templates can use beans ............................... FAILED
- [ ] [test-kamelet-no-props-cc3i7lo61tss6ro81arg-7bp28 test-1] INFO	|  Bind Kamelet to service

[2022-08-25 09:37] squakez commented on #3560
Local testing are failing because the E2E is not using the staging repo. I'm working to see if it is easy to include it when present in the Makefile.

[2022-08-25 09:55] squakez commented on #3560
Knative tests seems to be resolved in https://github.com/apache/camel-k/runs/8011632479?check_suite_focus=true

[2022-08-25 10:12] squakez commented on #3560
I've just verified that the common is still failing as the runtime still uses the bugged quarkus dependency (ie, `dependencies/lib/main/org.apache.camel.quarkus.camel-quarkus-js-dsl-2.11.0.jar`). I am checking why this is happening.

[2022-08-25 10:46] christophd commented on #3560
I have had a look at the YAKS E2E tests and optimized with using a global operator: #3573
This also seemed to stabilize the tests

[2022-08-25 11:32] brunoNetId opened #3575 "How to run a Camel process as a cron job (other than a timer)"
With the following use case as an example:
 - process the daily Kafka messages produced in a topic

How could we run a Cron job with Camel K that connects to Kafka, consumes the latest messages, and shuts down when no more messages are available (e.g. setting a timeout).

I've created a proposed example (attached) where I use an aggregator with a timeout. When the aggregator completes, let's say w

[2022-08-25 11:34] brunoNetId opened #3576 "How to run a Camel process as a cron job (other than a timer)"
With the following use case as an example:
 - process the daily Kafka messages produced in a topic

How could we run a Cron job with Camel K that connects to Kafka, consumes the latest messages, and shuts down when no more messages are available (e.g. setting a timeout).

I've created a proposed example (attached) where I use an aggregator with a timeout. When the aggregator completes, let's say w

[2022-08-25 11:40] christophd commented on #3576
there is a cron trait that may be useful for this: https://camel.apache.org/camel-k/1.9.x/traits/cron.html

[2022-08-25 11:43] brunoNetId commented on #3576
Yes... unfortunately, the trait seems limited and not able to cover the proposed use case.

[2022-08-25 11:48] lburgazzoli commented on #3576
The issue with the cron trait for this particular case is that the camel context is stopped after the first exchange completes, however if an aggregation policy is defined, then the cron would kill the pod before the aggregator completes.

We should probably enhance the [shutdown strategy](https://github.com/apache/camel-k-runtime/blob/main/camel-k-cron/impl/src/main/java/org/apache/camel/k/cron/C

[2022-08-25 12:09] davsclaus commented on #3576
You can use the camel.main.durationXXX options where you can say that if Camel is idle after 30 seconds (then terminate). You can then use from kafka in the route, that would then drain the topic until there are no more messages. Then Camel becomes idle and after X period it terminates itself.

And use the cron trait to make it run once per day or what schedule you need.

[2022-08-25 12:17] MeranaTona opened #3577 "Base Image is pulled via http instead of https"
Hi all,

I installed Camel K in an air gapped env via Helm and set a custom base image via the values.yaml by adding a local docker registry address at the beginning of the image name:

[code]

Unfortunately once I try to run a simple test route, the Camel K operator logs that it tried to pull the image via http but the registry requires https:

[code]

I dont understand why the base image request

[2022-08-25 12:40] squakez commented on #3575
Duplicated in #3576

[2022-08-25 12:40] #3575 closed

[2022-08-25 12:48] brunoNetId commented on #3576
As per @lburgazzoli, the problem there is that all Camel exchanges may have terminated, but not the aggregator... Camel may think it is idle, but it is actually not, the aggregator is still ongoing.

Another problem is that currently the cron trait only works with timer and passive components... not if a kafka consumer is defined (I think)

[2022-08-25 15:10] MeranaTona commented on #3577
It got fixed by replacing the IP with an URL. E.g.:
`baseImage: docker-registry-address/adoptopenjdk/openjdk11:slim`

[2022-08-25 15:10] #3577 closed

[2022-08-26 14:20] squakez commented on #3560
I finally manage to workaround the latest standing issue in the common check. Hopefully once this got staged, we should have a green flag to go :)

[2022-08-26 14:27] claudio4j commented on #3425
You can cache the openjdk11 image in podman and push it to your registry
[code]

Then you can install camel-k and set the base-image
[code]

[2022-08-26 14:28] claudio4j commented on #3425
@squakez can this be closed, since it's not an issue in the code ?
@bjethwan there is a [camel-k zulip chat](https://camel.zulipchat.com) if you would like a more interactive way to ask questions.

[2022-08-26 14:31] squakez commented on #3425
I'll let @bjethwan close if he's happy with the resolution.

[2022-08-27 07:28] davsclaus opened #3579 "Add back beginner examples"
We need some basic hello world type examples
https://github.com/apache/camel-k/tree/main/examples

We only have some specific today that are not basic but about features, and the first one is rather complex with user config, modeline and whatnot.

We should have some basic timer -> log that are in
- java
- yaml
- xml

And then maybe also for alternative DSLs
- groovy
- kotlin
- javascript

We used

[2022-08-27 12:31] MeranaTona opened #3580 "OPC UA server not reachable from client"
Hi all,

I have setup a route sending Strings to an OPC UA Server. Unfortunately the server (exposed via nodeport) is not reachable for OPC UA clients.

Server component (producer): https://camel.apache.org/components/3.14.x/milo-server-component.html
https://github.com/apache/camel/tree/main/components/camel-milo/src/main/java/org/apache/camel/component/milo/server

route:
[code]

Seems like the

[2022-08-27 16:17] MeranaTona commented on #3580
Made it work by changing hostname from opc.tcp://pod-hostname:31185 to IP opc.tcp://pod-host-ip:31185

[2022-08-28 19:02] sidharthramesh commented on #1579
Hey @lburgazzoli, thank you for your example. I'm trying out the same code and commands with my camel-k installation, and I get this error:

[code]

Just have the 2 files as it is and running the same command:
[code]

[2022-08-29 05:11] oscerd commented on #3560
I released a new staging release for camel-k-runtime and updated in camel-k with https://github.com/apache/camel-k/commit/f44b5441266fd0d1959addf0538da4a280bc8bfe

[2022-08-29 06:33] tadayosi commented on #3579
We are in the process of moving the examples to https://github.com/apache/camel-k-examples. Now you can find those basic examples here:
https://github.com/apache/camel-k-examples/tree/main/generic-examples/languages

If we want to run an example from the camel-k project, you can do:
[code]

Do you think it's better to move them back to the camel-k repo?

[2022-08-29 07:20] squakez commented on #3560
Okey, in common check, we've solved some of the errors, but still others are there [1]. I'm listing them here:

- [ ]     --- FAIL: TestKameletBinding/test_error_handler/throw_error_test (165.07s)
- [ ]     --- FAIL: TestBindingWithImage/run_with_initial_image (2.44s)
- [ ]     --- FAIL: TestErrorHandlerTrait/Run_errored_integration_with_error_handler (164.55s)
- [ ]     --- FAIL: TestHealthTrait/

[2022-08-29 07:22] lburgazzoli commented on #3560
I don't think we made any change yet to the error handler, or at least not something I explicit recall, do you have any pointer ?

[2022-08-29 07:28] squakez commented on #3560
@lburgazzoli you're right. I was mislead by [this commit where you fixed some log comment](https://github.com/apache/camel-k-runtime/commit/e199b358000459dd8eff5efa1bd9c6eb60eced63) only.

[2022-08-29 08:24] astefanutti commented on #3560
The format of the health probe has changed with the Camel upgrade, from something like `map[route.context.name:camel-1 route.id:route1 route.status:Stopped]` to `map[check.kind:READINESS route.id:route1 route.status:Stopped]`. The e2e tests assertions should be updated accordingly, and the integration monitor action might have to be adjusted as well. @davsclaus can probably provide some more insig

[2022-08-29 08:31] tadayosi commented on #3560
@squakez @astefanutti Thanks for your input. I can take care of `TestHealthTrait` fix.

[2022-08-29 09:03] davsclaus commented on #3579
Ah okay, well since you are moving the examples, then remove the examples from camel-k so they are all in the same repo.

[2022-08-29 09:51] squakez commented on #3560
After all, my memory is not in that bad shape... I dug a bit more and indeed there was [some change in the Error Handler managment in Camel 3.17](https://github.com/apache/camel/commit/870e656bd6cf67a6e46ee3419b67ada860386d70#diff-f5f5e129daa69bcc30b62eac7c3ef1dffd748c1da3637d9c9d724d3ce8a316cc). This one introduced a regression on Camel K runtime, as [one supporting method was wiped off](https://

[2022-08-29 14:35] squakez commented on #597
@christophd @claudio4j do you think this is still relevant?

[2022-08-29 14:42] squakez commented on #1579
@sidharthramesh I think this is no longer a valid way because some classloading changes introduced in the latest Camel versions.

[2022-08-29 15:25] essobedo commented on #3563
Corresponding PR https://github.com/apache/camel-k/pull/3585

[2022-08-29 15:30] MeranaTona commented on #3580
Update: While the server is reachable over opc.tcp://pod-host-ip:31185, its endpoints (e.g. for reading node IDs) are exposed via unreachable addresses for OPC UA clients outside of the K8s cluster:
Pod name:
![grafik](https://user-images.githubusercontent.com/77895655/187206965-736bc6d8-6ebd-42e7-8fee-97629f34e7a1.png)
![grafik](https://user-images.githubusercontent.com/77895655/187237007-c92a7c5

[2022-08-29 16:25] claudio4j commented on #597
I have not used this camel-webhook before, but it is an interesting idea.
From camel side, only telegram component is able to have the webhook configured.
From camel-k perspective I think this is relevant, because it adds the async behavior to integrations.

[2022-08-29 23:44] claudio4j commented on #3151
@davsclaus when the camel-knative was [migrated from camel-k-runtime to camel](https://github.com/apache/camel/pull/6749), was it intended to remove support for [extending the dsl](https://github.com/apache/camel-k-runtime/blob/main/docs/modules/languages/pages/yaml.adoc#extending-the-dsl) ?
If yes, I think we can remove that doc section.

[2022-08-30 04:35] oscerd commented on #3560
What's the situation? Do we need another staging release?

[2022-08-30 04:35] davsclaus commented on #3151
@claudio4j yes thanks that is not supported anymore, we. should remove that doc section

cc @lburgazzoli

[2022-08-30 07:18] squakez commented on #3560
I'm still testing the fix on the camel-k-runtime. We'll probably need a new one. I'll let you know once everything is tested locally.

[2022-08-30 07:46] #3445 closed

[2022-08-30 08:12] squakez opened #3586 "Wrong KameletBinding definition leads to operator panic"
Adding a wrong definition such as:
[code]
leads to a camel k operator panic:
[code]
Any wrong definition should be treated and reported as an error without operator crash.

[2022-08-30 08:13] #3563 closed

[2022-08-30 10:35] claudio4j commented on #3151
Thanks Claus, this is [the PR](https://github.com/apache/camel-k-runtime/pull/881).

[2022-08-30 11:13] #3151 closed

[2022-08-30 15:31] essobedo commented on #3004
The corresponding PR https://github.com/apache/camel-k/pull/3589

[2022-08-31 04:34] oscerd commented on #3560
It seems only testBindingWithImage is failing now. Do we want to release or do we want to fix it?

[2022-08-31 04:57] tadayosi commented on #3560
@oscerd It must be just an issue with the test code. Should be fixed here: #3590  The other failure in install-it CI is also a test code issue #3583. I think it's good to proceed to release.

[2022-08-31 05:15] oscerd commented on #3560
If we all agree I'll try to start the release today.

[2022-08-31 05:31] tadayosi opened #3591 "Validate failure in CI"
For some reason the `validate` workflow started to fail from #3587. Let's figure out how we can restore it.
https://github.com/apache/camel-k/actions/workflows/validate.yml

[2022-08-31 05:31] tadayosi commented on #3591
cc @astefanutti

[2022-08-31 06:24] astefanutti commented on #3591
@tadayosi yes, these are new issues unrelated to @3587. Maybe we'll want to add `only-new-issues: true` to the golangci-lint action configuration.

[2022-08-31 06:33] oscerd commented on #3560
Started release process.

[2022-08-31 08:09] tadayosi commented on #3591
This easy fix seems to suppress the errors #3592

[2022-08-31 08:28] #3591 closed

[2022-08-31 11:56] oscerd commented on #3560
The release is on vote.

[2022-08-31 12:18] davsclaus commented on #3579
I am closing this as the beginner examples are in the examples repo.

[2022-08-31 12:18] #3579 closed

[2022-08-31 15:36] essobedo commented on #3586
The corresponding PR https://github.com/apache/camel-k/pull/3595

[2022-08-31 16:50] essobedo commented on #3473
I confirm that leases (along with integrations, integration kits, builds, camel catalogs, Kamelet bindings...) are not deleted by the uninstall command however they don't prevent the install command to work as expected since the install command only checks whether an integration platform with the same name already exists in the namespace and the integration platform is properly removed by the unin

[2022-09-02 07:24] squakez commented on #3332
`Server` type definition in https://github.com/apache/camel-k/blob/e1cab69d49bfdabbc13091c891fefcd922d43b71/pkg/apis/camel/v1/maven_types.go#L99

[2022-09-02 08:12] squakez commented on #3473
What version have you used for testing this? The failure happens in version >= 1.10 (also nightly) only.

[2022-09-02 08:18] essobedo commented on #3473
I tested it with 1.9.2, I can indeed reproduce it with 1.10, thx for the clarifications 🙏

[2022-09-02 08:58] squakez commented on #3132
I've checked with the K8S team and it seems to be an HPA API requirement. @astefanutti @tadayosi would you see any harm to set the default of `.spec.replicas` to `1` if it was not specified? I am not sure it is a good practice to alter any value of the `spec` on behalf of the user.

[2022-09-02 09:18] astefanutti commented on #3132
Yes it seems KEDA also requires the `.spec.replicas` to be set. Some context has been shared in https://github.com/apache/camel-k/pull/2838#discussion_r783859878.

I agree, the `.spec` block should not be updated by the operator. One approach could be to use defaulting in the CRD. But that'd require some adjustments in the Knative trait, so it plays well with Knative autoscaling.

In the short ter

[2022-09-02 09:26] squakez commented on #3132
Agreed. Let's turn this into a documentation request then. Thanks for the feedback!

[2022-09-04 19:28] petolexa opened #3598 "Traits in kamel-config.yaml are ignored if a trait is present as a modeline or as a command parameter"
Dear camelk-k developers.

when creating camel-k projects, we try to keep as much configuration as possible in the kamel-config.yaml. Including traits, like in this example:
[code]

If there's no trait added in Modeline in source code AND no trait added as a parameter of `kamel run`, the integraion runs well.
But if any of above mentioned is added, all the traits from kamel-config.yaml are ignored

[2022-09-05 01:46] zhaojinxin409 commented on #3560
@oscerd Will  #3285   be included?  Camel-K use almost all resource of one api-server's node because of it.

[2022-09-05 05:06] tadayosi commented on #3598
It should be related to how the flags decoding is implemented:
https://github.com/apache/camel-k/blob/main/pkg/cmd/run.go#L176-L236

[2022-09-05 05:19] #3560 closed

[2022-09-05 05:20] #3441 closed

[2022-09-05 06:42] tadayosi commented on #3132
For many cases defaulting to `.spec.replicas=1` seems to make sense. What if we set up `.spec.replicas` on an integration only when Knative profile is not chosen, or Knative Service trait is not applied?

[2022-09-05 07:09] astefanutti commented on #3132
The defaulting proposed above is at the CRD level, as in https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#defaulting. It has the advantage that it avoids the operator touching the spec block which should be owned by users, but has the "disadvantage" that it's static. I'm quoting disadvantage, because I could almost argue it's an advantage, i.e., havi

[2022-09-05 08:36] essobedo commented on #1184
Should be fixed by https://github.com/apache/camel-k/pull/3599

[2022-09-05 09:38] squakez opened #3600 "Test failing after release update"
We have some test failing with `Preflight Test: Failure - Installed operator version 1.10.0-SNAPSHOT does not match expected version (1.11.0-SNAPSHOT)` see https://github.com/apache/camel-k/runs/8185438314?check_suite_focus=true

I think we've seen this already in the past when moving to a new release. I think we should change the update procedure to include a `make codegen` as soon as we update t

[2022-09-05 09:38] squakez commented on #3600
cc @oscerd

[2022-09-05 10:48] squakez opened #3602 "`make bundle` failure"
It fails with
[code]

[2022-09-05 11:36] petolexa commented on #3598
Thank you for your response and code link.
If I understand correctly, there are two iterations:
1. flags from Modeline and/or command parameter.
2. flags from kamel-config.yaml

1st iteration is superior and if any of the flags contains data on 1st iteration, data from the 2nd iteration for that specific flag are **ignored**, not combined, right?
So we have to count on it during integration develo

[2022-09-06 00:22] #2931 closed

[2022-09-06 04:14] tadayosi commented on #3602
It doesn't fail on my env. Could it be related to versions of operator-sdk / kustomize used?
[code]

[2022-09-06 06:24] oscerd opened #3605 "Release 1.10.1"
We already have Camel Quarkus 2.12.0 released, we should a quick release for 1.10.1 and camel-k-runtime 1.15.0, so we could leverage 3.18.1 release, there is also 3.18.2 on vote, but we don't have the related camel quarkus released for it, so I'd like to have a camel-k release for each LTS 3.18.x release. Thoughts?

[2022-09-06 07:48] squakez commented on #3602
I have the following:
[code]
Not sure if it's because the `kustomize` version. @phantomjinx is it working for you?

[2022-09-06 08:01] #3600 closed

[2022-09-06 08:08] squakez opened #3606 "Should `make bundle` update kustomization.yaml?"
As discussed in https://github.com/apache/camel-k/pull/3601#discussion_r963234805 the `make bundle` is adding `images` property. Is that correct?

[2022-09-06 08:09] squakez commented on #3606
Can you help @phantomjinx ?

[2022-09-06 08:15] #3542 closed

[2022-09-06 08:17] squakez commented on #3430
Removing as duplicated.

[2022-09-06 08:17] #3430 closed

[2022-09-06 08:21] squakez commented on #3536
It seems was some kind of flakiness. Now it works correctly :)

[2022-09-06 08:21] #3536 closed

[2022-09-06 08:30] squakez commented on #3340
I think this can be closed. Any leftover by any chance?

[2022-09-06 08:30] squakez commented on #3339
Can this be closed?

[2022-09-06 13:14] oscerd commented on #3605
We have some troubles with vertx and knative at the moment: https://github.com/apache/camel-k-runtime/pull/886

[2022-09-07 04:31] #3350 closed

[2022-09-07 04:34] #3004 closed

[2022-09-07 04:41] tadayosi commented on #3606
Yes, I think so too. This is the most itchy part of kustomize for me. The kustomize developers has deliberately chosen that user-customised changes are directly applied to the `kustomization.yaml` file. And there seems to be no way to parameterise user configs other than tainting `kustomization.yaml`:
https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-c

[2022-09-07 05:15] tadayosi commented on #3234
Maybe we can close this for now. Our E2E is stable, except a couple flaky ones which are mostly for native builds and due to resource limitations of GitHub action runners.

[2022-09-07 05:26] tadayosi commented on #3602
Yes, I found that kustomize is sensitive to versions. It's always safe to use the tooling versions specified in Makefile:
https://github.com/apache/camel-k/blob/main/script/Makefile#L21-L28

FYI, I use [aqua](https://aquaproj.github.io/) to align versions for Camel K development:
https://gist.github.com/tadayosi/e1d7db2496d250bf06428a9437457119

[2022-09-07 07:55] astefanutti commented on #3340
Yes, it's been addressed by #3366.

[2022-09-07 07:55] #3340 closed

[2022-09-07 07:56] astefanutti commented on #3339
Yes, it's been addressed by #3344.

[2022-09-07 07:59] squakez commented on #3234
Yes, the latest merges (ie, 821ef90a5175a998df971e19a25f9526fc01ef3b) are not reporting any error.

[2022-09-07 07:59] #3234 closed

[2022-09-07 08:01] #3339 closed

[2022-09-07 09:05] squakez opened #3613 "Nightly release 1.9.x missing tests"
The nightly release procedure is failing because it miss the smoke test action located in a different file since 1.10 (and `main`).

[2022-09-07 09:17] squakez commented on #3613
The proposed workaround should be fine for the time being, as this problem will be resolved naturally once 1.11 is released.

[2022-09-07 10:20] astefanutti opened #3615 "Add KEP-1755 support e2e tests"
Following #2696 and #3612, it'd be worth adding some e2e tests to guarantee non-regression.

[2022-09-07 10:31] squakez commented on #3602
No luck. With version 4.1.2 I got the same result...

[2022-09-07 12:45] #1184 closed

[2022-09-07 14:28] halmakidon commented on #1712
This feature was released in v1.10.0.
https://camel.apache.org/releases/k-1.10.0/

Can someone please close this issue if possible?

[2022-09-07 14:31] squakez commented on #1712
Sure, thanks for reporting!

[2022-09-07 14:31] #1712 closed

[2022-09-08 00:22] #1163 closed

[2022-09-08 07:28] squakez commented on #240
Managed in https://github.com/apache/camel-k/issues/2834

[2022-09-08 07:40] squakez opened #3619 "1.10.x Smoke test failure TestBindingWithImage"
[code]
It happens only in `release-1.10.x`, likely it's some upgraded dependency.

[2022-09-08 07:44] squakez commented on #3613
It looks like the action, although is not running, checks the presence of the file configuration.

[2022-09-08 08:24] essobedo commented on #3308
@squakez `PublishStrategyOptions` is currently a map, do you want something less flexible in the model or it is good enough as it is?

In case a map is the expected type, what about proposing a flag like the flags `property` and `build-property` of the run command (where you can either set a specific property or provide a properties file)?

[2022-09-08 08:26] essobedo commented on #3002
@mmelko are you still working on this issue?

[2022-09-08 09:22] squakez commented on #1834
Maybe we should not let it closed yet. @christophd can you confirm if it makes sense to keep it open and never stale?

[2022-09-08 09:23] squakez commented on #1456
Should we keep this open? cc @claudio4j @christophd

[2022-09-08 09:26] squakez commented on #240
I got confused. Now that we have local file dependency in place, we may turn this easily into a new feature that will leverage that development. Ie, we can let the CLI download the http located jar in a temporary file and reference that file in the `-d file:/my/tmp/http-dependency.jar`.

[2022-09-08 09:30] squakez commented on #1122
@claudio4j @christophd do you think this still make sense?

[2022-09-08 09:39] squakez opened #3622 "Wrong compatibility matrix"
It looks the _next_ version is pointing to wrong values as shown in https://camel.apache.org/camel-k/next/index.html#_compatibility_matrix

I had a look at the code, but I cannot figure it out how to fix it.
[code]

[2022-09-08 09:46] petolexa commented on #3598
Thank you for your confirmation and a bug label.

[2022-09-08 17:46] essobedo commented on #2850
Should be fixed by https://github.com/apache/camel-k/pull/3623

[2022-09-08 21:39] claudio4j commented on #1456
I would say yes, as the [trigger annotations](https://knative.dev/v1.6-docs/eventing/broker/triggers/#trigger-annotations) may be set in he [CreateTrigger function](https://github.com/apache/camel-k/blob/main/pkg/util/knative/knative.go#L90), this way the knative sugar controller takes care of it.

[2022-09-08 21:51] claudio4j commented on #1122
Sure, [setting the integration as a knative addressable resource](https://knative.dev/v1.6-docs/eventing/sinks/#using-custom-resources-as-sinks) adds more opportunity to knative users to add camel-k integrations as destinations of SinkBindings.
However the target integration must be aware of the CloudEvents spec as it is going to be the message protocol.

[2022-09-08 21:58] claudio4j commented on #3449
It seems to me there should be a parameter of `kamel run --verify-deps=<true|false>` to allow the integration to run and provide feedback to the user in the case the integrations uses a dependency not in the catalog but is a resolvable one.

[2022-09-09 05:13] #1070 closed

[2022-09-09 05:33] tadayosi commented on #3449
@claudio4j FYI there is `kamel local inspect <integration-file>` that does similar check but locally.

[2022-09-09 07:28] squakez commented on #3342
Looking deeper, it seems we already should support the uninstall of bundled kamelet see https://github.com/apache/camel-k/blob/4d248940a283e81dce6fa9845001d032889baef6/pkg/cmd/uninstall.go#L479. For some reason, we may miss the setting of the label during the installation procedure.

[2022-09-09 09:09] essobedo commented on #3342
Could have been fixed by https://github.com/apache/camel-k/pull/3553

[2022-09-09 10:07] squakez commented on #3342
True, thanks for the info!

[2022-09-09 10:07] #3342 closed

[2022-09-09 18:56] essobedo commented on #3002
Should be fixed by https://github.com/apache/camel-k/pull/3626

[2022-09-11 00:21] #889 closed

[2022-09-11 00:21] #687 closed

[2022-09-12 05:02] #2850 closed

[2022-09-12 07:20] tadayosi opened #3628 "Enable CLI completion for integration, kit, kamelet names"
Currently there's no completion after for example:
[code]
Ideally they should show the integration/kit/kamelet names already deployed on the cluster.

[2022-09-12 08:00] squakez commented on #3628
Do you think is this okey for "good first issue" label?

[2022-09-12 08:22] essobedo commented on #2586
@SaumyaSachdev are you still working on this issue?

[2022-09-12 08:31] phantomjinx commented on #3602
Kustomize and operator-sdk are correct and the error is valid. The `replaces` property and the `name` property of the CSV have valid syntax and these tools are checking it. The suffix `SNAPSHOT` is not valid. Ironically, these changes are not carried through to actual bundle image creation since it is possible to build the image with manual textual changes and OLM still works.

[2022-09-12 08:42] squakez commented on #3602
Not a bug.

[2022-09-12 08:42] #3602 closed

[2022-09-12 13:42] essobedo commented on #3308
Should be fixed by https://github.com/apache/camel-k/pull/3631

[2022-09-13 06:49] #3002 closed

[2022-09-13 09:12] essobedo commented on #1424
Unless I misunderstood the need, this should be fixed by https://github.com/apache/camel-k/pull/3558

[2022-09-14 01:52] #3449 closed

[2022-09-14 02:16] tadayosi opened #3639 "Set up a workflow to validate website generation for Camel K docs"
Sometimes we miss website build issues like this #3635. We should have a workflow to validate the website generation on a pull req that changes `docs/`.

[2022-09-14 07:20] apupier opened #3643 "provide link to resume strategy documentation from resume trait documentation"
it was removed as the link was invalid and breaking the camel-website main branch.

see https://github.com/apache/camel-k/pull/3642 and https://github.com/apache/camel-k/pull/3635

[2022-09-14 08:11] ChrWeissDe opened #3645 "Option to add labels to a created and stored (docker) image"
We have the (regulatory and business/security) requirement to store additional "build information" with the resulting (docker) image.
Easiest way from our perspective would be to have the option to add additional labels for the resulting (docker) image.

Thus it would be great if there would be a way to pass this information when e.g. running "kamel run"

[2022-09-14 09:06] lburgazzoli commented on #3501
Thinking a little bit more, this could also be useful for the other way i.e. how to bind kamelet properties to i.e. keda in a customizable way (as today such info is part of property definitions in the kamelet)

[2022-09-14 09:23] squakez commented on #3645
I think we could add some feature to influence the IntegrationKit build (maybe the builder trait?). However, the presence of customizable labels may limit the possibility of kit reuse among Integrations, requiring a new build everytime. That would be a tradeoff to consider. In any case, any contribution is welcome as usual.

In the while, a possible workaround if you have a fixed list of labels is

[2022-09-14 12:56] squakez opened #3647 "Provide documentation for LTS support"
As discussed in dev mailing list [1], we should provide the proper documentation to illustrate the LTS support we're providing for Camel K (which will be aligned to Camel Quarkus and Camel).

[1] https://lists.apache.org/thread/b594q8qjsgdjnk9487rtww0pm3kn62yt

[2022-09-14 18:55] dtremblay commented on #1424
I agree with you. I'll have to try this again to confirm. I'm closing the issue now.

[2022-09-14 18:55] #1424 closed

[2022-09-15 04:37] #3308 closed

[2022-09-15 04:53] #240 closed

[2022-09-15 23:42] #3127 closed

[2022-09-16 00:24] #3267 closed

[2022-09-19 09:15] joes opened #3654 "camel k 0.11.0 helm - Error: parse error at (camel-k/templates/operator.yaml:87): "-en""
To reproduce simple download the helm chart and run `helm template` on the extracted archive:

[code]

It seems there is a typo at row 87:

[code]

This should be corrected to:

[code]

[2022-09-19 09:17] oscerd commented on #3654
It has been fixed. Need to regen

[2022-09-19 10:29] oscerd commented on #3654
It should be fixed with https://github.com/apache/camel-k/commit/cb9f7572e2f1aec071aea28ac4f32e48be0799d0

[2022-09-19 10:29] #3654 closed

[2022-09-19 10:31] oscerd commented on #3654
Thanks to you for reporting. I totally forget to regen when merging the fix

[2022-09-19 10:31] oscerd commented on #3654
Please check if everything works fine now.

[2022-09-19 19:30] christophd opened #3656 "Integration scale subresource not working with Knative trait enabled"
The Camel K integration custom resource enables the scale subresource in order to provide auto scaling and resource scaling e.g. via using the `kubectl scale` command

As soon as the Knative trait is enabled and the Integration uses a Knative service on top of the Deployment this scaling mechanism is not working anymore.

The result of scaling the Integration custom resource is a new revision of t

[2022-09-19 19:31] christophd commented on #3656
@squakez @astefanutti FYI

[2022-09-19 19:40] christophd opened #3657 "OLM installtion needs to set KAMEL_OPERATOR_ID EnvVar"
Since 1.10.x the Camel K operator uses an operator ID to identify resources that should be reconciled. The operator looks for an envvar setting named `KAMEL_OPERATOR_ID` to obtain its own operator id.

When installing the operator via OLM this envvar `KAMEL_OPERATOR_ID` is not set. Instead the OLM installation uses `OPERATOR_ID` as an envvar setting.

This results in an empty operator id and the o

[2022-09-19 19:44] christophd commented on #3605
would be good to include #3657 in 1.10.1

[2022-09-20 00:25] #3299 closed

[2022-09-20 07:16] squakez commented on #3656
Thanks for reporting. I am not sure if that is kind of expected. I mean, when we set a knative service trait, it would be supposed the user to scale via the trait as well.

[2022-09-20 09:57] #3619 closed

[2022-09-20 09:58] #3613 closed

[2022-09-20 10:28] #3077 closed

[2022-09-21 10:18] ChrWeissDe opened #3662 "kamel local run: extension to "build and output" CRs"
This is a feature request

We have the requirement to build Integration and Kamelet CRs and to store them in a repository.
At the moment we use for this "kamel run --output yaml".

Unfortunately this requires always a running Kubernetes enviroment with an installed Operator - as the command validates if the artefact is "compatible with the Opertor version".
This check is performed in the function

[2022-09-21 12:54] squakez commented on #3662
I have the feeling we can consider this more as a bug. The CLI should be able to output something even when disconnected. Thanks for reporting and feel free to contribute to the resolution.

[2022-09-21 12:56] squakez commented on #3662
By the way, the `local` and the `run` have different natures as the local won't be able to handle CRs such an Integration.

[2022-09-22 12:26] #3622 closed

[2022-09-22 12:33] phantomjinx opened #3667 "The --add-repo switch fails with a global operator"
The e2e test `TestKameletClasspathLoading` is executed, for OCP4, using a global operator. The test is currenty faiing with:
[code]

The clue is the warning, which occurs [here](https://github.com/apache/camel-k/blob/main/pkg/cmd/kamelet_add_repo.go#L85). Since the commands in the [test](https://github.com/apache/camel-k/blob/main/e2e/global/common/kamelet_test.go#L37) use an OperatorID, the integ

[2022-09-22 12:33] phantomjinx commented on #3667
@tadayosi
Would appreciate your views on this please.

[2022-09-22 12:55] #3375 closed

[2022-09-22 14:49] lance opened #3668 "Kamelet CloudEvents set `source` attribute to the string "source""
When using a Twitter search source kamelet (and I assume it's applicable to all kamelets), I have found that the CloudEvent headers, while adhering to the CE spec, don't necessarily adhere to the spirit. Specifically, with the `source` attribute, the value provided is `source`. The [spec specifies](https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#source-1) the `source` field is a

[2022-09-22 17:14] joes commented on #3654
It works now.

[2022-09-23 09:31] bouskaJ opened #3671 "Can't run KameletBinding with the native mode"
I am creating the following KameletBinding
[code]
The KameletBinding gets stuck on the `Creating` phase.
The underlying integration gets stuck on the ` Building Kit ` phase

[2022-09-23 09:32] bouskaJ commented on #3671
I have provided a PR with the reproducer.

[2022-09-23 09:45] squakez commented on #3671
Thanks for the reproducer, we can verify exactly what's going on there. @astefanutti was the native build also meant for KameletBinding? I think it was, but please, confirm if it's not the case.

[2022-09-23 18:13] ChrWeissDe commented on #3662
I done some further analysis - based on "code review"  - as I didn't manage to debug the command.

First, when using "kamel run" I see the following statements on the output console:
_"No IntegrationPlatform resource in xxx namespace
Warn: camel-mq-config Configmap not found in xxx namespace, make sure to provide it before the Integration can run
Warn: camel-mq-keystore Secret not found in xxx nam

[2022-09-24 06:48] heiko-braun commented on #3662
Can you elaborate on this?

„ We have the requirement to build Integration and Kamelet CRs and to store them in a repository. At the moment we use for this "kamel run --output yaml".

- What are you trying to accomplish?
- What do you intend to store: The yaml, the image?
- How is this artefact being used further down the line?

[2022-09-24 07:17] liyongxian opened #3672 "Private Registry With TLS Can Not Work"
I deploy camel-k by kamel (1.9.2), Registry uses private registry(2.8.1) with TLS (self-signed certificate)，Both kamel Operator and IP are Ready .When kamel run ...,  ik is Failure. Reason: could not pull base image image 192.168.2.208:30773/hollicube/openjdk:11-slim.The registry is https,Not http. Thanks
![image](https://user-images.githubusercontent.com/18571576/192085378-bc637480-2455-450b-9f37

[2022-09-24 09:42] ChrWeissDe commented on #3662
Hi @heiko-braun sure
I hope the following explanation clarifies the requirement:

First we have the requirement to store all used "Kubernetes Custom Resources" - in this case e.g. the Integrations, Kamelets, required ConfigMaps and co within a "company wide central" artifact repository.

From the there artefacts are deployed to the different Kubernetes stages - e.g. test, pre-prod (qs) and prod.
O

[2022-09-26 00:24] #3335 closed

[2022-09-26 06:52] tadayosi commented on #3672
What happens if you install camel-k by `kamel install --registry-insecure=true ...` to make sure it uses insecure registry?

[2022-09-26 06:56] tadayosi commented on #3672
It could be similar issue to #3455. What happens if you omit the `registry.insecure: false` entry from IntegrationPlatform CR?

[2022-09-26 08:18] tadayosi commented on #3656
It sounds similar to the discussion raised at #3132.

[2022-09-26 09:06] squakez opened #3673 "Allow continuous deployment for `kamel promote`"
When we run any `kamel promote` action, there is a check performed to verify that the Integration on destination is not already present:
[code]
To workaround this we are required to stop the running integration and later run the promote command. I think we need to include a flag (ie, `--continuous`) to skip that check and let the Integration to be refreshed accordingly. Or alternatively, we can sk

[2022-09-26 09:12] tadayosi commented on #3667
I'm not sure about what should happen if a global operator interacts with kamelet repos. Probably @christophd could answer better about the questions.

If it shouldn't work well with a global operator then it's just that `e2e/global/common` is not the right place to put the e2e test.

But my question is, why don't we observe the same failure at the upstream common CI?  This fact rather make me fee

[2022-09-26 09:39] phantomjinx commented on #3667
The reason lies in the use of OLM (or not upstream).

Upstream, the tests install the operator without OLM and therefore adds the correct operatorID (the test uses "[camel-k-kamelet](https://github.com/apache/camel-k/blob/main/e2e/global/common/kamelet_test.go#L36)". So the integration-platform is named with this id and the warning message above is avoided.

However, in OCP4, the OLM is used in th

[2022-09-26 15:06] astefanutti commented on #3671
@squakez Yes, native build is supposed to work with KameletBinding.

From a quick look at the test failure, the build actually completes successfully and the kit transitions to ready. However the integration associated to the kit failed to be reconciled once the kit is ready. So there must be something broken in the logic that filters kit events out in the integration controller, which fails to ma

[2022-09-26 16:02] astefanutti commented on #3656
The current logic forces Knative auto-scaling to comply with the user-provided replicas count, by explicitly setting the  `autoscaling.knative.dev/minScale` and `autoscaling.knative.dev/maxScale` annotations to be equal to the specified replicas count.

This logic has been implemented a long time ago, even before KEDA came out, and I don't think there is an e2e test for it. So it's possible it doe

[2022-09-27 05:10] tadayosi commented on #3459
I overlooked Pod trait. Can't this (i.e. pod template) be a solution to the problem?
https://camel.apache.org/camel-k/1.10.x/traits/pod.html

[2022-09-27 07:03] squakez opened #3676 "Add an info after `kamel promote`"
As discussed in https://github.com/apache/camel-k/pull/3674 we should include a short information when promoting an Integration to let the user know the integration was created/updated on the target namespace.

[2022-09-27 07:03] squakez commented on #3676
cc @tadayosi

[2022-09-27 07:16] lburgazzoli commented on #2732
This may be interesting https://oras.land/

[2022-09-27 07:28] squakez opened #3677 "Cannot build the project, likely `gotestfmt`"
I ma having the following error:
[code]
It seems the `gotestfmt` requires golang version 1.18. Can you have a look @tadayosi ?

[2022-09-27 07:30] squakez commented on #3677
Maybe the problem is in my hand... I do have 1.18 installed. I'll try to move back to 1.17 and inform here.

[2022-09-27 07:41] squakez commented on #3677
Confirmed to work with 1.17, sorry for the noise.

[2022-09-27 07:41] #3677 closed

[2022-09-27 08:01] #3647 closed

[2022-09-27 08:28] johnpoth commented on #2732
Hi @lburgazzoli,

As an immediate solution, it is possible to distribute camel-k artifacts as images using the [wagon-docker-registry](https://github.com/johnpoth/wagon-docker-registry) (e.g _mvn deploy_ to docker.io) which is already integrated with camel-k via the [registry](https://camel.apache.org/camel-k/1.9.x/traits/registry.html) trait. This works with Maven artifacts but also any kind of "

[2022-09-27 08:39] tadayosi commented on #3667
I don't think so. For upstream global e2e testing, `KamelInstallWithOperatorID()` also omits the operator ID so the IntegrationPlatform should be always `camel-k`:
https://github.com/apache/camel-k/blob/main/e2e/support/test_support.go#L246

As I understand it, when `CAMEL_K_FORCE_GLOBAL_TEST=true` is set, e2e tests always skip the operator ID part and use `camel-k` throughout the tests.

I think

[2022-09-27 08:48] tadayosi commented on #3667
Maybe we should add a generic `KamelWithID(...)` and let it omit the operator ID for `kamel kamelet add-repo` command in the test.

[2022-09-27 12:00] #3657 closed

[2022-09-27 12:35] johnpoth commented on #1821
You can now also do `kamel run route.java -d file://path/to/local.jar`

[2022-09-28 07:49] #3671 closed

[2022-09-28 09:27] phantomjinx commented on #3667
This is my bad explanation. We both agree on the issue that the IntegrationPlatform is named `camel-k` but the test calling `kamel run ... -x camel-k-kamelet ...` means the command searches for an IntegrationPlatform named `camel-k-kamelet` - see [here](https://github.com/apache/camel-k/blob/main/pkg/cmd/kamelet_add_repo.go#L85).

Therefore, I think question 2, above needs to be considered:
- Shou

[2022-09-28 16:14] oscerd commented on #3031
AWS Secrets Manager Vault merged - for 1.11.0 and 1.10.1
GCP Secret Manager - To be done
Azure Key Vault - To be done

[2022-09-29 04:58] tadayosi commented on #3667
I still think the test should be fixed, but also agree with your point that the `add-repo` sub command should be fixed as well. IMO the combination of the following two is the expected behaviour:

Currently it tries to find IP only within a namespace and also only warns a log if it's not found, but it should search in all namespaces and throws an error when not found.

@essobedo @squakez What do y

[2022-09-29 07:36] christophd commented on #3605
#3671 should be included. I'll open a backport PR

[2022-09-29 10:05] oscerd commented on #3605
Camel-K-runtime 1.15.0 Staged: https://repository.apache.org/content/repositories/orgapachecamel-1472/

[2022-09-29 11:46] oscerd commented on #3605
Camel-Kamelets 0.9.1 staged: https://repository.apache.org/content/repositories/orgapachecamel-1474/

[2022-09-29 13:07] squakez commented on #3605
If we're not in a hurry, I'd like to fix and backport #3674

[2022-09-29 13:12] oscerd commented on #3605
No rush. The runtime and kamelets was more or less prepared, for camel-k we can have a release next week.

[2022-09-29 13:52] squakez commented on #3667
This was originally required to cover https://github.com/apache/camel-k/issues/2850. IMO, the command is just syntactic sugar for editing the IntegrationPlatform, so, I'd expect to look for the Integration platform in a given namespace and "attach" the repo specified. In case of a global operator, we still want to attach the repository to the IntegrationPlatform in the namespace required by the us

[2022-09-29 14:50] squakez opened #3705 "Misleading message when updating an unchanged `Integration`"
When we try to update an Integration, the CLI reports that it has been updated, even if there is no update or changes:
[code]
we should warn the user that there are no changes to apply. We can use the same notation provided in `kubectl` CLI:
[code]

[2022-10-01 23:36] phantomjinx opened #3708 "e2e test TestKamelCLIRun (Run with http dependency) consistently failing on OCP4"
The test can be found at https://github.com/apache/camel-k/blob/main/e2e/namespace/install/cli/run_test.go#L132

The command invoked is `kamel run --operator-id ${operatorID} -n ${ns} "../../../global/common/traits/files/jvm/Classpath.java" -d "https://github.com/apache/camel-k/raw/main/e2e/global/common/traits/files/jvm/sample-1.0.jar"`.

See example failure log [here](https://github.com/openshif

[2022-10-03 05:07] tadayosi commented on #3708
The default publishing strategy is S2I because it's on OpenShift but this feature uses Spectrum. I wonder if this combination is tested well. @johnpoth Do you know if it should work or not?

[2022-10-03 05:43] tadayosi commented on #3708
OK, so we've been avoiding running the tests that upload jars to the registry on OpenShift, which means this feature is not (yet) supported on OpenShift, right?
https://github.com/apache/camel-k/blob/main/e2e/global/registry/registry_maven_wagon_test.go#L45

[2022-10-03 05:53] tadayosi commented on #3210
It's already partially done by being split into common, install, builder, and knative. Let's close it for now.

[2022-10-03 05:53] #3210 closed

[2022-10-03 07:17] #3673 closed